[Desktop Entry]
Name=Fall Apart
Name[uk]=Розпадання
Name[x-test]=xxFall Apartxx
Icon=preferences-system-windows-effect-fallapart
Comment=Closed windows fall into pieces
Comment[uk]=Розпадання вікон на шматочки під час закриття вікон
Comment[x-test]=xxClosed windows fall into piecesxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_fallapart
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KWin-Requires-OpenGL=true
