[Desktop Entry]
Name=Synchronize Skip Switcher with Taskbar
Name[ca]=Sincronitza el «Ignora el commutador» amb la barra de tasques
Name[cs]=Synchronizovat přepínač přeskakování s pruhem úloh
Name[da]=Synkronisér skip-skifter med opgavelinjen
Name[es]=Sincronizar «Omitir cambiador» con la barra de tareas
Name[et]=Vahelejätmise lülitaja sünkroonimine tegumiribaga
Name[hu]=Skip-váltó szinkronizálása a feladatsávval
Name[ia]=Synchronisa Commutator de salto con Barra de carga
Name[it]=Sincronizza Salta barra delle applicazioni con la barra delle applicazioni
Name[kk]=Терезе көрсету күйін ауыстырғышты тапсырма панелімен қадамдастыру
Name[km]=ធ្វើ​សមកាលម្ម​​ដោយ​រំលង​ឧបករណ៍​ប្ដូរ​​ជា​មួយ​របារ​ភារកិច្ច
Name[nb]=Synkroniser Hopp over bytter med Oppgavelinja
Name[nl]=Overslaanschakelaar met taakbalk synchroniseren
Name[pa]=ਛੱਡਣ ਸਵਿੱਚਰ ਨੂੰ ਟਾਸਕਬਾਰ ਨਾਲ ਮਿਲਾਉ
Name[pl]=Synchronizuj pomijanie przełącznika z paskiem zadań
Name[pt]=Sincronizar o 'Ignorar o Selector' com a Barra de Tarefas
Name[pt_BR]=Sincronizar o 'Ignorar seletor' com a barra de tarefas
Name[sl]=Preskok preklapljanja uskladi z opravilno vrstico
Name[sr]=Синхронизовано прескакање мењача са траком задатака
Name[sr@ijekavian]=Синхронизовано прескакање мењача са траком задатака
Name[sr@ijekavianlatin]=Sinhronizovano preskakanje menjača sa trakom zadataka
Name[sr@latin]=Sinhronizovano preskakanje menjača sa trakom zadataka
Name[sv]=Synkronisera överhoppning av aktivitetsraden med fönsterbyte
Name[tr]=Görev Çubuğu ile Atlama Seçiciyi Eşzamanla
Name[uk]=Синхронізувати виключення вікон у перемикачі з панеллю задач
Name[x-test]=xxSynchronize Skip Switcher with Taskbarxx
Name[zh_TW]=將工作列中設定要忽略的視窗也套用在視窗切換器
Comment=Hides all windows marked as Skip Taskbar to be also excluded from window switchers (e.g. Alt+Tab)
Comment[ca]=Oculta totes les finestres marcades com a «Ignora la barra de tasques» que també s'excloguin del commutador de finestres (p. ex. Alt+Tab)
Comment[cs]=Skryje všechna okna označená k přeskočení v pruhu úloh také pro přepínače oken (např. Alt+Tab)
Comment[da]=Skjuler alle vinduer der er markeret som "Skip opgavelinje", så de også udelades fra vinduesskiftere (f.eks. Alt+Tab)
Comment[es]=Oculta todas las ventanas marcadas como «Omitir barra de tareas» para que también sean excluidas de los selectores de ventana (por ejemplo, Alt+Tab)
Comment[et]=Kõigi tegumiribalt väljajäetavaks märgitud akende peitmine, et neid ei kaasataks ka aknavahetajatesse (nt Alt+Tab)
Comment[hu]=A Skip feladatsávként megjelölt összes ablak elrejtése, kivéve az ablakváltókat (például Alt+Tab)
Comment[ia]=Cela omne fenestras marcate como barra de cargas de salto pro anque esser excludite ex commutatores de fenestra (p.ex.Alt+Tab)
Comment[it]=Nascondi tutte le finestre marcate come Salta barra delle applicazioni che sono escluse anche dallo scambiafinestre (es. Alt+Tab)
Comment[kk]=Көрсетілмейтін деп белгіленген бүкіл терезелерін терезе ауыстырғышында да (мысалы, Alt-Tab дегенде) көрсетпеу
Comment[km]=លាក់​បង្អួច​ទាំងអស់​ដែល​បាន​សម្គាល់​ថា​រំលង​របារ​ភារកិច្ច ក៏​ត្រូវ​បាន​ដក​ចេញ​ពី​​ឧបករណ៍​ប្ដូរ​បង្អួច (ឧ. Alt+Tab)
Comment[nb]=Skjuler alle vinduer merket med Hopp over Oppgavelinja så de heller ikke blir tatt med i vindusbyttere (f.eks. Alt+TAB)
Comment[nl]=Verbergt alle vensters gemarkeerd als Taakbalkoverslaan om ook te worden uitgesloten van vensterschakelaars (bijv. Alt+Tab)
Comment[pl]=Ukrywa wszystkie okna oznaczone jako "pomiń pasek zadań", tak aby były one wykluczone także z układów przełączania okien (np. Alt+Tab)
Comment[pt]=Esconde todas as janelas marcadas como 'Ignorar a Barra de Tarefas' para também serem excluídas dos selectores de janelas (p.ex., Alt+Tab)
Comment[pt_BR]=Oculta todas as janelas marcadas como 'Ignorar a barra de tarefas' para também serem excluídas dos seletores de janelas (p.ex., Alt+Tab)
Comment[sl]=Vsa okna, ki so označena z »Preskoči opravilno vrstico«, bodo izvzeta tudi iz preklapljanja med okni (npr. z Alt+Tab)
Comment[sr]=Прозори са задатим скривањем на траци задатака такође бивају прескакани у мењачима прозора (нпр. на Alt-Tab)
Comment[sr@ijekavian]=Прозори са задатим скривањем на траци задатака такође бивају прескакани у мењачима прозора (нпр. на Alt-Tab)
Comment[sr@ijekavianlatin]=Prozori sa zadatim skrivanjem na traci zadataka takođe bivaju preskakani u menjačima prozora (npr. na Alt-Tab)
Comment[sr@latin]=Prozori sa zadatim skrivanjem na traci zadataka takođe bivaju preskakani u menjačima prozora (npr. na Alt-Tab)
Comment[sv]=Dölj alla fönster som är markerade att hoppa över aktivitetsraden så att de också utesluts vid fönsterbyte (t.ex. Alt+Tabulator)
Comment[tr]=Görev Çubuğunu Atla olarak seçilen tüm pencereleri gizler, ayrıca pencere seçiciler tarafından hariç tutulanları da gizler (Alt+Tab gibi)
Comment[uk]=Приховує всі вікна, позначені як такі, що не показуються на панелі задач, так, щоб їх не було показано у списках перемикання вікон (наприклад Alt+Tab)
Comment[vi]=Ẩn tất cả cửa sổ được đánh dấu "Bỏ qua trên thanh tác vụ" khỏi trình chuyển đổi cửa sổ (VD: Alt+Tab)
Comment[x-test]=xxHides all windows marked as Skip Taskbar to be also excluded from window switchers (e.g. Alt+Tab)xx
Comment[zh_TW]=工作列中設定要忽略的視窗，在視窗切換器（如 Alt+Tab 切換）切換時也忽略
Icon=preferences-system-windows-script-synchronizeskipswitcher

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=synchronizeskipswitcher
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
