[Desktop Entry]
Name=MinimizeAll
Name[az]=Hamısını_yığmaq
Name[ca]=MinimitzaTot
Name[ca@valencia]=MinimitzaTot
Name[cs]=MinimalizovatVše
Name[da]=Minimér alle
Name[de]=Alle minimieren
Name[el]=ΕλαχιστοποίησηΌλων
Name[en_GB]=MinimiseAll
Name[es]=Minimizar todo
Name[et]=Kõigi minimeerimine
Name[eu]=Minimizatu guztiak
Name[fi]=Pienennä kaikki
Name[fr]=Tout réduire
Name[gl]=Minimizalo todo
Name[he]=מזער הכל
Name[hu]=Összes minimalizálása
Name[ia]=MaximizaOmne
Name[id]=Minimalkan Semua
Name[it]=Minimizza tutto
Name[ja]=すべて最小化
Name[ko]=모두최소화
Name[lt]=Suskleisti visus
Name[nb]=Minimer alt
Name[nl]=Alles-minimaliseren
Name[nn]=Minimer alle
Name[pl]=Minimalizuj wszystko
Name[pt]=Maximização Total
Name[pt_BR]=Minimizar tudo
Name[ro]=MinimizeazăTot
Name[ru]=Сворачивание всех окон
Name[sk]=Minimalizovať všetko
Name[sl]=Skrči vse
Name[sr]=Минимизовање свега
Name[sr@ijekavian]=Минимизовање свега
Name[sr@ijekavianlatin]=Minimizovanje svega
Name[sr@latin]=Minimizovanje svega
Name[sv]=Minimera alla
Name[tr]=Tümünü simge durumuna küçült
Name[uk]=Мінімізувати усі
Name[x-test]=xxMinimizeAllxx
Name[zh_CN]=最小化所有
Name[zh_TW]=全部最小化
Comment=Adds a shortcut to minimize and restore all windows
Comment[az]=Bütün pəncərələri yığmaq və bərpa etmək üçün qısayolu əlavə edir
Comment[ca]=Afegeix una drecera per a minimitzar i restaurar totes les finestres
Comment[ca@valencia]=Afig una drecera per a minimitzar i restaurar totes les finestres
Comment[cs]=Přidá zkratku k minimalizaci a obnovení všech oken.
Comment[da]=Tilføjer en genvej til at minimere og gendanne alle vinduer
Comment[de]=Fügt einen Kurzbefehl hinzu, um alle Fenster zu minimieren oder wieder anzuzeigen
Comment[el]=Προσθήκη συντόμευσης για την ελαχιστοποίηση και την επαναφορά όλων των παραθύρων
Comment[en_GB]=Adds a shortcut to minimise and restore all windows
Comment[es]=Añade un acceso rápido para minimizar y restaurar todas la ventanas
Comment[et]=Kiirklahvi lisamine kõigi akende minimeerimiseks või sel moel minimeeritud akende suuruse taastamiseks
Comment[eu]=Lasterbide bat eransten du leiho guztiak minimizatu eta lehengoratzeko
Comment[fi]=Lisää pikanäppäimen, joka pienentää tai palauttaa kaikki ikkunat
Comment[fr]=Ajoute un raccourci pour réduire ou afficher toutes les fenêtres
Comment[gl]=Engade un atallo para minimizar e restaurar todas as xanelas.
Comment[hu]=Gyorsgomb az összes ablak minimalizálásához és visszaállításához
Comment[ia]=Adde un via breve pe minimisar e restabilir omne fenestras
Comment[id]=Menambahkan sebuah pintasan untuk minimalkan dan pulihkan semua window
Comment[it]=Aggiunge una scorciatoia per minimizzare e ripristinare tutte le finestre
Comment[ko]=모든 창을 최소화하고 복원하는 단축키를 추가합니다
Comment[lt]=Prideda šaukinį, skirtą suskleisti ir atkurti visus langus
Comment[nl]=Voegt een sneltoets toe om alle vensters te minimaliseren en te herstellen
Comment[nn]=Legg til snarvegar for å minimera og gjenoppretta alle vindauge
Comment[pl]=Dodaje skrót do zminimalizowania i przywracania wszystkich okien
Comment[pt]=Adiciona um atalho para minimizar ou repor todas as janelas
Comment[pt_BR]=Adiciona um atalho para minimizar e restaurar todas as janelas
Comment[ro]=Adaugă o scurtătură pentru a minimiza și restabili toate ferestrele
Comment[ru]=Добавляет глобальную комбинацию клавиш для сворачивания и восстановления всех окон
Comment[sk]=Pridá skratku na minimalizáciu všetkých okien alebo obnovenie všetkých okien
Comment[sl]=Doda bližnjico za skrčenje ali povečanje vseh oken
Comment[sr]=Додаје пречицу за минимизовање и обнављање свих прозора
Comment[sr@ijekavian]=Додаје пречицу за минимизовање и обнављање свих прозора
Comment[sr@ijekavianlatin]=Dodaje prečicu za minimizovanje i obnavljanje svih prozora
Comment[sr@latin]=Dodaje prečicu za minimizovanje i obnavljanje svih prozora
Comment[sv]=Lägger till en genväg för att minimera och återställa alla fönster
Comment[uk]=Додає скорочення мінімізації усіх вікон або скасування такої мінімізації для усіх вікон
Comment[x-test]=xxAdds a shortcut to minimize and restore all windowsxx
Comment[zh_CN]=添加最小化与恢复所有窗口的快捷方式
Comment[zh_TW]=新增捷徑將所有視窗最小化或恢復原狀
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@gmail.com
X-KDE-PluginInfo-Name=minimizeall
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=minimizeall
