[Desktop Entry]
Name=MinimizeAll
Name[ca]=MinimitzaTot
Name[ca@valencia]=MinimitzaTot
Name[cs]=MinimalizovatVše
Name[da]=Minimér alle
Name[de]=Alle minimieren
Name[el]=ΕλαχιστοποίησηΌλων
Name[en_GB]=MinimiseAll
Name[es]=Maximizar todo
Name[et]=Kõigi minimeerimine
Name[eu]=Minimizatu guztiak
Name[fi]=Pienennä kaikki
Name[fr]=Tout réduire
Name[gl]=Minimizalo todo
Name[he]=מזער הכל
Name[hu]=Összes minimalizálása
Name[ia]=MaximizaOmne
Name[it]=Minimizza tutto
Name[ja]=すべて最小化
Name[ko]=모두최소화
Name[lt]=Sumažinti visus
Name[nb]=Minimer alt
Name[nl]=Alles-minimaliseren
Name[nn]=Minimer alle
Name[pl]=MinimalizujWszystko
Name[pt]=Maximização Total
Name[pt_BR]=Minimizar tudo
Name[ru]=Сворачивание всех окон
Name[sk]=Minimalizovať všetko
Name[sl]=Skrči vse
Name[sr]=Минимизовање свега
Name[sr@ijekavian]=Минимизовање свега
Name[sr@ijekavianlatin]=Minimizovanje svega
Name[sr@latin]=Minimizovanje svega
Name[sv]=Minimera alla
Name[tr]=Tümünü simge durumuna küçült
Name[uk]=Мінімізувати усі
Name[x-test]=xxMinimizeAllxx
Name[zh_CN]=最小化所有
Name[zh_TW]=全部最小化
Comment=Adds a shortcut to minimize and restore all windows
Comment[ca]=Afegeix una drecera per a minimitzar i restaurar totes les finestres
Comment[ca@valencia]=Afig una drecera per a minimitzar i restaurar totes les finestres
Comment[de]=Fügt einen Kurzbefehl hinzu, um alle Fenster zu minimieren oder wieder anzuzeigen
Comment[en_GB]=Adds a shortcut to minimise and restore all windows
Comment[es]=Añade un acceso rápido para minimizar y restaurar todas la ventanas
Comment[gl]=Engade un atallo para minimizar e restaurar todas as xanelas.
Comment[it]=Aggiunge una scorciatoia per minimizzare e ripristinare tutte le finestre
Comment[nl]=Voegt een sneltoets toe om alle vensters te minimaliseren en te herstellen
Comment[nn]=Legg til snarvegar for å minimera og gjenoppretta alle vindauge
Comment[pl]=Dodaje skrót do zminimalizowania i przywracania wszystkich okien
Comment[pt]=Adiciona um atalho para minimizar ou repor todas as janelas
Comment[sl]=Doda bližnjico za skrčenje ali povečanje vseh oken
Comment[sr]=Додаје пречицу за минимизовање и обнављање свих прозора
Comment[sr@ijekavian]=Додаје пречицу за минимизовање и обнављање свих прозора
Comment[sr@ijekavianlatin]=Dodaje prečicu za minimizovanje i obnavljanje svih prozora
Comment[sr@latin]=Dodaje prečicu za minimizovanje i obnavljanje svih prozora
Comment[sv]=Lägger till en genväg för att minimera och återställa alla fönster
Comment[uk]=Додає скорочення мінімізації усіх вікон або скасування такої мінімізації для усіх вікон
Comment[x-test]=xxAdds a shortcut to minimize and restore all windowsxx
Comment[zh_CN]=添加最小化与恢复所有窗口的快捷方式
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Border-Activate=true
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@gmail.com
X-KDE-PluginInfo-Name=minimizeall
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=minimizeall
