[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_trackmouse_config
X-KDE-ParentComponents=trackmouse

Name=Track Mouse
Name[uk]=Сліди мишки
Name[x-test]=xxTrack Mousexx
