[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_trackmouse_config
X-KDE-ParentComponents=trackmouse

Name=Track Mouse
Name[af]=Volg die Muis
Name[ar]=تتبع الفارة
Name[be]=Адследжваць мыш
Name[be@latin]=Vyjaŭleńnie kursora
Name[bg]=Проследяване на мишката
Name[bn]=মাউস ট্র্যাক করো
Name[bs]=Praćenje miša
Name[ca]=Seguiment del ratolí
Name[ca@valencia]=Seguiment del ratolí
Name[cs]=Sledování myši
Name[csb]=Nalezénié pòłożenia mëszë
Name[da]=Sporing af mus
Name[de]=Maus-Position finden
Name[el]=Ανίχνευση ποντικιού
Name[en_GB]=Track Mouse
Name[eo]=Spuri muson
Name[es]=Seguir el ratón
Name[et]=Hiire jälgimine
Name[eu]=Jarraitu saguari
Name[fa]=ردگیری موشی
Name[fi]=Hiiren jäljitys
Name[fr]=Repérer la souris
Name[fy]=Track Mûs
Name[ga]=Lorg an Luch
Name[gl]=Seguir o rato
Name[gu]=માઉસની ખબર રાખો
Name[he]=מעקב אחרי העכבר
Name[hi]=माउस ट्रैक करें
Name[hne]=मुसुवा ट्रैक करव
Name[hr]=Praćenje miša
Name[hu]=Egérkövetés
Name[ia]=Tracia mus
Name[id]=Lacak Mouse
Name[is]=Elta mús
Name[it]=Trova il mouse
Name[ja]=マウス追跡
Name[kk]=Тышқандың ізі
Name[km]=ដាន​កណ្តុរ​
Name[kn]=ಮೂಷಕ ಹಿಂಬಾಲಕ
Name[ko]=마우스 추적
Name[lt]=Pelės sekimas
Name[lv]=Sekot pelei
Name[mai]=माउस ट्रैक करू
Name[mk]=Следење на глушецот
Name[ml]=മൌസിനെ നിരീക്ഷിക്കുക
Name[mr]=माऊसचा मागोवा घ्या
Name[nb]=Spor mus
Name[nds]=Muusspoor
Name[ne]=ट्रयाक माउस
Name[nl]=Muis volgen
Name[nn]=Følg mus
Name[pa]=ਮਾਊਸ ਟਰੈਕ
Name[pl]=Śledzenie myszy
Name[pt]=Seguir o Rato
Name[pt_BR]=Seguir o mouse
Name[ro]=Urmărește mausul
Name[ru]=Поиск курсора мыши на экране
Name[se]=Čuovo sáhpána
Name[si]=මවුසය සොයන්න
Name[sk]=Sledovať myš
Name[sl]=Sledenje miški
Name[sr]=Праћење миша
Name[sr@ijekavian]=Праћење миша
Name[sr@ijekavianlatin]=Praćenje miša
Name[sr@latin]=Praćenje miša
Name[sv]=Följ musen
Name[ta]=எலியத்தை கவனி
Name[te]=ట్రాక్ మౌస్
Name[tg]=Отслеживание мыши
Name[th]=ติดตามเมาส์
Name[tr]=Fareyi İzle
Name[ug]=چاشقىنەكنى ئىزلا
Name[uk]=Сліди мишки
Name[vi]=Vết chuột
Name[wa]=Shut l' sori
Name[x-test]=xxTrack Mousexx
Name[zh_CN]=跟踪鼠标
Name[zh_TW]=追蹤滑鼠
