[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_flipswitch
X-KDE-PluginKeyword=flipswitch

Name=Flip Switch
Name[af]=Wissel skakelaar
Name[ar]=تبديل بالتقليب
Name[ca]=Canvi en roda
Name[ca@valencia]=Canvi en roda
Name[cs]=Kartotéka
Name[da]=Vippeskifter
Name[de]=3D-Fensterstapel
Name[el]=Εναλλαγή στοίβας
Name[eo]=Turna ŝanĝilo
Name[es]=Selección de ventana en modo cascada
Name[et]=Aknalehitseja
Name[fi]=Kääntövaihtaja
Name[fr]=Empilement en perspective
Name[fy]=Flip wiksel
Name[gl]=Mudanza en fila
Name[gu]=ફ્લિપ સ્વિચ
Name[hi]=स्विच बदलें
Name[hne]=फ्लिप स्विच
Name[hr]=Naslagani prozori – promjena
Name[hu]=Billenős váltódoboz
Name[is]=Flettirofi
Name[it]=Cambia ribaltando
Name[ja]=フリップスイッチ
Name[kk]=Ақтарып ауыстырғыш
Name[km]=ប្ដូរ​ការ​ត្រឡប់​
Name[kn]=ಬದಲಾವಣೆ ಗುಂಡಿ (ಫ್ಲಿಪ್ ಸ್ವಿಚ್)
Name[ko]=플립 전환기
Name[lt]=Kartotekos imitacijos keitiklis
Name[lv]=Flip pārslēdzējs
Name[mai]=स्विच पलटू
Name[ml]=ഫ്ലിപ് സ്വിച്ച്
Name[nb]=Bla-bytter
Name[nds]=Dreihwesseln
Name[nn]=Blavekslar
Name[pa]=ਫਲਿੱਪ ਸਵਿੱਚ
Name[pl]=Przełącznik stosowy
Name[pt]=Mudança em Pilha
Name[pt_BR]=Mudança em pilha
Name[ro]=Comutare cu întoarcere
Name[ru]=Перелистывание
Name[sk]=Prevrátenie
Name[sl]=Preklapljanje - sklad
Name[sr]=Преклопно пребацивање
Name[sr@latin]=Preklopno prebacivanje
Name[sv]=Blädderbyte
Name[te]=ఫ్లిప్ స్విచ్
Name[tg]=Перелистывание
Name[th]=สลับหน้าต่างพลิกซ้อนเป็นชั้น
Name[tr]=Dönen Seçici
Name[uk]=Тасування карток
Name[wa]=Discandjeu d' purnea
Name[x-test]=xxFlip Switchxx
Name[zh_CN]=翻转切换
Name[zh_TW]=翻轉切換
