[Desktop Entry]
Exec=kcmshell4 kwindecoration
Icon=preferences-system-windows-action
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kwindecoration/index.html

X-KDE-Library=kcm_kwindecoration
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-appearance
X-KDE-Weight=90

Name=Window Decorations
Name[ar]=زخارف النوافذ
Name[ast]=Decoración de ventanes
Name[bg]=Декорации на прозорците
Name[bs]=Dekoracije prozora
Name[ca]=Decoració de les finestres
Name[ca@valencia]=Decoració de les finestres
Name[cs]=Dekorace oken
Name[da]=Vinduesdekorationer
Name[de]=Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου
Name[en_GB]=Window Decorations
Name[es]=Decoración de ventanas
Name[et]=Akna dekoratsioonid
Name[eu]=Leihoen apaingarriak
Name[fi]=Ikkunoiden kehykset
Name[fr]=Décorations de la fenêtre
Name[ga]=Maisiúcháin Fhuinneog
Name[he]=קישוטי חלון
Name[hi]=विंडो सजावट
Name[hr]=Ukrasi prozora
Name[hu]=Ablakdekorációk
Name[ia]=Decorationes de fenestra
Name[id]=Dekorasi Jendela
Name[is]=Gluggaskreytingar
Name[it]=Decorazioni delle finestre
Name[ja]=ウィンドウの飾り
Name[kk]=Терезенің безендірулері
Name[km]=ការ​តុបតែង​បង្អួច
Name[kn]=ವಿಂಡೋ ಅಲಂಕಾರಗಳು
Name[ko]=창 장식
Name[lt]=Lango dekoracijos
Name[lv]=Logu dekorācijas
Name[nb]=Vinduspynt
Name[nds]=Finstern opfladusen
Name[nl]=Vensterdecoraties
Name[nn]=Vindaugspynt
Name[pa]=ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Dekoracje okna
Name[pt]=Decorações das Janelas
Name[pt_BR]=Decorações da janela
Name[ro]=Decorații fereastră
Name[ru]=Оформление окон
Name[si]=කවුළු සැරසිලි
Name[sk]=Dekorácie okien
Name[sl]=Okraski oken
Name[sr]=Декорације прозора
Name[sr@ijekavian]=Декорације прозора
Name[sr@ijekavianlatin]=Dekoracije prozora
Name[sr@latin]=Dekoracije prozora
Name[sv]=Fönsterdekorationer
Name[th]=ส่วนตกแต่งหน้าต่าง
Name[tr]=Pencere Dekorasyonları
Name[ug]=كۆزنەك بېزەكلىرى
Name[uk]=Обрамлення вікон
Name[wa]=Gåyotaedjes des fniesses
Name[x-test]=xxWindow Decorationsxx
Name[zh_CN]=窗口装饰
Name[zh_TW]=視窗裝飾

Comment=Configure the look and feel of window titles
Comment[af]=Stel die lyk-en-gevoel van venstertitels
Comment[ar]=اضبط المظهر والسمِة لعناوين النوافذ
Comment[ast]=Configuración del aspeutu y comportamientu de los títulos de les ventanes
Comment[be]=Настаўленні вонкавага выгляду загалоўкаў вокнаў
Comment[be@latin]=Nałady vyhladu zahałoŭkaŭ akon
Comment[bg]=Настройки на външния вид на заглавията прозорците
Comment[bn]=উইণ্ডো শিরোনামের চেহারা কনফিগার করুন
Comment[bn_IN]=উইন্ডোর শিরোনামের চেহারাছবি কনফিগার করতে ব্যবহৃত হয়
Comment[br]=Kefluniañ neuz ha feson titloù ar prenester
Comment[bs]=Podešavanje izgleda i osjećaja za naslove prozora
Comment[ca]=Configura l'aspecte i efecte dels títols de la finestra
Comment[ca@valencia]=Configura l'aspecte i efecte dels títols de la finestra
Comment[cs]=Nastavení vzhledu a dekorací oken
Comment[csb]=Kònfigùracëjô wëzdrzatkù ë ùchòwaniô titlowi listwë òknów
Comment[cy]=Ffurfweddu golwg a theimlad teitlau ffenestri
Comment[da]=Indstil udseendet af vinduestitler
Comment[de]=Das Erscheinungsbild von Fenstertiteln festlegen
Comment[el]=Ρύθμιση της εμφάνισης και αίσθησης του τίτλου των παραθύρων
Comment[en_GB]=Configure the look and feel of window titles
Comment[eo]=Agordi la aspekton de la fenestraj titoloj
Comment[es]=Configuración del aspecto y comportamiento de los títulos de las ventanas
Comment[et]=Akna tiitliribade välimuse ja tunnetuse seadistamine
Comment[eu]=Konfiguratu leihoaren izenburuen itxura
Comment[fa]=پیکربندی ظاهر و احساس عنوان پنجره‌ها
Comment[fi]=Muokkaa ikkunoiden kehysten ulkonäköä
Comment[fr]=Configuration de l'apparence des titres des fenêtres
Comment[fy]=Hjir kinne jo it uterlik en gedrach fan finstertitels ynstelle
Comment[ga]=Cumraigh dealramh na dteideal fuinneoige
Comment[gl]=Configurar a aparencia e o comportamento dos títulos das xanelas
Comment[gu]=વિન્ડો શીર્ષકોનો દેખાવ રૂપરેખાંકિત કરો
Comment[he]=הגדרת המראה והתחושה של כותרות החלונות
Comment[hi]=विंडो शीर्षकों के रूप आकार को कॉन्फ़िगर करें
Comment[hne]=विंडो सीर्सक के रूप आकार ल कान्फिगर करव
Comment[hr]=Konfiguriranje izgleda naslova prozora
Comment[hu]=Az ablakok címsorának megjelenési beállításai
Comment[ia]=Configura le semblantia de titulos de fenestra
Comment[id]=Atur tampilan dan rasa dari judul jendela
Comment[is]=Stilla viðmót gluggatitla
Comment[it]=Configura l'aspetto dei titoli delle finestre
Comment[ja]=ウィンドウのタイトルバーの外観を設定
Comment[ka]=ფანჯრის სათაურის იერსახის კონფიგურაცია
Comment[kk]=Терезе айдарының безендіруін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង​របស់​ចំណង​ជើង​បង្អួច
Comment[kn]=ಕಿಟಕಿಯ ಶೀರ್ಷಿಕೆಗಳ  ರೂಪ, ಭಾವಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=창 제목 표시줄의 모습과 느낌 설정
Comment[lt]=Konfigūruoti langų antraščių išvaizdą ir elgseną
Comment[lv]=Šeit jūs varat konfigurēt loga virsrakstu izskatu un izturēšanos
Comment[mai]=विंडो शीर्षकों केर रूप आकार केँ बिन्यस्त करू
Comment[mk]=Конфигурирајте го изгледот и чувството на насловите на прозорците
Comment[ml]=ജാലകങ്ങളുടെ തലക്കെട്ടിന്റെ ഭംഗി ക്രമീകരിക്കുക.
Comment[mr]=चौकट शिर्षकचे रूप व आकार संयोजीत करा
Comment[nb]=Tilpass hvordan vindustitlene skal virke og se ut
Comment[nds]=Dat Utsehn vun de Finstertiteln instellen
Comment[ne]=सञ्झ्याल शीर्षकहरूको हेराइ र बुझाइ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het uiterlijk en gedrag van venstertitels instellen
Comment[nn]=Set opp utsjånaden på vindaugstitlar
Comment[pa]=ਵਿੰਡੋ ਟਾਇਟਲਾਂ ਦੇ ਰੰਗ-ਰੂਪ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu i zachowania belek tytułowych okien
Comment[pt]=Configuração da aparência e comportamento dos títulos das janelas
Comment[pt_BR]=Configura a aparência dos títulos das janelas
Comment[ro]=Configurează aspectul titlului ferestrelor
Comment[ru]=Настройка внешнего вида заголовков окон
Comment[se]=Heivet lásenamahusaid fárdda
Comment[si]=කවුළු ශීර්‍ෂයන්හී පෙනුම හා හැඟීම සකසන්න
Comment[sk]=Nastavenie vzhľadu titulkov okien
Comment[sl]=Nastavite videz in delovanje naslovnih vrstic okna.
Comment[sr]=Подешавање изгледа и осећаја за наслове прозора
Comment[sr@ijekavian]=Подешавање изгледа и осјећаја за наслове прозора
Comment[sr@ijekavianlatin]=Podešavanje izgleda i osjećaja za naslove prozora
Comment[sr@latin]=Podešavanje izgleda i osećaja za naslove prozora
Comment[sv]=Anpassa namnlisternas utseende och känsla
Comment[ta]=சாளரம் மற்றும் தலைப்பின் காட்சிவகையை மாற்று
Comment[te]=విండో శీర్షికల ఆకృతి మరియు భావమును ఆకృతీకరించుము
Comment[tg]=Танзимоти намуди зохирии сарлавҳаҳои тиреза
Comment[th]=ปรับแต่งลักษณะรูปลักษณ์ของแถบหัวเรื่องหน้าต่าง
Comment[tr]=Pencere başlıklarını görünümlerini yapılandır
Comment[ug]=كۆزنەك ماۋزۇسىنىڭ كۆرۈنۈشىنى سەپلەيدۇ
Comment[uk]=Налаштування вигляду та поведінки заголовків вікон
Comment[uz]=Oyna sarlavhasining tashqi koʻrinishini moslash
Comment[uz@cyrillic]=Ойна сарлавҳасининг ташқи кўринишини мослаш
Comment[vi]=Cấu hình giao diện và cảm nhận cho tên cửa sổ
Comment[wa]=Apontyî li rivnance eyet l' dujhance des tites des fniesses
Comment[xh]=Qwalasela inkangeleko nemvakalelo yezihloko zeWindow
Comment[x-test]=xxConfigure the look and feel of window titlesxx
Comment[zh_CN]=配置窗口标题的观感
Comment[zh_TW]=設定視窗標題列的外觀與感覺

X-KDE-Keywords=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration
X-KDE-Keywords[kk]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration
X-KDE-Keywords[uk]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,вікно,вікна,керування,менеджер,рамка,межа,стиль,тема,вигляд,поведінка,компонування,кнопка,елемент,край,декорації,обрамлення
X-KDE-Keywords[x-test]=xxkwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decorationxx

Categories=Qt;KDE;X-KDE-settings-looknfeel;

