[Desktop Entry]
Exec=kcmshell4 kwindecoration
Icon=preferences-system-windows-action
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kwindecoration/index.html

X-KDE-Library=kcm_kwindecoration
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-appearance
X-KDE-Weight=90

Name=Window Decorations
Name[ar]=زخارف النوافذ
Name[ast]=Decoración de ventanes
Name[bg]=Декорации на прозорците
Name[bs]=Dekoracije prozora
Name[ca]=Decoració de les finestres
Name[ca@valencia]=Decoració de les finestres
Name[cs]=Dekorace oken
Name[da]=Vinduesdekorationer
Name[de]=Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου
Name[en_GB]=Window Decorations
Name[es]=Decoración de ventanas
Name[et]=Akna dekoratsioonid
Name[eu]=Leihoen apaingarriak
Name[fi]=Ikkunoiden kehykset
Name[fr]=Décorations de la fenêtre
Name[ga]=Maisiúcháin Fhuinneog
Name[he]=קישוטי חלון
Name[hi]=विंडो सजावट
Name[hr]=Ukrasi prozora
Name[hu]=Ablakdekorációk
Name[ia]=Decorationes de fenestra
Name[id]=Dekorasi Jendela
Name[is]=Gluggaskreytingar
Name[it]=Decorazioni delle finestre
Name[ja]=ウィンドウの飾り
Name[kk]=Терезенің безендірулері
Name[km]=ការ​តុបតែង​បង្អួច
Name[kn]=ವಿಂಡೋ ಅಲಂಕಾರಗಳು
Name[ko]=창 장식
Name[lt]=Lango dekoracijos
Name[lv]=Logu dekorācijas
Name[nb]=Vinduspynt
Name[nds]=Finstern opfladusen
Name[nl]=Vensterdecoraties
Name[nn]=Vindaugspynt
Name[pa]=ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Dekoracje okna
Name[pt]=Decorações das Janelas
Name[pt_BR]=Decorações das janelas
Name[ro]=Decorații fereastră
Name[ru]=Оформление окон
Name[si]=කවුළු සැරසිලි
Name[sk]=Dekorácie okien
Name[sl]=Okraski oken
Name[sr]=Декорације прозора
Name[sr@ijekavian]=Декорације прозора
Name[sr@ijekavianlatin]=Dekoracije prozora
Name[sr@latin]=Dekoracije prozora
Name[sv]=Fönsterdekorationer
Name[th]=ส่วนตกแต่งหน้าต่าง
Name[tr]=Pencere Dekorasyonları
Name[ug]=كۆزنەك بېزەكلىرى
Name[uk]=Обрамлення вікон
Name[wa]=Gåyotaedjes des fniesses
Name[x-test]=xxWindow Decorationsxx
Name[zh_CN]=窗口装饰
Name[zh_TW]=視窗裝飾

Comment=Configure the look and feel of window titles
Comment[af]=Stel die lyk-en-gevoel van venstertitels
Comment[ar]=اضبط المظهر والسمِة لعناوين النوافذ
Comment[ast]=Configuración del aspeutu y comportamientu de los títulos de les ventanes
Comment[be]=Настаўленні вонкавага выгляду загалоўкаў вокнаў
Comment[be@latin]=Nałady vyhladu zahałoŭkaŭ akon
Comment[bg]=Настройки на външния вид на заглавията прозорците
Comment[bn]=উইণ্ডো শিরোনামের চেহারা কনফিগার করুন
Comment[bn_IN]=উইন্ডোর শিরোনামের চেহারাছবি কনফিগার করতে ব্যবহৃত হয়
Comment[br]=Kefluniañ neuz ha feson titloù ar prenester
Comment[bs]=Podešavanje izgleda i osjećaja za naslove prozora
Comment[ca]=Configura l'aspecte i efecte dels títols de la finestra
Comment[ca@valencia]=Configura l'aspecte i efecte dels títols de la finestra
Comment[cs]=Nastavení vzhledu a dekorací oken
Comment[csb]=Kònfigùracëjô wëzdrzatkù ë ùchòwaniô titlowi listwë òknów
Comment[cy]=Ffurfweddu golwg a theimlad teitlau ffenestri
Comment[da]=Indstil udseendet af vinduestitler
Comment[de]=Das Erscheinungsbild von Fenstertiteln festlegen
Comment[el]=Ρύθμιση της εμφάνισης και αίσθησης του τίτλου των παραθύρων
Comment[en_GB]=Configure the look and feel of window titles
Comment[eo]=Agordi la aspekton de la fenestraj titoloj
Comment[es]=Configuración del aspecto y comportamiento de los títulos de las ventanas
Comment[et]=Akna tiitliribade välimuse ja tunnetuse seadistamine
Comment[eu]=Konfiguratu leihoaren izenburuen itxura
Comment[fa]=پیکربندی ظاهر و احساس عنوان پنجره‌ها
Comment[fi]=Muokkaa ikkunoiden kehysten ulkonäköä
Comment[fr]=Configuration de l'apparence des titres des fenêtres
Comment[fy]=Hjir kinne jo it uterlik en gedrach fan finstertitels ynstelle
Comment[ga]=Cumraigh dealramh na dteideal fuinneoige
Comment[gl]=Configurar a aparencia e o comportamento dos títulos das xanelas
Comment[gu]=વિન્ડો શીર્ષકોનો દેખાવ રૂપરેખાંકિત કરો
Comment[he]=הגדרת המראה והתחושה של כותרות החלונות
Comment[hi]=विंडो शीर्षकों के रूप आकार को कॉन्फ़िगर करें
Comment[hne]=विंडो सीर्सक के रूप आकार ल कान्फिगर करव
Comment[hr]=Konfiguriranje izgleda naslova prozora
Comment[hu]=Az ablakok címsorának megjelenési beállításai
Comment[ia]=Configura le semblantia de titulos de fenestra
Comment[id]=Atur tampilan dan rasa dari judul jendela
Comment[is]=Stilla viðmót gluggatitla
Comment[it]=Configura l'aspetto dei titoli delle finestre
Comment[ja]=ウィンドウのタイトルバーの外観を設定
Comment[ka]=ფანჯრის სათაურის იერსახის კონფიგურაცია
Comment[kk]=Терезе айдарының безендіруін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​រូបរាង​របស់​ចំណង​ជើង​បង្អួច
Comment[kn]=ಕಿಟಕಿಯ ಶೀರ್ಷಿಕೆಗಳ  ರೂಪ, ಭಾವಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=창 제목 표시줄의 모습과 느낌 설정
Comment[lt]=Konfigūruoti langų antraščių išvaizdą ir elgseną
Comment[lv]=Šeit jūs varat konfigurēt loga virsrakstu izskatu un izturēšanos
Comment[mai]=विंडो शीर्षकों केर रूप आकार केँ बिन्यस्त करू
Comment[mk]=Конфигурирајте го изгледот и чувството на насловите на прозорците
Comment[ml]=ജാലകങ്ങളുടെ തലക്കെട്ടിന്റെ ഭംഗി ക്രമീകരിക്കുക.
Comment[mr]=चौकट शिर्षकचे रूप व आकार संयोजीत करा
Comment[nb]=Tilpass hvordan vindustitlene skal virke og se ut
Comment[nds]=Dat Utsehn vun de Finstertiteln instellen
Comment[ne]=सञ्झ्याल शीर्षकहरूको हेराइ र बुझाइ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het uiterlijk en gedrag van venstertitels instellen
Comment[nn]=Set opp utsjånaden på vindaugstitlar
Comment[pa]=ਵਿੰਡੋ ਟਾਇਟਲਾਂ ਦੇ ਰੰਗ-ਰੂਪ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wyglądu i zachowania belek tytułowych okien
Comment[pt]=Configuração da aparência e comportamento dos títulos das janelas
Comment[pt_BR]=Configura a aparência dos títulos das janelas
Comment[ro]=Configurează aspectul titlului ferestrelor
Comment[ru]=Настройка внешнего вида заголовков окон
Comment[se]=Heivet lásenamahusaid fárdda
Comment[si]=කවුළු ශීර්‍ෂයන්හී පෙනුම හා හැඟීම සකසන්න
Comment[sk]=Nastavenie vzhľadu titulkov okien
Comment[sl]=Nastavite videz in delovanje naslovnih vrstic okna.
Comment[sr]=Подешавање изгледа и осећаја за наслове прозора
Comment[sr@ijekavian]=Подешавање изгледа и осјећаја за наслове прозора
Comment[sr@ijekavianlatin]=Podešavanje izgleda i osjećaja za naslove prozora
Comment[sr@latin]=Podešavanje izgleda i osećaja za naslove prozora
Comment[sv]=Anpassa namnlisternas utseende och känsla
Comment[ta]=சாளரம் மற்றும் தலைப்பின் காட்சிவகையை மாற்று
Comment[te]=విండో శీర్షికల ఆకృతి మరియు భావమును ఆకృతీకరించుము
Comment[tg]=Танзимоти намуди зохирии сарлавҳаҳои тиреза
Comment[th]=ปรับแต่งลักษณะรูปลักษณ์ของแถบหัวเรื่องหน้าต่าง
Comment[tr]=Pencere başlıklarını görünümlerini yapılandır
Comment[ug]=كۆزنەك ماۋزۇسىنىڭ كۆرۈنۈشىنى سەپلەيدۇ
Comment[uk]=Налаштування вигляду та поведінки заголовків вікон
Comment[uz]=Oyna sarlavhasining tashqi koʻrinishini moslash
Comment[uz@cyrillic]=Ойна сарлавҳасининг ташқи кўринишини мослаш
Comment[vi]=Cấu hình giao diện và cảm nhận cho tên cửa sổ
Comment[wa]=Apontyî li rivnance eyet l' dujhance des tites des fniesses
Comment[xh]=Qwalasela inkangeleko nemvakalelo yezihloko zeWindow
Comment[x-test]=xxConfigure the look and feel of window titlesxx
Comment[zh_CN]=配置窗口标题的观感
Comment[zh_TW]=設定視窗標題列的外觀與感覺

X-KDE-Keywords=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration
X-KDE-Keywords[be]=Акно,Кіраўнік,Мяжа,Стыль,Тэма,Вонкавы выгляд,Кнопкі,Апрацоўшчык,Край,Дэкарацыя,kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration
X-KDE-Keywords[bg]=Keywords=прозорец, декорация, заглавие, бутони, меню, kwin, window, manager, border, style, theme, look, feel, layout, button, handle, edge, kwm, decoration
X-KDE-Keywords[ca]=kwin,finestra,gestor,vora,estil,tema,aspecte,comportament,disposició,botó,nansa,marges,kwm,decoració
X-KDE-Keywords[cs]=kwin,okno,správce,okraj,styl,motiv,vzhled,rozvržení,tlačítko,úchytka,hrana,kwm,dekorace
X-KDE-Keywords[csb]=kwin,òkno,menedżer,zberk,sztél,téma,wëzdrzatk,ùchòwanié,ùstôw,knąpa,ùchwët,rańt,kwm,dekòracëjô
X-KDE-Keywords[cy]=kwin,ffenestr,trefnydd,ymyl,arddull,thema,golwg,teimlad,haenlun,botwm,carn,kwm,addurniad
X-KDE-Keywords[da]=kwin,vindue,håndtering,kant,stil,tema,udseende,fornemmelse,layout,knap,håndtag,kant,kwm,dekoration
X-KDE-Keywords[de]=KWin,Kwm,Fenster,Manager,Rahmen,Design,Stile,Themes,Optik,Erscheinungsbild,Layout,Knöpfe,Ränder,Dekorationen
X-KDE-Keywords[el]=kwin,παράθυρο,διαχειριστής,περίγραμμα,στυλ,θέμα,εμφάνιση,αίσθηση,διάταξη,κουμπί,χειρισμός,άκρο,kwm,διακόσμηση
X-KDE-Keywords[eo]=kwin,fenestro,administrilo,rando,stilo,etoso,aspekto,konduto,aranĝo,butono,eĝo,kwm,ornamo
X-KDE-Keywords[es]=kwin,ventana,gestor,borde,estilo,tema,aspecto,comportamiento,disposición,botón,asa,esquina,kwm,decoración
X-KDE-Keywords[et]=kwin,aken,haldur,piire,stiil,teema,välimus,kasutamine,nupud,serv,kwm,dekoratsioon
X-KDE-Keywords[eu]=kwin,leihoa,kudeatzailea,ertza,estiloa,gaia,itxura,antolaketa,botoia, maneiatzailea,ertzea,kwm,dekorazioa
X-KDE-Keywords[fa]=kwin، پنجره، مدیر، لبه، سبک، چهره، ظاهر، احساس، طرح‌بندی، دکمه، گرداندن، لبه، kwm، تزئین
X-KDE-Keywords[fi]=kwin,ikkuna,ikkunaohjelma,ikkunoinnin hallintaohjelma,tausta,tyyli,teema,ulkonäkö,tuntuma,ulkoasu,painike,kahva,kulma,kwm,kehys
X-KDE-Keywords[fr]=kwin,fenêtre,gestionnaire,bordure,style,thème,apparence,ergonomie,disposition,bouton,poignée,bord,kwm,décoration
X-KDE-Keywords[fy]=kwin,window,manager,rand,stijl,theme,tema,look,uiterlijk,gedrag,feel,layout,opmaak,button,knoppen,handle,rand,kwm,decoratie,windowmanager,venster,vensterbeheer,finster,râne,kader,styltema,uterlik,gedrach,finsterbehear
X-KDE-Keywords[ga]=kwin,fuinneog,bainisteoir,imlíne,stíl,téama,leagan amach,cnaipe,hanla,ciumhais,kwm,maisiúchán
X-KDE-Keywords[gl]=kwin,fiestra,xestor,beira,estilo,tema,apariencia,formato,botón,xestión,esquina,kwm,decoración
X-KDE-Keywords[he]=מנהל חלונות,חלונות,מנהל,גבול,מסגרת,סגנון,ערכה,ערכת נושא,מראה,תחושה,פריסה,תצוגה,כפתור,ידית,קצה,קישוט, kwin,window,manager,border,style,theme,look,feel,layout,button,handle, edge,kwm,decoration
X-KDE-Keywords[hr]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,prozor,upravljanje,obrub,stil,tema,izgled,raspored,gumb,rukovanje,rub,ukras
X-KDE-Keywords[hu]=KWin,ablak,kezelő,szegély,stílus,téma,kinézet,megjelenés,elrendezés,nyomógomb,fogantyú,perem,kwm,ablakstílus
X-KDE-Keywords[is]=kwin,gluggi,gluggastjóri,gluggar,kantar,rammi,skreyting,þema,stíll,útlit,takki,kwm,skraut
X-KDE-Keywords[it]=kwin,finestra,window manager,bordo,stile,tema,aspetto,pulsante,maniglia,bordo,kwm,decorazione
X-KDE-Keywords[ja]=kwin,ウィンドウ,マネージャ,枠,スタイル,テーマ,ルック,外観,レイアウト,ボタン,ハンドル,エッジ,kwm,装飾
X-KDE-Keywords[km]=kwin បង្អួច កម្មវិធី​គ្រប់គ្រង ស៊ុម រចនាប័ទ្ម ស្បែក មើល ស្គាល់ ប្លង់ ប៊ូតុង ការ​គ្រប់គ្រង គែម kwm ការ​តុបតែង
X-KDE-Keywords[ko]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration ,창,윈도,관리자,매니저,테두리,꼴,스타일,테마,모양새,보이기,쓰임새,느끼기 ,배치,단추
X-KDE-Keywords[lt]=kwin,window,manager,border,style,theme,look,feel,layout,buttons,handle,edge,kwm,decoration,langas,tvarkyklė,rėmelis,stilius,tema,žiūrėti,jausti,išdėstymas,mygtukai,kraštas,dekoracija
X-KDE-Keywords[lv]=kwin, logs, menedžeris, rāmis, stils, tēma, skats, gars, izkārtojums, poga, rokturis, stūris, kwm, dekorācija
X-KDE-Keywords[mk]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,прозорец,менаџер,граница,стил,тема,изглед,чувство,распоред,копче,рачка,раб,декорација
X-KDE-Keywords[nb]=kwin,vindu,vindusstyring,styrer,ramme,stil,tema,utseende,layout,knapp,kant,kwm,pynt,dekorasjon
X-KDE-Keywords[nds]=kwin,Finster,Finsterpleger,manager,Rahmen,Stil,Muster,look,feel,layout,Knoop,Greep,Rand,kwm,Dekoratschoon
X-KDE-Keywords[ne]=केडीई विन,सञ्झ्याल, प्रबन्धक, किनारा, शैली, विषयवस्तु, हेराइ, बुझाइ, सजावट, बटन, ह्यान्डल, छेउ,kwm, सजावट
X-KDE-Keywords[nl]=kwin,window,manager,rand,stijl,theme,thema,look,uiterlijk,gedrag,feel, layout,opmaak,button,knoppen,handle,rand,kwm,decoratie,windowmanager,venster,vensterbeheer
X-KDE-Keywords[nn]=kwin,vindauge,kant,bord,stil,tema,utsjånad,bunad,knapp,handtak,kwm,dekorasjon
X-KDE-Keywords[pa]=kwin,handle,edge,kwm,decoration,ਵਿੰਡੋ,ਮੈਨੇਜਰ,ਹਾਸ਼ੀਆ,ਸ਼ੈਲੀ,ਸਰੂਪ,ਦਿੱਖ,ਖਾਕਾ,ਬਟਨ,ਹੈਂਡਲ,ਸਜਾਵਟ
X-KDE-Keywords[pl]=kwin,okno,menedżer,brzeg,styl,motyw,wygląd,zachowanie,układ,przycisk,uchwyt,krawędź,kwm,dekoracja
X-KDE-Keywords[pt]=kwin,janela,gestor,contorno,estilo,tema,aparência,comportamento,visual,botão,pega,extremo,kwm,decoração
X-KDE-Keywords[pt_BR]=kwin,janela,gerenciador,borda,estilo,tema,aparência,aparência,layout,botão,manipular,borda,kwm,decoração
X-KDE-Keywords[ro]=kwin,fereastră,manager,margine,stil,tematică,aspect,comportament,format,buton,kwm,decorare
X-KDE-Keywords[se]=kwin,láse,gieđahalli,ravda,stiila,fáddá,fárda,dovdu,hápmi,boallu,geavja,ravda,kwm,hearva
X-KDE-Keywords[sl]=kwin,okno,upravitelj,rob,meja,slog,stil,tema,pogled,občutek,gumb,ročaj,rob,kwm,okrasek
X-KDE-Keywords[sr]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,прозор,менаџер,оквир,стил,тема,изглед,дугме,ручка,декорација,ивица,оквир,К-вин,граница
X-KDE-Keywords[sr@latin]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,prozor,menadžer,okvir,stil,tema,izgled,dugme,ručka,dekoracija,ivica,okvir,KWin,granica
X-KDE-Keywords[sv]=kwin,fönster,hanterare,kant,stil,tema,utseende,känsla,layout,knapp,hantera,kant,kwm,dekoration
X-KDE-Keywords[ta]=kwin,சாளரம்,மேலாளர்,விளிம்பு,பாணி,தலைப்பு,பார்வை,உணர்தல்,உருவரை,விசை,கையாள்,முனை,kwm,அலங்கரிப்பு
X-KDE-Keywords[tr]=kwin,pencere,yönetici,kenar,stil,tema,görünüş,doku,yerleşim,düğme,tutamaç,kenar,kwm,dekorasyon
X-KDE-Keywords[uk]=kwin,вікно,менеджер,границя,стиль,тема,вигляд,поведінка,розклад,кнопка,handle,край,kwm,обрамлення
X-KDE-Keywords[uz]=kwin,kwm,безак,ойна,бошқарувчи,усул,ташқи кўриниш
X-KDE-Keywords[vi]=kwin,cửa sổ,quản lý,bờ,kiểu,sắc thái,ngoại hình,cảm nhận,sắp xếp,nút,điều khiển,cạnh,kwm,trang trí
X-KDE-Keywords[x-test]=xxkwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decorationxx
X-KDE-Keywords[xh]=kwin,window,umphathi,umda,uhlobo,umxholo wokuxoxwa,jonga,yiva,beka,iqhosha,umqheba,umda,kwm,uhombiso
X-KDE-Keywords[zh_CN]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,窗口,管理器,边框,样式,主题,观感,布局,按钮,处理,边缘,装饰
X-KDE-Keywords[zh_TW]=kwin,window,manager,border,style,theme,look,feel,layout,button,handle,edge,kwm,decoration,視窗,管理員,邊框,風格,佈景主題,外觀,感覺,佈局,按鈕,邊緣,裝飾

Categories=Qt;KDE;X-KDE-settings-looknfeel;

