[Desktop Entry]
Name=Wobbly Windows
Name[af]=Wobbly Windows
Name[ar]=نوافذ متذبذبة
Name[ast]=Ventanes xelatinoses
Name[be@latin]=Skryŭleńnie akon
Name[bg]=Желирани прозорци
Name[bs]=Lelujavi prozori
Name[ca]=Finestres sacsejades
Name[ca@valencia]=Finestres sacsejades
Name[cs]=Chvějící se okna
Name[csb]=Òkna Wobbly
Name[da]=Blævrende vinduer
Name[de]=Wabernde Fenster
Name[el]=Ταλαντευόμενα παράθυρα
Name[en_GB]=Wobbly Windows
Name[eo]=Tremaj fenestroj
Name[es]=Ventanas gelatinosas
Name[et]=Võbisevad aknad
Name[eu]=Wobbly leihoak
Name[fi]=Heiluvat ikkunat
Name[fr]=Fenêtres en gélatine
Name[fy]=Wobbly Windows
Name[ga]=Fuinneoga Creathacha
Name[gl]=Xanelas a tremer
Name[gu]=વોબલી વિન્ડોઝ
Name[he]=חלונות מתנדנדים
Name[hi]=हिलता-डुलता विंडो
Name[hne]=कांपत विंडो
Name[hr]=Klimavi prozori
Name[hu]=Tekergő ablakok
Name[ia]=Fenestras Tremulante
Name[id]=Jendela Rapuh
Name[is]=Linir gluggar
Name[it]=Finestre tremolanti
Name[ja]=揺れるウィンドウ
Name[kk]=Майысқақ терезелер
Name[km]=បង្អួច​រំញ័រ
Name[kn]=ಅಲ್ಲಾಡುವ ಕಿಟಕಿಗಳು
Name[ko]=흔들리는 창
Name[ku]=Paceyên Dihejin
Name[lt]=Svirduliuojantys langai
Name[lv]=Ļodzīgie logi
Name[mai]=वोबली विंडो
Name[ml]=ചാഞ്ചാടുന്ന ജാലകങ്ങള്‍
Name[nb]=Vaklende vinduer
Name[nds]=Wabbelig Finstern
Name[nl]=Wiebelende vensters
Name[nn]=Vaklande vindauge
Name[pa]=ਕੰਬਦੀਆਂ ਵਿੰਡੋਜ਼
Name[pl]=Chwiejne okna
Name[pt]=Janelas Trémulas
Name[pt_BR]=Janelas instáveis
Name[ro]=Ferestre tremurătoare
Name[ru]=Колышущиеся окна
Name[si]=කවුළු සොලවන්න
Name[sk]=Zvlnené okná
Name[sl]=Želatinsta okna
Name[sr]=Лелујави прозори
Name[sr@ijekavian]=Лелујави прозори
Name[sr@ijekavianlatin]=Lelujavi prozori
Name[sr@latin]=Lelujavi prozori
Name[sv]=Ostadiga fönster
Name[ta]=அசைவுடைய சாளரம்
Name[te]=వూబ్లీ విండోస్
Name[tg]=Тирезаҳои Wobbly
Name[th]=หน้าต่างพริ้วไหว
Name[tr]=Sallanan Pencereler
Name[ug]=تەۋرەنگەن كۆزنەكلەر
Name[uk]=Желейні вікна
Name[wa]=Molès fniesses
Name[x-test]=xxWobbly Windowsxx
Name[zh_CN]=摆动窗口
Name[zh_TW]=變形視窗
Comment=Deform windows while they are moving
Comment[ar]=شوه شكل النوافذ عند تحركها
Comment[ast]=Fai que les ventanes se deformen al moveles
Comment[be@latin]=Skryŭlaje vokny padčas pierasoŭvańnia.
Comment[bg]=Прозорците изглеждат като желирани при местене
Comment[bs]=Prozori se deformišu pri premještanju
Comment[ca]=Deforma les finestres quan es mouen
Comment[ca@valencia]=Deforma les finestres quan es mouen
Comment[cs]=Deformace oken při jejich přesouvání
Comment[csb]=Defòrmùjë òkna przë jich rëszaniu
Comment[da]=Deformér vinduer mens de flyttes
Comment[de]=Lässt Fenster beim Verschieben wackeln.
Comment[el]=Παραμόρφωση παραθύρων κατά τη μετακίνησή τους
Comment[en_GB]=Deform windows while they are moving
Comment[eo]=Eksplodigi la fenestrojn dum ili fermiĝas
Comment[es]=Hace que las ventanas se deformen al moverlas
Comment[et]=Akende moonutamine liigutamisel
Comment[eu]=Deformatu leihoak mugitzen ari direnean
Comment[fi]=Muokkaa ikkunat uudelleen liikutettaessa
Comment[fr]=Déforme les fenêtres pendant leur déplacement
Comment[fy]=Ferfoarmt finsters as se sluten wurde
Comment[ga]=Díchum fuinneoga agus iad á mbogadh
Comment[gl]=Deforma as xanelas cando se moven
Comment[gu]=જ્યારે વિન્ડો બંધ થાય છે ત્યારે તેમનો આકાર બદલે છે
Comment[he]=גורם לחלונות להתנדנד בזמן שהם מוזזים
Comment[hi]=जब खिसकाए जा रहे हों तो विंडो का आकार बिगाड़ें
Comment[hne]=विंडो ल तोड़मोड़ देव जब ओ हर खिसकथे
Comment[hr]=Deformiranje prozora dok ih se pomiče
Comment[hu]=Mozgatás közben deformálódnak az ablakok
Comment[ia]=Deforma fenestras durante que illes es movente
Comment[id]=Deformasi jendela ketika jendela berpindah
Comment[is]=Afmyndar glugga við hreyfingu
Comment[it]=Deforma le finestre quando vengono mosse
Comment[ja]=移動中のウィンドウを変形させます
Comment[kk]=Терезелер жылжығанда майысқақ болады
Comment[km]=បង្អួច​ទ្រង់ទ្រាយ​បង្អួច​ខណៈពេល​កំពុង​ផ្លាស់ទី​ពួកវា​
Comment[kn]=ಕಿಟಕಿಗಳನ್ನು  ಸರಿಸುವಾಗ ಅವುಗಳನ್ನು ವಿಕೃತಿಗೊಳಿಸು
Comment[ko]=창이 움직일 때 흔듭니다
Comment[lt]=Deformuoja langus kai šie juda
Comment[lv]=Deformē logus, kad tos pārvieto
Comment[mk]=Ги деформира прозорците додека ги преместувате
Comment[ml]=അനങ്ങുംബോള്‍ ജാലകങ്ങളുടെ ആക്രതി മാറുന്നു
Comment[mr]=हलवितेवेळी चौकट वेगळे करा
Comment[nb]=Deformer vinduer mens de flyttes
Comment[nds]=Finstern bi't Verschuven weihen laten
Comment[nl]=Vervormt vensters wanneer ze verplaatst worden
Comment[nn]=Endra form på vindauga når dei vert flytte
Comment[pa]=ਜਦੋਂ ਵਿੰਡੋ ਹਿਲਾਈਆਂ ਜਾਣ ਤਾਂ ਅੱਡ ਅੱਡ ਕਰੋ
Comment[pl]=Deformowanie okien przy ich przemieszczaniu
Comment[pt]=Deformar as janelas enquanto mudam de posição
Comment[pt_BR]=Deforma as janelas enquanto elas são movimentadas
Comment[ro]=Deformează ferestrele în timpul deplasării
Comment[ru]=Колыхание окна при его перемещении
Comment[si]=කවුළු ගෙනයෑමේදී විරූපී කරන්න
Comment[sk]=Deformuje okná pri ich presúvaní
Comment[sl]=Ko okna premikate, se deformirajo
Comment[sr]=Прозори се деформишу при премештању
Comment[sr@ijekavian]=Прозори се деформишу при премијештању
Comment[sr@ijekavianlatin]=Prozori se deformišu pri premiještanju
Comment[sr@latin]=Prozori se deformišu pri premeštanju
Comment[sv]=Förvräng fönster medan de flyttas
Comment[ta]=நகர்கையில் சாளரங்களை கலைத்திடு
Comment[th]=บิดรูปทรงหน้าต่างขณะที่หน้าต่างถูกย้ายตำแหน่ง
Comment[tr]=Pencereler taşınırken şekillerini boz
Comment[ug]=كۆزنەك يۆتكەلگەندە ئۆزگىرىش ئۈنۈمىنى كۆرسىتىدۇ
Comment[uk]=Деформація вікон під час їхнього пересування
Comment[vi]=Làm biến dạng cửa sổ khi chúng di chuyển
Comment[wa]=Disfoûrmer les fniesses cwand ele sont bodjeyes
Comment[x-test]=xxDeform windows while they are movingxx
Comment[zh_CN]=当窗口被移动时，使其呈现变形效果
Comment[zh_TW]=移動視窗時讓視窗「變形」
Icon=preferences-system-windows-effect-wobblywindows

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Cédric Borgese
X-KDE-PluginInfo-Email=cedric.borgese@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_wobblywindows
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=45
X-KWin-Requires-OpenGL=true
