[Desktop Entry]
Name=Wobbly Windows
Name[uk]=Желейні вікна
Name[x-test]=xxWobbly Windowsxx
Comment=Deform windows while they are moving
Comment[uk]=Деформація вікон під час їхнього пересування
Comment[x-test]=xxDeform windows while they are movingxx
Icon=preferences-system-windows-effect-wobblywindows

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Cédric Borgese
X-KDE-PluginInfo-Email=cedric.borgese@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_wobblywindows
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KWin-Requires-OpenGL=true
X-KWin-Video-Url=http://files.kde.org/plasma/kwin/effect-videos/wobbly_windows.ogv
