[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_wobblywindows_config
X-KDE-ParentComponents=wobblywindows

Name=Wobbly Windows
Name[uk]=Желейні вікна
Name[x-test]=xxWobbly Windowsxx

