[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_lookingglass_config
X-KDE-ParentComponents=lookingglass

Name=Looking Glass
Name[uk]=Збільшувальне скло
Name[x-test]=xxLooking Glassxx
