[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_lookingglass_config
X-KDE-ParentComponents=kwin4_effect_lookingglass

Name=Looking Glass
