[Desktop Entry]
Name=KWin Window Switcher
Name[de]=KWin-Fensterwechsler
Name[pt]=Mudança de Janelas do KWin
Name[sv]=Kwin-fönsterbyte
Name[uk]=Перемикач вікон KWin
Name[x-test]=xxKWin Window Switcherxx
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=kwin_packagestructure_windowswitcher

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=KWin/WindowSwitcher
X-KDE-PluginInfo-Version=1
