[Desktop Entry]
Name=Fade
Icon=preferences-system-windows-effect-fade
Comment=Make windows smoothly fade in and out when they are shown or hidden

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner, Martin Gräßlin
X-KDE-PluginInfo-Email=philip.falkner@gmail.com, mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_fade
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
