[Desktop Entry]
Encoding=UTF-8
Name=RISC OS
Name[af]=risc os
Name[be]=RISC АС
Name[cs]=Risc OS
Name[da]=Risc OS
Name[de]=RISC-OS
Name[eo]=Risc-OS
Name[ko]=리스크 OS
Name[mt]=OS RISC
Name[sl]=OS RISC
Name[th]=ระบบปฏิบัติการบนชิพ RISC
Name[uk]=RISC ОС
Name[xh]=i RISC OS
Name[xx]=xx
Name[zu]=IRISC OS
X-KDE-Library=kwin_riscos
