[Desktop Entry]
Name=Sheet
Name[ca]=Full
Name[ca@valencia]=Full
Name[cs]=List
Name[csb]=Sztél
Name[da]=Ark
Name[de]=Schweben
Name[el]=Φύλλο
Name[et]=Ärakerimine
Name[fi]=Arkki
Name[fr]=Feuilles
Name[ga]=Bileog
Name[gl]=Folla
Name[gu]=શીટ
Name[is]=Blað
Name[ja]=シート
Name[km]=សន្លឹក​
Name[ko]=시트
Name[lv]=Loksne
Name[mai]=शीट
Name[mk]=Лист
Name[ml]=ഷീറ്റ്
Name[nb]=Ark
Name[nds]=Blööd
Name[nn]=Papirfly
Name[pt]=Folha
Name[pt_BR]=Folha
Name[ro]=Foaie
Name[sl]=List
Name[sv]=Blad
Name[tg]=Stylesheets
Name[tr]=Biçimler
Name[uk]=Аркуш
Name[x-test]=xxSheetxx
Name[zh_CN]=飘落
Name[zh_TW]=飄落
Icon=preferences-system-windows-effect-sheet
Comment=Make modal dialogs smoothly fly in and out when they are shown or hidden
Comment[ca]=Fa que els diàlegs modals entrin o surtin volant quan es mostren o s'oculten
Comment[ca@valencia]=Fa que els diàlegs modals entrin o surtin volant quan es mostren o s'oculten
Comment[da]=Få modaldialoger til glat at flyve ind og ud når de vises eller skjules
Comment[de]=Lässt modale Dialogfenster langsam herein- bzw. herausschweben.
Comment[el]=Ομαλή εμφάνιση, απόκρυψη με κίνηση των βοηθητικών παραθύρων
Comment[en_GB]=Make modal dialogues smoothly fly in and out when they are shown or hidden
Comment[et]=Paneb modaalsed dialoogid sujuvalt peale või ära kerima, kui need nähtavale tuuakse või peidetakse
Comment[fr]=Fait voler progressivement en avant ou en arrière les fenêtres lorsqu'elles sont affichées ou cachées
Comment[ga]=Leis seo, eitlíonn dialóga módúla isteach agus amach agus iad á dtaispeáint nó á bhfolú
Comment[gl]=Fai entrar e saír voando ás fiestras modais cando se mostran ou acochan
Comment[is]=Lætur glugga þynnast mjúklega inn eða út, þegar þeir eru endurheimtir eða faldir
Comment[km]=បង្កើត​ប្រអប់​គំរូ​ដោយ​ឲ្យ​ហោះចេញ និង​ចូល​យ៉ាង​រលូន នៅពេល​ពួកវា​ត្រូវ​បានបង្ហាញ ឬ​លាក់
Comment[ko]=모달 대화 상자를 보이거나 숨길 때 부드럽게 날아다니도록 합니다
Comment[lv]=Liek modāliem logiem vienmērīgi atlidot un aizlidot tos parādot un noslēpjot
Comment[nb]=Gjør at modale doaloger flyr inn og ut når de vises eller skjules
Comment[nds]=Modaaldialogen bi't Wiesen oder Versteken week rin- oder rutflegen laten
Comment[nn]=Lat vindauge fly inn/ut når dei vert viste eller gøymde
Comment[pt]=Fazer com que as janelas voem suavemente quando aparecem ou ficam escondidas
Comment[pt_BR]=Faz as janelas voarem suavemente quando são exibidas ou ocultadas
Comment[ro]=Face dialogurile modale să zboare lin cînd sînt afișate sau ascunse
Comment[sl]=Pogovorna okna, ki so vedno na vrhu glavnega okna, priletijo in odletijo kot list papirja
Comment[sv]=Gör att dialogrutor mjukt flyger in eller ut när de visas eller döljs
Comment[tr]=Pencereler gösterilirken ve gizlenirken prüzsüz bir şekilde hareket ettir
Comment[uk]=Робить так, щоб вікна плавно з'являлись / зникали, коли вони показуються або ховаються
Comment[x-test]=xxMake modal dialogs smoothly fly in and out when they are shown or hiddenxx
Comment[zh_CN]=显示或隐藏对话框时，以飘起飘落的形式呈现
Comment[zh_TW]=顯示或隱藏對話框時以飄下來、飄上去的方式呈現

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_sheet
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=60
