[Desktop Entry]
Name=Sliding popups
Name[da]=Glidende pop-op'er
Name[el]=Κυλιόμενα αναδυόμενων
Name[en_GB]=Sliding popups
Name[eo]=Lumbilda ŝprucfenestroj
Name[et]=Liuguvad hüpikdialoogid
Name[gl]=Fiestras emerxentes deslizantes
Name[hr]=Pomični iskočnici
Name[id]=Menggeser popup
Name[kk]=Қалқымалыларды сырғанату
Name[lt]=Slystantys elementai
Name[nb]=Glidende oppsprett
Name[nds]=Glieden Opdukers
Name[nl]=Schuivende popups
Name[nn]=Glidande sprettoppvindauge
Name[pt]=Mensagens deslizantes
Name[pt_BR]=Mensagens instantâneas deslizantes
Name[ru]=Анимация всплывающих окон
Name[sv]=Glidande rutor
Name[tr]=Kayan bildirimler
Name[uk]=Ковзні контекстні вікна
Name[x-test]=xxSliding popupsxx
Name[zh_TW]=滑動彈出視窗

Type=Service
Comment=Sliding animation for Plasma popups
Comment[da]=Glidende animation til Plasma-pop-op'er
Comment[el]=Γραφικά κύλισης για αναδυόμενα από το Plasma
Comment[en_GB]=Sliding animation for Plasma popups
Comment[eo]=Glitantaj animacioj por Plasma ŝprucfenestro
Comment[et]=Plasma hüpikdialoogide liuguv animatsioon
Comment[gl]=Animación deslizantes para os widgets de Plasma emerxentes
Comment[hr]=Animacija pomicanja za Plasma iskočnike
Comment[id]=Animasi menggeser untuk popup Plasma
Comment[kk]=Plasma қалқымалылардың сырғанауын анимациялау
Comment[lt]=Slydimo animacija Plasma pasirodantiems elementams
Comment[nb]=Glidende animasjon for Plasma-oppsprett
Comment[nds]=Plasma sien Opdukfinstern gliedt över den Schriefdisch
Comment[nl]=Schuivende animaties voor Plasma-popups
Comment[pt]=Animação deslizante para as mensagens do Plasma
Comment[pt_BR]=Animação deslizante para as mensagens instantâneas do Plasma
Comment[sv]=Glidande animering av Plasmarutor
Comment[tr]=Açılan Plasma bildirimleri için kaydırma canlandırması
Comment[uk]=Анімація з ковзанням для контекстних вікон Плазми
Comment[x-test]=xxSliding animation for Plasma popupsxx
Comment[zh_TW]=Plasma 彈出視窗的滑動動畫

Icon=preferences-system-windows-effect-slidingpopups
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_slidingpopups
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
