# KDE Desktop Entry
[Desktop Entry]
Name=Ozone
Name[bn_IN]=Ozone (ওজোন)
Name[de]=Ozon
Name[es]=Ozono
Name[gu]=ઓઝોન
Name[it]=Ozono
Name[km]=អូហ្សូន
Name[mk]=Озон
Name[ml]=ഓസോണ്‍
Name[nn]=Ozon
Name[pa]=ਓਜ਼ੋਨ
Name[ro]=Ozon
Name[ru]=Озон
Name[sl]=Ozon
Name[sr]=Озон
Name[th]=โอโซน
Name[uk]=Озон
Name[x-test]=xxOzonexx
Name[zh_CN]=臭氧
X-KDE-Library=kwin3_ozone
