# KDE Desktop Entry
[Desktop Entry]
Name=Ozone
Name[de]=Ozon
Name[gu]=ઓઝોન
Name[km]=អូហ្សូន
Name[ml]=ഓസോണ്‍
Name[pa]=ਓਜ਼ੋਨ
Name[ro]=Ozon
Name[sl]=Ozon
Name[th]=โอโซน
Name[uk]=Озон
Name[x-test]=xxOzonexx
Name[zh_CN]=臭氧
X-KDE-Library=kwin3_ozone
