[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_magnifier_config
X-KDE-ParentComponents=magnifier

Name=Magnifier
Name[uk]=Лупа
Name[x-test]=xxMagnifierxx
