[Desktop Entry]
Name=Magnifier
Name[af]=Vergroter
Name[ar]=المكبّر
Name[ast]=Llupa
Name[be]=Павелічальная лупа
Name[be@latin]=Lupa
Name[bg]=Увеличител
Name[bn]=ম্যাগনিফায়ার
Name[bs]=Uveličavač
Name[ca]=Lupa
Name[ca@valencia]=Lupa
Name[cs]=Lupa
Name[csb]=Zwikszanié
Name[da]=Forstørrelsesglas
Name[de]=Lupe
Name[el]=Μεγεθυντής
Name[en_GB]=Magnifier
Name[eo]=Pligrandigilo
Name[es]=Lupa
Name[et]=Suurendaja
Name[eu]=Handitzailea
Name[fa]=ذره‌بین
Name[fi]=Suurennuslasi
Name[fr]=Loupe
Name[fy]=Fergrutter
Name[ga]=Formhéadaitheoir
Name[gl]=Lupa
Name[gu]=મોટું કરનાર
Name[he]=זכוכית מגדלת
Name[hi]=आतिशी शीशा
Name[hne]=आतिसी सीसा
Name[hr]=Povećalo
Name[hu]=Nagyító
Name[ia]=Aggranditor
Name[id]=Pembesar
Name[is]=Stækkunargler
Name[it]=Lente d'ingrandimento
Name[ja]=虫めがね
Name[kk]=Ұлғайтқыш
Name[km]=X Magnifier
Name[kn]=ವರ್ಧಕ (ಮಸೂರ)
Name[ko]=돋보기
Name[ku]=Mezinker
Name[lt]=Didinamasis stiklas
Name[lv]=Palielinātājs
Name[mai]=आवर्धक
Name[mk]=Лупа
Name[ml]=ഭൂതകണ്ണാടി
Name[mr]=वर्धक
Name[nb]=Lupe
Name[nds]=Kiekglas
Name[ne]=परिमार्जक
Name[nl]=Vergrootglas
Name[nn]=Forstørr skjermdel
Name[oc]=Lópia
Name[pa]=ਵੱਡਦਰਸ਼ੀ
Name[pl]=Powiększenie
Name[pt]=Lupa
Name[pt_BR]=Lente de aumento
Name[ro]=Lupă
Name[ru]=Лупа
Name[se]=Stuorideaddji
Name[si]=විශාලකය
Name[sk]=Lupa
Name[sl]=Povečevalnik
Name[sr]=Увеличавач
Name[sr@ijekavian]=Увеличавач
Name[sr@ijekavianlatin]=Uveličavač
Name[sr@latin]=Uveličavač
Name[sv]=Förstoringsglas
Name[ta]=பெரிதாக்கி
Name[te]=మాగ్నిఫైర్
Name[tg]=Увеличитель
Name[th]=แว่นขยาย
Name[tr]=Büyüteç
Name[ug]=لوپا ئەينەك
Name[uk]=Лупа
Name[uz]=Kattalashtiruvchi
Name[uz@cyrillic]=Катталаштирувчи
Name[vi]=Kính lúp
Name[wa]=Magnifieu
Name[x-test]=xxMagnifierxx
Name[zh_CN]=放大镜
Name[zh_TW]=放大鏡
Icon=preferences-system-windows-effect-magnifier
Comment=Magnify the section of the screen that is near the mouse cursor
Comment[ar]=يكبر الجزء من الشاشة الذي يوجد بالقرب من مؤشر الفأرة
Comment[ast]=Amplía la parte de la pantalla que ta embaxo'l mur
Comment[be@latin]=Pavialičvaje častku ekrana pad kursoram myšy.
Comment[bg]=Увеличава частта от екрана, която е под мишката
Comment[bs]=Uveličajte dio ekrana u blizini pokazivača miša
Comment[ca]=Amplia la secció de la pantalla que està prop del cursor del ratolí
Comment[ca@valencia]=Amplia la secció de la pantalla que està prop del cursor del ratolí
Comment[cs]=Zvětší část obrazovky, která je poblíž ukazatele myši
Comment[csb]=Zwikszô dzél ekranë pòd kùrsorã mëszë
Comment[da]=Forstørrer den del af skærmen som er omkring musemarkøren
Comment[de]=Vergrößert den Arbeitsflächenbereich unter der Maus.
Comment[el]=Μεγέθυνση του τμήματος της οθόνης που βρίσκεται κοντά στο ποντίκι
Comment[en_GB]=Magnify the section of the screen that is near the mouse cursor
Comment[eo]=Grandigas la parton de la ekrano sub la muso
Comment[es]=Amplía la parte de la pantalla que cerca bajo el ratón
Comment[et]=Suurendab hiirekursori ümbruses asuvat ekraaniosa
Comment[eu]=Handitu sagu kurtsorearen ondoan dagoen leihoaren zatia
Comment[fi]=Suurentaa hiiren alla olevan osan ruudusta
Comment[fr]=Agrandit la partie de l'écran proche du pointeur de la souris
Comment[fy]=Fergruttet it part fan it skerm dat him ûnder de mûs befynt
Comment[ga]=Formhéadaigh an pháirt den scáileán i ngar do chúrsóir na luiche
Comment[gl]=Amplía a parte da pantalla que está perto do rato
Comment[gu]=માઉસ કર્સર નજીકનો સ્ક્રિનનો ભાગ મોટો કરે છે
Comment[he]=הגדלת חלק המסך הנמצא ליד מצביע העכבר
Comment[hi]=माउस संकेतक के चारों ओर का चयनित क्षेत्र आवर्धित होगा
Comment[hne]=मुसुवा के आसपास के स्क्रीन जगह ल आवर्धित करथे 
Comment[hr]=Povećanje dijela ekrana koji je blizu pokazivača miša
Comment[hu]=Felnagyítja az egérmutató alatti területet
Comment[ia]=Aggrandi le section del schermo que es vicin al cursor del mus
Comment[id]=Besarkan bagian layar yang dekat dengan kursor tetikus
Comment[is]=Stækkar þann hluta skjásins sem er undir músarbendlinum
Comment[it]=Ingrandisce la parte dello schermo vicina al cursore del mouse
Comment[ja]=マウスカーソルの近くの領域を拡大します
Comment[kk]=Тышқанның астындағы экран бөлігін ұлғайтып көрсетеді
Comment[km]=ពង្រីក​ផ្នែក​នៃ​អេក្រង់​​​ដែល​នៅ​ជិត​ទស្សន៍ទ្រនិច​កណ្ដុរ​
Comment[kn]=ಮೂಷಕದ ಕೆಳಗಿನ ತೆರೆಯ ಭಾಗವನ್ನು ಹಿಗ್ಗಿಸಿ ತೋರಿಸು
Comment[ko]=마우스 커서 근처에 있는 화면을 확대합니다
Comment[lt]=Padidina ekrano dalį, esančią netoli pelės
Comment[lv]=Rāda palielinātu daļu no ekrāna zem peles kursora
Comment[mk]=Го зголемува делот од екранот што е близу покажувачот од глушецот
Comment[ml]=മൌസിനടുത്തുള്ള സ്ക്രീനിന്റെ ഭാഗം വലുതാക്കിക്കാണിക്കുന്നു.
Comment[nb]=Forstørrer den delen av skjermen som er nær musepekeren
Comment[nds]=Den Deel vun den Schirm rund den Muuswieser grötter maken
Comment[nl]=Vergroot het deel van het scherm dat zich onder de muis bevindt
Comment[nn]=Forstørr delen av skjermen som er under musepeikaren
Comment[pa]=ਸਕਰੀਨ ਦਾ ਭਾਗ ਵੱਡਾ ਕਰਕੇ ਵੇਖਾਓ, ਜੋ ਕਿ ਮਾਊਸ ਕਰਸਰ ਦੇ ਕੋਲ ਹੋਵੇ
Comment[pl]=Powiększenie fragmentu ekranu znajdującego się pod kursorem
Comment[pt]=Ampliar a parte do ecrã que está sob o rato
Comment[pt_BR]=Amplia a seção da tela próxima ao ponteiro do mouse
Comment[ro]=Mărește zona de ecran de lîngă cursorul mausului
Comment[ru]=Показ части экрана у курсора мыши под увеличительным стеклом
Comment[si]=මවුස කර්සරයට ආසන්න තිරයේ කොටස විශාල කරන්න
Comment[sk]=Zväčší časť obrazovky, ktorá je okolo kurzora myši
Comment[sl]=Poveča del zaslona, ki je okoli miškinega kazalca
Comment[sr]=Увеличајте део екрана у близини показивача миша
Comment[sr@ijekavian]=Увеличајте дио екрана у близини показивача миша
Comment[sr@ijekavianlatin]=Uveličajte dio ekrana u blizini pokazivača miša
Comment[sr@latin]=Uveličajte deo ekrana u blizini pokazivača miša
Comment[sv]=Förstorar den del av skärmen som är nära muspekaren
Comment[ta]=Magnify the section of the screen that is near the mouse cursor
Comment[th]=แว่นขยายบางส่วนของหน้าจอที่อยู่ใกล้กับตัวชี้ของเมาส์
Comment[tr]=Farenin altındaki ekran bölümünü büyüt
Comment[ug]=چاشقىنەك نۇر بەلگىسى ئەتراپىنى چوڭايتىدۇ
Comment[uk]=Збільшення частини екрана поруч з вказівником миші
Comment[x-test]=xxMagnify the section of the screen that is near the mouse cursorxx
Comment[zh_CN]=放大鼠标指针附近的屏幕
Comment[zh_TW]=將滑鼠游標附近的部份視窗放大

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_magnifier
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
