[Desktop Entry]
Name=eye On Screen
Name[ca]=Ull a la pantalla
Name[ca@valencia]=Ull a la pantalla
Name[cs]=oko na obrazovce
Name[da]=øjet på skærmen
Name[de]=Ansicht der Arbeitsfläche
Name[el]=μάτι Στην Οθόνη
Name[en_GB]=eye On Screen
Name[es]=Ojo a la pantalla
Name[et]=eye On Screen
Name[eu]=begia pantailan
Name[fi]=eye On Screen
Name[fr]=Jeter un oeil sur le bureau
Name[gl]=Ollo na pantalla
Name[he]=עין על המסך
Name[hu]=Ide figyelj!
Name[id]=mata Di Layar
Name[it]=eye On Screen
Name[ja]=eye On Screen
Name[ko]=화면 위의 눈
Name[nb]=øye på Skjerm
Name[nl]=eye On Screen
Name[nn]=Auge på skjerm
Name[pa]=ਸਕਰੀਨ 'ਤੇ ਅੱਖ
Name[pl]=Oko na ekranie
Name[pt]=Olho no Ecrã
Name[pt_BR]=Olho na tela
Name[ro]=ochi pe ecran
Name[ru]=Втягивание окон в центр экрана
Name[sk]=oko na obrazovke
Name[sl]=Oko na zaslonu
Name[sr]=Око на екрану
Name[sr@ijekavian]=Око на екрану
Name[sr@ijekavianlatin]=Oko na ekranu
Name[sr@latin]=Oko na ekranu
Name[sv]=Ögat på skärmen
Name[tr]=Ekrandaki göz
Name[uk]=Око на екрані
Name[x-test]=xxeye On Screenxx
Name[zh_CN]=注视屏幕
Name[zh_TW]=螢幕之眼
Icon=preferences-system-windows-effect-eyeonscreen
Comment=Suck windows into desktop to show the latter. This might remind you of something.
Comment[ca]=Enganxa les finestres a l'escriptori per a mostrar la darrera. Això podria recordar-vos quelcom.
Comment[ca@valencia]=Enganxa les finestres a l'escriptori per a mostrar la darrera. Això podria recordar-vos alguna cosa.
Comment[da]=Sug vinduer ind i skrivebordet for at vise dette. Måske minder det dig om noget.
Comment[de]=Saugt Fenster in die Arbeitsfläche, um sie anzuzeigen.
Comment[el]=Απορρόφησε το παράθυρο στην επιφάνεια εργασίας για να δείξεις το τελευταίο. Αυτό ίσως σου υπενθυμίσει κάτι.
Comment[en_GB]=Suck windows into desktop to show the latter. This might remind you of something.
Comment[es]=Succionar las ventanas en el escritorio para mostrarlo. Esto debe recordarle algo.
Comment[et]=Imeb aknad töölauda ja näitab viimast. See võib midagi meenutada ...
Comment[eu]=Xurgatu mahaigaineko leihoak, berau erakusteko. Honek zer edo zer gogoraraziko diezazuke.
Comment[fi]=Imee ikkunat työpöytään näyttääkseen sen. Tämä saattaa muistuttaa sinua jostain.
Comment[fr]=Aspire toutes les fenêtres pour afficher le bureau.
Comment[gl]=Que o escritorio succione as xanelas para mostrarse. Isto pode que lle recorde a algo.
Comment[he]=שואב חלונות לשולחן עבודה כדי להראות את האחרון, זה אולי יזכיר לך משהו
Comment[hu]=Az asztalba szippantja az ablakokat az asztal megjelenítéséhez, hogy ezzel valami fontosra emlékeztesse.
Comment[id]=Cucutkan window ke desktop untuk tampil kelak. Ini mungkin mengingatkanmu tentang sesuatu.
Comment[it]=Risucchia le finestre nel desktop per mostrare l'ultima. Potrebbe ricordarti qualcosa.
Comment[ko]=창을 바탕 화면으로 흡수시켜 바탕 화면을 표시합니다.
Comment[nb]=Sug vinduer inn i skrivebordet for å vise det. Dette minner deg kanskje om noe.
Comment[nl]=Laat vensters wegzinken in het bureaublad om deze te tonen. Dit kan u aan iets herinneren.
Comment[nn]=Sug vindauge inn i skrivebordet for å visa skrivebordet. Dette minner deg kanskje om noko.
Comment[pl]=Zasysa okna, aby pokazać pulpit. Skojarzenia powinny nasuwać się same.
Comment[pt]=Suga as janelas para o ecrã mostrar a última. Isto podê-lo-á recordar de algo.
Comment[pt_BR]=Suga as janelas na área de trabalho para mostrar a última. Isso pode lembrá-lo de algo.
Comment[ru]=Для просмотра рабочего стола окна временно втягиваются в центр экрана
Comment[sk]=Prisaje okná na plochu na zobrazenie druhého. 
Comment[sl]=Posrka okna v namizje, da je to prikazano. To vas bo morda na nekaj spomnilo.
Comment[sr]=Усисава прозоре у површ да би је приказао. Можда вас подсети на нешто.
Comment[sr@ijekavian]=Усисава прозоре у површ да би је приказао. Можда вас подсети на нешто.
Comment[sr@ijekavianlatin]=Usisava prozore u površ da bi je prikazao. Možda vas podseti na nešto.
Comment[sr@latin]=Usisava prozore u površ da bi je prikazao. Možda vas podseti na nešto.
Comment[sv]=Sug in fönster i skrivbordet för att visa det senare. Det kanske påminner dig om någonting.
Comment[tr]=İlerisini göstermek için pencereleri masaüstüne topla. Bu size bir şey hatırlatabilir.
Comment[uk]=Втягнути вікна до стільниці, щоб показати останню. Так вам простіше буде щось згадати.
Comment[x-test]=xxSuck windows into desktop to show the latter. This might remind you of something.xx
Comment[zh_CN]=将窗口吸入桌面并显示桌面。这可能会让您想起什么。
Comment[zh_TW]=將視窗「吸」入桌面。

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_eyeonscreen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Ordering=50
