[Desktop Entry]
Name=eye On Screen
Name[gl]=Ollo na pantalla
Name[nl]=eye On Screen
Name[pt]=Olho no Ecrã
Name[sk]=oko na obrazovke
Name[sv]=Ögat på skärmen
Name[uk]=Око на екрані
Name[zh_CN]=注视屏幕
Icon=preferences-system-windows-effect-eyeonscreen
Comment=Suck windows into desktop to show the latter. This might remind you of something.
Comment[gl]=Que o escritorio succione as xanelas para mostrarse. Isto pode que lle recorde a algo.
Comment[nl]=Laat vensters wegzinken in het bureaublad om deze te tonen. Dit kan u aan iets herinneren.
Comment[pt]=Suga as janelas para o ecrã mostrar a última. Isto podê-lo-á recordar de algo.
Comment[sk]=Prisaje okná na plochu na zobrazenie druhého. 
Comment[sv]=Sug in fönster i skrivbordet för att visa det senare. Det kanske påminner dig om någonting.
Comment[uk]=Втягнути вікна до стільниці, щоб показати останню. Так вам простіше буде щось згадати.
Comment[zh_CN]=将窗口吸入桌面并显示桌面。这可能会让你想起什么。

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_eyeonscreen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Ordering=50
