[Desktop Entry]
Name=Eye on Screen
Name[ca]=Ull a la pantalla
Name[cs]=Oko na obrazovce
Name[en_GB]=Eye on Screen
Name[es]=Ojo a la pantalla
Name[et]=Eye on Screen
Name[eu]=Begirada pantailan
Name[id]=Mata di Layar
Name[it]=Eye On Screen
Name[ko]=화면 위의 눈
Name[lt]=Akis ekrane
Name[nl]=Oog op scherm
Name[nn]=Auge på skjerm
Name[pt]=Olho no Ecrã
Name[pt_BR]=Olho na tela
Name[ru]=Втягивание окон в центр экрана
Name[sl]=Oko na zaslonu
Name[sv]=Ögat på skärmen
Name[uk]=Око на екрані
Name[x-test]=xxEye on Screenxx
Name[zh_CN]=关注屏幕
Name[zh_TW]=螢幕之眼
Icon=preferences-system-windows-effect-eyeonscreen
Comment=Suck windows into the desktop
Comment[ca]=Enganxa les finestres a l'escriptori
Comment[en_GB]=Suck windows into the desktop
Comment[es]=Aspirar las ventanas en el escritorio
Comment[et]=Akende imemine töölauale
Comment[eu]=Mahaigainak leihoak xurgatu
Comment[id]=Sedot window ke desktop
Comment[it]=Risucchia le finestre nel desktop
Comment[ko]=창을 바탕 화면으로 흡수
Comment[lt]=Įtraukti langus į darbalaukį
Comment[nl]=Zuig vensters in het bureaublad
Comment[nn]=Sug vindauge inn i skrivebordet
Comment[pt]=Aspira as janelas para o ecrã
Comment[pt_BR]=Suga as janelas para a área de trabalho
Comment[ru]=Втягивание окон в центр рабочего стола
Comment[sl]=Prisesa okna na namizje
Comment[sv]=Sug in fönster i skrivbordet
Comment[uk]=Засмоктування вікон до стільниці
Comment[x-test]=xxSuck windows into the desktopxx
Comment[zh_CN]=将窗口吸收到桌面
Comment[zh_TW]=將視窗吸進桌面

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_eyeonscreen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Show Desktop Animation
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Ordering=50
X-KWin-Exclusive-Category=show-desktop
