[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_magiclamp
X-KDE-PluginKeyword=magiclamp

Name=Magic Lamp
Name[ar]=المصباح السحري
Name[ast]=Llámpara máxica
Name[be@latin]=Mahičnaja lampa
Name[bg]=Вълшебна лампа
Name[bs]=Magična lampa
Name[ca]=Làmpada màgica
Name[ca@valencia]=Làmpada màgica
Name[cs]=Magická lampa
Name[da]=Magisk lampe
Name[de]=Wunderlampe
Name[el]=Μαγικό λυχνάρι
Name[en_GB]=Magic Lamp
Name[eo]=Magia Lampo
Name[es]=Lámpara mágica
Name[et]=Imelamp
Name[eu]=Lanpara magikoa
Name[fi]=Taikalamppu
Name[fr]=Lampe Magique
Name[fy]=Magyske lamp
Name[ga]=Lampa Draíochtach
Name[gl]=Lámpada máxica
Name[gu]=જાદુઇ દિવો
Name[he]=מנורת קסמים
Name[hi]=जादुई बल्ब
Name[hne]=मैजिक लेम्प
Name[hr]=Čarobna svjetiljka
Name[hu]=Varázslámpa
Name[ia]=Lampa Magic
Name[id]=Lampu Ajaib
Name[is]=Töfralampi
Name[it]=Lampada magica
Name[ja]=魔法のランプ
Name[kk]=Сиқырлы шырақ
Name[km]=អំពូល​មន្តអាគមន៍
Name[kn]=ಮಾಂತ್ರಿಕ ದೀಪ
Name[ko]=요술 램프
Name[lt]=Magiška lempa
Name[lv]=Maģiskā lampa
Name[mai]=जादुइ चिराग
Name[mk]=Магична ламба
Name[ml]=മാന്ത്രിക വിളക്ക്
Name[nb]=Magic Lamp
Name[nds]=Töverlamp
Name[nl]=Magische lamp
Name[nn]=Magisk lampe
Name[pa]=ਮੈਜਿਕ ਲੈਂਪ
Name[pl]=Magiczna lampa
Name[pt]=Lâmpada Mágica
Name[pt_BR]=Lâmpada mágica
Name[ro]=Lampă fermecată
Name[ru]=Волшебная лампа
Name[si]=මැජික් ලාම්පුව
Name[sk]=Magická lampa
Name[sl]=Magična svetilka
Name[sr]=Магична лампа
Name[sr@ijekavian]=Магична лампа
Name[sr@ijekavianlatin]=Magična lampa
Name[sr@latin]=Magična lampa
Name[sv]=Magisk lanterna
Name[ta]=Magic Lamp
Name[te]=మాజిక్ లాంప్
Name[tg]=Contact - чароғ
Name[th]=ตะเกียงวิเศษ
Name[tr]=Sihirli Lamba
Name[ug]=سېھىرلىك چىراغ
Name[uk]=Чарівна лампа
Name[vi]=Đèn thần
Name[wa]=Madjike lampe
Name[x-test]=xxMagic Lampxx
Name[zh_CN]=魔灯
Name[zh_TW]=魔法燈
