[Desktop Entry]
Name=Translucency
Name[nl]=Transparatie
Name[uk]=Прозорість
Name[x-test]=xxTranslucencyxx
Icon=preferences-system-windows-effect-translucency
Comment=Make windows translucent under different conditions
Comment[nl]=Maakt vensters doorschijnend onder andere condities
Comment[uk]=Додавання прозорості до вікон за різних умов
Comment[x-test]=xxMake windows translucent under different conditionsxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect,KCModule
X-KDE-PluginInfo-Author=Luboš Luňák, Martin Gräßlin
X-KDE-PluginInfo-Email=l.lunak@kde.org, mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_translucency
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=50
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginKeyword=kwin4_effect_translucency
X-KDE-Library=kcm_kwin4_genericscripted
X-KDE-ParentComponents=kwin4_effect_translucency
