[Desktop Entry]
Name=Slide
Name[ar]=أزْلِق
Name[ast]=Eslizar
Name[bg]=Приплъзване
Name[bs]=Klizanje
Name[ca]=Diapositiva
Name[ca@valencia]=Diapositiva
Name[cs]=Sklouznutí
Name[csb]=Pùrganié
Name[da]=Glid
Name[de]=Gleiten
Name[el]=Κύλιση
Name[en_GB]=Slide
Name[eo]=Lumbildo
Name[es]=Deslizar
Name[et]=Liuglemine
Name[eu]=Diapositiba
Name[fi]=Liu’utus
Name[fr]=Glisser
Name[fy]=Glydzje
Name[ga]=Sleamhnaigh
Name[gl]=Deslizar
Name[gu]=સ્લાઇડ
Name[he]=החלקה
Name[hi]=स्लाइड
Name[hne]=स्लाइड
Name[hr]=Pomak
Name[hu]=Csúsztatott váltás
Name[ia]=Glissa
Name[id]=Geser
Name[is]=Renna til
Name[it]=Scivola
Name[ja]=スライド
Name[kk]=Сырғанату
Name[km]=ស្លាយ
Name[kn]=ಜಾರು
Name[ko]=슬라이드
Name[ku]=Xîş Bike
Name[lt]=Slinktis
Name[lv]=Slīdēt
Name[mai]=स्लाइड
Name[ml]=തെന്നിമാറുക
Name[nb]=Skyv
Name[nds]=Glieden
Name[nl]=Schuiven
Name[nn]=Skliding
Name[pa]=ਸਲਾਈਡ
Name[pl]=Slajd
Name[pt]=Deslizar
Name[pt_BR]=Deslizar
Name[ro]=Alunecă
Name[ru]=Прокрутка
Name[si]=ලිස්සන්න
Name[sk]=Posúvať
Name[sl]=Drsenje
Name[sr]=Клизање
Name[sr@ijekavian]=Клизање
Name[sr@ijekavianlatin]=Klizanje
Name[sr@latin]=Klizanje
Name[sv]=Glid
Name[ta]=நழுவு
Name[tg]=Слайд
Name[th]=เลื่อนหน้าต่าง
Name[tr]=Kaydır
Name[ug]=تام تەسۋىر
Name[uk]=Ковзання
Name[x-test]=xxSlidexx
Name[zh_CN]=滑行
Name[zh_TW]=滑動
Icon=preferences-system-windows-effect-slide
Comment=Slide windows across the screen when switching virtual desktops
Comment[ar]=يُزلق النوافذ عبر الشاشة عند التبديل بين الأسطح الافتراضية
Comment[ast]=Esliza les ventanes pela pantalla cuando camuda los escritorios virtuales
Comment[bg]=Приплъзване на прозорците при превключване на плотовете
Comment[bs]=Kliza prozore preko ekrana pri smijeni virtuelnih površi
Comment[ca]=Desplaça les finestres per la pantalla en canviar els escriptoris virtuals
Comment[ca@valencia]=Desplaça les finestres per la pantalla en canviar els escriptoris virtuals
Comment[cs]=Sklouzne okna přes obrazovku při přepínání virtuálních ploch
Comment[csb]=Pùrgô òkna przë zmianié wirtualnëch pùltów
Comment[da]=Glid vinduer henover skærmen ved skift af virtuelt skrivebord
Comment[de]=Lässt Fenster beim Arbeitsflächenwechsel über den Bildschirm gleiten.
Comment[el]=Κύλιση παραθύρων κατά μήκος της οθόνης όταν γίνεται εναλλαγή επιφανειών εργασίας
Comment[en_GB]=Slide windows across the screen when switching virtual desktops
Comment[eo]=Glitigu fenestrojn tra la ekrano kiam la virtuala labortablo ŝanĝiĝas
Comment[es]=Desliza las ventanas por la pantalla cuando cambia los escritorios virtuales
Comment[et]=Akende liuglemine üle ekraani töölaudade vahetamisel
Comment[eu]=Mugitu leihoak diapositiba gisa pantailaren zehar laneko areaz aldatzean
Comment[fi]=Liu'uttaa ikkunoita virtuaalityöpöytää vaihdettaessa
Comment[fr]=Fait glisser les fenêtres à travers le bureau en changeant de bureaux virtuels
Comment[fy]=Glydet finsters oer it skerm hinne as der wiksele wurdt tusken firtuele buroblêden
Comment[ga]=Sleamhnaigh fuinneoga trasna an scáileáin agus an deasc fhíorúil á hathrú
Comment[gl]=Desliza as xanelas pola pantalla ao trocar de escritorio virtual
Comment[gu]=વર્ચ્યુઅલ ડેસ્કટોપ્સ બદલતી વખતે વિન્ડોસને સ્લાઇડ કરો
Comment[he]=החלקת החלונות על פני המסך במעבר בין שולחנות עבודה וירטואליים
Comment[hi]=जब आभासी डेस्कटॉप में स्विच कर रहे हों तो विंडो को स्क्रीन से आरपार स्लाइड करें
Comment[hne]=जब आभासी डेस्कटाप मं स्विच करथे तब स्क्रीन के आरपार विंडो ल फिसलाथे
Comment[hr]=Pomakne prozore preko ekrana prilikom promjene virtualne radne površine
Comment[hu]=Más virtuális asztalra történő átváltáskor az ablakok "elcsúsznak"
Comment[ia]=Glissa fenestra a transverso de le schermo quando on commuta scriptorios
Comment[id]=Geser jendela ke seluruh layar ketika berpindah desktop virtual
Comment[is]=Renna gluggum yfir skjáinn þegar skipt er um sýndarskjáborð
Comment[it]=Scivola tra i desktop virtuali quando li cambi
Comment[ja]=仮想デスクトップの切り替え時にウィンドウをスクリーン上でスライドさせます
Comment[kk]=Басқа виртуалды үстелге ауысқанда терезелерді экрандан сырғанату
Comment[km]=បង្អួច​ស្លាយ​កាត់​អេក្រង់​នៅពេល​ប្ដូរ​ផ្ទៃតុ​និម្មិត
Comment[kn]=ವಾಸ್ತವಪ್ರಾಯ ಗಣಕತೆರೆಗಳನ್ನು ಬದಲಾಯಿಸುವಾಗ ಕಿಟಕಿಗಳನ್ನು ತೆರೆಯ ಮೂಲಕ ಜಾರುವಂತೆ ಮಾಡು
Comment[ko]=가상 데스크톱 사이를 전환할 때 슬라이딩 효과를 사용합니다
Comment[lt]=Perslenka langus per ekraną pereinant iš vieno darbastalio į kitą
Comment[lv]=Slīdina logus pa ekrānu, kad pārslēdz virtuālās darbvirsmas
Comment[ml]=വിര്‍ച്ച്വല്‍ പണിയിടങ്ങള്‍ തമ്മില്‍ മാറുമ്പോള്‍ ജാലകങ്ങള്‍ സ്ക്രീനിനു് കുറുകെ തെന്നി മാറട്ടെ
Comment[nb]=La vinduene skli over skjermen når du bytter virtuelt skrivebord
Comment[nds]=Bi't Wesseln vun den Schriefdisch Finstern över den Schirm glieden laten
Comment[nl]=Schuift vensters over het scherm tijdens het wisselen van bureaublad
Comment[nn]=La vindauga skli bortover skjermen ved veksling mellom skrivebord
Comment[pa]=ਜਦੋਂ ਵੁਰਚੁਅਲ ਡੈਸਕਟਾਪਾਂ ਨੂੰ ਬਦਲਣਾ ਹੋਵੇ ਤਾਂ ਵਿੰਡੋਜ਼ ਸਕਰੀਨ ਉੱਤੇ ਵੇਖੋ
Comment[pl]=Przesunięcie okien przez ekran podczas przełączania wirtualnych pulpitów
Comment[pt]=Deslizar as janelas pelo ecrã ao mudar de ecrãs virtuais
Comment[pt_BR]=Desliza as janelas pela tela ao alternar entre as áreas de trabalho virtuais
Comment[ro]=Alunecă ferestrele de-a lungul ecranului la comutarea birourilor virtuale
Comment[ru]=Использовать эффект прокрутки при переходе на другой рабочий стол
Comment[si]=අතත්‍ය වැඩතල මාරුවීමේදී කවුළු තිරය හරහා ලිස්සා යන්න
Comment[sk]=Efekt posúvania okien pri prepínaní virtuálnych plôch
Comment[sl]=Med preklapljanjem med navideznimi namizji okna drsijo prek zaslona
Comment[sr]=Клиза прозоре преко екрана при смени виртуелних површи
Comment[sr@ijekavian]=Клиза прозоре преко екрана при смјени виртуелних површи
Comment[sr@ijekavianlatin]=Kliza prozore preko ekrana pri smjeni virtuelnih površi
Comment[sr@latin]=Kliza prozore preko ekrana pri smeni virtuelnih površi
Comment[sv]=Låt fönster glida över skärmen vid byte av virtuella skrivbord
Comment[ta]=திரை மேசைத் தோற்றங்களை மாற்றுகயில் திரை நெடுகே சாளரத்தை நழுவ விடு
Comment[th]=เลื่อนหน้าต่างข้ามหน้าจอเมื่อมีการสลับพื้นที่ทำงานเสมือน
Comment[tr]=Sanal masaüstü değiştirildiğinde pencereleri kaydır
Comment[ug]=مەۋھۇم ئۈستەلئۈستىنى ئالماشتۇرغاندا كۆزنەك تام تەسۋىردەك ئۆتىدۇ
Comment[uk]=Ковзання вікон вздовж стільниці, під час перемикання стільниць
Comment[x-test]=xxSlide windows across the screen when switching virtual desktopsxx
Comment[zh_CN]=当切换虚拟桌面时，让窗口滑行穿过屏幕
Comment[zh_TW]=切換虛擬桌面時讓視窗滑過螢幕

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_slide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
