[Desktop Entry]
Name=Previews
Name[bs]=Pregledi
Name[ca]=Vistes prèvies
Name[ca@valencia]=Vistes prèvies
Name[cs]=Náhledy
Name[da]=Forhåndsvisninger
Name[de]=Vorschauen
Name[el]=Προεπισκοπήσεις
Name[es]=Vistas previas
Name[fi]=Esikatselut
Name[fr]=Aperçus
Name[gl]=Vistas previas
Name[hu]=Előnézetek
Name[ia]=Vistas preliminar
Name[it]=Anteprima
Name[kk]=Алдын-ала қарау
Name[ko]=미리 보기
Name[lt]=Peržiūros
Name[nb]=Forhåndsvisninger
Name[nl]=Voorbeelden
Name[pa]=ਝਲਕ
Name[pl]=Podglądy
Name[pt]=Antevisões
Name[pt_BR]=Visualizações
Name[ro]=Previzualizări
Name[ru]=Миниатюры
Name[sk]=Náhľady
Name[sl]=Predogledi
Name[sr]=Прегледи
Name[sr@ijekavian]=Прегледи
Name[sr@ijekavianlatin]=Pregledi
Name[sr@latin]=Pregledi
Name[sv]=Förhandsgranskningar
Name[tr]=Önizlemeler
Name[uk]=Ескізи
Name[x-test]=xxPreviewsxx
Name[zh_CN]=预览
Name[zh_TW]=預覽
Comment=A desktop switcher layout with previews of the desktops
Comment[bs]=Raspored preklapanja radnih površina s pregledima radnih površina
Comment[ca]=Una disposició del commutador d'escriptori amb vistes prèvies dels escriptoris
Comment[ca@valencia]=Una disposició del commutador d'escriptori amb vistes prèvies dels escriptoris
Comment[da]=Et layout til skrivebordsskift med forhåndsvisning af skrivebordene
Comment[de]=Ein Arbeitsflächenwechsler mit Vorschauen der Arbeitsflächen
Comment[el]=Εναλλαγή επιφάνειας εργασίας με προεπισκοπήσεις των επιφανειών
Comment[es]=Un esquema del cambiador de escritorios con vistas previas de los escritorios
Comment[fi]=Työpöydänvalitsimen asettelu, jossa on esikatselut työpöydistä
Comment[fr]=Une disposition de sélecteur de bureaux avec des aperçus de bureaux
Comment[gl]=Unha disposición do selector de escritorios con vistas previas deles
Comment[hu]=Egy asztalváltó elrendezés az asztalok előnézetével
Comment[ia]=Un disposition de commutator de scriptorio con vistas preliminar de scriptorios
Comment[it]=Una disposizione con anteprima dello scambiafinestre
Comment[kk]=Үстелдер нобайларын көрсететін үстел ауыстырғышының қалыпы
Comment[ko]=데스크톱 미리 보기를 제공하는 데스크톱 전환기 레이아웃
Comment[lt]=Darbastalio perjungimo išdėstymas su darbastalių peržiūromis
Comment[nb]=Utforming av KWin skrivebordsbytter med forhåndsvisning av skrivebordene
Comment[nl]=Een indeling van bureaubladwisselaar met voorbeelden op de bureaubladen
Comment[pa]=ਡੈਸਕਟਾਪਾਂ ਦੀ ਝਲਕ ਨਾਲ ਡੈਸਕਟਾਪ ਬਦਲਣ ਵਾਲਾ ਲੇਆਉਟ
Comment[pl]=Układ przełączania pulpitów z podglądami pulpitów
Comment[pt]=Uma disposição de mudança de ecrã com antevisões dos mesmos
Comment[pt_BR]=Um leiaute do seletor de área de trabalho com visualizações
Comment[ru]=Переключатель с миниатюрами рабочих столов
Comment[sk]=Rozloženie prepínača plôch s náhľadmi týchto plôch
Comment[sl]=Razpored preklapljanja med namizji s predogledi namizij
Comment[sr]=Распоред мењача површи са њиховим прегледима
Comment[sr@ijekavian]=Распоред мењача површи са њиховим прегледима
Comment[sr@ijekavianlatin]=Raspored menjača površi sa njihovim pregledima
Comment[sr@latin]=Raspored menjača površi sa njihovim pregledima
Comment[sv]=En layout för skrivbordsbyte med förhandsgranskningar av skrivborden
Comment[tr]=Masaüstlerinin önizlemeleri ile bir masaüstü değiştirici düzeni
Comment[uk]=Компонування перемикача стільниць з ескізами стільниць
Comment[x-test]=xxA desktop switcher layout with previews of the desktopsxx
Comment[zh_CN]=带桌面预览的切换布局
Comment[zh_TW]=有預覽的桌面切換器佈局
Icon=preferences-system-desktop-switcher-previews

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=previews
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/DesktopSwitcher
Type=Service
