[Desktop Entry]
Name=Previews
Name[uk]=Ескізи
Name[x-test]=xxPreviewsxx
Comment=A desktop switcher layout with previews of the desktops
Comment[uk]=Компонування перемикача стільниць з ескізами стільниць
Comment[x-test]=xxA desktop switcher layout with previews of the desktopsxx
Icon=preferences-system-desktop-switcher-previews

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=previews
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/DesktopSwitcher
Type=Service
