[Desktop Entry]
Name=Demo Liquid
Name[bg]=Демо на Liquid
Name[ca]=Demostració del Liquid
Name[cs]=Liquid demo
Name[da]=Demo af Liquid
Name[de]=Demo: Liquid
Name[el]=Επίδειξη του Liquid
Name[eo]=Demonstro likvaĵo
Name[es]=Demostración de Liquid
Name[fr]=Démo liquide
Name[ga]=Maisíocht Taispeána: Leacht
Name[gl]=Demonstración de Liquid
Name[he]=הדגמה - נוזל
Name[hi]=डेमो लिक्विड
Name[hu]=Liquid demó
Name[is]=Sýnishorn af Vökva
Name[kk]=Сүйықтың мысалы
Name[km]=ការ​បង្ហាញ​​វត្ថុ​រាវ​សាក​ល្បង​
Name[lv]=Demo šķidrums
Name[nb]=Demo væske
Name[nds]=Demo: Flaat
Name[ne]=डेमो लिक्विड
Name[nl]=Demo Vloeibaar
Name[nn]=Demo væske
Name[pa]=ਡੈਮੋ ਤਰਲ
Name[pl]=Ciecz (demo)
Name[pt]=Demo_Liquid
Name[se]=Demonstrere golgi
Name[sl]=Predstavitveno Tekoče
Name[sr]=Демо течног
Name[sr@latin]=Demo tečnog
Name[sv]=Demonstration av Liquid
Name[th]=สาธิต Liquid
Name[uk]=Демонстрація Liquid
Name[x-test]=xxDemo Liquidxx
Name[zh_CN]=演示 - 液体
Name[zh_TW]=示範ˍ液體

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_demo_liquid
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Demos
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
