[Desktop Entry]
Name=Test_Thumbnail
Name[be]=Праверка_мініяцюр
Name[ca]=Prova de miniatura
Name[csb]=Test_Miniaturczi
Name[de]=Test: Vorschaubilder
Name[el]=Δοκιμή εικόνας επισκόπησης
Name[he]=בדיקת דוגמיות
Name[hi]=लघुछवि_जाँचें
Name[hu]=Teszt-gyorsnézet
Name[kk]=Нобайды_сынау
Name[ko]=미리_보기_시험
Name[nb]=Test_minibilde
Name[nds]=Test: Vöransicht
Name[ne]=थम्बनेल परीक्षण गर्नुहोस्
Name[nn]=Test_miniatyrbilete
Name[pa]=ਥੰਮਨੇਲ ਟੈਸਟ(_T)
Name[pl]=Test_miniaturek
Name[se]=Geahččalan_govaš
Name[sv]=Testa miniatyrbild
Name[vi]=Thử_hình nhỏ
Name[x-test]=xxTest_Thumbnailxx
Name[zh_CN]=测试_缩略图
Name[zh_TW]=測試_縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_test_thumbnail
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tests
X-KDE-PluginInfo-Category[ca]=Proves
X-KDE-PluginInfo-Category[el]=Έλεγχοι
X-KDE-PluginInfo-Category[eo]=Testoj
X-KDE-PluginInfo-Category[ga]=Tástálacha
X-KDE-PluginInfo-Category[hu]=Tesztek
X-KDE-PluginInfo-Category[ja]=テスト
X-KDE-PluginInfo-Category[km]=សាកល្បង
X-KDE-PluginInfo-Category[pl]=Testy
X-KDE-PluginInfo-Category[pt]=Testes
X-KDE-PluginInfo-Category[pt_BR]=Testes
X-KDE-PluginInfo-Category[sr]=Пробе
X-KDE-PluginInfo-Category[sr@latin]=Probe
X-KDE-PluginInfo-Category[sv]=Tester
X-KDE-PluginInfo-Category[zh_CN]=测试
X-KDE-PluginInfo-Category[zh_TW]=測試
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
