[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_mouseclick_config
X-KDE-ParentComponents=mouseclick

Name=Mouse Click Animation
Name[bs]=Animacija klika mišem
Name[ca]=Animació de clic de ratolí
Name[ca@valencia]=Animació de clic de ratolí
Name[cs]=Animace kliknutí myši
Name[da]=Animation af museklik
Name[de]=Animation für Mausklicks
Name[el]=Εφέ κίνησης με κλικ του ποντικιού
Name[en_GB]=Mouse Click Animation
Name[es]=Animación del clic de ratón
Name[et]=Hiireklõpsu animeerimine
Name[eu]=Sagu-klikaren animazioa
Name[fi]=Hiiren napsautuksen animointi
Name[fr]=Animation du clic de la souris
Name[gl]=Animación ao premer o rato
Name[he]=הנפשה של לחיצה עם העכבר
Name[hu]=Egérkattintás animáció
Name[ia]=Animation de click de mus
Name[id]=Animasi Klik Mouse
Name[is]=Hreyfingar við músarsmell
Name[it]=Animazione del clic del mouse
Name[ja]=マウスクリックアニメーション
Name[kk]=Тышқанды түрту анимациясы
Name[ko]=마우스 클릭 애니메이션
Name[lt]=Spragtelėjimo pele animacija
Name[mr]=माऊस क्लिक ऍनीमेशन
Name[nb]=Animer ved museklikk
Name[nds]=Muusklick-Animeren
Name[nl]=Animatie van muisklik
Name[nn]=Museklikkanimasjon
Name[pa]=ਮਾਊਸ ਕਲਿੱਕ ਐਨੀਮੇਸ਼ਨ
Name[pl]=Animacja kliknięcia myszą
Name[pt]=Animação do Botão do Rato
Name[pt_BR]=Animação de clique do mouse
Name[ro]=Animație la clic de maus
Name[ru]=Анимация щелчка мышью
Name[sk]=Animácia kliknutia myšou
Name[sl]=Animacija klika z miško
Name[sr]=Анимација на клик мишем
Name[sr@ijekavian]=Анимација на клик мишем
Name[sr@ijekavianlatin]=Animacija na klik mišem
Name[sr@latin]=Animacija na klik mišem
Name[sv]=Animering av musklick
Name[tr]=Fare Tıklama Animasyonu
Name[uk]=Анімація за клацанням миші
Name[x-test]=xxMouse Click Animationxx
Name[zh_CN]=鼠标点击动画
Name[zh_TW]=滑鼠點擊動畫
