[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_mouseclick_config
X-KDE-ParentComponents=mouseclick

Name=Mouse Click Animation
Name[nl]=Animatie van muisklik
Name[uk]=Анімація за клацанням миші
Name[x-test]=xxMouse Click Animationxx
