[Desktop Entry]
Name=Desktop Change OSD
Name[az]=İş Masasının dəyişdirilməsi bildirişi
Name[bs]=Promjena podloge OSD
Name[ca]=OSD al canvi d'escriptori
Name[ca@valencia]=OSD de canvi d'escriptori
Name[cs]=OSD změny plochy
Name[da]=OSD til skrivebordsskift
Name[de]=OSD-Arbeitsflächenwechsel
Name[el]=OSD αλλαγής επιφάνειας εργασίας
Name[en_GB]=Desktop Change OSD
Name[es]=Información en pantalla sobre cambio de escritorio
Name[et]=Töölaua muutmise ekraaniesitus
Name[eu]=Mahaigain-aldaketari buruzko informazioa OSD
Name[fi]=Työpöydänvaihdon ilmoitus
Name[fr]=OSD pour le changement de bureau
Name[gl]=OSD de cambio de escritorio
Name[he]=תצוגה על המסך של החלפת מסך
Name[hu]=Asztal változtatás OSD
Name[ia]=Modifica OSD de scriptorio
Name[id]=OSD Perubahan Desktop
Name[it]=Mostra lo scambia desktop
Name[ja]=Desktop Change OSD
Name[kk]=Үстел ауыстыру панелі
Name[km]=ការ​ផ្លាស់ប្ដូ​រផ្ទៃតុ OSD
Name[ko]=바탕 화면 변경 OSD
Name[lt]=Darbalaukio pakeitimo OSD
Name[mr]=डेस्कटॉप बदल OSD
Name[nb]=OSD for skrivebordsbytte
Name[nds]=Schriefdischwessel-OSD
Name[nl]=OSD voor bureaubladwijziging
Name[nn]=Skjermmelding ved skrivebordsbyte
Name[pa]=ਡੈਸਕਟਾਪ ਬਦਲਣ OSD
Name[pl]=OSD zmiany pulpitu
Name[pt]=OSD de Mudança do Ecrã
Name[pt_BR]=OSD de mudança de área de trabalho
Name[ro]=OSD la schimbarea biroului
Name[ru]=Экранные уведомления об изменении рабочего стола
Name[sk]=OSD zmeny plochy
Name[sl]=Prikaz na zaslonu spremembe namizja
Name[sr]=ОСД мењања површи
Name[sr@ijekavian]=ОСД мењања површи
Name[sr@ijekavianlatin]=OSD menjanja površi
Name[sr@latin]=OSD menjanja površi
Name[sv]=Skärmvisning av skrivbordsändring
Name[tr]=Masaüstü Değiştirme Ekran Bildirimi
Name[uk]=Панель зміни стільниць
Name[x-test]=xxDesktop Change OSDxx
Name[zh_CN]=桌面更改屏幕显示
Name[zh_TW]=螢幕顯示桌面變更
Comment=An on screen display indicating the desktop change
Comment[az]=Ekranda iş masasının dəyişimi bildirişini göstərir
Comment[bs]=Na zaslonu se ukazuju promjene radne površine
Comment[ca]=Un missatge a la pantalla indicant el canvi d'escriptori
Comment[ca@valencia]=Un missatge en la pantalla que indica el canvi d'escriptori
Comment[cs]=Displej označující změnu plochy
Comment[da]=Et on-screen-display som indikerer skift af skrivebord
Comment[de]=Ein On-Screen-Display (OSD), das den Wechsel der Arbeitsfläche anzeigt
Comment[el]=Μια ένδειξη στην οθόνη που δηλώνει την αλλαγή της επιφάνειας εργασίας
Comment[en_GB]=An on screen display indicating the desktop change
Comment[es]=Una información en pantalla que indica el cambio de escritorio
Comment[et]=Töölaua muutumist näitab ekraanikuva
Comment[eu]=Mahaigain-aldaketa adierazten duen pantailako informazioa
Comment[fi]=Näytölle ilmestyvä ilmoitus työpöydän vaihdosta
Comment[fr]=Un affichage sur l'écran (OSD) indiquant le changement de bureau
Comment[gl]=Un visor na pantalla que indica o cambio de escritorio
Comment[he]=תצוגת על המסך המודיעה על החלפת שולחן העבודה
Comment[hu]=Egy képernyőn megjelenő kijelzés, amely jelzi az asztal változásait
Comment[ia]=Un monstrator sur le schermo indicante le modification de scriptorio
Comment[id]=Sebuah on screen display menunjukkan perubahan desktop
Comment[it]=Un display sullo schermo che indica il cambio di desktop
Comment[kk]=Үстел ауыстыруын көрсететін экран дисплейі
Comment[km]=ការ​បង្ហាញ​លើ​អេក្រង់ បង្ហាញ​ថា​អំពី​ការ​ផ្លាស់ប្ដូរ​ផ្ទៃតុ
Comment[ko]=바탕 화면 변경 상황을 표시하는 OSD
Comment[lt]=Pavaizdavimas ekrane, nurodantis darbalaukio pakeitimą
Comment[mr]=डेस्कटॉप बदल संकेत देणारे स्क्रीनवरील डिस्प्ले
Comment[nb]=En tekst på skjermen som viser skrivebordsbytte
Comment[nds]=En Op-Schirm-Dorstellen för't Wesseln vun den Schriefdisch 
Comment[nl]=Een on screen display (OSD) die de wijziging van het bureaublad aangeeft
Comment[nn]=Bruk skjermmelding ved skrivebordbyte
Comment[pa]=ਡੈਸਕਟਾਪ ਬਦਲਣ ਨੂੰ ਸਕਰੀਨ ਉੱਤੇ ਦਰਸਾਉਣ ਵਾਲਾ
Comment[pl]=Wyświetlacz na ekranie wskazujący zmianę pulpitu
Comment[pt]=Uma apresentação que indica a mudança do ecrã
Comment[pt_BR]=Uma apresentação que indica a mudança de área de trabalho
Comment[ro]=Afișaj pe ecran ce indică schimbarea biroului
Comment[ru]=Экранные уведомления об изменении рабочего стола
Comment[sk]=Displej na obrazovke indikujúci zmenu plochy
Comment[sl]=Prikaz na zaslonu, ki nakazuje spremembo namizja
Comment[sr]=Екрански приказ указује на промену површи
Comment[sr@ijekavian]=Екрански приказ указује на промену површи
Comment[sr@ijekavianlatin]=Ekranski prikaz ukazuje na promenu površi
Comment[sr@latin]=Ekranski prikaz ukazuje na promenu površi
Comment[sv]=En skärmvisning som anger skrivbordsändringen
Comment[tr]=Bir, ekranda beliren bilgi masaüstünün değiştirildiğini gösteriyor
Comment[uk]=Екранна панель спостереження за зміною стільниць
Comment[vi]=Một khung hiển thị để chỉ báo sự thay đổi của hệ thống
Comment[x-test]=xxAn on screen display indicating the desktop changexx
Comment[zh_CN]=一个展示桌面更改的屏幕提示
Comment[zh_TW]=以螢幕顯示（OSD）指示桌面的變更
Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=true

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=desktopchangeosd
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
