[Desktop Entry]
Name=Desktop Change OSD
Name[ia]=Modifica OSD de scriptorio
Name[nb]=OSD for skrivebordsbytte
Name[nl]=OSD voor bureaubladwijziging
Name[pa]=ਡੈਸਕਟਾਪ ਬਦਲਣ OSD
Name[pl]=OSD zmiany pulpitu
Name[pt]=OSD de Mudança do Ecrã
Name[pt_BR]=OSD de mudança de área de trabalho
Name[sv]=Skärmvisning av skrivbordsändring
Name[tr]=Masaüstü Değiştirme Ekran Bildirimi
Name[uk]=Панель зміни стільниць
Name[x-test]=xxDesktop Change OSDxx
Name[zh_TW]=螢幕顯示桌面變更
Comment=An on screen display indicating the desktop change
Comment[ia]=Un monstrator sur le schermo indicante le modification de scriptorio
Comment[nb]=En tekst på skjermen som viser skrivebordsbytte
Comment[nl]=Een on screen display (OSD) die de wijziging van het bureaublad aangeeft
Comment[pa]=ਡੈਸਕਟਾਪ ਬਦਲਣ ਨੂੰ ਸਕਰੀਨ ਉੱਤੇ ਦਰਸਾਉਣ ਵਾਲਾ
Comment[pl]=Wyświetlacz na ekranie wskazujący zmianę pulpitu
Comment[pt]=Uma apresentação que indica a mudança do ecrã
Comment[pt_BR]=Uma apresentação que indica a mudança de área de trabalho
Comment[sv]=En skärmvisning som anger skrivbordsändringen
Comment[uk]=Екранна панель спостереження за зміною стільниць
Comment[x-test]=xxAn on screen display indicating the desktop changexx
Comment[zh_TW]=以螢幕顯示（OSD）指示桌面的變更
Icon=preferences-system-windows-script-test

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=true

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=desktopchangeosd
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
