[Desktop Entry]
Exec=kcmshell5 kwinrules
Icon=preferences-system-windows-actions
Categories=Qt;KDE;X-KDE-settings-looknfeel;
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kwinrules
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=windowmanagement
X-KDE-Weight=120

X-KDE-FormFactors=desktop,tablet

Name=Window Rules
Name[ar]=قواعد النوافذ
Name[az]=Pəncərə qaydaları
Name[bg]=Правила за прозорци
Name[bs]=Pravila prozora
Name[ca]=Regles de les finestres
Name[ca@valencia]=Regles de les finestres
Name[cs]=Pravidla oken
Name[da]=Vinduesregler
Name[de]=Fensterregeln
Name[el]=Κανόνες παραθύρου
Name[en_GB]=Window Rules
Name[es]=Reglas de las ventanas
Name[et]=Akna reeglid
Name[eu]=Leihoaren arauak
Name[fi]=Ikkunasäännöt
Name[fr]=Règles de la fenêtre
Name[ga]=Rialacha Fuinneog
Name[gl]=Regras da xanela
Name[gu]=વિન્ડો નિયમો
Name[he]=כללי חלון
Name[hi]=विंडो निय
Name[hr]=Pravila prozora
Name[hu]=Ablakszabályok
Name[ia]=Regulas de fenestra
Name[id]=Peraturan Window
Name[is]=Gluggahegðunarreglur
Name[it]=Regole delle finestre
Name[ja]=ウィンドウルール
Name[kk]=Терезе тәртібі
Name[km]=ក្បួន​បង្អួច
Name[kn]=ವಿಂಡೋ ನಿಯಮಗಳು
Name[ko]=창 규칙
Name[lt]=Langų taisyklės
Name[lv]=Loga noteikumi
Name[mr]=चौकट नियम
Name[nb]=Vindusregler
Name[nds]=Finsterbedregen
Name[nl]=Vensterregels
Name[nn]=Vindaugsreglar
Name[pa]=ਵਿੰਡੋ ਨਿਯਮ
Name[pl]=Zasady okien
Name[pt]=Regras das Janelas
Name[pt_BR]=Regras das janelas
Name[ro]=Reguli ferestre
Name[ru]=Особые параметры окон
Name[si]=කවුළු නීති
Name[sk]=Pravidlá okien
Name[sl]=Pravila za okna
Name[sr]=Правила прозора
Name[sr@ijekavian]=Правила прозора
Name[sr@ijekavianlatin]=Pravila prozora
Name[sr@latin]=Pravila prozora
Name[sv]=Fönsterregler
Name[th]=กฎต่าง ๆ ของหน้าต่าง
Name[tr]=Pencere Kuralları
Name[ug]=كۆزنەك بەلگىلىمىسى
Name[uk]=Правила вікон
Name[wa]=Rîles des finiesses
Name[x-test]=xxWindow Rulesxx
Name[zh_CN]=窗口规则
Name[zh_TW]=視窗規則

Comment=Individual Window Behavior
Comment[az]=İndividual pəncərə davranışları
Comment[bs]=Ponašanje pojedinog prozora
Comment[ca]=Comportament individual de les finestres
Comment[ca@valencia]=Comportament individual de les finestres
Comment[cs]=Chování individuálních oken
Comment[da]=Opførsel af enkeltvinduer
Comment[de]=Individuelles Fensterverhalten
Comment[el]=Συμπεριφορά ανεξάρτητου παραθύρου
Comment[en_GB]=Individual Window Behaviour
Comment[es]=Comportamiento de las ventanas individuales
Comment[et]=Konkreetse akna käitumine
Comment[eu]=Leihoen banakako portaera
Comment[fi]=Yksittäisten ikkunoiden toiminta
Comment[fr]=Comportement individuel des fenêtres
Comment[gl]=Comportamento individual das xanelas
Comment[he]=התנהגות חלונות ספציפים
Comment[hu]=Egyéni ablakműveletek
Comment[ia]=Comportamento de fenestra individual
Comment[id]=Perilaku Window Individu
Comment[it]=Comportamento della singola finestra
Comment[ja]=個別のウィンドウの挙動
Comment[ko]=개별 창 동작
Comment[lt]=Individuali langų elgsena
Comment[nb]=Oppførsel for individuelle vinduer
Comment[nds]=Bedregen vun enkelte Finstern
Comment[nl]=Individueel venstergedrag
Comment[nn]=Åtferd for einskildvindauge
Comment[pa]=ਵੱਖ-ਵੱਖ ਵਿੰਡੋ ਰਵੱਈਆ
Comment[pl]=Wyjątkowe okna
Comment[pt]=Comportamento das Janelas Individuais
Comment[pt_BR]=Comportamento das janelas individuais
Comment[ro]=Comportament al ferestrelor individuale
Comment[ru]=Особые параметры конкретных окон
Comment[sk]=Individuálne správanie okien
Comment[sl]=Obnašanje posameznih oken
Comment[sr]=Понашање појединачних прозора
Comment[sr@ijekavian]=Понашање појединачних прозора
Comment[sr@ijekavianlatin]=Ponašanje pojedinačnih prozora
Comment[sr@latin]=Ponašanje pojedinačnih prozora
Comment[sv]=Individuellt fönsterbeteende
Comment[tr]=Bireysel Pencere Davranışı
Comment[uk]=Поведінка окремих вікон
Comment[x-test]=xxIndividual Window Behaviorxx
Comment[zh_CN]=个别窗口行为
Comment[zh_TW]=個別視窗行為

X-KDE-Keywords=size,position,state,window behavior,windows,specific,workarounds,remember,rules
X-KDE-Keywords[az]=ölçü,mövqe,bölgə,pəncərə davranışı,pəncərələr,xüsusi,iş sahəsi,xatırlama,rollar
X-KDE-Keywords[bs]=veličina,pozicija,grad,reagiranje prozora,prozori,specifičan,workarounds,sjećati se,pravila
X-KDE-Keywords[ca]=mida,posició,estat,comportament de la finestra,finestres,específic,solucions alternatives,recorda,regles
X-KDE-Keywords[ca@valencia]=mida,posició,estat,comportament de la finestra,finestres,específic,solucions alternatives,recorda,regles
X-KDE-Keywords[da]=størrelse,position,tilstand,vinduesopførsel,vinduer,specifikt,workarounds,husk,regler
X-KDE-Keywords[de]=Größe,Position,Status,Fensterverhalten,Fenster,Regeln
X-KDE-Keywords[el]=μέγεθος,θέση,κατάσταση,συμπεριφορά παραθύρου,παράθυρα,ειδική,εναλλακτικές,απομνημόνευση,κανόνες
X-KDE-Keywords[en_GB]=size,position,state,window behaviour,windows,specific,workarounds,remember,rules
X-KDE-Keywords[es]=tamaño,posición,estado,comportamiento de las ventanas,ventanas,específicos,soluciones,recordatorio,reglas
X-KDE-Keywords[et]=suurus,asukoht,olek,akende käitumine,aknad,meeldejätmine,reeglid
X-KDE-Keywords[eu]=tamaina,posizio,egoera,leihoaren portaera,leihoak,zehatz,konponbide,gogorarazpen,arau
X-KDE-Keywords[fi]=koko,sijainti,tila,ikkunoiden toiminta,ikkunat,erikoisasetukset,ikkunakohtaiset,korjaukset,muista,muistaminen,säännöt
X-KDE-Keywords[fr]=taille, position, état, comportement de la fenêtre, fenêtres, spécifique, contournements, rappel, règles
X-KDE-Keywords[ga]=méid,ionad,staid,oibriú na bhfuinneog,fuinneoga,sainiúil,réitigh seiftithe,meabhraigh,rialacha
X-KDE-Keywords[gl]=tamaño,posición,estado,comportamento da xanela,xanelas,específico,regra
X-KDE-Keywords[hu]=méret,elhelyezkedés,állapot,ablakműködés,ablakok,specifikus,kerülő megoldások,megjegyzés,szabályok
X-KDE-Keywords[ia]=grandor,position,stato,comportamento de fenestra,fenestras,specific,workarounds,memora,regulas
X-KDE-Keywords[id]=ukuran,posisi,kondisi,perilaku window,window,spesifik,sekeliling,ingat,peraturan
X-KDE-Keywords[it]=dimensione,posizione,stato,comportamento della finestra,finestre,specifico,espedienti,ricorda,regole
X-KDE-Keywords[kk]=size,position,state,window behavior,windows,specific,workarounds,remember,rules
X-KDE-Keywords[km]=size,position,state,window behavior,windows,specific,workarounds,remember,rules
X-KDE-Keywords[ko]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,크기,위치,창 행동,창,창 지정,규칙
X-KDE-Keywords[lt]=dydis,pozicija,vieta,būsena,busena,lango elgsena,langų elgsena,langu elgsena,langas,langai,apėjimas,apejimas,apėjimai,apejimai,specifiniai,tam tikri,tam tikros,tam tikrų,tam tikru,įsiminti,isiminti,atsiminti,prisiminti,taisyklės,taisykles
X-KDE-Keywords[nb]=størrelse,plassering,vindusoppførsel,vindu,bestemt,løsninger,husk,regler
X-KDE-Keywords[nds]=Grött,Positschoon,Tostand,Finsterbedregen,Finstern,besünner,Ümto,wohren,Regeln
X-KDE-Keywords[nl]=grootte,positie,status,venstergedrag,vensters,specifiek,er omheen gewerkt,herinneren,regels
X-KDE-Keywords[nn]=storleik,plassering,tilstand,vindaugsåtferd,vindauge,einskild,løysingar,unntak,hugs,reglar
X-KDE-Keywords[pl]=rozmiar,pozycja,stan,zachowanie okna,okna,specyficzne,obejścia,zapamiętaj,reguły
X-KDE-Keywords[pt]=tamanho,posição,estado,comportamento da janela,janelas,específico,alternativas,recordar,regras
X-KDE-Keywords[pt_BR]=tamanho,posição,estado,comportamento da janela,janelas,específico,alternativas,lembrar,regras
X-KDE-Keywords[ro]=dimensiune,poziție,stare,comportament ferestre,ferestre,specific,ține minte,reguli
X-KDE-Keywords[ru]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,размер,позиция,состояние,поведение окон,окна,специальный,специальные возможности,запомнить,правила
X-KDE-Keywords[sk]=veľkosť,poloha,stav,správanie okien,okná,špecifický,workaroundy,pamätať,pravidlá
X-KDE-Keywords[sl]=velikost,položaj,stanje,obnašanje oken,okna,določeno,popravki,pomnjenje,pravila
X-KDE-Keywords[sr]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,величина,положај,стање,понашање прозора,прозор,заобилазак,запамти,правила
X-KDE-Keywords[sr@ijekavian]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,величина,положај,стање,понашање прозора,прозор,заобилазак,запамти,правила
X-KDE-Keywords[sr@ijekavianlatin]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,veličina,položaj,stanje,ponašanje prozora,prozor,zaobilazak,zapamti,pravila
X-KDE-Keywords[sr@latin]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,veličina,položaj,stanje,ponašanje prozora,prozor,zaobilazak,zapamti,pravila
X-KDE-Keywords[sv]=storlek,position,tillstånd,fönsterbeteende,fönster,specifik,kom ihåg,regler
X-KDE-Keywords[tr]=boyut,konum,durum,pencere davranışı,pencere,özel,etrafından dolanmalar,anımsa,kurallar
X-KDE-Keywords[uk]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,розмір,розташування,місце,стан,поведінка,вікно,вікна,поведінка вікон,окрема,специфічна,окремо,запам’ятати,пам’ять,правило,правила
X-KDE-Keywords[x-test]=xxsizexx,xxpositionxx,xxstatexx,xxwindow behaviorxx,xxwindowsxx,xxspecificxx,xxworkaroundsxx,xxrememberxx,xxrulesxx
X-KDE-Keywords[zh_CN]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,大小,位置,窗口行为,特定,记住,规则
X-KDE-Keywords[zh_TW]=size,position,state,window behavior,windows,specific,workarounds,remember,rules
