[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Application
Exec=kcmshell kwinrules
DocPath=kcontrol/windowmanagement/index.html

X-KDE-ModuleType=Library
X-KDE-Library=kwinrules
X-KDE-FactoryName=kwinrules

Name=Window-Specific Settings
Name[bg]=Специфични настройки за прозореца
Name[bs]=Postavke specifične za ovaj prozor
Name[ca]=Arranjament específic de finestra
Name[cs]=Specifická nastavení oken
Name[cy]=Gosodiadau sy'n Benodol i'r Ffenestr
Name[da]=Vinduesspecifik opsætning
Name[de]=Fenster-Einstellungen
Name[eo]=nurfenestra agordo
Name[es]=Preferencias específicas de la ventana
Name[et]=Akende seadistused
Name[fi]=Ikkunakohtaiset asetukset
Name[fr]=Paramètres spécifiques à la fenêtre
Name[hu]=Egyedi ablakbeállítások
Name[it]=Impostazioni specifiche della finestra
Name[mt]=Setings tal-printer
Name[nb]=Innstillinger for vinduer
Name[nl]=Vensterspecifieke instellingen
Name[nn]=Instillingar for vindauge
Name[pa]=ਝਰੋਖਾ-ਖਾਸ ਵਿਵਸਥਾ
Name[pl]=Ustawienia danego okna
Name[pt]=Preferências da Janela
Name[pt_BR]=Configurações Específicas da Janela
Name[ro]=Setări specifice de fereastră
Name[sk]=Jednotlivé okná
Name[sl]=Nastavitve glede na okno
Name[sr]=Посебне поставке за прозор
Name[sr@Latn]=Посебне поставке за прозор
Name[sv]=Fönsterspecifika inställningar
Name[ta]=அச்சியந்திர அமைப்புகள்
Name[tr]=Pencere Özel Seçenekleri
Name[uk]=Параметри для окремих вікон
Name[uz]=Ойнага оид мосламалар
Name[wa]=Apontiaedjes specifikes a on purnea
Name[xx]=xxWindow-Specific Settingsxx

Comment=Configure settings specifically for a window
Comment[bg]=Конфигуриране на специфични настройки за избрания прозорец
Comment[bs]=Podesite postavke specifične za ovaj prozor
Comment[ca]=Configura l'arranjament específicament per a una finestra
Comment[cs]=Nastavení specifická pro okno
Comment[cy]=Ffurfweddu gosodiadau yn benodol ar gyfer ffenestr
Comment[da]=Indstil opsætning specifikt for et vindue
Comment[de]=Einstellungen für einzelne Fenster vornehmen
Comment[eo]=Agordu nur por fenestro
Comment[es]=Configurar parámetros específicos de una ventana
Comment[et]=Spetsiaalselt akendega seotud seadistused
Comment[fi]=Muokkaa ikkunakohtaisia asetuksia
Comment[fr]=Configuration de paramètres spécifiques à une fenêtre
Comment[hu]=Egy adott ablak beállításai
Comment[it]=Configura le impostazioni specifiche di una finestra
Comment[mt]=Ikkonfigura setings li jistgħu itejbu l-veloċità ta' KDE
Comment[nb]=Sett innstillinger spesielt for et vindu
Comment[nl]=Hier kunt u instellingen kiezen specifiek voor één venster
Comment[nn]=Innstillingar som er knytte til eitt særskilt vindauge
Comment[pa]=ਇੱਕ ਝਰੋਖੇ ਲਈ ਖਾਸ ਵਿਵਸਥਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień wybranego okna
Comment[pt]=Configura as opções especificamente para uma janela
Comment[pt_BR]=Configurações específicas para uma janela
Comment[ro]=Configurează setări specifice pentru o fereastră
Comment[sk]=Nastavenie pre jednotlivé okná
Comment[sl]=Nastavite možnosti glede na posamezno okno
Comment[sr]=Подешавање поставки посебно за прозор
Comment[sr@Latn]=Подешавање поставки посебно за прозор
Comment[sv]=Anpassa inställningar specifikt för ett fönster
Comment[ta]=KDE செயல்திறனை அதிகப்படுத்தும் அமைப்புகளை அமை
Comment[tr]=Bir pencere için özel olan seçenekleri yapılandır
Comment[uk]=Налаштування параметрів для окремого типу вікон
Comment[uz]=Ойнага оид бўлган мосламаларни мослаш
Comment[wa]=Apontiaedjes specifikes po on purnea
Comment[xx]=xxConfigure settings specifically for a windowxx

Keywords=size,position,state,window behavior,windows,specific,workarounds,remember,rules
Keywords[bg]=размер, позиция, състояние, прозорец, поведение,правила, запомняне,size,position,state,window behavior,windows,specific,workarounds,remember,rules
Keywords[bs]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,veličina,položaj,ponašanje prozora,prozori,specifično,pravila
Keywords[ca]=mida,posició,estat,comportament de finestra,finestres,específic,reparacions,recorda,regles
Keywords[cs]=velikost,pozice,umístění,stav,chování oken,pravidla
Keywords[cy]=maint,lleoliad,cyflwr,ffenestr,ymddygiad,ffenestri,penodol,ffyrdd osgoi,cofio,rheolau
Keywords[da]=størrelse,position,tilstand,vinduesopførsel,vinduer,specifik, omgåelse,husk,regler
Keywords[de]=Größe,Position,Status,Fensterverhalten,Fenster,Regeln
Keywords[en_GB]=size,position,state,window behaviour,windows,specific,workarounds,remember,rules
Keywords[eo]=grandeco,pozicio,stato,fenestra konduto,fenestroj,reguloj
Keywords[es]=tamaño,posición,estado,comportamiento de la ventana,ventanas,específico,soluciones,recordar,reglas
Keywords[et]=suurus,asend,olek,akna käitumine,aknad,spetsiaalne,kohandamine,reeglid
Keywords[fi]=koko,sijainti,tila,ikkunan käyttäytyminen,ikkunat,ikkunakohtainen,säännöt
Keywords[fr]=taille,position,état,comportement de fenêtre,fenêtres,spécifique,astuces,souvenir,règles
Keywords[hu]=méret,pozíció,állapot,ablakműködés,ablakok,specifikus,megjegyzés,szabályok
Keywords[it]=dimensione,posizione,stato,comportamento finestra,finestre,specifico,ricorda,regole
Keywords[mt]=size,position,state,window behavior,windows,specific,workarounds,remember,rules,daqs
Keywords[nb]=størrelse,posisjon,status,oppførsel av vinduet,vinduer,spesifikk,jukseløsninger,husk,regler
Keywords[nl]=grootte,positie,venstergedrag,vensters,specifiek,alternatieven,onthouden,regels
Keywords[nn]=storleik,plassering,tilstand,vindaugsåtferd,vindauge,spesifikk,jukseløysingar,hugs,reglar
Keywords[pl]=rozmiar,położenie,stan,zachowanie okien,okna,zapamiętywanie ustawień,reguły
Keywords[pt]=tamanho,posição,estado,comportamento da janela,janelas,específico,recordar,regras
Keywords[pt_BR]=tamanho,posição, estado, comportamento da janela, janelas, específica, elementos, lembrar, regras
Keywords[ro]=mărime,poziţie,stare,comportament  fereastră,ferestre,specific,reguli
Keywords[sk]=veľkosť,pozícia,stav,chovanie okna,okná,špecifické,jedno okno,opravy,pravidlá
Keywords[sl]=velikost,položaj,stanje,obnašanje okna,okna,posebno,obvoz,zapomni,pravila
Keywords[sr]=величина,позиција,стање,понашање прозора,прозори,запамти,правила
Keywords[sr@Latn]=величина,позиција,стање,понашање прозора,прозори,запамти,правила
Keywords[sv]=storlek,position,tillstånd,fönsterbeteende,fönster,specifik,komma runt,komma ihåg,regler
Keywords[ta]=அளவு,நிலை,மாநிலம்,சாளர நடத்தை,சாளரங்கள்,குறிப்பிட்ட,பணிவட்டாரங்கள்,விதிகள்
Keywords[tr]=boyut,yer,pozisyon,durum,pencere davranışı,pencereler,özel,çalışma alanı,hatırla,kurallar
Keywords[uk]=розмір,позиція,стан,поведінка вікна,вікна,окремі,підігнати,запам'ятати,правила
Keywords[uz]=ўлчам,жой,ҳолат,ойнанинг хусусиятлари,ойналар,махсус,эслаб қолиш,қоидалар
Keywords[xx]=xxsize,position,state,window behavior,windows,specific,workarounds,remember,rulesxx
Categories=Qt;KDE;X-KDE-settings-desktop;
