[Desktop Entry]
Name=Session Quit
Name[az]=Sesiyadan çıxış
Name[ca]=Sortida de la sessió
Name[cs]=Sezení bylo ukončeno
Name[da]=Afslutning af session
Name[de]=Sitzung beenden
Name[en_GB]=Session Quit
Name[es]=Cierre de sesión
Name[et]=Seansist väljumine
Name[eu]=Saiotik irtetea
Name[fi]=Istunnon lopetus
Name[fr]=Fin de session
Name[gl]=Saída de sesión
Name[ia]=Abandona session
Name[id]=Sesi Berhenti
Name[it]=Chiusura sessione
Name[ko]=세션 종료
Name[lt]=Seanso baigimas
Name[nl]=Afsluiten van sessie
Name[nn]=Avslutt økt
Name[pl]=Opuszczenie sesji
Name[pt]=Saída da Sessão
Name[pt_BR]=Saída da sessão
Name[ro]=Părăsirea sesiunii
Name[ru]=Завершение сеанса
Name[sk]=Ukončenie sedenia
Name[sl]=Zapri sejo
Name[sv]=Avsluta session
Name[uk]=Вихід з сеансу
Name[x-test]=xxSession Quitxx
Name[zh_CN]=会话退出
Name[zh_TW]=離開工作階段
Icon=preferences-system-windows-effect-logout
Comment=Keep the desktop background alive during logout until the end
Comment[az]=Seansdan çıxışda sona qədər İş Masası fon şəklinin saxlanılması
Comment[ca]=Manté viu el fons de l'escriptori durant la sortida de la sessió fins el final
Comment[da]=Hold skrivebordsbaggrunden i live under log ud helt til sidst
Comment[en_GB]=Keep the desktop background alive during logout until the end
Comment[es]=Mantener el fondo del escritorio activo durante el cierre de sesión hasta el final
Comment[et]=Töölaua taust hoitakse väljalogimisel alles kuni lõpuni
Comment[eu]=Eutsi mahaigaineko atzeko-planoa bizirik saio-ixtean bukaera arte
Comment[fi]=Pidä työpöydän tausta käynnissä aina uloskirjautumisen loppuun
Comment[fr]=Conservez l'arriére plan du bureau visible jusqu'à la fin de la déconnexion
Comment[gl]=Manter vivo o fondo de escritorio durante a saída ata o final
Comment[id]=Jaga latarbelakang desktop tetap nyala selama logout sampai akhir
Comment[it]=Mantieni attivo lo sfondo del desktop durante la chiusura della sessione fino alla fine
Comment[ko]=로그아웃이 끝날 때까지 데스크톱 배경 그림 유지
Comment[lt]=Atsijungiant, išlaikyti darbalaukio foną reaguojantį iki pat galo
Comment[nl]=De achtergrond van het bureaublad tot het einde levend houden gedurende afmelden
Comment[nn]=Hald skrivebordsbakgrunnen i live heilt til utlogginga er fullført
Comment[pl]=Utrzymuj tło pulpitu podczas wylogowania, aż do końca
Comment[pt]=Manter o fundo do ecrã activo durante a saída da sessão até ao fim
Comment[pt_BR]=Mantém ativo o fundo da área de trabalho até o fim do fechamento da sessão
Comment[ro]=Păstrează viu fundalul biroului în timpul ieșirii din sesiune până la capăt
Comment[ru]=Сохранение фона рабочего стола до окончания завершения сеанса
Comment[sk]=Ponechať pozadie plochy aktívne počas odhlásenia do skončenia
Comment[sl]=Pusti ozadje namizja živo ob odjavi do konca
Comment[sv]=Behåll skrivbordets bakgrund levande under utloggning till slutet
Comment[uk]=Не вимикати тло стільниці до кінця процедури виходу із облікового запису
Comment[x-test]=xxKeep the desktop background alive during logout until the endxx
Comment[zh_CN]=注销时保持桌面背景，直到完全退出
Comment[zh_TW]=直到登出完成前皆保留桌面背景圖片

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=David Edmundson
X-KDE-PluginInfo-Email=davidedmundson@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_sessionquit
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=40
X-Plasma-API=javascript
X-KWin-Internal=true
X-Plasma-MainScript=code/main.js
