[Desktop Entry]
Name=Desktop Cube
Name[uk]=Куб стільниць
Name[x-test]=xxDesktop Cubexx
Icon=preferences-system-windows-effect-cube
Comment=Display each virtual desktop on a side of a cube
Comment[uk]=Показ всіх віртуальні стільниць на поверхні куба
Comment[x-test]=xxDisplay each virtual desktop on a side of a cubexx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_cube
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KWin-Requires-OpenGL=true
X-KWin-Video-Url=http://files.kde.org/plasma/kwin/effect-videos/desktop_cube.ogv
