[Desktop Entry]
Name=Desktop Cube Animation
Name[de]=Animation Arbeitsflächen-Würfel
Name[el]=Εφέ κύβου επιφάνειας εργασίας
Name[et]=Töölauakuubiku animeerimine
Name[fi]=Työpöytäkuutio
Name[ga]=Beochan an Chiúib Deisce
Name[gl]=Animación do cubo do escritorio
Name[gu]=ડેસ્ટોપ ક્યુબ એનિમેશન
Name[ja]=デスクトップキューブのアニメーション
Name[km]=ការ​ធ្វើ​ឲ្យ​គូប​ផ្ទៃតុ​មាន​ចលនា​
Name[ko]=데스크톱 큐브 애니메이션
Name[nb]=Animert skrivebordsterning
Name[nds]=Animeert Wörpel-Schriefdisch
Name[nl]=Bureaubladkubusanimatie
Name[pt]=Animação do Cubo de Ecrãs
Name[pt_BR]=Animação do cubo da área de trabalho
Name[ro]=Animație Cub de birou
Name[sv]=Animering med skrivbordskub
Name[tr]=Masaüstü Küp Animasyonu
Name[uk]=Анімація куба стільниць
Name[x-test]=xxDesktop Cube Animationxx
Name[zh_TW]=桌面立方體動畫
Icon=preferences-system-windows-effect-cube
Comment=Animate desktop switching with a cube
Comment[de]=Wechsel der Arbeitsfläche mit einem Würfel animieren
Comment[el]=Εφέ εναλλαγής επιφάνειας εργασίας με έναν κύβο
Comment[et]=Töölaua vahetamise animeerimine kuubikul
Comment[ga]=Beoigh malairt na deisce le ciúb
Comment[gl]=Anima o troco de escritorio cunha forma cúbica
Comment[ja]=キューブを使ってデスクトップの切り替えをアニメーション化します
Comment[km]=ធ្វើ​ឲ្យ​កា​រប្ដូ​រផ្ទៃតុ​មាន​ចលនា​ដោយ​មានគូប
Comment[ko]=데스크톱 큐브를 돌릴 때 애니메이션 효과를 사용합니다
Comment[nb]=Animer skrivebordsbytte med en terning
Comment[nds]=Schriefdischwesseln mit en Wörpel animeren
Comment[nl]=Animatie van het wisselen van bureaublad met een kubus
Comment[pt]=Animar a mudança de ecrãs com um cubo
Comment[pt_BR]=Anima a alternação da área de trabalho com um cubo
Comment[ro]=Animează comutarea biroului cu un cub
Comment[sv]=Animera skrivbordsbyte med en kub
Comment[tr]=Masaüstü değiştirmeyi küp ile canlandır
Comment[uk]=Створювати анімацію перемикання стільниць куба
Comment[x-test]=xxAnimate desktop switching with a cubexx
Comment[zh_TW]=切換桌面時模擬立方體的動畫

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cubeslide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
