[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_cubeslide_config
X-KDE-ParentComponents=cubeslide

Name=Desktop Cube Animation
Name[uk]=Анімація куба стільниць
Name[x-test]=xxDesktop Cube Animationxx
