[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_cube
X-KDE-PluginKeyword=cube

Name=Desktop Cube
Name[ar]=مكعب سطح المكتب
Name[ast]=Cubu d'escritoriu
Name[be@latin]=Rabočy kub
Name[bg]=Кубичен работен плот
Name[bn]=ডেস্কটপ কিউব
Name[bs]=Kocka površi
Name[ca]=Cub d'escriptori
Name[ca@valencia]=Cub d'escriptori
Name[cs]=Plochy na kostce
Name[csb]=Szescan pùltu
Name[da]=Skrivebordsterning
Name[de]=Arbeitsflächen-Würfel
Name[el]=Κύβος επιφάνειας εργασίας
Name[en_GB]=Desktop Cube
Name[eo]=Labortabla Kubo
Name[es]=Cubo de escritorio
Name[et]=Töölauakuubik
Name[eu]=Mahaigain kuboa
Name[fi]=Työpöytäkuutio
Name[fr]=Bureau en cube
Name[fy]=Buroblêdkubus
Name[ga]=Ciúb Deisce
Name[gl]=Cubo do escritorio
Name[gu]=ડેસ્કટોપ ટ્યુબ
Name[he]=שולחן עבודה בקובייה
Name[hi]=डेस्कटॉप घन
Name[hne]=डेस्कटाप घन
Name[hr]=Radna površina na kocki
Name[hsb]=Kóstka
Name[hu]=Asztalkocka
Name[ia]=Cubo de scriptorio
Name[id]=Kubus Desktop
Name[is]=Skjáborðskubbur
Name[it]=Cubo dei desktop
Name[ja]=デスクトップキューブ
Name[kk]=Үстел текшесі
Name[km]=គូប​ផ្ទៃតុ​
Name[kn]=ಗಣಕತೆರೆ ಘನಾಕೃತಿ
Name[ko]=데스크톱 큐브
Name[ku]=Sermaseya Mîkap
Name[lt]=Darbastalio kubas
Name[lv]=Darbvirsmas kubs
Name[mai]=डेस्कटाप घन
Name[mk]=Работна коцка
Name[ml]=പണിയിടം ക്യൂബ്
Name[mr]=डेस्कटॉप क्यूब
Name[nb]=Skrivebordsterning
Name[nds]=Wörpel-Schriefdisch
Name[nl]=Bureaubladkubus
Name[nn]=Skrivebordskube
Name[pa]=ਡੈਸਕਟਾਪ ਘਣ
Name[pl]=Sześcian pulpitu
Name[pt]=Cubo de Ecrãs
Name[pt_BR]=Cubo de áreas de trabalho
Name[ro]=Cub de birou
Name[ru]=Куб с рабочими столами
Name[si]=වැඩතල ඝනකය
Name[sk]=Plochy na kocke
Name[sl]=Kocka z namizji
Name[sr]=Коцка површи
Name[sr@ijekavian]=Коцка површи
Name[sr@ijekavianlatin]=Kocka površi
Name[sr@latin]=Kocka površi
Name[sv]=Skrivbordskub
Name[ta]=பணிமேசை க்யூப்
Name[te]=‍డెస్‍క్ టాప్ క్యూబ్
Name[tg]=Мизи корӣ, монанди куб
Name[th]=พื้นที่ทำงานทรงลูกบาศก์
Name[tr]=Masaüstü Küpü
Name[ug]=ئۈستەلئۈستى كۇپى
Name[uk]=Куб стільниць
Name[wa]=Cube di scribannes
Name[x-test]=xxDesktop Cubexx
Name[zh_CN]=桌面立方
Name[zh_TW]=桌面立方體
