[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_cubeslide
X-KDE-PluginKeyword=cubeslide

Name=Desktop Cube Animation
Name[ar]=تحريك مكعب سطح المكتب
Name[bg]=Кубична анимация върху работен плот
Name[bn_IN]=ডেস্কটপ কিউব অ্যানিমেশন
Name[ca]=Animació del cub d'escriptori
Name[ca@valencia]=Animació del cub d'escriptori
Name[cs]=Animace kostky plochy
Name[csb]=Animacëjô Szescanu pùltu
Name[da]=Animation af skrivebordsterning
Name[de]=Animation Arbeitsflächen-Würfel
Name[el]=Εφέ κύβου επιφάνειας εργασίας
Name[et]=Töölauakuubiku animeerimine
Name[fi]=Työpöytäkuutio
Name[fr]=Animation du bureau en cube
Name[fy]=Buroblêd kubus animaasje
Name[ga]=Beochan an Chiúib Deisce
Name[gl]=Animación do cubo do escritorio
Name[gu]=ડેસ્ટોપ ક્યુબ એનિમેશન
Name[hu]=Asztalváltó kocka
Name[is]=Hreyfingar á skjáborðskubbi
Name[ja]=デスクトップキューブのアニメーション
Name[km]=ការ​ធ្វើ​ឲ្យ​គូប​ផ្ទៃតុ​មាន​ចលនា​
Name[kn]=ಗಣಕತೆರೆ ಘನಾಕೃತಿಯ ಸಜೀವನ
Name[ko]=데스크톱 큐브 애니메이션
Name[lv]=Darbvirsmas kuba animācija
Name[mai]=डेस्कटाप घन सजीवन
Name[mk]=Анимација „Работна коцка“
Name[ml]=പണിയിടം ക്യൂബ് നീക്കം
Name[mr]=डेस्कटॉप क्यूब ऍनीमेशन
Name[nb]=Animert skrivebordsterning
Name[nds]=Animeert Wörpel-Schriefdisch
Name[nl]=Animatie met bureaubladkubus
Name[nn]=Skrivebordskube
Name[pa]=ਡੈਸਕਟਾਪ ਘਣ ਐਨੀਮੇਸ਼ਨ
Name[pl]=Animacja sześcianu pulpitu
Name[pt]=Animação do Cubo de Ecrãs
Name[pt_BR]=Animação do cubo da área de trabalho
Name[ro]=Animație Cub de birou
Name[sl]=Animacija kocka z namizji
Name[sr]=Анимација коцке површи
Name[sr@latin]=Animacija kocke površi
Name[sv]=Animering med skrivbordskub
Name[tg]=Мизи корӣ, монанди куб
Name[tr]=Masaüstü Küp Animasyonu
Name[uk]=Анімація куба стільниць
Name[wa]=Animåcion cube di scribannes
Name[x-test]=xxDesktop Cube Animationxx
Name[zh_CN]=桌面立方动画
Name[zh_TW]=桌面立方體動畫
