[Desktop Entry]
Name=Desktop Cube Animation
Name[ar]=تحريك مكعب سطح المكتب
Name[ast]=Animación del cubu d'escritoriu
Name[bg]=Кубична анимация върху работен плот
Name[bs]=Animacija kocke površi
Name[ca]=Animació del cub d'escriptori
Name[ca@valencia]=Animació del cub d'escriptori
Name[cs]=Animace kostky plochy
Name[csb]=Animacëjô Szescanu pùltu
Name[da]=Animeret skrivebordsterning
Name[de]=Animation Arbeitsflächen-Würfel
Name[el]=Εφέ κύβου επιφάνειας εργασίας
Name[en_GB]=Desktop Cube Animation
Name[eo]=Movbildo de Labortabla kubo
Name[es]=Animación del cubo de escritorio
Name[et]=Töölauakuubiku animeerimine
Name[eu]=Mahaigain kuboaren animazioa
Name[fi]=Työpöytäkuutio
Name[fr]=Animation du bureau en cube
Name[fy]=Buroblêd kubus animaasje
Name[ga]=Beochan an Chiúib Deisce
Name[gl]=Animación do cubo do escritorio
Name[gu]=ડેસ્ટોપ ક્યુબ એનિમેશન
Name[he]=הנפשת שולחן עבודה בקובייה
Name[hi]=डेस्कटॉप घन एनिमेशन
Name[hr]=Animacija kocke s radnom površinom
Name[hu]=Asztalváltó kocka
Name[ia]=Animation de cubo de scriptorio
Name[id]=Animasi Kubus Desktop
Name[is]=Hreyfingar á skjáborðskubbi
Name[it]=Animazione del cubo dei desktop
Name[ja]=デスクトップキューブのアニメーション
Name[kk]=Үстел текшесін анимациялау
Name[km]=ការ​ធ្វើ​ឲ្យ​គូប​ផ្ទៃតុ​មាន​ចលនា​
Name[kn]=ಗಣಕತೆರೆ ಘನಾಕೃತಿಯ ಸಜೀವನ(ಎನಿಮೇಶನ್)
Name[ko]=데스크톱 큐브 애니메이션
Name[lt]=Darbastalio kubo animacija
Name[lv]=Darbvirsmas kuba animācija
Name[mk]=Анимација „Работна коцка“
Name[ml]=പണിയിടം ക്യൂബ് നീക്കം
Name[nb]=Animert skrivebordsterning
Name[nds]=Animeert Wörpel-Schriefdisch
Name[nl]=Animatie met bureaubladkubus
Name[nn]=Kubeskifte av skrivebord
Name[pa]=ਡੈਸਕਟਾਪ ਘਣ ਐਨੀਮੇਸ਼ਨ
Name[pl]=Animacja sześcianu pulpitu
Name[pt]=Animação do Cubo de Ecrãs
Name[pt_BR]=Animação do cubo de áreas de trabalho
Name[ro]=Animație Cub de birou
Name[ru]=Анимация куба рабочих столов
Name[si]=වැඩතල ඝනක සජීවීකරණය
Name[sk]=Animácia plochy na kocke
Name[sl]=Animacija kocka z namizji
Name[sr]=Анимација коцке површи
Name[sr@ijekavian]=Анимација коцке површи
Name[sr@ijekavianlatin]=Animacija kocke površi
Name[sr@latin]=Animacija kocke površi
Name[sv]=Animering med skrivbordskub
Name[tg]=Мизи корӣ, монанди куб
Name[th]=พื้นที่ทำงานทรงลูกบาศก์แบบเคลื่อนไหว
Name[tr]=Masaüstü Küp Animasyonu
Name[ug]=ئۈستەلئۈستى كۇب جانلاندۇرۇمى
Name[uk]=Анімація куба стільниць
Name[wa]=Animåcion cube do scribannes
Name[x-test]=xxDesktop Cube Animationxx
Name[zh_CN]=桌面立方动画
Name[zh_TW]=桌面立方體動畫
Icon=preferences-system-windows-effect-cube
Comment=Animate desktop switching with a cube
Comment[ar]=تحرك تبديل أسطح المكتب بمكعب
Comment[ast]=Anima'l cambéu d'escritoriu con un cubu
Comment[bg]=Кубично анимиране на превключването меду работните плотове
Comment[bs]=Prebacivanje površi animirano kroz kocku
Comment[ca]=Anima el canvi d'escriptori amb un cub
Comment[ca@valencia]=Anima el canvi d'escriptori amb un cub
Comment[cs]=Animovat přepínání ploch pomocí kostky
Comment[da]=Animér skift af skrivebord med en terning
Comment[de]=Wechsel der Arbeitsfläche mit einem Würfel animieren.
Comment[el]=Εφέ εναλλαγής επιφάνειας εργασίας με έναν κύβο
Comment[en_GB]=Animate desktop switching with a cube
Comment[eo]=Movi labortablan ŝanĝon per kubo
Comment[es]=Anima el cambio de escritorio con un cubo
Comment[et]=Töölaua vahetamise animeerimine kuubikul
Comment[eu]=Animatu mahaigaina aldatzeko kubo bat erabiliz
Comment[fi]=Animoi työpöydän vaihtoa kuutiolla
Comment[fr]=Anime les changements de bureaux grâce à un cube
Comment[fy]=It wikseljen fan buroblêd dwaan mei in animaasje kubus
Comment[ga]=Beoigh malairt na deisce le ciúb
Comment[gl]=Anima o troco de escritorio cunha forma cúbica
Comment[he]=הנפשת מעבר בין שולחנות־עבודה על־ידי קובייה
Comment[hr]=Animacija promjene radne površine na kocki
Comment[hu]=Asztalváltás kocka alakzattal
Comment[ia]=Commuta scriptorio animate con un cubo
Comment[id]=Animasi penggantian desktop di dalam kubus
Comment[is]=Hreyfa til skjáborðaskiptingu á kubbi
Comment[it]=Anima il cambio di desktop con un cubo
Comment[ja]=キューブを使ってデスクトップの切り替えをアニメーション化します
Comment[kk]=Текше арқылы үстелі ауыстыруды анимациялау
Comment[km]=ធ្វើ​ឲ្យ​កា​រប្ដូ​រផ្ទៃតុ​មាន​ចលនា​ដោយ​មានគូប
Comment[kn]=ಗಣಕತೆರೆಯನ್ನು ಬದಲಾಯಿಸುವುದನ್ನು ಒಂದು ಘನಾಕೃತಿಯನ್ನು ಬಳಸಿಕೊಂಡು ಸಜೀವನಗೊಳಿಸಿ
Comment[ko]=데스크톱 큐브를 돌릴 때 애니메이션 효과를 사용합니다
Comment[lt]=Animuoti persijungimą tarp ekranų rodant kubą
Comment[lv]=Animēt darbvismu pārslēgšanu ar kubu
Comment[mk]=Анимира менување работни површини со коцка
Comment[ml]=ക്യുബ് ഉപയോഗിച്ചു് പണിയിടം മാറുന്നതു് കളിപ്പിക്കുക
Comment[nb]=Animer skrivebordsbytte med en terning
Comment[nds]=Schriefdischwesseln mit en Wörpel animeren
Comment[nl]=Animeer bureaubladwisseling met een kubus
Comment[nn]=Vis skrivebordsbyte på ein kube
Comment[pa]=ਘਣ ਨਾਲ ਡੈਸਕਟਾਪ ਬਦਲਣ ਲਈ ਐਨੀਮੇਟ
Comment[pl]=Animuj przełączanie pulpitów za pomocą sześcianu
Comment[pt]=Animar a mudança de ecrãs com um cubo
Comment[pt_BR]=Anima a seleção de área de trabalho com um cubo
Comment[ro]=Animează comutarea biroului cu un cub
Comment[ru]=Визуализация переключения рабочих столов вращением куба
Comment[si]=ඝනකයක් සමඟ වැඩතල මාරුවීම සජීවීකරණය කරන්න
Comment[sk]=Animuje prepínanie plôch pomocou kocky
Comment[sl]=Animira preklapljanje med namizji s kocko
Comment[sr]=Пребацивање површи анимирано кроз коцку
Comment[sr@ijekavian]=Пребацивање површи анимирано кроз коцку
Comment[sr@ijekavianlatin]=Prebacivanje površi animirano kroz kocku
Comment[sr@latin]=Prebacivanje površi animirano kroz kocku
Comment[sv]=Animera skrivbordsbyte med en kub
Comment[th]=แสดงการเคลื่อนไหวของพื้นที่ทำงานกล่องลูกบาศก์เมื่อทำการเปลี่ยนพื้นที่
Comment[tr]=Masaüstü değiştirmeyi küp ile canlandır
Comment[ug]=ئۈستەلئۈستى ئالماشتۇرۇشنى كۇپ شەكلىدە جانلاندۇر
Comment[uk]=Створювати анімацію перемикання стільниць куба
Comment[wa]=Anime li candjaedje di scribanne avou on cube
Comment[x-test]=xxAnimate desktop switching with a cubexx
Comment[zh_CN]=以立方体动画呈现桌面切换
Comment[zh_TW]=切換桌面時模擬立方體的動畫

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cubeslide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
