[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_cubeslide
X-KDE-PluginKeyword=cubeslide

Name=Desktop Cube Animation
Name[csb]=Animacëjô Szescanu pùltu
Name[de]=Animation Arbeitsflächen-Würfel
Name[el]=Εφέ κύβου επιφάνειας εργασίας
Name[et]=Töölauakuubiku animeerimine
Name[fi]=Työpöytäkuutio
Name[ga]=Beochan an Chiúib Deisce
Name[gl]=Animación do cubo do escritorio
Name[gu]=ડેસ્ટોપ ક્યુબ એનિમેશન
Name[ja]=デスクトップキューブのアニメーション
Name[km]=ការ​ធ្វើ​ឲ្យ​គូប​ផ្ទៃតុ​មាន​ចលនា​
Name[ko]=데스크톱 큐브 애니메이션
Name[nb]=Animert skrivebordsterning
Name[nds]=Animeert Wörpel-Schriefdisch
Name[nl]=Bureaubladkubusanimatie
Name[pt]=Animação do Cubo de Ecrãs
Name[pt_BR]=Animação do cubo da área de trabalho
Name[ro]=Animație Cub de birou
Name[sv]=Animering med skrivbordskub
Name[tr]=Masaüstü Küp Animasyonu
Name[uk]=Анімація куба стільниць
Name[x-test]=xxDesktop Cube Animationxx
Name[zh_TW]=桌面立方體動畫
