[Desktop Entry]
Name=Desktop Cube Animation
Name[pt_BR]=Animação do cubo da área de trabalho
Name[sv]=Animering med skrivbordskub
Name[uk]=Анімація куба стільниць
Icon=preferences-system-windows-effect-cube
Comment=Animate desktop switching with a cube
Comment[pt_BR]=Anima a alternação da área de trabalho com um cubo
Comment[sv]=Animera skrivbordsbyte med en kub
Comment[uk]=Створювати анімацію перемикання стільниць куба

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cubeslide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
