[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_thumbnailaside
X-KDE-PluginKeyword=thumbnailaside

Name=Thumbnail Aside
Name[af]=Duimnael langsaan
Name[ar]=مصغرات على الجانب
Name[ast]=Miniatures llaterales
Name[be@latin]=Padhlady akon
Name[bg]=Странични миниатюри
Name[bs]=Sličica postrance
Name[ca]=Miniatures de costat
Name[ca@valencia]=Miniatures de costat
Name[cs]=Postranní miniatura
Name[csb]=Miniaturka Aside
Name[da]=Væk med miniature
Name[de]=Seitliche Vorschaubilder
Name[el]=Εικόνα επισκόπησης στο πλάι
Name[en_GB]=Thumbnail Aside
Name[eo]=Miniaturojn flanke
Name[es]=Miniaturas laterales
Name[et]=Pisipildid kõrval
Name[eu]=Koadro txikiak alboan
Name[fi]=Esikatselukuva vieressä
Name[fr]=Aperçu sur le côté
Name[fy]=Miniatuer der neist
Name[ga]=Thumbnail Aside
Name[gl]=Miniatura a un lado
Name[gu]=થમ્બનીલ બાજુમાં
Name[he]=תמונות ממוזערות בצד
Name[hi]=लघुछवि बाजू में
Name[hne]=चिनहा बाजू में
Name[hr]=Pokrajnja sličica
Name[hu]=Ablakbetekintő oldalt
Name[ia]=Miniatura a parte
Name[id]=Meminggirkan Miniatur
Name[is]=Smámynd til hliðar
Name[it]=Miniature a fianco
Name[ja]=サムネイルをわきに表示
Name[kk]=Нобайды шеттеу
Name[km]=រូបភាព​តូចនៅ​ខាង
Name[kn]=ಸೂಚ್ಯಚಿತ್ರ ಬದಿಯಲ್ಲಿ
Name[ko]=미리 보기 그림
Name[lt]=Miniatiūros pakrašty
Name[lv]=Sīktēli malā
Name[mai]=लघुछवि बाजू मे
Name[mk]=Сликички на работ
Name[ml]=അടുത്തുള്ള നഖചിത്രം
Name[mr]=लघुप्रतिमा बाजूला करा
Name[nb]=Minibilde til side
Name[nds]=Vöransicht kantsiets
Name[ne]=थम्बनेल अलग गर्नुहोस्
Name[nl]=Miniatuur ernaast
Name[nn]=Miniatyrbilete ved skjermkanten
Name[pa]=ਥੰਮਨੇਲ ਏ-ਸਾਇਡ
Name[pl]=Miniaturka z boku
Name[pt]=Miniaturas Lado-a-Lado
Name[pt_BR]=Miniatura de lado
Name[ro]=Miniatură lateral
Name[ru]=Показать миниатюру окна с краю экрана
Name[se]=Minigovva bálddas
Name[si]=පසෙකින් කුඩා රුවක්
Name[sk]=Bočný náhľad
Name[sl]=Sličica ob strani
Name[sr]=Сличица постранце
Name[sr@ijekavian]=Сличица постранце
Name[sr@ijekavianlatin]=Sličica postrance
Name[sr@latin]=Sličica postrance
Name[sv]=Miniatyrbild vid sidan om
Name[ta]=சுட்டி பக்கத்தில்
Name[te]=థంబ్‌నెయిల్ ఎసైడ్
Name[tg]=Миниатюры сбоку
Name[th]=ภาพตัวอย่างแบบย่อตามด้าน
Name[tr]=Yan Küçük Resimcik
Name[ug]=كىچىك سۈرەت يانى
Name[uk]=Мініатюри збоку
Name[vi]=Hình nhỏ ra bên
Name[wa]=Prévoeyaedje a costé
Name[x-test]=xxThumbnail Asidexx
Name[zh_CN]=缩略图置边
Name[zh_TW]=縮圖在旁邊
