[Desktop Entry]
Name=Aurorae Decoration Theme Engine
Name[pt]=Motor do Tema de Decoração Aurorae
Name[pt_BR]=Mecanismo do tema de decoração Aurorae
Name[sv]=Aurora dekorationstemagränssnitt
Name[uk]=Рушій декорації тем Aurorae
Name[x-test]=xxAurorae Decoration Theme Enginexx
Name[zh_TW]=Aurorae 裝飾主題引擎
X-KDE-Library=kwin3_aurorae
