[Desktop Entry]
Name=Aurorae Decoration Theme Engine
Name[ar]=محرك شفق لسمات التزيين
Name[ast]=Motor de temes de decoración Aurorae
Name[bg]=Теми за декорация на прозорци Aurorae
Name[bs]=Aurore, tematski motor dekoracija
Name[ca]=Motor del tema de decoració Aurorae
Name[ca@valencia]=Motor del tema de decoració Aurorae
Name[cs]=Stroj motivů dekorace Aurorae
Name[csb]=Mòtór dekòracëji wëzdrzatkù Aurorae
Name[da]=Temamotor til Aurorae-dekorationen
Name[de]=Aurorae-Dekorationsdesign-Engine
Name[el]=Μηχανισμός διακόσμησης θέματων Aurorae
Name[en_GB]=Auroræ Decoration Theme Engine
Name[eo]=Aurorae Ornamaĵ-etosa Modulo
Name[es]=Motor de temas de decoración Aurorae
Name[et]=Aurorae dekoratsioonide teema mootor
Name[eu]=Aurorae dekorazio tema motorea
Name[fi]=Revontulet-koristusteemakone
Name[fr]=Moteur de thèmes de la décoration Aurorae
Name[fy]=Aurorae dekoraasje tema motor
Name[ga]=Inneall Téama Maisiúcháin Aurorae
Name[gl]=Motor de temas de decoración Aurorae
Name[he]=מנוע ערכת התצוגה Aurorae Decoration
Name[hr]=Tematski mehanizam za ukrase Aurorae
Name[hu]=Aurorae ablakdekorációs témamodul
Name[ia]=Motor de thema de decoration Aurorae
Name[id]=Mesin Tema Dekorasi Aurorae
Name[is]=Aurorae skjáskreytiþemavél
Name[it]=Motore dei temi decorativi Aurorae
Name[ja]=オーロラ装飾テーマエンジン
Name[kk]=Aurorae безендіру нақыш теігі
Name[km]=ម៉ាស៊ីន​ស្បែក​តុបតែង​ Aurorae
Name[kn]=ಅರೋರೆ ಪರಿಸರ ವಿನ್ಯಾಸ(ಥೀಮ್) ಎಂಜಿನ್ 
Name[ko]=Aurorae 장식 테마 엔진
Name[lt]=Aurorae dekoracijos temos variklis
Name[lv]=Aurorae dekorācijas tēmu dzinējs
Name[ml]=അറോറ അണിയിച്ചൊരുക്കാനുള്ള പ്രമേയ എഞ്ചിന്‍
Name[nb]=Aurorae motor for dekorasjonstema
Name[nds]=Aurorae Dekoratschonen-Musterkarn
Name[nl]=Aurorae decoratiethema-engine
Name[nn]=Motor for pynting med temaet Aurorae
Name[pa]=ਔਰੋਰਾਈ ਸਜਾਵਟ ਥੀਮ ਇੰਜਣ
Name[pl]=Moduł dekoracji Aurora
Name[pt]=Motor do Tema de Decoração Aurorae
Name[pt_BR]=Mecanismo do tema de decoração Aurorae
Name[ro]=Motor pentru tematici de decorare Aurorae
Name[ru]=Движок оформлений окон Aurorae
Name[si]=Aurorae සැරසිලි තේමා එන්ජිම
Name[sk]=Aurorae témy dekorácie
Name[sl]=Pogon Aurorae za teme okraskov
Name[sr]=Ауроре, тематски мотор декорација
Name[sr@ijekavian]=Ауроре, тематски мотор декорација
Name[sr@ijekavianlatin]=Aurore, tematski motor dekoracija
Name[sr@latin]=Aurore, tematski motor dekoracija
Name[sv]=Aurora dekorationstemagränssnitt
Name[tg]=Системаи мавзӯъҳои аврора
Name[th]=กลไกชุดตกแต่ง Aurorae
Name[tr]=Aurorae Dekorasyon Teması Motoru
Name[ug]=Aurorae زىننەتلەش ئۆرنەك ماتورى
Name[uk]=Рушій декорації тем Aurorae
Name[wa]=Moteur di tinme di gåyotaedje Aurorae
Name[x-test]=xxAurorae Decoration Theme Enginexx
Name[zh_CN]=Aurorae 装饰主题引擎
Name[zh_TW]=Aurorae 裝飾主題引擎
X-KDE-Library=kwin3_aurorae
