[Desktop Entry]
Name=Aurorae Decoration Theme Engine
Name[et]=Aurorae dekoratsioonide teema mootor
Name[hr]=Podrška za ukrase iz Aurora teme
Name[id]=Mesin Tema Dekorasi Aurorae
Name[km]=ម៉ាស៊ីន​ស្បែក​តុបតែង​ Aurorae
Name[nb]=Aurorae motor for dekorasjonstema
Name[nds]=Aurorae Dekoratschonen-Musterkarn
Name[nn]=Motor for pynting med temaet Aurorae
Name[pt]=Motor do Tema de Decoração Aurorae
Name[pt_BR]=Mecanismo do tema de decoração Aurorae
Name[ro]=Motor pentru tematici de decorare Aurorae
Name[sr]=Ауроре, тематски мотор декорација
Name[sr@latin]=Aurore, tematski motor dekoracija
Name[sv]=Aurora dekorationstemagränssnitt
Name[tr]=Aurorae Dekorasyon Teması Motoru
Name[uk]=Рушій декорації тем Aurorae
Name[x-test]=xxAurorae Decoration Theme Enginexx
Name[zh_TW]=Aurorae 裝飾主題引擎
X-KDE-Library=kwin3_aurorae
