[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/Decoration

Comment=KWin Window Decoration
Comment[uk]=Обрамлення вікон KWin
Comment[x-test]=xxKWin Window Decorationxx

[PropertyDef::X-Plasma-MainScript]
Type=QString
