[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/Decoration

Comment=KWin Window Decoration
Comment[cs]=Dekorace oken KWin
Comment[el]=Διακοσμήσεις παραθύρου KWin
Comment[es]=Decoración de ventanas de KWin
Comment[hu]=KWin ablakdekoráció
Comment[ia]=Decorationes de fenestra de KWin
Comment[nl]=KWin vensterdecoratie
Comment[pt]=Decoração das Janelas do KWin
Comment[pt_BR]=Decorações de janelas do KWin
Comment[sk]=Dekorácie okien KWin
Comment[sr]=К‑винова декорација прозора
Comment[sr@ijekavian]=К‑винова декорација прозора
Comment[sr@ijekavianlatin]=KWinova dekoracija prozora
Comment[sr@latin]=KWinova dekoracija prozora
Comment[sv]=Kwin-fönsterdekorationer
Comment[uk]=Обрамлення вікон KWin
Comment[x-test]=xxKWin Window Decorationxx
Comment[zh_CN]=KWin 窗口装饰
Comment[zh_TW]=KWin 視窗裝飾

[PropertyDef::X-Plasma-MainScript]
Type=QString
