[Desktop Entry]
Encoding=UTF-8
Name=Web
Name[af]=web
Name[az]=Veb
Name[da]=Net
Name[eo]=TTT
Name[is]=Vefur
Name[ko]=웹
Name[nb]=Nett
Name[nn]=Vev
Name[pl]=Sieć
Name[pt_BR]=Árvore Web
Name[sl]=Splet
Name[sv]=Webb
Name[ta]=Å¨Ä
Name[uk]=Тенета
Name[xh]=iWeb
Name[xx]=xx
Name[zu]=I Web
X-KDE-Library=kwin_web
