[Desktop Entry]
Name=Startup Feedback
Name[ast]=Notificación d'aniciu
Name[bg]=Видимо стартиране
Name[bs]=Odziv pri pokretanju
Name[ca]=Reacció en iniciar
Name[ca@valencia]=Reacció en iniciar
Name[cs]=Odezva při spouštění
Name[da]=Opstartsfeedback
Name[de]=Programmstartanzeige
Name[el]=Ειδοποίηση εκκίνησης
Name[en_GB]=Startup Feedback
Name[es]=Notificación de inicio
Name[et]=Käivitamise tagasiside
Name[eu]=Abiarazpen berrelikadura
Name[fi]=Käynnistyksen ilmaiseminen
Name[fr]=Témoin de démarrage
Name[ga]=Aiseolas Tosaithe
Name[he]=משוב להפעלה
Name[hi]=शुरुआती फ़ीडबैक
Name[hr]=Povratna informacija pri pokretanju
Name[hu]=Alkalmazásindítási effektus
Name[ia]=Retorno ab lanceamento
Name[is]=Upplýsingar um ræsingu
Name[it]=Segnale di avvio
Name[ja]=起動フィードバック
Name[kk]=Жегу барысы
Name[km]=មតិ​យោបល់​ពេល​ចាប់ផ្ដើម
Name[ko]=실행 피드백
Name[lt]=Paleidimo atsakas
Name[lv]=Startēšanās atbilde
Name[nb]=Oppstartsmelding
Name[nds]=Startmellen
Name[nl]=Terugkoppeling van opstarten
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਫੀਡਬੈਕ
Name[pl]=Odczucia przy starcie
Name[pt]=Reacção ao Arranque
Name[pt_BR]=Críticas e sugestões da inicialização
Name[ro]=Indicator de pornire
Name[ru]=Отклик запуска приложений
Name[sk]=Odozva pri spustení
Name[sl]=Povratna informacija zagona
Name[sr]=Одзив при покретању
Name[sr@ijekavian]=Одзив при покретању
Name[sr@ijekavianlatin]=Odziv pri pokretanju
Name[sr@latin]=Odziv pri pokretanju
Name[sv]=Gensvar vid programstart
Name[th]=ตอบสนองการเริ่มโปรแกรม
Name[tr]=Açılış Geribildirimi
Name[ug]=قوزغىلىش قايتما ئىنكاسى
Name[uk]=Повідомлення під час запуску
Name[wa]=Ritoû d' enondaedje
Name[x-test]=xxStartup Feedbackxx
Name[zh_CN]=启动反馈
Name[zh_TW]=程式啟動回饋
Comment=Helper effect for startup feedback
Comment[ast]=Efeutu de notificación d'aniciu
Comment[bg]=Ефект при стартиране на приложение
Comment[bs]=Pomoćni efekat za odziv pri pokretanju
Comment[ca]=Efecte auxiliar de reacció en iniciar
Comment[ca@valencia]=Efecte auxiliar de reacció en iniciar
Comment[cs]=Pomocný efekt pro Odezvu při spouštění
Comment[da]=Hjælpeeffekt til opstartsfeedback
Comment[de]=Hilfseffekt für Programmstartanzeige.
Comment[el]=Εφέ ειδοποίησης εκκίνησης
Comment[en_GB]=Helper effect for startup feedback
Comment[es]=Efecto de notificación de inicio
Comment[et]=Käivitamise tagasiside abiefekt
Comment[eu]=Abiarazpen berrelikadurarentzako efektu laguntzailea 
Comment[fi]=Avustajatehoste käynnistyksen ilmaisemiseen
Comment[fr]=Effet d'assistance du témoin de démarrage 
Comment[he]=אפקט המשמש כמשוב להפעלה
Comment[hr]=Pomoćni efekt za povratnu informaciju pri pokretanju
Comment[hu]=Segédeffektus alkalmazásindításhoz
Comment[ia]=Effecto de adjutante pro retorno ab lanceamento
Comment[is]=Hjálpar til við birtingu pplýsinga um ræsingu
Comment[it]=Effetto di assistenza per il segnale di avvio
Comment[kk]=Жегу барысын көрсететін эффекті
Comment[km]=កម្មវិធី​ជំនួយ​មាន​ប្រសិទ្ធភាព​នៅពេល​លចាប់ផ្ដើម​មតិត្រឡប់
Comment[ko]=실행 피드백 효과
Comment[lt]=Paleidimo atsako pagalbininko efektas
Comment[lv]=Palīgefekts startēšanās atbildei
Comment[nb]=Hjelpereffekt for oppstartsvisning
Comment[nds]=Hölpsche Startmellen
Comment[nl]=Effect van hulp bij terugkoppeling van opstarten
Comment[pa]=ਸ਼ੁਰੂਆਤੀ ਫੀਡਬੈਕ ਉੱਤੇ ਸਹਾਇਕ ਪਰਭਾਵ
Comment[pl]=Efekt pomocniczy dla odczuć przy starcie
Comment[pt]=Efeito auxiliar de reacção ao arranque
Comment[pt_BR]=Assistente de efeito sugestões e críticas da inicialização
Comment[ro]=Efect ajutător pentru indicarea lansării
Comment[ru]=Вспомогательный эффект для отклика запуска приложений
Comment[sk]=Pomocný efekt pre odozvu pri spustení
Comment[sl]=Pomožni učinek za povratno informacijo zagona
Comment[sr]=Помоћни ефекат за одзив при покретању
Comment[sr@ijekavian]=Помоћни ефекат за одзив при покретању
Comment[sr@ijekavianlatin]=Pomoćni efekat za odziv pri pokretanju
Comment[sr@latin]=Pomoćni efekat za odziv pri pokretanju
Comment[sv]=Hjälpeffekt för gensvar vid programstart
Comment[th]=ลูกเล่นที่จะแสดงเพื่อรอการเริ่มการทำงานของโปรแกรม
Comment[tr]=Açılış geribildirimi için yardımcı etkisi
Comment[ug]=قوزغىلىش قايتما ئىنكاسىنىڭ ياردەمچى ئۈنۈمى
Comment[uk]=Допоміжний ефект перегляду повідомлень, що надсилаються програмою під час запуску
Comment[wa]=Efet aidant pol ritoû d' enondaedje
Comment[x-test]=xxHelper effect for startup feedbackxx
Comment[zh_CN]=启动反馈的帮助效果
Comment[zh_TW]=啟動回饋效果
Icon=preferences-system-windows-effect-startupfeedback

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_startupfeedback
X-KDE-PluginInfo-Category=Candy
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
