[Desktop Entry]
Name=Startup Feedback
Name[ast]=Notificación d'aniciu
Name[ca]=Reacció en iniciar
Name[ca@valencia]=Reacció en iniciar
Name[da]=Opstartsfeedback
Name[de]=Programmstartanzeige
Name[el]=Σχόλιο εκκίνησης
Name[en_GB]=Startup Feedback
Name[es]=Notificación de inicio
Name[et]=Käivitamise tagasiside
Name[fr]=Commentaires de démarrage
Name[hi]=शुरुआती फ़ीडबैक
Name[ia]=Retorno de Lanceamento
Name[it]=Segnale di avvio
Name[ja]=起動フィードバック
Name[kk]=Жегу барысы
Name[km]=មតិ​យោបល់​ពេល​ចាប់ផ្ដើម
Name[ko]=실행 피드백
Name[lt]=Paleidimo atsakas
Name[nb]=Oppstartsmelding
Name[nds]=Startmellen
Name[nl]=Terugkoppeling van opstarten
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਫੀਡਬੈਕ
Name[pt]=Reacção ao Arranque
Name[pt_BR]=Críticas e sugestões da inicialização
Name[sl]=Povratna informacija zagona
Name[sr]=Одзив при покретању
Name[sr@ijekavian]=Одзив при покретању
Name[sr@ijekavianlatin]=Odziv pri pokretanju
Name[sr@latin]=Odziv pri pokretanju
Name[sv]=Gensvar vid programstart
Name[th]=ตอบสนองการเริ่มโปรแกรม
Name[uk]=Повідомлення під час запуску
Name[x-test]=xxStartup Feedbackxx
Name[zh_CN]=启动反馈
Name[zh_TW]=程式啟動回饋
Comment=Helper effect for startup feedback
Comment[ast]=Efeutu de notificación d'aniciu
Comment[ca]=Efecte auxiliar de reacció en iniciar
Comment[ca@valencia]=Efecte auxiliar de reacció en iniciar
Comment[da]=Hjælpeeffekt til opstartsfeedback
Comment[el]=Εφέ ειδοποίησης εκκίνησης
Comment[en_GB]=Helper effect for startup feedback
Comment[es]=Efecto de notificación de inicio
Comment[et]=Käivitamise tagasiside abiefekt
Comment[fr]=Effet de l'assistant pour les commentaires de démarrage
Comment[ia]=Effecto de adjutante pro retorno de lanceamento
Comment[it]=Effetto di assistenza per il segnale di avvio
Comment[kk]=Жегу барысын көрсететін эффекті
Comment[km]=កម្មវិធី​ជំនួយ​មាន​ប្រសិទ្ធភាព​នៅពេល​លចាប់ផ្ដើម​មតិត្រឡប់
Comment[ko]=실행 피드백 효과
Comment[lt]=Paleidimo atsako pagalbininko efektas
Comment[nb]=Hjelpereffekt for oppstartsvisning
Comment[nds]=Hölpsche Startmellen
Comment[nl]=Effect van hulp bij terugkoppeling van opstarten
Comment[pa]=ਸ਼ੁਰੂਆਤੀ ਫੀਡਬੈਕ ਉੱਤੇ ਸਹਾਇਕ ਪਰਭਾਵ
Comment[pt]=Efeito auxiliar de reacção ao arranque
Comment[pt_BR]=Assistente de efeito sugestões e críticas da inicialização
Comment[sl]=Pomožni učinek za povratno informacijo zagona
Comment[sr]=Помоћни ефекат за одзив при покретању
Comment[sr@ijekavian]=Помоћни ефекат за одзив при покретању
Comment[sr@ijekavianlatin]=Pomoćni efekat za odziv pri pokretanju
Comment[sr@latin]=Pomoćni efekat za odziv pri pokretanju
Comment[sv]=Hjälpeffekt för gensvar vid programstart
Comment[th]=ลูกเล่นที่จะแสดงเพื่อรอการเริ่มการทำงานของโปรแกรม
Comment[uk]=Допоміжний ефект перегляду повідомлень, що надсилаються програмою під час запуску
Comment[x-test]=xxHelper effect for startup feedbackxx
Comment[zh_TW]=啟動回饋效果
Icon=preferences-system-windows-effect-startupfeedback

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_startupfeedback
X-KDE-PluginInfo-Category=Candy
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
