[Desktop Entry]
Name=Startup Feedback
Name[ast]=Notificación d'aniciu
Name[ca]=Reacció en iniciar
Name[en_GB]=Startup Feedback
Name[es]=Notificación de inicio
Name[et]=Käivitamise tagasiside
Name[ia]=Retorno de Lanceamento
Name[ja]=起動フィードバック
Name[km]=មតិ​យោបល់​ពេល​ចាប់ផ្ដើម
Name[ko]=실행 피드백
Name[nb]=Oppstartsmelding
Name[nds]=Startmellen
Name[nl]=Terugkoppeling van opstarten
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਫੀਡਬੈਕ
Name[pt]=Reacção ao Arranque
Name[pt_BR]=Críticas e sugestões da inicialização
Name[sv]=Gensvar vid programstart
Name[uk]=Повідомлення під час запуску
Name[x-test]=xxStartup Feedbackxx
Name[zh_CN]=启动反馈
Name[zh_TW]=程式啟動回饋
Comment=Helper effect for startup feedback
Comment[ast]=Efeutu de notificación d'aniciu
Comment[ca]=Efecte auxiliar de reacció en iniciar
Comment[en_GB]=Helper effect for startup feedback
Comment[es]=Efecto de notificación de inicio
Comment[et]=Käivitamise tagasiside abiefekt
Comment[ia]=Effecto de adjutante pro retorno de lanceamento
Comment[km]=កម្មវិធី​ជំនួយ​មាន​ប្រសិទ្ធភាព​នៅពេល​លចាប់ផ្ដើម​មតិត្រឡប់
Comment[ko]=실행 피드백 효과
Comment[nb]=Hjelpereffekt for oppstartsvisning
Comment[nds]=Hölpsche Startmellen
Comment[nl]=Effect van hulp bij terugkoppeling van opstarten
Comment[pt]=Efeito auxiliar de reacção ao arranque
Comment[pt_BR]=Assistente de efeito sugestões e críticas da inicialização
Comment[sv]=Hjälpeffekt för gensvar vid programstart
Comment[uk]=Допоміжний ефект перегляду повідомлень, що надсилаються програмою під час запуску
Comment[x-test]=xxHelper effect for startup feedbackxx
Comment[zh_TW]=啟動回饋效果
Icon=preferences-system-windows-effect-startupfeedback

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_startupfeedback
X-KDE-PluginInfo-Category=Candy
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
