[Desktop Entry]
Name=Fade Desktop
Name[bg]=Избледняване на работния плот
Name[ca]=Esvair l'escriptori
Name[ca@valencia]=Esvair l'escriptori
Name[csb]=Pùlt fade
Name[da]=Lad skrivebord fade ud
Name[de]=Arbeitsfläche aus-/einblenden
Name[el]=Ομαλή εμφάνιση επιφάνειας εργασίας
Name[et]=Töölaua hääbumine
Name[fi]=Häivytä työpöytä
Name[fr]=Effectue un fondu du bureau
Name[ga]=Céimnigh an Deasc
Name[gl]=Esvaer o escritorio
Name[gu]=ડેસ્કટોપ ઝાંખુ કરો
Name[hu]=Elhalványuló váltás
Name[is]=Þynna út skjáborð
Name[km]=ធ្វើ​ឲ្យ​ផ្ទៃតុលេច​បន្តិចម្ដងៗ
Name[ko]=데스크톱 페이드
Name[lv]=Sapludināt darbvirsmu
Name[nb]=Ton ut skrivebord
Name[nds]=Schriefdisch överblennen
Name[nn]=Toning av skrivebordet
Name[pt]=Desvanecer o Ecrã
Name[pt_BR]=Desaparecimento da área de trabalho
Name[si]=වැඩතලය විවර්ණ කිරීම
Name[sl]=Postopen prehod
Name[sv]=Tona skrivbord
Name[tg]=Мизи корӣ, монанди пардаи экран
Name[tr]=Masaüstü Kaybolması
Name[uk]=Затемнювати стільницю
Name[x-test]=xxFade Desktopxx
Name[zh_CN]=阴影桌面
Name[zh_TW]=淡出淡入桌面
Icon=preferences-system-windows-effect-fadedesktop
Comment=Fade between virtual desktops when switching between them
Comment[bg]=Избледнване при превключване между работните плотове
Comment[ca]=Esvaeix entre els escriptoris virtuals quan es commuta entre ells
Comment[ca@valencia]=Esvaeix entre els escriptoris virtuals quan es commuta entre ells
Comment[cs]=Plochy při přepínání mění intenzitu
Comment[da]=Fade ud og ind mellem virtuelle skrivebord ved skift mellem dem
Comment[de]=Wechseln der virtuellen Arbeitsfläche durch Aus-/ und Einblenden der Arbeitsfläche
Comment[el]=Εναλλαγή μεταξύ των επιφανειών εργασίας με ομαλό σβήσιμο
Comment[et]=Hääbumisefekt ühelt virtuaalselt töölaualt teisele lülitudes
Comment[fr]=Effectue un fondu entre les bureaux virtuel lors des changements de bureau
Comment[ga]=Céimnigh idir deasca fíorúla agus ag malairt eatarthu
Comment[gl]=Emprega un efecto de esvaemento ao trocar de escritorio
Comment[hu]=Asztalváltáskor a régi asztal elhalványul, az új felerősödik
Comment[is]=Þynnir saman sýndarkjáborðum þegar skipt er á milli þeirra
Comment[km]=ស្រមោល​រវាង​ផ្ទៃតុ​និម្មិត នៅពេល​ប្ដូរ​រវាង​ពួកវា
Comment[ko]=가상 데스크톱 사이를 전환할 때 페이드 효과를 사용합니다
Comment[lv]=Plūstoši pārslēgties starp vituālajām darbvirsmām
Comment[ml]=വെര്‍ച്വല്‍ പണിയിടങ്ങള്‍ക്കിടക്ക് സ്വിച്ച് ചെയ്യുമ്പോള്‍ മങ്ങിപ്പോകുന്നു.
Comment[nb]=Ton ut/inn mellom virtuelle skrivebord når det byttes mellom dem
Comment[nds]=Bi't Wesseln de Schriefdischen överenanner blennen
Comment[nn]=Ton inn/ut mellom virtuelle skrivebord når det vert veksla mellom dei
Comment[pt]=Desvanece entre os ecrãs virtuais, ao circular entre eles
Comment[pt_BR]=Desaparece entre as áreas de trabalho virtuais, ao alternar entre elas
Comment[sl]=Pri preklopu med namizjema postopoma skrij prejšnjega in prikaži novega
Comment[sv]=Tona mellan virtuella skrivbord vid byte mellan dem
Comment[tr]=Sanal masaüstleri arasında geçiş yapılırken kaybolma efektini kullan
Comment[uk]=Затемнення перед час перемикання між віртуальними стільницями
Comment[x-test]=xxFade between virtual desktops when switching between themxx
Comment[zh_CN]=在虚拟桌面间切换时呈现阴影效果
Comment[zh_TW]=在虛擬桌面間切換時使用淡出/淡入效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lucas Murray
X-KDE-PluginInfo-Email=lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_fadedesktop
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
