[Desktop Entry]
Name=Fade Desktop
Name[ar]=تلاشِ سطح المكتب
Name[ast]=Difuminar escritoriu
Name[bg]=Избледняване на работния плот
Name[bs]=Utapanje površi
Name[ca]=Esvaïment de l'escriptori
Name[ca@valencia]=Esvaïment de l'escriptori
Name[cs]=Zeslabit plochu
Name[csb]=Pùlt fade
Name[da]=Lad skrivebord fade ud
Name[de]=Arbeitsfläche aus-/einblenden
Name[el]=Ομαλή εμφάνιση επιφάνειας εργασίας
Name[en_GB]=Fade Desktop
Name[eo]=Labortablo Dissolvo  
Name[es]=Difuminar escritorio
Name[et]=Töölaua hääbumine
Name[eu]=Itzaldu mahaigaina
Name[fi]=Häivytä työpöytä
Name[fr]=Effectue un fondu du bureau
Name[fy]=Buroblêd ferfagje
Name[ga]=Céimnigh an Deasc
Name[gl]=Esvaer o escritorio
Name[gu]=ડેસ્કટોપ ઝાંખુ કરો
Name[he]=חשיפה והיעלמות בין שולחנות עבודה
Name[hr]=Preklapanje radnih površina
Name[hu]=Elhalványuló váltás
Name[ia]=Pallidi scriptorio
Name[id]=Pudar Desktop
Name[is]=Þynna út skjáborð
Name[it]=Dissolvenza dei desktop
Name[ja]=デスクトップのフェード
Name[kk]=Біртіндеп ауысу
Name[km]=ធ្វើ​ឲ្យ​ផ្ទៃតុលេច​បន្តិចម្ដងៗ
Name[kn]=ಗಣಕತೆರೆಯನ್ನು ಮಬ್ಬಾಗಿಸು
Name[ko]=데스크톱 페이드
Name[lt]=Išblukinti darbastalį
Name[lv]=Sapludināt darbvirsmu
Name[mai]=Fade Desktop
Name[ml]=പണിയിടം മങ്ങി പോകുക
Name[nb]=Ton ut skrivebord
Name[nds]=Schriefdisch överblennen
Name[nl]=Bureaublad op laten komen
Name[nn]=Toning av skrivebordet
Name[pa]=ਡੈਸਕਟਾਪ ਫਿੱਕਾ
Name[pl]=Przenikanie pulpitów
Name[pt]=Desvanecer o Ecrã
Name[pt_BR]=Desaparecimento da área de trabalho
Name[ro]=Estompare birou
Name[ru]=Плавная смена рабочих столов
Name[si]=වැඩතලය විවර්ණ කිරීම
Name[sk]=Zoslabiť plochu
Name[sl]=Postopen prehod
Name[sr]=Утапање површи
Name[sr@ijekavian]=Утапање површи
Name[sr@ijekavianlatin]=Utapanje površi
Name[sr@latin]=Utapanje površi
Name[sv]=Tona skrivbord
Name[tg]=Мизи корӣ, монанди пардаи экран
Name[th]=ปรับพื้นที่ทำงานแบบค่อย ๆ ชัด/ค่อย ๆ จางหาย
Name[tr]=Masaüstü Kaybolması
Name[ug]=ئۈستەلئۈستىنى سۇسلاشتۇر
Name[uk]=Затемнювати стільницю
Name[wa]=Fondou do scribanne
Name[x-test]=xxFade Desktopxx
Name[zh_CN]=淡出桌面
Name[zh_TW]=淡出淡入桌面
Icon=preferences-system-windows-effect-fadedesktop
Comment=Fade between virtual desktops when switching between them
Comment[ar]=يجعل أسطح المكتب تتلاشى عند التبيديل بينها
Comment[ast]=Esfumina al camudar ente escritorios virtuales
Comment[bg]=Избледнване при превключване между работните плотове
Comment[bs]=Jedna virtuelna površ utapa se u drugu pri prebacivanju
Comment[ca]=Esvaeix entre els escriptoris virtuals quan es commuta entre ells
Comment[ca@valencia]=Esvaeix entre els escriptoris virtuals quan es commuta entre ells
Comment[cs]=Plochy při přepínání mění intenzitu
Comment[da]=Fade ud og ind mellem virtuelle skrivebord ved skift mellem dem
Comment[de]=Wechseln der virtuellen Arbeitsfläche durch Aus- und Einblenden der Arbeitsfläche.
Comment[el]=Εναλλαγή μεταξύ των επιφανειών εργασίας με ομαλό σβήσιμο
Comment[en_GB]=Fade between virtual desktops when switching between them
Comment[eo]=Disvolvi inter virtualaj labortabloj kiam ŝaltas inter ili.
Comment[es]=Difumina al cambiar entre escritorios virtuales
Comment[et]=Hääbumisefekt ühelt virtuaalselt töölaualt teisele lülitudes
Comment[eu]=Uneko mahaigaina pixkanaka itzaldu beste batera aldatzerakoan
Comment[fi]=Häivytä virtuaalityöpöytien välillä niitä vaihdettaessa
Comment[fr]=Effectue un fondu entre les bureaux virtuels lors des changements de bureau
Comment[fy]=By it wikseljen tusken firuele buroblêden in ferfaging dwaan
Comment[ga]=Céimnigh idir deasca fíorúla agus ag malairt eatarthu
Comment[gl]=Emprega un efecto de esvaemento ao trocar de escritorio
Comment[he]=חשיפה והיעלמות בין שולחנות עבודה וירטואליים במעבר ביניהם
Comment[hr]=Efekt preklapanja radnih površina prilikom promjene među njima
Comment[hu]=Asztalváltáskor a régi asztal elhalványul, az új felerősödik
Comment[ia]=Pallidi inter scriptorio virtuales quando il commuta intra los
Comment[id]=Pudar di antara desktop virtual ketika bertukar di antara mereka
Comment[is]=Þynnir saman sýndarkjáborðum þegar skipt er á milli þeirra
Comment[it]=Passa da desktop virtuale all'altro con una dissolvenza
Comment[ja]=仮想デスクトップの切り替えにフェード効果をかけます
Comment[kk]=Виртуалды үстелді ауыстыруды біртіндеп көрсету
Comment[km]=ស្រមោល​រវាង​ផ្ទៃតុ​និម្មិត នៅពេល​ប្ដូរ​រវាង​ពួកវា
Comment[kn]=ವಾಸ್ತವಪ್ರಾಯ(ವರ್ಚುವಲ್) ಗಣಕತೆರೆಗಳ ನಡುವೆ ಬದಲಾಯಿಸುವಾಗ ಮಬ್ಬಾಗಿಸು
Comment[ko]=가상 데스크톱 사이를 전환할 때 페이드 효과를 사용합니다
Comment[lt]=Perjungiant virtualiuosius darbastalius vartojant išblukinimo efektą
Comment[lv]=Plūstoši pārslēgties starp vituālajām darbvirsmām
Comment[ml]=വെര്‍ച്വല്‍ പണിയിടങ്ങള്‍ക്കിടക്ക് സ്വിച്ച് ചെയ്യുമ്പോള്‍ മങ്ങിപ്പോകുന്നു.
Comment[nb]=Ton ut/inn mellom virtuelle skrivebord når det byttes mellom dem
Comment[nds]=Bi't Wesseln de Schriefdischen överenanner blennen
Comment[nl]=Laat virtuele bureaubladen vervagen en opkomen bij het wisselen
Comment[nn]=Ton inn og ut ved veksling mellom virtuelle skrivebord
Comment[pa]=ਜਦੋਂ ਵੁਰਚੁਅਲ ਡੈਸਕਟਾਪ ਵਿੱਚ ਬਦਲਣਾ ਹੋਵੇ ਤਾਂ ਉਹਨਾਂ ਨੂੰ ਫਿੱਕਾ ਕਰੋ
Comment[pl]=Przenikanie wirtualnych pulpitów podczas przełączania między nimi
Comment[pt]=Desvanece entre os ecrãs virtuais, ao circular entre eles
Comment[pt_BR]=Desaparece entre as áreas de trabalho virtuais, ao alternar entre elas
Comment[ro]=Estompare între birourile virtuale la comutarea între ele
Comment[ru]=Постепенная смена изображения при переключении на другой рабочий стол
Comment[si]=අතත්‍ය වැඩතල අතර මාරුවීමේදී ඒවා අතර විවර්ණය කරන්න
Comment[sk]=Efekt zoslabenia pri prepínaní virtuálnych plôch
Comment[sl]=Pri preklopu med namizjema postopoma skrij prejšnjega in prikaži novega
Comment[sr]=Једна виртуелна површ утапа се у другу при пребацивању
Comment[sr@ijekavian]=Једна виртуелна површ утапа се у другу при пребацивању
Comment[sr@ijekavianlatin]=Jedna virtuelna površ utapa se u drugu pri prebacivanju
Comment[sr@latin]=Jedna virtuelna površ utapa se u drugu pri prebacivanju
Comment[sv]=Tona mellan virtuella skrivbord vid byte mellan dem
Comment[th]=ปรับพื้นที่ทำงานแบบค่อย ๆ ชัด/ค่อย ๆ จางหายเมื่อมีการสลับพื้นที่ทำงาน
Comment[tr]=Sanal masaüstleri arasında geçiş yapılırken kaybolma efektini kullan
Comment[ug]=مەۋھۇم ئۈستەلئۈستى ئارىسىدا ئالماشتۇرغاندا سۇسلاشتۇرۇش ئۈنۈمىنى كۆرسەت
Comment[uk]=Затемнення перед час перемикання між віртуальними стільницями
Comment[wa]=Fwait on fondou etur sicribannes cwand on passe d' onk a èn ôte
Comment[x-test]=xxFade between virtual desktops when switching between themxx
Comment[zh_CN]=在虚拟桌面间切换时呈现淡出效果
Comment[zh_TW]=在虛擬桌面間切換時使用淡出/淡入效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lucas Murray
X-KDE-PluginInfo-Email=lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_fadedesktop
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
