[Desktop Entry]
Name=Grid
Name[ca]=Graella
Name[cs]=Mřížka
Name[da]=Gitter
Name[de]=Raster
Name[el]=Κάνναβος
Name[es]=Rejilla
Name[et]=Võrgustik
Name[fi]=Ruudukko
Name[he]=רשת
Name[hu]=Rács
Name[ia]=Grillia
Name[it]=Griglia
Name[kk]=Тор
Name[km]=ក្រឡាចត្រង្គ
Name[nb]=Rutenett
Name[nl]=Raster
Name[nn]=Rutenett
Name[pa]=ਗਰਿੱਡ
Name[pl]=Siatka
Name[pt]=Grelha
Name[pt_BR]=Grade
Name[sk]=Mriežka
Name[sl]=Mreža
Name[sr]=Мрежа
Name[sr@ijekavian]=Мрежа
Name[sr@ijekavianlatin]=Mreža
Name[sr@latin]=Mreža
Name[sv]=Rutnät
Name[tr]=Izgara
Name[uk]=Ґратка
Name[vi]=Lưới
Name[x-test]=xxGridxx
Name[zh_CN]=网格
Name[zh_TW]=格線
Comment=A Window Switcher layout showing all windows as thumbnails in a grid
Comment[ca]=Una disposició del commutador de finestres que mostra totes les finestres com a miniatures en una graella
Comment[da]=Et vinduesskifter-layout som viser alle vinduer som miniaturer i et gitter
Comment[de]=Ein Fensterwechsler-Layout, das Vorschauen aller Fenster in einem Raster anzeigt
Comment[el]=Μια διάταξη εναλλαγής παραθύρων με όλα τα παράθυρα ως εικόνες επισκόπησης σε κάνναβο
Comment[es]=Un esquema de cambiador de ventanas que muestra todas las ventanas como miniaturas en una rejilla
Comment[et]=Aknavahetaja paigutus kõigi akende näitamisega pisipiltidena võrgustikus
Comment[fi]=Tehtävänvalitsimen asettelu, joka näyttää kaikkien ikkunoiden pienoiskuvat ruudukossa
Comment[hu]=Egy ablakváltó elrendezés, amely az összes ablakot rácsban jeleníti meg bélyegképekként
Comment[ia]=Un disposition de commutator de fenestra monstrante fenestras como miniaturas in un grillia
Comment[it]=Una disposizione di cambiafinestre che mostra tutte le finestre come miniature in una griglia
Comment[kk]=Бүкіл терезе нобайлары тор құрып көрсететілін терезе ауыстырғышының қалыпы
Comment[km]=ប្លង់​កម្មវិធី​ប្ដូរ​បង្អួច ដោយ​បង្ហាញ​បង្អួច​ទាំងអស់​ជា​រូបភាព​តូចៗ​ក្នុង​ក្រឡាចត្រង្គ
Comment[nb]=En vindusbytterutforming som viser alle vinduer som minibilder i et rutenett
Comment[nl]=Een indeling van de vensterwisselaar met alle vensters als miniaturen in een raster
Comment[pl]=Układ przełączania okien pokazujący wszystkie okna jako miniatury w siatce
Comment[pt]=Uma disposição de mudança de janelas que mostra todas as janelas como miniaturas numa grelha
Comment[pt_BR]=Um leiaute de mudança de janelas que mostra todas as janelas como miniaturas em uma grade
Comment[sk]=Rozloženie prepínača okien zobrazujúce všetky okná ako miniatúry v mriežke
Comment[sl]=Razpored preklapljanja med okni, ki vsa okna prikazuje kot sličice v mreži
Comment[sr]=Распоред мењача прозора који представља прозоре сличицама у мрежи
Comment[sr@ijekavian]=Распоред мењача прозора који представља прозоре сличицама у мрежи
Comment[sr@ijekavianlatin]=Raspored menjača prozora koji predstavlja prozore sličicama u mreži
Comment[sr@latin]=Raspored menjača prozora koji predstavlja prozore sličicama u mreži
Comment[sv]=En layout för fönsterbyte som visar alla fönster som miniatyrbilder i ett rutnät
Comment[tr]=Bir pencere değiştirme düzeni, tüm pencereleri ızgara içerisinde küçük resimler halinde gösteriyor
Comment[uk]=Компонування засобу перемикання вікон з мініатюрами всіх вікон у форматі ґратки
Comment[x-test]=xxA Window Switcher layout showing all windows as thumbnails in a gridxx
Comment[zh_TW]=將所有視窗的縮圖顯示在格線中的視窗切換器佈局
Icon=preferences-system-windows-switcher-present-windows

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=present_windows
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
