[Desktop Entry]
Name=Text Icons
Name[de]=Text-Symbole
Name[ia]=Icones de texto
Name[nb]=Tekstikoner
Name[nl]=Tekstpictogrammen
Name[pa]=ਟੈਕਸਟ ਆਈਕਾਨ
Name[pl]=Ikony tekstowe
Name[pt]=Ícones de Texto
Name[pt_BR]=Ícones de texto
Name[sv]=Textikoner
Name[tr]=Metin Simgeler
Name[uk]=Текстові піктограми
Name[x-test]=xxText Iconsxx
Name[zh_TW]=文字圖示
Comment=A window switcher layout only showing window captions
Comment[ia]=Un disposition de commutator de fenestra monstrante solo legendas de fenestra
Comment[nb]=En vindusbytterutforming som bare viser vindustekster
Comment[nl]=Een indeling van de vensterwisselaar die alleen bijschriften van vensters toont
Comment[pl]=Układ przełączania okien pokazujący tylko tytuły okien
Comment[pt]=Uma disposição de mudança de janelas que só mostra os títulos das janelas
Comment[pt_BR]=Um leiaute do seletor de janelas que mostra apenas os títulos das janelas
Comment[sv]=En layout för fönsterbyte som bara visar fönsterrubriker
Comment[uk]=Компонування засобу перемикання вікон з показом лише підписів вікон
Comment[x-test]=xxA window switcher layout only showing window captionsxx
Comment[zh_TW]=只顯示視窗標題的視窗切換器佈局
Icon=preferences-system-windows-switcher-text

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=text
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
