[Desktop Entry]
Name=Plastik QML
Name[cs]=Plastik QML
Name[el]=Plastik QML
Name[es]=Plastik QML
Name[hu]=Plastik QML
Name[ia]=Plastik QML
Name[nl]=Plastik QML
Name[pt]=Plastik QML
Name[pt_BR]=Plastik QML
Name[sk]=Plastik QML
Name[sr]=Пластика КуМЛ
Name[sr@ijekavian]=Пластика КуМЛ
Name[sr@ijekavianlatin]=Plastika QML
Name[sr@latin]=Plastika QML
Name[sv]=Plastik QML
Name[uk]=Plastik QML
Name[x-test]=xxPlastik QMLxx
Name[zh_CN]=Plastik QML
Name[zh_TW]=Plastik QML
Comment=The classic theme known from KDE 3
Comment[el]=Το γνωστό κλασικό θέμα από το KDE 3
Comment[es]=El tema clásico conocido desde KDE 3
Comment[hu]=A KDE 3-ból ismert klasszikus téma
Comment[ia]=Le thema classic cognoscite ex KDE 3
Comment[nl]=Het klassieke thema bekend van KDE 3
Comment[pt]=O tema clássico conhecido do KDE 3
Comment[pt_BR]=Tema clássico do KDE 3
Comment[sk]=Klasická téma známa z KDE 3
Comment[sr]=Класична тема позната из КДЕ‑а 3
Comment[sr@ijekavian]=Класична тема позната из КДЕ‑а 3
Comment[sr@ijekavianlatin]=Klasična tema poznata iz KDE‑a 3
Comment[sr@latin]=Klasična tema poznata iz KDE‑a 3
Comment[sv]=Det klassiska temat känt från KDE 3
Comment[uk]=Класична тема, відома з часів KDE 3
Comment[x-test]=xxThe classic theme known from KDE 3xx
Comment[zh_TW]=從 KDE3 以來的傳統主題

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_decoration_qml_plastik
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
Type=Service

