[Desktop Entry]
Name=Plastik
Name[nl]=Plastik
Name[uk]=Пластик
Name[x-test]=xxPlastikxx
Comment=The classic theme known from KDE 3
Comment[nl]=Het klassieke thema bekend van KDE 3
Comment[uk]=Класична тема, відома з часів KDE 3
Comment[x-test]=xxThe classic theme known from KDE 3xx

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_decoration_qml_plastik
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
Type=Service

