[Desktop Entry]
Name=Fade Desktop
Icon=preferences-system-windows-effect-fadedesktop
Comment=Fade between virtual desktops when switching between them

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lucas Murray, Martin Gräßlin
X-KDE-PluginInfo-Email=lmurray@undefinedfire.com, mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_fadedesktop
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Virtual Desktop Switching Animation
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Ordering=50
X-KWin-Video-Url=http://files.kde.org/plasma/kwin/effect-videos/fade_desktop.ogv
X-KWin-Exclusive-Category=desktop-animations
