[Desktop Entry]
Encoding=UTF-8
Name=IceWM
Name[af]=icewm
Name[th]=ตัวจัดการหน้าต่าง IceWM
Name[xh]=UmkhenkceWM
Name[xx]=xx
Name[zu]=Iqhwa leWM
X-KDE-Library=kwin_icewm
