#SPDX-FileCopyrightText: 2020 Aleix Pol Gonzalzez <aleixpol@kde.org>
#SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Name=Virtual Keyboard
Name[ast]=Tecláu virtual
Name[az]=Virtual Klaviatura
Name[ca]=Teclat virtual
Name[cs]=Virtuální klávesnice
Name[de]=Virtuelle Tastatur
Name[en_GB]=Virtual Keyboard
Name[es]=Teclado virtual
Name[fi]=Näyttönäppäimistö
Name[fr]=Clavier virtuel
Name[ia]=Claviero virtual
Name[it]=Tastiera virtuale
Name[ko]=가상 키보드
Name[nl]=Virtueel toetsenbord
Name[pl]=Klawiatura ekranowa
Name[pt]=Teclado Virtual
Name[pt_BR]=Teclado virtual
Name[sk]=Virtuálna klávesnica
Name[sl]=Virtualna tipkovnica
Name[sv]=Virtuellt tangentbord
Name[uk]=Віртуальна клавіатура
Name[x-test]=xxVirtual Keyboardxx
Name[zh_CN]=虚拟键盘

Icon=input-keyboard-virtual
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_virtualkeyboard
X-KDE-ServiceTypes=Plasma/Generic

X-Plasma-MainScript=ui/main.qml
