[Desktop Entry]
Name=Dim Inactive
Name[af]=Verdof wanneer onaktief
Name[ar]=تعتيم الخامل
Name[ast]=Oscurecer inactiva
Name[bg]=Помътняване на неактивния
Name[bs]=Prigušeni neaktivni
Name[ca]=Enfosqueix les inactives
Name[ca@valencia]=Enfosqueix les inactives
Name[cs]=Ztmavit neaktivní
Name[da]=Gør inaktiv mat
Name[de]=Inaktive abdunkeln
Name[el]=Σκίαση ανενεργού
Name[en_GB]=Dim Inactive
Name[eo]=Malheligi neaktivajn
Name[es]=Oscurecer inactiva
Name[et]=Tuhm mitteaktiivne
Name[eu]=Ilundu ez aktibo
Name[fi]=Himmennä passiivinen
Name[fr]=Estompe les inactifs
Name[fy]=Net aktive dimme
Name[ga]=Dorchaigh Fuinneoga Neamhghníomhacha
Name[gl]=Escurecer as inactivas
Name[gu]=અસક્રિય ઝાંખી
Name[he]=עמעום חלונות לא פעילים
Name[hi]=असक्रिय मंद करें
Name[hne]=असक्रिय मंद करव
Name[hr]=Priguši neaktivno
Name[hu]=Inaktív ablakok kiszürkítése
Name[ia]=Dim Inactive
Name[id]=Dim Tidak Aktif
Name[is]=Dimma óvirka
Name[it]=Scurisci le inattive
Name[ja]=非アクティブを暗く
Name[kk]=Белсенді еместі күңгірттеу
Name[km]=បន្ថយ​ពន្លឺ​នៅពេល​អសកម្ម
Name[kn]=ನಿಷ್ಕ್ರಿಯವಾದದ್ದನ್ನು  ಮಂಕಾಗಿಸು
Name[ko]=비활성 창 어둡게
Name[lt]=Užtemdomi neaktyvūs langai
Name[lv]=Tumšināt neaktīvos
Name[mai]=असक्रिय मंद करू
Name[mk]=Затемни неактивни
Name[ml]=നിര്‍ജ്ജീവമായവ മറയ്ക്കുക
Name[mr]=Dim असक्रियता
Name[nb]=Mørklegg inaktive
Name[nds]=Nich aktive bedüüstern
Name[ne]=मलिन असक्रियता
Name[nl]=Inactief dimmen
Name[nn]=Mørklegg inaktive vindauge
Name[pa]=Dim ਨਾ-ਸਰਗਰਮ
Name[pl]=Przyciemnienie nieaktywnych
Name[pt]=Escurecer as Inactivas
Name[pt_BR]=Escurecer inativas
Name[ro]=Împăienjenire inactive
Name[ru]=Затемнение неактивных окон
Name[se]=Sevnjodahte ii-aktiivalaš lasiid
Name[si]=අක්‍රීය අඳුරු කරන්න
Name[sk]=Stmaviť neaktívne
Name[sl]=Potemnitev neaktivnega
Name[sr]=Пригушени неактивни
Name[sr@ijekavian]=Пригушени неактивни
Name[sr@ijekavianlatin]=Prigušeni neaktivni
Name[sr@latin]=Prigušeni neaktivni
Name[sv]=Dämpa inaktiva
Name[ta]=Dim Inactive
Name[te]=Dim క్రియాహీనం
Name[tg]=Затемнение отключено
Name[th]=ลดความสว่างตัวที่ไม่ได้ใช้
Name[tr]=Pasifleri Koyulaştır
Name[ug]=تۇتۇق ئاكتىپسىز
Name[uk]=Затемнити неактивне
Name[vi]=Mờ đi bị động
Name[wa]=Fé pus noer l' essocté
Name[x-test]=xxDim Inactivexx
Name[zh_CN]=暗淡未激活窗口
Name[zh_TW]=Dim Inactive
Icon=preferences-system-windows-effect-dim-inactive
Comment=Darken inactive windows
Comment[ar]=يعتم النوافذ الخاملة
Comment[ast]=Oscurece les ventanes non actives
Comment[bg]=Потъмнява неактивните прозорци
Comment[bn_IN]=নিষ্ক্রিয় উইন্ডোগুলি অনুজ্জ্বল করা হবে
Comment[bs]=Zatamnjuje neaktivne prozore
Comment[ca]=Enfosqueix les finestres inactives
Comment[ca@valencia]=Enfosqueix les finestres inactives
Comment[cs]=Ztmavit neaktivní okna
Comment[csb]=Zacemniô nieaktiwné òkna
Comment[da]=Gør inaktive vinduer mørkere
Comment[de]=Dunkelt inaktive Fenster ab.
Comment[el]=Σκίαση μη ενεργών παραθύρων
Comment[en_GB]=Darken inactive windows
Comment[eo]=Malheligas neaktivajn fenestrojn
Comment[es]=Oscurece las ventanas no activas
Comment[et]=Tumendab mitteaktiivsed aknad
Comment[eu]=Ilundu leiho ez aktiboak
Comment[fi]=Tummentaa passiiviset ikkunat
Comment[fr]=Assombrit les fenêtres inactives
Comment[fy]=Fertsjuster ynaktive finsters
Comment[ga]=Dorchaigh na fuinneoga neamhghníomhacha
Comment[gl]=Escurece as xanelas inactivas
Comment[gu]=અસક્રિય વિન્ડોને ઘાટી બનાવે છે
Comment[he]=החשכת חלונות לא פעילים
Comment[hi]=असक्रिय विंडो को गाढ़ा करता है
Comment[hne]=असक्रिय विंडो ल गाढ़ा करथे 
Comment[hr]=Zatamni neaktivne prozore
Comment[hu]=Elsötétíti az inaktív ablakokat
Comment[ia]=Fenestras inactive obscurate
Comment[id]=Pergelap jendela tidak aktif
Comment[is]=Gerir óvirka glugga dimmari
Comment[it]=Scurisce le finestre inattive
Comment[ja]=非アクティブなウィンドウを暗くします
Comment[kk]=Белсенді емес терезелерді күңгірттеп көрсету
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​អសកម្ម​ងងឹត​
Comment[kn]=ನಿಷ್ಕ್ರಿಯ ಕಿಟಕಿಗಳನ್ನು ಮಂಕಾಗಿಸು
Comment[ko]=비활성 창을 어둡게 합니다
Comment[ku]=Paceyên ne çalak tarî bike
Comment[lt]=Pritemdo neaktyvius langus
Comment[lv]=Patumšināt neaktīvos logus
Comment[mk]=Ги затемнува неактивните прозорци
Comment[ml]=നിര്‍ജ്ജീവ ജാലകങ്ങള്‍ മറയ്ക്കുന്നു 
Comment[mr]=असक्रिय चौकट काळसर करा
Comment[nb]=Mørklegg inaktive vinduer
Comment[nds]=Nich aktive Finstern düüsterer maken
Comment[nl]=Maakt inactieve vensters donkerder
Comment[nn]=Gjer inaktive vindauge mørkare
Comment[pa]=ਗ਼ੈਰ-ਐਕਟਿਵ ਵਿੰਡੋ ਗੂੜੀਆਂ ਕਰੋ
Comment[pl]=Przyciemnienie nieaktywnych okien
Comment[pt]=Escurecer as janelas inactivas
Comment[pt_BR]=Escurece as janelas inativas
Comment[ro]=Întunecă ferestrele inactive
Comment[ru]=Затемнение неактивных окон
Comment[si]=අක්‍රීය කවුළු අඳුරු කරන්න
Comment[sk]=Stmaví neaktívne okná
Comment[sl]=Potemni neaktivna okna
Comment[sr]=Затамњује неактивне прозоре
Comment[sr@ijekavian]=Затамњује неактивне прозоре
Comment[sr@ijekavianlatin]=Zatamnjuje neaktivne prozore
Comment[sr@latin]=Zatamnjuje neaktivne prozore
Comment[sv]=Gör inaktiva fönster mörkare
Comment[ta]=செயலற்ற சாளரங்களை இருளாக்கும்
Comment[tg]=Выполнение программ Windows
Comment[th]=ทำให้หน้าต่างที่ไม่ได้ใช้มืดลง
Comment[tr]=Etkin olmayan pencereleri koyulaştır
Comment[ug]=خىرە ئاكتىپسىز كۆزنەكلەر
Comment[uk]=Затемнення неактивних вікон
Comment[wa]=Fé pus noer les finiesses nén en alaedje
Comment[x-test]=xxDarken inactive windowsxx
Comment[zh_CN]=将未激活窗口变暗
Comment[zh_TW]=將不使用的視窗變暗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_diminactive
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Focus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
