[Desktop Entry]
Name=Window Strip
Name[ca]=Cinta de finestres
Name[cs]=Pruh oken
Name[da]=Vinduesstribe
Name[el]=Σειρά παραθύρων
Name[es]=Tira de ventanas
Name[et]=Aknariba
Name[fi]=Ikkunanauha
Name[hu]=Ablakszalag
Name[ia]=Lista de fenestra
Name[it]=Striscia di finestre
Name[kk]=Терезе жолағы
Name[km]=ស្គ្រីប​វីនដូ
Name[nb]=Vindusstripe
Name[nl]=Vensterstrook
Name[pa]=ਵਿੰਡੋ ਪੱਟੀ
Name[pl]=Pas okien
Name[pt]=Barra da Janela
Name[pt_BR]=Barra da janela
Name[sl]=Pas z okni
Name[sr]=Појас прозора
Name[sr@ijekavian]=Појас прозора
Name[sr@ijekavianlatin]=Pojas prozora
Name[sr@latin]=Pojas prozora
Name[sv]=Fönsterserie
Name[tr]=Pencere Dilimi
Name[uk]=Стрічка-вікно
Name[x-test]=xxWindow Stripxx
Name[zh_CN]=窗口列表
Name[zh_TW]=視窗帶
Comment=Window switcher layout for Plasma Active
Comment[ca]=Disposició del commutador de finestres pel Plasma Active
Comment[da]=Et vinduesskifter-layout til Plasma Active
Comment[el]=Διάταξη εναλλαγής παραθύρων για το Plasma Active
Comment[es]=Esquema de cambiador de ventanas para Plasma Active
Comment[et]=Plasma Active'i aknavahetaja paigutus
Comment[fi]=Plasma Activen tehtävänvalitsimen asettelu
Comment[hu]=Ablakváltó elrendezés a Plazma aktívhoz
Comment[ia]=Disposition de commutator de fenestra per Plasma Active
Comment[it]=Disposizione di cambiafinestre per Plasma Active
Comment[kk]=Plasma Activt-тың терезе ауыстырғышының қалыпы
Comment[km]=ប្លង់​កម្មវិធី​ប្ដូរ​បង្អួជ​សម្រាប់​ប្លាស្មា​សកម្ម
Comment[nb]=Vindusbytterutforming for Plasma Active
Comment[nl]=Indeling van de vensterwisselaar voor Plasma Active
Comment[pa]=ਪਲਾਜ਼ਮਾ ਐਕਟਿਵ ਲਈ ਵਿੰਡੋ ਸਵਿੱਚਰ ਲੇਆਉਟ
Comment[pl]=Układ przełączania okien dla Plasma Active
Comment[pt]=A disposição de mudança de janelas do Plasma Active
Comment[pt_BR]=Um leiaute do seletor de janelas do Plasma Active
Comment[sl]=Razpored preklapljanja med okni za Plasma Active
Comment[sr]=Распоред мењача прозора за Плазма актив
Comment[sr@ijekavian]=Распоред мењача прозора за Плазма актив
Comment[sr@ijekavianlatin]=Raspored menjača prozora za Plasma aktiv
Comment[sr@latin]=Raspored menjača prozora za Plasma aktiv
Comment[sv]=Layout för fönsterbyte för Plasma aktivt
Comment[tr]=Plasma Active için pencere seçme düzeni
Comment[uk]=Компонування засобу перемикання вікон для портативної Плазми
Comment[x-test]=xxWindow switcher layout for Plasma Activexx
Comment[zh_TW]=Plasma Active 使用的視窗切換器佈局
Icon=preferences-system-windows-switcher-window-strip

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=true

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=window_strip
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
