[Desktop Entry]
Name=Window Strip
Name[ia]=Lista de fenestra
Name[nb]=Vindusstripe
Name[nl]=Vensterstrook
Name[pl]=Pas okien
Name[pt]=Barra da Janela
Name[pt_BR]=Barra da janela
Name[sv]=Fönsterserie
Name[uk]=Стрічка-вікно
Name[x-test]=xxWindow Stripxx
Name[zh_TW]=視窗帶
Comment=Window switcher layout for Plasma Active
Comment[ia]=Disposition de commutator de fenestra per Plasma Active
Comment[nb]=Vindusbytterutforming for Plasma Active
Comment[nl]=Indeling van de vensterwisselaar voor Plasma Active
Comment[pl]=Układ przełączania okien dla Plasma Active
Comment[pt]=A disposição de mudança de janelas do Plasma Active
Comment[pt_BR]=Um leiaute do seletor de janelas do Plasma Active
Comment[sv]=Layout för fönsterbyte för Plasma aktivt
Comment[uk]=Компонування засобу перемикання вікон для портативної Плазми
Comment[x-test]=xxWindow switcher layout for Plasma Activexx
Comment[zh_TW]=Plasma Active 使用的視窗切換器佈局
Icon=preferences-system-windows-switcher-window-strip

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KWin-Exclude-Listing=true

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=window_strip
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
