[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_scale_config
X-KDE-ParentComponents=scale

Name=Scale
Name[ca]=Escala
Name[eu]=Eskalatu
Name[ko]=크기 조정
Name[nl]=Schalen
Name[nn]=Skalering
Name[pt]=Escala
Name[sv]=Skala
Name[uk]=Масштабування
Name[x-test]=xxScalexx
