[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_scale_config
X-KDE-ParentComponents=scale

Name=Scale
Name[ca]=Escala
Name[ca@valencia]=Escala
Name[cs]=Měřítko
Name[da]=Skalér
Name[de]=Skalieren
Name[el]=Κλιμάκωση
Name[en_GB]=Scale
Name[es]=Escalar
Name[eu]=Eskalatu
Name[fi]=Skaalaa
Name[fr]=Échelle
Name[gl]=Cambiar as dimensións
Name[hu]=Nagyítás
Name[id]=Scale
Name[it]=Scala
Name[ko]=크기 조정
Name[nl]=Schalen
Name[nn]=Skalering
Name[pl]=Skala
Name[pt]=Escala
Name[pt_BR]=Escala
Name[ru]=Масштабирование
Name[sk]=Škálovať
Name[sv]=Skala
Name[uk]=Масштабування
Name[x-test]=xxScalexx
Name[zh_CN]=缩放
Name[zh_TW]=縮放
