[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_scale_config
X-KDE-ParentComponents=scale

Name=Scale
Name[ca]=Escala
Name[eu]=Eskalatu
Name[nl]=Schalen
Name[pt]=Escala
Name[uk]=Масштабування
Name[x-test]=xxScalexx
