[Desktop Entry]
Encoding=UTF-8
Name=Modern System
Name[az]=Modern Sistem
Name[be]=Сучасная сыстэма
Name[bn]=মডার্ন সিস্টেম
Name[br]=Reizhiad Nevez
Name[ca]=Sistema modern
Name[cs]=Moderní systém
Name[cy]=Cysawd Cyfoes
Name[da]=Moderne system
Name[el]=Μοντέρνο σύστημα
Name[eo]=Moderna Sistemo
Name[es]=Sistema moderno
Name[fi]=Moderni järjestelmä
Name[fr]=Système Moderne
Name[fy]=Modern systeem
Name[ga]=Córas Nua-Aimseartha
Name[gl]=Sistema Moderno
Name[hi]=आधुनिक तंत्र
Name[hr]=Moderni sustav
Name[is]=Nútímaleg vél
Name[it]=Sistema Moderno
Name[ja]=モダンシステム
Name[lt]=Moderni sistema
Name[lv]=Moderna sistēma
Name[mk]=Модерен систем
Name[mt]=Sistema Moderna
Name[nb]=Moderne System
Name[nds]=Modeern Systeem
Name[nl]=Modern systeem
Name[nn]=Moderne System
Name[pa]=ਨਵਾਂ ਸਿਸਟਮ
Name[pl]=Nowoczesny system
Name[pt]=Sistema Moderno
Name[pt_BR]=Sistema Moderno
Name[ro]=Sistem moderm
Name[ru]=Современная система
Name[se]=Áigeguovdilis vuogádat
Name[sk]=Moderný systém
Name[sl]=Moderni sistem
Name[sr]=Модерни систем
Name[sr@Latn]=Moderni sistem
Name[sv]=Modernt system
Name[ta]=நவீன அமைப்பு
Name[tr]=Modern Sistem
Name[uk]=Сучасна система
Name[uz]=Замонавий тизим
Name[wa]=Sistinme modiene
Name[xx]=xxModern Systemxx
Name[zh_CN]=现代系统
X-KDE-Library=kwin3_modernsys
