[Desktop Entry]
Name=ModSystem 
Name[ca]=ModSystem 
Name[cs]=Moderní systém 
Name[da]=Modsystem 
Name[de]=ModSystem 
Name[el]=ModSystem 
Name[eo]=ModSystem
Name[es]=ModSystem 
Name[et]=ModSystem 
Name[fi]=ModSystem 
Name[fr]=Système moderne
Name[gl]=ModSystem 
Name[hu]=Modrendszer 
Name[it]=System moderno 
Name[ja]=ModSystem 
Name[mk]=ModSystem 
Name[nl]=Modern systeem 
Name[no]=ModSystem 
Name[no_NY]=ModSystem 
Name[pl]=Nowoczesny System 
Name[pt]=ModSystem 
Name[pt_BR]=ModSystem 
Name[ro]=ModSystem 
Name[ru]=Новая система (для большого количества цветов)
Name[sk]=ModSystem 
Name[sl]=ModSystem 
Name[sr]=ModSystem 
Name[sv]=ModSystem 
Name[ta]=ModSystem 
Name[tr]=ModSistem 
Name[uk]=ModSystem 
Name[zh_CN.GB2312]=ModSystem
X-KDE-Library=libkwinmodernsys
