[Desktop Entry]
Type=Application
Name=Window Rules
Name[ar]=قواعد النوافذ
Name[az]=Pəncərə qaydaları
Name[be]=Правілы для акон
Name[bg]=Правила за прозорци
Name[bs]=Pravila prozora
Name[ca]=Regles de les finestres
Name[ca@valencia]=Regles de les finestres
Name[cs]=Pravidla oken
Name[da]=Vinduesregler
Name[de]=Fensterregeln
Name[el]=Κανόνες παραθύρου
Name[en_GB]=Window Rules
Name[es]=Reglas de las ventanas
Name[et]=Akna reeglid
Name[eu]=Leihoaren arauak
Name[fi]=Ikkunasäännöt
Name[fr]=Règles de la fenêtre
Name[ga]=Rialacha Fuinneog
Name[gl]=Regras da xanela
Name[gu]=વિન્ડો નિયમો
Name[he]=כללי חלון
Name[hi]=विंडो नियम
Name[hr]=Pravila prozora
Name[hu]=Ablakszabályok
Name[ia]=Regulas de fenestra
Name[id]=Peraturan Jendela
Name[is]=Gluggareglur
Name[it]=Regole delle finestre
Name[ja]=ウィンドウルール
Name[ka]=ფანჯრების წესები
Name[kk]=Терезе тәртібі
Name[km]=ក្បួន​បង្អួច
Name[kn]=ವಿಂಡೋ ನಿಯಮಗಳು
Name[ko]=창 규칙
Name[lt]=Langų taisyklės
Name[lv]=Loga noteikumi
Name[mr]=चौकट नियम
Name[nb]=Vindusregler
Name[nds]=Finsterbedregen
Name[nl]=Vensterregels
Name[nn]=Vindaugsreglar
Name[pa]=ਵਿੰਡੋ ਨਿਯਮ
Name[pl]=Zasady okien
Name[pt]=Regras das Janelas
Name[pt_BR]=Regras das janelas
Name[ro]=Reguli ferestre
Name[ru]=Особые параметры окон
Name[si]=කවුළු නීති
Name[sk]=Pravidlá okien
Name[sl]=Pravila za okna
Name[sr]=Правила прозора
Name[sr@ijekavian]=Правила прозора
Name[sr@ijekavianlatin]=Pravila prozora
Name[sr@latin]=Pravila prozora
Name[sv]=Fönsterregler
Name[ta]=சாளர விதிமுறைகள்
Name[th]=กฎต่าง ๆ ของหน้าต่าง
Name[tr]=Pencere Kuralları
Name[ug]=كۆزنەك بەلگىلىمىسى
Name[uk]=Правила вікон
Name[vi]=Luật cửa sổ
Name[wa]=Rîles des finiesses
Name[x-test]=xxWindow Rulesxx
Name[zh_CN]=窗口规则
Name[zh_TW]=視窗規則
NoDisplay=true
Exec=kwin_rules_dialog
Icon=preferences-system-windows-actions
