[Desktop Entry]
Name=Logout
Name[ast]=Zarru de sesión
Name[az]=Sistemdən Çıxış
Name[ca]=Sortida
Name[ca@valencia]=Eixida
Name[cs]=Odhlášení
Name[da]=Log ud
Name[de]=Abmeldung
Name[el]=Αποσύνδεση
Name[en_GB]=Logout
Name[es]=Cerrar la sesión
Name[et]=Väljalogimine
Name[eu]=Saio-ixtea
Name[fi]=Kirjaudu ulos
Name[fr]=Déconnexion
Name[gl]=Saír
Name[hu]=Kijelentkezés
Name[ia]=Clausura de session
Name[id]=Logout
Name[it]=Uscita
Name[ko]=로그아웃
Name[lt]=Atsijungimas
Name[nl]=Afmelden
Name[nn]=Logg ut
Name[pl]=Wylogowywanie
Name[pt]=Encerrar
Name[pt_BR]=Encerrar sessão
Name[ro]=Ieșire din sistem
Name[ru]=Завершение работы
Name[sk]=Odhlásiť sa
Name[sl]=Odjava
Name[sv]=Logga ut
Name[uk]=Вихід
Name[x-test]=xxLogoutxx
Name[zh_CN]=注销
Name[zh_TW]=登出
Icon=preferences-system-windows-effect-logout
Comment=Smoothly fade to the logout screen
Comment[az]=Sesiyadan çıxış ekranının tədricən görünmsəi
Comment[ca]=Transició suau a la pantalla de sortida
Comment[ca@valencia]=Transició suau a la pantalla d'eixida
Comment[cs]=Plynule přejít na odhlašovací obrazovku
Comment[da]=Toner blidt til log ud-skærmen
Comment[de]=Blendet den Abmeldungsdialog langsam ein.
Comment[el]=Ομαλή εμφάνιση της οθόνης αποσύνδεσης
Comment[en_GB]=Smoothly fade to the logout screen
Comment[es]=Desvanecer suavemente hasta la pantalla de cierre de sesión
Comment[et]=Sujuv hääbumine sisselogimisekraani ilmumiseni
Comment[eu]=Emeki desagertu saio-ixteko pantailarantz
Comment[fi]=Häivytä pehmeästi kirjautumisikkunaan
Comment[fr]=Effectue un dégradé progressif vers l'écran de déconnexion
Comment[gl]=Suaviza a aparición da pantalla de saída
Comment[hu]=Folyamatos átmenet a kijelentkező képernyőre
Comment[ia]=Dulcemente pallidi al schermo de abandono (logout)
Comment[id]=Melesap secara halus ke layar logout
Comment[it]=Dissolvenza graduale alla schermata di uscita
Comment[ko]=로그아웃 화면으로 부드럽게 전환합니다
Comment[lt]=Glotniai pamažu parodo atsijungimo ekraną
Comment[nl]=Langzaam naar het afmeldscherm vervagen
Comment[nn]=Ton ut til utloggingsbiletet
Comment[pl]=Płynne zanikanie do ekranu wylogowywania
Comment[pt]=Desvanecer suavemente para o ecrã de encerramento
Comment[pt_BR]=Suaviza o desaparecimento para a tela de encerramento da sessão
Comment[ro]=Estompează lin spre ecranul de ieșire
Comment[ru]=Плавное появление экрана завершения работы
Comment[sk]=Plynule zobrazí plochu pri odhlásení
Comment[sl]=Postopoma okno zbledi v zaslon za odjavo
Comment[sv]=Tona mjukt till utloggningsskärmen
Comment[uk]=Плавний перехід до вікна виходу з системи
Comment[x-test]=xxSmoothly fade to the logout screenxx
Comment[zh_CN]=平滑地淡出到注销屏幕
Comment[zh_TW]=平順地淡入登出畫面

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak, Kai Uwe Broulik, Martin Gräßlin, Marco Martin
X-KDE-PluginInfo-Email=l.lunak@kde.org, kde@privat.broulik.de, mgraesslin@kde.org, mart@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_logout
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=40
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
