[Desktop Entry]
Name=KWin Aurorae
Name[az]=KWin Aurorae
Name[ca]=Aurorae del KWin
Name[ca@valencia]=Aurorae de KWin
Name[cs]=KWin Aurorae
Name[da]=KWin Aurorae
Name[de]=KWin Aurorae
Name[el]=KWin Aurorae
Name[en_GB]=KWin Aurorae
Name[es]=Aurorae de KWin
Name[et]=KWin Aurorae
Name[eu]=KWin Aurorae
Name[fi]=KWin Aurorae
Name[fr]=Module Aurorae de KWin
Name[gl]=Aurorae de KWin
Name[hu]=KWin Aurorae
Name[ia]=KWin Aurorae
Name[id]=Aurorae KWin
Name[it]=Aurorae di Kwin
Name[ko]=KWin Aurorae
Name[lt]=KWin Aurorae
Name[nl]=KWin Aurorae
Name[nn]=KWin Aurorae
Name[pl]=KWin Aurorae
Name[pt]=Aurora do KWin
Name[pt_BR]=KWin Aurorae
Name[ro]=KWin Aurorae
Name[ru]=Оформление окон Aurorae для KWin
Name[sk]=KWin Aurorae
Name[sl]=KWin Aurorae
Name[sr]=К‑винова аурора
Name[sr@ijekavian]=К‑винова аурора
Name[sr@ijekavianlatin]=KWinova aurora
Name[sr@latin]=KWinova aurora
Name[sv]=Kwin Aurora
Name[tr]=KWin Aurorae
Name[uk]=KWin Aurorae
Name[x-test]=xxKWin Auroraexx
Name[zh_CN]=KWin 极光
Name[zh_TW]=KWin Aurorae
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=kwin_packagestructure_aurorae

X-KDE-PluginInfo-Author=Demitrius Belai
X-KDE-PluginInfo-Email=demitriusbelai@gmail.com
X-KDE-PluginInfo-Name=KWin/Aurorae
X-KDE-PluginInfo-Version=1
