[Desktop Entry]
Name=Box Switch
Name[ar]=تبديل في صندوق
Name[ast]=Escoyeta de ventana tradicional
Name[bg]=Превключване с кутии
Name[bn]=বাক্স বদল
Name[bs]=Kutijasto prebacivanje
Name[ca]=Canvi d'aplicació
Name[ca@valencia]=Canvi d'aplicació
Name[cs]=Filmový pás
Name[da]=Boksskifter
Name[de]=Kasten mit Minibildern
Name[el]=Εναλλαγή πλαισίου
Name[en_GB]=Box Switch
Name[eo]=Alt-taba ŝanĝilo
Name[es]=Selección de ventana tradicional
Name[et]=Aknavahetaja
Name[eu]=Box Switch
Name[fa]=سودهی جعبه
Name[fi]=Laatikkovaihtaja
Name[fr]=Défilement dans une boîte
Name[fy]=Boks wikselje
Name[ga]=Malartóir Bosca
Name[gl]=Mudanza de xanela
Name[gu]=પેટી ફેરફાર
Name[he]=מחליף תיבה
Name[hi]=बॉक्स स्विच
Name[hne]=बाक्स स्विच
Name[hr]=Kartična promjena
Name[hsb]=Kašćikowe přešaltowanje
Name[hu]=Váltódoboz
Name[ia]=Commutator de quadrato
Name[id]=Ganti Kotak
Name[is]=Kassaskiptir
Name[it]=Scambiafinestre a caselle
Name[ja]=ボックススイッチ
Name[kk]=Box Switch
Name[km]=ប្ដូរ​ប្រអប់​
Name[kn]=ಬಾಕ್ಸ್ ಸ್ವಿಚ್
Name[ko]=상자 전환기
Name[lt]=Miniatiūrų juostos keitiklis
Name[lv]=Kastes pārslēdzējs
Name[mai]=बाक्स स्विच
Name[ml]=ബോക്സ് സ്വിച്ച്
Name[mr]=बॉक्स स्विच
Name[nb]=Boksveksler
Name[nds]=Box Switch
Name[ne]=बक्स स्विच
Name[nl]=Omschakelen in vak
Name[nn]=Boksvekslar
Name[pa]=ਬਾਕਸ ਸਵਿੱਚ
Name[pl]=Przełącznik
Name[pt]=Mudança em Caixa
Name[pt_BR]=Seleção em caixa
Name[ro]=Comutare Casetă
Name[ru]=Переключение с миниатюрами
Name[se]=Boksamolsojeaddji
Name[si]=කොටු මාරුවිම
Name[sk]=Prepínať s náhľadom
Name[sl]=Preklapljanje - ogledi
Name[sr]=Кутијасто пребацивање
Name[sr@ijekavian]=Кутијасто пребацивање
Name[sr@ijekavianlatin]=Kutijasto prebacivanje
Name[sr@latin]=Kutijasto prebacivanje
Name[sv]=Byte med ruta
Name[ta]=Box Switch
Name[te]=బాక్‍స్  స్విచ్
Name[tg]=Циркуляция
Name[th]=สลับหน้าต่างแบบกล่อง
Name[tr]=Kutu Pencere Seçici
Name[ug]=قۇتىسىمان ئالماشتۇر
Name[uk]=Перемикання на панелі
Name[vi]=Chuyển đổi hộp
Name[wa]=Discandjeu d' boesse
Name[x-test]=xxBox Switchxx
Name[zh_CN]=盒状切换
Name[zh_TW]=盒切換
Icon=preferences-system-windows-effect-boxswitch
Comment=Display thumbnails of windows in the alt+tab window switcher
Comment[ar]=يعرض مصغرات للنوافذ في مبدل النوافذ alt+tab 
Comment[ast]=Amuesa miniatures de ventanes nel conmutador de ventanes alt+tab
Comment[be@latin]=Pakazvaj padhlady akon u pieraklučniku, jaki vyklikajecca skarotam „Alt+Tab”
Comment[bg]=Показване на миниатюри при превключване на прозорците (Alt+Tab)
Comment[bs]=Prikaz sličica prozora pri prebacivanju prozora Alt+Tab‑om
Comment[ca]=Mostra les miniatures de les finestres al commutador de finestres amb alt+tab
Comment[ca@valencia]=Mostra les miniatures de les finestres al commutador de finestres amb alt+tab
Comment[cs]=Zobrazuje během přepínání pomocí Alt-tab náhledy oken
Comment[da]=Vis miniaturer af vinduer i alt+tab vinduesskifter
Comment[de]=Fenstervorschaubilder werden in einem Kasten angezeigt und durchlaufen.
Comment[el]=Εμφάνιση επισκοπήσεων των παραθύρων στην εναλλαγή παραθύρων alt+tab
Comment[en_GB]=Display thumbnails of windows in the alt+tab window switcher
Comment[eo]=Montri miniaturojn de fenestroj en alt+taba fenestr-ŝanĝilo
Comment[es]=Muestra miniaturas de ventanas en el conmutador de ventanas alt+tab
Comment[et]=Akende pisipiltide näitamine Alt+TAB aknavahetajas
Comment[eu]=Bistaratu leihoen koadro-txikiak alt+tab leiho aldatzailean
Comment[fi]=Näyttää ikkunoiden pienoiskuvat alt+tab-ikkunanvaihdossa
Comment[fr]=Affiche des aperçus des fenêtres dans le changeur de fenêtres en utilisant la combinaison « Alt+Tab »
Comment[fy]=Lit finsterminiatueren sjen ûnder rinnen troch finsters mei Alt+Tab
Comment[ga]=Taispeáin mionsamhlacha fuinneog sa mhalartóir fuinneog Alt+Táb
Comment[gl]=Mostra miniaturas das xanelas no selector de xanela alt+tab
Comment[gu]=alt+tab વિન્ડો બદલનારમાં વિન્ડોની થમ્બનીલ બતાવે છે
Comment[he]=מציג תמונות מקדימות של החלונות במחליף החלונות הנראה כאשר לוחצים על alt+tab
Comment[hne]=आल्ट+टेब विंडो बदलइया मं विंडो के चिनहा देखाथे
Comment[hr]=Prikazuje sličice prozora prilikom promjene prozora sa alt+tab
Comment[hsb]=Pokazuje miniwobrazki woknow w přešaltowarju (alt + tab)
Comment[hu]=Az Alt+Tab-os ablakváltóban megmutatja az ablakok kicsinyített képét
Comment[ia]=Monstra notas de fenestras in le commutator de fenestra alt+tab
Comment[id]=Tampilkan miniatur jendela di pengganti jendela alt+tab
Comment[is]=Sýnir smámyndir af gluggum í alt+tab skiptiglugganum
Comment[it]=Mostra delle miniature delle finestre nello scambiafinestre Alt-Tab
Comment[ja]=ボックスにウィンドウのサムネイルを表示する Alt+Tab によるウィンドウスイッチャー
Comment[kk]=Alt+tab терезе ауыстырғышында терезенің нобайын көрсету
Comment[km]=បង្ហាញ​រូបភាព​តូចៗ​របស់​បង្អួជ​នៅ​ក្នុង​កម្មវិធី​ប្ដូរ​បង្អួច​ជំនួស+ថេប
Comment[kn]= alt+tab ಕಿಟಕಿ ಪರಿವರ್ತಕದಲ್ಲಿ (ಸ್ವಿಚ್) ಸೂಚ್ಯಚಿತ್ರಗಳನ್ನು (ಥಂಬ್ ನೇಲ್ಸ್) ತೋರಿಸು
Comment[ko]=Alt+Tab 창 전환기에 창의 미리 보기 그림을 표시합니다
Comment[lt]=Rodo langų miniatiūras juostoje naudojant Alt+Tab langų keitimo būdą
Comment[lv]=Parāda logu sīktēlus Alt+Tab logu pārslēdzējā
Comment[mk]=Прикажува сликички од прозорците во менувачот на прозорци со alt+tab
Comment[ml]=ജാലക സ്വിച്ചര്‍  - alt+tab-ല്‍ ജാലകങ്ങളുടെ നഖചിത്രങ്ങള്‍ കാണിക്കുക
Comment[mr]=alt+tab चौकट स्विचर अंतर्गत चौकटचे थंबनेल दर्शवा
Comment[nb]=Vis minibilder av vinduer i alt+tab vindusveksleren
Comment[nds]=Finster-Vöransichten bi't Wesseln vun Finstern mit Alt+Tabtast wiesen
Comment[nl]=Toont vensterminiaturen tijdens het wandelen door de vensters via Alt+Tab
Comment[nn]=Vis miniatyrbilete av vindauga ved vindaugsveksling med «Alt + Tab»
Comment[pa]=alt+tab ਵਿੰਡੋ ਟੈਬ ਸਵਿੱਚਰ ਵਿੱਚ ਵਿੰਡੋ ਦਾ ਥੰਮਨੇਲ ਵੇਖੋ
Comment[pl]=Pokazuje miniaturki okien podczas przełączania za pomocą alt+tab
Comment[pt]=Mostrar miniaturas das janelas na mudança de janelas com o Alt+Tab
Comment[pt_BR]=Exibe miniaturas das janelas no seletor de janelas alt+tab
Comment[ro]=Afișează miniaturile ferestrelor în comutatorul de ferestre alt+tab
Comment[ru]=Показывать миниатюры окон при переключении окон по Alt+Tab
Comment[si]=alt+tab කවුළු මාරුවේදී කවුළු වල කුඩා රූ පෙන්වන්න
Comment[sk]=Zobrazí náhľady okien pri prepínaní pomocou Alt+Tab
Comment[sl]=Pri preklapljanju med okni z Alt+Tab prikaže sličice oken
Comment[sr]=Приказ сличица прозора при пребацивању прозора Alt+Tab‑ом
Comment[sr@ijekavian]=Приказ сличица прозора при пребацивању прозора Alt+Tab‑ом
Comment[sr@ijekavianlatin]=Prikaz sličica prozora pri prebacivanju prozora Alt+Tabom
Comment[sr@latin]=Prikaz sličica prozora pri prebacivanju prozora Alt+Tabom
Comment[sv]=Visar miniatyrbilder av fönster vid fönsterbyte med Alt+Tabulator
Comment[ta]=Display thumbnails of windows in the alt+tab window switcher
Comment[th]=แสดงภาพตัวอย่างของหน้าต่าง เมื่อกดปุ่มพิมพ์ alt+tab
Comment[tr]=Alt-tab pencere seçicide pencerelerin küçük resimlerini göster
Comment[ug]=alt+tab كۆزنەك ئالماشتۇرغاندا ھەر قايسى كۆزنەكلەرنىڭ كىچىك سۈرىتىنى كۆرسەت
Comment[uk]=Показ мініатюр вікон у перемикачі вікон за Alt+Tab
Comment[wa]=Håyner les prévoeyaedjes des finiesses dins discandjeu d' finiesse alt+tab
Comment[x-test]=xxDisplay thumbnails of windows in the alt+tab window switcherxx
Comment[zh_CN]=Alt+Tab 窗口切换时显示各窗口的缩略图
Comment[zh_TW]=在 alt+tab 視窗切換時顯示縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner
X-KDE-PluginInfo-Email=philip.falkner@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_boxswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
