[Desktop Entry]
Name=Slide Tabs
Name[ar]=ألسنة منزلقة
Name[ast]=Eslizar llingüetes
Name[bs]=Jezičci sa klizanjem
Name[ca]=Pestanyes desplaçant-se
Name[ca@valencia]=Pestanyes desplaçant-se
Name[cs]=Klouzající karty
Name[da]=Glidende faneblade
Name[de]=Unterfenster gleiten
Name[el]=Κυλιόμενες καρτέλες
Name[en_GB]=Slide Tabs
Name[es]=Deslizar pestañas
Name[et]=Kaartide liuglemine
Name[fi]=Liukuvälilehdet
Name[fr]=Onglets glissants
Name[fy]=Ljeppers glydzje
Name[ga]=Sleamhnaigh Cluaisíní
Name[he]=החלקת לשוניות
Name[hi]=टैब स्लाइड
Name[hr]=Kliži kartice
Name[ia]=Schedas a glissar
Name[id]=Tab Geser
Name[is]=Renna flipum
Name[it]=Fai scivolare le schede
Name[ja]=スライドタブ
Name[kk]=Қойындыларды сырғанату
Name[km]=ផ្លាស់ទី​ផ្ទាំង
Name[kn]=ಜಾರುವ ಹಾಳೆಗಳು
Name[ko]=탭 미끄러짐
Name[lt]=Praslinkti korteles
Name[lv]=Slīdēt cilnes
Name[ml]=കിളിവാതിലുകള്‍ തെന്നി നീങ്ങുക
Name[nb]=Skyv faner
Name[nds]=Paneels schuven
Name[nl]=Schuiftabbladen
Name[nn]=Skli fanene
Name[pa]=ਸਲਾਈਡ ਟੈਬ
Name[pl]=Przesunięcie kart
Name[pt]=Barras Deslizantes
Name[pt_BR]=Barras deslizantes
Name[ro]=Alunecă file
Name[si]=ටැබ ලිස්සා යවන්න
Name[sk]=Kĺzanie kariet
Name[sl]=Drseči zavihki
Name[sr]=Језичци са клизањем
Name[sr@ijekavian]=Језичци са клизањем
Name[sr@ijekavianlatin]=Jezičci sa klizanjem
Name[sr@latin]=Jezičci sa klizanjem
Name[sv]=Låt flikar glida
Name[tg]=Замимаи слайд
Name[th]=เลื่อนแท็บ
Name[tr]=Sekmeleri Kaydır
Name[ug]=بەتكۈچلەرنى سۈرۈلدۈر
Name[uk]=Ковзання вкладок
Name[wa]=Rider linwetes
Name[x-test]=xxSlide Tabsxx
Name[zh_CN]=滚动分页
Name[zh_TW]=滑動分頁

Icon=preferences-system-windows-effect-slidetabs

Type=Service
Comment=Slide windows when switching or grouping tabs.
Comment[ar]=أزْلِق النوافذ عند تبديل أو تجميع الألسنة
Comment[ast]=Esliza les ventanes al camudar o agrupar llingüetes.
Comment[bs]=Prozori klizaju pri prebacivanju ili grupisanju jezičaka.
Comment[ca]=Desplaça les finestres quan es canviïn o s'agrupin pestanyes.
Comment[ca@valencia]=Desplaça les finestres quan es canvien o s'agrupen pestanyes.
Comment[cs]=Sklouzne okna při přepínání nebo seskupování karet
Comment[da]=Glidende vinduer ved skift eller gruppering af faneblade.
Comment[de]=Unterfenster gleiten beim Wechseln oder Gruppieren.
Comment[el]=Κύλιση παραθύρων όταν γίνεται εναλλαγή ή ομαδοποίηση καρτέλων
Comment[en_GB]=Slide windows when switching or grouping tabs.
Comment[es]=Desliza las ventanas al cambiar o agrupar pestañas.
Comment[et]=Akende liuglemine kaartide lülitamisel või rühmitamisel.
Comment[fi]=Liukuikkunat kunt vaihdetaan tai ryhmitetään välilehtiä.
Comment[fr]=Fait glisser les fenêtres lors du changement ou du regroupement d'onglets
Comment[fy]=Glydet finsters as der wiksele of groepearre wurdt fan ljeppers
Comment[ga]=Sleamhnaigh fuinneoga agus cluaisíní á ngrúpáil nó á n-athrú.
Comment[he]=גלישת חלונות במעבר או קיבוץ לשוניות.
Comment[hr]=Kliži prozore kada se prebacuju između ili grupiraju u kartice.
Comment[ia]=Glissa fenestras quando on commuta o gruppa scheda.
Comment[id]=Geser jendela ketika memindahkan atau mengelompokkan tab.
Comment[is]=Renna gluggum yfir skjáinn þegar skipt er um flipa eða þeir eru hópaðir.
Comment[it]=Fai scivolare le finestre quando si cambiano o raggruppano le schede.
Comment[ja]=タブの切り替えやグループ化のときにウィンドウをスライドさせます。
Comment[kk]=Қойындыларды ауыстыру не топтастыр кезде терезелерді сырғанату.
Comment[km]=បង្អួច​ស្លាយ​ នៅពេល​ប្ដូរ​ ឬ​ផ្ទាំង​ក្រុម ។
Comment[kn]=ವಾಸ್ತವಪ್ರಾಯ ಗಣಕತೆರೆಗಳನ್ನು ಬದಲಾಯಿಸುವಾಗ ಕಿಟಕಿಗಳನ್ನು ತೆರೆಯ ಮೂಲಕ ಜಾರುವಂತೆ ಮಾಡು
Comment[ko]=탭 사이를 전환하거나 탭으로 묶을 때 미끄러짐 효과를 사용합니다.
Comment[lt]=Perslenka langus per ekraną perjungiant ar grupuojant korteles.
Comment[lv]=Slīdina logus, pārslēdzot vai grupējot cilnes.
Comment[ml]=കിളിവാതിലുകള്‍ തമ്മില്‍ മാറുമ്പോള്‍ ജാലകങ്ങള്‍ തെന്നി മാറട്ടെ.
Comment[nb]=La vinduene skli over skjermen når du bytter eller grupperer faner
Comment[nds]=Bi't Wesseln oder Tohoopstellen vun Paneels Finstern verschuven
Comment[nl]=Schuif vensters tijdens het wisselen of groeperen van tabbladen.
Comment[nn]=La vindauga skli bortover ved byte eller gruppering av faner.
Comment[pa]=ਵਿੰਡੋਜ਼ ਸਲਾਈਡ, ਜਦੋਂ ਬਦਲਣਾ ਜਾਂ ਟੈਬ ਗਰੁੱਪ ਬਣਾਉਣਾ ਹੋਵੇ।
Comment[pl]=Przesunięcie okien podczas przełączania lub grupowania kart
Comment[pt]=Deslizar as janelas pelo ecrã ao mudar ou agrupar as páginas.
Comment[pt_BR]=Desliza as janelas ao alternar ou agrupar abas.
Comment[ro]=Alunecă ferestrele la comutare sau la gruparea filelor.
Comment[si]=ටැබ් මාරු කරන විට හෝ කාණ්ඩ කරන විට කවුළු ලිස්සා යවන්න.
Comment[sk]=Efekt kĺzania okna pri prepínaní alebo zoskupovaní kariet.
Comment[sl]=Ob preklapljanju med zavihku ali združevanju naj okna drsijo.
Comment[sr]=Прозори клизају при пребацивању или груписању језичака.
Comment[sr@ijekavian]=Прозори клизају при пребацивању или груписању језичака.
Comment[sr@ijekavianlatin]=Prozori klizaju pri prebacivanju ili grupisanju jezičaka.
Comment[sr@latin]=Prozori klizaju pri prebacivanju ili grupisanju jezičaka.
Comment[sv]=Låt fönster glida vid byte eller gruppering av flikar.
Comment[th]=เลื่อนหน้าต่างเมื่อมันมีการสลับหน้าต่างหรือมีการจัดกลุ่มบนแท็บ
Comment[tr]=Sekmelere geçerken veya gruplandırırken pencereleri kaydır.
Comment[ug]=بەتكۈچنى ئالماشتۇرغان ياكى گۇرۇپپىلىغاندا كۆزنەكنى سۈرۈلدۈر
Comment[uk]=Ковзання вікон вздовж стільниці, під час перемикання або групування вкладок.
Comment[x-test]=xxSlide windows when switching or grouping tabs.xx
Comment[zh_CN]=在切换或分组标签页时滚动窗口。
Comment[zh_TW]=切換或群組分頁時滑動視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Jorge Mata
X-KDE-PluginInfo-Email=matamax123@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_slidetabs
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Focus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
