[Desktop Entry]
Name=KWin Decoration
Name[ca]=Decoració del KWin
Name[ca@valencia]=Decoració del KWin
Name[cs]=Dekorace KWin
Name[da]=KWin-dekoration
Name[de]=KWin-Dekoration
Name[el]=Διακοσμήσεις KWin
Name[en_GB]=KWin Decoration
Name[es]=Decoración de KWin
Name[eu]=KWin apainketa
Name[fi]=KWin-ikkunakehykset
Name[fr]=Décorations KWin
Name[gl]=Decoración de KWin
Name[hu]=KWin dekoráció
Name[ia]=Decorationes de KWin
Name[it]=Decorazioni di KWin
Name[ko]=KWin 장식
Name[lt]=Kwin dekoracijos
Name[nl]=KWin-decoraties
Name[nn]=KWin-dekorasjon
Name[pa]=KWin ਸਜਾਵਟ
Name[pl]=Wygląd KWin
Name[pt]=Decorações do KWin
Name[pt_BR]=Decoração do KWin
Name[ru]=Оформление окон для KWin
Name[sk]=Dekorácie KWin
Name[sl]=Okraski KWin
Name[sr]=К‑винова декорација
Name[sr@ijekavian]=К‑винова декорација
Name[sr@ijekavianlatin]=KWinova dekoracija
Name[sr@latin]=KWinova dekoracija
Name[sv]=Kwin-dekoration
Name[tr]=KWin Dekorasyonu
Name[uk]=Обрамлення вікон KWin
Name[x-test]=xxKWin Decorationxx
Name[zh_CN]=KWin 装饰
Name[zh_TW]=KWin 裝飾
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=kwin_packagestructure_decoration

X-KDE-PluginInfo-Author=Demitrius Belai
X-KDE-PluginInfo-Email=demitriusbelai@gmail.com
X-KDE-PluginInfo-Name=KWin/Decoration
X-KDE-PluginInfo-Version=1
