[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/DesktopSwitcher

Comment=KWin Desktop Switcher Layout
Comment[es]=Esquema del cambiador de escritorios de KWin
Comment[fi]=KWinin työpöydänvalitsimen asettelu
Comment[fr]=Une disposition du sélecteur de bureaux KWin
Comment[nb]=Utforming av KWin skrivebordsbytter
Comment[nl]=KWin indeling van bureaubladwisselaar
Comment[pa]=KWin ਡੈਸਕਟਾਪ ਸਵਿੱਚਰ ਲੇਆਉਟ
Comment[pl]=Układ przełączania pulpitów KWin
Comment[pt]=Disposição da Mudança de Ecrãs do KWin
Comment[pt_BR]=Leiaute do seletor de área de trabalho do KWin
Comment[sk]=Rozloženie prepínača okien KWin
Comment[sr]=Распоред К‑виновог мењача површи
Comment[sr@ijekavian]=Распоред К‑виновог мењача површи
Comment[sr@ijekavianlatin]=Raspored KWinovog menjača površi
Comment[sr@latin]=Raspored KWinovog menjača površi
Comment[sv]=Kwin-skrivbordsbyteslayout
Comment[tr]=KWin Pencere Değiştirme Düzeni
Comment[uk]=Компонування засобу перемикання стільниць KWin
Comment[x-test]=xxKWin Desktop Switcher Layoutxx

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-MainScript]
Type=QString

[PropertyDef::X-KWin-Exclude-Listing]
Type=bool
