[Desktop Entry]
Name=Tabstrip
Name[ca]=Barra de pestanyes
Name[csb]=Tabstrip
Name[da]=Tabstrip
Name[de]=Tabstrip
Name[el]=Tabstrip
Name[en_GB]=Tabstrip
Name[et]=Sakiriba
Name[is]=Tabstrip
Name[kk]=Қойынды жолағы
Name[lv]=Tabstrip
Name[nb]=Fanestripe
Name[nds]=Tabstrip
Name[pt]=Barra de Páginas
Name[pt_BR]=Barra de abas
Name[sl]=Tabstrip
Name[sv]=Flikrad
Name[uk]=Смужка вкладок
Name[x-test]=xxTabstripxx
Name[zh_TW]=Tabstrip
X-KDE-Library=kwin3_tabstrip
