[Desktop Entry]
Name=Tabstrip
Name[el]=Tabstrip
Name[en_GB]=Tabstrip
Name[et]=Sakiriba
Name[kk]=Қойынды жолағы
Name[nb]=Fanestripe
Name[pt]=Barra de Páginas
Name[pt_BR]=Barra de abas
Name[sv]=Flikrad
Name[uk]=Смужка вкладок
Name[x-test]=xxTabstripxx
Name[zh_TW]=Tabstrip
X-KDE-Library=kwin3_tabstrip
