[Desktop Entry]
name=Kicker Liveticker Demo Effect
Icon=preferences-system-windows-effect-kicker
Comment=Demonstration effect for using EffectFrames
Comment[ar]=تأثير استعراضي لاستخدام EffectFrames
Comment[ast]=Demostración efeutu pal usu d'EffectFrames
Comment[bs]=Demonstracioni efekat za upotrebu EffectFrames
Comment[ca]=Efecte de demostració d'utilització de l'EffectFrames
Comment[ca@valencia]=Efecte de demostració d'utilització de l'EffectFrames
Comment[cs]=Ukázkový efekt využívající EffectFrames
Comment[da]=Demonstrationseffekt til brug af EffectFrames
Comment[de]=Demonstrationseffekt zur Benutzung von EffectFrames
Comment[el]=Εφέ παρουσίασης για τη χρήση του EffectFrames
Comment[en_GB]=Demonstration effect for using EffectFrames
Comment[es]=Efecto de demostración usando EffectFrames
Comment[et]=Efektiraamide kasutamise demo
Comment[fi]=Demotehoste EffectFramesin käytölle
Comment[fr]=Effet de démonstration pour l'utilisation d'EffectFrames
Comment[he]=הדגמת אפקט לשימוש EffectFrames
Comment[hr]=Demonstracijski efekt korištenja EffectFramesa
Comment[ia]=Effecto de demonstration per usar EffectFrames
Comment[is]=Sýnibrella fyrir EffectFrames
Comment[it]=Effetto dimostrativo per l'uso dei riquadri degli effetti
Comment[ja]=EffectFrames を利用するためのデモエフェクト
Comment[kk]=EffectFrames эффектін қолдану үлгісі
Comment[km]=បែបផែន​បង្ហាញ​សាកល្បង​សម្រាប់​ប្រើ EffectFrames
Comment[ko]=EffectFrames를 사용하는 예제 효과
Comment[lt]=EffectFrames demonstruojantis efektas
Comment[nb]=Demonstrasjonseffekt for bruk av EffectFrames
Comment[nds]=Bispill för den Bruuk vun Rahmeneffekten
Comment[nl]=Demonstratie-effect voor het gebruik van EffectFrames
Comment[nn]=Eksempeleffekt ved bruk av EffectFrames
Comment[pa]=EffectFrames ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਨਮੂਨਾ ਪਰਭਾਵ
Comment[pl]=Efekt demonstracyjny używający EfektowychRamek
Comment[pt]=Efeito de demonstração da utilização das EffectFrames
Comment[pt_BR]=Efeito de demonstração do uso das EffectFrames
Comment[ro]=Efect demonstrativ pentru utilizarea CadrelorEfect
Comment[sk]=Ukážkový efekt pre použitie EffectFrames
Comment[sl]=Učinek za prikaz uporabe EffectFrames
Comment[sr]=Демонстрациони ефекат за употребу EffectFrames
Comment[sr@ijekavian]=Демонстрациони ефекат за употребу EffectFrames
Comment[sr@ijekavianlatin]=Demonstracioni efekat za upotrebu EffectFrames
Comment[sr@latin]=Demonstracioni efekat za upotrebu EffectFrames
Comment[sv]=Demonstationseffekt för att använda effektramar-
Comment[th]=ลูกเล่นสาธิตของการใช้กรอบลูกเล่น (EffectFrames)
Comment[tr]=EfektÇerçeveleri (EffectFrames) kullanımında gösteri efekti
Comment[ug]=EffectFrames نىڭ كۆرسەتمە ئۈنۈمىنى ئىشلەت
Comment[uk]=Приклад використання EffectFrames
Comment[x-test]=xxDemonstration effect for using EffectFramesxx
Comment[zh_CN]=使用 EffectFrames 的演示特效
Comment[zh_TW]=示範使用 EffectFrames 的效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_kicker
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Candy
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
X-KDE-Ordering=50
