[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_resize_config
X-KDE-ParentComponents=kwin4_effect_resize

Name=Resize Window
