[Desktop Entry]
Name=Resize Window
Name[ca]=Redimensionament de les finestres
Name[ca@valencia]=Redimensionament de les finestres
Name[cs]=Změnit velikost okna
Name[csb]=Zmieni miarã òkna
Name[da]=Ændr størrelse på vindue
Name[de]=Fenstergröße ändern
Name[el]=Αλλαγή μεγέθους παραθύρου
Name[en_GB]=Resize Window
Name[eo]=Regrandigi fenestrojn
Name[es]=Redimensionar ventana
Name[et]=Akna suuruse muutmine
Name[eu]=Leihoari neurria aldatu
Name[fi]=Muuta ikkunan kokoa
Name[fr]=Redimensionner la fenêtre
Name[fy]=Finstergrutte feroarje
Name[ga]=Athraigh Méid na Fuinneoige
Name[gl]=Mudar o tamaño da fiestra
Name[gu]=વિન્ડોનું માપ બદલો
Name[he]=שנה גודל חלון
Name[hr]=Promjena veličine prozora
Name[ia]=Redimensionar Fenestra
Name[id]=Ubah Ukuran Jendela
Name[is]=Breyta stærð glugga
Name[it]=Ridimensiona la finestra
Name[ja]=ウィンドウのリサイズ
Name[kk]=Терезе өлшемін өзгерту
Name[km]=ផ្លាស់ប្ដូរ​ទំហំ​បង្អួច
Name[kn]=ಕಿಟಕಿಯ ಗಾತ್ರ ಬದಲಿಸು
Name[ko]=창 크기 조정
Name[lt]=Keisti lango dydį
Name[lv]=Mainīt loga izmēru
Name[mk]=Големина на прозорец
Name[ml]=ജാലകത്തിന്റെ വലിപ്പം മാറ്റുക
Name[nb]=Endre størrelse på vinduet
Name[nds]=Finstergrött ännern
Name[nl]=Afmeting venster aanpassen
Name[nn]=Endra storleik på vindauget
Name[pa]=ਵਿੰਡੋ ਮੁੜ-ਆਕਾਰ
Name[pl]=Zmiana rozmiaru okien
Name[pt]=Dimensionar a Janela
Name[pt_BR]=Redimensionar janela
Name[ro]=Redimensionează fereastra
Name[ru]=Изменение размера окна
Name[si]=කවුළුව ප්‍රතිප්‍රමාණ කරන්න
Name[sk]=Zmena veľkosti okna
Name[sl]=Sprememba velikosti okna
Name[sr]=Преувеличање прозора
Name[sr@ijekavian]=Преувеличање прозора
Name[sr@ijekavianlatin]=Preuveličanje prozora
Name[sr@latin]=Preuveličanje prozora
Name[sv]=Ändra fönsterstorlek
Name[tg]=Тағйири андозаи тиреза
Name[th]=ปรับขนาดหน้าต่าง
Name[tr]=Pencereyi Yeniden Boyutlandır
Name[uk]=Змінити розмір вікна
Name[x-test]=xxResize Windowxx
Name[zh_CN]=缩放窗口
Name[zh_TW]=重新調整視窗大小
Icon=preferences-system-windows-effect-resize
Comment=Effect to outline geometry while resizing a window
Comment[ca]=Efecte de geometria de contorn en redimensionar una finestra
Comment[ca@valencia]=Efecte de geometria de contorn en redimensionar una finestra
Comment[cs]=Efekt pro obtažení geometrie při změně velikosti okna
Comment[da]=Effekt for at omridse geometri under ændring af vinduesstørrelse
Comment[de]=Effekt zum Umranden der Fenstergeometrie bei Größenänderungen.
Comment[el]=Εφέ για το γεωμετρικό περίγραμμα κατά την αλλαγή μεγέθους ενός παραθύρου
Comment[en_GB]=Effect to outline geometry while resizing a window
Comment[es]=Efecto para dibujar la geometría al cambiar el tamaño de una ventana
Comment[et]=Geomeetria näitamine efekt akna suuruse muutmisel
Comment[fi]=Vaikuta ulkoreunageometriaan ikkunan kokoa muutettaessa
Comment[fr]=Effet mettant en valeur la géométrie lors du redimensionnement d'une fenêtre
Comment[fy]=Hat effekt op de bûtenkader ûnder it feroarjen fan de grute fan in finster
Comment[ga]=Maisíocht a imlíníonn an céimseata agus méid fuinneoige á hathrú
Comment[gl]=Efecto para mostrar o contorno mentres se muda o tamaño das fiestras
Comment[he]=אפקט להדגשת גודלו הנוכחי של החלון במהלך שינוי גודלו
Comment[hr]=Efekt označivanja geometrije prozora prilikom promjene njegove veličine
Comment[ia]=Effecto per sublinear geometria durante que redimensiona un fenestra
Comment[id]=Efek untuk kerangka geometri ketika mengubah ukuran jendela
Comment[it]=Effetto per delineare la geometria durante il ridimensionamento
Comment[ja]=ウィンドウのリサイズ中にアウトラインを表示します
Comment[kk]=Терезе өлшемін өзгерткенде сұлбасын белгілеу
Comment[km]=បែបផែន​ទៅកាន់​ធរណីមាត្រ​គ្រោង​ខណៈពេល​ផ្លាស់ប្ដូរ​ទំហំ​បង្អួច
Comment[ko]=창 크기를 조정할 때 크기를 선으로 보여 주는 효과
Comment[lt]=Efektas geometrijos paišymui keičiant lango dydį
Comment[lv]=Efekts, kas apvelk rāmi, mainot loga izmēru
Comment[mk]=Ефект за назначување на геометријата при менување големина на прозорец
Comment[ml]=ജാലകത്തിന്റെ വലിപ്പം മാറ്റുമ്പോള്‍ പുറമതിരിനുള്ള പ്രഭാവം
Comment[nb]=Effekt som gir geometri-omriss mens et vindu endrer størrelse
Comment[nds]=Effekt för den Finsterümreet bi't Ännern vun de Finstergrött
Comment[nl]=Effect om de omlijsting te laten zien bij het aanpassen van de afmetingen van een venster
Comment[nn]=Effekt for å visa omrisset av forma når storleiken på eit vindauge vert endra
Comment[pl]=Efekt pokazujący geometrię podczas zmiany rozmiaru okna
Comment[pt]=Efeito da geometria do contorno ao dimensionar uma janela
Comment[pt_BR]=Efeito da geometria do contorno ao dimensionar uma janela
Comment[ro]=Efect de evidențiere a geometriei la redimensionarea ferestrei
Comment[si]=කවුළුවක් ප්‍රතිප්‍රමාණය කරනවිට පිටත දාරයේ ජ්‍යාමිතිය සඳහා වන සැරසුම
Comment[sk]=Efekt, ktorý zvýrazní geometriu pri zmene veľkosti okna
Comment[sl]=Učinek obrisa geometrije med spreminjanjem velikosti okna
Comment[sr]=Ефекат обриса геометрије при промени величине прозора
Comment[sr@ijekavian]=Ефекат обриса геометрије при промјени величине прозора
Comment[sr@ijekavianlatin]=Efekat obrisa geometrije pri promjeni veličine prozora
Comment[sr@latin]=Efekat obrisa geometrije pri promeni veličine prozora
Comment[sv]=Effekt för att visa formens kontur när fönsterstorleken ändras
Comment[th]=ลูกเล่นในการแสดงเฉพาะมิติขนาดเส้นกรอบเมื่อมีการปรับขนาดหน้าต่าง
Comment[tr]=Bir pencere yeniden boyutlandırılırken pencerenin dış hatlarını belirginleştiren bir efekt
Comment[uk]=Показує розміри контуру під час зміни розмірів вікна
Comment[x-test]=xxEffect to outline geometry while resizing a windowxx
Comment[zh_CN]=调整窗口大小时显示窗口轮廓
Comment[zh_TW]=調整視窗大小時標出位置的效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_resize
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=60
