[Desktop Entry]
Name=Resize Window
Name[ar]=غير حجم النافذة
Name[ast]=Redimensionar ventana
Name[bg]=Преоразмеряване на прозорци
Name[bs]=Preuveličanje prozora
Name[ca]=Redimensionament de les finestres
Name[ca@valencia]=Redimensionament de les finestres
Name[cs]=Změnit velikost okna
Name[csb]=Zmieni miarã òkna
Name[da]=Ændr størrelse på vindue
Name[de]=Fenstergröße ändern
Name[el]=Αλλαγή μεγέθους παραθύρου
Name[en_GB]=Resize Window
Name[eo]=Regrandigi fenestrojn
Name[es]=Redimensionar ventana
Name[et]=Akna suuruse muutmine
Name[eu]=Leihoari neurria aldatu
Name[fi]=Muuta ikkunan kokoa
Name[fr]=Redimensionner la fenêtre
Name[fy]=Finstergrutte feroarje
Name[ga]=Athraigh Méid na Fuinneoige
Name[gl]=Mudar o tamaño da xanela
Name[gu]=વિન્ડોનું માપ બદલો
Name[he]=שינוי גודל חלון
Name[hi]=विंडो आकार बदलें
Name[hr]=Promjena veličine prozora
Name[hu]=Ablak átméretezése
Name[ia]=Redimensiona fenestra
Name[id]=Ubah Ukuran Jendela
Name[is]=Breyta stærð glugga
Name[it]=Ridimensiona la finestra
Name[ja]=ウィンドウのリサイズ
Name[kk]=Терезе өлшемін өзгерту
Name[km]=ផ្លាស់ប្ដូរ​ទំហំ​បង្អួច
Name[kn]=ಕಿಟಕಿಯ ಗಾತ್ರ ಬದಲಿಸು
Name[ko]=창 크기 조정
Name[lt]=Keisti lango dydį
Name[lv]=Mainīt loga izmēru
Name[mk]=Големина на прозорец
Name[ml]=ജാലകത്തിന്റെ വലിപ്പം മാറ്റുക
Name[nb]=Endre størrelse på vinduet
Name[nds]=Finstergrött ännern
Name[nl]=Afmeting venster aanpassen
Name[nn]=Endra storleik på vindauget
Name[pa]=ਵਿੰਡੋ ਮੁੜ-ਆਕਾਰ
Name[pl]=Zmiana rozmiaru okien
Name[pt]=Dimensionar a Janela
Name[pt_BR]=Redimensionar janela
Name[ro]=Redimensionează fereastra
Name[ru]=Изменение размера окна
Name[si]=කවුළුව ප්‍රතිප්‍රමාණ කරන්න
Name[sk]=Zmeniť veľkosť okna
Name[sl]=Sprememba velikosti okna
Name[sr]=Преувеличање прозора
Name[sr@ijekavian]=Преувеличање прозора
Name[sr@ijekavianlatin]=Preuveličanje prozora
Name[sr@latin]=Preuveličanje prozora
Name[sv]=Ändra fönsterstorlek
Name[tg]=Тағйири андозаи тиреза
Name[th]=ปรับขนาดหน้าต่าง
Name[tr]=Pencereyi Yeniden Boyutlandır
Name[ug]=كۆزنەك چوڭلۇقىنى ئۆزگەرت
Name[uk]=Зміна розмірів вікон
Name[wa]=Candjî l' grandeu del finiesse
Name[x-test]=xxResize Windowxx
Name[zh_CN]=缩放窗口
Name[zh_TW]=重新調整視窗大小
Icon=preferences-system-windows-effect-resize
Comment=Resizes windows with a fast texture scale instead of updating contents
Comment[bg]=Преоразмеряване на прозорци с мащабиране без обновяване на съдържанието
Comment[bs]=Promjena veličine prozora brzim teksturnim skaliranjem umjesto ažuriranjem sadržaja
Comment[ca]=Redimensiona les finestres amb un escalat de textura ràpid enlloc d'actualitzar els continguts
Comment[ca@valencia]=Redimensiona les finestres amb un escalat de textura ràpid enlloc d'actualitzar els continguts
Comment[cs]=Změní velikost okna s využitím rychlého škálování textury místo aktualizace obsahu
Comment[da]=Ændrer størrelse på vinduer med en hurtig teksturskalering i stedet for at opdatere indholdet
Comment[de]=Schnelles Skalieren der Fenster-Texturen ohne Aktualisierung des Fensterinhalts
Comment[el]=Αλλάζει το μέγεθος του παραθύρου χρησιμοποιώντας ταχείες υφές αντί να ανανεώνει τα περιεχόμενα
Comment[en_GB]=Resizes windows with a fast texture scale instead of updating contents
Comment[es]=Redimensiona las ventanas con un escalado rápido de texturas en lugar de actualizando los contenidos
Comment[et]=Akende suuruse muutmine kiire tekstuuri skaleerimisega sisu uuendamise asemel
Comment[fi]=Käyttää ikkunan kokoa muutettaessa nopeaa tekstuurin skaalausta sisällön päivittämisen sijaan
Comment[fr]=Redimensionne les fenêtres à l'aide d'une échelle texturée rapide au lieu de mettre à jour les contenus
Comment[he]=שינוי גודל החלון על־ידי שינוי מהיר של גודל המבנה במקום לעדכן את התוכן
Comment[hr]=Mijenja veličinu prozora brzim skaliranjem teksture umjesto ažuriranjem sadržaja
Comment[ia]=Redimensiona fenestras con un rapide scala de textura in vice de actualisar contentos
Comment[is]=Breyta stærð glugga með hraðvirkri áferðarkvörðun (texture scale) í stað þess að uppfæra innihaldið
Comment[it]=Ridimensiona le finestra con una scalatura rapida della trama invece di aggiornarne i contenuti
Comment[kk]=Терезе өлшемін өзгерткенде бетін жаңартудын орнына тез өрнекпен толтыру
Comment[km]=ផ្លាស់ប្ដូរ​បង្អួច​ដោយ​មាត្រដ្ឋាន​វាយនភាព​លឿន ដោយ​មាតិកា​​​ដែលបាន​ធ្វើ​បច្ចុប្បន្នភាព
Comment[ko]=내용을 갱신하는 대신 빠른 텍스처 스케일링으로 창 크기 조절하기
Comment[lt]=Keičia langų dydį naudojant greitą tekstūros dydžio pakeitimą, o ne pilnai atnaujinant turinį
Comment[nb]=Endrer størrelse på vinduer med rask teksturskalering i stedet for å oppdatere innholdet
Comment[nds]=Bi't Ännern vun de Finstergrött warrt en gau Textuurskaleren bruukt, un nich de Inholt opfrischt
Comment[nl]=Wijzigt vensterafmetingen met een snelle textuurschaling in plaats van het bijwerken van de inhoud
Comment[pa]=ਸਮੱਗਰੀ ਅੱਪਡੇਟ ਕਰਨ ਦੀ ਬਜਾਏ ਤੇਜ਼ ਟੈਸਕਟ ਸਕੇਲ ਨਾਲ ਵਿੰਡੋ ਮੁੜ-ਆਕਾਰ ਕਰੋ
Comment[pl]=Zmienia rozmiar okien metodą szybkiego skalowania tekstur zamiast uaktualniania zawartości
Comment[pt]=Dimensiona as janelas com uma escala rápida com textura em vez de actualizar o conteúdo
Comment[pt_BR]=Redimensiona as janelas com uma escala rápida com textura em vez de atualizar o conteúdo
Comment[ro]=Redimensionează ferestrele cu o scalare rapidă a texturii în loc de actualizarea conținutului
Comment[ru]=Масштабирование текстуры при изменении размеров окон вместо обновления их содержимого
Comment[sk]=Zmení veľkosť okien s využitím rýchleho škálovania textúry namiesto aktualizácie obsahu
Comment[sl]=Za spremembo velikosti oken se namesto posodobitve vsebine uporabi hitra povečava teksture
Comment[sr]=Промена величине прозора брзим текстурним скалирањем уместо ажурирањем садржаја
Comment[sr@ijekavian]=Промена величине прозора брзим текстурним скалирањем уместо ажурирањем садржаја
Comment[sr@ijekavianlatin]=Promena veličine prozora brzim teksturnim skaliranjem umesto ažuriranjem sadržaja
Comment[sr@latin]=Promena veličine prozora brzim teksturnim skaliranjem umesto ažuriranjem sadržaja
Comment[sv]=Ändrar storlek på fönster med en snabb strukturskalning istället för att uppdatera innehållet.
Comment[th]=ปรับขนาดหน้าต่างด้วยการปรับพื้นผิวอย่างรวดเร็ว แทนการปรับปรุงเนื้อหาภายในหน้าต่าง
Comment[tr]=İçeriklerini güncellemek yerine pencereleri hızlı bir doku ölçeğiyle yeniden boyutlandırır.
Comment[uk]=Зміна розмірів вікон швидким масштабуванням текстур замість оновлення вмісту вікон
Comment[x-test]=xxResizes windows with a fast texture scale instead of updating contentsxx
Comment[zh_CN]=用快速材质缩放而不是内容更新进行窗口缩放
Comment[zh_TW]=用快速調整縮放而不是更新內容的方式重新調整視窗大小

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_resize
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=60
