[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_resize_config
X-KDE-ParentComponents=resize

Name=Resize Window
Name[ar]=غير حجم النافذة
Name[ast]=Redimensión de ventanes
Name[az]=Pəncərənin Ölçüsünü Dəyişmək
Name[bg]=Преоразмеряване на прозорци
Name[bs]=Preuveličanje prozora
Name[ca]=Redimensionament de les finestres
Name[ca@valencia]=Redimensionament de les finestres
Name[cs]=Změnit velikost okna
Name[csb]=Zmieni miarã òkna
Name[da]=Ændr størrelse på vindue
Name[de]=Fenstergröße ändern
Name[el]=Αλλαγή μεγέθους παραθύρου
Name[en_GB]=Resize Window
Name[eo]=Regrandigi fenestrojn
Name[es]=Redimensionar ventana
Name[et]=Akna suuruse muutmine
Name[eu]=Tamainaz aldatu leihoa
Name[fa]=تغییر اندازۀ پنجره
Name[fi]=Ikkunan koon muuttaminen
Name[fr]=Redimensionner la fenêtre
Name[fy]=Finstergrutte feroarje
Name[ga]=Athraigh Méid na Fuinneoige
Name[gl]=Cambiar o tamaño da xanela
Name[gu]=વિન્ડોનું માપ બદલો
Name[he]=שינוי גודל חלון
Name[hi]=विंडो आकार बदलें
Name[hr]=Promjena veličine prozora
Name[hu]=Ablak átméretezése
Name[ia]=Redimensiona fenestra
Name[id]=Ubah-ukuran Window
Name[is]=Breyta stærð glugga
Name[it]=Ridimensiona la finestra
Name[ja]=ウィンドウのリサイズ
Name[kk]=Терезе өлшемін өзгерту
Name[km]=ផ្លាស់ប្ដូរ​ទំហំ​បង្អួច
Name[kn]=ಕಿಟಕಿಯ ಗಾತ್ರ ಬದಲಿಸು
Name[ko]=창 크기 조정
Name[lt]=Keisti lango dydį
Name[lv]=Mainīt loga izmēru
Name[mk]=Големина на прозорец
Name[ml]=ജാലകത്തിന്റെ വലിപ്പം മാറ്റുക
Name[mr]=चौकट आकार बदल
Name[nb]=Endre størrelse på vinduet
Name[nds]=Finstergrött ännern
Name[nl]=Afmeting venster aanpassen
Name[nn]=Skaler vindauge
Name[pa]=ਵਿੰਡੋ ਮੁੜ-ਆਕਾਰ
Name[pl]=Zmiana rozmiaru okien
Name[pt]=Dimensionar a Janela
Name[pt_BR]=Redimensionar janela
Name[ro]=Redimensionează fereastra
Name[ru]=Изменение размера окна
Name[si]=කවුළුව ප්‍රතිප්‍රමාණ කරන්න
Name[sk]=Zmeniť veľkosť okna
Name[sl]=Spreminjanje velikosti okna
Name[sr]=Преувеличање прозора
Name[sr@ijekavian]=Преувеличање прозора
Name[sr@ijekavianlatin]=Preuveličanje prozora
Name[sr@latin]=Preuveličanje prozora
Name[sv]=Ändra fönsterstorlek
Name[th]=ปรับขนาดหน้าต่าง
Name[tr]=Pencereyi Yeniden Boyutlandır
Name[ug]=كۆزنەك چوڭلۇقىنى ئۆزگەرت
Name[uk]=Зміна розмірів вікон
Name[wa]=Candjî l' grandeu del finiesse
Name[x-test]=xxResize Windowxx
Name[zh_CN]=更改窗口大小
Name[zh_TW]=重新調整視窗大小
