[Desktop Entry]
Name=Keramik
Name[be]=Кераміка
Name[bn]=কেরামিক
Name[cs]=Keramika
Name[eo]=Ceramiko
Name[fa]=کرامیک
Name[fy]=Keramyk
Name[hi]=के-रामिक
Name[it]=Ceramica
Name[lo]=ເຄຣາມິກ - K
Name[lv]=Keramika
Name[mn]=Ваар
Name[nb]=Keramikk
Name[nn]=Keramikk
Name[pa]=ਕੀਰਾਮਿਕ
Name[sr]=Керамика
Name[sr@Latn]=Keramika
Name[ta]=கெராமிக்
Name[th]=เครามิก
Name[uk]=Керамік
Name[uz]=Керамика
Name[xx]=xxKeramikxx
X-KDE-Library=kwin3_keramik

