[Desktop Entry]
Name=Keramik
Name[be]=Кераміка
Name[cs]=Keramika
Name[eo]=Ceramiko
Name[fa]=کرامیک
Name[hi]=केरमिक
Name[it]=Ceramica
Name[lo]=ເຄຣາມິກ - K
Name[lv]=Keramika
Name[mn]=Ваар
Name[nb]=Keramikk
Name[nn]=Keramikk
Name[se]=Bálseduoddji
Name[sr]=Керамика
Name[ta]=கெராமிக்
Name[th]=เครามิก
Name[uz]=Керамика
Name[xx]=xxKeramikxx
X-KDE-Library=kwin3_keramik

