[Desktop Entry]
Comment=Cross fade animation when Tooltips or Notifications change their geometry
Comment[az]=Sürüşən ip ucları və ya bildirişlər pəncərəsinin forması dəyişdirilərkən onlar tədricən dartılır və yığılır
Comment[ca]=Animació d'esvaïment creuat quan els consells d'eines o les notificacions canvien la seva geometria
Comment[ca@valencia]=Animació d'esvaïment creuat quan els consells d'eines o les notificacions canvien la seua geometria
Comment[da]=Crossfade-animation når værktøjstip og bekendtgørelser skifter geometry
Comment[de]=Überblendende Animationen, wenn Kurzinfos oder Benachrichtigungen ihre Geometrie ändern
Comment[el]=Εφέ εναλλαγής με εξασθένιση όταν οι Υποδείξεις ή οι Ειδοποιήσεις αλλάζουν τη γεωμετρία τους
Comment[en_GB]=Cross fade animation when Tooltips or Notifications change their geometry
Comment[es]=Animación de transición suave cuando las ayudas emergentes o las notificaciones cambian su geometría
Comment[et]=Animatsioon hääbumisega, kui kohtspikrid või märguanded muudavad geomeetriat
Comment[eu]=Desagertze gurutzatua tresnen argibideek edo jakinarazpenek geometria aldatzen dutenean
Comment[fi]=Häivytysanimaatio työkaluvihjeiden tai ilmoitusten koon muuttuessa
Comment[fr]=Animation de fondu quand les infobulles ou les notifications changent de forme
Comment[gl]=Usar unha animación de esvaemento cando a xeometría das mensaxes emerxentes de axuda ou notificación cambia.
Comment[he]=משנה את גודל החלונית הקופצת בצורה חלקה (שעוברים בין חלוניות)
Comment[hu]=Átalakuló animáció a Buboréksúgók vagy Értesítések geometriájának változtatásakor
Comment[id]=Animasi lesap silang ketika Tip-alat atau Notifikasi berubah pada geometrinya
Comment[it]=Animazione in dissolvenza quando i suggerimenti e le notifiche cambiano la loro geometria
Comment[ko]=풍선 도움말이나 알림 크기가 변경될 때 크로스페이드 애니메이션 사용
Comment[lt]=Užplūdimo animacija, kai paaiškinimai ar pranešimai keičia savo geometriją
Comment[nl]=Verwissel animatie van opkomen/vervagen wanneer tekstballonnen of meldingen hun geometrie wijzigen
Comment[nn]=Krysstoningsanimasjon når hjelpebobler eller varslingar endrar form
Comment[pl]=Efekt zmiany kształtu podpowiedzi i powiadomień przy zmianie ich geometrii
Comment[pt]=Animar o desvanecimento quando as dicas ou notificações mudarem de tamanho
Comment[pt_BR]=Animar a transição suave quando as dicas ou notificações mudarem de tamanho
Comment[ru]=При изменении формы всплывающих подсказок или уведомлений они плавно растягиваются или сжимаются
Comment[sk]=Prelínacia animácia pri tooltipoch alebo notifikáciách pri zmene ich geometrie
Comment[sl]=Animacija navzkrižnega pojemanja ob spremembi geometrije orodnih namigov in obvestil
Comment[sr]=Анимација претапања када облачићи или обавештења мењају геометрију
Comment[sr@ijekavian]=Анимација претапања када облачићи или обавештења мењају геометрију
Comment[sr@ijekavianlatin]=Animacija pretapanja kada oblačići ili obaveštenja menjaju geometriju
Comment[sr@latin]=Animacija pretapanja kada oblačići ili obaveštenja menjaju geometriju
Comment[sv]=Övertona animering när verktygstips eller underrättelser ändrar storlek
Comment[tr]=Araç İpuçları veya Bildirimler geometrilerini değiştirdiğinde çapraz solma animasyonu göster
Comment[uk]=Анімація зі зміною освітленості під час зміни геометрії панелей підказок і сповіщень
Comment[x-test]=xxCross fade animation when Tooltips or Notifications change their geometryxx
Comment[zh_CN]=在工具提示或者通知大小变化时交叉淡入淡出的动画
Comment[zh_TW]=當工具提示或通知變更位置時交錯的淡出動畫
Icon=preferences-system-windows-effect-morphingpopups
Name=Morphing popups
Name[az]=Sürüşən pəncərələrin əmələ gəlmə animasiyası
Name[ca]=Missatges emergents en metamorfosi
Name[ca@valencia]=Missatges emergents en metamorfosi
Name[da]=Sammensmeltende pop-op'er
Name[de]=Verformende Aufklappfenster
Name[el]=Αναδυόμενα morphing
Name[en_GB]=Morphing popups
Name[es]=Transformación de ventanas emergentes
Name[et]=Moonduvad hüpikdialoogid
Name[eu]=Eraldatzen diren gainerakorrak
Name[fi]=Ponnahdusikkunoiden muodonmuutos
Name[fr]=Fondu des menus surgissants
Name[gl]=Xanelas emerxentes cambiantes
Name[he]=החלקת חלונות קופצים
Name[hu]=Átalakuló felugró ablakok
Name[ia]=Popups de Morphing
Name[id]=Sembulan perubahan
Name[it]=Finestre a comparsa che si trasformano
Name[ko]=변형되는 팝업
Name[lt]=Besikeičiantys iškylantieji langai
Name[nl]=Morphing popups
Name[nn]=Formendring for sprettoppvindauge
Name[pl]=Zmiennokształtne elementy pomocnicze
Name[pt]=Mensagens com mudança de forma
Name[pt_BR]=Mensagens com mudança de forma
Name[ro]=Indicii în schimbare
Name[ru]=Анимация преобразования всплывающих окон
Name[sk]=Vysúvať vyskakovacie okná
Name[sl]=Prehajajoča pojavna okna
Name[sr]=Претапајући искакачи
Name[sr@ijekavian]=Претапајући искакачи
Name[sr@ijekavianlatin]=Pretapajući iskakači
Name[sr@latin]=Pretapajući iskakači
Name[sv]=Föränderliga meddelanderutor
Name[tr]=Dönüşümlü pencereler
Name[uk]=Аморфні контекстні панелі
Name[x-test]=xxMorphing popupsxx
Name[zh_CN]=变形气泡通知
Name[zh_TW]=交錯彈出視窗
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwin4_effect_morphingpopups
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/morphingpopups.js
X-KWin-Video-Url=https://files.kde.org/plasma/kwin/effect-videos/morphingpopups.ogv
