[Desktop Entry]
Comment=Cross fade animation when Tooltips or Notifications change their geometry
Comment[ca]=Animació d'esvaïment creuat quan els consells d'eines o les notificacions canvien la seva geometria
Comment[pt]=Animar o desvanecimento quando as dicas ou notificações mudarem de tamanho
Comment[sv]=Övertona animering när verktygstips eller underrättelser ändrar storlek
Comment[uk]=Анімація зі зміною освітленості під час зміни геометрії панелей підказок і сповіщень
Comment[x-test]=xxCross fade animation when Tooltips or Notifications change their geometryxx
Encoding=UTF-8
Icon=preferences-system-windows-effect-morphingpopups
Name=Morphing popups
Name[ca]=Missatges emergents en metamorfosi
Name[pt]=Mensagens com mudança de forma
Name[sv]=Föränderliga meddelanderutor
Name[uk]=Аморфні контекстні панелі
Name[x-test]=xxMorphing popupsxx
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwin4_effect_morphingpopups
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/morphingpopups.js
X-Plasma-RemoteLocation=
X-KWin-Video-Url=http://files.kde.org/plasma/kwin/effect-videos/morphingpopups.ogv
