[Desktop Entry]
Name=Slide Back
Name[bg]=Обратно приплъзване
Name[ca]=Llisca cap enrere
Name[ca@valencia]=Llisca cap enrere
Name[cs]=Zasunout
Name[csb]=Pùrganié w tił
Name[da]=Glid tilbage
Name[de]=Nach hinten rutschen
Name[el]=Κύλιση πίσω
Name[et]=Tagasiliuglemine
Name[fi]=Liutus
Name[fr]=Glisser en arrière
Name[fy]=Dia werom
Name[gl]=Votar para atrás
Name[gu]=પાછું ખસેડો
Name[hu]=Visszacsúszó ablakok
Name[is]=Renna til baka
Name[km]=ស្លាយ​ថយក្រោយ
Name[lv]=Aizslīdēt aiz
Name[mai]=स्लाइड बैक
Name[nb]=Skyv bakover
Name[nds]=Achterut glieden
Name[nl]=Naar achter bewegen
Name[nn]=Skli tilbake
Name[pa]=ਸਲਾਈਡ ਪਿੱਛੇ
Name[pt]=Deslizar para Trás
Name[pt_BR]=Deslizar para trás
Name[ro]=Alunecă înapoi
Name[sl]=Zdrs v ozadje
Name[sr]=Клизање уназад
Name[sr@latin]=Klizanje unazad
Name[sv]=Glid tillbaka
Name[tg]=Слайд
Name[tr]=Geriye Kaydır
Name[uk]=Зниження
Name[wa]=Rider èn erî
Name[x-test]=xxSlide Backxx
Name[zh_CN]=滑出
Name[zh_TW]=往回滑動

Type=Service
Comment=Slide back windows losing focus
Comment[bg]=Обратно приплъзване на прозорците, които остават извън фокус
Comment[ca]=Llisca enrere les finestres que perdin el focus
Comment[ca@valencia]=Llisca enrere les finestres que perdin el focus
Comment[cs]=Zasunout okna, pokud ztratí zaměření
Comment[csb]=Zezwôlô na pùrganié òknów w tił jak ùtracą swòj fòkùs
Comment[da]=Lad vinduer der mister fokus glide tilbage
Comment[de]=Lässt Fenster nach hinten rutschen, wenn sie den Fokus verlieren.
Comment[el]=Κύλιση παραθύρων πίσω με απώλεια της εστίασής τους
Comment[et]=Fookuse kaotanud aknad liuglevad tagasi
Comment[fr]=Faire glisser en arrière les fenêtre perdant le focus
Comment[fy]=Finster, dy't fokus ferliest, nei efter glydzje litte
Comment[gl]=Manda para atrás as fiestras que perden o foco
Comment[hu]=Fókuszváltáskor az előző fókuszált ablak visszacsúszik
Comment[is]=Gluggar sem missa fókus renna til baka
Comment[km]=បង្អួច​ស្លាយ​ថយក្រោយ​នៅពេល​បាត់បង់​ការ​ផ្ដោត
Comment[lv]=Logi, zaudējot fokusu, aizslīd aiz aktīvā
Comment[ml]=കേന്ദ്രീകരണം നഷ്ടപ്പെട്ട ജാലകങ്ങള്‍ പിന്നിലേക്ക് തെന്നിമാറട്ടെ.
Comment[nb]=Skyv tilbake vinduer sm mister fokus
Comment[nds]=Finstern, de den Fokus verleert, na achtern glieden laten
Comment[nl]=Beweeg venster naar achter als deze focus verliest
Comment[nn]=Lat vindauge som mistar fokus skli tilbake
Comment[pa]=ਜਦੋਂ ਵਿੰਡੋਜ਼ ਲਈ ਫੋਕਸ ਹਟੇ ਤਾਂ ਸਲਾਈਡ ਪਿੱਛੇ
Comment[pt]=Deslizar para trás as janelas que perdem o foco
Comment[pt_BR]=Deslizar para trás as janelas que perdem o foco
Comment[sl]=Okna, ki izgubijo fokus, zdrsnejo v ozadje
Comment[sr]=Клиза уназад прозоре који губе фокус
Comment[sr@latin]=Kliza unazad prozore koji gube fokus
Comment[sv]=Låt fönster som förlorar fokus glida tillbaka
Comment[tr]=Odaklamayı kaybeden pencereler için slayt efekti
Comment[uk]=Вікна, що знижуються, втрачають фокус
Comment[wa]=Fé rider èn erî les purneas ki pierdèt leu prumî plan
Comment[x-test]=xxSlide back windows losing focusxx
Comment[zh_CN]=当窗口失去焦点时呈现滑出效果
Comment[zh_TW]=將失去焦點的視窗往回滑動
Icon=preferences-system-windows-effect-slideback
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Michael Zanetti
X-KDE-PluginInfo-Email=michael_zanetti@gmx.net
X-KDE-PluginInfo-Name=kwin4_effect_slideback
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Focus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
