[Desktop Entry]
Comment=Squash windows when they are minimized
Icon=preferences-system-windows-effect-squash
Name=Squash

Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Rivo Laks, Vlad Zagorodniy
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Email=rivolaks@hot.ee, vladzzag@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwin4_effect_squash
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KWin-Exclusive-Category=minimize
X-KWin-Video-Url=http://files.kde.org/plasma/kwin/effect-videos/minimize.ogv
