[Desktop Entry]
Name=Demo Liquid
Name[af]=Demo Liquid
Name[ar]=استعراض السائل
Name[ast]=Demostración de Liquid
Name[bg]=Демо на Liquid
Name[bs]=Demo tečnog
Name[ca]=Demostració del Liquid
Name[ca@valencia]=Demostració del Liquid
Name[cs]=Liquid demo
Name[csb]=Ceklëna (démònstarcëjô)
Name[da]=Demo af Liquid
Name[de]=Demo: Liquid
Name[el]=Επίδειξη του Liquid
Name[en_GB]=Demo Liquid
Name[eo]=Demonstro likvaĵo
Name[es]=Demostración de Liquid
Name[et]=Demo Liquid
Name[eu]=Liquid demo
Name[fi]=Demo Liquid
Name[fr]=Démo liquide
Name[fy]=Demo Liquid
Name[ga]=Maisíocht Taispeána: Leacht
Name[gl]=Demostración de Liquid
Name[gu]=નિદર્શન પ્રવાહી
Name[he]=הדגמה - נוזל
Name[hi]=डेमो लिक्विड
Name[hne]=डेमो लिक्विड
Name[hr]=Demonstracijska tekućina
Name[hu]=Liquid demó
Name[ia]=Demo Liquid
Name[id]=Demo Cair
Name[is]=Sýnishorn af Vökva
Name[it]=Dimostrazione di liquido
Name[ja]=Liquid デモ
Name[kk]=Сүйықтың мысалы
Name[km]=ការ​បង្ហាញ​​វត្ថុ​រាវ​សាក​ល្បង​
Name[kn]=ದ್ರವ ನಿದರ್ಶನ (ಡೆಮೋ)
Name[ko]=액체 데모
Name[lt]=Skysčio demo
Name[lv]=Demo šķidrums
Name[mai]=डेमो लिक्विड
Name[ml]=ദ്രാവകം
Name[nb]=Demo væske
Name[nds]=Demo: Flaat
Name[ne]=डेमो लिक्विड
Name[nl]=Demo Vloeibaar
Name[nn]=Demo væske
Name[pa]=ਡੈਮੋ ਤਰਲ
Name[pl]=Demonstracja cieczy
Name[pt]=Demo_Liquid
Name[pt_BR]=Demo Liquid
Name[ro]=Demonstrație Lichid
Name[ru]=Демонстрация Liquid
Name[se]=Demonstrere golgi
Name[si]=ඩීමෝ ද්‍රාවණ
Name[sk]=Demo Liquid
Name[sl]=Predstavitveno Tekoče
Name[sr]=Демо течног
Name[sr@ijekavian]=Демо течног
Name[sr@ijekavianlatin]=Demo tečnog
Name[sr@latin]=Demo tečnog
Name[sv]=Demonstration av Liquid
Name[ta]=Demo Liquid
Name[te]=డెమో లిక్విడ్
Name[tg]=Интихоби ранги элементҳои моеъ
Name[th]=สาธิตของเหลว
Name[tr]=Demo Sıvılaştırma
Name[ug]=كۆرسەتمە - سۇيۇقلۇق
Name[uk]=Демонстрація Liquid
Name[wa]=Mostraedje di Liquid
Name[x-test]=xxDemo Liquidxx
Name[zh_CN]=演示 - 液体
Name[zh_TW]=示範：液體

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_demo_liquid
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Demos
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
