[Desktop Entry]
Name=Cube Gears
Name[ca]=Engranatges cúbics
Name[da]=Terningtandhjul
Name[de]=Zahnräder im Würfel
Name[el]=Κυβικά γρανάζια
Name[en_GB]=Cube Gears
Name[eo]=Dentradoj en Kubo
Name[et]=Kuuphammasrattad
Name[gl]=Engrenaxes no cubo
Name[hr]=Kocka s zupčanicima
Name[id]=Gigi Kubus
Name[kk]=Текшенің тістегіршектері
Name[lv]=Kuba zobrati
Name[nb]=Terningtannhjul
Name[nds]=Tahnrööd-Wörpel
Name[nl]=Kubustandwielen
Name[pt]=Engrenagens Cúbicas
Name[pt_BR]=Engrenagens cúbicas
Name[ro]=Roți dințate în cub
Name[sl]=Zobniki v kocki
Name[sv]=Kubkuggar
Name[tr]=Küp Dişlileri
Name[uk]=Шестерні у кубі
Name[x-test]=xxCube Gearsxx
Name[zh_TW]=立方體內的齒輪
Icon=preferences-system-windows-effect-cube
Comment=Display gears inside the cube
Comment[ca]=Visualitza els engranatges dins d'un cub
Comment[da]=Viser tandhjul inde i terningen
Comment[de]=Zeigt Zahnräder in einem Würfel an.
Comment[el]=Εμφάνιση γραναζιών μέσα στον κύβο
Comment[en_GB]=Display gears inside the cube
Comment[eo]=Montri ilojn ene de la kubo
Comment[es]=Mostrar ruedas dentadas dentro del cubo
Comment[et]=Hammasrataste kujutamine kuubikus
Comment[gl]=Mostra engrenaxes dentro do cubo
Comment[hr]=Prikazuj zupčanike unutar kocke
Comment[id]=Tampilkan gigi di dalam kubus
Comment[kk]=Текшенің ішіндегі тістегіршектерін көрсету
Comment[lv]=Rāda zobratus kuba iekšienē
Comment[nb]=Vis tannhjul inni terningen
Comment[nds]=Tahnrööd binnen den Wörpel wiesen
Comment[nl]=Toont tandwielen in de kubus
Comment[pt]=Mostrar as engrenagens dentro do cubo
Comment[pt_BR]=Mostra engrenagens dentro de um cubo
Comment[ro]=Afișează roți dințate în cub
Comment[sl]=Znotraj kocke prikaži zobnike
Comment[sv]=Visa kugghjul inne i kuben
Comment[tr]=Küpün içerisinde dişlileri göster
Comment[uk]=Показувати шестерні у кубі
Comment[x-test]=xxDisplay gears inside the cubexx
Comment[zh_TW]=在立方體內顯示齒輪

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_gears
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Candy
X-KDE-PluginInfo-Depends=kwin4_effect_cube
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
X-KDE-Ordering=51
