[Desktop Entry]
# Name of the effect
Name=Howto
Name[af]=Howto
Name[ar]=كيف تعمل
Name[ast]=Cómo
Name[be]=Howto
Name[bg]=Howto
Name[bs]=Kako‑da
Name[ca]=Howto
Name[ca@valencia]=Howto
Name[cs]=Návod
Name[csb]=Jak to zrobic
Name[da]=Howto
Name[de]=Howto
Name[el]=Οδηγίες
Name[en_GB]=Howto
Name[eo]=Kielfari
Name[es]=Cómo
Name[et]=Howto
Name[eu]=Nola
Name[fi]=Howto
Name[fr]=Guide
Name[fy]=Howto
Name[ga]=Howto
Name[gl]=Howto
Name[gu]=કેવી રીતે
Name[he]=כיצד לבצע
Name[hi]=कैसे
Name[hne]=कइसन
Name[hr]=Kako
Name[hu]=Leírás
Name[ia]=Howto (Como il es)
Name[id]=Howto
Name[is]=Hvernig
Name[it]=Come si fa
Name[ja]=ハウツー
Name[kk]=Қалай
Name[km]=របៀប​ធ្វើ​
Name[kn]=ಹೇಗೆ (ಹೌಟು)
Name[ko]=따라하기
Name[ku]=Çawa
Name[lt]=Howto
Name[lv]=Pamācība
Name[mai]=कहिना
Name[mk]=КакоДа
Name[ml]=എങ്ങനെ
Name[mr]=कसे
Name[nb]=Hvordan
Name[nds]=Anleden
Name[ne]=हाउटु
Name[nl]=Howto
Name[nn]=Korleis
Name[pa]=ਕਿਵੇਂ
Name[pl]=Jak to zrobić
Name[pt]=Howto
Name[pt_BR]=Manual
Name[ro]=Cum să
Name[ru]=Эффект передачи фокуса окну
Name[se]=Man láhkai
Name[si]=කෙසේද
Name[sk]=Howto
Name[sl]=Vodič
Name[sr]=Како‑да
Name[sr@ijekavian]=Како‑да
Name[sr@ijekavianlatin]=Kako‑da
Name[sr@latin]=Kako‑da
Name[sv]=Hur då
Name[ta]=எப்படி
Name[te]=ఎలా
Name[tg]=Howto
Name[th]=วิธีทำ
Name[tr]=Nasıl
Name[ug]=قانداق
Name[uk]=Як це
Name[vi]=Như thế nào
Name[wa]=Comint fé
Name[x-test]=xxHowtoxx
Name[zh_CN]=Howto
Name[zh_TW]=Howto

# This is KWin effect
Type=Service
X-KDE-ServiceTypes=KWin/Effect
# Author and email of the author
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
# Internal name of the effect
X-KDE-PluginInfo-Name=kwin4_effect_howto
# Category of the effect, for config dialog
X-KDE-PluginInfo-Category=Demos
# Version and license
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-License=GPL
# If the effect depends on any other effect(s) to be active, then internal
#  names of those effects can be given here
X-KDE-PluginInfo-Depends=
# Whether this effect should be enabled by default
X-KDE-PluginInfo-EnabledByDefault=false
# The plugin (library) which contains the effect. One library may contain more effects.
X-KDE-Library=kwin4_effect_tests
# The order in which this effect is loaded.  Lower numbers are process events and painting first.
X-KDE-Ordering=100
