[Desktop Entry]
Name=Test_Thumbnail
Name[af]=Test_Thumbnail
Name[ar]=اختبار_مصغّرات
Name[ast]=Test_Thumbnail
Name[be]=Праверка_мініяцюр
Name[bg]=Test_Thumbnail
Name[bn_IN]=Test_Thumbnail
Name[bs]=Test_Thumbnail
Name[ca]=Prova de miniatura
Name[ca@valencia]=Prova de miniatura
Name[cs]=Test_Thumbnail
Name[csb]=Test_Miniaturczi
Name[da]=Test_Thumbnail
Name[de]=Test: Vorschaubilder
Name[el]=Δοκιμή εικόνας επισκόπησης
Name[en_GB]=Test_Thumbnail
Name[eo]=Test_Thumbnail
Name[es]=Test_Thumbnail
Name[et]=Test_Thumbnail
Name[eu]=Test_Thumbnail
Name[fi]=Test_Thumbnail
Name[fr]=Test_Thumbnail
Name[fy]=Test_Thumbnail
Name[ga]=Test_Thumbnail
Name[gl]=Test_Thumbnail
Name[gu]=ચકાસણી_થમ્બનીલ
Name[he]=בדיקת תמונות ממוזערות
Name[hi]=लघुछवि_जाँचें
Name[hne]=चिनहा_जांचव
Name[hr]=Text_Sličica
Name[hu]=Teszt-gyorsnézet
Name[ia]=Test_Thumbnail (Essaya miniaturas)
Name[id]=Test_Thumbnail
Name[is]=Prófa_smámynd
Name[it]=Prova_miniatura
Name[ja]=Test_Thumbnail
Name[kk]=Нобайды_сынау
Name[km]=Test_Thumbnail
Name[kn]=ಸೂಚ್ಯಚಿತ್ರ_ಪರೀಕ್ಷೆ
Name[ko]=미리_보기_시험
Name[lt]=Testuoti_miniatiūrą
Name[lv]=Test_Thumbnail
Name[mai]=लघुछवि_जाँचू
Name[mk]=Test_Thumbnail
Name[ml]=നഖചിത്ര_പരീക്ഷണം
Name[mr]=लघुप्रतिमा_चाचणी
Name[nb]=Test_minibilde
Name[nds]=Test: Vöransicht
Name[ne]=थम्बनेल परीक्षण गर्नुहोस्
Name[nl]=Test_Thumbnail
Name[nn]=Test_miniatyrbilete
Name[pa]=ਥੰਮਨੇਲ ਟੈਸਟ(_T)
Name[pl]=Test_miniaturek
Name[pt]=Test_Thumbnail
Name[pt_BR]=Test_Thumbnail
Name[ro]=Test_Miniatură
Name[ru]=Проверка миниатюры
Name[se]=Geahččalan_govaš
Name[si]=පරීක්‍ෂා_කුඩාරූ
Name[sk]=Test_Thumbnail
Name[sl]=Preizkusna_sličica
Name[sr]=Test_Thumbnail
Name[sr@ijekavian]=Test_Thumbnail
Name[sr@ijekavianlatin]=Test_Thumbnail
Name[sr@latin]=Test_Thumbnail
Name[sv]=Testa miniatyrbild
Name[ta]=Test_Thumbnail
Name[te]=టెస్‍ట్_థంబ్‌నెయిల్
Name[tg]=Test_Thumbnail
Name[th]=Test_Thumbnail
Name[tr]=Test_Thumbnail
Name[ug]=سىناق_كىچىك سۈرەت
Name[uk]=Test_Thumbnail
Name[vi]=Thử_hình nhỏ
Name[wa]=Saye_Prévoeyaedje
Name[x-test]=xxTest_Thumbnailxx
Name[zh_CN]=测试_缩略图
Name[zh_TW]=測試_縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_test_thumbnail
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tests
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
