[Desktop Entry]
Name=Test_FBO
Name[af]=Test_FBO
Name[ar]=اختبار_FBO
Name[ast]=Test_FBO
Name[be]=Праверка_FBO
Name[bg]=Test_FBO
Name[bn_IN]=Test_FBO
Name[bs]=Test_FBO
Name[ca]=Prova FBO
Name[ca@valencia]=Prova FBO
Name[cs]=Test_FBO
Name[csb]=Test_FBO
Name[da]=Test_FBO
Name[de]=Test: FBO
Name[el]=Δοκιμή_FBO
Name[en_GB]=Test_FBO
Name[eo]=Test_FBO
Name[es]=Test_FBO
Name[et]=Test_FBO
Name[eu]=Test_FBO
Name[fi]=Test_FBO
Name[fr]=Test_FBO
Name[fy]=Test_FBO
Name[ga]=Test_FBO
Name[gl]=Test_FBO
Name[gu]=ચકાસણી_FBO
Name[he]=בדיקת FBO
Name[hi]=एफ़बीओ_जाँचें
Name[hne]=एफबीओ_जांचव
Name[hr]=Test_FBO
Name[hu]=FBO_teszt
Name[ia]=Test_FBO
Name[id]=Test_FBO
Name[is]=Prófa_FBO
Name[it]=Prova_FBO
Name[ja]=Test_FBO
Name[kk]=FBO_сынау
Name[km]=Test_FBO
Name[kn]=FBO_ಪರೀಕ್ಷಿಸು
Name[ko]=FBO_시험
Name[lt]=Testuoti_FBO
Name[lv]=Test_FBO
Name[mai]=एफबीओ_जाँचू
Name[mk]=Test_FBO
Name[ml]=എഫ്ബിയൊ_പരീക്ഷണം
Name[mr]=FBO_चाचणी
Name[nb]=Test_FBO
Name[nds]=Test: FBO
Name[ne]=एफबीओ परीक्षण गर्नुहोस्
Name[nl]=Test_FBO
Name[nn]=Test_FBO
Name[pa]=Test_FBO
Name[pl]=Test_FBO
Name[pt]=Test_FBO
Name[pt_BR]=Test_FBO
Name[ro]=Test_FBO
Name[ru]=Проверка FBO
Name[se]=Test_FBO
Name[si]=පරීක්‍ෂාt_FBO
Name[sk]=Test_FBO
Name[sl]=Preizkusni_FBO
Name[sr]=Test_FBO
Name[sr@ijekavian]=Test_FBO
Name[sr@ijekavianlatin]=Test_FBO
Name[sr@latin]=Test_FBO
Name[sv]=Testa FBO
Name[ta]=Test_FBO
Name[te]=Test_FBO
Name[tg]=Test_FBO
Name[th]=Test_FBO
Name[tr]=Test_FBO
Name[ug]=سىناق_FBO
Name[uk]=Test_FBO
Name[vi]=Thử_FBO
Name[wa]=Saye_FBO
Name[x-test]=xxTest_FBOxx
Name[zh_CN]=测试_FBO
Name[zh_TW]=測試_FBO

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_test_fbo
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tests
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
