[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_videorecord
X-KDE-ParentComponents=kwin4_effect_videorecord
X-KDE-PluginKeyword=videorecord

Name=Video Record
Name[af]=Video-opneem
Name[ar]=تسجيل الفيديو
Name[ast]=Grabación de videu
Name[be]=Відэазапіс
Name[be@latin]=Videazapis
Name[bg]=Запис на видео
Name[bn]=ভিডিও রেকর্ড
Name[bn_IN]=ভিডিও রেকর্ড
Name[bs]=Video snimanje
Name[ca]=Gravador de vídeo
Name[ca@valencia]=Gravador de vídeo
Name[cs]=Nahrávání videa
Name[csb]=Nagranié wideò
Name[da]=Videooptagelse
Name[de]=Video-Aufnahme
Name[el]=Εγγραφή βίντεο
Name[en_GB]=Video Record
Name[eo]=Videoregistrilo
Name[es]=Grabación de vídeo
Name[et]=Videosalvestus
Name[eu]=Bideo grabazioa
Name[fa]=ضبط ویدیو
Name[fi]=Videotallennin
Name[fr]=Enregistre une vidéo
Name[fy]=Fideo rekord
Name[ga]=Taifead Físeanna
Name[gl]=Gravadora de vídeo
Name[gu]=વિડીઓ રેકોર્ડ
Name[he]=הקלטת וידאו
Name[hi]=वीडियो रेकॉर्ड
Name[hne]=वीडियो रेकार्ड
Name[hr]=Snimanje videa
Name[hu]=Videófelvevő
Name[ia]=Video registra
Name[id]=Rekam Video
Name[is]=Vídeó upptaka
Name[it]=Registra video
Name[ja]=ビデオレコーダー
Name[kk]=Бейне жазып алу
Name[km]=កំណត់​ត្រា​វីដេអូ
Name[kn]=ವೀಡಿಯೋ ದಾಖಲು (ಮುದ್ರಣ)
Name[ko]=동영상 녹화
Name[lt]=Video įrašymas
Name[lv]=Video ieraksts
Name[mai]=वीडियो रेकार्ड
Name[mk]=Снимање видео
Name[ml]=വീഡിയോ റിക്കോര്‍ഡ്
Name[mr]=वीडियो रेकॉर्ड
Name[nb]=Videoopptak
Name[nds]=Video opnehmen
Name[ne]=भिडियो रेकर्ड
Name[nl]=Video-opname
Name[nn]=Videoopptak
Name[pa]=ਵੀਡਿਓ ਰਿਕਾਰਡ
Name[pl]=Nagrywanie wideo
Name[pt]=Gravação de Vídeo
Name[pt_BR]=Gravar vídeo
Name[ro]=Înregistrare video
Name[ru]=Запись видео
Name[se]=Videobádden
Name[si]=දෘශ්‍ය පටිගත කිරීම
Name[sk]=Nahrávanie videa
Name[sl]=Snemanje
Name[sr]=Видео снимање
Name[sr@ijekavian]=Видео снимање
Name[sr@ijekavianlatin]=Video snimanje
Name[sr@latin]=Video snimanje
Name[sv]=Videoinspelning
Name[ta]=பதிவொளி பதிவு
Name[te]=వీడియో రికార్‍డ్
Name[tg]=Сабти видео
Name[th]=เครื่องมืออัดวิดีโอ
Name[tr]=Video Kaydet
Name[ug]=سىن ئېلىش
Name[uk]=Запис відео
Name[vi]=Thu ảnh động
Name[wa]=Eredjistraedje videyo
Name[x-test]=xxVideo Recordxx
Name[zh_CN]=视频录制
Name[zh_TW]=影像錄影
