[Desktop Entry]
Name=Example
Name[ja]=例
Name[km]=ឧទាហរណ៍
Name[ko]=예제
Name[nb]=Eksempel
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[sv]=Exempel
Name[tr]=Örnek
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Name[zh_TW]=範例
Comment=An example theme based on Air desktop theme
Comment[ko]=Air 데스크톱 테마를 기반으로 한 예제 테마
Comment[nb]=Et eksempeltema basert på skrivebordstemaet Air
Comment[pt]=Um tema de exemplo baseado no tema Air
Comment[pt_BR]=Um exemplo de tema baseado no Ar
Comment[sv]=Ett exempeltema baserat på skrivbordstemat Luft
Comment[tr]=Air masaüstü temasını temel alan bir örnek tema
Comment[uk]=Приклад теми, заснованої на темі стільниці «Повітря»
Comment[x-test]=xxAn example theme based on Air desktop themexx
Comment[zh_TW]=基於 Air 桌面主題的範例主題

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=example-deco
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
