[Desktop Entry]
Name=Example
Name[ar]=مثال
Name[bg]=Пример
Name[ca]=Exemple
Name[ca@valencia]=Exemple
Name[cs]=Příklad
Name[csb]=Przëmiôr
Name[da]=Eksempel
Name[de]=Beispiel
Name[el]=Παράδειγμα
Name[en_GB]=Example
Name[eo]=Ekzemplo
Name[es]=Ejemplo
Name[et]=Näide
Name[eu]=Adibidea
Name[fi]=Esimerkki
Name[fr]=Exemple
Name[fy]=Foarbyld
Name[ga]=Sampla
Name[gl]=Exemplo
Name[gu]=ઉદાહરણ
Name[he]=דוגמא
Name[hi]=उदाहरण
Name[hr]=Primjer
Name[ia]=Exemplo
Name[id]=Contoh
Name[is]=Dæmi
Name[it]=Esempio
Name[ja]=例
Name[kk]=Мысал
Name[km]=ឧទាហរណ៍
Name[kn]=ಉದಾಹರಣೆ
Name[ko]=예제
Name[lt]=Pavyzdys
Name[lv]=Piemērs
Name[mk]=Пример
Name[ml]=ഉദാഹരണം
Name[nb]=Eksempel
Name[nds]=Bispill
Name[nl]=Voorbeeld
Name[nn]=Eksempel
Name[pa]=ਉਦਾਹਰਨ
Name[pl]=Przykład
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[ro]=Exemplu
Name[ru]=Пример
Name[si]=උදාහරණය
Name[sk]=Ukážka
Name[sl]=Vzorec
Name[sr]=Пример
Name[sr@ijekavian]=Примјер
Name[sr@ijekavianlatin]=Primjer
Name[sr@latin]=Primer
Name[sv]=Exempel
Name[tg]=Мисолҳо
Name[th]=ตัวอย่าง
Name[tr]=Örnek
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Name[zh_CN]=实例
Name[zh_TW]=範例
Comment=An example theme based on the Air desktop theme.
Comment[ar]=مثال على سمة تعتمد على سمة سطح مكتب الهواء
Comment[ca]=Un tema d'exemple basat en el tema d'escriptori Air.
Comment[ca@valencia]=Un tema d'exemple basat en el tema d'escriptori Air.
Comment[cs]=Ukázkový motiv založený na motivu pracovní plochy Air.
Comment[csb]=Przëmiôrowi wëzdrzatk òpiarti na témie Air
Comment[da]=Et eksempeltema baseret på skrivebordstemaet Air.
Comment[de]=Ein Beispieldesign, das auf dem Air-Design basiert.
Comment[el]=Ένα παράδειγμα θέματος επιφάνειας εργασίας βασισμένο στο Air.
Comment[en_GB]=An example theme based on the Air desktop theme.
Comment[eo]=Ekzempla etoso bazita sur la Air-labortabla etoso.
Comment[es]=Un tema de ejemplo basado en el tema de escritorio Air.
Comment[et]=Näidisteema töölauateema Air põhjal.
Comment[eu]=Air mahaigaineko teman oinarritutako adibidea
Comment[fi]=Esimerkkiteema, joka perustuu Air-työpöytäteemaan.
Comment[fr]=Un thème en exemple fondé sur le thème de bureau Air.
Comment[fy]=In foarbyld fan in basearre tema op de Air buroblêd tema.
Comment[ga]=Téama samplach bunaithe ar an téama deisce Air.
Comment[gl]=Un tema de exemplo baseado no tema do escritorio Air.
Comment[he]=ערכה לדוגמא מבוססת על ערכת Air desktop.
Comment[hr]=Primjer teme bazirane na temi radne površine Air.
Comment[ia]=Un thema de exemplo basate su le thema de scriptorio Air
Comment[id]=Sebuah tema contoh berbasis tema desktop Udara.
Comment[it]=Un tema esemplificativo basato sul tema del desktop Aria.
Comment[ja]=Air デスクトップテーマに基づくサンプルテーマ。
Comment[kk]=Air үстел нақышын негізделгеннің мысалы
Comment[km]=ស្បែក​គំរូ​ដែលមាន​មូលដ្ឋាន​លើ​ស្បែក​ផ្ទៃតុ​ខ្យល់ ។
Comment[ko]=Air 데스크톱 테마를 기반으로 한 예제 테마
Comment[lt]=Pavyzdinė tema, paremta Air darbastalio tema.
Comment[lv]=Piemēra tēma, balstīta uz Air darbvirsmas tēmas.
Comment[mk]=Тема како пример, базирана на темата „Air“
Comment[ml]=എയര്‍ പണിയിട പ്രമേയത്തെ അടിസ്ഥാനമാക്കിയ ഒരു ഉദാഹരണമായ പ്രമേയം
Comment[nb]=Et eksempeltema basert på skrivebordstemaet Air.
Comment[nds]=En Bispillmuster, op't Schriefdischmuster »Air« opbuut
Comment[nl]=Een voorbeeldthema gebaseerd op het Air-bureaubladthema.
Comment[nn]=Eit eksempeltema basert på skrivebordstemaet Luft.
Comment[pl]=Przykładowy motyw oparty na motywie Air.
Comment[pt]=Um tema de exemplo baseado no tema Air.
Comment[pt_BR]=Um exemplo de tema baseado no Ar.
Comment[ro]=Tematică de exemplu bazată pe tematica de birou Air.
Comment[si]=වාතය  වැඩතල තේමාව මත පදනම් වූ උදාහරණ තේමාවක්
Comment[sk]=Ukážková téma založená na téme plochy Vzduch.
Comment[sl]=Vzorčna tema, ki temelji na namizni temi Zrak.
Comment[sr]=Пример теме засноване на теми површи Ваздух.
Comment[sr@ijekavian]=Примјер теме засноване на теми површи Ваздух.
Comment[sr@ijekavianlatin]=Primjer teme zasnovane na temi površi Vazduh.
Comment[sr@latin]=Primer teme zasnovane na temi površi Vazduh.
Comment[sv]=Ett exempeltema baserat på skrivbordstemat Luft.
Comment[th]=ตัวอย่างชุดตกแต่งอิงพื้นฐานจากชุดตกแต่งพื้นที่ทำงานแบบ Air
Comment[tr]=Air masaüstü temasını temel alan bir örnek tema.
Comment[uk]=Приклад теми, заснованої на темі стільниці «Повітря».
Comment[x-test]=xxAn example theme based on the Air desktop theme.xx
Comment[zh_CN]=基于“空气”桌面主题的示例主题。
Comment[zh_TW]=基於 Air 桌面主題的範例主題

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=example-deco
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
