[Desktop Entry]
Name=Highlight Window
Name[ca]=Realça la finestra
Name[ca@valencia]=Realça la finestra
Name[et]=Akna esiletõstmine
Name[eu]=Leihoa nabarmendu
Name[ga]=Aibhsigh Fuinneog
Name[nds]=Finster rutheven
Name[pt]=Realçar a Janela
Name[pt_BR]=Janela realçada
Name[sv]=Markera fönster
Name[uk]=Підсвітити вікно
Name[x-test]=xxHighlight Windowxx
Name[zh_TW]=突顯視窗
Icon=preferences-system-windows-effect-highlightwindow
Comment=Highlight the appropriate window when hovering over taskbar entries
Comment[ca]=Realça la finestra apropiada em passar el cursor sobre les entrades de la barra de tasques
Comment[ca@valencia]=Realça la finestra apropiada em passar el cursor sobre les entrades de la barra de tasques
Comment[et]=Akende esiletõstmine, kui kursor on nende tegumiriba kirje kohal
Comment[ga]=Aibhsigh an fhuinneog chuí nuair atá an cúrsóir os cionn iontrála sa tascbharra
Comment[nds]=Bi't Wiesen op Programmbalken-Indrääg de tohören Finstern rutheven
Comment[pt]=Realçar a janela apropriada ao passar o rato sobre os itens da barra de tarefas
Comment[pt_BR]=Realçar a janela apropriada ao passar o ponteiro do mouse sobre as entradas da barra de tarefas
Comment[sv]=Markera motsvarande fönster när pekaren hålls över poster i aktivitetsfältet
Comment[uk]=Підсвітити відповідне вікно, коли курсор знаходиться над елементом панелі задач
Comment[x-test]=xxHighlight the appropriate window when hovering over taskbar entriesxx
Comment[zh_TW]=當游標停在工作列的按鈕上面時，突顯視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lucas Murray
X-KDE-PluginInfo-Email=lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_highlightwindow
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=70
X-KDE-Library=kwin4_effect_builtins
