[Desktop Entry]
Name=Small Icons
Name[cs]=Malé ikony
Name[de]=Kleine Symbole
Name[nl]=Kleine pictogrammen
Name[pt]=Ícones Pequenos
Name[pt_BR]=Ícones pequenos
Name[uk]=Малі піктограми
Name[x-test]=xxSmall Iconsxx
Name[zh_TW]=小圖示
Comment=A window switcher layout using small icons to represent the window
Comment[nl]=Een indeling van de vensterwisselaar die kleine pictogrammen gebruikt om vensters te representeren
Comment[pt]=Uma disposição de mudança de janelas que usa ícones pequenos para representar a janela
Comment[pt_BR]=Um leiaute do seletor de janelas que usa ícones pequenos para representá-las
Comment[uk]=Компонування засобу перемикання вікон з малими піктограмами вікон
Comment[x-test]=xxA window switcher layout using small icons to represent the windowxx
Comment[zh_TW]=使用小圖示來表示視窗的視窗切換器佈局
Icon=preferences-system-windows-switcher-small-icons

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=small_icons
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
