[Desktop Entry]
Name=Small Icons
Name[ca]=Icones petites
Name[cs]=Malé ikony
Name[da]=Små ikoner
Name[de]=Kleine Symbole
Name[el]=Μικρά εικονίδια
Name[es]=Iconos pequeños
Name[et]=Väikesed ikoonid
Name[fi]=Pienet kuvakkeet
Name[hu]=Kis ikonok
Name[ia]=Icones parve
Name[it]=Icone piccole
Name[kk]=Шағын таңбашалар
Name[km]=រូបតំណាង​តូច
Name[nb]=Små ikoner
Name[nl]=Kleine pictogrammen
Name[pa]=ਛੋਟੇ ਆਈਕਾਨ
Name[pl]=Małe ikony
Name[pt]=Ícones Pequenos
Name[pt_BR]=Ícones pequenos
Name[sk]=Malé ikony
Name[sl]=Majhne ikone
Name[sr]=Мале иконе
Name[sr@ijekavian]=Мале иконе
Name[sr@ijekavianlatin]=Male ikone
Name[sr@latin]=Male ikone
Name[sv]=Små ikoner
Name[tr]=Küçük Simgeler
Name[uk]=Малі піктограми
Name[x-test]=xxSmall Iconsxx
Name[zh_CN]=小图标
Name[zh_TW]=小圖示
Comment=A window switcher layout using small icons to represent the window
Comment[ca]=Una disposició del commutador de finestres que utilitza icones petites per representar la finestra
Comment[da]=Et vinduesskifter-layout som bruger små ikoner til at repræsentere vinduet
Comment[de]=Ein Fensterwechsler-Layout, das kleine Symbole zur Darstellung der Fenster verwendet
Comment[el]=Μια διάταξη εναλλαγής παραθύρων με χρήση μικρών εικονιδίων που αναπαριστούν το παράθυρο
Comment[es]=Un esquema de cambiador de ventanas que usa iconos pequeños para representar las ventanas
Comment[et]=Aknavahetaja paigutus väikeste, aknaid tähistavate ikoonidega
Comment[fi]=Tehtävänvalitsimen asettelu, jossa ikkunat esitetään pienillä kuvakkeilla
Comment[hu]=Egy ablakváltó elrendezés, amely kis ikonokat használ az ablak ábrázolásához
Comment[ia]=Un disposition de commutator de fenestra usante parve icones pro representar le fenestra
Comment[it]=Una disposizione di cambiafinestre che usa icone piccole per rappresentare le finestre
Comment[kk]=Терезелерді шағын таңбашалармен белгілейтін терезе ауыстырғышының қалыпы
Comment[km]=ប្លង់​កម្មវិធី​ប្ដូរ​បង្អួច ដោយ​ប្រើ​រូបតំណាង​តូច ដើម្បី​បង្ហាញ​បង្អួច​ឡើង​វិញ
Comment[nb]=En vindusbytterutforming som bruker små ikoner for å representere vinduer
Comment[nl]=Een indeling van de vensterwisselaar die kleine pictogrammen gebruikt om vensters te representeren
Comment[pl]=Układ przełączania okien używający małych ikon do prezentowania okien
Comment[pt]=Uma disposição de mudança de janelas que usa ícones pequenos para representar a janela
Comment[pt_BR]=Um leiaute do seletor de janelas que usa ícones pequenos para representá-las
Comment[sk]=Rozloženie prepínača okien používajúce malé ikony na reprezentáciu okien
Comment[sl]=Razpored preklapljanja za predstavitev oken uporablja majhne ikone
Comment[sr]=Распоред мењача прозора који представља прозоре малим иконама
Comment[sr@ijekavian]=Распоред мењача прозора који представља прозоре малим иконама
Comment[sr@ijekavianlatin]=Raspored menjača prozora koji predstavlja prozore malim ikonama
Comment[sr@latin]=Raspored menjača prozora koji predstavlja prozore malim ikonama
Comment[sv]=En layout för fönsterbyte som använder små ikoner för att representera fönstret
Comment[tr]=Küçük simgeleri kullanan bir pencere değiştirme düzeni pencere temsilini gösteriyor
Comment[uk]=Компонування засобу перемикання вікон з малими піктограмами вікон
Comment[vi]=Một kiểu chuyển đổi cửa sổ sử dụng các biểu tượng để đại diện cho cửa sổ
Comment[x-test]=xxA window switcher layout using small icons to represent the windowxx
Comment[zh_TW]=使用小圖示來表示視窗的視窗切換器佈局
Icon=preferences-system-windows-switcher-small-icons

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=small_icons
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
