[Desktop Entry]
Name=KWin Script
Name[ca]=Script del KWin
Name[nl]=KWin-script
Name[pt]=Programa do KWin
Name[sv]=Kwin-skript
Name[uk]=Скрипт KWin
Name[x-test]=xxKWin Scriptxx
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=kwin_packagestructure_scripts

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=KWin/Script
X-KDE-PluginInfo-Version=1
