[Desktop Entry]
Name=KWin Script
Name[ca]=Script del KWin
Name[ca@valencia]=Script del KWin
Name[el]=Σενάριο KWin
Name[en_GB]=KWin Script
Name[it]=Script di KWin
Name[ko]=KWin 스크립트
Name[nl]=KWin-script
Name[pl]=Skrypt KWin
Name[pt]=Programa do KWin
Name[sv]=Kwin-skript
Name[uk]=Скрипт KWin
Name[x-test]=xxKWin Scriptxx
Name[zh_TW]=KWin 指令稿
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=kwin_packagestructure_scripts

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=KWin/Script
X-KDE-PluginInfo-Version=1
