[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_zoom_config
X-KDE-ParentComponents=zoom

Name=Zoom
Name[uk]=Масштабування
Name[x-test]=xxZoomxx
