[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_invert_config
X-KDE-ParentComponents=invert

Name=Invert
Name[nl]=Omkeren
Name[uk]=Інверсія
Name[x-test]=xxInvertxx

