[Desktop Entry]
Name=Invert
Name[af]=Keer om
Name[ar]=اعكس
Name[ast]=Invertir
Name[be]=Інвертаваць
Name[be@latin]=Invercyja
Name[bg]=Обръщане на цвета
Name[bs]=Izvrtanje
Name[ca]=Inverteix
Name[ca@valencia]=Inverteix
Name[cs]=Invertovat
Name[csb]=Inwertëje
Name[da]=Invertér
Name[de]=Invertieren
Name[el]=Αντιστροφή
Name[en_GB]=Invert
Name[eo]=Inversigi
Name[es]=Invertir
Name[et]=Teistpidi
Name[eu]=Alderantzikatu
Name[fa]=وارونه
Name[fi]=Käännä
Name[fr]=Inverse
Name[fy]=Omdraaie
Name[ga]=Invert
Name[gl]=Inverter
Name[gu]=ઉલ્ટું
Name[he]=היפוך צבעים
Name[hi]=उलटें
Name[hne]=उलटव
Name[hr]=Izokretanje
Name[hu]=Invertálás
Name[ia]=Inverte
Name[id]=Balik
Name[is]=Umhverfa
Name[it]=Inverti
Name[ja]=色調反転
Name[kk]=Терістеу
Name[km]=ដាក់​បញ្ច្រាស
Name[kn]=ವಿಲೋಮಗೊಳಿಸು (ಇನ್ವರ್ಟ್)
Name[ko]=반전
Name[ku]=Vajî
Name[lt]=Išvertimas
Name[lv]=Invertēt
Name[mai]=उनटू
Name[mk]=Инвертирање
Name[ml]=വര്‍ണ്ണങ്ങളെ തലതിരിക്കുക
Name[mr]=उलटे
Name[nb]=Snu om
Name[nds]=Ümdreihen
Name[ne]=उल्टाउनुहोस्
Name[nl]=Omkeren
Name[nn]=Snu fargane
Name[oc]=Enversar
Name[pa]=ਉਲਟ
Name[pl]=Odwróć
Name[pt]=Inverter
Name[pt_BR]=Inverter
Name[ro]=Inversare
Name[ru]=Инверсия
Name[se]=Jorgalahte
Name[si]=යටිකුරු කිරීම
Name[sk]=Invertovať
Name[sl]=Negativ
Name[sr]=Извртање
Name[sr@ijekavian]=Извртање
Name[sr@ijekavianlatin]=Izvrtanje
Name[sr@latin]=Izvrtanje
Name[sv]=Invertera
Name[ta]=திருப்பு
Name[te]=ఇన్వర్‍ట్
Name[tg]=Табдилдиҳӣ
Name[th]=กลับค่าสี
Name[tr]=Negatifleştir
Name[ug]=ئەكسى رەڭگە ئالماشتۇر
Name[uk]=Інверсія
Name[uz]=Teskari
Name[uz@cyrillic]=Тескари
Name[vi]=Đảo ngược
Name[wa]=Å rvier
Name[x-test]=xxInvertxx
Name[zh_CN]=反转
Name[zh_TW]=反轉
Comment=Inverts the color of the desktop and windows
Comment[ar]=يعكس ألوان سطح المكتب و النوافذ
Comment[ast]=Invierte'l color del escritoriu y ventanes
Comment[be@latin]=Invertuje kolery stała j akon
Comment[bg]=Цветовете на работния плот и прозорците се обръщат
Comment[bs]=Izvrće boju površi i prozora
Comment[ca]=Inverteix el color de l'escriptori i les finestres
Comment[ca@valencia]=Inverteix el color de l'escriptori i les finestres
Comment[cs]=Invertuje barvy plochy a oken
Comment[da]=Inverterer farven på skrivebordet og vinduer
Comment[de]=Invertiert die Farben der Arbeitsfläche und Fenster.
Comment[el]=Αντιστροφή του χρώματος της επιφάνειας εργασίας και των παραθύρων
Comment[en_GB]=Inverts the colour of the desktop and windows
Comment[es]=Invierte el color del escritorio y ventanas
Comment[et]=Muudab töölaua ja akende värvi vastupidiseks
Comment[eu]=Mahaigain eta leihoen koloreak alderantzikatzen ditu
Comment[fi]=Kääntää työpöydän ja ikkunoiden värit päinvastaisiksi
Comment[fr]=Inverse la couleur du bureau et des fenêtres
Comment[fy]=De kleur fan buroblêden en finster omdraaie
Comment[ga]=Inbhéartaigh dath na deisce agus dath na bhfuinneog
Comment[gl]=Inverte a cor do escritorio e das xanelas
Comment[gu]=ડેસ્કટોપ અને વિન્ડોસનો રંગ ઉલ્ટો કરો
Comment[he]=היפוך צבעי שולחן העבודה והחלונות
Comment[hi]=डेस्कटॉप तथा विंडोज के रंग उलट देता है
Comment[hne]=डेस्कटाप अउ विंडो के रंग ल उलटथे
Comment[hr]=Izokrene boje radne površine i prozora
Comment[hu]=Invertálja az asztal és az ablakok színét
Comment[ia]=Il inverte le colores del scriptorio e del fenestras
Comment[id]=Balik warna desktop dan jendela
Comment[is]=Umhverfir litum (í andstæða liti) á skjáborði og gluggum
Comment[it]=Inverte i colori del desktop e delle finestre
Comment[ja]=デスクトップやウィンドウの色を反転させます
Comment[kk]=Үстел мен терезелердің түстерін терістеу
Comment[km]=បម្លែង​ពណ៌​របស់​ផ្ទៃតុ​ និង​បង្អួច
Comment[kn]=ಕಿಟಕಿಗಳ ಮತ್ತು ಗಣಕತೆರೆಯ ಬಣ್ಣಗಳನ್ನು ವಿಲೋಮಗೊಳಿಸುತ್ತದೆ (ಇನ್ವರ್ಟ್)
Comment[ko]=데스크톱과 창의 색을 반전시킵니다
Comment[lt]=Invertuoja darbastalio ir langų spalvas
Comment[lv]=Invertē darbvirsmas un logu krāsas
Comment[mk]=Ја инвертира бојата на раб. површина и на прозорците
Comment[ml]=പണിയിടത്തിന്റെയും ജാലകങ്ങളുടെയും നിറം ഇന്‍വര്‍ട് ചെയ്യുന്നു (വിപരീതം ആക്കുന്നു)
Comment[nb]=Snur om (vender fortegn på) farger på skrivebordet og vinduene
Comment[nds]=Dreiht de Klören vun Schriefdisch un Finstern üm
Comment[nl]=Draait de kleuren van het bureaublad en de vensters om
Comment[nn]=Snu fargane på skrivebordet og vindauge
Comment[pa]=ਡੈਸਕਟਾਪ ਅਤੇ ਵਿੰਡੋ ਦੇ ਰੰਗ ਬਦਲੋ
Comment[pl]=Odwracanie kolorów pulpitu i okien
Comment[pt]=Inverte a cor do ecrã e das janelas
Comment[pt_BR]=Inverte as cores das janelas e da área de trabalho
Comment[ro]=Inversează culoarea biroului și a ferestrelor
Comment[ru]=Инверсия цвета рабочего стола и окон
Comment[si]=වැඩතල හා කවුළු වල වර්‍ණ යටිකුරු කරන්න
Comment[sk]=Invertuje farbu plochy a okien
Comment[sl]=Barve namizja in oken prikaže v negativu
Comment[sr]=Изврће боју површи и прозора
Comment[sr@ijekavian]=Изврће боју површи и прозора
Comment[sr@ijekavianlatin]=Izvrće boju površi i prozora
Comment[sr@latin]=Izvrće boju površi i prozora
Comment[sv]=Invertera skrivbordets och fönstrens färg
Comment[ta]=Inverts the color of the desktop and windows
Comment[te]=రంగస్థలము మరియు విండోల రంగును విలోమం చేస్తుంది.
Comment[th]=กลับค่าสีของพื้นที่ทำงานและหน้าต่าง
Comment[tr]=Masaüstünün ve pencerelerin renklerini tersine çevir
Comment[ug]=ئۈستەلئۈستى ۋە كۆزنەكلەرنىڭ رەڭگىنى ئەكسى رەڭگە ئالماشتۇرىدۇ
Comment[uk]=Обернення кольорів стільниці і вікон
Comment[vi]=Đảo ngược màu màn hình làm việc và cửa sổ
Comment[wa]=Met les coleurs do scribanne et des finiesses å rvier
Comment[x-test]=xxInverts the color of the desktop and windowsxx
Comment[zh_CN]=反转桌面和窗口的颜色
Comment[zh_TW]=將桌面與視窗的顏色反相
Icon=preferences-system-windows-effect-invert

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks & Lucas Murray
X-KDE-PluginInfo-Email=rivolaks@hot.ee & lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_invert
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KWin-Requires-OpenGL2=true
