[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_invert_config
X-KDE-ParentComponents=kwin4_effect_invert

Name=Invert
Name[uk]=Інверсія
Name[x-test]=xxInvertxx

