[Desktop Entry]
Icon=preferences-desktop-gestures-screenedges
Type=Application
NoDisplay=true
Exec=systemsettings kcm_kwinscreenedges

Name=Screen Edges
Name[ar]=حواف الشاشة
Name[az]=Pəncərə kənarları
Name[bg]=Краища на екрана
Name[bs]=Ivice ekrana
Name[ca]=Vores de la pantalla
Name[ca@valencia]=Vores de la pantalla
Name[cs]=Hrany obrazovky
Name[csb]=Nórtë ekranu
Name[da]=Skærmkanter
Name[de]=Bildschirmränder
Name[el]=Άκρα οθόνης
Name[en_GB]=Screen Edges
Name[eo]=Ekrananguloj
Name[es]=Bordes de pantalla
Name[et]=Ekraani servad
Name[eu]=Pantailaren ertzak
Name[fi]=Näytön reunat
Name[fr]=Bords de l'écran
Name[fy]=Skerm rânen
Name[ga]=Ciumhaiseanna Scáileáin
Name[gl]=Bordos da pantalla
Name[gu]=સ્ક્રિનનાં ખૂણાઓ
Name[he]=קצוות מסך
Name[hi]=स्क्रीन सीमाएँ
Name[hr]=Rubovi ekrana
Name[hu]=Képernyőszélek
Name[ia]=Margines de schermo
Name[id]=Tepian Layar
Name[is]=Skjájaðrar
Name[it]=Lati dello schermo
Name[ja]=スクリーンエッジ
Name[kk]=Экран жиектері
Name[km]=គែម​អេក្រង់​
Name[kn]=ತೆರೆ ಅಂಚುಗಳು
Name[ko]=화면 경계
Name[lt]=Ekrano kraštai
Name[lv]=Ekrāna malas
Name[mai]=स्क्रीन किनार
Name[mk]=Рабови на екранот
Name[ml]=സ്ക്രീന്‍ അതിരുകള്‍
Name[mr]=स्क्रीनच्या कडा
Name[nb]=Skjermkanter
Name[nds]=Schirmkanten
Name[nl]=Schermranden
Name[nn]=Skjerm­kantar
Name[pa]=ਸਕਰੀਨ ਬਾਹੀਆਂ
Name[pl]=Krawędzie ekranu
Name[pt]=Extremos do Ecrã
Name[pt_BR]=Contornos da tela
Name[ro]=Marginile ecranului
Name[ru]=Края экрана
Name[si]=තිර මුළු
Name[sk]=Okraje obrazovky
Name[sl]=Robovi zaslona
Name[sr]=Ивице екрана
Name[sr@ijekavian]=Ивице екрана
Name[sr@ijekavianlatin]=Ivice ekrana
Name[sr@latin]=Ivice ekrana
Name[sv]=Skärmkanter
Name[ta]=திரையின் ஓரங்கள்
Name[tg]=Канорҳои экран
Name[th]=ขอบจอ
Name[tr]=Ekran Kenarları
Name[ug]=ئېكران گىرۋەكلىرى
Name[uk]=Краї екрана
Name[vi]=Cạnh màn hình
Name[wa]=Boirds del waitroûle
Name[x-test]=xxScreen Edgesxx
Name[zh_CN]=屏幕边缘
Name[zh_TW]=螢幕邊緣
