[Desktop Entry]
Name=Desaturate Unresponsive Applications
Name[nl]=Verzadiging van niet responsieve toepassingen verminderen
Name[pt]=Reduzir a Saturação das Aplicações Bloqueadas
Name[sv]=Avmätta oemottagliga program
Name[uk]=Зненасичення вікон, які не відповідають на запити
Name[x-test]=xxDesaturate Unresponsive Applicationsxx
Icon=preferences-system-windows-effect-frozenapp
Comment=Desaturate windows of unresponsive (frozen) applications
Comment[nl]=Verzadiging van vensters van niet responsieve (bevroren) toepassingen verminderen
Comment[pt]=Reduzir a saturação das janelas das aplicações sem resposta (bloqueadas)
Comment[sv]=Avmätta fönster för oemottagliga (frysta) program
Comment[uk]=Зменшення насиченості кольорів вікон програм, які не відповідають на запити (повисли)
Comment[x-test]=xxDesaturate windows of unresponsive (frozen) applicationsxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect,KCModule
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=kwin4_effect_frozenapp
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginKeyword=kwin4_effect_frozenapp
X-KDE-Library=kcm_kwin4_genericscripted
X-KDE-ParentComponents=kwin4_effect_frozen
X-KWin-Config-TranslationDomain=kwin_effects
