[Desktop Entry]
Name=Desaturate Unresponsive Applications
Name[ca]=Dessatura les aplicacions que no responen
Name[ca@valencia]=Dessatura les aplicacions que no responen
Name[el]=Αποκορεσμός χρωμάτων μη αποκρινόμενων εφαρμογών
Name[en_GB]=Desaturate Unresponsive Applications
Name[es]=Desaturar las aplicaciones que no responden
Name[eu]=Desasetu erantzuten ez duten aplikazioak
Name[fi]=Vähennä värikylläisyyttä sovelluksilta, jotka eivät vastaa
Name[he]=מחשיך יישומים שאינם מגיבים
Name[it]=Desatura le applicazioni che non rispondono
Name[nl]=Verzadiging van niet responsieve toepassingen verminderen
Name[pl]=Odbarw nieodpowiadające aplikacje
Name[pt]=Reduzir a Saturação das Aplicações Bloqueadas
Name[sl]=Zmanjšaj nasičenost neodzivnih programov
Name[sr]=Посивљавање програма без одзива
Name[sr@ijekavian]=Посивљавање програма без одзива
Name[sr@ijekavianlatin]=Posivljavanje programa bez odziva
Name[sr@latin]=Posivljavanje programa bez odziva
Name[sv]=Avmätta oemottagliga program
Name[tr]=Yanıt Vermeyen Uygulamaların Yoğunluğunu Kaldır
Name[uk]=Зненасичення вікон, які не відповідають на запити
Name[x-test]=xxDesaturate Unresponsive Applicationsxx
Name[zh_CN]=对未响应应用程序降低饱和度
Name[zh_TW]=淡化無回應的應用程式
Icon=preferences-system-windows-effect-frozenapp
Comment=Desaturate windows of unresponsive (frozen) applications
Comment[ca]=Dessatura les finestres de les aplicacions que no responen (congelades)
Comment[ca@valencia]=Dessatura les finestres de les aplicacions que no responen (congelades)
Comment[el]=Αποκορεσμός χρωμάτων παραθύρων μη αποκρινόμενων (κολλημένων) εφαρμογών
Comment[en_GB]=Desaturate windows of unresponsive (frozen) applications
Comment[es]=Desaturar las ventanas de las aplicaciones que no responden (congeladas)
Comment[eu]=Desasetu erantzuten ez duten aplikazioen leihoak (izoztuak)
Comment[fi]=Vähennä värikylläisyyttä sovelluksilta, jotka eivät vastaa (ovat jumittuneet)
Comment[he]=מחשיך חלונות של יישומים שאינם מגיבים (תקועים)
Comment[it]=Desatura le finestre delle applicazione che non rispondono (bloccate)
Comment[nl]=Verzadiging van vensters van niet responsieve (bevroren) toepassingen verminderen
Comment[pl]=Odbarw okna nieodpowiadających (zawieszonych) aplikacji
Comment[pt]=Reduzir a saturação das janelas das aplicações sem resposta (bloqueadas)
Comment[sl]=Zmanjšaj nasičenost oken neodzivnih (zamrznjenih) programov
Comment[sr]=Прозори програма који се не одазивају (смрзнутих) бивају посивљени
Comment[sr@ijekavian]=Прозори програма који се не одазивају (смрзнутих) бивају посивљени
Comment[sr@ijekavianlatin]=Prozori programa koji se ne odazivaju (smrznutih) bivaju posivljeni
Comment[sr@latin]=Prozori programa koji se ne odazivaju (smrznutih) bivaju posivljeni
Comment[sv]=Avmätta fönster för oemottagliga (frysta) program
Comment[tr]=Yanıt vermeyen (donmuş) uygulamaların pencerelerini soldur
Comment[uk]=Зменшення насиченості кольорів вікон програм, які не відповідають на запити (повисли)
Comment[x-test]=xxDesaturate windows of unresponsive (frozen) applicationsxx
Comment[zh_CN]=将未响应 (冻结) 的应用程序窗口的饱和度降低
Comment[zh_TW]=淡化無回應（凍結）的應用程式視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect,KCModule
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=kwin4_effect_frozenapp
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginKeyword=kwin4_effect_frozenapp
X-KDE-Library=kcm_kwin4_genericscripted
X-KDE-ParentComponents=kwin4_effect_frozen
X-KWin-Config-TranslationDomain=kwin_effects
