[Desktop Entry]
Encoding=UTF-8
Icon=
Name=Plastik
Name[af]=Plastiek
Name[ar]=بلاستيك
Name[be]=Пластык
Name[eo]=Plastiko
Name[fa]=پلاستیک
Name[fy]=Plastyk
Name[hr]=Plastika
Name[is]=Plast
Name[it]=Plastica
Name[ka]=Пластик
Name[kk]=Пластик
Name[km]=ប្ល៉ាស្ទិក
Name[lt]=Plastikinis
Name[lv]=Plastika
Name[mk]=Пластик
Name[nb]=Plast
Name[ne]=प्लास्टिक
Name[nn]=Plast
Name[pa]=ਪਲਾਸਟਿਕ
Name[ro]=Plastic
Name[ru]=Пластик
Name[se]=Plastihkka
Name[sr]=Пластика
Name[sr@Latn]=Plastika
Name[ta]=திட்டம்
Name[uk]=Пластик
Name[uz]=Пластик
Name[x-test]=xxPlastikxx
X-KDE-Library=kwin3_plastik
