[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_desktopgrid_config
X-KDE-ParentComponents=desktopgrid

Name=Desktop Grid
Name[uk]=Таблиця стільниць
Name[x-test]=xxDesktop Gridxx
