[Desktop Entry]
Encoding=UTF-8
Name=KWM Theme
Name[af]=KWM Tema
Name[ar]=سمة KWM
Name[be]=Тэма KWM
Name[br]=Gwiskad KWM
Name[ca]=Tema KWM
Name[cs]=Téma KWM
Name[cy]=Thema KWM 
Name[da]=KWM-tema
Name[de]=KWM-Design
Name[el]=Θέμα KWM
Name[eo]=KWM-etoso
Name[es]=Tema de KWM
Name[et]=KWM teema
Name[eu]=KWM gaia
Name[fa]=چهره KWM
Name[fi]=KWM-teema
Name[fr]=Thème KWM
Name[fy]=KWM-tema
Name[ga]=Téama KWM
Name[gl]=Tema do KWM
Name[hr]=KWM tema
Name[hu]=KWM téma
Name[is]=KWM þema
Name[it]=Tema KWM
Name[ja]=KWM テーマ
Name[ka]=KWM სტილი
Name[kk]=KWM стилі
Name[km]=ស្បែក KWM
Name[ko]=KWM 테마
Name[lt]=KWM tema
Name[lv]=KWM Tēma
Name[mk]=KWM тема
Name[ms]=Temas KWM
Name[nb]=KWM-tema
Name[nds]=KWM-Muster
Name[ne]=KWM विषयवस्तु
Name[nl]=KWM-thema
Name[nn]=KWM-tema
Name[pa]=KWM ਸਰੂਪ
Name[pl]=Motyw KWM
Name[pt]=Tema KWM
Name[pt_BR]=Tema KWM
Name[ro]=Tematică KWM
Name[ru]=Стиль KWM
Name[se]=KWM-fáddá
Name[sl]=Tema KWM
Name[sr]=KWM тема
Name[sr@Latn]=KWM tema
Name[sv]=KWM-tema
Name[ta]=KWM தலைப்பு
Name[tg]=Услуби KWM
Name[tr]=KWM Teması
Name[uk]=Тема KWM
Name[uz]=KWM мавзуси
Name[x-test]=xxKWM Themexx
Name[xh]=Umxholo we KWM
Name[zh_TW]=KWM 主題
X-KDE-Library=kwin3_kwmtheme
