[Desktop Entry]
Encoding=UTF-8
Name=KWM Theme
Name[af]=kwm tema
Name[ar]=تيمة KWM
Name[az]=KWM Örtüsü
Name[be]=Тэма KWM
Name[bg]=Тема KWM
Name[br]=Gwiskad KWM
Name[bs]=KWM Tema
Name[ca]=Tema KWM
Name[cs]=Téma KWM
Name[da]=KWM-tema
Name[de]=KWM-Design
Name[el]=Θέμα KWM
Name[eo]=KWM-etoso
Name[es]=Tema de KWM
Name[et]=KWM teema
Name[eu]=KWM Tema
Name[fi]=KWM-teema
Name[fr]=Thème KWM
Name[gl]=Tema do KWM
Name[hr]=KWM Tema
Name[hu]=KWM téma
Name[id]=Theme KWM
Name[is]=KWM þema
Name[it]=Tema KWM
Name[ja]=KWM テーマ
Name[ko]=KWM 테마
Name[lt]=KWM tema
Name[lv]=KWM Tēma
Name[mi]=Kaupapa KWM
Name[mk]=KWM тема
Name[mt]=Tema KWM
Name[nb]=KWM-tema
Name[nl]=KWM-thema
Name[nn]=KWM-tema
Name[oc]=Tema KWM
Name[pl]=Motyw KWM
Name[pt]=Tema KWM
Name[pt_BR]=Tema KWM
Name[ro]=Tematică KWM
Name[ru]=Стиль KWM
Name[sk]=Téma KWM
Name[sl]=Tema KWM
Name[sr]=KWM Tema
Name[sv]=KWM-tema
Name[ta]=KWM ¯Õ¸Õ
Name[th]=ธีมแบบตัวจัดการหน้าต่าง KWM
Name[tr]=KWM Teması
Name[uk]=Тема KWM
Name[ven]=Thero ya KWM
Name[xh]=Umxholo wokuxoxwa we KWM
Name[xx]=xx
Name[zh_CN]=KWM 主题
Name[zh_TW]=KWM 主題
Name[zu]=Isigaba bizo se KWM
X-KDE-Library=kwin_kwmtheme
