[Desktop Entry]
Name=Show Paint
Name[af]=Wys inkleur
Name[ar]=أظهر الطلاء
Name[ast]=Amuesa pintura
Name[bg]=Показване на боята
Name[bn_IN]=Paint প্রদর্শন করা হবে
Name[bs]=Prikaži iscrtavanje
Name[ca]=Mostra el pintat
Name[ca@valencia]=Mostra el pintat
Name[cs]=Zobrazit kreslení
Name[csb]=Pòkôżë Paint
Name[da]=Vis tegning
Name[de]=Zeichnungsbereiche hervorheben
Name[el]=Εμφάνιση σχεδίασης
Name[en_GB]=Show Paint
Name[eo]=Montri farbon
Name[es]=Muestra pintura
Name[et]=Joonistatud alade näitamine
Name[eu]=Erakutsi Paint
Name[fi]=Näytä maalaus
Name[fr]=Affiche les zones peintes
Name[fy]=Paint sjen litte
Name[ga]=Taispeáin Péint
Name[gl]=Mostrar o pintado
Name[gu]=રંગ બતાવો
Name[he]=הצגת צביעת המסך
Name[hi]=पेंट दिखाएं
Name[hne]=पेंट देखाव
Name[hr]=Prikaz nedavnih promjena
Name[hu]=Megmutatja a kirajzolt területeket
Name[ia]=Monstra pictura
Name[id]=Tampilkan Lukisan
Name[is]=Sýna teikningu
Name[it]=Mostra il ridisegno
Name[ja]=描画領域を表示
Name[kk]=Бояулау
Name[km]=បង្ហាញគំនូរ
Name[kn]=ಕೆಪೈಂಟ್ ತೋರಿಸು
Name[ko]=그리기 영역 보이기
Name[lt]=Piešimo rodymas
Name[lv]=Rādīt zīmēto
Name[mai]=पेंट देखाउ
Name[mk]=Приказ на нацртано
Name[ml]=പെയിന്റ് കാണിക്കുക
Name[mr]=रंग दर्शवा
Name[nb]=Vis opptegning
Name[nds]=Klöör wiesen
Name[ne]=रङ देखाउनुहोस्
Name[nl]=Intekening tonen
Name[nn]=Vis oppteikning
Name[pa]=ਪੇਂਟ ਵੇਖੋ
Name[pl]=Pokaż rysowane
Name[pt]=Mostrar a Pintura
Name[pt_BR]=Mostrar pintura
Name[ro]=Afișează desenele
Name[ru]=Подсвечивать отрисовку
Name[se]=Čájet málema
Name[si]=ඇඳීම් පෙන්වන්න
Name[sk]=Zobraziť kresbu
Name[sl]=Izrisovanje
Name[sr]=Прикажи исцртавање
Name[sr@ijekavian]=Прикажи исцртавање
Name[sr@ijekavianlatin]=Prikaži iscrtavanje
Name[sr@latin]=Prikaži iscrtavanje
Name[sv]=Visa uppritning
Name[ta]=வண்ணங் காட்டு
Name[te]=పెయింట్ చూపుము
Name[tg]=Намоиши Paint
Name[th]=แสดงพื้นที่
Name[tr]=Boyamayı Göster
Name[ug]=سىزىش دائىرىسىنى كۆرسەت
Name[uk]=Показати намальоване
Name[wa]=Mostrer pondaedje
Name[x-test]=xxShow Paintxx
Name[zh_CN]=显示绘制区域
Name[zh_TW]=顯示繪製
Icon=preferences-system-windows-effect-paint-show
Comment=Highlight areas of the desktop that have been recently updated
Comment[ar]=يُبرز المناطق التي تم تحديثها مؤخرا في سطح المكتب
Comment[ast]=Resalta árees del escritoriu que foron anovaes fai poco
Comment[bg]=Открояване на частите от екрана, които са били променени скоро
Comment[bs]=Ističe dijelove površi koji su nedavno ažurirani
Comment[ca]=Ressalta les àrees de l'escriptori que s'han actualitzat darrerament
Comment[ca@valencia]=Ressalta les àrees de l'escriptori que s'han actualitzat darrerament
Comment[cs]=Zvýrazní ty oblasti na obrazovce, které byly právě vykresleny
Comment[da]=Fremhæv områder af skrivebordet som er blevet opdateret for nyligt
Comment[de]=Hebt die Bereiche der Arbeitsfläche farbig hervor, die kürzlich aktualisiert worden sind.
Comment[el]=Τονισμός περιοχών της επιφάνειας εργασίας που ενημερώθηκαν πρόσφατα
Comment[en_GB]=Highlight areas of the desktop that have been recently updated
Comment[es]=Resalta áreas del escritorio que han sido recientemente actualizadas
Comment[et]=Töölaua hiljuti uuendatud alade esiletõstmine
Comment[eu]=Oraintsu eguneratu diren pantailaren zatiak nabarmentzen ditu
Comment[fi]=Korosta työpöydän alueet, jotka on äskettäin päivitetty
Comment[fr]=Met en valeur les zones de l'écran qui ont été récemment mises à jour
Comment[fy]=Koartlyn bywurke gebieten fan it skerm markearje
Comment[ga]=Aibhsigh limistéir ar an deasc a ndearnadh nuashonrú orthu le déanaí
Comment[gl]=Realza áreas do escritorio que foron actualizadas recentemente
Comment[gu]=હાલમાં સુધારા પામેલ ડેસ્કટોપનાં વિસ્તારો પ્રકાશિત કરો
Comment[he]=הדגשת איזורים של שולחן העבודה שעודכנו לאחרונה
Comment[hi]=डेस्कटॉप के हाल ही में अद्यतन हुए क्षेत्रों को दिखाता है
Comment[hne]=डेस्कटाप के वो किनारा मन ल चमकाव जउन हर अभी अपडेट होही
Comment[hr]=Označi područja radne površine koje su se nedavno promijenile
Comment[hu]=Kiemeli az asztalon az éppen felfrissített területet
Comment[ia]=Evidentia areas del scriptorio que ha essite actualisate recentemente
Comment[id]=Sorot area desktop yang baru-baru ini dimutakhirkan
Comment[is]=Uppljóma þau svæði skjáborðsins sem hafa verið endurnýjuð nýlega
Comment[it]=Evidenzia le parti del desktop che vengono aggiornate
Comment[ja]=再描画されたデスクトップの領域を強調表示します
Comment[kk]=Үстедін жаңартылған аумақтарын бояулап көрсетеді
Comment[km]=បន្លិច​ផ្ទៃ​របស់​ផ្ទៃតុ​ដែល​ត្រូវបាន​ធ្វើ​បច្ចុប្បន្នភាព​​ថ្មីៗ
Comment[kn]=ಇತ್ತೀಚೆಗೆ ನವೀಕರಿಸಲಾದ ಗಣಕತೆರೆಯ ಭಾಗಗಳನ್ನು ಪ್ರಶಸ್ತಗೊಳಿಸು
Comment[ko]=최근에 다시 그려진 데스크톱의 영역을 표시합니다
Comment[lt]=Paryškina darbastalio elementus, kurie buvo neseniai atnaujinti
Comment[lv]=Izceļ darbvirsmas apgabalus, kas ir nesen atjaunināti
Comment[mk]=Ги означува областите од раб. површина што неодамна биле ажурирани
Comment[ml]=പണിയിടത്തില്‍ അടുത്തായി മാറ്റിയിരിക്കുന്ന ഭാഗങ്ങള്‍ എടുത്തുകാണിക്കുക
Comment[nb]=Framhev områder på skrivebordet som nylig er oppdaterte
Comment[nds]=Jüst opfrischt Schirmrebeden rutheven
Comment[nl]=Accentueert gebieden van het bureaublad die recentelijk zijn geactualiseerd
Comment[nn]=Marker nyleg oppdaterte område på skjermflata
Comment[pa]=ਡੈਸਕਟਾਪ ਦਾ ਭਾਗ ਹਾਈਲਾਈਟ ਕਰੋ, ਜੋ ਕਿ ਹੁਣੇ ਅੱਪਡੇਟ ਹੋਇਆ ਹੋਵੇ
Comment[pl]=Podświetlanie obszarów pulpitu, które zostały ostatnio uaktualnione
Comment[pt]=Realçar as áreas do ecrã que foram actualizadas recentemente
Comment[pt_BR]=Realça as áreas da área de trabalho que foram recentemente atualizadas
Comment[ro]=Evidențiază zonele ecranului ce au fost actualizate recent
Comment[ru]=Подсвечивать обновляемые области рабочего стола
Comment[si]=වැඩතලයේ මෑතක යාවත්කාලීන වූ ප්‍රදේශ උපුටාදක්වන්න
Comment[sk]=Zvýrazní oblasti plochy, ktoré boli práve aktualizované
Comment[sl]=Poudari dele namizja, ki so bili nedavno posodobljeni
Comment[sr]=Истиче делове површи који су недавно ажурирани
Comment[sr@ijekavian]=Истиче дијелове површи који су недавно ажурирани
Comment[sr@ijekavianlatin]=Ističe dijelove površi koji su nedavno ažurirani
Comment[sr@latin]=Ističe delove površi koji su nedavno ažurirani
Comment[sv]=Markera områden på skärmen som nyligen har uppdaterats
Comment[ta]=Highlight areas of the desktop that have been recently updated
Comment[te]=ఇటీవల నవీకరించబడిన రంగస్థల ప్రాంతములను ఉద్దీపనం చేయుము
Comment[th]=วาดเน้นพื้นที่บนพื้นทำงานที่เพิ่งถูกอัปเดต
Comment[tr]=Masaüstünün son güncellenen alanlarını vurgula
Comment[ug]=ئېكراندىكى يېقىندا يېڭىلىغان دائىرىنى يورۇت
Comment[uk]=Підсвічує області екрана, у яких спостерігалося оновлення
Comment[wa]=Mete en evidince des redjons do scribanne k' on stî dierinnmint metowe a djoû
Comment[x-test]=xxHighlight areas of the desktop that have been recently updatedxx
Comment[zh_CN]=突出显示桌面上最近更新过的区域
Comment[zh_TW]=將最近更新的桌面區域突顯出來

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_showpaint
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
