[Desktop Entry]
Name=Kscreen
Name[cs]=Kscreen
Name[de]=Kscreen
Name[es]=Kscreen
Name[fi]=KScreen
Name[gl]=KScreen
Name[kk]=Kscreen
Name[nl]=Kscreen
Name[pt]=Kscreen
Name[pt_BR]=KScreen
Name[sk]=Kscreen
Name[sl]=Kscreen
Name[sv]=Kskärm
Name[uk]=Kscreen
Name[x-test]=xxKscreenxx
Icon=preferences-system-windows-effect-kscreen
Comment=Helper Effect for KScreen
Comment[cs]=Pomocný efekt pro KScreen
Comment[de]=Hilfseffekt für KScreen
Comment[es]=Efecto auxiliar para KScreen
Comment[fi]=Avustajatehoste KScreenille
Comment[gl]=Efecto auxiliar para KScreen.
Comment[kk]=KScreen-нің көмек эффекті
Comment[nl]=Effect van hulp voor KScreen
Comment[pt]=Efeito auxiliar do KScreen
Comment[pt_BR]=Efeito auxiliar do KScreen
Comment[sk]=Pomocný efekt pre KScreen
Comment[sv]=Hjälpeffekt för Kskärm
Comment[uk]=Допоміжний ефект KScreen
Comment[x-test]=xxHelper Effect for KScreenxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_kscreen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=99
X-KWin-Requires-OpenGL=false
X-KWin-Requires-Shaders=false
