[Desktop Entry]
Name=Informative
Name[ca]=Informativa
Name[cs]=Informativní
Name[da]=Informativt
Name[de]=Informativ
Name[el]=Ενημερωτικό
Name[es]=Informativo
Name[et]=Informatiivne
Name[fi]=Informatiivinen
Name[hu]=Informatív
Name[ia]=Informative
Name[it]=Informativo
Name[kk]=Мәліметті
Name[km]=ព័ត៌មាន
Name[nb]=Informativ
Name[nl]=Informatief
Name[pa]=ਜਾਣਕਾਰੀ
Name[pl]=Informacyjny
Name[pt]=Informativa
Name[pt_BR]=Informativo
Name[sk]=Informatívne
Name[sl]=Informativno
Name[sr]=Информативно
Name[sr@ijekavian]=Информативно
Name[sr@ijekavianlatin]=Informativno
Name[sr@latin]=Informativno
Name[sv]=Informativ
Name[tr]=Bilgilendirici
Name[uk]=Інформативне
Name[vi]=Thông tin
Name[x-test]=xxInformativexx
Name[zh_CN]=信息
Name[zh_TW]=資訊提供
Comment=An informative window switcher layout including desktop name
Comment[ca]=Una disposició del commutador de finestres informativa que inclou el nom d'escriptori
Comment[da]=Et informativt vinduesskifter-layout som medtager navnet på skrivebordet
Comment[el]=Μια διάταξη εναλλαγής ενημερωτικών παραθύρων που περιλαμβάνει το όνομα της επιφάνειας εργασίας
Comment[es]=Un esquema de cambiador de ventanas informativo que incluye el nombre del escritorio
Comment[et]=Informatiivne aknavahetaja paigutus koos töölauanimedega
Comment[fi]=Informatiivinen tehtävänvalitsimen asettelu, joka näyttää myös työpöydän nimen
Comment[hu]=Egy informatív ablakváltó elrendezés az asztal nevét tartalmazva
Comment[ia]=Un disposition de commutator de fenestra informative includente nomine de scriptorio
Comment[it]=Una disposizione informative di cambiafinestre che include il nome del desktop
Comment[kk]=Мәліметті терезе ауыстырғышының қалыпы
Comment[km]=ប្លង់​កម្មវិធី​ប្ដូរ​បង្អួច​ព័ត៌មាន រួមមាន​ឈ្មោះ​ផ្ទៃតុ
Comment[nb]=En informativ utforming av vindusbytter som tar med skrivebordsnavnet
Comment[nl]=Een informatieve indeling van de vensterwisselaar inclusief de naam van het bureaublad
Comment[pl]=Informacyjny układ przełączania okien uwzględniający nazwę pulpitu
Comment[pt]=Uma disposição de mudança de janelas que inclui o nome do ecrã
Comment[pt_BR]=Um leiaute do seletor de janelas que inclui o nome da área de trabalho
Comment[sk]=Informatívne rozloženie prepínača okien vrátane názvu plochy
Comment[sl]=Informativen razpored preklapljanja med okni, ki vsebuje ime namizja
Comment[sr]=Информативни распоред мењача прозора укључује и име површи
Comment[sr@ijekavian]=Информативни распоред мењача прозора укључује и име површи
Comment[sr@ijekavianlatin]=Informativni raspored menjača prozora uključuje i ime površi
Comment[sr@latin]=Informativni raspored menjača prozora uključuje i ime površi
Comment[sv]=En informativ layout för fönsterbyte som inkluderar skrivbordsnamnet
Comment[tr]=Masaüstü adını içeren, bilgilendirici bir pencere değiştirme düzeni
Comment[uk]=Інформативне компонування засобу перемикання вікон з назвами стільниць
Comment[x-test]=xxAn informative window switcher layout including desktop namexx
Comment[zh_TW]=有較多資訊，包含桌面名稱的視窗切換器佈局
Icon=preferences-system-windows-switcher-informative

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=informative
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
