[Desktop Entry]
Name=Informative
Name[cs]=Informativní
Name[de]=Informativ
Name[nl]=Informatief
Name[pt]=Informativa
Name[pt_BR]=Informativo
Name[sv]=Informativ
Name[uk]=Інформативне
Name[x-test]=xxInformativexx
Name[zh_TW]=資訊提供
Comment=An informative window switcher layout including desktop name
Comment[nl]=Een informatieve indeling van de vensterwisselaar inclusief de naam van het bureaublad
Comment[pt]=Uma disposição de mudança de janelas que inclui o nome do ecrã
Comment[pt_BR]=Um leiaute do seletor de janelas que inclui o nome da área de trabalho
Comment[sv]=En informativ layout för fönsterbyte som inkluderar skrivbordsnamnet
Comment[uk]=Інформативне компонування засобу перемикання вікон з назвами стільниць
Comment[x-test]=xxAn informative window switcher layout including desktop namexx
Comment[zh_TW]=有較多資訊，包含桌面名稱的視窗切換器佈局
Icon=preferences-system-windows-switcher-informative

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=informative
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
