[Desktop Entry]
Name=Blur
Name[bg]=Замъгляване
Name[ca]=Desdibuixa
Name[de]=Verwischen
Name[el]=Θόλωμα
Name[eo]=Malklarigi
Name[es]=Desenfocar
Name[et]=Hägu
Name[eu]=Lausotu
Name[fa]=محو
Name[he]=טשטש
Name[hu]=Elmosódás
Name[it]=Sfocatura
Name[ja]=ぼかし
Name[kk]=Бұлдыр
Name[km]=ព្រិល​
Name[lv]=Aizmiglot
Name[nb]=Slør
Name[nds]=Verwischen
Name[ne]=धब्बा
Name[nl]=Vervagen
Name[nn]=Uklar
Name[pa]=ਧੁੰਦਲਾ
Name[pl]=Rozmycie
Name[pt]=BlueFish
Name[pt_BR]=Borrar
Name[sl]=Razmaži
Name[sr]=Замућење
Name[sr@latin]=Zamućenje
Name[sv]=Oskärpa
Name[th]=ทำให้ไม่ชัด
Name[vi]=Che mờ
Name[x-test]=xxBlurxx
Name[zh_CN]=模糊
Name[zh_TW]=模糊
Icon=preferences-system-windows-effect-blur
Comment=Blurs background of semi-transparent windows
Comment[bg]=Замъгляване на фона на полупрозрачни прозорци
Comment[ca]=Desdibuixa el fons de les finestres semitransparents
Comment[de]=Verwischt den Hintergrund halbtransparenter Fenster
Comment[el]=Θόλωμα φόντου των ημιδιαφανών παραθύρων
Comment[eo]=Malklarigas la fonon de duon-travideblaj fenestroj
Comment[es]=Desenfoca el fondo de una ventana semi-transparente
Comment[et]=Poolläbipaistvate akende tausta hägustamine
Comment[fa]=زمینه پنجره‌های نیمه شفاف را محو می‌کند
Comment[fi]=Sekoittaa läpikuultavien ikkunoiden taustan
Comment[he]=טישטוש הרקע של חלונות שקופים למחצה
Comment[hu]=Elmosódottá teszi a félig áttetsző ablakok hátterét
Comment[it]=Sfoca lo sfondo delle finestre semitrasparenti
Comment[ja]=半透明のウィンドウの背景をぼかします
Comment[kk]=Шала мөлдір терезелердің аясын бұлдырлатады
Comment[km]=ធ្វើ​ឲ្យ​ផ្ទៃ​ខាង​ក្រោយ​ព្រិលៗ​នៃ​បង្អួច​ពាក់​កណ្តាល​ថ្លា​
Comment[lv]=Aizmiglo fonu puscaurspīdīgiem logiem
Comment[nb]=Slører bakgrunnen til delvis gjennomsiktige vinduer
Comment[nds]=Verwischt den Achtergrund vun halfdörsichtig Finstern
Comment[ne]=अर्ध-पारदर्शी विन्डोजको अस्पष्ट पृष्ठभूमि
Comment[nl]=Vervaagt de achtergrond van halftransparante vensters
Comment[nn]=Gjer bakgrunnen til halvgjennomsiktige vindauge uklar
Comment[pa]=ਬਲੌਰੀ (ਅਰਧ-ਪਾਰਦਰਸ਼ੀ) ਵਿੰਡੋਜ਼ ਲਈ ਧੁੰਦਲੀ ਬੈਕਗਰਾਊਂਡ
Comment[pl]=Rozmywa tło półprzezroczytych okien
Comment[pt]=Borra o fundo das janelas semi-transparentes
Comment[pt_BR]=Borra o fundo das janelas semi-transparentes
Comment[sr]=Замућује позадину полупровидних прозора
Comment[sr@latin]=Zamućuje pozadinu poluprovidnih prozora
Comment[sv]=Gör bakgrunden i halvgenomskinliga fönster suddig
Comment[th]=ทำให้พื้นหลังของหน้าต่างแบบกึ่งโปร่งใสไม่ชัด
Comment[vi]=Che mờ nền của cửa sổ nửa trong suốt
Comment[x-test]=xxBlurs background of semi-transparent windowsxx
Comment[zh_CN]=模糊半透明窗口的背景
Comment[zh_TW]=將半透明視窗的背景弄模糊

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_blur
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-Ordering=85
