[Desktop Entry]
Encoding=UTF-8
Name=Blur
Name[de]=Verwischen
Name[el]=Θόλωμα
Name[nds]=Verwischen
Name[zh_TW]=模糊
Icon=kwin-effect-blur
Comment=Blurs background of semi-transparent windows
Comment[el]=Θόλωμα φόντου των ημιδιαφανών παραθύρων
Comment[zh_TW]=將半透明視窗的背景弄模糊

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_blur
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
