[Desktop Entry]
Encoding=UTF-8
Name=Box Switch
Name[el]=Εναλλαγή πλαισίου
Icon=kwin-effect-boxswitch
Comment=Improved Alt-tab window switcher
Comment[de]=Verbesserter Fensterwechsel mit Alt-Tabulator
Comment[el]=Βελτιωμένη εναλλαγή παραθύρου Alt-tab
Comment[nds]=Verbetert Wesseln vun Finster mit Alt+Tabtast
Comment[nl]=Verbeterde Alt-Tab vensternavigatie
Comment[zh_TW]=Alt-tab 視窗切換加強版

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner
X-KDE-PluginInfo-Email=philip.falkner@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_boxswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
