[Desktop Entry]
Name=Box Switch
Name[bg]=Превключване между прозорци
Name[ca]=Canvi d'aplicació
Name[de]=Kasten mit Minibildern
Name[el]=Εναλλαγή πλαισίου
Name[eo]=Alt-taba ŝanĝilo
Name[es]=Alternador de cajas
Name[et]=Aknavahetaja
Name[fa]=سودهی جعبه
Name[fi]=Laatikkovaihtaja
Name[fr]=Défilement dans une boîte
Name[fy]=Boks wikselje
Name[ga]=Malartóir Bosca
Name[gl]=Mudanza de fiestra
Name[gu]=પેટી ફેરફાર
Name[he]=מחליף מבוסס תיבה
Name[hi]=बॉक्स स्विच
Name[hu]=Váltódoboz
Name[it]=Casella interruttore
Name[ja]=ボックススイッチ
Name[km]=ប្ដូរ​ប្រអប់​
Name[kn]=ಬಾಕ್ಸ್ ಸ್ವಿಚ್
Name[ko]=상자 전환기
Name[lt]=Dėžutinis vartiklis
Name[lv]=Kastes pārslēdzējs
Name[ml]=ബോക്സ് സ്വിച്ച്
Name[mr]=बॉक्स स्विच
Name[nb]=Boksveksler
Name[ne]=बक्स स्विच
Name[nn]=Boksvekslar
Name[pa]=ਬਾਕਸ ਸਵਿੱਚ
Name[pl]=Przełącznik
Name[pt]=Mudança em Caixa
Name[pt_BR]=Mudança em Caixa
Name[ro]=Comutare Casetă
Name[se]=Boksamolsojeaddji
Name[sl]=Preklapljanje - ogledi
Name[sr]=Кутијасто пребацивање
Name[sr@latin]=Kutijasto prebacivanje
Name[sv]=Byte med ruta
Name[te]=బాక్‍స్  స్విచ్
Name[tr]=Kutu Pencere Seçici
Name[vi]=Chuyển đổi hộp
Name[wa]=Discandjeu d' boesse
Name[x-test]=xxBox Switchxx
Name[zh_CN]=盒状切换
Name[zh_TW]=盒切換
Icon=preferences-system-windows-effect-boxswitch
Comment=Display thumbnails of windows in the alt+tab window switcher
Comment[el]=Εμφάνιση επισκοπήσεων των παραθύρων στην εναλλαγή παραθύρων alt+tab
Comment[gl]=Mostra miniaturas das fiestras no alternador de fiestra alt+tab
Comment[gu]=alt+tab વિન્ડો બદલનારમાં વિન્ડોની થમ્બનીલ બતાવે છે
Comment[kk]=Alt+tab терезе ауыстырғышында терезенің нобайын көрсету
Comment[km]=បង្ហាញ​រូបភាព​តូចៗ​របស់​បង្អួជ​នៅ​ក្នុង​កម្មវិធី​ប្ដូរ​បង្អួច​ជំនួស+ថេប
Comment[kn]= alt+tab ಕಿಟಕಿ ಪರಿವರ್ತಕದಲ್ಲಿ (ಸ್ವಿಚ್) ಸೂಚ್ಯಚಿತ್ರಗಳನ್ನು (ಥಂಬ್ ನೇಲ್ಸ್) ತೋರಿಸು
Comment[nb]=Vis minibilder av vinduer i alt+tab vindusveksleren
Comment[nds]=Finster-Vöransichten bi't Wesseln vun Finstern mit Alt+Tabtast wiesen
Comment[pt]=Mostrar miniaturas das janelas na mudança de janelas com o Alt+Tab
Comment[pt_BR]=Mostrar miniaturas das janelas na mudança de janelas com o Alt+Tab
Comment[ro]=Afișează miniaturile ferestrelor în comutatorul de ferestre alt+tab
Comment[sv]=Visar miniatyrbilder av fönster vid fönsterbyte med Alt+Tabulator
Comment[tr]=Alt-tab pencere seçicide pencerelerin küçük resimlerini göster
Comment[uk]=Показує мініатюри вікон у перемикачі вікон за alt+tab
Comment[x-test]=xxDisplay thumbnails of windows in the alt+tab window switcherxx
Comment[zh_TW]=在 alt+tab 視窗切換時顯示縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner
X-KDE-PluginInfo-Email=philip.falkner@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_boxswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
