[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_boxswitch
X-KDE-PluginKeyword=boxswitch

Name=Box Switch
Name[bg]=Превключване между прозорци
Name[ca]=Canvi d'aplicació
Name[de]=Kasten mit Minibildern
Name[el]=Εναλλαγή πλαισίου
Name[eo]=Alt-taba ŝanĝilo
Name[es]=Alternador de cajas
Name[et]=Aknavahetaja
Name[fa]=سودهی جعبه
Name[fi]=Laatikkovaihtaja
Name[fr]=Défilement dans une boîte
Name[fy]=Boks wikselje
Name[ga]=Malartóir Bosca
Name[gl]=Mudanza de fiestra
Name[gu]=પેટી ફેરફાર
Name[he]=מחליף מבוסס תיבה
Name[hi]=बॉक्स स्विच
Name[hu]=Váltódoboz
Name[it]=Casella interruttore
Name[ja]=ボックススイッチ
Name[km]=ប្ដូរ​ប្រអប់​
Name[kn]=ಬಾಕ್ಸ್ ಸ್ವಿಚ್
Name[ko]=상자 전환기
Name[lt]=Dėžutinis vartiklis
Name[lv]=Kastes pārslēdzējs
Name[ml]=ബോക്സ് സ്വിച്ച്
Name[mr]=बॉक्स स्विच
Name[nb]=Boksveksler
Name[ne]=बक्स स्विच
Name[nn]=Boksvekslar
Name[pa]=ਬਾਕਸ ਸਵਿੱਚ
Name[pl]=Przełącznik
Name[pt]=Mudança em Caixa
Name[pt_BR]=Mudança em Caixa
Name[ro]=Comutare Casetă
Name[se]=Boksamolsojeaddji
Name[sl]=Preklapljanje - ogledi
Name[sr]=Кутијасто пребацивање
Name[sr@latin]=Kutijasto prebacivanje
Name[sv]=Byte med ruta
Name[te]=బాక్‍స్  స్విచ్
Name[tr]=Kutu Pencere Seçici
Name[vi]=Chuyển đổi hộp
Name[wa]=Discandjeu d' boesse
Name[x-test]=xxBox Switchxx
Name[zh_CN]=盒状切换
Name[zh_TW]=盒切換
