[Desktop Entry]
Encoding=UTF-8
Name=Box Switch
Icon=kwin-effect-boxswitch
Name[el]=Εναλλαγή πλαισίου
Name[zh_TW]=盒切換
Comment=Improved Alt-tab window switcher
Comment[zh_TW]=Alt-tab 視窗切換加強版

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner
X-KDE-PluginInfo-Email=philip.falkner@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_boxswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
