[Desktop Entry]
Name=Cover Switch
Name[pt]=Mudança de Capas
Name[pt_BR]=Mudança de Capas
Name[zh_TW]=覆蓋切換
Icon=preferences-system-windows-effect-coverswitch
Comment=Cover Switch - an alternative alt+tab window switcher
Comment[pt]=Mudança de Capas - Um selector de janelas alternativo para o Alt+Tab
Comment[pt_BR]=Mudança de Capas - Um selector de janelas alternativo para o Alt+Tab
Comment[zh_TW]=覆蓋切換─另一種 alt+tab 視窗切換器

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_coverswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
