[Desktop Entry]
Name=Cover Switch
Name[bg]=Превключване между прозорци
Name[da]=Cover-skifter
Name[de]=3D-Fenstergalerie
Name[eo]=Kovra ŝanĝilo
Name[es]=Cubre interruptor
Name[et]=Aknalülitaja
Name[fi]=Levykansivaihtaja
Name[fr]=Défilement circulaire
Name[fy]=Foarplaat wiksel
Name[gl]=Mudanza en capas
Name[gu]=ફેરફાર ઢાંકો
Name[hu]=Fedett váltódoboz
Name[it]=Sfoglia copertine
Name[ja]=カバースイッチ
Name[km]=ប្ដូរ​​គម្រប​
Name[kn]=ಕವರ್ ಸ್ವಿಚ್
Name[ko]=커버 전환기
Name[lt]=Viršelių keitiklis
Name[lv]=Vāku pārslēdzējs
Name[ml]=കവര്‍ സ്വിച്ച്
Name[mr]=कवर स्विच
Name[nb]=Omslagsbytter
Name[nn]=Omslagvekslar
Name[pa]=ਕਵਰ ਸਵਿੱਚ
Name[pl]=Przełącznik
Name[pt]=Mudança de Capas
Name[pt_BR]=Mudança de Capas
Name[ro]=Comutare copertă
Name[ru]=Циркуляция
Name[sl]=Preklapljanje - ovitki
Name[sr]=Покровно пребацивање
Name[sr@latin]=Pokrovno prebacivanje
Name[sv]=Omslagsbyte
Name[te]=కవర్ స్విచ్
Name[th]=สลับหน้าต่างแบบปกเทป
Name[tr]=Kapak Pencere Seçici
Name[uk]=Перемикач поверхні
Name[x-test]=xxCover Switchxx
Name[zh_CN]=罩面切换
Name[zh_TW]=覆蓋切換
Icon=preferences-system-windows-effect-coverswitch
Comment=Display a Cover Flow effect for the alt+tab window switcher
Comment[el]=Εμφάνιση ενός εφέ ροής εξωφύλλου για την εναλλαγή παραθύρων alt+tab
Comment[gl]=Mostra un efeito de fluxo da cuberta no alternador de fiestra alt+tab
Comment[gu]=alt+tab વિન્ડો બદલનારમાં કવર ફ્લો અસર બતાવે છે
Comment[kk]=Alt+tab терезе ауыстырғышында Cover Flow эффектін көрсету
Comment[km]=បង្ហាញ​បែបផែន​លំហូ​សម្រាប់កម្មវិធី​ប្ដូរ​បង្អួច​ជំនួស+ថេប
Comment[kn]=ಕಿಟಕಿ ಪರಿವರ್ತಕದಲ್ಲಿ (ಸ್ವಿಚ್) ಕವರ್ ಫ್ಲೋ ಪರಿಣಾಮವನ್ನು ತೋರಿಸು
Comment[nb]=Vis omslagsflyt-effekt for alt+tab-vindusbytteren
Comment[nds]=En Fleeteffekt bi't Wesseln vun Finstern mit Alt+Tabtast wiesen
Comment[pt]=Mostrar um efeito de Capas com o selector de janelas com o Alt+Tab
Comment[pt_BR]=Mostrar um efeito de Capas com o selector de janelas com o Alt+Tab
Comment[ro]=Afișează efectul de scurgere a copertelor pentru comutatorul de ferestre alt+tab
Comment[sv]=Visar en flytande omslagseffekt vid fönsterbyte med Alt+Tabulator
Comment[tr]=Alt-tab pencere seçicideki pencereleri Kapak Akışı efekti ile göster
Comment[uk]=Демонструє ефект поверхневої течії для перемикача вікон за alt+tab
Comment[x-test]=xxDisplay a Cover Flow effect for the alt+tab window switcherxx
Comment[zh_TW]=在 alt+tab 視窗切換器中顯示覆蓋流效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_coverswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
