[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_coverswitch
X-KDE-PluginKeyword=coverswitch

Name=Cover Switch
Name[eo]=Kovra ŝanĝilo
Name[gu]=ફેરફાર ઢાંકો
Name[km]=ប្ដូរ​​គម្រប​
Name[pt]=Mudança de Capas
Name[pt_BR]=Mudança de Capas
Name[sr]=Покровно пребацивање
Name[sr@latin]=Pokrovno prebacivanje
Name[zh_CN]=罩面切换
Name[zh_TW]=覆蓋切換
