[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_coverswitch
X-KDE-PluginKeyword=coverswitch

Name=Cover Switch
Name[pt]=Mudança de Capas
Name[pt_BR]=Mudança de Capas
