[Desktop Entry]
Name=Desktop Cube
Name[be@latin]=Rabočy kub
Name[el]=Κύβος επιφάνειας εργασίας
Name[et]=Töölauakuubik
Name[ga]=Ciúb Deisce
Name[gl]=Cubo do escritorio
Name[gu]=ડેસ્કટોપ ટ્યુબ
Name[ja]=デスクトップキューブ
Name[km]=គូប​ផ្ទៃតុ​
Name[nds]=Wörpel-Schriefdisch
Name[nn]=Skrivebordskube
Name[pt]=Cubo de Ecrãs
Name[pt_BR]=Cubo de Ecrãs
Name[sl]=Kocka z namizji
Name[sr]=Коцка површи
Name[sr@latin]=Kocka površi
Name[sv]=Skrivbordskub
Name[te]=‍డెస్‍క్ టాప్ క్యూబ్
Name[tr]=Masaüstü Küpü
Name[uk]=Куб стільниць
Name[zh_TW]=桌面立方體
Icon=preferences-system-windows-effect-cube
Comment=Display each virtual desktop on a side of a cube
Comment[be@latin]=Pakazvaje virtualnyja rabočyja stały na bakoch kuba
Comment[gl]=Mostra cada escritorio virtual nunha cara dun cubo
Comment[km]=បង្ហាញ​ផ្ទៃតុ​និម្មិត​នីមួយៗ​នៅ​លើ​គូប
Comment[nds]=Elkeen Schriefdisch op en Wörpelsiet wiesen
Comment[pt]=Mostrar cada ecrã virtual como uma face de um cubo
Comment[pt_BR]=Mostrar cada ecrã virtual como uma face de um cubo
Comment[uk]=Показувати всі віртуальні стільниці на поверхні куба
Comment[zh_TW]=將每個虛擬桌面顯示在立方體的某一邊

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cube
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
