[Desktop Entry]
Name=Desktop Cube
Name[et]=Töölauakuubik
Name[ga]=Ciúb Deisce
Name[gl]=Cubo do escritorio
Name[gu]=ડેસ્કટોપ ટ્યુબ
Name[km]=គូប​ផ្ទៃតុ​
Name[nds]=Wörpel-Schriefdisch
Name[nn]=Skrivebordskube
Name[pt]=Cubo de Ecrãs
Name[pt_BR]=Cubo de Ecrãs
Name[sv]=Skrivbordskub
Name[te]=‍డెస్‍క్ టాప్ క్యూబ్
Name[tr]=Masaüstü Küpü
Name[uk]=Куб стільниць
Name[zh_TW]=桌面立方體
Icon=preferences-system-windows-effect-cube
Comment=Map virtual desktops on a cube
Comment[et]=Virtuaalsete töölaudade asetamine kuubikule
Comment[gl]=Mostra os escritorios virtuais nun cubo
Comment[gu]=વર્ચ્યુઅલ ડેસ્કટોપને ક્યુબ સાથે જોડો
Comment[km]=ផ្ទៃតុ​និម្មិត​ផែនទី​នៅ​លើ​គូប
Comment[nds]=Schriefdischen op Wörpelflagen afbillen
Comment[nn]=Virtuelle skrivebord viste på ein kube
Comment[pt]=Mapear os ecrãs virtuais sobre um cubo
Comment[pt_BR]=Mapear os ecrãs virtuais sobre um cubo
Comment[sv]=Avbilda virtuella skrivbord på en kub
Comment[te]=క్యూబ్‌పైన వర్చ్యువల్ డెస్‍క్ టాప్‍స్ ను మాప్‌చేయుము
Comment[tr]=Sanal masaüstlerini bir küp olarak göster
Comment[uk]=Призначити віртуальні стільниці до сторін куба
Comment[zh_TW]=將虛擬桌面映射到一立方體

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cube
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
