[Desktop Entry]
Name=Desktop Cube
Name[ar]=مكعب سطح المكتب
Name[be@latin]=Rabočy kub
Name[bg]=Кубичен работен плот
Name[bn]=ডেস্কটপ কিউব
Name[bn_IN]=ডেস্কটপ কিউব
Name[ca]=Cub d'escriptori
Name[csb]=Szescan pùltu
Name[da]=Desktop-terning
Name[de]=Arbeitsflächen-Würfel
Name[el]=Κύβος επιφάνειας εργασίας
Name[es]=Cubo de escritorio
Name[et]=Töölauakuubik
Name[eu]=Mahaigain-kuboa
Name[fi]=Työpöytäkuutio
Name[fr]=Bureau en cube
Name[ga]=Ciúb Deisce
Name[gl]=Cubo do escritorio
Name[gu]=ડેસ્કટોપ ટ્યુબ
Name[he]=שולחן עבודה בקובייה
Name[hi]=डेस्कटॉप घन
Name[hsb]=Kóstka
Name[is]=Skjáborðskubbur
Name[it]=Cubo desktop
Name[ja]=デスクトップキューブ
Name[kk]=Үстел текшесі
Name[km]=គូប​ផ្ទៃតុ​
Name[kn]=ಗಣಕತೆರೆ ಘನಾಕೃತಿ
Name[ko]=데스크톱 큐브
Name[lt]=Darbastalio kubas
Name[lv]=Darbvirsmas kubs
Name[ml]=പണിയിടം ക്യൂബ്
Name[mr]=डेस्कटॉप क्यूब
Name[nb]=Skrivebordsterning
Name[nds]=Wörpel-Schriefdisch
Name[nl]=Bureaubladkubus
Name[nn]=Skrivebordskube
Name[pa]=ਡੈਸਕਟਾਪ ਘਣ
Name[pt]=Cubo de Ecrãs
Name[pt_BR]=Cubo da área de trabalho
Name[ro]=Cub de birou
Name[sl]=Kocka z namizji
Name[sr]=Коцка површи
Name[sr@latin]=Kocka površi
Name[sv]=Skrivbordskub
Name[ta]=பணிமேசை க்யூப்
Name[te]=‍డెస్‍క్ టాప్ క్యూబ్
Name[tg]=Мизи корӣ, монанди куб
Name[th]=พื้นที่ทำงานทรงลูกบาศก์
Name[tr]=Masaüstü Küpü
Name[uk]=Куб стільниць
Name[wa]=Cube di scribannes
Name[x-test]=xxDesktop Cubexx
Name[zh_CN]=桌面立方
Name[zh_TW]=桌面立方體
Icon=preferences-system-windows-effect-cube
Comment=Display each virtual desktop on a side of a cube
Comment[ar]=تعرض كل سطح مكتب افتراضي في جانب من جوانب المكعب
Comment[be@latin]=Pakazvaje virtualnyja rabočyja stały na bakoch kuba
Comment[bg]=Всеки виртуален работен плот се показва като страна на куб
Comment[bn]=প্রত্যেকটি ভার্চুয়াল ডেস্কটপ একটি কিউব-এর ধারে দেখাও
Comment[bn_IN]=প্রত্যেকটি ভার্চুয়াল ডেস্কটপ একটি কিউব-এর ধারে দেখাও
Comment[ca]=Visualitza cada escriptori virtual a la cara d'un cub
Comment[csb]=Wëskrzëniô wirtualny pùlt na scanie szescanu
Comment[da]=Vis hver virtuel desktop på en side af en terning
Comment[de]=Zeigt jede virtuelle Arbeitsfläche auf einer Würfelseite an.
Comment[el]=Εμφάνιση κάθε εικονικής επιφάνειας εργασίας σε μια πλευρά ενός κύβου
Comment[es]=Mostrar cada escritorio virtual en una cara de un cubo
Comment[et]=Virtuaalsete töölaudade asetamine kuubikule
Comment[eu]=Erakutsi laneko area bakoitza kuboaren alde batean
Comment[fi]=Näytä jokainen virtuaalityöpöytä kuution eri laidalla
Comment[fr]=Affiche chaque bureau virtuel sur la face d'un cube
Comment[gl]=Mostra cada escritorio virtual nunha cara dun cubo
Comment[gu]=ક્યુબની બાજુએ દરેક વર્ચ્યુઅલ ડેસ્કટોપ બતાવે છે
Comment[he]=הצג כל שולחן עבודה וירטואלי בפיאה של קובייה
Comment[hi]=एक घन के हर बाजू में आभासी डेस्कटॉप दिखाएँ
Comment[hsb]=Pokazuje kóždy wirtuelny dźěłowy powjerch na boku kóstki
Comment[is]=Sýnir hvert sýndarskjáborð á sinni hlið kassa
Comment[it]=Mostra ogni desktop virtuale sul lato di un cubo
Comment[ja]=仮想デスクトップをキューブの側面に表示します
Comment[kk]=Әрбір виртуалды үстелді текшенің бір қырында көрсету
Comment[km]=បង្ហាញ​ផ្ទៃតុ​និម្មិត​នីមួយៗ​នៅ​លើ​គូប
Comment[kn]=ಪ್ರತಿ ವಾಸ್ತವಪ್ರಾಯ (ವರ್ಚುಯಲ್) ಗಣಕತೆರೆಗಯನ್ನೂ ಘನಾಕೃತಿಯ (ಕ್ಯೂಬ್) ಬದಿಗಳ ಮೇಲೆ  ತೋರಿಸು
Comment[ko]=큐브의 각각 면에 가상 데스크톱을 표시합니다
Comment[lt]=Rodo kiekvieną virtualų darbastalį ant kubo sienos
Comment[lv]=Rāda visas virtuālās darbvirsmas uz kuba malām
Comment[ml]=ഓരോ വര്‍ച്ചുവല്‍ പണിയിടവും ഓരോ ക്യൂബിന്റെ വശത്തായ് കാണിക്കുക
Comment[mr]=क्यूबच्या बाजूला प्रत्येक आभासी डेस्कटॉप दर्शवा
Comment[nb]=Avbild virtuelle skrivebord på en terning
Comment[nds]=Elkeen Schriefdisch op en Wörpelsiet wiesen
Comment[nl]=Toont elk virtueel bureaublad als zijde op een kubus
Comment[pa]=ਘਣ ਦੇ ਹਰੇਕ ਪਾਸੇ ਹਰੇਕ ਵੁਰਚੁਅਲ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pt]=Mostrar cada ecrã virtual como uma face de um cubo
Comment[pt_BR]=Mostrar cada ecrã virtual como uma face de um cubo
Comment[ro]=Afișează fiecare birou virtual pe o față a unui cub
Comment[sl]=Vsako navidezno namizje prikaže na stranici kocke
Comment[sv]=Visar varje virtuellt skrivbord på sidan av en kub
Comment[ta]=பணிமேசை தோற்றங்கள் ஒவ்வொன்றையும் க்யூபின் ஒரு பக்கத்தில் காட்டுக
Comment[th]=แสดงแต่ละพื้นที่ทำงานเสมือนบนด้านของกล่องลูกบาศก์
Comment[tr]=Sanal masaüstlerini bir küpün yanı olarak göster
Comment[uk]=Показувати всі віртуальні стільниці на поверхні куба
Comment[wa]=Håyene tchaeke forveyou scribanne sos on costé d' on cube
Comment[x-test]=xxDisplay each virtual desktop on a side of a cubexx
Comment[zh_CN]=在一排立方体中显示各虚拟桌面
Comment[zh_TW]=將每個虛擬桌面顯示在立方體的某一邊

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cube
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
