[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_cube
X-KDE-PluginKeyword=cube

Name=Desktop Cube
Name[et]=Töölauakuubik
Name[ga]=Ciúb Deisce
Name[gu]=ડેસ્કટોપ ટ્યુબ
Name[km]=គូប​ផ្ទៃតុ​
Name[nds]=Wörpel-Schriefdisch
Name[pt]=Cubo de Ecrãs
Name[pt_BR]=Cubo de Ecrãs
Name[sv]=Skrivbordskub
Name[tr]=Masaüstü Küpü
Name[uk]=Куб стільниць
Name[zh_TW]=桌面立方體
