[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_cylinder
X-KDE-PluginKeyword=cylinder

Name=Desktop Cylinder
Name[ar]=أسطوانة سطح المكتب
Name[be@latin]=Rabočy cylinder
Name[bg]=Цилиндричен работен плот
Name[ca]=Cilindre d'escriptori
Name[csb]=Cylinder pùltu
Name[de]=Arbeitsflächen-Zylinder
Name[el]=Κύλινδρος επιφάνειας εργασίας
Name[es]=Cilindro de escritorio
Name[et]=Töölauasilinder
Name[gl]=Escritorio cilíndrico
Name[gu]=ડેસ્કટોપ સિલિન્ડર
Name[he]=שולחן עבודה בצילינדר
Name[hi]=डेस्कटॉप बेलन
Name[is]=Skjáborðssúla
Name[it]=Cilindro desktop
Name[ja]=デスクトップシリンダー
Name[kk]=Үстел цилиндірі
Name[km]=ស៊ីឡាំង​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಹೊರಳು (ಸಿಲಿಂಡರ್)
Name[lt]=Darbastalio cilindras
Name[lv]=Darbvirsmas cilindrs
Name[ml]=പണിയിടം ഗോളസ്തംഭം
Name[nb]=Skrivebordssylinder
Name[nds]=Zylinner-Schriefdisch
Name[nl]=Bureaubladcilinder
Name[nn]=Skrivebordsylinder
Name[pa]=ਡੈਸਕਟਾਪ ਸਿਲੰਡਰ
Name[pt]=Cilindro de Ecrãs
Name[pt_BR]=Cilindro de Ecrãs
Name[ro]=Cilindru de birou
Name[sl]=Valj z namizji
Name[sr]=Ваљак површи
Name[sr@latin]=Valjak površi
Name[sv]=Skrivbordscylinder
Name[te]=డెస్‍క్ టాప్ సిలెండర్
Name[th]=พื้นที่ทำงานทรงกระบอก
Name[tr]=Masaüstü Silindiri
Name[uk]=Циліндр стільниць
Name[x-test]=xxDesktop Cylinderxx
Name[zh_CN]=桌面圆柱
Name[zh_TW]=桌面圓柱
