[Desktop Entry]
Name=Desktop Cylinder
Name[et]=Töölauasilinder
Name[gu]=ડેસ્કટોપ સિલિન્ડર
Name[km]=ស៊ីឡាំង​ផ្ទៃតុ
Name[nds]=Zylinner-Schriefdisch
Name[pt]=Cilindro de Ecrãs
Name[pt_BR]=Cilindro de Ecrãs
Name[sv]=Skrivbordscylinder
Name[te]=డెస్‍క్ టాప్ సిలెండర్
Name[tr]=Masaüstü Silindiri
Name[uk]=Циліндр стільниць
Name[zh_TW]=桌面圓柱
Icon=preferences-system-windows-effect-cylinder
Comment=Map virtual desktops on a cylinder
Comment[et]=Virtuaalsete töölaudade asetamine silindrile
Comment[gu]=વર્ચ્યુઅલ ડેસ્કટોપને સિલિન્ડર પર જોડો
Comment[km]=ផ្ទៃតុ​និម្មិត​ផែនទី​នៅ​លើស៊ីឡាំង
Comment[nds]=Schriefdischen op en Zylinner afbillen
Comment[pt]=Mapear os ecrãs virtuais sobre um cilindro
Comment[pt_BR]=Mapear os ecrãs virtuais sobre um cilindro
Comment[sv]=Avbilda virtuella skrivbord på en cylinder
Comment[te]=సిలెండర్‌పైన వర్చ్యువల్ డెస్‍క్ టాప్‌లను మాప్‌చేయుము
Comment[tr]=Sanal masaüstlerini bir silindir olarak göster
Comment[uk]=Призначити віртуальні стільниці до циліндра
Comment[zh_TW]=將虛擬桌面映射到一圓柱

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cylinder
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
