[Desktop Entry]
Name=Desktop Cylinder
Name[ar]=أسطوانة سطح المكتب
Name[be@latin]=Rabočy cylinder
Name[bg]=Цилиндричен работен плот
Name[ca]=Cilindre d'escriptori
Name[csb]=Cylinder pùltu
Name[de]=Arbeitsflächen-Zylinder
Name[el]=Κύλινδρος επιφάνειας εργασίας
Name[es]=Cilindro de escritorio
Name[et]=Töölauasilinder
Name[fi]=Työpöytäsylinteri
Name[fr]=Bureau en cylindre
Name[gl]=Escritorio cilíndrico
Name[gu]=ડેસ્કટોપ સિલિન્ડર
Name[he]=שולחן עבודה בצילינדר
Name[hi]=डेस्कटॉप बेलन
Name[is]=Skjáborðssúla
Name[it]=Cilindro desktop
Name[ja]=デスクトップシリンダー
Name[kk]=Үстел цилиндірі
Name[km]=ស៊ីឡាំង​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಹೊರಳು (ಸಿಲಿಂಡರ್)
Name[lt]=Darbastalio cilindras
Name[lv]=Darbvirsmas cilindrs
Name[ml]=പണിയിടം ഗോളസ്തംഭം
Name[nb]=Skrivebordssylinder
Name[nds]=Zylinner-Schriefdisch
Name[nl]=Bureaubladcilinder
Name[nn]=Skrivebordsylinder
Name[pa]=ਡੈਸਕਟਾਪ ਸਿਲੰਡਰ
Name[pt]=Cilindro de Ecrãs
Name[pt_BR]=Cilindro da área de trabalho
Name[ro]=Cilindru de birou
Name[sl]=Valj z namizji
Name[sr]=Ваљак површи
Name[sr@latin]=Valjak površi
Name[sv]=Skrivbordscylinder
Name[ta]=மேல்மேசை உருளி
Name[te]=డెస్‍క్ టాప్ సిలెండర్
Name[th]=พื้นที่ทำงานทรงกระบอก
Name[tr]=Masaüstü Silindiri
Name[uk]=Циліндр стільниць
Name[wa]=Cilinde di scribannes
Name[x-test]=xxDesktop Cylinderxx
Name[zh_CN]=桌面圆柱
Name[zh_TW]=桌面圓柱
Icon=preferences-system-windows-effect-cylinder
Comment=Display each virtual desktop on the side of a cylinder
Comment[ar]=تعرض كل سطح مكتب افتراضي على جانب من جوانب الأسطوانة
Comment[be@latin]=Pakazvaje virtualnyja rabočyja stały na baku cylindra
Comment[bg]=Всеки виртуален работен плот се показва като част от цилиндър
Comment[ca]=Visualitza cada escriptori virtual a la cara d'un cilindre
Comment[de]=Zeigt jede virtuelle Arbeitsfläche auf einer Zylinderseite an.
Comment[el]=Εμφάνιση κάθε εικονικής επιφάνειας εργασίας στην πλευρά ενός κυλίνδρου
Comment[es]=Mostrar cada escritorio virtual en un lado de un cilindro
Comment[et]=Virtuaalsete töölaudade asetamine silindrile
Comment[fr]=Affiche chaque bureau virtuel sur la face d'un cylindre
Comment[gl]=Mostra cada escritorios virtual a un lado dun cilindro
Comment[gu]=સિલિન્ડરની બાજુઓ પર વર્ચ્યુઅલ ડેસ્કટોપ બતાવે છે
Comment[he]=הצג כל שולחן עבודה וירטואלי בצד של צילינדר
Comment[hi]=बेलन के हर बाजू पर आभासी डेस्कटॉप दिखाएँ
Comment[is]=Sýnir hvert sýndarskjáborð á sinni hlið súlu
Comment[it]=Mostra ogni desktop virtuale sul lato di un cilindro
Comment[ja]=仮想デスクトップをシリンダーの側面に表示します
Comment[kk]=Әрбір виртуалды үстелді цилиндрдің бүйірінде көрсету
Comment[km]=បង្ហាញ​ផ្ទៃតុ​និម្មិត​នីមួយៗ​នៅ​លើ​ស៊ីឡាំង
Comment[kn]=ಪ್ರತಿ ವಾಸ್ತವಪ್ರಾಯ (ವರ್ಚುಯಲ್) ಗಣಕತೆರೆಗಯನ್ನೂ ಹೊರಳು (ಸಿಲಿಂಡರ್) ನ ಬದಿಗಳ ಮೇಲೆ  ತೋರಿಸು
Comment[lt]=Rodo kiekvieną virtualų darbastalį ant cilindro šono
Comment[lv]=Rāda visas virtuālās darbvirsmas uz cilindra malas
Comment[ml]=ഓരോ വര്‍ച്ചുവല്‍ പണിയിടവും ഓരോ ഗോളസ്തംഭത്തിന്റെ വശത്തായ് കാണിക്കുക
Comment[nb]=Avbild virtuelle skrivebord på en sylinder
Comment[nds]=Elkeen Schriefdisch op en Zylinnersiet wiesen
Comment[nl]=Toont elk virtueel bureaublad als zijde van een cilinder
Comment[pa]=ਸਿਲੰਡਰ ਦੀ ਸਾਈਡ ਉੱਤੇ ਹਰੇਕ ਵੁਰਚੁਅਲ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pt]=Mostrar cada ecrã virtual como uma face de um cilindro
Comment[pt_BR]=Mostrar cada ecrã virtual como uma face de um cilindro
Comment[ro]=Afișează fiecare birou virtual pe fața unui cilindru
Comment[sl]=Vsako navidezno namizje prikaže na plašču valja
Comment[sv]=Visar varje virtuellt skrivbord på sidan av en cylinder
Comment[th]=แสดงแต่ละพื้นที่ทำงานเสมือนบนด้านข้างของทรงกระบอก
Comment[tr]=Sanal masaüstlerini bir silindirin yanı olarak göster
Comment[uk]=Показувати всі стільниці на поверхні циліндра
Comment[wa]=Håyene tchaeke forveyou scribanne sol costé d' on cilinde
Comment[x-test]=xxDisplay each virtual desktop on the side of a cylinderxx
Comment[zh_CN]=在一排圆柱体中显示各虚拟桌面
Comment[zh_TW]=將虛擬桌面顯示在圓柱的邊邊

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cylinder
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
