[Desktop Entry]
Name=Desktop Cylinder
Name[be@latin]=Rabočy cylinder
Name[el]=Κύλινδρος επιφάνειας εργασίας
Name[et]=Töölauasilinder
Name[gl]=Escritorio cilíndrico
Name[gu]=ડેસ્કટોપ સિલિન્ડર
Name[ja]=デスクトップシリンダー
Name[kk]=Үстел цилиндірі
Name[km]=ស៊ីឡាំង​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಹೊರಳು (ಸಿಲಿಂಡರ್)
Name[nb]=Skrivebordssylinder
Name[nds]=Zylinner-Schriefdisch
Name[nn]=Skrivebordsylinder
Name[pa]=ਡੈਸਕਟਾਪ ਸਿਲੰਡਰ
Name[pt]=Cilindro de Ecrãs
Name[pt_BR]=Cilindro de Ecrãs
Name[ro]=Cilindru de birou
Name[sl]=Valj z namizji
Name[sr]=Ваљак површи
Name[sr@latin]=Valjak površi
Name[sv]=Skrivbordscylinder
Name[te]=డెస్‍క్ టాప్ సిలెండర్
Name[tr]=Masaüstü Silindiri
Name[uk]=Циліндр стільниць
Name[x-test]=xxDesktop Cylinderxx
Name[zh_TW]=桌面圓柱
Icon=preferences-system-windows-effect-cylinder
Comment=Display each virtual desktop on the side of a cylinder
Comment[be@latin]=Pakazvaje virtualnyja rabočyja stały na baku cylindra
Comment[el]=Εμφάνιση κάθε εικονικής επιφάνειας εργασίας στην πλευρά ενός κυλίνδρου
Comment[gl]=Mostra cada escritorios virtual a un lado dun cilindro
Comment[gu]=સિલિન્ડરની બાજુઓ પર વર્ચ્યુઅલ ડેસ્કટોપ બતાવે છે
Comment[kk]=Әрбір виртуалды үстелді цилиндрдің бүйірінде көрсету
Comment[km]=បង្ហាញ​ផ្ទៃតុ​និម្មិត​នីមួយៗ​នៅ​លើ​ស៊ីឡាំង
Comment[kn]=ಪ್ರತಿ ವಾಸ್ತವಪ್ರಾಯ (ವರ್ಚುಯಲ್) ಗಣಕತೆರೆಗಯನ್ನೂ ಹೊರಳು (ಸಿಲಿಂಡರ್) ನ ಬದಿಗಳ ಮೇಲೆ  ತೋರಿಸು
Comment[nb]=Avbild virtuelle skrivebord på en sylinder
Comment[nds]=Elkeen Schriefdisch op en Zylinnersiet wiesen
Comment[pt]=Mostrar cada ecrã virtual como uma face de um cilindro
Comment[pt_BR]=Mostrar cada ecrã virtual como uma face de um cilindro
Comment[ro]=Afișează fiecare birou virtual pe fața unui cilindru
Comment[sv]=Visar varje virtuellt skrivbord på sidan av en cylinder
Comment[tr]=Sanal masaüstlerini bir silindirin yanı olarak göster
Comment[uk]=Показувати всі стільниці на поверхні циліндра
Comment[x-test]=xxDisplay each virtual desktop on the side of a cylinderxx
Comment[zh_TW]=將虛擬桌面顯示在圓柱的邊邊

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_cylinder
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
