[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_cylinder
X-KDE-PluginKeyword=cylinder

Name=Desktop Cylinder
Name[be@latin]=Rabočy cylinder
Name[el]=Κύλινδρος επιφάνειας εργασίας
Name[et]=Töölauasilinder
Name[gl]=Escritorio cilíndrico
Name[gu]=ડેસ્કટોપ સિલિન્ડર
Name[ja]=デスクトップシリンダー
Name[kk]=Үстел цилиндірі
Name[km]=ស៊ីឡាំង​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಹೊರಳು (ಸಿಲಿಂಡರ್)
Name[nb]=Skrivebordssylinder
Name[nds]=Zylinner-Schriefdisch
Name[nn]=Skrivebordsylinder
Name[pa]=ਡੈਸਕਟਾਪ ਸਿਲੰਡਰ
Name[pt]=Cilindro de Ecrãs
Name[pt_BR]=Cilindro de Ecrãs
Name[ro]=Cilindru de birou
Name[sl]=Valj z namizji
Name[sr]=Ваљак површи
Name[sr@latin]=Valjak površi
Name[sv]=Skrivbordscylinder
Name[te]=డెస్‍క్ టాప్ సిలెండర్
Name[tr]=Masaüstü Silindiri
Name[uk]=Циліндр стільниць
Name[x-test]=xxDesktop Cylinderxx
Name[zh_TW]=桌面圓柱
