[Desktop Entry]
Name=Taskbar Thumbnails
Name[ca]=Miniatures a la barra de tasques
Name[csb]=Miniaturczi listwë dzejaniów
Name[de]=Vorschaubild in der Fensterleiste
Name[el]=Εικόνες επισκόπησης της Γραμμής εργασιών
Name[eo]=Taskobretaj miniaturoj
Name[es]=Miniaturas de la barra de tareas
Name[et]=Tegumiriba pisipildid
Name[eu]=Ataza-barraren koadro txikiak
Name[fy]=Taakbalke miniatueren
Name[ga]=Mionsamhlacha sa Tascbharra
Name[gl]=Miniaturas da barra de tarefas
Name[hu]=Feladatsáv-ablaktartalom
Name[ja]=タスクバーのサムネイル
Name[km]=រូបភាព​តូចៗ​របារ​ភារកិច្ច
Name[lv]=Uzdevumjoslas sīktēli
Name[nb]=Oppgavelinje-minibilder
Name[nds]=Programmbalken-Vöransichten
Name[nl]=Taakbalkminiaturen
Name[nn]=Oppgåvelinjeminiatyrbilete
Name[pa]=ਟਾਸਕਬਾਰ ਥੰਮਨੇਲ
Name[pl]=Miniaturki w pasku zadań
Name[pt]=Miniaturas da Barra de Tarefas
Name[pt_BR]=Miniaturas da Barra de Tarefas
Name[sl]=Sličice za opravilno vrstico
Name[sr]=Сличице у траци задатака
Name[sr@latin]=Sličice u traci zadataka
Name[sv]=Miniatyrbilder i aktivitetsfält
Name[x-test]=xxTaskbar Thumbnailsxx
Name[zh_CN]=任务栏缩略图
Name[zh_TW]=工作列縮圖
Icon=preferences-system-windows-effect-taskbarthumbnail
Comment=Shows window thumbnails when cursor is on their taskbar entry
Comment[ca]=Mostra una miniatura de la finestra quan el cursor està sobre la seva entrada de la barra de tasques
Comment[de]=Zeigt Fenster-Vorschaubilder an, wenn sich der Mauszeiger über dem Fensterleisten-Eintrag befindet.
Comment[el]=Εμφάνιση εικόνας επισκόπησης παραθύρου όταν το ποντίκι περνάει πάνω από την καταχώρησή του στη γραμμή εργασιών
Comment[eo]=Kiam la muso ŝvebas super taskobreta ero, miniaturo de tiu fenestro aperas
Comment[es]=Muestra miniaturas de la ventana cuando el cursor está en la entrada de su barra de tareas
Comment[et]=Akende pisipiltide näitamine, kui kursor on nende tegumiriba kirje kohal
Comment[fi]=Näyttää ikkunan esikatselukuvan, kun kohdistin osoittaa ohjelmaa tehtävärivillä.
Comment[fy]=Finsterrminiateuren sjen litte as it rinnerke op syn taakbalke setten wurdt
Comment[ga]=Taispeáin mionsamhail d'fhuinneog nuair atá an cúrsóir os a cionn sa tascbharra
Comment[gl]=Mostra miniaturas das fiestras cando o cursor está sobra a súa entrada na barra de tarefas
Comment[hu]=Megmutatja a feladatokhoz tartozó ablakok kicsinyített képét
Comment[ja]=タスクバーエントリの上にマウスが来たときに、そのウィンドウのサムネイルを表示します
Comment[km]=បង្ហាញ​រូបភាព​តូចៗ​របស់​បង្អួច នៅ​ពេល​ទស្សន៍​នៅ​លើ​ធាតុ​របារ​ភារកិច្ច​របស់​ពួកវា
Comment[lv]=Parāda loga sīktēlu, kad kursors atrodas uz uzdevumjoslas ieraksta
Comment[nb]=Viser minibilder av vinduene når pekeren er over oppgavelinja
Comment[nds]=Wiest Vöransichten vun de Finstern, wenn Du mit de Muus op ehr Programmbalken-Indrääg wiest.
Comment[nl]=Vensterminiaturen tonen als cursor op bijhorende taakbalkknop wordt geplaatst
Comment[nn]=Vis miniatyrbilete av vindauge når peikaren er over ikona deira på oppgåvelinja
Comment[pa]=ਵਿੰਡੋ ਥੰਮਨੇਲ ਵੇਖੋ, ਜਦੋਂ ਕਿ ਕਰਸਰ ਉਸ ਦੀ ਟਾਸਕਬਾਰ ਐਂਟਰੀ ਉੱਤੇ ਹੋਵੇ।
Comment[pl]=Pokazuje miniaturki okien, kiedy kursor znajduje się na ich pozycji w pasku zadań
Comment[pt]=Mostra as miniaturas das janelas quando o cursor está no seu item da barra de tarefas
Comment[pt_BR]=Mostra miniaturas das janelas quando o cursor está nas suas entradas na barra de tarefas
Comment[se]=Čájeha govaža láses go seaván lea dan ikona bajábealde
Comment[sl]=Ko je kazalec nad gumbom v opravilni vrstici , se prikaže sličica okna
Comment[sr]=Сличице прозора како показивач преко ставки у траци задатака
Comment[sr@latin]=Sličice prozora kako pokazivač preko stavki u traci zadataka
Comment[sv]=Visar miniatyrbilder av fönster när markören är över deras post i aktivitetsfältet
Comment[x-test]=xxShows window thumbnails when cursor is on their taskbar entryxx
Comment[zh_CN]=当鼠标指针指向任务栏时显示窗口缩略图
Comment[zh_TW]=當游標停在工作列的按鈕上面時，顯示視窗的縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_demo_taskbarthumbnail
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Category[ca]=Gestió de les finestres
X-KDE-PluginInfo-Category[de]=Fensterverwaltung
X-KDE-PluginInfo-Category[el]=Διαχείριση παραθύρων
X-KDE-PluginInfo-Category[eo]=Fenestra administrado
X-KDE-PluginInfo-Category[et]=Akende haldus
X-KDE-PluginInfo-Category[ga]=Bainisteoireacht Fuinneog
X-KDE-PluginInfo-Category[hu]=Ablakkezelés
X-KDE-PluginInfo-Category[ja]=ウィンドウマネージメント
X-KDE-PluginInfo-Category[km]=ការ​គ្រប់គ្រង​បង្អួច
X-KDE-PluginInfo-Category[lv]=Logu pārvaldība
X-KDE-PluginInfo-Category[nds]=Finsterpleeg
X-KDE-PluginInfo-Category[nl]=Vensterbeheer
X-KDE-PluginInfo-Category[pa]=ਵਿੰਡੋ ਮੈਨਿਜਮੈਂਟ
X-KDE-PluginInfo-Category[pl]=Zarządzanie oknami
X-KDE-PluginInfo-Category[pt]=Gestão de Janelas
X-KDE-PluginInfo-Category[pt_BR]=Gerenciamento de Janelas
X-KDE-PluginInfo-Category[sl]=Upravljanje z okni
X-KDE-PluginInfo-Category[sr]=Управљање прозорима
X-KDE-PluginInfo-Category[sr@latin]=Upravljanje prozorima
X-KDE-PluginInfo-Category[sv]=Fönsterhantering
X-KDE-PluginInfo-Category[x-test]=xxWindow Managementxx
X-KDE-PluginInfo-Category[zh_CN]=窗口管理
X-KDE-PluginInfo-Category[zh_TW]=視窗管理
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
