[Desktop Entry]
Encoding=UTF-8
Name=Demo ShowPicture
Name[bg]=Демо на ShowPicture
Name[de]=Demo: Bild anzeigen
Name[el]=Επίδειξη της Εμφάνισης φωτογραφίας
Name[he]=הדגמה - הצג תמונה
Name[kk]=СуретКөрсетудің мысалы
Name[km]=ការ​រូបភាព​បង្ហាញ​សាកល្បង​
Name[nb]=Demo VisBilde
Name[nds]=Demo: Bild wiesen
Name[ne]=डेमो तस्वीर देखाउनुहोस्
Name[pa]=ਡੈਮੋ ਤਸਵੀਰ-ਵੇਖੋ
Name[sv]=Demonstration av visa bild
Name[th]=สาธิต ShowPicture
Name[x-test]=xxDemo ShowPicturexx
Name[zh_TW]=示範_顯示圖片

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_demo_showpicture
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Demos
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
