[Desktop Entry]
Name=Desktop Grid
Name[af]=Werkskerm rooster
Name[ar]=شبكية سطح المكتب
Name[be]=Сетка на працоўны стол
Name[be@latin]=Rabočaja sietka
Name[bg]=Работен плот
Name[ca]=Graella de l'escriptori
Name[cs]=Mřížka plochy
Name[da]=Desktop-gitter
Name[de]=Arbeitsflächen-Umschalter (Raster)
Name[el]=Πλέγμα επιφάνειας εργασίας
Name[eo]=Labortabla krado
Name[es]=Rejilla del escritorio
Name[et]=Töölauavõrgustik
Name[eu]=Mahaigainaren sareta
Name[fa]=توری رومیزی
Name[fi]=Työpöydän ruudukko
Name[fr]=Bureau en grille
Name[fy]=Buroblêd roaster
Name[ga]=Greille na nDeasc
Name[gl]=Grella de escritorio
Name[gu]=ડેસ્કટોપ જાળી
Name[he]=רשת שולחנות עבודה
Name[hi]=डेस्कटॉप ग्रिड
Name[hr]=Mreža radne površine
Name[hu]=Rácsos elrendezés
Name[it]=Griglia dei Desktop
Name[ja]=デスクトップグリッド
Name[kk]=Үстел торы
Name[km]=ក្រឡា​ចត្រង្គ​ផ្ទៃ​តុ​
Name[kn]=ಗಣಕತೆರೆ ಚೌಕಳಿ
Name[ko]=데스크톱 모눈
Name[lt]=Darbastalio tinklelis
Name[lv]=Darbvirsmas režģis
Name[mk]=Работна површина
Name[ml]=പണിയറക്കള്ളികള്‍
Name[mr]=डेस्कटॉप ग्रिड
Name[nb]=Skrivebordsrutenett
Name[nds]=Schriefdisch-Gadder
Name[ne]=डेस्कटप ग्रिड
Name[nl]=Bureaubladraster
Name[nn]=Skrivebordsrutenett
Name[pa]=ਡੈਸਕਟਾਪ ਗਰਿੱਡ
Name[pl]=Siatka pulpitu
Name[pt]=Grelha de Ecrãs
Name[pt_BR]=Grade de Áreas de Trabalho
Name[ro]=Grilă birou
Name[ru]=Сетка виртуальных экранов
Name[se]=Čállinbeavderuvttodat
Name[sl]=Mreža namizij
Name[sr]=Мрежа површи
Name[sr@latin]=Mreža površi
Name[sv]=Skrivbordsrutnät
Name[te]=డెస్‍క్ టాప్ గ్రిడ్
Name[tg]=Шабакаи мизи корӣ
Name[th]=เส้นกริดพื้นที่ทำงาน
Name[tr]=Masaüstü Izgarası
Name[uk]=Таблиця стільниць
Name[vi]=Lưới màn hình nền
Name[wa]=Glindisse do scribanne
Name[x-test]=xxDesktop Gridxx
Name[zh_CN]=桌面栅格
Name[zh_TW]=桌面格
Icon=preferences-system-windows-effect-desktop-grid
Comment=Zoom out so all desktops are display side-by-side in a grid
Comment[el]=Σμίκρυνση όλων των επιφανειών εργασίας και εμφάνιση σε παράθεση σε έναν κάνναβο
Comment[gl]=Reduce de maneira que os escritorios son mostrados lado por lado en grella
Comment[kk]=Үстелдерді кішірейтіп торда қатарлап көрсету
Comment[km]=បង្រួម​ផ្ទៃតុ​ទាំងអស់​បង្ហាញ​ម្ដង​មួយ​ផ្នែក​ៗ​នៅ​ក្នុង​ក្រឡាចត្រង្គ
Comment[kn]=ಎಲ್ಲಾ ಗಣಕತೆರೆಗಳೂ ಅಕ್ಕಪಕ್ಕದಲ್ಲಿ ಚೌಕಾಕಾರದಲ್ಲಿ ಓರಣಗೊಳ್ಳುವಂತೆ ಗಾತ್ರವನ್ನು ಕುಗ್ಗಿಸು
Comment[nb]=Forminsk så alle skrivebord vises side om side i et rutenett
Comment[nds]=Ansicht grötter maken, so dat all Schriefdischen blangenanner in en Gadder wiest warrt
Comment[pt]=Reduzir de modo a que todos os ecrãs apareçam lado-a-lado numa grelha
Comment[pt_BR]=Reduzir de modo a que todos os ecrãs apareçam lado-a-lado numa grelha
Comment[sv]=Zooma ut så att alla skrivbord visas sida vid sida i ett rutnät
Comment[tr]=Tüm masaüstlerini bir ızgara şeklinde yan yana küçült
Comment[uk]=Зменшити так, щоб всі стільниці було показано поруч у вигляді таблиці
Comment[x-test]=xxZoom out so all desktops are display side-by-side in a gridxx
Comment[zh_TW]=縮放所有桌面，讓它們排排站

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák & Lucas Murray
X-KDE-PluginInfo-Email=l.lunak@kde.org & lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_desktopgrid
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
