[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_desktopgrid
X-KDE-PluginKeyword=desktopgrid

Name=Desktop Grid
Name[ar]=شبكية سطح المكتب
Name[be]=Сетка на працоўны стол
Name[bg]=Работен плот
Name[ca]=Graella de l'escriptori
Name[de]=Arbeitsflächen-Raster
Name[el]=Πλέγμα επιφάνειας εργασίας
Name[eo]=Labortabla krado
Name[es]=Rejilla del escritorio
Name[et]=Töölauavõrgustik
Name[eu]=Mahaigainaren sareta
Name[fa]=توری رومیزی
Name[fi]=Työpöydän ruudukko
Name[fr]=Bureau en grille
Name[fy]=Buroblêd roaster
Name[ga]=Greille na nDeasc
Name[gl]=Grella de escritorio
Name[he]=רשת שולחנות עבודה
Name[hi]=डेस्कटॉप ग्रिड
Name[hu]=Rácsos elrendezés
Name[it]=Griglia dei Desktop
Name[ja]=デスクトップグリッド
Name[kk]=Үстел торы
Name[km]=ក្រឡា​ចត្រង្គ​ផ្ទៃ​តុ​
Name[ko]=데스크톱 모눈
Name[lv]=Darbvirsmas režģis
Name[nb]=Skrivebordsrutenett
Name[nds]=Schriefdisch-Gadder
Name[ne]=डेस्कटप ग्रिड
Name[nl]=Bureaubladraster
Name[nn]=Skrivebordsrutenett
Name[pa]=ਡੈਸਕਟਾਪ ਗਰਿੱਡ
Name[pl]=Siatka pulpitu
Name[pt]=Grelha de Ecrãs
Name[pt_BR]=Grade de Desktop
Name[se]=Čállinbeavderuvttodat
Name[sl]=Mreža namizij
Name[sr]=Мрежа радних површи
Name[sr@latin]=Mreža radnih površi
Name[sv]=Skrivbordsrutnät
Name[th]=เส้นกริดพื้นที่ทำงาน
Name[tr]=Masaüstü Izgarası
Name[uk]=Ґратка стільниці
Name[vi]=Lưới màn hình nền
Name[wa]=Glindisse do scribanne
Name[x-test]=xxDesktop Gridxx
Name[zh_CN]=桌面栅格
Name[zh_TW]=桌面格
