[Desktop Entry]
Name=Desktop Grid
Name[af]=Werkskerm rooster
Name[ar]=شبكية سطح المكتب
Name[be]=Сетка на працоўны стол
Name[bg]=Работен плот
Name[ca]=Graella de l'escriptori
Name[cs]=Mřížka plochy
Name[da]=Desktop-gitter
Name[de]=Arbeitsflächen-Umschalter (Raster)
Name[el]=Πλέγμα επιφάνειας εργασίας
Name[eo]=Labortabla krado
Name[es]=Rejilla del escritorio
Name[et]=Töölauavõrgustik
Name[eu]=Mahaigainaren sareta
Name[fa]=توری رومیزی
Name[fi]=Työpöydän ruudukko
Name[fr]=Bureau en grille
Name[fy]=Buroblêd roaster
Name[ga]=Greille na nDeasc
Name[gl]=Grella de escritorio
Name[gu]=ડેસ્કટોપ જાળી
Name[he]=רשת שולחנות עבודה
Name[hi]=डेस्कटॉप ग्रिड
Name[hu]=Rácsos elrendezés
Name[it]=Griglia dei Desktop
Name[ja]=デスクトップグリッド
Name[kk]=Үстел торы
Name[km]=ក្រឡា​ចត្រង្គ​ផ្ទៃ​តុ​
Name[ko]=데스크톱 모눈
Name[lv]=Darbvirsmas režģis
Name[nb]=Skrivebordsrutenett
Name[nds]=Schriefdisch-Gadder
Name[ne]=डेस्कटप ग्रिड
Name[nl]=Bureaubladraster
Name[nn]=Skrivebordsrutenett
Name[pa]=ਡੈਸਕਟਾਪ ਗਰਿੱਡ
Name[pl]=Siatka pulpitu
Name[pt]=Grelha de Ecrãs
Name[pt_BR]=Grade de Áreas de Trabalho
Name[ro]=Grilă birou
Name[ru]=Сетка рабочего стола
Name[se]=Čállinbeavderuvttodat
Name[sl]=Mreža namizij
Name[sr]=Мрежа површи
Name[sr@latin]=Mreža površi
Name[sv]=Skrivbordsrutnät
Name[tg]=Шабакаи мизи корӣ
Name[th]=เส้นกริดพื้นที่ทำงาน
Name[tr]=Masaüstü Izgarası
Name[uk]=Ґратка стільниці
Name[vi]=Lưới màn hình nền
Name[wa]=Glindisse do scribanne
Name[x-test]=xxDesktop Gridxx
Name[zh_CN]=桌面栅格
Name[zh_TW]=桌面格
Icon=preferences-system-windows-effect-desktop-grid
Comment=Desktop switcher that lays the desktops out in a grid
Comment[bg]=Превключване между работните плотове в мрежа
Comment[ca]=Commutador d'escriptori que disposa els escriptoris en una graella
Comment[da]=Desktop-skifter som ligger desktoppe ud i et gitter
Comment[de]=Zeigt alle Arbeitsflächen in einem gleichmäßigen Raster nebeneinander an.
Comment[el]=Εναλλαγή επιφάνειας εργασίας με τοποθέτηση των επιφανειών σε έναν κάνναβο
Comment[eo]=Labortabla ŝanĝilo kiu aranĝas la labortablojn en krado
Comment[es]=Alternador de escritorio que stúa los escritorios en una cuadrícula
Comment[et]=Töölauavahetaja, mis näitab töölaudu võrgustikus
Comment[fa]=سوده رومیزی که رومیزیها را به بیرون توری می‌کشد
Comment[fi]=Työpöydän vaihtaja, joka asettelee työpöydät ruudukoksi
Comment[fr]=Changement d'affichage du bureau qui affiche les bureaux dans une grille
Comment[fy]=Buroblêd wikseler dy de buroblêden neffens in roaster delleit
Comment[ga]=Malartóir deasc a leagann na deasca amach i ngreille
Comment[gl]=Troco de escritorio que dispón os escritorios nunha grella
Comment[gu]=ડેસ્કટોપ બદલનાર જે તમારા ડેસ્કટોપ પર જાળી બિછાવશે
Comment[he]=מחליף שולחנות עבודה שמסדר את שולחנות העבודה ברשת
Comment[hi]=डेस्कटॉप स्विचर जो डेस्कटॉप को ग्रिड में रखता है
Comment[hu]=Rácsos elrendezésű asztalváltó
Comment[it]=Scambia desktop che mostra i desktop in una griglia
Comment[ja]=デスクトップを格子状に並べるデスクトップスイッチャー
Comment[kk]=Үстелдерді тор бойынша орналастыратын үстел ауыстырғышы
Comment[km]=កម្មវិធី​ប្ដូរ​ផ្ទៃ​តុ​ដែល​អាច​​ក្រាល​ក្រឡាចត្រង្គ​នៅ​លើ​ផ្ទៃ​តុ
Comment[ko]=데스크톱을 모눈에 배치하는 데스크톱 전환기
Comment[lv]=Darbvirsmu pārslēdzējs, kas izvieto darbvirsmas režģī
Comment[nb]=Skrivebordsveksler som legger utskrivebordene i et rutenett
Comment[nds]=Wesseln vun Schriefdischen, de binnen en Gadder wiest warrt
Comment[ne]=डेस्कटप स्विचर जसले डेस्कटपलाई बाहिर ग्रिडमा राख्दछ
Comment[nl]=Bureaubladwisselaar die de bureaubladen in een raster indeelt
Comment[nn]=Ein skrivebordsbytar som viser skriveborda på eit rutenett
Comment[pa]=ਡੈਸਕਟਾਪ ਸਵਿੱਚਰ, ਜੋ ਕਿ ਗਰਿੱਡ 'ਚ ਡੈਸਕਟਾਪ ਆਉਟ ਰੱਖਦਾ ਹੈ
Comment[pl]=Przełączanie pulpitów, które umieszcza pulpity na siatce
Comment[pt]=Um selector de ecrãs que dispõe os ecrãs numa grelha
Comment[pt_BR]=Alternador de áreas de trabalho que coloca as áreas de trabalho em uma grade
Comment[ro]=Comutator de birouri ce așează birourile într-o grilă
Comment[se]=Čállinbeavdemolsojeaddji mii čájeha čállinbevddiid ruvttodahkan
Comment[sl]=Preklapljanje med namizji, ki razporedi namizja v mrežo
Comment[sr]=Пребацивање површи које даје површи поређане у мрежу
Comment[sr@latin]=Prebacivanje površi koje daje površi poređane u mrežu
Comment[sv]=Skrivbordsbyte som placerar skrivborden i ett rutnät
Comment[th]=ตัวสลับพื้นที่ทำงานที่วางพื้นที่ทำงานในเส้นกริด
Comment[tr]=Masaüstü seçici masaüstlerini bir ızgara şeklinde yerleştirir
Comment[uk]=Перемикач стільниці, який розкладає стільниці в ґратці
Comment[vi]=Bộ chuyển đổi màn hình nền có sắp đặt các màn hình nền theo lưới
Comment[x-test]=xxDesktop switcher that lays the desktops out in a gridxx
Comment[zh_CN]=把桌面放置在栅格中的桌面切换器
Comment[zh_TW]=將桌面以格狀佈局呈現的桌面切換器

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_desktopgrid
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
