[Desktop Entry]
Encoding=UTF-8
Name=Desktop Grid
Name[ar]=شبكية سطح المكتب
Name[be]=Сетка на працоўны стол
Name[bg]=Работен плот
Name[de]=Arbeitsflächen-Raster
Name[el]=Πλέγμα επιφάνειας εργασίας
Name[es]=Rejilla del escritorio
Name[fa]=توری رومیزی
Name[he]=רשת שולחנות עבודה
Name[ja]=デスクトップグリッド
Name[km]= ក្រឡា​ចត្រង្គ​ផ្ទៃ​តុ​
Name[nds]=Schriefdisch-Gadder
Name[ne]=डेस्कटप ग्रिड
Name[nl]=Bureaubladraster
Name[pa]=ਡੈਸਕਟਾਪ ਗਰਿੱਡ
Name[pt]=Grelha de Ecrãs
Name[pt_BR]=Grelha de Ecrãs
Name[sv]=Skrivbordsrutnät
Name[vi]=Lưới màn hình nền
Name[zh_TW]=桌面格
Icon=kwin-effect-desktopgrid
Comment=Desktop switcher that lays the desktops out in a grid
Comment[bg]=Превключване между работните плотове в мрежа
Comment[de]=Arbeitsflächenumschaltung (Fensteranordnung in einem Raster)
Comment[el]=Εναλλαγή επιφάνειας εργασίας με τοποθέτηση των επιφανειών σε έναν κάνναβο
Comment[fa]=سوده رومیزی که رومیزیها را به بیرون توری می‌کشد
Comment[he]=מחליף שולחנות עבודה שמסדר את שולחנות העבודה ברשת
Comment[ja]=デスクトップを格子状に並べるデスクトップスイッチャー
Comment[km]=កម្មវិធី​ប្ដូរ​ផ្ទៃ​តុ​ដែលអាច​​ក្រាល​ក្រឡាចត្រង្គ​នៅ​លើ​ផ្ទៃ​តុ
Comment[nds]=Wesseln vun Schriefdischen, de binnen en Gadder wiest warrt
Comment[ne]=डेस्कटप स्विचर जसले डेस्कटपलाई बाहिर ग्रिडमा राख्दछ
Comment[nl]=Bureaubladwisselaar die de bureaubladen in een raster indeelt
Comment[pt]=Um selector de ecrãs que dispõe os ecrãs numa grelha
Comment[pt_BR]=Um selector de ecrãs que dispõe os ecrãs numa grelha
Comment[sv]=Skrivbordsbyte som placerar skrivborden i ett rutnät
Comment[vi]=Bộ chuyển đổi màn hình nền có sắp đặt các màn hình nền theo lưới
Comment[zh_TW]=將桌面以格狀佈局呈現的桌面切換器

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_desktopgrid
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
