[Desktop Entry]
Name=Dialog Parent
Name[be]=Бацькоўскае акно
Name[bg]=Редактор на диалози
Name[ca]=Diàleg principal
Name[da]=Dialogens forældrevindue
Name[de]=Eltern-Dialog
Name[el]=Γονικός διάλογος
Name[eo]=Dialoga patro
Name[es]=Padre de la ventana
Name[et]=Dialoogi eellane
Name[eu]=Aita elkarrizketa
Name[fa]=پدر محاوره
Name[fi]=Isäikkuna
Name[fr]=Dialogue parent
Name[fy]=Dialooch eigner
Name[ga]=Máthairdialóg
Name[gl]=Pai do diálogo
Name[gu]=સંવાદ પિતૃ
Name[he]=חלונות־אב של תיבות דו־שיח
Name[hi]=मूल संवाद
Name[hu]=Párbeszédablak-tartó
Name[is]=Dekking undir valglugga
Name[it]=Genitore delle finestre di dialogo
Name[ja]=ダイアログの親
Name[kk]=Диалогтың аталығы
Name[km]=ប្រអប់​មេ​
Name[ko]=대화 상자 부모
Name[lv]=Dialoga vecāks
Name[nb]=Dialog-mor
Name[nds]=Överornt Finster
Name[ne]=प्रमूल संवाद
Name[nl]=Dialoogeigenaar
Name[nn]=Dialogforelder
Name[pa]=ਡਾਈਲਾਗ ਪੇਰੈਂਟ
Name[pl]=Rodzic okna dialogowego
Name[pt]=Pai da Janela
Name[pt_BR]=Diálogo Pai
Name[ro]=Părinte dialog
Name[se]=Lásešváhnen
Name[sl]=Matično okno
Name[sr]=Родитељ дијалога
Name[sr@latin]=Roditelj dijaloga
Name[sv]=Dialogrutors ägare
Name[th]=กล่องโต้ตอบหลัก
Name[tr]=İletişim Kutusu Sahibi
Name[uk]=Батьківське вікно
Name[vi]=Cha hộp thoại
Name[wa]=Parint del divize
Name[x-test]=xxDialog Parentxx
Name[zh_CN]=上层对话框
Name[zh_TW]=上層對話框
Icon=preferences-system-windows-effect-dialog-parent
Comment=Darkens parent windows of active dialogs
Comment[bg]=Потъмнение на главните от активните прозорци
Comment[ca]=Enfosqueix les finestres mares dels diàlegs actius
Comment[da]=Gør forældrevinduer til aktive dialoger mørke
Comment[de]=Dunkelt den Eltern-Dialog des aktiven Fensters ab
Comment[el]=Σκίαση γονικών παραθύρων των ενεργών διαλόγων
Comment[eo]=Malheligas patrajn fenestrojn de dialogoj
Comment[es]=Oscurece la ventana padre de los diálogos activos
Comment[et]=Tumendab aktiivsete dialoogide eellasaknad
Comment[eu]=Elkarrizketa-koadro aktiboen aita iluntzen du
Comment[fa]=پنجره‌های پدر محاوره‌های فعال را تیره می‌کند
Comment[fi]=Tummentaa aktiivisten ikkunoiden isäntä-ikkunat
Comment[fr]=Assombrit les fenêtres parent des fenêtres actives
Comment[fy]=Fertsjustert haadfinster fan aktive dialogen
Comment[ga]=Dorchaigh máthairfhuinneoga de dhialóga gníomhacha
Comment[gl]=Escurece a fiestra pai dos diálogos activos
Comment[gu]=સક્રિય સંવાદોની મુખ્ય વિન્ડોને ઘાટી કરે છે
Comment[he]=מחשיך חלונות־אב של תיבות דו־שיח פעילות
Comment[hi]=सक्रिय संवाद के मूल विंडो को गाढ़ा करता है
Comment[hu]=Elsötétíti az aktív párbeszédablakok szülőablakát
Comment[it]=Oscura le finestre genitore delle finestre di dialogo attive
Comment[ja]=アクティブなダイアログの親ウィンドウを暗くします
Comment[kk]=Белсенді диалогтардың аталық терезелерді күңгірттеп көрсету
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​មេ​នៃ​ប្រអប់​សកម្ម​ងងឹត​
Comment[ko]=활성 대화 상자의 부모 창을 어둡게 합니다
Comment[lv]=Satumšina aktīvo dialogu vecāku logus
Comment[nb]=Gjør mor-vinduet til en dialog mørkere
Comment[nds]=Maakt överornt Finstern vun aktiv Dialogen düüsterer
Comment[ne]=सक्रिय संवादको गाढा प्यारेन्ट सञ्झ्याल
Comment[nl]=Maakt het venter dat bij het actieve dialoog hoort donkerder
Comment[nn]=Gjer foreldervindauge til aktive dialogvindauge mørkare
Comment[pa]=ਸਰਗਰਮ ਡਾਈਲਾਗ ਦਾ ਡਾਕਿਨਜ਼ ਪੇਰੈਂਟ ਝਰੋਖੇ
Comment[pl]=Przyciemnia okna rodziców aktywnych okien dialogowych
Comment[pt]=Esconde as janelas-mães das janelas activas
Comment[pt_BR]=Escurece as janelas pai dos diálogos ativos
Comment[ro]=Întunecă ferestrele-părinte ale dialogurilor active
Comment[se]=Sevnjodahte aktiivalaš lásežiid váhnenlásiid
Comment[sl]=Potemni matično okno za aktivno pogovorno okno
Comment[sr]=Затамњује родитељски прозор активног дијалога
Comment[sr@latin]=Zatamnjuje roditeljski prozor aktivnog dijaloga
Comment[sv]=Gör fönster som äger aktiva dialogrutor mörkare
Comment[th]=ทำให้หน้าต่างหลักมืดลงจากกล่องตอบโต้ที่ใช้อยู่
Comment[tr]=Etkin iletişim kutularının sahibi olan pencereleri koyulaştırır
Comment[uk]=Затемнює батьківські вікна активних діалогів
Comment[vi]=Làm tối cửa sổ cha của các hộp thoại hoạt động
Comment[wa]=Fwait pus noer les purneas parint des activès dvizes
Comment[x-test]=xxDarkens parent windows of active dialogsxx
Comment[zh_CN]=将当前激活对话框的父窗口变暗
Comment[zh_TW]=將目前對話框的父視窗變暗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_dialogparent
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=70
