[Desktop Entry]
Encoding=UTF-8
Name=Dialog Parent
Name[de]=Eltern-Dialog
Icon=kwin-effect-dialogparent
Comment=Darkens parent windows of active dialogs
Comment[de]=Dunkelt den Eltern-Dialog des aktiven Fensters ab
Comment[zh_TW]=將目前對話框的父視窗變暗

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_dialogparent
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
