[Desktop Entry]
Name=Dim Inactive
Name[bg]=Замъгляване на неактивния
Name[ca]=Apaga les inactives
Name[de]=Inaktive abdunkeln
Name[el]=Θαμπάδα ανενεργού
Name[eo]=Malheligi neaktivajn
Name[es]=Oscurecer inactiva
Name[et]=Tuhm mitteaktiivne
Name[fi]=Himmennä passiivinen
Name[fy]=Net aktive dimme
Name[ga]=Dorchaigh Fuinneoga Neamhghníomhacha
Name[gl]=Escurecer as inactivas
Name[he]=עמעם חלונות לא פעילים
Name[hi]=असक्रिय मंद करें
Name[hu]=Inaktív ablakok kiszürkítése
Name[ja]=非アクティブを暗く
Name[kk]=Белсенді еместі күңгірттеу
Name[km]=Dim អសកម្ម
Name[lv]=Tumšināt neaktīvos
Name[nb]=Mørklegg inaktive
Name[nds]=Nich aktive bedüüstern
Name[ne]=मलिन असक्रियता
Name[nl]=Inactief dimmen
Name[nn]=Mørklegg inaktive
Name[pa]=Dim ਨਾ-ਸਰਗਰਮ
Name[pl]=Przyciemnienie nieaktywnych
Name[pt]=Escurecer as Inactivas
Name[pt_BR]=Escurecer Inativa
Name[se]=Sevnjodahte ii-aktiivalaš lasiid
Name[sl]=Potemni neaktivno
Name[sr]=Пригушени неактивни
Name[sr@latin]=Prigušeni neaktivni
Name[sv]=Dämpa inaktiva
Name[th]=ลดความสว่างหน้าต่างที่ไม่ได้ใช้
Name[uk]=Затемнити неактивне
Name[vi]=Mờ đi bị động
Name[wa]=Dim essocté
Name[x-test]=xxDim Inactivexx
Name[zh_CN]=暗淡未激活
Icon=preferences-system-windows-effect-dim-inactive
Comment=Darkens inactive windows
Comment[bg]=Потъмнява неактивните прозорци
Comment[ca]=Enfosqueix les finestres inactives
Comment[cs]=Ztmavuje neaktivní okna
Comment[de]=Dunkelt inaktive Fenster ab
Comment[el]=Σκίαση μη ενεργών παραθύρων
Comment[eo]=Malheligas neaktivajn fenestrojn
Comment[es]=Oscurece las ventanas no activas
Comment[et]=Tumendab mitteaktiivsed aknad
Comment[fa]=پنجره‌های غیرفعال را تیره می‌کند
Comment[fi]=Tummentaa passiiviset ikkunat
Comment[fy]=Fertsjustert ynaktive finsters
Comment[ga]=Dorchaigh na fuinneoga neamhghníomhacha
Comment[gl]=Escurece as fiestras inactivas
Comment[he]=עימעום חלונות לא פעילים
Comment[hi]=असक्रिय विंडो को गाढ़ा करता है
Comment[hu]=Elsötétíti az inaktív ablakokat
Comment[it]=Oscura le finestre inattive
Comment[ja]=非アクティブなウィンドウを暗くします
Comment[kk]=Белсенді емес терезелерді күңгірттеп көрсету
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​អសកម្ម​ងងឹត​
Comment[lv]=Patumšina neaktīvos logus
Comment[nb]=Mørklegger inaktive vinduer
Comment[nds]=Maakt nich aktive Finstern düüsterer
Comment[ne]=गाढा असक्रिय सञ्झ्याल
Comment[nl]=Maakt inactieve vensters donkerder
Comment[nn]=Gjer inaktive vindauge mørkare
Comment[pa]=ਗ਼ੈਰ-ਐਕਟਿਵ ਵਿੰਡੋ ਗੂੜੀਆਂ ਕਰੋ
Comment[pl]=Przyciemnienie nieaktywnych okien
Comment[pt]=Torna as janelas inactivas mais escuras
Comment[pt_BR]=Escurece as janelas inativas
Comment[se]=Sevnjodahtá ii-aktiivalaš lásiid
Comment[sl]=Potemni neaktivna okna
Comment[sr]=Затамњује неактивне прозоре
Comment[sr@latin]=Zatamnjuje neaktivne prozore
Comment[sv]=Gör inaktiva fönster mörkare
Comment[th]=ทำให้หน้าต่างที่ไม่ได้ใช้มืดลง
Comment[uk]=Затемнює неактивні вікна
Comment[vi]=Làm tối các cửa sổ không hoạt động
Comment[x-test]=xxDarkens inactive windowsxx
Comment[zh_CN]=将未激活窗口变暗
Comment[zh_TW]=將不使用的視窗變暗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_diminactive
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Category[ca]=Accessibilitat
X-KDE-PluginInfo-Category[de]=Zugangshilfen
X-KDE-PluginInfo-Category[el]=Προσβασιμότητα
X-KDE-PluginInfo-Category[eo]=Alirebleco
X-KDE-PluginInfo-Category[et]=Hõlbustus
X-KDE-PluginInfo-Category[ga]=Inrochtaineacht
X-KDE-PluginInfo-Category[hu]=Kezelési segítség
X-KDE-PluginInfo-Category[ja]=アクセシビリティ
X-KDE-PluginInfo-Category[km]=មធ្យោបាយ​ងាយស្រួល
X-KDE-PluginInfo-Category[lv]=Pieejamība
X-KDE-PluginInfo-Category[nb]=Tilgjengelighet
X-KDE-PluginInfo-Category[nds]=Behinnertenhülp
X-KDE-PluginInfo-Category[nl]=Toegankelijkheid
X-KDE-PluginInfo-Category[pa]=ਸਹੂਲਤਾਂ
X-KDE-PluginInfo-Category[pl]=Dostępność
X-KDE-PluginInfo-Category[pt]=Acessibilidade
X-KDE-PluginInfo-Category[pt_BR]=Acessibilidade
X-KDE-PluginInfo-Category[se]=Álkkibut geavaheapmi
X-KDE-PluginInfo-Category[sl]=Dostopnost
X-KDE-PluginInfo-Category[sr]=Приступачност
X-KDE-PluginInfo-Category[sr@latin]=Pristupačnost
X-KDE-PluginInfo-Category[sv]=Handikappstöd
X-KDE-PluginInfo-Category[uk]=Доступність
X-KDE-PluginInfo-Category[wa]=Accessibilité
X-KDE-PluginInfo-Category[x-test]=xxAccessibilityxx
X-KDE-PluginInfo-Category[zh_CN]=辅助功能
X-KDE-PluginInfo-Category[zh_TW]=無障礙輔助
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
