[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_diminactive
X-KDE-PluginKeyword=diminactive

Name=Dim Inactive
Name[bg]=Замъгляване на неактивния
Name[ca]=Apaga les inactives
Name[de]=Inaktive abdunkeln
Name[el]=Θαμπάδα ανενεργού
Name[eo]=Malheligi neaktivajn
Name[es]=Oscurecer inactiva
Name[et]=Tuhm mitteaktiivne
Name[fi]=Himmennä passiivinen
Name[fy]=Net aktive dimme
Name[ga]=Dorchaigh Fuinneoga Neamhghníomhacha
Name[he]=עמעם חלונות לא פעילים
Name[hi]=असक्रिय मंद करें
Name[hu]=Inaktív ablakok kiszürkítése
Name[ja]=非アクティブを暗く
Name[kk]=Белсенді еместі күңгірттеу
Name[km]=Dim អសកម្ម
Name[lv]=Tumšināt neaktīvos
Name[nb]=Mørklegg inaktive
Name[nds]=Nich aktive bedüüstern
Name[ne]=मलिन असक्रियता
Name[nl]=Inactief dimmen
Name[nn]=Mørklegg inaktive
Name[pa]=Dim ਨਾ-ਸਰਗਰਮ
Name[pl]=Przyciemnienie nieaktywnych
Name[pt]=Escurecer as Inactivas
Name[pt_BR]=Escurecer Inativa
Name[se]=Sevnjodahte ii-aktiivalaš lasiid
Name[sl]=Potemni neaktivno
Name[sr]=Пригушени неактивни
Name[sr@latin]=Prigušeni neaktivni
Name[sv]=Dämpa inaktiva
Name[th]=ลดความสว่างหน้าต่างที่ไม่ได้ใช้
Name[vi]=Mờ đi bị động
Name[wa]=Dim essocté
Name[x-test]=xxDim Inactivexx
Name[zh_CN]=暗淡未激活
