[Desktop Entry]
Name=Dim Inactive
Name[af]=Verdof wanneer onaktief
Name[bg]=Замъгляване на неактивния
Name[ca]=Apaga les inactives
Name[cs]=Ztmavit neaktivní
Name[da]=Gør inaktiv mat
Name[de]=Inaktive abdunkeln
Name[el]=Θαμπάδα ανενεργού
Name[eo]=Malheligi neaktivajn
Name[es]=Oscurecer inactiva
Name[et]=Tuhm mitteaktiivne
Name[fi]=Himmennä passiivinen
Name[fr]=Estompe les inactifs
Name[fy]=Net aktive dimme
Name[ga]=Dorchaigh Fuinneoga Neamhghníomhacha
Name[gl]=Escurecer as inactivas
Name[gu]=અસક્રિય ઝાંખી
Name[he]=עמעם חלונות לא פעילים
Name[hi]=असक्रिय मंद करें
Name[hu]=Inaktív ablakok kiszürkítése
Name[it]=Oscura inattive
Name[ja]=非アクティブを暗く
Name[kk]=Белсенді еместі күңгірттеу
Name[km]=បន្ថយ​ពន្លឺ​នៅពេល​អសកម្ម
Name[kn]=ನಿಷ್ಕ್ರಿಯವಾದದ್ದನ್ನು  ಮಂಕಾಗಿಸು
Name[ko]=비활성 창 어둡게
Name[lt]=Užtemdyti neaktyvius
Name[lv]=Tumšināt neaktīvos
Name[ml]=നിര്‍ജ്ജീവമായവ മറയ്ക്കുക
Name[mr]=Dim असक्रियता
Name[nb]=Mørklegg inaktive
Name[nds]=Nich aktive bedüüstern
Name[ne]=मलिन असक्रियता
Name[nl]=Inactief dimmen
Name[nn]=Mørklegg inaktive
Name[pa]=Dim ਨਾ-ਸਰਗਰਮ
Name[pl]=Przyciemnienie nieaktywnych
Name[pt]=Escurecer as Inactivas
Name[pt_BR]=Escurecer Inativa
Name[ro]=Împăienjenire inactive
Name[ru]=Затемнение отключено
Name[se]=Sevnjodahte ii-aktiivalaš lasiid
Name[sl]=Potemnitev neaktivnega
Name[sr]=Пригушени неактивни
Name[sr@latin]=Prigušeni neaktivni
Name[sv]=Dämpa inaktiva
Name[te]=Dim క్రియాహీనం
Name[th]=ลดความสว่างหน้าต่างที่ไม่ได้ใช้
Name[tr]=Pasifleri Koyulaştır
Name[uk]=Затемнити неактивне
Name[vi]=Mờ đi bị động
Name[wa]=Dim essocté
Name[x-test]=xxDim Inactivexx
Name[zh_CN]=暗淡未激活窗口
Icon=preferences-system-windows-effect-dim-inactive
Comment=Darken inactive windows
Comment[el]=Σκίαση μη ενεργών παραθύρων
Comment[gl]=Escurece as fiestras inactivas
Comment[gu]=અસક્રિય વિન્ડોને ઘાટી બનાવે છે
Comment[he]=החשך חלונות לא פעילים
Comment[kk]=Белсенді емес терезелерді күңгірттеп көрсету
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​អសកម្ម​ងងឹត​
Comment[kn]=ನಿಷ್ಕ್ರಿಯ ಕಿಟಕಿಗಳನ್ನು ಮಂಕಾಗಿಸು
Comment[nb]=Mørklegg inaktive vinduer
Comment[nds]=Nich aktive Finstern düüsterer maken
Comment[pt]=Escurecer as janelas inactivas
Comment[pt_BR]=Escurecer as janelas inactivas
Comment[ro]=Întunecă ferestrele inactive
Comment[sv]=Gör inaktiva fönster mörkare
Comment[tr]=Etkin olmayan pencereleri koyulaştır
Comment[uk]=Затемнює неактивні вікна
Comment[x-test]=xxDarken inactive windowsxx
Comment[zh_TW]=將不使用的視窗變暗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_diminactive
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Focus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
