[Desktop Entry]
Encoding=UTF-8
Name=Dim Inactive
Name[de]=Inaktive abdunkeln
Name[el]=Θαμπάδα ανενεργού
Name[ja]=非アクティブを暗く
Name[km]=Dim អសកម្ម
Name[nds]=Nich aktive bedüüstern
Name[nl]=Inactief dimmen
Name[pa]=Dim ਨਾ-ਸਰਗਰਮ
Name[pt]=Escurecer as Inactivas
Name[pt_BR]=Escurecer as Inactivas
Name[sv]=Dämpa inaktiva
Icon=kwin-effect-diminactive
Comment=Darkens inactive windows
Comment[de]=Dunkelt inaktive Fenster ab
Comment[el]=Σκίαση μη ενεργών παραθύρων
Comment[fa]=پنجره‌های غیرفعال را تیره می‌کند
Comment[ja]=非アクティブなウィンドウを暗くします
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​អសកម្ម​ងងឹត​
Comment[nds]=Maakt nich aktive Finstern düüsterer
Comment[nl]=Maakt inactieve vensters donkerder
Comment[pt]=Torna as janelas inactivas mais escuras
Comment[pt_BR]=Torna as janelas inactivas mais escuras
Comment[sv]=Gör inaktiva fönster mörkare
Comment[zh_TW]=將不使用的視窗變暗

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_diminactive
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
