[Desktop Entry]
Name=Dim Screen for Administrator Mode
Name[af]=Verdof vir Administrateurmodus
Name[ca]=Apaga la pantalla pel mode administrador
Name[cs]=Ztmavit obrazovku v administrátorském režimu
Name[da]=Dæmp skærmen til administratortilstand
Name[de]=Bildschirm für Systemverwaltungsmodus abdunkeln
Name[el]=Θάμπωμα οθόνης σε λειτουργία διαχειριστή
Name[eo]=Malheligi la ekranon en administra reĝimo
Name[es]=Aclarar la pantalla en el modo administrador
Name[et]=Tuhm ekraan administraatori režiimis
Name[fi]=Tummena näyttö pääkäyttäjätilassa
Name[fr]=Assombrir l'écran en mode administrateur
Name[fy]=Yn administratormodus it skerm dimme
Name[ga]=Doiléirigh an Scáileán i Mód an Riarthóra
Name[gl]=Escurecer a pantalla no modo de administración
Name[gu]=સંચાલક સ્થિતિ માટે ઝાંખો સ્ક્રિન
Name[he]=עמעם מסך למצב מנהל
Name[hu]=Halványított képernyő rendszergazdai módban
Name[it]=Oscura lo schermo per la modalità amministratore
Name[ja]=管理者モードでスクリーンを暗く
Name[kk]=Әкімші режімде экранды күңгірттеп көрсету
Name[km]=បន្ថយ​ពន្លឺ​អេក្រង់ សម្រាប់​របៀប​ជា​អ្នក​គ្រប់គ្រង
Name[kn]=ನಿರ್ವಾಹಕ ವಿಧಾನದಲ್ಲಿ (ಅ ಡ್ಮಿನಿಸ್ಟ್ರೇಟರ್ ಮೋಡ್) ತೆರೆಯನ್ನು ಮಂಕಾಗಿಸು
Name[ko]=관리자 모드에서 화면 어둡게 하기
Name[lt]=Užtemdyti ekraną administratoriaus veiksenai
Name[lv]=Aptumšināt ekrānu, pieprasot administratora tiesības
Name[ml]=അഡ്മിനിസ്ട്രേറ്റര്‍ മോഡില്‍ സ്ക്രീന്‍ തെളിച്ചം കുറയ്ക്കല്‍
Name[mr]=प्रशासक पद्धती करीता मंद पडदा
Name[nb]=Demp skjermen i administratormodus
Name[nds]=In Systeemplegerbedrief Schirm bedüüstern
Name[nl]=Scherm dimmen voor administratormodus
Name[nn]=Demp skjerm i administratormodus
Name[pa]=ਪਰਸ਼ਾਸ਼ਕੀ ਮੋਡ ਵਿੱਚ ਸਕਰੀਨ ਡਿਮ ਕਰੋ
Name[pl]=Przyciemniony ekran w trybie administratora
Name[pt]=Escurecer o Ecrã para o Modo de Administração
Name[pt_BR]=Escurece a Tela para o Modo Administrador
Name[ro]=Împăienjenește ecranul pentru Regimul administrator
Name[sl]=Potemnitev za geslo skrbnika
Name[sr]=Пригуши екран за администраторски режим
Name[sr@latin]=Priguši ekran za administratorski režim
Name[sv]=Dämpa skärmen vid administratörsläge
Name[te]=నిర్వాహక రీతికొరకు తెరను డిమ్ చేస్తుంది
Name[th]=ทำให้หน้าจอมืดลงสำหรับใช้ในโหมดผู้ดูแลระบบ
Name[tr]=Yönetici Kipinde Ekranı Dondur
Name[uk]=Тьмяний екран для режиму адміністратора
Name[x-test]=xxDim Screen for Administrator Modexx
Name[zh_CN]=进入管理员模式时暗淡屏幕
Name[zh_TW]=在管理者模式下將螢幕變暗
Icon=preferences-system-windows-effect-dimscreen
Comment=Darkens the entire screen when requesting root privileges
Comment[el]=Σκίαση ολόκληρης της οθόνης όταν απαιτούνται διακαιώματα ριζικού χρήστη root
Comment[gl]=Escurece toda a pantalla cando se piden os privilexios de root
Comment[gu]=જ્યારે રૂટ હક્ક માંગવામાં આવે ત્યારે આખા સ્ક્રિનને ઘેરો બનાવે છે
Comment[he]=החשך את המסך כולו כאשר מבקשים גישת root
Comment[kk]=root құқығын сұрағанда бүкіл экранды күңгірттеу
Comment[km]=ធ្វើ​ឲ្យ​អេក្រង់ទាំងមូល​ងងឹត​នៅពេល​បង្ហាញ​សិទ្ធិជា​ root
Comment[kn]=ನಿರ್ವಾಹಕ ಸವಲತ್ತುಗಳನ್ನು ಕೇಳುವಾಗ ಇಡೀ ತೆರೆಯನ್ನು ಮಂಕಾಗಿಸುತ್ತದೆ
Comment[nb]=Mørklegger hele skjermen når det spørres etter root-privilegier
Comment[nds]=Maakt den helen Schirm düüsterer, wenn na Systeempleger-Verlöven fraagt warrt
Comment[pt]=Escurece o ecrã inteiro ao pedir permissões de administração
Comment[pt_BR]=Escurece o ecrã inteiro ao pedir permissões de administração
Comment[ro]=Întunecă întregul ecran la cererea privilegiilor de root
Comment[sv]=Gör hela skärmen mörkare när administratörsrättigheter begärs
Comment[tr]=Yönetici hakları isteğinde bulunulduğunda ekranı koyulaştırır
Comment[uk]=Робить тьмяним весь екран, якщо надходить запит на привілеї адміністратора
Comment[x-test]=xxDarkens the entire screen when requesting root privilegesxx
Comment[zh_TW]=當請求 root 權限時把整個螢幕變暗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_dimscreen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Focus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
