[Desktop Entry]
Encoding=UTF-8
Name=Drunken
Name[de]=Betrunken
Name[el]=Κούνημα
Name[es]=Borracho
Name[ja]=酔っぱらい
Name[km]=ធ្វើ​ឲ្យ​ងងឹត​
Name[nds]=Duun
Name[nl]=Dronken
Name[pt]=Bêbado
Name[pt_BR]=Bêbado
Name[sv]=Drucken
Icon=kwin-effect-drunken

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_drunken
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Demos
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
X-Ordering=50
