[Desktop Entry]
Name=Explosion
Name[af]=Ontploffing
Name[be@latin]=Vybuch
Name[br]=Tarzhad
Name[ca]=Explosió
Name[cs]=Exploze
Name[csb]=Wëbùch
Name[da]=Eksplosion
Name[el]=Έκρηξη
Name[eo]=Eksplodo
Name[es]=Explosión
Name[et]=Plahvatus
Name[fa]=انفجار
Name[fi]=Räjähdys
Name[fy]=Ekplosy
Name[gl]=Explosión
Name[gu]=ધડાકો
Name[he]=התפוצצות
Name[hi]=विस्फोटक
Name[hu]=Robbanás
Name[is]=Sprengja
Name[it]=Esplosione
Name[ja]=爆発
Name[kk]=Жарылыс
Name[km]=ការផ្ទុះ
Name[kn]=ಸ್ಫೋಟ
Name[ko]=폭발
Name[ku]=Teqîn
Name[lt]=Sprogimas
Name[lv]=Eksplozija
Name[mk]=Експлозија
Name[ml]=പൊട്ടിത്തെറി
Name[mr]=विस्फोटक
Name[nb]=Eksplosjon
Name[nds]=Exploschoon
Name[ne]=विष्पोटन
Name[nl]=Explosie
Name[nn]=Eksplosjon
Name[pa]=ਧਮਾਕਾ
Name[pl]=Wybuch
Name[pt]=Explosão
Name[pt_BR]=Explosão
Name[ro]=Explozie
Name[ru]=Взрыв
Name[se]=Eksplošuvdna
Name[sl]=Eksplozija
Name[sr]=Експлозија
Name[sr@latin]=Eksplozija
Name[te]=ఎక్‍స్ ప్లోజన్
Name[th]=ระเบิด
Name[tr]=Patlama
Name[uk]=Вибух
Name[vi]=Nổ bung
Name[wa]=Esplôzaedje
Name[x-test]=xxExplosionxx
Name[zh_CN]=爆炸
Name[zh_TW]=爆炸
Icon=preferences-system-windows-effect-explosion
Comment=Make windows explode when they are closed
Comment[be@latin]=Vokny začyniajucca z vybucham.
Comment[el]=Έκρηξη των παραθύρων κατά το κλείσιμό τους
Comment[gl]=Estoupa as fiestras cando se pechan
Comment[gu]=જ્યારે વિન્ડો બંધ થાય છે ત્યારે તેમને ધડાકાભેર બંધ કરે છે
Comment[he]=פוצץ חלונות בעת סגירתם
Comment[kk]=Жабылатын терезе жарылып кетіріледі
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​ផុស​ចេញ​ពេល​បិទ​ពួក​វា​
Comment[kn]=ಕಿಟಕಿಗಳನ್ನು ಮುಚ್ಚಿದಾಗ ಅವು ಸಿಡಿಯುವಂತೆ ಮಾಡುತ್ತದೆ
Comment[nb]=Gjør at vinduer som lukkes, eksploderer
Comment[nds]=Finstern bi't Tomaken exploderen laten
Comment[pt]=Fazer as janelas explodir ao serem fechadas
Comment[pt_BR]=Fazer as janelas explodir ao serem fechadas
Comment[ro]=Face ferestrele să explodeze cînd sînt închise
Comment[sv]=Gör att fönster exploderar när de stängs
Comment[tr]=Kapatılırken pencerelere patlama efekti ver
Comment[uk]=Робить так, щоб вікна при закритті вибухали
Comment[x-test]=xxMake windows explode when they are closedxx
Comment[zh_TW]=視窗關閉時讓視窗「爆炸」

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_explosion
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
