[Desktop Entry]
Encoding=UTF-8
Name=Explosion
Name[csb]=Wëbùch
Name[el]=Έκρηξη
Name[es]=Explosión
Name[nds]=Exploschoon
Name[nl]=Explosie
Name[zh_TW]=爆炸
Icon=kwin-effect-explosion
Comment=Makes windows explode when they're closed
Comment[de]=Lässt Fenster beim Schließen explodieren
Comment[el]=Έκρηξη των παραθύρων κατά το κλείσιμο
Comment[es]=Hace que las ventanas exploten al cerrarlas
Comment[nds]=Finstern explodeert bi't Tomaken
Comment[nl]=Laat vensters uit elkaar spatten als ze worden gesloten
Comment[sv]=Gör att fönster exploderar när de stängs
Comment[zh_TW]=視窗關閉時讓視窗「爆炸」

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_explosion
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
