[Desktop Entry]
Name=Fade
Name[af]=Vervaag
Name[be]=Павольнае знікненне
Name[ca]=Apagat gradual
Name[da]=Udtone
Name[de]=Verblassen
Name[el]=Ομαλή εμφάνιση
Name[eo]=Dissolvi
Name[es]=Fundido
Name[et]=Hääbumine
Name[eu]=Iraungi
Name[fa]=محو کردن
Name[fi]=Himmennä
Name[fr]=Fondu
Name[fy]=Litte ferfage
Name[ga]=Céimnigh
Name[gl]=Esvair
Name[gu]=પીગળવું
Name[he]=חשיפה והיעלמות
Name[hi]=फीका
Name[hu]=Fokozatos átmenet
Name[is]=Þynna út
Name[it]=Svanisci
Name[ja]=フェード
Name[kk]=Біртіндеп
Name[km]=លេច​បន្តិច​ម្ដងៗ​
Name[kn]=ಮಾಸು/ಮಸುಕುಗೊಳಿಸು
Name[ko]=페이드
Name[lv]=Izdzist
Name[nb]=Ton ut
Name[nds]=Utblennen
Name[ne]=फेड
Name[nl]=Vervagen
Name[nn]=Ton inn/ut
Name[pa]=ਫਿੱਕਾ
Name[pl]=Znikanie/wyłanianie
Name[pt]=Desvanecer
Name[ro]=Decolorare
Name[se]=Rievdat šearratvuođa
Name[sl]=Pojavljanje in pojemanje
Name[sr]=Утапање
Name[sr@latin]=Utapanje
Name[sv]=Tona
Name[th]=ค่อย ๆ ชัด/ค่อย ๆ จางหาย
Name[tr]=Kaybolma
Name[uk]=Згасання
Name[uz]=Soʻnish
Name[uz@cyrillic]=Сўниш
Name[vi]=Mờ dần
Name[wa]=Blåwe
Name[x-test]=xxFadexx
Name[zh_CN]=淡入淡出
Name[zh_TW]=淡出
Icon=preferences-system-windows-effect-fade
Comment=Makes windows smoothly fade in/out when they are shown or hidden
Comment[af]=Laat vensters egalig vervaag/verhelder met verberging of vertoning
Comment[ca]=Fa que les finestres s'encenguin/apaguin de manera gradual quan es mostren o s'oculten
Comment[de]=Blendet Fenster beim Öffnen/Schließen langsam ein bzw. aus.
Comment[el]=Κάνει τα παράθυρα να εμφανίζονται/αποκρύπτονται ομαλά
Comment[eo]=Fenestroj glate maldissolvi/fordissolvi kiam ili videbliĝas aŭ kaŝiĝas
Comment[et]=Paneb aknad sujuvalt hääbuma või tugevnema, kui need peidetakse või nähtavale tuuakse
Comment[fi]=Ikkunat tulevat näkyviin tai poistuvat näkyvistä pehmeästi häivyttäen
Comment[fr]=Les fenêtres s'estompent ou apparaissent en fondu lorsqu'elles sont affichées ou cachées
Comment[ga]=Leis seo, céimneoidh fuinneoga isteach/amach agus iad á dtaispeáint nó á bhfolú
Comment[gu]=જ્યારે વિન્ડો બતાવવામાં અથવા છુપાવવામાં આવે છે ત્યારે તેમને સરળતાથી ઝાંખી અથવા પ્રકાશિત કરે છે
Comment[ja]=ウィンドウの表示/非表示を切り替えるときに滑らかにフェードイン/フェードアウトします
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​លេច​បន្តិច​ម្តង​/លិចបន្តិច​ម្តង​យ៉ាង​រលូន ពេល​ពួក​វា​ត្រូវ​បាន​បង្ហាញ ឬ​លាក់
Comment[ko]=창이 보여지거나 감춰질 때 부드러운 페이드 인/아웃 사용하기
Comment[lv]=Liek logiem vienmērīgi izdzist/parādīties, kad tos parāda vai noslēpj 
Comment[nds]=Finstern warrt bi't Wiesen oder Versteken week in- oder utblendt.
Comment[pt]=Faz com que as janelas apareçam/desapareçam suavemente quando aparecem ou ficam escondidas
Comment[pt_BR]=Faz as janelas aparecerem/desaparecerem suavemente quando são exibidas ou ocultadas
Comment[ro]=Face ferestrele să se (de)coloreze cînd sînt afișate sau ascunse
Comment[sl]=Okna se prikažejo in izginejo postopoma
Comment[sr]=Прозори глатко израњају и утапају се при појављивању и сакривању
Comment[sr@latin]=Prozori glatko izranjaju i utapaju se pri pojavljivanju i sakrivanju
Comment[sv]=Gör att fönster mjukt tonas in eller ut när de visas eller döljs
Comment[th]=ทำให้หน้าต่างค่อย ๆ ชัดหรือค่อย ๆ จางหายเมื่อมีการแสดงหรือซ่อนหน้าต่าง
Comment[tr]=Pencereleri görünürken soldurur, gizli iken belirginleştirir
Comment[uk]=Робить так, щоб вікна плавно з'являлись / зникали, коли вони показуються або ховаються
Comment[x-test]=xxMakes windows smoothly fade in/out when they are shown or hiddenxx
Comment[zh_CN]=当窗口被显示或者隐藏时，使窗口平滑地淡入淡出
Comment[zh_TW]=顯示或隱藏視窗時以淡入/淡出方式呈現

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner
X-KDE-PluginInfo-Email=philip.falkner@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_fade
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=60
