[Desktop Entry]
Name=Fade
Name[be]=Павольнае знікненне
Name[ca]=Apagat gradual
Name[de]=Verblassen
Name[el]=Ομαλή εμφάνιση
Name[eo]=Dissolvi
Name[es]=Fundido
Name[et]=Hääbumine
Name[eu]=Iraungi
Name[fa]=محو کردن
Name[fi]=Himmennä
Name[fy]=Litte ferfage
Name[ga]=Céimnigh
Name[he]=חשיפה והיעלמות
Name[hi]=फीका
Name[hu]=Fokozatos átmenet
Name[ja]=フェード
Name[kk]=Біртіндеп
Name[km]=លេច​បន្តិច​ម្ដងៗ​
Name[lv]=Izdzist
Name[nb]=Ton ut
Name[nds]=Utblennen
Name[ne]=फेड
Name[nl]=Vervagen
Name[nn]=Ton inn/ut
Name[pa]=ਫਿੱਕਾ
Name[pl]=Znikanie/wyłanianie
Name[pt]=Desvanecer
Name[sr]=Утапање
Name[sr@latin]=Utapanje
Name[sv]=Tona
Name[th]=จางหาย
Name[vi]=Mờ dần
Name[x-test]=xxFadexx
Name[zh_CN]=淡入淡出
Name[zh_TW]=淡出
Icon=preferences-system-windows-effect-fade
Comment=Makes windows smoothly fade in/out when they're shown or hidden
Comment[bg]=Постепенно избледняване при показване/скриване на прозорците
Comment[ca]=Fa que les finestres s'encenguin/apaguin de manera gradual quan es mostren o s'oculten
Comment[de]=Blendet Fenster beim Öffnen/Schließen langsam ein bzw. aus.
Comment[el]=Κάνει τα παράθυρα να εμφανίζονται/αποκρύπτονται ομαλά
Comment[eo]=Fenestroj glate maldissolvi/fordissolvi kiam ili videbliĝas aŭ kaŝiĝas
Comment[es]=Hace que las ventanas aparezcan suavemente o se desvanezcan al mostrarlas u ocultarlas
Comment[et]=Paneb aknad sujuvalt hääbuma või tugevnema, kui need peidetakse või nähtavale tuuakse
Comment[fa]=پنجره‌ها را هنگام نمایش یا مخفی شدن، به صورت هموار به درون/بیرون محو می‌کند
Comment[fi]=Ikkunat tulevat näkyviin tai poistuvat näkyvistä hitaasti.
Comment[fy]=Lit finters útstrutsen ferfage of opkomme as se te sjen binne of ferstoppe wurde
Comment[he]=חשיפה והיעלמות חלקה של חלונות בעת הצגתם או הסתרתם
Comment[hi]=जब विंडो को दिखाया या छुपाया जाता है तो उन्हें यह धीरे से फ़ीका करता है
Comment[hu]=Ablak elrejtése vagy megjelenése esetén folyamatosan áttűnő eredményt ad
Comment[it]=Fa svanire e comparire gradualmente le finestre quando sono mostrate o nascoste
Comment[ja]=ウィンドウの表示/非表示を切り替えるときに滑らかにフェードイン/フェードアウトします
Comment[kk]=Терезелерді көрсету/жасыруды біртіндеп пайда болу/ғайып ету
Comment[km]=ធ្វើ​ឲ្យ​បង្អួច​លេច​បន្តិច​ម្តង​/លិចបន្តិច​ម្តង​យ៉ាង​រលូន ពេល​ពួក​វា​ត្រូវ​បាន​បង្ហាញ ឬ​លាក់
Comment[lv]=Liek logiem vienmērīgi izdzist/parādīties, kad tos parāda vai noslēpj 
Comment[nb]=Gjør at vinduer toner inn/ut jevnt når de vises eller skjules
Comment[nds]=Finstern warrt bi't Wiesen oder Versteken week in- oder utblendt.
Comment[ne]=सञ्झ्यालहरू देखिँदा वा लुक्दा महीन रूपमा फेड इन/आउट गर्नुहोस्
Comment[nl]=Laat vensters vloeiend in/uitvagen als ze worden weergegeven of verborgen
Comment[nn]=Ton vindauge inn/ut når dei vert vist eller gøymde
Comment[pl]=Sprawia, że okna powoli znikają/wyłaniają się w momencie ich pokazania lub ukrycia
Comment[pt]=Faz com que as janelas apareçam/desapareçam suavemente quando aparecem ou ficam escondidas
Comment[pt_BR]=Faz as janelas aparecerem/desaparecerem suavemente quando são exibidas ou ocultadas
Comment[sr]=Прозори глатко израњају и утапају се при појављивању и сакривању
Comment[sr@latin]=Prozori glatko izranjaju i utapaju se pri pojavljivanju i sakrivanju
Comment[sv]=Gör att fönster mjukt tonas in eller ut när de visas eller döljs
Comment[th]=ทำให้หน้าต่างจางเข้าหรือจางหายเมื่อมีการแสดงหรือซ่อนหน้าต่าง
Comment[vi]=Làm cho cửa sổ mờ/giảm dần mịn khi được hiển thị hay bị ẩn
Comment[x-test]=xxMakes windows smoothly fade in/out when they're shown or hiddenxx
Comment[zh_CN]=当窗口被显示或者隐藏时，使窗口平滑地淡入淡出
Comment[zh_TW]=顯示或隱藏視窗時以淡入/淡出方式呈現

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Philip Falkner
X-KDE-PluginInfo-Email=philip.falkner@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_fade
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[eo]=Aspekto
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[pl]=Wygląd
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sr]=Изглед
X-KDE-PluginInfo-Category[sr@latin]=Izgled
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=60
