[Desktop Entry]
Name=Fall Apart
Name[ca]=Trencament
Name[de]=Auseinanderfallen
Name[el]=Κατάρρευση
Name[eo]=Disigi
Name[es]=Desmenuzar
Name[et]=Lagunemine
Name[fi]=Hajota
Name[fr]=Tomber en ruine
Name[fy]=Ut elkoar falle
Name[ga]=Tit As A Chéile
Name[gl]=Caída
Name[he]=התפרקות
Name[hi]=टूट कर गिरना
Name[hu]=Szétbontás
Name[ja]=崩壊
Name[kk]=Қирау
Name[km]=ផ្នែក​ដែល​ធ្លាក់​
Name[lv]=Izjukt
Name[nb]=Fall fra hverandre
Name[nds]=Tobreken
Name[ne]=भाग झार्नुहोस्
Name[nl]=Uit elkaar vallen
Name[nn]=Fall frå kvarandre
Name[pa]=ਵੱਖ ਵੱਖ ਡਿੱਗੇ
Name[pl]=Rozpad
Name[pt]=Separar
Name[pt_BR]=Despedaçar
Name[se]=Molle lásiid
Name[sl]=Razpad
Name[sr]=Распад
Name[sr@latin]=Raspad
Name[sv]=Fall sönder
Name[th]=ร่วงออก
Name[uk]=Розпадання
Name[vi]=Hủy dần
Name[x-test]=xxFall Apartxx
Name[zh_CN]=坠落
Name[zh_TW]=破裂
Icon=preferences-system-windows-effect-fallapart
Comment=Closed windows fall into pieces
Comment[ca]=Les finestres tancades es trenquen en peces
Comment[de]=Geschlossene Fenster fallen auseinander
Comment[el]=Τα παράθυρα που κλείνουν διαλύονται
Comment[eo]=Fermantaj fenestroj disiĝas en pecoj
Comment[es]=Las ventanas cerradas caen en trozos
Comment[et]=Suletud aknad lagunevad tükkideks
Comment[fi]=Suljetut ikkunat hajoavat palasiksi.
Comment[fr]=Les fenêtres fermées s'effondrent
Comment[fy]=Sluten finsters falle útelkoar
Comment[ga]=Leis seo, titfidh fuinneoga dúnta as a chéile
Comment[gl]=As fiestras pechadas caen en anacos
Comment[hu]=A bezárt ablakok darabokra hullanak
Comment[ja]=閉じられたウィンドウがバラバラになります
Comment[km]=បង្អួច​ដែល​បាន​បិទ​ធ្លាក់​ក្នុង​ចំណែក
Comment[lv]=Aizvērtie logi izjūk pa gabaliem
Comment[nb]=Vinduer som lukkes ramler i småbiter
Comment[nds]=Tomaakt Finstern breekt uteneen
Comment[nl]=Gesloten vensters vallen uit elkaar
Comment[nn]=Lukka vindauge fell saman i småbitar
Comment[pa]=ਬੰਦ ਵਿੰਡੋ ਟੁਕੜਿਆਂ ਵਿੱਚ ਟੁੱਟੇ
Comment[pl]=Zamknięte okna rozpadają się
Comment[pt]=As janelas fechadas caem em pedaços
Comment[pt_BR]=Janelas fechadas caem em pedaços
Comment[se]=Láset muollánit giddedettiin
Comment[sl]=Ko se okna zaprejo, razpadejo
Comment[sr]=Затворени прозори се распарчавају
Comment[sr@latin]=Zatvoreni prozori se rasparčavaju
Comment[sv]=Stängda fönster faller i bitar
Comment[uk]=При закриванні вікна розпадаються
Comment[x-test]=xxClosed windows fall into piecesxx
Comment[zh_CN]=关闭的窗口以碎片掉落
Comment[zh_TW]=已關閉的視窗會被切割

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_fallapart
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[bg]=Изглед
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[eo]=Aspekto
X-KDE-PluginInfo-Category[es]=Aspecto
X-KDE-PluginInfo-Category[et]=Välimus
X-KDE-PluginInfo-Category[fr]=Apparence
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nb]=Utseende
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[nl]=Uiterlijk
X-KDE-PluginInfo-Category[pa]=ਦਿੱਖ
X-KDE-PluginInfo-Category[pl]=Wygląd
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[se]=Fárda
X-KDE-PluginInfo-Category[sl]=Videz
X-KDE-PluginInfo-Category[sr]=Изглед
X-KDE-PluginInfo-Category[sr@latin]=Izgled
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[uk]=Вигляд
X-KDE-PluginInfo-Category[wa]=Rivnance
X-KDE-PluginInfo-Category[x-test]=xxAppearancexx
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
