[Desktop Entry]
Name=Fall Apart
Name[de]=Auseinanderfallen
Name[el]=Κατάρρευση
Name[es]=Desmenuzar
Name[et]=Lagunemine
Name[he]=התפרקות
Name[ja]=崩壊
Name[kk]=Қирау
Name[km]=ផ្នែក​ដែល​ធ្លាក់​
Name[nb]=Fall fra hverandre
Name[nds]=Tobreken
Name[ne]=भाग झार्नुहोस्
Name[nl]=Uit elkaar vallen
Name[nn]=Fall frå kvarandre
Name[pt]=Separar
Name[pt_BR]=Despedaçar
Name[sl]=Razpad
Name[sr]=Распад
Name[sr@latin]=Raspad
Name[sv]=Fall sönder
Name[th]=ร่วงออก
Name[vi]=Hủy dần
Name[x-test]=xxFall Apartxx
Name[zh_CN]=坠落
Name[zh_TW]=破裂
Icon=preferences-system-windows-effect-fallapart
Comment=Closed windows fall into pieces
Comment[de]=Geschlossene Fenster fallen auseinander
Comment[et]=Suletud aknad lagunevad tükkideks
Comment[ja]=閉じられたウィンドウがバラバラになります
Comment[nds]=Tomaakt Finstern breekt uteneen
Comment[pt]=As janelas fechadas caem em pedaços
Comment[pt_BR]=Janelas fechadas caem em pedaços
Comment[sv]=Stängda fönster faller i bitar
Comment[zh_CN]=关闭的窗口以碎片掉落
Comment[zh_TW]=已關閉的視窗會被切割

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_fallapart
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
