[Desktop Entry]
Encoding=UTF-8
Name=Flame
Name[de]=Flamme
Name[el]=Φλόγα
Name[nds]=Flamm
Name[nl]=Vlam
Name[zh_TW]=火燄
Icon=kwin-effect-flame

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_flame
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
