[Desktop Entry]
Name=Flip Switch
Name[eo]=Turna ŝanĝilo
Name[es]=Alternar conmutador
Name[km]=ប្ដូរ​ការ​ត្រឡប់​
Name[ko]=플립 전환기
Name[nds]=Dreihwesseln
Name[pt]=Mudança em Pilha
Name[pt_BR]=Mudança em Pilha
Name[ro]=Comutare cu întoarcere
Name[sr]=Преклопно пребацивање
Name[sr@latin]=Preklopno prebacivanje
Name[th]=การสลับแบบพลิกหน้า
Name[tr]=Dönen Seçici
Name[x-test]=xxFlip Switchxx
Name[zh_CN]=翻转切换
Name[zh_TW]=翻轉切換
Icon=preferences-system-windows-effect-flipswitch
Comment=Alt-Tab window switcher flipping through windows on a stack

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_flipswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
