[Desktop Entry]
Name=Flip Switch
Name[af]=Wissel skakelaar
Name[bg]=Превключване между прозорци
Name[da]=Vippeskifter
Name[de]=3D-Fensterstapel
Name[el]=Εναλλαγή πλαισίου
Name[eo]=Turna ŝanĝilo
Name[es]=Alternar conmutador
Name[et]=Aknalehitseja
Name[fi]=Kääntövaihtaja
Name[fr]=Empilement en perspective
Name[gl]=Mudanza en fila
Name[gu]=ફ્લિપ સ્વિચ
Name[it]=Cambia ribaltando
Name[km]=ប្ដូរ​ការ​ត្រឡប់​
Name[ko]=플립 전환기
Name[lt]=Krūvos vartiklis
Name[lv]=Flip pārslēdzējs
Name[ml]=ഫ്ലിപ് സ്വിച്ച്
Name[nds]=Dreihwesseln
Name[nn]=Blavekslar
Name[pa]=ਫਲਿੱਪ ਸਵਿੱਚ
Name[pl]=Przełącznik stosowy
Name[pt]=Mudança em Pilha
Name[pt_BR]=Mudança em Pilha
Name[ro]=Comutare cu întoarcere
Name[sl]=Preklapljanje - sklad
Name[sr]=Преклопно пребацивање
Name[sr@latin]=Preklopno prebacivanje
Name[sv]=Blädderbyte
Name[th]=การสลับแบบพลิกหน้า
Name[tr]=Dönen Seçici
Name[wa]=Discandjeu d' purnea
Name[x-test]=xxFlip Switchxx
Name[zh_CN]=翻转切换
Name[zh_TW]=翻轉切換
Icon=preferences-system-windows-effect-flipswitch
Comment=Alt-Tab window switcher flipping through windows on a stack
Comment[af]=Alt-Tab vensterwisselling blaai deur vensters op 'n stapel
Comment[ca]=Commutador de finestres amb Alt-Tab que intercanvia les finestres en un pila
Comment[da]=Alt+tab vinduesskifter som vipper gennem vinduerne i en stak
Comment[de]=Geht Fenster in einem 3D-Stapel der Reihe nach durch.
Comment[el]=Εναλλαγή παραθύρων Alt-Tab με τα παράθυρα ως στοίβα
Comment[eo]=Alt-taba fenestra ŝanĝilo kiu permesas al vi turni la fenestrojn en stako
Comment[es]=Alt-tab alterna entre las ventanas
Comment[et]=Alt+TAB akende lülitaja, mis lappab pinus olevaid aknaid
Comment[fi]=Alt+Tab-ikkunavaihtaja pinossa olevien ikkunoiden vaihtamiseksi
Comment[fr]=Sélecteur de fenêtre « Alt + Tab » empilant les fenêtres en perspective
Comment[ga]=Malartóir fuinneog Alt-Táb a ransaíonn fuinneoga i gcruach
Comment[gl]=Troca a fiestra con Alt+Tab dispondo as fiestras nunha pila
Comment[gu]=અલ્ટ-ટેબ વિન્ડો બદલનાર વિન્ડોને એક પછી એક બદલે છે
Comment[it]=Uno scambiafinestre per sfogliare le finestre ribaltandole su una pila
Comment[km]=ជំនួស(Alt)-ថេប(tab) កម្មវិធី​ប្ដូរ​បង្អួច​ត្រឡប់​តាមរយៈ​បង្អួច​នៅ​លើ​ជង់
Comment[ko]=스택에 쌓여 있는 창 사이를 전환하는 Alt-tab 창 전환자
Comment[lt]=Alt-Tab langl vartiklis, kuris varto krūvon sukrautus langus
Comment[lv]=Alt-Tab logu pārslēdzējs, kas parāda logus kaudzē (kā Windows Vista)
Comment[ml]=Alt-tab ജാലകങ്ങളെ കശക്കുന്നു.
Comment[nds]=Mit Alt+Tab dör den Finsterstapel lopen
Comment[nl]=Alt+Tab-vensterwisselaar die door gestapelde vensters wandelt
Comment[nn]=«Alt + Tab»-vindaugsvekslar som blar gjennom vindauge i ein stabel
Comment[pl]=Okno przełączania za pomocą Alt+Tab, które układa okna na stosie
Comment[pt]=Selector de janelas do Alt-Tab que percorre as janelas numa pilha
Comment[pt_BR]=Seletor de janelas Alt-Tab que percorre as janelas em uma pilha
Comment[sl]=Preklapljanje med okni, ki so zloženi v skladu
Comment[sr]=Пребацивање прозора алт+табом кроз прозоре на стеку
Comment[sr@latin]=Prebacivanje prozora Alt+Tabom kroz prozore na steku
Comment[sv]=Fönsterbyte med Alt+Tabulator som bläddrar genom fönster i en hög
Comment[th]=ตัวสลับหน้าต่างผ่านทางการกดแป้น Alt-tab โดยใช้การพลิกหน้าต่างผ่านชั้นหน้าต่าง
Comment[tr]=Aynı küme içerisindeki pencereleri değiştiren Alt-tab pencere seçici
Comment[uk]=Перемикач вікон за Alt-Tab з перестрибуванням вікнами у стосі
Comment[wa]=On discandjeu d' purnea avou ALT+TAB
Comment[x-test]=xxAlt-Tab window switcher flipping through windows on a stackxx
Comment[zh_CN]=Alt-tab 窗口切换器可在您的窗口间作翻转式切换
Comment[zh_TW]=Alt+Tab 視窗切換器在堆疊內翻轉視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_flipswitch
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
