[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_flipswitch
X-KDE-PluginKeyword=flipswitch

Name=Flip Switch
Name[eo]=Turna ŝanĝilo
Name[es]=Alternar conmutador
Name[km]=ប្ដូរ​ការ​ត្រឡប់​
Name[ko]=플립 전환기
Name[nds]=Dreihwesseln
Name[pt]=Mudança em Pilha
Name[pt_BR]=Mudança em Pilha
Name[ro]=Comutare cu întoarcere
Name[sr]=Преклопно пребацивање
Name[sr@latin]=Preklopno prebacivanje
Name[th]=การสลับแบบพลิกหน้า
Name[tr]=Dönen Seçici
Name[x-test]=xxFlip Switchxx
Name[zh_CN]=翻转切换
Name[zh_TW]=翻轉切換
