[Desktop Entry]
Name=Invert
Name[be]=Інвертаваць
Name[bg]=Инвертиране
Name[ca]=Inverteix
Name[csb]=Inwertëje
Name[de]=Invertieren
Name[el]=Αντιστροφή
Name[eo]=Inversigi
Name[es]=Invertir
Name[et]=Teistpidi
Name[eu]=Alderantzizkatu
Name[fa]=وارونه
Name[fi]=Käännä
Name[fy]=Omdraaie
Name[gl]=Inverter
Name[he]=הפוך צבעים
Name[hi]=उलटें
Name[hu]=Invertálás
Name[ja]=色調反転
Name[kk]=Терістеу
Name[km]=ដាក់​បញ្ច្រាស
Name[lv]=Invertēt
Name[nb]=Snu om
Name[nds]=Ümdreihen
Name[ne]=उल्टाउनुहोस्
Name[nl]=Omkeren
Name[nn]=Inverter
Name[oc]=Enversar
Name[pa]=ਉਲਟ
Name[pl]=Negacja
Name[pt]=Inverter
Name[pt_BR]=Inverter
Name[se]=Jorgalahte
Name[sl]=Obrni
Name[sr]=Извртање
Name[sr@latin]=Izvrtanje
Name[sv]=Invertera
Name[th]=กลับสี
Name[uk]=Інвертувати
Name[wa]=Å dvier
Name[x-test]=xxInvertxx
Name[zh_CN]=反转
Name[zh_TW]=反轉
Comment=Inverts (negates) colors of the desktop
Comment[bg]=Инвертира цветовете на работния плот
Comment[ca]=Inverteix (converteix en negatiu) els colors de l'escriptori
Comment[csb]=Inwertëje farwë desktopù
Comment[de]=Invertiert Farben der Arbeitsfläche
Comment[el]=Αντιστρέφει τα χρώματα της επιφάνειας εργασίας
Comment[eo]=Inversigas (negativigas) la kolorojn de la labortablo
Comment[es]=Invierte (niega) los colores del escritorio
Comment[et]=Muudab töölaua värvid vastupidiseks
Comment[fa]=رنگهای رومیزی را وارونه )خنثی( می‌کند
Comment[fi]=Kääntää työpöydän värit
Comment[fy]=Draait de kleuren fan it buroblêd om
Comment[ga]=Inbhéartaigh dathanna ar an deasc
Comment[gl]=Inverte (nega) as cores do escritorio
Comment[he]=הופך את צבעי שולחן העבודה
Comment[hi]=डेस्कटॉप के रंगों को उलट (निगेटिव) देता है
Comment[hu]=Invertálja az asztal színeit
Comment[ja]=デスクトップの色を反転させます
Comment[kk]=Үстелдің түстерін терістеу (кері қылу)
Comment[km]=បញ្ច្រាស (បដិសេធ​) ពណ៌​ផ្ទៃ​តុ
Comment[lv]=Invertē darbivrsmas krāsas
Comment[nb]=Snur om (vender fortegn på) farger på skrivebordet
Comment[nds]=Dreiht de Klören vun den Schriefdisch üm
Comment[ne]=डेस्कटपको रङ उल्टाउँदछ (खण्डन गर्दछ)
Comment[nl]=Keert de kleuren van de desktop om (negatief)
Comment[nn]=Inverterer fargane på skrivebordet (slik at for eksempel svart vert kvitt)
Comment[pa]=ਡੈਸਕਟਾਪ ਦੇ ਰੰਗ ਉਲਟ ਕਰੋ
Comment[pl]=Odwrócenie (zanegowanie) kolorów pulpitu
Comment[pt]=Inverte (nega) as cores no ecrã
Comment[pt_BR]=Inverte (nega) as cores da área de trabalho
Comment[se]=Jorgalahttá (negere) čállinbeavddi ivnniid
Comment[sl]=Obrne barve namizja v negativ
Comment[sr]=Изврће (логички негира) боје радне површи
Comment[sr@latin]=Izvrće (logički negira) boje radne površi
Comment[sv]=Inverterar (vänder på) skrivbordets färger
Comment[th]=กลับสีของพื้นที่ทำงาน
Comment[uk]=Інвертує (обертає) кольори стільниці
Comment[x-test]=xxInverts (negates) colors of the desktopxx
Comment[zh_CN]=反转(求反)桌面颜色
Comment[zh_TW]=將桌面上的顏色反轉
Icon=preferences-system-windows-effect-invert

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_invert
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Category[bg]=Равностоен достъп
X-KDE-PluginInfo-Category[ca]=Accessibilitat
X-KDE-PluginInfo-Category[de]=Zugangshilfen
X-KDE-PluginInfo-Category[el]=Προσβασιμότητα
X-KDE-PluginInfo-Category[eo]=Alirebleco
X-KDE-PluginInfo-Category[es]=Accesibilidad
X-KDE-PluginInfo-Category[et]=Hõlbustus
X-KDE-PluginInfo-Category[ga]=Inrochtaineacht
X-KDE-PluginInfo-Category[hu]=Kezelési segítség
X-KDE-PluginInfo-Category[ja]=アクセシビリティ
X-KDE-PluginInfo-Category[km]=មធ្យោបាយ​ងាយស្រួល
X-KDE-PluginInfo-Category[lv]=Pieejamība
X-KDE-PluginInfo-Category[nb]=Tilgjengelighet
X-KDE-PluginInfo-Category[nds]=Behinnertenhülp
X-KDE-PluginInfo-Category[nl]=Toegankelijkheid
X-KDE-PluginInfo-Category[pa]=ਸਹੂਲਤਾਂ
X-KDE-PluginInfo-Category[pl]=Dostępność
X-KDE-PluginInfo-Category[pt]=Acessibilidade
X-KDE-PluginInfo-Category[pt_BR]=Acessibilidade
X-KDE-PluginInfo-Category[se]=Álkkibut geavaheapmi
X-KDE-PluginInfo-Category[sl]=Dostopnost
X-KDE-PluginInfo-Category[sr]=Приступачност
X-KDE-PluginInfo-Category[sr@latin]=Pristupačnost
X-KDE-PluginInfo-Category[sv]=Handikappstöd
X-KDE-PluginInfo-Category[uk]=Доступність
X-KDE-PluginInfo-Category[wa]=Accessibilité
X-KDE-PluginInfo-Category[x-test]=xxAccessibilityxx
X-KDE-PluginInfo-Category[zh_CN]=辅助功能
X-KDE-PluginInfo-Category[zh_TW]=無障礙輔助
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
