[Desktop Entry]
Encoding=UTF-8
Name=Invert
Name[be]=Інвертаваць
Name[fa]=وارونه
Name[ja]=色調反転
Name[nds]=Ümdreihen
Name[pt]=Inverter
Name[pt_BR]=Inverter
Name[sv]=Invertera
Name[zh_TW]=反轉
Comment=Inverts (negates) colors of the desktop
Comment[fa]=رنگهای رومیزی را وارونه )خنثی( می‌کند
Comment[ja]=デスクトップの色を反転させます
Comment[nds]=Dreiht de Klören vun den Schriefdisch üm
Comment[pt]=Inverte (nega) as cores no ecrã
Comment[pt_BR]=Inverte (nega) as cores no ecrã
Comment[sv]=Inverterar (vänder på) skrivbordets färger
Comment[zh_TW]=將桌面上的顏色反轉

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_invert
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
