[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_invert
X-KDE-PluginKeyword=invert

Name=Invert
Name[be]=Інвертаваць
Name[bg]=Инвертиране
Name[ca]=Inverteix
Name[csb]=Inwertëje
Name[de]=Invertieren
Name[el]=Αντιστροφή
Name[eo]=Inversigi
Name[es]=Invertir
Name[et]=Teistpidi
Name[eu]=Alderantzizkatu
Name[fa]=وارونه
Name[fi]=Käännä
Name[fr]=Inverse
Name[fy]=Omdraaie
Name[gl]=Inverter
Name[he]=הפוך צבעים
Name[hi]=उलटें
Name[hu]=Invertálás
Name[is]=Umhverfa
Name[it]=Inverti
Name[ja]=色調反転
Name[kk]=Терістеу
Name[km]=ដាក់​បញ្ច្រាស
Name[lv]=Invertēt
Name[nb]=Snu om
Name[nds]=Ümdreihen
Name[ne]=उल्टाउनुहोस्
Name[nl]=Omkeren
Name[nn]=Inverter
Name[oc]=Enversar
Name[pa]=ਉਲਟ
Name[pl]=Negacja
Name[pt]=Inverter
Name[pt_BR]=Inverter
Name[se]=Jorgalahte
Name[sl]=Obrni
Name[sr]=Извртање
Name[sr@latin]=Izvrtanje
Name[sv]=Invertera
Name[th]=กลับสี
Name[uk]=Інвертувати
Name[wa]=Å dvier
Name[x-test]=xxInvertxx
Name[zh_CN]=反转
Name[zh_TW]=反轉

