[Desktop Entry]
Name=Invert
Name[be]=Інвертаваць
Name[bg]=Инвертиране
Name[ca]=Inverteix
Name[csb]=Inwertëje
Name[da]=Invertér
Name[de]=Invertieren
Name[el]=Αντιστροφή
Name[eo]=Inversigi
Name[es]=Invertir
Name[et]=Teistpidi
Name[eu]=Alderantzizkatu
Name[fa]=وارونه
Name[fi]=Käännä
Name[fr]=Inverse
Name[fy]=Omdraaie
Name[gl]=Inverter
Name[gu]=ઉલ્ટું
Name[he]=הפוך צבעים
Name[hi]=उलटें
Name[hu]=Invertálás
Name[is]=Umhverfa
Name[it]=Inverti
Name[ja]=色調反転
Name[kk]=Терістеу
Name[km]=ដាក់​បញ្ច្រាស
Name[ko]=반전
Name[lv]=Invertēt
Name[nb]=Snu om
Name[nds]=Ümdreihen
Name[ne]=उल्टाउनुहोस्
Name[nl]=Omkeren
Name[nn]=Inverter
Name[oc]=Enversar
Name[pa]=ਉਲਟ
Name[pl]=Negacja
Name[pt]=Inverter
Name[pt_BR]=Inverter
Name[ro]=Inversare
Name[se]=Jorgalahte
Name[sl]=Obrni
Name[sr]=Извртање
Name[sr@latin]=Izvrtanje
Name[sv]=Invertera
Name[th]=กลับสี
Name[tr]=Negatifleştir
Name[uk]=Інвертувати
Name[wa]=Å dvier
Name[x-test]=xxInvertxx
Name[zh_CN]=反转
Name[zh_TW]=反轉
Comment=Inverts (negates) desktop colors
Comment[ca]=Inverteix (converteix en negatiu) els colors de l'escriptori
Comment[el]=Αντιστρέφει τα χρώματα της επιφάνειας εργασίας
Comment[en_GB]=Inverts (negates) desktop colours
Comment[fi]=Kääntää työpöydän värit
Comment[ga]=Inbhéartaigh dathanna na deisce
Comment[gu]=ડેસ્કટોપ રંગને ઉલ્ટો (ઋણ) કરે છે
Comment[ja]=デスクトップの色を反転させます
Comment[km]=បញ្ច្រាស (បដិសេធ) ពណ៌​ផ្ទៃ​តុ
Comment[nds]=Dreiht de Klören vun den Schriefdisch üm
Comment[pt]=Inverte (nega) as cores no ecrã
Comment[pt_BR]=Inverte (nega) as cores da área de trabalho
Comment[ro]=Inversează (neagă) culorile biroului
Comment[sl]=Obrne barve namizja v negativ
Comment[sv]=Inverterar (vänder på) skrivbordets färger
Comment[th]=กลับสีของพื้นที่ทำงาน
Comment[tr]=Masaüstünün renklerini negatifleştirir
Comment[uk]=Інвертує (обертає) кольори стільниці
Comment[zh_CN]=反转(求反)桌面颜色
Comment[zh_TW]=將桌面上的顏色反轉
Icon=preferences-system-windows-effect-invert

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_invert
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
