[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KWin/Effect

Comment=KWin Effect
Comment[el]=Εφέ KWin
Comment[nds]=KWin-Effekt
Comment[nl]=KWin-effect
Comment[zh_TW]=KWin 效果
