[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/Effect

Comment=KWin Effect

[PropertyDef::X-KDE-Ordering]
Type=int

[PropertyDef::X-KWin-Requires-OpenGL]
Type=bool

[PropertyDef::X-KWin-Requires-OpenGL2]
Type=bool

[PropertyDef::X-KWin-Requires-Shaders]
Type=bool

[PropertyDef::X-KWin-Video-Url]
Type=Url

[PropertyDef::X-KWin-Exclusive-Category]
Type=QString

[PropertyDef::X-KWin-Internal]
Type=bool
