[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/Effect

Comment=KWin Effect
Comment[ar]=KWin تأثير
Comment[be]=Эфекты KWin
Comment[bg]=Ефект KWin
Comment[ca]=Efecte del KWin
Comment[csb]=Efektë òknów
Comment[de]=KWin-Effekt
Comment[el]=Εφέ KWin
Comment[eo]=KWin efekto
Comment[es]=Efecto de KWin
Comment[et]=KWin'i efektid
Comment[eu]=KWin efektua
Comment[fa]=جلوه‌های KWin
Comment[fi]=KWin-tehoste
Comment[fy]=KWin Effekt
Comment[ga]=Maisíocht KWin
Comment[gl]=Efeito de KWin
Comment[he]=אפקט של KWin
Comment[hi]=के-विन प्रभाव
Comment[hu]=KWin-effekt
Comment[it]=Effetto di KWin
Comment[ja]=KWin 効果
Comment[kk]=KWin эффекттері
Comment[km]=បែបផែន KWin
Comment[lv]=KWin efekts
Comment[nb]=KWin-effekt
Comment[nds]=KWin-Effekt
Comment[ne]=केडीई विन प्रभाव
Comment[nl]=KWin-effect
Comment[nn]=KWin-effekt
Comment[pa]=KWin ਪਰਭਾਵ
Comment[pl]=Dekoracje okien
Comment[pt]=Efeito do KWin
Comment[pt_BR]=Efeito do KWin
Comment[se]=KWin-effeavttat
Comment[sl]=Učinki KWina
Comment[sr]=Ефекти К-вина
Comment[sr@latin]=Efekti KWina
Comment[sv]=Kwin-effekt
Comment[th]=ลูกเล่นของ KWin
Comment[uk]=Ефект KWin
Comment[vi]=Hiệu ứng KWin
Comment[wa]=Efet KWin
Comment[x-test]=xxKWin Effectxx
Comment[zh_CN]=KWin 效果
Comment[zh_TW]=KWin 效果

[PropertyDef::X-Ordering]
Type=int
