[Desktop Entry]
Name=Login
Name[be]=Уваход
Name[bg]=Вход
Name[ca]=Entrada
Name[csb]=Logòwanié
Name[de]=Anmeldung
Name[el]=Σύνδεση
Name[eo]=Ensaluto
Name[es]=Acceso
Name[et]=Sisselogimine
Name[eu]=Saio-hasier
Name[fi]=Sisäänkirjautuminen:
Name[fr]=Connexion 
Name[fy]=Ynlogge
Name[ga]=Logáil Isteach
Name[gl]=Aceso
Name[hi]=लॉगइन
Name[hu]=Bejelentkezés
Name[is]=Innskráning
Name[ja]=ログイン
Name[km]=ចូល
Name[ko]=로그인
Name[ku]=Têketin
Name[lv]=Pieslēgties
Name[nb]=Logg inn
Name[nds]=Anmellen
Name[ne]=लगइन गर्नुहोस्
Name[nl]=Aanmelden
Name[nn]=Innlogging
Name[oc]=Connexion
Name[pa]=ਲਾਗਇਨ
Name[pl]=Logowanie
Name[pt]=Arranque
Name[ru]=Вход в систему
Name[se]=Sisačáliheapmi
Name[sl]=Prijava
Name[sr]=Пријава
Name[sr@latin]=Prijava
Name[sv]=Inloggning
Name[tg]=Воридот
Name[th]=ล็อกอิน
Name[uk]=Вхід
Name[wa]=Elodjaedje
Name[x-test]=xxLoginxx
Name[zh_CN]=登录
Name[zh_TW]=登入
Icon=preferences-system-windows-effect-login
Comment=Login visual effect
Comment[ca]=Efecte visual en iniciar la sessió
Comment[de]=Visueller Anmeldeeffekt
Comment[el]=Οπτικό εφέ σύνδεσης
Comment[eo]=Ensaluta videfekto
Comment[es]=Efecto visual del acceso
Comment[et]=Sisselogimise visuaalne efekt
Comment[fi]=Sisään kirjautumisen visuaalinen tehoste
Comment[fr]=Effect visuel de connexion
Comment[fy]=Fisueel effekt by it ynloggen
Comment[ga]=Maisíocht físe ag am logála isteach
Comment[gl]=Efeito visual de aceso
Comment[hu]=Bejelentkezési effekt
Comment[ja]=ログイン時の視覚効果
Comment[km]=ចូល​បែបផែន​ដែល​មើលឃើញ
Comment[lv]=Pieslēgšanās vizuālais efekts
Comment[nb]=Visuell effekt for innlogging
Comment[nds]=Effekt bi't Anmellen
Comment[nl]=Visueel effect bij aanmelden
Comment[nn]=Visuell effekt for innlogging
Comment[pa]=ਲਾਗਇਨ ਦਿੱਖ ਪਰਭਾਵ
Comment[pl]=Efekt przy logowaniu
Comment[pt]=Efeito visual do início de sessão
Comment[pt_BR]=Efeito visual do início de sessão
Comment[se]=Sisačáliheami visuella effeakta
Comment[sl]=Učinek pri prijavi
Comment[sr]=Визуелни ефекат пријављивања
Comment[sr@latin]=Vizuelni efekat prijavljivanja
Comment[sv]=Visuell effekt vid inloggning
Comment[uk]=Візуальний ефект входу
Comment[x-test]=xxLogin visual effectxx
Comment[zh_CN]=登录视觉效果
Comment[zh_TW]=登入視覺效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_login
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[bg]=Изглед
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[eo]=Aspekto
X-KDE-PluginInfo-Category[es]=Aspecto
X-KDE-PluginInfo-Category[et]=Välimus
X-KDE-PluginInfo-Category[fr]=Apparence
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nb]=Utseende
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[nl]=Uiterlijk
X-KDE-PluginInfo-Category[pa]=ਦਿੱਖ
X-KDE-PluginInfo-Category[pl]=Wygląd
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[se]=Fárda
X-KDE-PluginInfo-Category[sl]=Videz
X-KDE-PluginInfo-Category[sr]=Изглед
X-KDE-PluginInfo-Category[sr@latin]=Izgled
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[uk]=Вигляд
X-KDE-PluginInfo-Category[wa]=Rivnance
X-KDE-PluginInfo-Category[x-test]=xxAppearancexx
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=40
