[Desktop Entry]
Name=Login
Name[be]=Уваход
Name[ca]=Entrada
Name[de]=Anmeldung
Name[el]=Σύνδεση
Name[et]=Sisselogimine
Name[ga]=Logáil Isteach
Name[hu]=Bejelentkezés
Name[ja]=ログイン
Name[km]=ចូល
Name[ko]=로그인
Name[nb]=Logg inn
Name[nds]=Anmellen
Name[ne]=लगइन गर्नुहोस्
Name[nl]=Aanmelden
Name[nn]=Innlogging
Name[pa]=ਲਾਗਇਨ
Name[pt]=Arranque
Name[sl]=Prijava
Name[sr]=Пријава
Name[sr@latin]=Prijava
Name[sv]=Inloggning
Name[th]=ล็อกอิน
Name[x-test]=xxLoginxx
Name[zh_CN]=登录
Name[zh_TW]=登入
Icon=preferences-system-windows-effect-login
Comment=Login visual effect
Comment[et]=Sisselogimise visuaalne efekt
Comment[ja]=ログイン時の視覚効果
Comment[nds]=Effekt bi't Anmellen
Comment[pt]=Efeito visual do início de sessão
Comment[pt_BR]=Efeito visual do início de sessão
Comment[sv]=Visuell effekt vid inloggning
Comment[zh_TW]=登入視覺效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_login
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=40
