[Desktop Entry]
Name=Login
Name[af]=Aanteken
Name[be]=Уваход
Name[be@latin]=Uvachod
Name[bg]=Вход
Name[bn_IN]=লগ-ইন করুন
Name[ca]=Entrada
Name[cs]=Přihlášení
Name[csb]=Logòwanié
Name[de]=Anmeldung
Name[el]=Σύνδεση
Name[eo]=Ensaluto
Name[es]=Acceso
Name[et]=Sisselogimine
Name[eu]=Saio-hasier
Name[fi]=Sisäänkirjautuminen:
Name[fr]=Connexion 
Name[fy]=Ynlogge
Name[ga]=Logáil Isteach
Name[gl]=Aceso
Name[gu]=પ્રવેશ
Name[he]=שם התחברות
Name[hi]=लॉगइन
Name[hr]=Prijava
Name[hsb]=Přizjewjenje
Name[hu]=Bejelentkezés
Name[is]=Innskráning
Name[it]=Accesso
Name[ja]=ログイン
Name[kk]=Кіру
Name[km]=ចូល
Name[kn]=ಪ್ರವೇಶಿಸು (ಲಾಗಿನ್)
Name[ko]=로그인
Name[ku]=Têketin
Name[lt]=Prisijungti
Name[lv]=Pieteikties
Name[mk]=Најавување
Name[ml]=അകത്തുകയറുക
Name[mr]=दाखलन
Name[nb]=Logg inn
Name[nds]=Anmellen
Name[ne]=लगइन गर्नुहोस्
Name[nl]=Aanmelden
Name[nn]=Innlogging
Name[oc]=Connexion
Name[pa]=ਲਾਗਇਨ
Name[pl]=Logowanie
Name[pt]=Arranque
Name[ro]=Autentificare
Name[ru]=Вход в систему
Name[se]=Sisačáliheapmi
Name[sl]=Prijava
Name[sr]=Пријава
Name[sr@latin]=Prijava
Name[sv]=Inloggning
Name[ta]=நுழைக
Name[te]=లాగిన్
Name[tg]=Воридот
Name[th]=ล็อกอิน
Name[tr]=Giriş
Name[uk]=Вхід
Name[uz]=Kirish
Name[uz@cyrillic]=Кириш
Name[wa]=Elodjaedje
Name[x-test]=xxLoginxx
Name[zh_CN]=登录
Name[zh_TW]=登入
Icon=preferences-system-windows-effect-login
Comment=Smoothly fade to the desktop when logging in
Comment[el]=Ομαλή εμφάνιση της επιφάνειας εργασίας κατά τη σύνδεση
Comment[gl]=Esvai suavemente para o escritorio cando de acede ao sistema
Comment[gu]=જ્યારે પ્રવેશ કરવામાં આવે ત્યારે ડેસ્કટોપને સરળ રીતે ઝાંખું કરે છે
Comment[kk]=Кіргенде үстелге біртіндеп ауысу
Comment[km]=លិច​​បន្តិចម្ដងៗ​ទៅ​ផ្ទៃតុ​នៅពេល​ចូល
Comment[kn]=ಪ್ರವೇಶಿಸುವಾಗ (ಲಾಗಿಂಗ್ ಇನ್), ನಾಜೂಕಾಗಿ ಗಣಕತೆರೆಗೆ  ಮಸುಕುಗೊಳಿಸು
Comment[nb]=Ton jevnt inn til skrivebordet når det logges inn
Comment[nds]=Bi't Anmellen week na den Schriefdisch överblennen
Comment[pt]=Desvanecer suavemente para o ecrã ao ligar-se
Comment[pt_BR]=Desvanecer suavemente para o ecrã ao ligar-se
Comment[ro]=Estompează lin biroul la autentificare
Comment[sv]=Tona mjukt till skrivbordet vid inloggning
Comment[tr]=Giriş yapılırken masaüstünü prüzsüzce belirginleştir
Comment[uk]=Плавне тьмянішання стільниці під час входу
Comment[x-test]=xxSmoothly fade to the desktop when logging inxx
Comment[zh_TW]=登入時平順地淡入桌面

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_login
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=40
