[Desktop Entry]
Name=Logout
Name[be]=Выйсці
Name[ca]=Sortida
Name[csb]=Wëlogòwanié
Name[de]=Abmeldung
Name[el]=Αποσύνδεση
Name[eo]=Elsaluto
Name[es]=Cerrar la sesión
Name[et]=Väljalogimine
Name[eu]=Saioa amaitu
Name[fi]=Uloskirjautuminen
Name[fy]=Utlogge
Name[ga]=Logáil Amach
Name[hu]=Elrendezés
Name[ja]=ログアウト
Name[km]=ចេញ
Name[ko]=로그아웃
Name[lv]=Atslēgties
Name[nb]=Logg ut
Name[nds]=Afmellen
Name[ne]=लगआउट
Name[nl]=Afmelden
Name[nn]=Utlogging
Name[oc]=Desconnexion
Name[pa]=ਲਾਗਆਉਟ
Name[pl]=Wylogowanie
Name[pt]=Encerramento
Name[ru]=Завершение сеанса
Name[se]=Olggosčáliheapmi
Name[sl]=Odjava
Name[sr]=Одјава
Name[sr@latin]=Odjava
Name[sv]=Utloggning
Name[th]=ล็อกเอาท์
Name[uk]=Вихід
Name[wa]=Dislodjaedje
Name[x-test]=xxLogoutxx
Name[zh_CN]=注销
Name[zh_TW]=登出
Icon=preferences-system-windows-effect-logout
Comment=Logout visual effect
Comment[ca]=Efecte visual en finalitzar la sessió
Comment[de]=Visueller Abmeldeeffekt
Comment[el]=Οπτικό εφέ αποσύνδεσης
Comment[eo]=Elsaluta videfekto
Comment[es]=Efecto visual del cierre de sesión
Comment[et]=Väljalogimise visuaalne efekt
Comment[fi]=Ulos kirjautumisen visuaalinen tehoste
Comment[fy]=Fisueel effekt by it ütloggen
Comment[hu]=Kijelentkezési effekt
Comment[ja]=ログアウト時の視覚効果
Comment[km]=ចេញ​ពី​បែបផែន​មើលឃើញ
Comment[lv]=Atslēgšanās vizuālais efekts
Comment[nb]=Visuell effekt for utlogging
Comment[nds]=Effekt bi't Afmellen
Comment[nl]=Visueel effect bij afmelden
Comment[nn]=Visuell effekt for utlogging
Comment[pa]=ਲਾਗਆਉਟ ਦਿੱਖ ਪਰਭਾਵ
Comment[pl]=Efekt przy wylogowaniu
Comment[pt]=Efeito visual do fim de sessão
Comment[pt_BR]=Efeito visual do fim de sessão
Comment[se]=Olggosčáliheami visuella effeakta
Comment[sr]=Визуелни ефекат одјављивања
Comment[sr@latin]=Vizuelni efekat odjavljivanja
Comment[sv]=Visuell effekt vid utloggning
Comment[x-test]=xxLogout visual effectxx
Comment[zh_CN]=注销视觉效果
Comment[zh_TW]=登出視覺效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_logout
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=40
