[Desktop Entry]
Name=Logout
Name[be]=Выйсці
Name[ca]=Sortida
Name[de]=Abmeldung
Name[el]=Αποσύνδεση
Name[et]=Väljalogimine
Name[ga]=Logáil Amach
Name[hu]=Elrendezés
Name[ja]=ログアウト
Name[km]=ចេញ
Name[ko]=로그아웃
Name[nb]=Logg ut
Name[nds]=Afmellen
Name[ne]=लगआउट
Name[nl]=Afmelden
Name[nn]=Utlogging
Name[pa]=ਲਾਗਆਉਟ
Name[pt]=Encerramento
Name[sl]=Odjava
Name[sr]=Одјава
Name[sr@latin]=Odjava
Name[sv]=Utloggning
Name[th]=ล็อกเอาท์
Name[x-test]=xxLogoutxx
Name[zh_CN]=布局
Name[zh_TW]=登出
Icon=preferences-system-windows-effect-logout
Comment=Logout visual effect
Comment[et]=Väljalogimise visuaalne efekt
Comment[ja]=ログアウト時の視覚効果
Comment[nds]=Effekt bi't Afmellen
Comment[pt]=Efeito visual do fim de sessão
Comment[pt_BR]=Efeito visual do fim de sessão
Comment[sv]=Visuell effekt vid utloggning
Comment[zh_TW]=登出視覺效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_logout
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=40
