[Desktop Entry]
Name=Logout
Name[af]=Afteken
Name[ar]=اخرج
Name[be]=Выйсці
Name[be@latin]=Vychad
Name[bg]=Изход
Name[bn]=লগ-আউট
Name[bn_IN]=লগ-আউট করুন
Name[ca]=Sortida
Name[cs]=Odhlášení
Name[csb]=Wëlogòwanié
Name[da]=Log ud
Name[de]=Abmeldung
Name[el]=Αποσύνδεση
Name[eo]=Elsaluto
Name[es]=Cerrar la sesión
Name[et]=Väljalogimine
Name[eu]=Saioa amaitu
Name[fi]=Uloskirjautuminen
Name[fr]=Déconnexion
Name[fy]=Utlogge
Name[ga]=Logáil Amach
Name[gl]=Saír
Name[gu]=બહાર નીકળો
Name[he]=התנתקות
Name[hi]=लॉगआउट
Name[hr]=Odjava
Name[hsb]=Wotzjewjenje
Name[hu]=Elrendezés
Name[is]=Útskráning
Name[it]=Termina sessione
Name[ja]=ログアウト
Name[kk]=Шығу
Name[km]=ចេញ
Name[kn]=ನಿರ್ಗಮಿಸು (ಲಾಗೌಟ್)
Name[ko]=로그아웃
Name[ku]=Derketin
Name[lt]=Atsijungti
Name[lv]=Atteikties
Name[mk]=Одјавување
Name[ml]=പുറത്തിറങ്ങുക
Name[mr]=बाहेर पडा
Name[nb]=Logg ut
Name[nds]=Afmellen
Name[ne]=लगआउट
Name[nl]=Afmelden
Name[nn]=Utlogging
Name[oc]=Desconnexion
Name[or]=ଲଗଆଉଟ
Name[pa]=ਲਾਗਆਉਟ
Name[pl]=Wylogowanie
Name[pt]=Encerramento
Name[pt_BR]=Encerramento de sessão
Name[ro]=Ieșire
Name[ru]=Завершение сеанса
Name[se]=Olggosčáliheapmi
Name[sk]=Odhlásenie
Name[sl]=Odjava
Name[sr]=Одјава
Name[sr@latin]=Odjava
Name[sv]=Utloggning
Name[ta]=வெளிவருக
Name[te]=లాగ్అవుట్
Name[tg]=Баромадан
Name[th]=ออกจากระบบ
Name[tr]=Çıkış
Name[uk]=Вихід
Name[uz]=Chiqish
Name[uz@cyrillic]=Чиқиш
Name[wa]=Dislodjaedje
Name[x-test]=xxLogoutxx
Name[zh_CN]=注销
Name[zh_TW]=登出
Icon=preferences-system-windows-effect-logout
Comment=Desaturate the desktop when displaying the logout dialog
Comment[ar]=إلغاء تشبع ألوان سطح المكتب عن ظهور حور الخروج
Comment[bg]=Избледняване на работния плот при показване на прозореца за изход
Comment[ca]=Reducció de la saturació de l'escriptori en mostar el diàleg de sortida
Comment[da]=Afmæt farverne på desktoppen når log ud-dialogen vises
Comment[de]=Färbt die Arbeitsfläche in Grautöne, wenn der Abmelde-Dialog erscheint.
Comment[el]=Αποχρωματισμός της επιφάνειας εργασίας κατά την εμφάνιση του διαλόγου αποσύνδεσης
Comment[es]=Desatura el escritorio cuando se finaliza la sesión
Comment[et]=Töölaua värvide tuhmistamine väljalogimisdialoogi näitamisel
Comment[fr]=Dé-sature le bureau lors de l'affichage de la fenêtre de déconnexion
Comment[gl]=Desatura o escritorio ao mostrar o diálogo de saída
Comment[gu]=બહાર નીકળવાનો સંવાદ દર્શાવતી વખતે ડેસ્કટોપ ઝાંખું બનાવો
Comment[he]=הפוך את שולחן העבודה לשחור־לבן בעת הצגת חלון סיום העבודה
Comment[is]=Afmetta skjáborð þegar útstimplunarglugginn birtist
Comment[it]=Desatura il desktop quando viene mostrata la finestra di dialogo per terminare la sessione
Comment[ja]=ログアウトダイアログを表示するときにデスクトップを減色します
Comment[kk]=Шығу диалогын көрсеткенде үстелді ертіп жіберу
Comment[km]=ជ្រាប​ផ្ទៃតុ​នៅពេល​បង្ហាញ​ប្រអប់​ចេញ
Comment[kn]=ಹೊರನಡೆಯುವಿಕೆ (ಲಾಗೌಟ್) ಸಂವಾದವನ್ನು ತೋರಿಸುವಾಗ ಗಣಕತೆರೆಯ ಶುಧ್ಧತ್ವವನ್ನು ಕುಂದಿಸು
Comment[ko]=로그아웃 대화상자를 표시할 때 데스크톱을 흑백으로 전환시킵니다
Comment[lv]=Padarīt darbvirsmu pelēktoņu , parādot atteikšanās logu
Comment[ml]=പുറത്തേക്ക് കടക്കാനുള്ള ഡയലോഗ് കാണിക്കുംബോള്‍ പണിയിടം ഡീ-സാചുറേറ്റ് ചെയ്യുക
Comment[nb]=Blek ut skrivebordet når utloggingsdialogen vises
Comment[nds]=De Sattheit vun de Schriefdischklören bi't Wiesen vun den Afmelldialoog daalsetten
Comment[nl]=Verduistert het bureaublad tijdens het weergeven van de afmelddialoog
Comment[pa]=ਜਦੋਂ ਲਾਗ-ਆਉਟ ਡਾਈਲਾਗ ਵੇਖਾਉਣਾ ਹੋਵੇ ਤਾਂ ਡੈਸਕਟਾਪ ਨੂੰ ਡਿ-ਸੈਚੂਰੇਟ ਕਰੋ
Comment[pl]=Zmniejszenie nasycenia kolorów podczas pokazywania okna wylogowania
Comment[pt]=Reduzir a saturação do ecrã ao mostrar a janela de fim de sessão
Comment[pt_BR]=Reduz a saturação da área de trabalho ao mostrar o diálogo de logout
Comment[ro]=Desaturează biroul la afișarea dialogului de ieșire
Comment[sk]=Odfarbi plochu pri zobrazení odhlasovacieho dialógu
Comment[sl]=Ob prikazu odjavnega okna se namizje razbarva
Comment[sr]=Посивљује површ при појави одјавног дијалога
Comment[sr@latin]=Posivljuje površ pri pojavi odjavnog dijaloga
Comment[sv]=Försvaga färger på skrivbordet när utloggningsdialogrutan visas
Comment[te]=లాగ్అవుట్ డైలాగ్‌ను ప్రదర్శిస్తున్నప్పుడు రంగస్థలమును డీసాట్యురేట్ చేయుము
Comment[th]=ลดความอิ่มสีของพื้นที่ทำงาน เมื่อมีการแสดงกล่องออกจากระบบ
Comment[tr]=Çıkış penceresi gösterilirken ekranı soldur
Comment[uk]=Зменшення насиченості кольорів стільниці під час показу вікна виходу
Comment[x-test]=xxDesaturate the desktop when displaying the logout dialogxx
Comment[zh_CN]=显示注销对话框时降低桌面饱和度
Comment[zh_TW]=顯示登出視窗時將桌面淡化

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_logout
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=40
