[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_lookingglass
X-KDE-PluginKeyword=lookingglass

Name=Looking Glass
Name[ca]=Aparença de vidre
Name[es]=Espejo
Name[et]=Suurendusklaas
Name[fi]=Suurennuslasi
Name[fr]=Miroir
Name[he]=מראה
Name[hi]=लुकिंग ग्लास
Name[hu]=Nagyító
Name[is]=Spegill
Name[it]=Lente d'ingrandimento
Name[kk]=Айна
Name[km]=កញ្ចក់​មើល
Name[ko]=들여다보는 돋보기
Name[lv]=Skatāmais Stikls
Name[nds]=Kiekglas
Name[ne]=हेर्ने ऐना
Name[nl]=Vergrootglas
Name[pa]=ਸ਼ੀਸ਼ਾ ਵੇਖਣਾ
Name[pl]=Lupa
Name[pt]=Aparência de Vidro
Name[pt_BR]=Espelho
Name[se]=Stuoridanláse
Name[sr]=Лупа
Name[sr@latin]=Lupa
Name[sv]=Spegel
Name[x-test]=xxLooking Glassxx
Name[zh_CN]=镜射
Name[zh_TW]=鏡射
