[Desktop Entry]
Name=Looking Glass
Name[af]=Vergrootglas
Name[ca]=Aparença de vidre
Name[csb]=Lupa
Name[da]=Kikkert
Name[es]=Espejo
Name[et]=Suurendusklaas
Name[fi]=Suurennuslasi
Name[fr]=Agrandissement
Name[gl]=Espello
Name[gu]=જોવાનો કાચ
Name[he]=מראה
Name[hi]=लुकिंग ग्लास
Name[hu]=Nagyító
Name[is]=Spegill
Name[it]=Lente d'ingrandimento
Name[ja]=拡大鏡
Name[kk]=Лупа
Name[km]=កញ្ចក់​មើល
Name[kn]=ಲುಕಿಂಗ್ ಗ್ಲಾಸ್
Name[ko]=들여다보는 돋보기
Name[lt]=Didinamasis stiklas
Name[lv]=Skatāmais Stikls
Name[ml]=മായകണ്ണാടി.
Name[mr]=लुकिंग ग्लास
Name[nds]=Kiekglas
Name[ne]=हेर्ने ऐना
Name[nl]=Vergrootglas
Name[pa]=ਸ਼ੀਸ਼ਾ ਵੇਖਣਾ
Name[pl]=Lupa
Name[pt]=Aparência de Vidro
Name[pt_BR]=Espelho
Name[ro]=Binoclu
Name[ru]=Увеличительное стекло
Name[se]=Stuoridanláse
Name[sl]=Povečevalno steklo
Name[sr]=Лупа
Name[sr@latin]=Lupa
Name[sv]=Förstoringsglas
Name[te]=లుకింగ్ గ్లాస్
Name[th]=ดูคล้ายกระจก
Name[tr]=Büyüteç
Name[wa]=Berikes
Name[x-test]=xxLooking Glassxx
Name[zh_CN]=镜射
Name[zh_TW]=鏡射
Comment=A screen magnifier that looks like a fisheye lens
Comment[el]=Ένας μεγεθυντικός φακός οθόνης με έντονη ευρυγώνια οπτική
Comment[gl]=Unha lupa do escritorio que semella unha lente de ollo de peixe
Comment[gu]=સ્ક્રિનમોટું કરનાર જે માછલીની આંખનાં લેન્સ જેવો લાગે છે
Comment[kk]="Балық көзі" линзасы секілді экран ұлғайтқышы
Comment[km]=កម្មវិធី​ពង្រីក​អេក្រង់​ដែលមើល​​ទៅ​ដូច​ជា​កែវ​ភ្នែក​ត្រី
Comment[kn]=ಮತ್ಸ್ಯನೇತ್ರ ಮಸೂರದಂತೆ (ಫಿಷ್ ಐ) ತೋರುವ ಒಂದು ತೆರೆ ಮಸೂರ
Comment[nb]=En skjermlupe som ser ut som en fiskeøye-linse
Comment[nds]=En Schirm-Kiekgla, de as en Fischoog-Lins utsüht
Comment[pt]=Uma lupa do ecrã que parece uma lente de olho-de-peixe
Comment[pt_BR]=Uma lupa do ecrã que parece uma lente de olho-de-peixe
Comment[ro]=O lupă de ecran ce arată ca lentilele ochiului de pește
Comment[sv]=Ett skärmförstoringsglas som ser ut som en fiskögonlins
Comment[tr]=Balık gözüne benzeyen bir ekran büyüteci
Comment[uk]=Екранна лупа, яка робить вигляд стільниці схожим на зображення, отримане з ефектом «риб’ячого ока»
Comment[x-test]=xxA screen magnifier that looks like a fisheye lensxx
Comment[zh_TW]=看起來像魚眼鏡片的螢幕放大器
Icon=preferences-system-windows-effect-lookingglass

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_lookingglass
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
