[Desktop Entry]
Name=Looking Glass
Name[ca]=Aparença de vidre
Name[es]=Espejo
Name[et]=Suurendusklaas
Name[fi]=Suurennuslasi
Name[he]=מראה
Name[hi]=लुकिंग ग्लास
Name[hu]=Nagyító
Name[kk]=Айна
Name[km]=កញ្ចក់​មើល
Name[lv]=Skatāmais Stikls
Name[nds]=Kiekglas
Name[ne]=हेर्ने ऐना
Name[nl]=Vergrootglas
Name[pa]=ਸ਼ੀਸ਼ਾ ਵੇਖਣਾ
Name[pl]=Lupa
Name[pt]=Aparência de Vidro
Name[pt_BR]=Espelho
Name[se]=Stuoridanláse
Name[sr]=Лупа
Name[sr@latin]=Lupa
Name[sv]=Spegel
Name[x-test]=xxLooking Glassxx
Name[zh_CN]=镜射
Name[zh_TW]=鏡射
Comment=Looking Glass enhanced magnifier
Comment[bg]=Лупа
Comment[ca]=Ampliació millorada amb aparença de vidre
Comment[de]=Looking Glass erweiterte Lupe
Comment[el]=Βελτιωμένος μεγεθυντικός φακός Looking Glass
Comment[eo]=Looking Glass-kapabla pligrandigilo
Comment[es]=Lupa de espejo mejorada
Comment[et]=Suurendusklaas on täiustatud suurendaja
Comment[fi]=Suurennuslasi - parannettu 
Comment[fy]=Looking Glass ferbettere fergrutgleas
Comment[ga]=Formhéadaitheoir breisithe Looking Glass
Comment[gl]=Lupa mellorada
Comment[he]=זכוכית מגדלת משופרת
Comment[hi]=लुकिंग ग्लास उन्नत आतशी शीशा
Comment[hu]=Kibővített nagyító
Comment[kk]=Айнамен күшейткен ұлғайтқыш
Comment[km]=​កញ្ចក់​មើល​ដែល​បាន​បន្ថែម​ទៅ​ក្នុង​កែវ​ពង្រីក​
Comment[lv]=Skatāmais Stikls - uzlabots palielinātājs
Comment[nb]=Looking Glass-forbedret lupe
Comment[nds]=Verwiedert Luup
Comment[ne]=हेर्ने ऐना विस्तारित परिमार्जक
Comment[nl]=Vergrootglas
Comment[nn]=Looking Glass forbetra forstørring
Comment[pa]=ਸ਼ੀਸ਼ੇ ਦੇ ਵੱਡਦਰਸ਼ੀ ਰਾਹੀਂ ਵੇਖੋ
Comment[pl]=Rozszerzona lupa
Comment[pt]=Ampliação melhorada com Aparência de Vidro
Comment[pt_BR]=Espelho, uma lente de aumento melhorada
Comment[se]=Čállinbeavddi stuoridanláse
Comment[sr]=Побољшано увеличавање лупом
Comment[sr@latin]=Poboljšano uveličavanje lupom
Comment[sv]=Spegel förbättrat förstoringsglas
Comment[x-test]=xxLooking Glass enhanced magnifierxx
Comment[zh_CN]=镜面放大
Comment[zh_TW]=鏡面放大
Icon=preferences-system-windows-effect-lookingglass

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_lookingglass
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Category[ca]=Accessibilitat
X-KDE-PluginInfo-Category[de]=Zugangshilfen
X-KDE-PluginInfo-Category[el]=Προσβασιμότητα
X-KDE-PluginInfo-Category[eo]=Alirebleco
X-KDE-PluginInfo-Category[et]=Hõlbustus
X-KDE-PluginInfo-Category[ga]=Inrochtaineacht
X-KDE-PluginInfo-Category[hu]=Kezelési segítség
X-KDE-PluginInfo-Category[ja]=アクセシビリティ
X-KDE-PluginInfo-Category[km]=មធ្យោបាយ​ងាយស្រួល
X-KDE-PluginInfo-Category[lv]=Pieejamība
X-KDE-PluginInfo-Category[nb]=Tilgjengelighet
X-KDE-PluginInfo-Category[nds]=Behinnertenhülp
X-KDE-PluginInfo-Category[nl]=Toegankelijkheid
X-KDE-PluginInfo-Category[pa]=ਸਹੂਲਤਾਂ
X-KDE-PluginInfo-Category[pl]=Dostępność
X-KDE-PluginInfo-Category[pt]=Acessibilidade
X-KDE-PluginInfo-Category[pt_BR]=Acessibilidade
X-KDE-PluginInfo-Category[se]=Álkkibut geavaheapmi
X-KDE-PluginInfo-Category[sl]=Dostopnost
X-KDE-PluginInfo-Category[sr]=Приступачност
X-KDE-PluginInfo-Category[sr@latin]=Pristupačnost
X-KDE-PluginInfo-Category[sv]=Handikappstöd
X-KDE-PluginInfo-Category[wa]=Accessibilité
X-KDE-PluginInfo-Category[x-test]=xxAccessibilityxx
X-KDE-PluginInfo-Category[zh_CN]=辅助功能
X-KDE-PluginInfo-Category[zh_TW]=無障礙輔助
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
