[Desktop Entry]
Name=Magic Lamp
Name[be@latin]=Mahičnaja lampa
Name[el]=Μαγικό λυχνάρι
Name[et]=Võlulatern
Name[gl]=Lámpara máxica
Name[gu]=જાદુઇ દિવો
Name[he]=מנורת קסמים
Name[ja]=魔法のランプ
Name[kk]=Сиқырлы шырақ
Name[km]=អំពូល​មន្តអាគមន៍
Name[kn]=ಮಾಂತ್ರಿಕ ದೀಪ
Name[ko]=요술 램프
Name[lt]=Magiška lempa
Name[nds]=Töverlamp
Name[nn]=Magisk lampe
Name[pt]=Lâmpada Mágica
Name[pt_BR]=Lâmpada Mágica
Name[ro]=Lampă fermecată
Name[sl]=Magična svetilka
Name[sv]=Magisk lanterna
Name[te]=మాజిక్ లాంప్
Name[tr]=Sihirli Lamba
Name[uk]=Чарівна лампа
Name[x-test]=xxMagic Lampxx
Name[zh_TW]=魔法燈
Icon=preferences-system-windows-effect-magic-lamp
Comment=Simulate a magic lamp when minimizing windows
Comment[be@latin]=Minimalizuje vokny ŭ mahičnuju lampu.
Comment[el]=Εξομοίωση ενός μαγικού λυχναριού κατά την ελαχιστοποίηση παραθύρων
Comment[gl]=Simula unha lámpada máxica ao minimizar as fiestras
Comment[gu]=વિન્ડોને નાની કરતી વખતે જાદુઇ દીવોની અસર આપે છે
Comment[kk]=Терезеледі түйгенде сиқырлы шырақ секілді қылады
Comment[km]=ក្លែង​ធ្វើ​អំពូល​មន្តអាគមន៍​នៅពេល​បង្រួម​បង្អួច​អប្បបរមា​
Comment[kn]=ಕಿಟಕಿಗಳನ್ನು ಕನಿಷ್ಠೀಕರಿಸುವಾಗ ಒಂದು ಮಾಂತ್ರಿಕ ದೀಪವನ್ನು ಸಜೀವನಗೊಳಿಸು
Comment[nb]=Smuler en magisk lampe når vinduer minimeres
Comment[nds]=Simuleert bi't Minimeren vun Finstern en Wunnerlamp
Comment[pt]=Simular uma lâmpada mágica ao minimizar as janelas
Comment[pt_BR]=Simular uma lâmpada mágica ao minimizar as janelas
Comment[ro]=Simulează o lampă fermecată la minimizarea ferestrelor
Comment[sv]=Simulera en magisk lanterna vid minimering av fönster
Comment[tr]=Pencerelerin panele küçültülüşünü sihirli lamba efekti ile canlandır
Comment[uk]=Імітує ефект чарівної лампи під час мінімізації вікон
Comment[x-test]=xxSimulate a magic lamp when minimizing windowsxx
Comment[zh_TW]=最小化視窗時模擬神燈將精靈收進去的樣子

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_magiclamp
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
