[Desktop Entry]
Name=Magic Lamp
Name[nds]=Töverlamp
Name[pt]=Lâmpada Mágica
Name[pt_BR]=Lâmpada Mágica
Name[uk]=Чарівна лампа
Name[zh_TW]=魔法燈
Icon=preferences-system-windows-effect-magic-lamp
Comment=Animates minimizing of windows with a magic lamp
Comment[nds]=Animeert dat Minimeren vun Finstern mit en Töverlamp
Comment[pt]=Anima a minimização das janelas com uma lâmpada mágica
Comment[pt_BR]=Anima a minimização das janelas com uma lâmpada mágica
Comment[uk]=Оживляє мінімізацію вікон у вигляді чарівної лампи
Comment[zh_TW]=用魔法燈動畫最小化視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_magiclamp
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
