[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_magnifier
X-KDE-PluginKeyword=magnifier

Name=Magnifier
Name[be]=Павелічальная лупа
Name[ca]=Lupa
Name[csb]=Zwikszanié
Name[de]=Lupe
Name[el]=Μεγεθυντικός φακός
Name[eo]=Pligrandigilo
Name[es]=Lupa
Name[et]=Suurendaja
Name[eu]=Handitzailea
Name[fa]=ذره‌بین
Name[fi]=Suurennuslasi
Name[fy]=Fergrutter
Name[ga]=Formhéadaitheoir
Name[he]=זכוכית מגדלת
Name[hi]=आतिशी शीशा
Name[hu]=Nagyító
Name[ja]=拡大鏡
Name[kk]=Ұлғайтқыш
Name[km]=X Magnifier
Name[lv]=Lupa
Name[nb]=Lupe
Name[nds]=Kiekglas
Name[ne]=परिमार्जक
Name[nl]=Vergrootglas
Name[nn]=Forstørring
Name[oc]=Lópia
Name[pa]=ਵੱਡਦਰਸ਼ੀ
Name[pl]=Powiększenie
Name[pt]=Lupa
Name[pt_BR]=Lente de Aumento
Name[se]=Stuorideaddji
Name[sl]=Povečevalnik
Name[sr]=Увеличавач
Name[sr@latin]=Uveličavač
Name[sv]=Förstoringsglas
Name[uk]=Лупа
Name[vi]=Kính lúp
Name[x-test]=xxMagnifierxx
Name[zh_CN]=放大镜
Name[zh_TW]=放大鏡
