[Desktop Entry]
Encoding=UTF-8
Name=Magnifier
Icon=kwin-effect-magnifier
Name[csb]=Zwikszanié
Name[de]=Vergrößerung
Name[el]=Μεγεθυντικός φακός
Name[nds]=Kiekglas
Name[zh_TW]=放大鏡
Comment=Magnifies the part of the screen that is under the mouse
Comment[zh_TW]=將滑鼠底下的部份視窗放大

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_magnifier
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
