[Desktop Entry]
Name=Magnifier
Name[af]=Vergroter
Name[be]=Павелічальная лупа
Name[ca]=Lupa
Name[cs]=Lupa
Name[csb]=Zwikszanié
Name[da]=Forstørrelsesglas
Name[de]=Lupe
Name[el]=Μεγεθυντικός φακός
Name[eo]=Pligrandigilo
Name[es]=Lupa
Name[et]=Suurendaja
Name[eu]=Handitzailea
Name[fa]=ذره‌بین
Name[fi]=Suurennuslasi
Name[fr]=Loupe
Name[fy]=Fergrutter
Name[ga]=Formhéadaitheoir
Name[gl]=Lupa
Name[gu]=મોટું કરનાર
Name[he]=זכוכית מגדלת
Name[hi]=आतिशी शीशा
Name[hu]=Nagyító
Name[is]=Stækkunargler
Name[it]=Ingrandimento
Name[ja]=拡大鏡
Name[kk]=Ұлғайтқыш
Name[km]=X Magnifier
Name[ko]=돋보기
Name[lt]=Didinamasis stiklas
Name[lv]=Lupa
Name[ml]=ഭൂതകണ്ണാടി
Name[nb]=Lupe
Name[nds]=Kiekglas
Name[ne]=परिमार्जक
Name[nl]=Vergrootglas
Name[nn]=Forstørring
Name[oc]=Lópia
Name[pa]=ਵੱਡਦਰਸ਼ੀ
Name[pl]=Powiększenie
Name[pt]=Lupa
Name[pt_BR]=Lente de Aumento
Name[ro]=Lupă
Name[ru]=Увеличитель
Name[se]=Stuorideaddji
Name[sl]=Povečevalnik
Name[sr]=Увеличавач
Name[sr@latin]=Uveličavač
Name[sv]=Förstoringsglas
Name[th]=แว่นขยาย
Name[tr]=Büyüteç
Name[uk]=Лупа
Name[uz]=Kattalashtiruvchi
Name[uz@cyrillic]=Катталаштирувчи
Name[vi]=Kính lúp
Name[wa]=Magnifieu
Name[x-test]=xxMagnifierxx
Name[zh_CN]=放大镜
Name[zh_TW]=放大鏡
Icon=preferences-system-windows-effect-magnifier
Comment=Magnifies the part of the screen that is under the mouse
Comment[af]=Vergroot die deel van die skerm wat onder die muiswyser is
Comment[bg]=Увеличава частта от екрана под мишката
Comment[ca]=Amplia la part de la pantalla que està sota el ratolí
Comment[da]=Forstørrer den del af skærmen som er under musen
Comment[de]=Vergrößert den Arbeitsflächenbereich unter der Maus
Comment[el]=Μεγέθυνση του τμήματος της οθόνη κάτω από το ποντίκι
Comment[eo]=Grandigas la parton de la ekrano sub la muso
Comment[es]=Amplía la parte de la pantalla que esté bajo el ratón
Comment[et]=Suurendab hiire all olevat ekraaniosa
Comment[fa]=جزئی از پرده را که زیر موشی است درشت‌نما می‌کند
Comment[fi]=Suurentaa hiiren alla olevan osan ruudusta
Comment[fr]=Agrandit la partie de l'écran sous la souris
Comment[fy]=Fergruttet it part fan it skerm dat him ûnder de mûs befynt
Comment[ga]=Formhéadaigh an pháirt den scáileán faoin luch
Comment[gl]=Amplía a parte da pantalla que está baixo o rato
Comment[gu]=માઉસની નીચેનો સ્ક્રિનનો ભાગ મોટો કરે છે
Comment[he]=הגדלת החלק של המסך שנמצא מתחת למצביע העכבר
Comment[hi]=माउस के नीचे के स्क्रीन स्थान को आवर्धित करता है
Comment[hu]=Felnagyítja az egér alatti területet
Comment[is]=Stækkar þann hluta skjásins sem er undir músarbendlinum
Comment[it]=Ingrandisce la parte dello schermo sotto il mouse
Comment[ja]=マウスの下のスクリーン領域を拡大します
Comment[kk]=Тышқанның астындағы экран бөлігін ұлғайтып көрсетеді
Comment[km]=ពង្រីក​ផ្នែក​នៃ​អេក្រង់​​តាម​កណ្តុរ​
Comment[ko]=마우스 아래에 있는 화면을 확대합니다
Comment[lt]=Padidina ekrano vietą po pele
Comment[lv]=Palielina daļu ekrāna zem peles kursora
Comment[nb]=Forstørrer den delen av skjermen som er under musepekeren
Comment[nds]=Maakt den Deel vun den Schirm ünner de Muus grötter
Comment[ne]=माउस मूनिको पर्दाको भाग परिमार्जन गर्दछ
Comment[nl]=Vergroot het deel van het scherm dat zich onder de muis bevindt
Comment[nn]=Forstørrar den delen av skjermen som er under muspeikaren
Comment[pa]=ਸਕਰੀਨ ਦਾ ਭਾਗ ਵੱਡਾ ਕਰਕੇ ਵੇਖਾਓ, ਜੋ ਕਿ ਮਾਊਸ ਹੇਠ ਹੋਵੇ
Comment[pl]=Powiększa fragment ekranu znajdujący się pod kursorem
Comment[pt]=Amplia a parte do ecrã que está sob o rato
Comment[pt_BR]=Amplia a parte da tela que está sob o mouse
Comment[ro]=Mărește zona de ecran de sub cursor
Comment[ru]=Увеличивает часть экрана, которая находится под мышью
Comment[se]=Stuorida dan oasi šearpmas mii lea seavána vuolde
Comment[sl]=Poveča del zaslona, ki je pod miškinim kazalcem
Comment[sr]=Увеличава део екрана под мишом
Comment[sr@latin]=Uveličava deo ekrana pod mišom
Comment[sv]=Förstorar den del av skärmen som är under musen
Comment[th]=แว่นขยายบางส่วนของหน้าจอที่อยู่ใต้เคอร์เซอร์เมาส์
Comment[tr]=Farenin altındaki pencere bölümünü büyütür
Comment[uk]=Збільшує частину екрана, що знаходиться під мишкою
Comment[vi]=To ra phần màn hình nằm dưới con chuột
Comment[x-test]=xxMagnifies the part of the screen that is under the mousexx
Comment[zh_CN]=放大鼠标下面的部分屏幕
Comment[zh_TW]=將滑鼠底下的部份視窗放大

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_magnifier
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
