[Desktop Entry]
Name=Translucency
Name[af]=Deursigtigheid
Name[be]=Празрыстасць
Name[bn]=সমস্বচ্ছতা
Name[br]=Treuzwel
Name[ca]=Translucidesa
Name[csb]=Transparentnosc
Name[da]=Gennemsigtighed
Name[de]=Transparenz
Name[el]=Διαφάνεια
Name[eo]=Diafaneco
Name[es]=Transparencia
Name[et]=Läbipaistvus
Name[eu]=Gardentasuna
Name[fi]=Läpikuultavuus
Name[fr]=Transparence
Name[fy]=Trochsichtichheid
Name[ga]=Tréshoilseacht
Name[gl]=Transparencia
Name[hr]=Prozirnost
Name[hu]=Áttetszőség
Name[is]=Gegnsæi
Name[ja]=半透明
Name[ka]=ნახევრადგამჭირვალეობა
Name[km]=ភាព​ល្អក់
Name[lt]=Permatomumas
Name[lv]=Caurspīdīgums
Name[mk]=Провидност
Name[nb]=Gjennomskinnelighet
Name[nds]=Dörschienen
Name[ne]=पारभासकता
Name[nl]=Transparatie
Name[nn]=Gjennomsikt
Name[pa]=ਬਲੌਰੀ (ਟਰੈਨਜ਼ਲੂਸਨਟ)
Name[pl]=Przezroczystość
Name[pt]=Translucidez
Name[pt_BR]=Transparência
Name[ro]=Translucenţă
Name[ru]=Полупрозрачность
Name[se]=Čađačuovgi
Name[sk]=Priesvitnosť
Name[sl]=Prosojnost
Name[sr]=Прозирност
Name[sr@latin]=Prozirnost
Name[sv]=Genomskinlighet
Name[ta]=ஒளிகசிவு
Name[tr]=Şeffaflık
Name[uk]=Прозорість
Name[uz]=Шаффофлик
Name[vi]=Trong mờ
Name[x-test]=xxTranslucencyxx
Name[zh_CN]=半透明
Name[zh_TW]=半透明
Icon=preferences-system-windows-effect-maketransparent
Comment=Makes decorations or entire windows translucent
Comment[ca]=Converteix en translúcides les decoracions o les finestres senceres
Comment[csb]=Robi òkna czë jich dekòracëjã transparentną
Comment[de]=Macht Fenster oder deren Dekorationen transparent
Comment[el]=Κάνει τη διακόσμηση των παραθύρων ή ολόκληρα τα παράθυρα ημιδιαφανή
Comment[eo]=Aldonas diafanecon al ornamaĵoj aŭ al la tuta fenestro
Comment[es]=Hace translúcidas las decoraciones o las ventanas enteras
Comment[et]=Dekoratsioonid või terved aknad muudetakse läbipaistvaks
Comment[fi]=Tekee koristeista tai ikkunista läpinäkyviä
Comment[fy]=Makket finsterrânen of komplete finsters trochsichtich
Comment[ga]=Déan maisíochtaí nó fuinneog iomlán tréshoilseach
Comment[gl]=Fai translúcida a decoración de toda a fiestra
Comment[hu]=Az ablakkereteket vagy akár az egész ablakot áttetszővé teszi
Comment[ja]=装飾またはウィンドウ全体を半透明にします
Comment[km]=បង្កើត​កា​រតុបតែង ឬ​ភាព​ស្រអាប់​បង្អួច​ទាំង​មូល
Comment[lv]=Padara logu dekorācijas vai visus logus puscaurspīdīgus
Comment[nb]=Gjør dekorasjoner eller hele vinduer gjennomskinnelig
Comment[nds]=Maakt dörschienen Finstern oder Finsterdelen
Comment[nl]=Maakt vensterranden of complete vensters transparant
Comment[nn]=Gjer dekorasjonar og heile vindauge gjennomsiktige
Comment[pa]=ਸਜਾਵਟ ਜਾਂ ਪੂਰੀ ਵਿੰਡੋ ਹੀ ਬਲੌਰੀ ਬਣਾਓ
Comment[pl]=Włącz przezroczystość dekoracji lub całego okna
Comment[pt]=Torna as decorações ou as janelas internas translúcidas
Comment[pt_BR]=Torna as decorações ou as janelas internas translúcidas
Comment[se]=Dagaha lásehearvvaid dahje lásiid čađačuovgi
Comment[sl]=Okraski oken ali celotna okna postanejo prosojni
Comment[sr]=Декорација или цели прозори постају прозирни
Comment[sr@latin]=Dekoracija ili celi prozori postaju prozirni
Comment[sv]=Gör dekorationer eller hela fönster halvgenomskinliga
Comment[x-test]=xxMakes decorations or entire windows translucentxx
Comment[zh_CN]=让装饰或整个屏幕透明
Comment[zh_TW]=讓裝飾或整個視窗變半透明

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_maketransparent
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[eo]=Aspekto
X-KDE-PluginInfo-Category[et]=Välimus
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[nl]=Uiterlijk
X-KDE-PluginInfo-Category[pl]=Wygląd
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sl]=Videz
X-KDE-PluginInfo-Category[sr]=Изглед
X-KDE-PluginInfo-Category[sr@latin]=Izgled
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[x-test]=xxAppearancexx
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
