[Desktop Entry]
Name=Translucency
Name[af]=Deursigtigheid
Name[be]=Празрыстасць
Name[bg]=Прозрачност
Name[bn]=সমস্বচ্ছতা
Name[br]=Treuzwel
Name[ca]=Translucidesa
Name[csb]=Transparentnosc
Name[da]=Gennemsigtighed
Name[de]=Transparenz
Name[el]=Διαφάνεια
Name[eo]=Diafaneco
Name[es]=Transparencia
Name[et]=Läbipaistvus
Name[eu]=Gardentasuna
Name[fi]=Läpikuultavuus
Name[fr]=Transparence
Name[fy]=Trochsichtichheid
Name[ga]=Tréshoilseacht
Name[gl]=Transparencia
Name[gu]=પારદર્શકતા
Name[hr]=Prozirnost
Name[hu]=Áttetszőség
Name[is]=Hálfgegnsæi
Name[it]=Semitrasparenza
Name[ja]=半透明
Name[ka]=ნახევრადგამჭირვალეობა
Name[km]=ភាព​ល្អក់
Name[ko]=반투명
Name[lt]=Permatomumas
Name[lv]=Caurspīdīgums
Name[mk]=Провидност
Name[nb]=Gjennomskinnelighet
Name[nds]=Dörschienen
Name[ne]=पारभासकता
Name[nl]=Transparatie
Name[nn]=Gjennomsikt
Name[pa]=ਬਲੌਰੀ (ਟਰੈਨਜ਼ਲੂਸਨਟ)
Name[pl]=Przezroczystość
Name[pt]=Translucidez
Name[pt_BR]=Transparência
Name[ro]=Transluciditate
Name[ru]=Полупрозрачность
Name[se]=Čađačuovgi
Name[sk]=Priesvitnosť
Name[sl]=Prosojnost
Name[sr]=Прозирност
Name[sr@latin]=Prozirnost
Name[sv]=Genomskinlighet
Name[ta]=ஒளிகசிவு
Name[th]=ความโปร่งแสง
Name[tr]=Şeffaflık
Name[uk]=Прозорість
Name[uz]=Шаффофлик
Name[vi]=Trong mờ
Name[wa]=Transparince
Name[x-test]=xxTranslucencyxx
Name[zh_CN]=半透明
Name[zh_TW]=半透明
Icon=preferences-system-windows-effect-maketransparent
Comment=Makes decorations or entire windows translucent
Comment[bg]=Прозрачност на отделни части или целия прозорец
Comment[ca]=Converteix en translúcides les decoracions o les finestres senceres
Comment[csb]=Robi òkna czë jich dekòracëjã transparentną
Comment[da]=Gør dekorationer eller hele vinduer gennemsigtige
Comment[de]=Macht Fenster oder deren Dekorationen transparent
Comment[el]=Κάνει τη διακόσμηση των παραθύρων ή ολόκληρα τα παράθυρα ημιδιαφανή
Comment[eo]=Aldonas diafanecon al ornamaĵoj aŭ al la tuta fenestro
Comment[es]=Hace translúcidas las decoraciones o las ventanas enteras
Comment[et]=Dekoratsioonid või terved aknad muudetakse läbipaistvaks
Comment[fi]=Tekee koristeista tai ikkunista läpinäkyviä
Comment[fr]=Rend les décorations ou la fenêtre entière transparente
Comment[fy]=Makket finsterrânen of komplete finsters trochsichtich
Comment[ga]=Déan maisíochtaí nó fuinneog iomlán tréshoilseach
Comment[gl]=Fai translúcida a decoración de toda a fiestra
Comment[gu]=શણગાર અથવા સમગ્ર વિન્ડોને પારદર્શક બનાવે છે
Comment[hu]=Az ablakkereteket vagy akár az egész ablakot áttetszővé teszi
Comment[is]=Gerir skreytingar eða glugga hálfgagnsæja
Comment[it]=Rende semitrasparenti le decorazioni o tutte le finestre
Comment[ja]=装飾またはウィンドウ全体を半透明にします
Comment[km]=បង្កើត​កា​រតុបតែង ឬ​ភាព​ស្រអាប់​បង្អួច​ទាំង​មូល
Comment[ko]=창 장식을 반투명하게 만듭니다
Comment[lv]=Padara logu dekorācijas vai visus logus puscaurspīdīgus
Comment[nb]=Gjør dekorasjoner eller hele vinduer gjennomskinnelig
Comment[nds]=Maakt dörschienen Finstern oder Finsterdelen
Comment[nl]=Maakt vensterranden of complete vensters transparant
Comment[nn]=Gjer dekorasjonar og heile vindauge gjennomsiktige
Comment[pa]=ਸਜਾਵਟ ਜਾਂ ਪੂਰੀ ਵਿੰਡੋ ਹੀ ਬਲੌਰੀ ਬਣਾਓ
Comment[pl]=Włącz przezroczystość dekoracji lub całego okna
Comment[pt]=Torna as decorações ou as janelas internas translúcidas
Comment[pt_BR]=Torna as decorações ou as janelas internas translúcidas
Comment[ro]=Face translucide decorațiile sau ferestrele întregi
Comment[se]=Dagaha lásehearvvaid dahje lásiid čađačuovgi
Comment[sl]=Okraski oken ali celotna okna postanejo prosojni
Comment[sr]=Декорација или цели прозори постају прозирни
Comment[sr@latin]=Dekoracija ili celi prozori postaju prozirni
Comment[sv]=Gör dekorationer eller hela fönster halvgenomskinliga
Comment[th]=ทำให้ส่วนตกแต่งหรือทั้งหมดของหน้าต่างดูเหมือนมีความโปร่งแสง
Comment[tr]=Dekorasyonları ya da verilen pencereyi şeffaf yapar
Comment[uk]=Робить обрамлення або й ціле вікно напівпрозорим
Comment[x-test]=xxMakes decorations or entire windows translucentxx
Comment[zh_CN]=让装饰或整个屏幕透明
Comment[zh_TW]=讓裝飾或整個視窗變半透明

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_maketransparent
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
