[Desktop Entry]
Name=Minimize Animation
Name[af]=Minimeer-animasie
Name[be]=Анімацыя змяншэння
Name[be@latin]=Animacyja minimalizacyi akna
Name[bg]=Минимизиране на анимацията
Name[ca]=Animació de minimització
Name[cs]=Animace minimalizace
Name[csb]=Minimalizëjë animacëjã
Name[da]=Minimér-animation
Name[de]=Minimieren-Animation
Name[el]=Κίνηση ελαχιστοποίησης
Name[en_GB]=Minimise Animation
Name[eo]=Minimumigi animacion
Name[es]=Animación de minimización
Name[et]=Minimeerimise animatsioon
Name[eu]=Minimizatzeko animazioa
Name[fa]=پویانمایی کمینه‌سازی
Name[fi]=Minimointi animoitu
Name[fr]=Animation de la réduction
Name[fy]=Libbende minimalisaasje
Name[ga]=Beochan Íoslaghdaithe
Name[gl]=Animación de minimizar
Name[gu]=એનિમેશન નાનું
Name[he]=אנימציית מיזעור
Name[hi]=न्यूनतम करने पर एनीमेशन
Name[hu]=Animáció minimalizáláskor
Name[is]=Hreyfingar við lágmörkun
Name[it]=Animazione di minimizzazione
Name[ja]=最小化のアニメーション
Name[kk]=Түю анимациясы
Name[km]=ចលនា​បង្រួម​អប្បបរមា
Name[kn]=ಸಜೀವನ (ಅನಿಮೇಶನ್) ಅನ್ನು ಕನಿಷ್ಠೀಕರಿಸು
Name[ko]=최소화 애니메이션
Name[lt]=Sumažinimo animacija
Name[lv]=Minimizēšanas animācija
Name[ml]=ജാലകം ചെറുതാക്കുമ്പോള്‍ കളിപ്പിക്കുക
Name[mr]=एनीमेशन कमी करा
Name[nb]=Animasjon ved minimering
Name[nds]=Minimeer-Animeren
Name[ne]=एनिमेसन सानो पार्नुहोस्
Name[nl]=Minimaliseeranimatie
Name[nn]=Minimeringsanimasjon
Name[pa]=ਘੱਟੋ-ਘੱਟ ਐਨੀਮੇਸ਼ਨ
Name[pl]=Animacja minimalizacji
Name[pt]=Animação da Minimização
Name[pt_BR]=Animação de Minimização
Name[ro]=Animație minimizare
Name[ru]=Анимация минимизации
Name[se]=Minimerenanimašuvdna
Name[sl]=Animirano pomanjševanje
Name[sr]=Анимација минимизовања
Name[sr@latin]=Animacija minimizovanja
Name[sv]=Minimera animering
Name[te]=చిన్నదిచేయుటకు యానిమేషన్
Name[th]=ย่อหน้าต่างแบบเคลื่อนไหว
Name[tr]=Küçültme Canlandırması
Name[uk]=Анімація мінімізації
Name[vi]=Thu nhỏ hoạt ảnh
Name[wa]=Animåcion å pus ptit
Name[x-test]=xxMinimize Animationxx
Name[zh_CN]=最小化动画
Name[zh_TW]=縮小動畫
Icon=preferences-system-windows-effect-minimize-animation
Comment=Animate the minimizing of windows
Comment[be@latin]=Animuje minimalizacyju akon.
Comment[el]=Εφέ κίνησης της ελαχιστοποίησης των παραθύρων
Comment[gl]=Anima a minimización das fiestras
Comment[gu]=વિન્ડોને નાની કરતી વખતે એનિમેટ કરો
Comment[he]=הנפשת מיזעור חלונות
Comment[kk]=Терезеледі түюді анимациялау
Comment[km]=ធ្វើ​ឲ្យ​​ការ​​បង្រួម​បង្អួច​អប្បបរមា​​មាន​ចលនា
Comment[kn]=ಕಿಟಕಿಗಳನ್ನು ಕನಿಷ್ಠೀಕರಿಸುವುದನ್ನು ಸಜೀವನಗೊಳಿಸು (ಅನಿಮೇಟ್)
Comment[nb]=Animer vinduer som minimeres
Comment[nds]=Dat Minimeren vun Finstern animeren
Comment[pt]=Animar a minimização das janelas
Comment[pt_BR]=Animar a minimização das janelas
Comment[ro]=Animează minimizarea ferestrelor
Comment[sv]=Animera minimering av fönster
Comment[tr]=Pencerelerin küçülüşünü canlandır
Comment[uk]=Оживляє мінімізацію вікон
Comment[x-test]=xxAnimate the minimizing of windowsxx
Comment[zh_TW]=動畫最小化視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_minimizeanimation
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
