[Desktop Entry]
Encoding=UTF-8
Name=Minimize Animation
Name[de]=Minimieren-Animation
Name[el]=Κίνηση ελαχιστοποίησης
Name[nds]=Minimeer-Animeren
Name[nl]=Minimaliseeranimatie
Icon=kwin-effect-minimiseanimation
Comment=Animates minimizing of windows
Comment[de]=Animiert den Minimieren-Vorgang von Fenstern
Comment[el]=Κίνηση στα παράθυρα που ελαχιστοποιούνται
Comment[nds]=Animeert dat Minimeren vun Finstern
Comment[nl]=Voorziet het minimaliseren van vensters van een animatie
Comment[zh_TW]=動畫最小化視窗

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_minimizeanimation
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
