[Desktop Entry]
Name=Minimize Animation
Name[be]=Анімацыя змяншэння
Name[bg]=Минимизиране на анимацията
Name[ca]=Animació de minimització
Name[csb]=Minimalizëjë animacëjã
Name[de]=Minimieren-Animation
Name[el]=Κίνηση ελαχιστοποίησης
Name[eo]=Minimumigi animacion
Name[es]=Animación de minimización
Name[et]=Minimeerimise animatsioon
Name[eu]=Minimizatzeko animazioa
Name[fa]=پویانمایی کمینه‌سازی
Name[fi]=Minimointi animoitu
Name[he]=אנימציית מיזעור
Name[hu]=Animáció minimalizáláskor
Name[ja]=最小化のアニメーション
Name[kk]=Түю анимациясы
Name[km]=ចលនា​បង្រួម​អប្បបរមា
Name[lv]=Minimizēšanas animācija
Name[nb]=Animasjon ved minimering
Name[nds]=Minimeer-Animeren
Name[ne]=एनिमेसन सानो पार्नुहोस्
Name[nl]=Minimaliseeranimatie
Name[nn]=Minimeringsanimasjon
Name[pa]=ਘੱਟੋ-ਘੱਟ ਐਨੀਮੇਸ਼ਨ
Name[pl]=Animacja minimalizacji
Name[pt]=Animação da Minimização
Name[pt_BR]=Animação de Minimização
Name[se]=Minimerenanimašuvdna
Name[sr]=Анимација минимизовања
Name[sr@latin]=Animacija minimizovanja
Name[sv]=Minimera animering
Name[vi]=Thu nhỏ hoạt ảnh
Name[wa]=Animåcion å pus ptit
Name[x-test]=xxMinimize Animationxx
Name[zh_CN]=最小化动画
Name[zh_TW]=縮小動畫
Icon=preferences-system-windows-effect-minimize-animation
Comment=Animates minimizing of windows
Comment[bg]=Анимирана минимизация на прозорците
Comment[ca]=Anima la minimització de les finestres
Comment[cs]=Animuje minimalizaci okne
Comment[de]=Animiert den Minimieren-Vorgang von Fenstern
Comment[el]=Κίνηση στα παράθυρα που ελαχιστοποιούνται
Comment[eo]=Animigas la minimumadon de fenestroj
Comment[es]=Anima la minimización de ventanas
Comment[et]=Animeerib akende minimeerimise
Comment[fa]=کمینه‌سازی پنجره‌ها را پویا می‌کند
Comment[fi]=Ikkunoiden pienentäminen animoidaan
Comment[he]=הנפשת מיזעור חלונות
Comment[hu]=Az ablakok minimalizálása animáció kíséretében történjen
Comment[ja]=ウィンドウの最小化をアニメーション化します
Comment[kk]=Терезеледі түюді анимациялау
Comment[km]=ចលនា​បង្រួម​បង្អួច​អប្បបរមា​
Comment[lv]=Animē logu minimizēšanu
Comment[nb]=Animasjon av vinduer som minimeres
Comment[nds]=Animeert dat Minimeren vun Finstern
Comment[ne]=सञ्झ्यालको न्यूनिकरण एनिमेट गर्दछ
Comment[nl]=Voorziet het minimaliseren van vensters van een animatie
Comment[nn]=Animerer minimering av vindauge
Comment[pl]=Animowana minimalizacja okien
Comment[pt]=Anima a minimização das janelas
Comment[pt_BR]=Anima a minimização das janelas
Comment[se]=Animere lásiid minimerema
Comment[sr]=Анимира минимизовање прозора
Comment[sr@latin]=Animira minimizovanje prozora
Comment[sv]=Animerar minimering av fönster
Comment[vi]=Hoạt ảnh việc thu nhỏ cửa sổ
Comment[x-test]=xxAnimates minimizing of windowsxx
Comment[zh_CN]=窗口最小化的动画
Comment[zh_TW]=動畫最小化視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_minimizeanimation
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
