[Desktop Entry]
Name=Mouse Mark
Name[be]=Адметка мышы
Name[bg]=Чертане с мишка
Name[ca]=Marca amb el ratolí
Name[csb]=Merk mëszë
Name[de]=Mausspur
Name[el]=Σήμανση ποντικιού
Name[eo]=Musmarko
Name[es]=Marcación con el ratón
Name[et]=Hiirejälg
Name[eu]=Sagu-marka
Name[fa]=نشان موشی
Name[fy]=Mûs markearing
Name[he]=סימון בעזרת העכבר
Name[hi]=माउस मार्क
Name[hu]=Egérnyom
Name[ja]=マウスマーク
Name[kk]=Тышқан белгісі
Name[km]=សម្គាល់​កណ្តុរ​
Name[lv]=Peles zīmēšana
Name[nb]=Musemerke
Name[nds]=Muus-Mark
Name[ne]=माउस मार्क
Name[nl]=Muismarkering
Name[nn]=Musemerke
Name[pa]=ਮਾਊਸ ਨਿਸ਼ਾਨ
Name[pl]=Znacznik myszy
Name[pt]=Marcação com o Rato
Name[pt_BR]=Anotar com o Mouse
Name[se]=Sáhpánmearka
Name[sr]=Отисци миша
Name[sr@latin]=Otisci miša
Name[sv]=Markera med musen
Name[vi]=Dấu chuột
Name[x-test]=xxMouse Markxx
Name[zh_CN]=鼠标标记
Name[zh_TW]=滑鼠標記
Icon=preferences-system-windows-effect-mouse-mark
Comment=Let's you draw lines onto your desktop
Comment[bg]=Можете да чертаете линии на работния плот
Comment[ca]=Us permet dibuixar línies a l'escriptori
Comment[de]=Zeichnet Mausspuren auf der Arbeitsfläche
Comment[el]=Σας επιτρέπει τη σχεδίαση γραμμών στην επιφάνεια εργασίας σας
Comment[eo]=Donas al vi la eblon skizi liniojn sur via labortablo
Comment[es]=Le deja dibujar líneas en el escritorio
Comment[et]=Võimaldab tõmmata töölauale jooni
Comment[fa]=به شما اجازه ترسیم خطوط بر روی رومیزیتان را می‌دهد
Comment[fi]=Voit piirtää viivoja työpöydälle
Comment[fy]=Lit jo lijnen tekenje op jo buroblêd
Comment[he]=מאפשר לך לצייר קווים על גבי שולחן העבודה שלך
Comment[hi]=यह आपको आपके डेस्कटॉप में लाइनें खींचने देता है
Comment[hu]=Vonalakat enged húzni az asztalon
Comment[it]=Permette di disegnare sul desktop
Comment[ja]=マウスを使ってデスクトップに線を引けます
Comment[kk]=Үстеліңізде сызықтарды салу мүмкіндігін береді
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នក​គូស​បន្ទាត់​ច្រើន​នៅ​លើ​ផ្ទៃតុ​របស់​អ្នក
Comment[lv]=Ļauj ar peli zīmēt līnijas uz darbvirsmas
Comment[nb]=Tegn linjer på skrivebordet
Comment[nds]=Teekt en Muusspoor op den Schriefdisch
Comment[ne]=तपाईँको डेस्कटपमा रेखाहरू कोर्न दिनुहोस्
Comment[nl]=Laat u lijnen tekenen op uw bureaublad
Comment[nn]=Let deg teikna linjer på skrivebordet
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਉੱਤੇ ਡਾਟੇ ਲਈ ਖੋਜ
Comment[pl]=Pozwala rysować linie na pulpicie
Comment[pt]=Deixa-o desenhar linhas no seu ecrã
Comment[pt_BR]=Permite que você desenhe linhas na sua área de trabalho
Comment[se]=Diktá du sárgut linnjáid čállinbeavddi ala
Comment[sr]=Можете цртати линије на радној површи
Comment[sr@latin]=Možete crtati linije na radnoj površi
Comment[sv]=Låter dig rita linjer på skrivbordet
Comment[vi]=Cho bạn có khả năng vẽ đường trên màn hình nền
Comment[x-test]=xxLet's you draw lines onto your desktopxx
Comment[zh_CN]=让您在桌面上画线
Comment[zh_TW]=讓您在您的桌面上畫線

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_mousemark
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
