[Desktop Entry]
Encoding=UTF-8
Name=Mouse Mark
Name[be]=Адметка мышы
Name[bg]=Мишка
Name[csb]=Merk mëszë
Name[de]=Mausspur
Name[el]=Σήμανση ποντικιού
Name[fa]=نشان موشی
Name[ja]=マウスマーク
Name[nds]=Muus-Mark
Name[nl]=Muismarkering
Name[pa]=ਮਾਊਸ ਨਿਸ਼ਾਨ
Name[pt]=Marcação com o Rato
Name[pt_BR]=Marcação com o Rato
Name[sv]=Markera med musen
Name[zh_TW]=滑鼠標記
Icon=kwin-effect-mousemark
Comment=Let's you draw lines onto your desktop
Comment[de]=Zeichnet Mausspuren auf der Arbeitsfläche
Comment[el]=Σας επιτρέπει τη σχεδίαση γραμμών στην επιφάνεια εργασίας σας
Comment[fa]=به شما اجازه ترسیم خطوط بر روی رومیزیتان را می‌دهد
Comment[ja]=マウスを使ってデスクトップに線を引けます
Comment[nds]=Teekt en Muusspoor op den Schriefdisch
Comment[nl]=Laat u lijnen tekenen op uw bureaublad
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਉੱਤੇ ਡਾਟੇ ਲਈ ਖੋਜ
Comment[pt]=Deixa-o desenhar linhas no seu ecrã
Comment[pt_BR]=Deixa-o desenhar linhas no seu ecrã
Comment[sv]=Låter dig rita linjer på skrivbordet
Comment[zh_TW]=讓您在您的桌面上畫線

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_mousemark
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
