[Desktop Entry]
Name=Mouse Mark
Name[be]=Адметка мышы
Name[bg]=Чертане с мишка
Name[ca]=Marca amb el ratolí
Name[csb]=Merk mëszë
Name[da]=Muse-tusch
Name[de]=Mausspur
Name[el]=Σήμανση ποντικιού
Name[eo]=Musmarko
Name[es]=Marcación con el ratón
Name[et]=Hiirejälg
Name[eu]=Sagu-marka
Name[fa]=نشان موشی
Name[fi]=Hiiren jäljet
Name[fr]=Marque de la souris
Name[fy]=Mûs markearing
Name[gl]=Marca do rato
Name[gu]=માઉસ નિશાની
Name[he]=סימון בעזרת העכבר
Name[hi]=माउस मार्क
Name[hu]=Egérnyom
Name[is]=Músarspor
Name[it]=Segni del mouse
Name[ja]=マウスマーク
Name[kk]=Тышқан белгісі
Name[km]=សម្គាល់​កណ្តុរ​
Name[ko]=마우스 자취
Name[lv]=Peles zīmēšana
Name[nb]=Musemerke
Name[nds]=Muus-Mark
Name[ne]=माउस मार्क
Name[nl]=Muismarkering
Name[nn]=Musemerke
Name[pa]=ਮਾਊਸ ਨਿਸ਼ਾਨ
Name[pl]=Znacznik myszy
Name[pt]=Marcação com o Rato
Name[pt_BR]=Anotar com o Mouse
Name[ro]=Urme șoricel
Name[se]=Sáhpánmearka
Name[sl]=Risanje
Name[sr]=Отисци миша
Name[sr@latin]=Otisci miša
Name[sv]=Markera med musen
Name[th]=ทำเครื่องหมายด้วยเมาส์
Name[tr]=Fare İzi
Name[uk]=Позначки мишкою
Name[vi]=Dấu chuột
Name[wa]=Måke di sori
Name[x-test]=xxMouse Markxx
Name[zh_CN]=鼠标标记
Name[zh_TW]=滑鼠標記
Icon=preferences-system-windows-effect-mouse-mark
Comment=Lets you draw lines on your desktop
Comment[ca]=Us permet dibuixar línies a l'escriptori
Comment[el]=Σας επιτρέπει τη σχεδίαση γραμμών στην επιφάνεια εργασίας σας
Comment[fi]=Voit piirtää viivoja työpöydälle
Comment[ga]=Uirlis a cheadaíonn duit línte a dhearadh ar do dheasc
Comment[gu]=તમારા ડેસ્કટોપ પર લીટીઓ દોરવા દે છે
Comment[ja]=マウスを使ってデスクトップに線を引けます
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នក​គូស​បន្ទាត់​ច្រើន​នៅ​លើ​ផ្ទៃតុ​របស់​អ្នក
Comment[nds]=Dor kannst Du Streken mit op den Schriefdisch malen.
Comment[pt]=Deixa-o desenhar linhas no seu ecrã
Comment[pt_BR]=Permite que você desenhe linhas na sua área de trabalho
Comment[ro]=Vă permite să desenați linii pe birou
Comment[sv]=Låter dig rita linjer på skrivbordet
Comment[th]=ให้คุณได้วาดเส้นบนพื้นที่ทำงานของคุณ
Comment[tr]=Masaüstünüze çizgiler çizmenizi sağlar
Comment[uk]=Дає вам змогу малювати лінії на стільниці
Comment[zh_CN]=让您在桌面上画线
Comment[zh_TW]=讓您在您的桌面上畫線

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_mousemark
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
