[Desktop Entry]
Encoding=UTF-8
Name=PresentWindows
Name[csb]=BiéżnéÒkno
Name[nds]=Vörhannen Finstern
Name[zh_TW]=展示視窗
X-KDE-Library=kwin4_effect_builtins
