[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-FactoryName=kcm_kwineffect_presentwindows
X-KDE-ParentComponents=kwin4_effect_presentwindows

Name=PresentWindows
Name[csb]=BiéżnéÒkno
Name[de]=Fenster zeigen
Name[el]=Παρουσίαση παραθύρων
Name[nds]=Vörhannen Finstern
Name[zh_TW]=展示視窗
