[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_presentwindows
X-KDE-PluginKeyword=presentwindows

Name=Present Windows
Name[ar]=نوافذ حديثة
Name[be]=Існуючыя вокны
Name[bg]=Представяне на прозорци
Name[ca]=Presenta les finestres
Name[csb]=Prezentëjë òkna
Name[de]=Fenster zeigen
Name[el]=Παρουσίαση παραθύρων
Name[eo]=Prezenti fenestrojn
Name[es]=Presenta las ventanas
Name[et]=Olemasolevad aknad
Name[eu]=Aurkeztu leihoak
Name[fa]=پنجره‌های موجود
Name[fi]=Nykyiset ikkunat
Name[fy]=Hjoeddeiske finsters
Name[ga]=Fuinneoga Gníomhacha
Name[gl]=Dispor as fiestras
Name[he]=הצג חלונות
Name[hi]=मौजूद विंडो
Name[hu]=Ablakáttekintő
Name[ja]=すべてのウィンドウを表示
Name[kk]=Терезелерді көрсету
Name[km]=បង្ហាញ​បង្អួច​
Name[lv]=Parādīt logus
Name[nb]=Presenter vinduer
Name[nds]=Finstern wiesen
Name[ne]=हालको सञ्झ्याल
Name[nl]=Vensters presenteren
Name[nn]=Presenter vindauge
Name[pa]=ਮੌਜੂਦਾ ਵਿੰਡੋਜ਼
Name[pl]=Ustawione okna
Name[pt]=Apresentar as Janelas
Name[pt_BR]=Apresentar Janelas
Name[se]=Presentere lásiid
Name[sl]=Predstavi okna
Name[sr]=Представа прозора
Name[sr@latin]=Predstava prozora
Name[sv]=Befintliga fönster
Name[uk]=Показ вікон
Name[vi]=Sắp xếp cửa sổ
Name[wa]=Prezint purnea
Name[x-test]=xxPresent Windowsxx
Name[zh_CN]=呈现窗口
Name[zh_TW]=展示視窗
