[Desktop Entry]
Name=Present Windows
Name[af]=Wys vensters
Name[ar]=نوافذ حديثة
Name[be]=Існуючыя вокны
Name[be@latin]=Najaŭnyja vokny
Name[bg]=Представяне на прозорци
Name[ca]=Presenta les finestres
Name[cs]=Prezentace oken
Name[csb]=Prezentëjë òkna
Name[da]=Præsentér vinduer
Name[de]=Fenster zeigen
Name[el]=Παρουσίαση παραθύρων
Name[eo]=Prezenti fenestrojn
Name[es]=Presenta las ventanas
Name[et]=Olemasolevad aknad
Name[eu]=Aurkeztu leihoak
Name[fa]=پنجره‌های موجود
Name[fi]=Nykyiset ikkunat
Name[fr]=Présentation des fenêtres
Name[fy]=Hjoeddeiske finsters
Name[ga]=Fuinneoga Gníomhacha
Name[gl]=Dispor as fiestras
Name[gu]=હાજર રહેલ વિન્ડોસ
Name[he]=הצג חלונות
Name[hi]=मौजूद विंडो
Name[hu]=Ablakáttekintő
Name[is]=Núverandi gluggar
Name[it]=Presenta le finestre
Name[ja]=すべてのウィンドウを表示
Name[kk]=Терезелерді көрсету
Name[km]=បង្ហាញ​បង្អួច​
Name[kn]=ಪ್ರಸಕ್ತ ಕಿಟಕಿಗಳು
Name[ko]=창 진열하기
Name[lt]=Dabar atverti langai
Name[lv]=Parādīt logus
Name[ml]=നിലവിലുള്ള ജാലകങ്ങള്‍
Name[mr]=वर्तमान चौकट
Name[nb]=Presenter vinduer
Name[nds]=Finstern wiesen
Name[ne]=हालको सञ्झ्याल
Name[nl]=Vensters presenteren
Name[nn]=Presenter vindauge
Name[pa]=ਮੌਜੂਦਾ ਵਿੰਡੋਜ਼
Name[pl]=Ustawione okna
Name[pt]=Apresentar as Janelas
Name[pt_BR]=Apresentar Janelas
Name[ro]=Ferestre prezente
Name[se]=Presentere lásiid
Name[sl]=Predstavitev oken
Name[sr]=Представа прозора
Name[sr@latin]=Predstava prozora
Name[sv]=Befintliga fönster
Name[te]=ప్రస్తుత విండోలు
Name[th]=แสดงหน้าต่างทั้งหมด
Name[tr]=Şimdiki Pencereler
Name[uk]=Показ вікон
Name[vi]=Sắp xếp cửa sổ
Name[wa]=Prezint purnea
Name[x-test]=xxPresent Windowsxx
Name[zh_CN]=窗口轮转
Name[zh_TW]=展示視窗
Icon=preferences-system-windows-effect-presentwindows
Comment=Zoom out until all opened windows can be displayed side-by-side
Comment[el]=Σμίκρυνση έως ότου όλα τα ανοιχτά παράθυρα να εμφανίζονται σε παράθεση
Comment[gl]=Reduce até que poda mostrar lado por lado todas as fiestras
Comment[kk]=Ашық терезелерді кішірейтіп қатарлап көрсету
Comment[km]=បង្រួម​រហូត​ទាល់​តែ​បង្អួច​ដែល​បើក​ទាំងអស់​អាច​ត្រូវ​បាន​បង្ហាញ​ម្ដង​មួយផ្នែកៗ
Comment[kn]=ಎಲ್ಲಾ ತೆರೆದ ಕಿಟಕಿಗಳೂ ಅಕ್ಕಪಕ್ಕದಲ್ಲಿ ಓರಣಗೊಳ್ಳುವವರೆಗೆ ಗಾತ್ರವನ್ನು ಕುಗ್ಗಿಸು
Comment[nb]=Forminsk til alle åpnede vinduer kan vises side ved side
Comment[nds]=Ansicht so grötter maken, dat sik all Finstern blangenanner wiesen laat
Comment[pt]=Reduzir até que todas as janelas abertas possam aparecer lado-a-lado
Comment[pt_BR]=Reduzir até que todas as janelas abertas possam aparecer lado-a-lado
Comment[sv]=Zooma ut till alla öppnade fönster kan visas sida vid sida
Comment[tr]=Tüm açık pencereler yan yana gösterilene kadar küçült
Comment[uk]=Зменшує масштаб вікон так, щоб всі відкриті вікна можна було розташувати поряд
Comment[x-test]=xxZoom out until all opened windows can be displayed side-by-sidexx
Comment[zh_TW]=縮放所有開啟的視窗，讓它們排排站

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks & Lucas Murray
X-KDE-PluginInfo-Email=rivolaks@hot.ee & lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_presentwindows
X-KDE-PluginInfo-Version=0.3.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=70
