[Desktop Entry]
Name=Present Windows
Name[ar]=نوافذ حديثة
Name[be]=Існуючыя вокны
Name[bg]=Представяне на прозорци
Name[ca]=Presenta les finestres
Name[csb]=Prezentëjë òkna
Name[de]=Fenster zeigen
Name[el]=Παρουσίαση παραθύρων
Name[eo]=Prezenti fenestrojn
Name[es]=Presenta las ventanas
Name[et]=Olemasolevad aknad
Name[eu]=Aurkeztu leihoak
Name[fa]=پنجره‌های موجود
Name[fi]=Nykyiset ikkunat
Name[fy]=Hjoeddeiske finsters
Name[ga]=Fuinneoga Gníomhacha
Name[gl]=Dispor as fiestras
Name[he]=הצג חלונות
Name[hi]=मौजूद विंडो
Name[hu]=Ablakáttekintő
Name[ja]=すべてのウィンドウを表示
Name[kk]=Терезелерді көрсету
Name[km]=បង្ហាញ​បង្អួច​
Name[lv]=Parādīt logus
Name[nb]=Presenter vinduer
Name[nds]=Finstern wiesen
Name[ne]=हालको सञ्झ्याल
Name[nl]=Vensters presenteren
Name[nn]=Presenter vindauge
Name[pa]=ਮੌਜੂਦਾ ਵਿੰਡੋਜ਼
Name[pl]=Ustawione okna
Name[pt]=Apresentar as Janelas
Name[pt_BR]=Apresentar Janelas
Name[se]=Presentere lásiid
Name[sl]=Predstavi okna
Name[sr]=Представа прозора
Name[sr@latin]=Predstava prozora
Name[sv]=Befintliga fönster
Name[uk]=Показ вікон
Name[vi]=Sắp xếp cửa sổ
Name[wa]=Prezint purnea
Name[x-test]=xxPresent Windowsxx
Name[zh_CN]=呈现窗口
Name[zh_TW]=展示視窗
Icon=preferences-system-windows-effect-presentwindows
Comment=Shows all windows side-by-side
Comment[bg]=Показване на прозорците един до друг
Comment[ca]=Mostra totes les finestres juntes lateralment
Comment[csb]=Wëskrzëni wszëtczé òkna, starna pò stranie
Comment[de]=Zeigt alle Fenster nebeneinander an
Comment[el]=Εμφάνιση όλων των παραθύρων σε παράθεση
Comment[eo]=Montras ĉiujn fenestrojn en vico
Comment[es]=Muestra todas las ventanas unas al lado de otras
Comment[et]=Näitab kõiki aknaid üksteise kõrval
Comment[eu]=Erakutsi leihoak bat bestearen parean
Comment[fa]=همه پنجره‌ها را در کنار هم نمایش می‌دهد
Comment[fi]=Näyttää kaikki ikkunat vierivieressä
Comment[fy]=Lit alle finsters side oan side sjen
Comment[ga]=Taispeáin na fuinneoga uile taobh le taobh
Comment[gl]=Mostrar as fiestras lado por lado
Comment[he]=מציג את כל החלונות זה לצד זה
Comment[hi]=सभी विंडो को आजू बाजू में दिखाता है
Comment[hu]=Egymás mellett megmutatja az összes ablakot
Comment[it]=Mostra tutte le finestre affiancate
Comment[ja]=すべてのウィンドウを横に並べて表示します
Comment[kk]=Барлық терезелерді қатарлап көрсету
Comment[km]=បង្ហាញ​បង្អួច​ទាំងអស់​ម្តង​មួយ​ផ្នែក​ៗ​
Comment[lv]=Parāda uzreiz visus logus blakus
Comment[nb]=Viser alle vinduer side ved side
Comment[nds]=Wiest all Finstern blangenanner
Comment[ne]=साइड-बाइ-साइड सबै सञ्झ्याल देखाउँदछ
Comment[nl]=Toont alle venters naast elkaar
Comment[nn]=Viser alle vindauge ved sidan av kvarandre
Comment[pa]=ਸਭ ਵਿੰਡੋ ਨਾਲ ਨਾਲ ਵੇਖਾਓ
Comment[pl]=Pokazuje wszystkie okna jedno obok drugiego
Comment[pt]=Mostra todas as janelas lado-a-lado
Comment[pt_BR]=Mostra todas as janelas lado a lado
Comment[se]=Čájet buot lásiid bálddalaga
Comment[sl]=Prikaže okna drug ob drugem
Comment[sr]=Приказује све прозоре једне до другог
Comment[sr@latin]=Prikazuje sve prozore jedne do drugog
Comment[sv]=Visar alla fönster sida vid sida
Comment[uk]=Показує всі вікна одне біля одного
Comment[vi]=Hiển thị mọi cửa sổ cạnh nhau
Comment[x-test]=xxShows all windows side-by-sidexx
Comment[zh_CN]=一个挨一个地显示所有窗口
Comment[zh_TW]=讓所有視窗排排站

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_presentwindows
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[eo]=Aspekto
X-KDE-PluginInfo-Category[et]=Välimus
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nb]=Utseende
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[nl]=Uiterlijk
X-KDE-PluginInfo-Category[pa]=ਦਿੱਖ
X-KDE-PluginInfo-Category[pl]=Wygląd
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[se]=Fárda
X-KDE-PluginInfo-Category[sl]=Videz
X-KDE-PluginInfo-Category[sr]=Изглед
X-KDE-PluginInfo-Category[sr@latin]=Izgled
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[uk]=Вигляд
X-KDE-PluginInfo-Category[wa]=Rivnance
X-KDE-PluginInfo-Category[x-test]=xxAppearancexx
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=70
