[Desktop Entry]
Name=Scale In
Name[bg]=Увеличаване
Name[ca]=Apropa
Name[de]=Hineinzoomen
Name[el]=Εστίαση
Name[eo]=Enskali
Name[es]=Escalar
Name[et]=Skaleerimine
Name[eu]=Eskalatu
Name[fa]=مقیاس در
Name[fi]=Skaalaa
Name[fy]=Ynskale
Name[he]=התקרב
Name[hu]=Felbukkanás
Name[ja]=スケールイン
Name[kk]=Масштабтау
Name[km]=ធ្វើ​មាត្រដ្ឋាន​ក្នុង
Name[lv]=Mērogot iekšā
Name[nb]=Skaler inn
Name[nds]=Inpassen
Name[ne]=भित्री मापन गर्नुहोस्
Name[nl]=Inschalen
Name[nn]=Skaler inn
Name[pa]=ਸਕੇਲ ਇਨ
Name[pl]=Skalowanie
Name[pt]=Escala
Name[pt_BR]=Dimensionar
Name[se]=Skálere sisa
Name[sr]=Увећана размера
Name[sr@latin]=Uvećana razmera
Name[sv]=Skala in
Name[vi]=Co dãn vào
Name[x-test]=xxScale Inxx
Name[zh_CN]=拉近
Name[zh_TW]=縮放
Icon=preferences-system-windows-effect-scale-in
Comment=Animates appearing of windows
Comment[ca]=Anima l'aparició de finestres
Comment[de]=Animiert das Erscheinen von Fenstern
Comment[el]=Κίνηση στα παράθυρα που εμφανίζονται
Comment[eo]=Animigas la aperon de fenestroj
Comment[es]=Anima la aparición de ventanas
Comment[et]=Animeerib akende ilmumise
Comment[eu]=Leihoen agertze animatzen du
Comment[fi]=Animoi ikkunoiden ilmestymisen
Comment[fy]=Bringt it minimalisearjen fan finster ta libben
Comment[hu]=Animáció ablakok megjelenésekor
Comment[ja]=ウィンドウの出現をアニメーション化します
Comment[km]=ធ្វើ​ឲ្យ​កា​របង្ហាញ​របស់​បង្អួច​មាន​ចលនា
Comment[lv]=Animē logu parādīšanos
Comment[nb]=Animasjon av vinduer som dukker opp
Comment[nds]=Animeert dat Opduken vun Finstern
Comment[nl]=Voorziet het verschijnen van vensters van een animatie
Comment[nn]=Animerer opning av vindauge
Comment[pl]=Animacja pojawiania się okna
Comment[pt]=Anima a aparição das janelas
Comment[pt_BR]=Anima a aparição das janelas
Comment[se]=Animere ihtti lásiid
Comment[sr]=Анимира појављивање прозора
Comment[sr@latin]=Animira pojavljivanje prozora
Comment[sv]=Animerar visning av fönster
Comment[x-test]=xxAnimates appearing of windowsxx
Comment[zh_CN]=窗口的动画出现
Comment[zh_TW]=動畫顯示視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_scalein
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Category[ca]=Aparença
X-KDE-PluginInfo-Category[de]=Erscheinungsbild
X-KDE-PluginInfo-Category[el]=Εμφάνιση
X-KDE-PluginInfo-Category[ga]=Cuma
X-KDE-PluginInfo-Category[hu]=Megjelenés
X-KDE-PluginInfo-Category[ja]=外観
X-KDE-PluginInfo-Category[km]=រូបរាង
X-KDE-PluginInfo-Category[lv]=Izskats
X-KDE-PluginInfo-Category[nds]=Utsehn
X-KDE-PluginInfo-Category[pt]=Aparência
X-KDE-PluginInfo-Category[pt_BR]=Aparência
X-KDE-PluginInfo-Category[sv]=Utseende
X-KDE-PluginInfo-Category[zh_CN]=外观
X-KDE-PluginInfo-Category[zh_TW]=外觀
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
