[Desktop Entry]
Encoding=UTF-8
Name=Scale In
Name[bg]=Увеличаване
Name[de]=Hineinzoomen
Name[el]=Εστίαση
Name[fa]=مقیاس در
Name[he]=התקרב
Name[ja]=スケールイン
Name[km]=ធ្វើ​មាត្រដ្ឋាន​ចូលក្នុង​
Name[nds]=Inpassen
Name[ne]=भित्री मापन गर्नुहोस्
Name[nl]=Inschalen
Name[pa]=ਸਕੇਲ ਕਰੋ
Name[pt]=Escala
Name[pt_BR]=Dimensionar
Name[sv]=Skala in
Name[vi]=Co dãn vào
Name[zh_TW]=縮放
Icon=kwin-effect-scalein

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_scalein
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-Ordering=50
