[Desktop Entry]
Name=Scale In
Name[af]=Rek-verskyn
Name[bg]=Увеличаване
Name[ca]=Escalat
Name[cs]=Zvětšení
Name[csb]=Skalowanié
Name[da]=Skalér ind
Name[de]=Hineinzoomen
Name[el]=Εστίαση
Name[eo]=Enskali
Name[es]=Escalar
Name[et]=Skaleerimine
Name[eu]=Eskalatu
Name[fa]=مقیاس در
Name[fi]=Skaalaa
Name[fr]=Gradation
Name[fy]=Ynskale
Name[ga]=Scálaigh Isteach
Name[gl]=Ampliar
Name[gu]=અંદર આવવું
Name[he]=התקרב
Name[hi]=स्केल इन
Name[hu]=Felbukkanás
Name[is]=Kvarða niður
Name[it]=Scala
Name[ja]=スケールイン
Name[kk]=Масштабтау
Name[km]=ធ្វើ​មាត្រដ្ឋាន​ក្នុង
Name[kn]=ಸ್ಕೇಲ್ ಇನ್
Name[ko]=확대
Name[lt]=Išdidėjimas
Name[lv]=Mērogot iekšā
Name[mk]=Зголемување
Name[ml]=ആനുപാതികമാക്കുക
Name[mr]=लहान मोठे करा
Name[nb]=Skaler inn
Name[nds]=Inpassen
Name[ne]=भित्री मापन गर्नुहोस्
Name[nl]=Inschalen
Name[nn]=Skaler inn
Name[pa]=ਸਕੇਲ ਇਨ
Name[pl]=Skalowanie
Name[pt]=Escala
Name[pt_BR]=Dimensionar
Name[ro]=Escaladează
Name[ru]=Масштабирование (увеличение)
Name[se]=Skálere sisa
Name[sl]=Animirano pojavljanje
Name[sr]=Увећана размера
Name[sr@latin]=Uvećana razmera
Name[sv]=Skala in
Name[te]=స్కేల్ ఇన్
Name[th]=ปรับขนาดขึ้น
Name[tr]=Açılan Pencereleri Canlandır
Name[uk]=Зменшити
Name[vi]=Co dãn vào
Name[wa]=Agrandi l' schåle
Name[x-test]=xxScale Inxx
Name[zh_CN]=拉近
Name[zh_TW]=縮放
Icon=preferences-system-windows-effect-scale-in
Comment=Animate the appearing of windows
Comment[be@latin]=Animuje źjaŭleńnie akon.
Comment[el]=Εφέ κίνησης της εμφάνισης των παραθύρων
Comment[gl]=Anima a aparición das fiestras
Comment[gu]=વિન્ડોનો દેખાવ એનિમેટ કરો
Comment[kk]=Терезеледің пайда болуын анимациялау
Comment[km]=ធ្វើ​ឲ្យ​កា​របង្ហាញ​របស់​បង្អួច​មាន​ចលនា
Comment[kn]=ಕಿಟಕಿಗಳ ತೋರಿಕೊಳ್ಳುವಿಕೆಯನ್ನು ಸಜೀವನಗೊಳಿಸು
Comment[nb]=Animer vinduer som dukker opp
Comment[nds]=Dat Opduken vun Finstern animeren
Comment[pt]=Animar a aparição das janelas
Comment[pt_BR]=Animar a aparição das janelas
Comment[ro]=Animează apariția ferestrelor
Comment[sv]=Animera när fönster framträder
Comment[tr]=Pencerelerin açılışını canlandır
Comment[uk]=Анімація появи вікон
Comment[x-test]=xxAnimate the appearing of windowsxx
Comment[zh_TW]=動畫顯示視窗出現

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_scalein
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
