[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_shadow
X-KDE-PluginKeyword=shadow

Name=Shadow
Name[be]=Цень
Name[bg]=Сянка
Name[ca]=Ombra
Name[csb]=Ceniô
Name[de]=Schatten
Name[el]=Σκιά
Name[eo]=Ombro
Name[es]=Sombra
Name[et]=Vari
Name[eu]=Itzala
Name[fa]=سایه
Name[fi]=Varjo
Name[fr]=Ombre
Name[fy]=Skaad
Name[ga]=Scáth
Name[gl]=Sombra
Name[he]=צל
Name[hi]=छाया
Name[hu]=Árnyék
Name[is]=Skuggi
Name[it]=Ombra
Name[ja]=シャドウ
Name[kk]=Көлеңке
Name[km]=ស្រមោល​
Name[ko]=그림자
Name[ku]=Sî
Name[lv]=Ēna
Name[nb]=Skyggelegg
Name[nds]=Schadden
Name[ne]=छायाँ
Name[nl]=Schaduw
Name[nn]=Skugge
Name[pa]=ਛਾਂ
Name[pl]=Cień
Name[pt]=Sombra
Name[pt_BR]=Sombra
Name[se]=Suoivvanastte
Name[sl]=Senca
Name[sr]=Сенка
Name[sr@latin]=Senka
Name[sv]=Skugga
Name[uk]=Тінь
Name[vi]=Bóng
Name[wa]=Ombion
Name[x-test]=xxShadowxx
Name[zh_CN]=阴影
Name[zh_TW]=陰影
