[Desktop Entry]
Name=Shadow
Name[be]=Цень
Name[bg]=Сянка
Name[ca]=Ombra
Name[csb]=Ceniô
Name[da]=Skygge
Name[de]=Schatten
Name[el]=Σκιά
Name[eo]=Ombro
Name[es]=Sombra
Name[et]=Vari
Name[eu]=Itzala
Name[fa]=سایه
Name[fi]=Varjo
Name[fr]=Ombre
Name[fy]=Skaad
Name[ga]=Scáth
Name[gl]=Sombra
Name[he]=צל
Name[hi]=छाया
Name[hu]=Árnyék
Name[is]=Skuggi
Name[it]=Ombra
Name[ja]=シャドウ
Name[kk]=Көлеңке
Name[km]=ស្រមោល​
Name[ko]=그림자
Name[ku]=Sî
Name[lv]=Ēna
Name[nb]=Skyggelegg
Name[nds]=Schadden
Name[ne]=छायाँ
Name[nl]=Schaduw
Name[nn]=Skugge
Name[pa]=ਛਾਂ
Name[pl]=Cień
Name[pt]=Sombra
Name[pt_BR]=Sombra
Name[se]=Suoivvanastte
Name[sl]=Senca
Name[sr]=Сенка
Name[sr@latin]=Senka
Name[sv]=Skugga
Name[tr]=Gölge
Name[uk]=Тінь
Name[vi]=Bóng
Name[wa]=Ombion
Name[x-test]=xxShadowxx
Name[zh_CN]=阴影
Name[zh_TW]=陰影
Icon=preferences-system-windows-effect-shadow
Comment=Adds shadow under the windows
Comment[ar]=يضيف الظل تحت النوافذ
Comment[bg]=Добавяне на сянка под прозорците
Comment[ca]=Afegeix ombra a sota les finestres
Comment[cs]=Přidává stíny pod okna
Comment[csb]=Dodôwô ceniô pòd òknama
Comment[da]=Tilføjer skygge under vinduerne
Comment[de]=Lässt Fenster einen Schatten werfen
Comment[el]=Προσθήκη σκιάς κάτω από τα παράθυρα
Comment[eo]=Aldonas ombron sub la fenestrojn
Comment[es]=Añade una sombra bajo las ventanas
Comment[et]=Lisab akende alla varju
Comment[eu]=Leihoen azpian itzala gehitzen du
Comment[fa]=زیر پنجره‌ها سایه اضافه می‌کند
Comment[fi]=Lisää varjon ikkunoiden alapuolelle
Comment[fr]=Ajoute une ombre sous les fenêtres
Comment[fy]=Heakket skaad ûnder de finster ta
Comment[ga]=Cuir scáthanna faoi fhuinneoga
Comment[gl]=Engade unha sombra baixo as fiestras
Comment[he]=הוספת צל מתחת לחלונות
Comment[hi]=विंडो के अंदर छाया डालता है
Comment[hu]=Árnyékolást ad az ablakokhoz
Comment[is]=Bætir við skuggum undir glugga
Comment[it]=Aggiunge l'ombra sotto le finestre
Comment[ja]=ウィンドウの下に影を付けます
Comment[kk]=Терезелердің астына қолеңкесін қосады
Comment[km]=បន្ថែម​ស្រមោល​ក្រោម​បង្អួច​
Comment[ko]=창 아래에 그림자를 그립니다
Comment[lv]=Pievieno ēnu zem logiem
Comment[nb]=Legger til skygge under vinduer
Comment[nds]=Föögt Schaddens nerrn de Finstern to
Comment[ne]=सञ्झ्याल मुनि छायाँ थप्दछ
Comment[nl]=Voegt een schaduw toe onder de vensters
Comment[nn]=Legg skugge under vindauge
Comment[pa]=ਵਿੰਡੋ ਹੇਠ ਛਾਂ ਸ਼ਾਮਲ ਕਰਦਾ ਹੈ।
Comment[pl]=Dodaje cień pod oknami
Comment[pt]=Adiciona uma sombra sob as janelas
Comment[pt_BR]=Adiciona sombra sob as janelas
Comment[se]=Lasit suoivvanasaid lásiid vuolde
Comment[sl]=Doda senco pod okna
Comment[sr]=Додаје сенку прозорима
Comment[sr@latin]=Dodaje senku prozorima
Comment[sv]=Lägger till en skugga under fönster
Comment[uk]=Додає тіні під вікнами
Comment[vi]=Thêm bóng bên dưới cửa sổ
Comment[x-test]=xxAdds shadow under the windowsxx
Comment[zh_CN]=在窗口下面添加阴影
Comment[zh_TW]=在視窗底下加上陰影

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_shadow
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-Ordering=80
