[Desktop Entry]
Name=Shadow
Name[af]=Skaduwee
Name[be]=Цень
Name[be@latin]=Cień
Name[bg]=Сянка
Name[bn_IN]=ছায়া
Name[ca]=Ombra
Name[cs]=Stín
Name[csb]=Ceniô
Name[da]=Skygge
Name[de]=Schatten
Name[el]=Σκιά
Name[eo]=Ombro
Name[es]=Sombra
Name[et]=Vari
Name[eu]=Itzala
Name[fa]=سایه
Name[fi]=Varjo
Name[fr]=Ombre
Name[fy]=Skaad
Name[ga]=Scáth
Name[gl]=Sombra
Name[gu]=પડછાયો
Name[he]=צל
Name[hi]=छाया
Name[hu]=Árnyék
Name[is]=Skuggi
Name[it]=Ombra
Name[ja]=シャドウ
Name[kk]=Көлеңке
Name[km]=ស្រមោល​
Name[kn]=ನೆರಳು
Name[ko]=그림자
Name[ku]=Sî
Name[lt]=Šešėlis
Name[lv]=Ēna
Name[mk]=Сенка
Name[ml]=നിഴല്‍
Name[mr]=छायाकृती
Name[nb]=Skyggelegg
Name[nds]=Schadden
Name[ne]=छायाँ
Name[nl]=Schaduw
Name[nn]=Skugge
Name[oc]=Ombra
Name[pa]=ਛਾਂ
Name[pl]=Cień
Name[pt]=Sombra
Name[pt_BR]=Sombra
Name[ro]=Umbră
Name[ru]=Тени
Name[se]=Suoivvanastte
Name[sl]=Senca
Name[sr]=Сенка
Name[sr@latin]=Senka
Name[sv]=Skugga
Name[te]=నీ‍డ
Name[th]=เงา
Name[tr]=Gölge
Name[uk]=Тінь
Name[uz]=Soya
Name[uz@cyrillic]=Соя
Name[vi]=Bóng
Name[wa]=Ombion
Name[x-test]=xxShadowxx
Name[zh_CN]=阴影
Name[zh_TW]=陰影
Icon=preferences-system-windows-effect-shadow
Comment=Draw shadows under windows
Comment[be@latin]=Maluj cień pad voknami.
Comment[el]=Σχεδίαση σκιάς κάτω από τα παράθυρα
Comment[gl]=Debuxa sombras baixo as fiestras
Comment[gu]=વિન્ડોની નીચે પડછાયો ઉમેરો
Comment[he]=הוספת צל מתחת לחלונות
Comment[kk]=Терезелердің астына қолеңкесін қосады
Comment[km]=បន្ថែម​ស្រមោល​ក្រោម​បង្អួច​
Comment[kn]=ಕಿಟಕಿಗಳ ಅಡಿಯಲ್ಲಿ ನೆರಳನ್ನು  ಚಿತ್ರಿಸು
Comment[nb]=Tegner skygge under vinduer
Comment[nds]=Schaddens nerrn Finstern tofögen
Comment[pt]=Desenhar sombras sob as janelas
Comment[pt_BR]=Desenhar sombras sob as janelas
Comment[ro]=Desenează umbre sub ferestre
Comment[sv]=Rita skuggor under fönster
Comment[tr]=Pencerelerin altına gölge ekle
Comment[uk]=Додає тіні під вікнами
Comment[x-test]=xxDraw shadows under windowsxx
Comment[zh_TW]=在視窗底下加上陰影

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_shadow
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=80
