[Desktop Entry]
Encoding=UTF-8
Name=Shadow
Name[csb]=Ceniô
Name[de]=Schatten
Name[el]=Σκιά
Name[fa]=سایه
Name[nds]=Schadden
Name[nl]=Schaduw
Name[sv]=Skugga
Name[zh_TW]=陰影
Icon=kwin-effect-shadow
Comment=Adds shadow under the windows
Comment[csb]=Dodôwô ceniô pòd òknama
Comment[de]=Lässt Fenster einen Schatten werfen
Comment[el]=Προσθήκη σκιάς κάτω από τα παράθυρα
Comment[nds]=Föögt Schaddens nerrn de Finstern to
Comment[nl]=Voegt een schaduw toe onder de vensters
Comment[sv]=Lägger till en skugga under fönster
Comment[zh_TW]=在視窗底下加上陰影

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_shadow
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
