[Desktop Entry]
Name=Sharpen
Name[af]=Verskerp
Name[bg]=Отчетливост
Name[ca]=Aguditza
Name[csb]=Wëòstrzëc
Name[da]=Gør skarpere
Name[de]=Schärfen
Name[el]=Όξυνση
Name[eo]=Akrigi
Name[es]=Agudizado
Name[et]=Teravdus
Name[eu]=Enfokatu
Name[fa]=تیز کردن
Name[fi]=Terävöitä
Name[fr]=Affute
Name[fy]=Skerpje
Name[ga]=Géaraigh
Name[gl]=Focalización
Name[gu]=તીક્ષ્ણ
Name[he]=חדד
Name[hi]=सुस्पष्ट
Name[hu]=Élesítés
Name[is]=Skerpa
Name[it]=Aumenta la nitidezza
Name[ja]=シャープ化
Name[kk]=Өткір қылу
Name[km]=ធ្វើ​ឲ្យ​ច្បាស់
Name[ko]=선명하게
Name[lv]=Asināt
Name[nb]=Skjerpe
Name[nds]=Scharp maken
Name[ne]=चहकिलो
Name[nl]=Verscherpen
Name[nn]=Oppskarping
Name[pa]=ਉਘੜਵਾਂ
Name[pl]=Wyostrzenie
Name[pt]=Aumento de Detalhe
Name[pt_BR]=Nitidez
Name[ro]=Ascute
Name[se]=Basttálmuhte
Name[sl]=Izostritev
Name[sr]=Изоштравање
Name[sr@latin]=Izoštravanje
Name[sv]=Skärpa
Name[th]=ความคม
Name[tr]=Keskinleştir
Name[uk]=Збільшити різкість
Name[wa]=Rawijhî
Name[x-test]=xxSharpenxx
Name[zh_CN]=锐化
Name[zh_TW]=讓輪廓更分明
Comment=Makes your desktop look sharper
Comment[af]=Laat jou werkskerm skerper vertoon
Comment[bg]=Прави работния плот по-отчетлив
Comment[ca]=Fa que l'escriptori sembli més definit
Comment[da]=Får din desktop til at se skarpere ud
Comment[de]=Lässt Ihre Arbeitsfläche schärfer erscheinen
Comment[el]=Κάνει την επιφάνεια εργασίας σας να δείχνει πιο οξεία
Comment[eo]=Akrigas la labortablon
Comment[es]=Agudiza su escritorio
Comment[et]=Muudab töölaua välimuse teravamaks
Comment[eu]=Zure mahaiagaina enfokatzen du
Comment[fa]=رومیزیتان تیزتر به نظر می‌رسد
Comment[fi]=Tekee työpöydästä terävämmän näköisen
Comment[fr]=Votre bureau paraît plus affûté
Comment[fy]=Makket jo buroblêd ekstra dúdlik
Comment[ga]=Géaraigh dealramh do dheisce
Comment[gl]=Fai que o escritorio aparente estar máis focalizado
Comment[gu]=તમારા ડેસ્કટોપને ચોખ્ખું બનાવો
Comment[he]=מחדד את מראה שולחן העבודה שלך
Comment[hi]=आपके डेस्कटॉप को सुस्पष्ट करता है
Comment[hu]=Élesebbé teszi a kontúrokat az asztalon
Comment[is]=Lætur skjáborðið sýnast skarpara
Comment[it]=Rende il desktop più nitido
Comment[ja]=デスクトップをシャープに見せます
Comment[kk]=Үстеліңіздің көрінісін өткір қылады
Comment[km]=ធ្វើ​ឲ្យ​ផ្ទៃតុ​របស់​អ្នក​មើល​ទៅ​ច្បាស់​ជាង​មុន​​
Comment[ko]=데스크톱을 선명하게 표시합니다
Comment[lv]=Liek jūsu darbvirsmai izskatīties asākai
Comment[nb]=Får skrivebordet til å se skarpere ut
Comment[nds]=Lett Dien Schriefdisch wat scharper utsehn
Comment[ne]=तपाईँको डेस्कटप चहकिलो देखिने बनाउँदछ
Comment[nl]=Maakt het uiterlijk van uw desktop scherper
Comment[nn]=Får skrivebordet til å sjå skarpare ut
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਦਿੱਖ ਸੁਧਾਰੋ
Comment[pl]=Sprawia, że pulpit wygląda bardziej ostro
Comment[pt]=Faz o seu ecrã parecer mais definido
Comment[pt_BR]=Faz com que sua área de trabalho pareça mais nítida
Comment[ro]=Vă face biroul să arate mai ascuțit
Comment[sl]=Namizje izgleda bolj ostro
Comment[sr]=Да површ изгледа изоштреније
Comment[sr@latin]=Da površ izgleda izoštrenije
Comment[sv]=Gör att skrivbordet ser skarpare ut
Comment[th]=ทำให้พื้นที่ทำงานของคุณดูคมชัดมากขึ้น
Comment[tr]=Masaüstünüzü keskinleştirir
Comment[uk]=Надає вашій стільниці різкішого вигляду
Comment[x-test]=xxMakes your desktop look sharperxx
Comment[zh_CN]=使您的窗口看起来更锐利
Comment[zh_TW]=讓您的桌面看起來更輪廓分明
Icon=preferences-system-windows-effect-sharpen

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_sharpen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
