[Desktop Entry]
Name=Sharpen
Name[af]=Verskerp
Name[bg]=Отчетливост
Name[ca]=Aguditza
Name[cs]=Zaostření
Name[csb]=Wëòstrzëc
Name[da]=Gør skarpere
Name[de]=Schärfen
Name[el]=Όξυνση
Name[eo]=Akrigi
Name[es]=Agudizado
Name[et]=Teravdus
Name[eu]=Enfokatu
Name[fa]=تیز کردن
Name[fi]=Terävöitä
Name[fr]=Accentuation de la netteté
Name[fy]=Skerpje
Name[ga]=Géaraigh
Name[gl]=Focalización
Name[gu]=તીક્ષ્ણ
Name[he]=חדד
Name[hi]=सुस्पष्ट
Name[hu]=Élesítés
Name[is]=Skerpa
Name[it]=Aumenta la nitidezza
Name[ja]=シャープ化
Name[kk]=Айықындату
Name[km]=ធ្វើ​ឲ្យ​ច្បាស់
Name[kn]=ಸ್ಫುಟಗೊಳಿಸು (ಶಾರ್ಪನ್)
Name[ko]=선명하게
Name[lt]=Paaštrinti
Name[lv]=Asināt
Name[mk]=Изострување
Name[ml]=സൂക്ഷ്മമാക്കുക
Name[mr]=सुस्पष्ट
Name[nb]=Skjerpe
Name[nds]=Scharp maken
Name[ne]=चहकिलो
Name[nl]=Verscherpen
Name[nn]=Oppskarping
Name[pa]=ਉਘੜਵਾਂ
Name[pl]=Wyostrzenie
Name[pt]=Aumento de Detalhe
Name[pt_BR]=Nitidez
Name[ro]=Ascute
Name[ru]=Четкость
Name[se]=Basttálmuhte
Name[sl]=Izostritev
Name[sr]=Изоштравање
Name[sr@latin]=Izoštravanje
Name[sv]=Skärpa
Name[te]=పదునుగా
Name[th]=ความคม
Name[tr]=Keskinleştir
Name[uk]=Збільшити різкість
Name[uz]=Oʻtkirlash
Name[uz@cyrillic]=Ўткирлаш
Name[wa]=Rawijhî
Name[x-test]=xxSharpenxx
Name[zh_CN]=锐化
Name[zh_TW]=讓輪廓更分明
Comment=Make the entire desktop look sharper
Comment[el]=Κάνει την επιφάνεια εργασίας σας να δείχνει πιο οξεία
Comment[gl]=Fai que o escritorio aparente estar máis focalizado
Comment[gu]=સમગ્ર ડેસ્કટોપને ચોખ્ખું દેખાતું બનાવો
Comment[he]=מחדד את מראה שולחן העבודה שלך
Comment[kk]=Үстеліңіздің көрінісін айқындатады
Comment[km]=ធ្វើ​ឲ្យ​ផ្ទៃតុ​របស់ទាំង​មូល​​ច្បាស់​ជាង​មុន​​
Comment[kn]=ಪೂರ್ಣ ಗಣಕತೆರೆ ಸ್ಫುಟವಾಗಿ ಕಾಣುವಂತೆ ಮಾಡು
Comment[nb]=Får hele skrivebordet til å se skarpere ut
Comment[nds]=Dien Schriefdisch wat scharper utsehn laten
Comment[pt]=Tornar o seu ecrã mais definido
Comment[pt_BR]=Tornar o seu ecrã mais definido
Comment[ro]=Face întregul birou să arate mai ascuțit
Comment[sv]=Gör att hela skrivbordet ser skarpare ut
Comment[tr]=Masaüstünüzü keskinleştirir
Comment[uk]=Надає вигляду вашій стільниці різкості
Comment[x-test]=xxMake the entire desktop look sharperxx
Comment[zh_TW]=讓您的桌面看起來更輪廓分明
Icon=preferences-system-windows-effect-sharpen

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_sharpen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
