[Desktop Entry]
Name=Sharpen
Name[bg]=Отчетливост
Name[ca]=Aguditza
Name[csb]=Wëòstrzëc
Name[de]=Schärfen
Name[el]=Όξυνση
Name[eo]=Akrigi
Name[es]=Agudizado
Name[et]=Teravdus
Name[eu]=Enfokatu
Name[fa]=تیز کردن
Name[fi]=Terävöitä
Name[fy]=Skerpje
Name[ga]=Géaraigh
Name[gl]=Focalización
Name[he]=חדד
Name[hi]=सुस्पष्ट
Name[hu]=Élesítés
Name[ja]=シャープ化
Name[kk]=Өткір қылу
Name[km]=ធ្វើ​ឲ្យ​ច្បាស់
Name[ko]=선명하게
Name[lv]=Asināt
Name[nb]=Skjerpe
Name[nds]=Scharp maken
Name[ne]=चहकिलो
Name[nl]=Verscherpen
Name[nn]=Oppskarping
Name[pa]=ਉਘੜਵਾਂ
Name[pl]=Wyostrzenie
Name[pt]=Aumento de Detalhe
Name[pt_BR]=Nitidez
Name[se]=Basttálmuhte
Name[sl]=Izostri
Name[sr]=Изоштравање
Name[sr@latin]=Izoštravanje
Name[sv]=Skärpa
Name[uk]=Збільшити різкість
Name[wa]=Rawijhî
Name[x-test]=xxSharpenxx
Name[zh_CN]=锐化
Name[zh_TW]=讓輪廓更分明
Comment=Makes your desktop look sharper
Comment[bg]=Прави работния плот по-отчетлив
Comment[ca]=Fa que l'escriptori sembli més definit
Comment[de]=Lässt Ihre Arbeitsfläche schärfer erscheinen
Comment[el]=Κάνει την επιφάνεια εργασίας σας να δείχνει πιο οξεία
Comment[eo]=Akrigas la labortablon
Comment[es]=Agudiza su escritorio
Comment[et]=Muudab töölaua välimuse teravamaks
Comment[eu]=Zure mahaiagaina enfokatzen du
Comment[fa]=رومیزیتان تیزتر به نظر می‌رسد
Comment[fi]=Tekee työpöydästä terävämmän näköisen
Comment[fy]=Makket jo buroblêd ekstra dúdlik
Comment[ga]=Géaraigh dealramh do dheisce
Comment[gl]=Fai que o escritorio aparente estar máis focalizado
Comment[he]=מחדד את מראה שולחן העבודה שלך
Comment[hi]=आपके डेस्कटॉप को सुस्पष्ट करता है
Comment[hu]=Élesebbé teszi a kontúrokat az asztalon
Comment[it]=Rende il desktop più nitido
Comment[ja]=デスクトップをシャープに見せます
Comment[kk]=Үстеліңіздің көрінісін өткір қылады
Comment[km]=ធ្វើ​ឲ្យ​ផ្ទៃតុ​របស់​អ្នក​មើល​ទៅ​ច្បាស់​ជាង​មុន​​
Comment[ko]=데스크톱을 선명하게 표시합니다
Comment[lv]=Liek jūsu darbvirsmai izskatīties asākai
Comment[nb]=Får skrivebordet til å se skarpere ut
Comment[nds]=Lett Dien Schriefdisch wat scharper utsehn
Comment[ne]=तपाईँको डेस्कटप चहकिलो देखिने बनाउँदछ
Comment[nl]=Maakt het uiterlijk van uw desktop scherper
Comment[nn]=Får skrivebordet til å sjå skarpare ut
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਦਿੱਖ ਸੁਧਾਰੋ
Comment[pl]=Sprawia, że pulpit wygląda bardziej ostro
Comment[pt]=Faz o seu ecrã parecer mais definido
Comment[pt_BR]=Faz com que sua área de trabalho pareça mais nítida
Comment[sl]=Namizje izgleda bolj ostro
Comment[sr]=Да радна површ изгледа изоштреније
Comment[sr@latin]=Da radna površ izgleda izoštrenije
Comment[sv]=Gör att skrivbordet ser skarpare ut
Comment[uk]=Надає вашій стільниці різкішого вигляду
Comment[x-test]=xxMakes your desktop look sharperxx
Comment[zh_CN]=使您的窗口看起来更锐利
Comment[zh_TW]=讓您的桌面看起來更輪廓分明
Icon=preferences-system-windows-effect-sharpen

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_sharpen
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Category[bg]=Равностоен достъп
X-KDE-PluginInfo-Category[ca]=Accessibilitat
X-KDE-PluginInfo-Category[de]=Zugangshilfen
X-KDE-PluginInfo-Category[el]=Προσβασιμότητα
X-KDE-PluginInfo-Category[eo]=Alirebleco
X-KDE-PluginInfo-Category[es]=Accesibilidad
X-KDE-PluginInfo-Category[et]=Hõlbustus
X-KDE-PluginInfo-Category[ga]=Inrochtaineacht
X-KDE-PluginInfo-Category[hu]=Kezelési segítség
X-KDE-PluginInfo-Category[ja]=アクセシビリティ
X-KDE-PluginInfo-Category[km]=មធ្យោបាយ​ងាយស្រួល
X-KDE-PluginInfo-Category[lv]=Pieejamība
X-KDE-PluginInfo-Category[nb]=Tilgjengelighet
X-KDE-PluginInfo-Category[nds]=Behinnertenhülp
X-KDE-PluginInfo-Category[nl]=Toegankelijkheid
X-KDE-PluginInfo-Category[pa]=ਸਹੂਲਤਾਂ
X-KDE-PluginInfo-Category[pl]=Dostępność
X-KDE-PluginInfo-Category[pt]=Acessibilidade
X-KDE-PluginInfo-Category[pt_BR]=Acessibilidade
X-KDE-PluginInfo-Category[se]=Álkkibut geavaheapmi
X-KDE-PluginInfo-Category[sl]=Dostopnost
X-KDE-PluginInfo-Category[sr]=Приступачност
X-KDE-PluginInfo-Category[sr@latin]=Pristupačnost
X-KDE-PluginInfo-Category[sv]=Handikappstöd
X-KDE-PluginInfo-Category[uk]=Доступність
X-KDE-PluginInfo-Category[wa]=Accessibilité
X-KDE-PluginInfo-Category[x-test]=xxAccessibilityxx
X-KDE-PluginInfo-Category[zh_CN]=辅助功能
X-KDE-PluginInfo-Category[zh_TW]=無障礙輔助
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
