[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_sharpen
X-KDE-PluginKeyword=sharpen

Name=Sharpen
Name[af]=Verskerp
Name[bg]=Отчетливост
Name[ca]=Aguditza
Name[cs]=Zaostření
Name[csb]=Wëòstrzëc
Name[da]=Gør skarpere
Name[de]=Schärfen
Name[el]=Όξυνση
Name[eo]=Akrigi
Name[es]=Agudizado
Name[et]=Teravdus
Name[eu]=Enfokatu
Name[fa]=تیز کردن
Name[fi]=Terävöitä
Name[fr]=Affute
Name[fy]=Skerpje
Name[ga]=Géaraigh
Name[gl]=Focalización
Name[gu]=તીક્ષ્ણ
Name[he]=חדד
Name[hi]=सुस्पष्ट
Name[hu]=Élesítés
Name[is]=Skerpa
Name[it]=Aumenta la nitidezza
Name[ja]=シャープ化
Name[kk]=Өткір қылу
Name[km]=ធ្វើ​ឲ្យ​ច្បាស់
Name[ko]=선명하게
Name[lt]=Paaštrinti
Name[lv]=Asināt
Name[nb]=Skjerpe
Name[nds]=Scharp maken
Name[ne]=चहकिलो
Name[nl]=Verscherpen
Name[nn]=Oppskarping
Name[pa]=ਉਘੜਵਾਂ
Name[pl]=Wyostrzenie
Name[pt]=Aumento de Detalhe
Name[pt_BR]=Nitidez
Name[ro]=Ascute
Name[ru]=Четкость
Name[se]=Basttálmuhte
Name[sl]=Izostritev
Name[sr]=Изоштравање
Name[sr@latin]=Izoštravanje
Name[sv]=Skärpa
Name[th]=ความคม
Name[tr]=Keskinleştir
Name[uk]=Збільшити різкість
Name[uz]=Oʻtkirlash
Name[uz@cyrillic]=Ўткирлаш
Name[wa]=Rawijhî
Name[x-test]=xxSharpenxx
Name[zh_CN]=锐化
Name[zh_TW]=讓輪廓更分明
