[Desktop Entry]
Name=Show Paint
Name[af]=Wys inkleur
Name[ca]=Mostra la pintura
Name[cs]=Zobrazit kreslení
Name[csb]=Pòkôżë Paint
Name[da]=Vis tegning
Name[de]=Zeichnungsbereich anzeigen
Name[el]=Εμφάνιση σχεδίασης
Name[eo]=Montri farbon
Name[es]=Muestra pintura
Name[et]=Joonistatud alade näitamine
Name[eu]=Erakutsi Paint
Name[fi]=Näytä maalaus
Name[fr]=Affiche les zones peintes
Name[fy]=Paint sjen litte
Name[ga]=Taispeáin Péint
Name[gl]=Mostrar o pintado
Name[gu]=રંગ બતાવો
Name[hu]=Megmutatja a kirajolt területeket
Name[is]=Sýna Teikningu
Name[it]=Mostra ridisegno
Name[km]=បង្ហាញគំនូរ
Name[ko]=그리기 영역 보이기
Name[lt]=Rodyti piešimą
Name[lv]=Rādīt zīmēto
Name[nb]=Vis opptegning
Name[nds]=Klöör wiesen
Name[ne]=रङ देखाउनुहोस्
Name[nl]=Intekening tonen
Name[nn]=Vis oppteikning
Name[pa]=ਪੇਂਟ ਵੇਖੋ
Name[pl]=Pokaż rysowane
Name[pt]=Mostrar a Pintura
Name[pt_BR]=Mostrar Pintura
Name[ro]=Afișează desenele
Name[se]=Čájet málema
Name[sl]=Izrisovanje
Name[sr]=Прикажи исцртавање
Name[sr@latin]=Prikaži iscrtavanje
Name[sv]=Visa uppritning
Name[th]=แสดงพื้นที่
Name[tr]=Boyamayı Göster
Name[uk]=Показати намальоване
Name[wa]=Mostre pondaedje
Name[x-test]=xxShow Paintxx
Name[zh_CN]=显示绘制区域
Name[zh_TW]=顯示繪製
Icon=preferences-system-windows-effect-paint-show
Comment=Shows areas painted by KWin
Comment[af]=Wys areas waar KWin ingekleur het
Comment[ca]=Mostra les àrees pintades pel KWin
Comment[cs]=Zobrazit oblasti vykreslované KWin
Comment[da]=Viser områder som er tegnet af KWin
Comment[de]=Zeigt die Bereiche an, die von KWin (der Fensterverwaltung) gezeichnet werden
Comment[el]=Εμφάνιση σχεδιασμένων περιοχών από το KWin
Comment[eo]=Montras partojn desegnitajn per KWin
Comment[es]=Muestra areas pintadas por KWin
Comment[et]=KWini joonistatud alade näitamine
Comment[fi]=Näytä KWin-ohjelman maalaamat alueet
Comment[fr]=Affiche les zones peintes par KWin
Comment[fy]=Lit gebieten sjen dy tekene binne troch KWin
Comment[ga]=Taispeáin limistéir a bhí péinteáilte ag KWin
Comment[gl]=Mostra áreas pintadas por KWin
Comment[gu]=KWin દ્વારા રંગ કરેલ વિસ્તારો બતાવે છે
Comment[hu]=Megmutatja, mely területeket rajzolja éppen a KWin
Comment[is]=Sýnir svæði sem teiknuð eru af KWin
Comment[it]=Mostra le aree disegnate da KWin
Comment[km]=បង្ហាញ​ផ្ទៃដែល​បានគូរ​ដោយ KWin
Comment[ko]=KWin이 그리는 영역을 표시합니다
Comment[lt]=Rodyti sritis, kurias paišo KWin
Comment[lv]=Rāda apgabalus, ko zīmējis KWin
Comment[nb]=Viser områder som KWIn tegner opp
Comment[nds]=Wiest de Rebeden, de KWin infarvt
Comment[ne]=केसीई विन द्वारा रङ लगाइएको क्षेत्रहरू देखाउँदछ
Comment[nl]=Toont gebieden ingetekend door KWin
Comment[nn]=Vis område som vert teikna av KWin
Comment[pa]=K-ਵਿਨ ਰਾਹੀਂ ਪੇਂਟ ਕੀਤਾ ਏਰੀਆ ਵੇਖੋ
Comment[pl]=Pokazuje obszary rysowane przez KWin
Comment[pt]=Mostra as áreas pintadas pelo KWin
Comment[pt_BR]=Mostra áreas pintadas pelo KWin
Comment[ro]=Afișează zonele desenate de KWin
Comment[se]=Čájet guovlluid maid KWin mále
Comment[sl]=Prikaže področja, ki jih KWin izrisuje
Comment[sr]=Приказује области које исцртава К‑вин
Comment[sr@latin]=Prikazuje oblasti koje iscrtava KWin
Comment[sv]=Visar områden uppritade av Kwin
Comment[th]=แสดงพื้นที่ที่ถูกวาดโดย KWin
Comment[tr]=KWin tarafından boyanan alanları gösterir
Comment[uk]=Показує ділянки намальовані KWin
Comment[wa]=Mostere des redjons pondowes pa KWin
Comment[x-test]=xxShows areas painted by KWinxx
Comment[zh_CN]=显示 KWin 绘制的区域
Comment[zh_TW]=顯示 KWin 繪製的區域

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_showpaint
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
