[Desktop Entry]
Name=Show FPS
Name[ar]=أظهر FPS
Name[bg]=Показване на к/с
Name[ca]=Mostra els FPS
Name[csb]=Wëskrzëni FPS
Name[de]=Bilder pro Sekunde anzeigen
Name[el]=Εμφάνιση καρέ ανά δευτερόλεπτο
Name[eo]=Montri FPS
Name[es]=Muestra FPS
Name[et]=FPS-i näitamine
Name[eu]=Erakutsi FPS
Name[fa]=نمایش FPS
Name[fi]=Näytä FPS
Name[ga]=Taispeáin FSS
Name[he]=הצג מסגרות לשנייה
Name[hu]=Képkockaszámláló megjelenítése
Name[it]=Mostra FPS
Name[ja]=フレームレート (FPS) 表示
Name[kk]=FPS-ты көрсету
Name[km]=បង្ហាញ FPS
Name[ko]=FPS 표시
Name[lv]=Rādīt kadrus/sek
Name[nb]=Vis FPS
Name[nds]=Bps wiesen
Name[ne]=एफपीएस देखाउनुहोस्
Name[nl]=FPS tonen
Name[nn]=Vis FPS
Name[pa]=FPS ਵੇਖੋ
Name[pl]=Pokaż FPS
Name[pt]=Mostrar as IPS
Name[pt_BR]=Mostrar FPS
Name[se]=Čájet rámmaid sekunddas
Name[sr]=Кадрови/секунди
Name[sr@latin]=Kadrovi/sekundi
Name[sv]=Visa ramar/s
Name[vi]=Hiện FPS
Name[wa]=Mostrer FPS
Name[x-test]=xxShow FPSxx
Name[zh_CN]=显示 FPS
Name[zh_TW]=顯示每秒幾張
Icon=preferences-system-windows-effect-fps-show
Comment=Shows KWin's performance
Comment[ar]=أظهر أداء KWin's
Comment[be]=Паказаць хуткасць працы KWin
Comment[bg]=Производителност
Comment[ca]=Mostra el rendiment del KWin
Comment[csb]=Wëskrzënianié spòroscë òknów KDE
Comment[de]=Zeigt die Leistung von KWin
Comment[el]=Εμφάνιση επίδοσης του KWin
Comment[eo]=KWin-rendimentvidigo
Comment[es]=Muestra el rendimiento de KWin
Comment[et]=KWin'i jõudluse näitamine
Comment[eu]=Erakutsi KWin performantzia
Comment[fa]=کارایی KWin را نشان می‌دهد
Comment[fi]=Näyttää KWin'in suorituskyvyn
Comment[he]=מציג את הביצועים של KWin
Comment[hu]=Kiírja a KWin teljesítményét
Comment[it]=Mostra le prestazioni di KWin
Comment[ja]=KWin のパフォーマンスを表示します
Comment[kk]=KWin жылдамдығын көрсетеді
Comment[km]=បង្ហាញ​ដំណើរការ​របស់ KWin
Comment[ko]=KWin의 성능 표시
Comment[lv]=Rāda KWin veiktspēju
Comment[nb]=Viser KWins ytelse
Comment[nds]=Wiest KWin sien Leisten
Comment[ne]=केडीई विनको कार्यसम्पादन देखाउँदछ
Comment[nl]=Toont KWin's prestaties
Comment[nn]=Vis kor rask/treg KWin er
Comment[pa]=KWin ਦਾ ਕਾਰਗੁਜ਼ਾਰੀ ਵੇਖੋ
Comment[pl]=Pokazanie wydajności (ramki na sekundę)
Comment[pt]=Mostra a performance do KDE
Comment[pt_BR]=Exibe a performance do KWin
Comment[se]=Čájet KWina buktu
Comment[sr]=Приказује перформансе К-вина
Comment[sr@latin]=Prikazuje performanse KWina
Comment[sv]=Visar Kwins prestanda
Comment[vi]=Hiển thị hiệu năng của KWin
Comment[x-test]=xxShows KWin's performancexx
Comment[zh_CN]=显示 KWin 的性能
Comment[zh_TW]=顯示 KWin 的效能

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_showfps
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Category[de]=Verschiedenes
X-KDE-PluginInfo-Category[el]=Διάφορα
X-KDE-PluginInfo-Category[ja]=その他
X-KDE-PluginInfo-Category[lv]=Dažādi
X-KDE-PluginInfo-Category[nds]=Anner Saken
X-KDE-PluginInfo-Category[pt]=Diversos
X-KDE-PluginInfo-Category[pt_BR]=Diversos
X-KDE-PluginInfo-Category[zh_TW]=雜項
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
