[Desktop Entry]
Name=Slide
Name[ga]=Sleamhnaigh
Name[gl]=Deslizar
Name[gu]=સ્લાઇડ
Name[nds]=Glieden
Name[pt]=Deslize
Name[pt_BR]=Deslize
Name[sl]=Drsenje
Name[sv]=Glidning
Name[uk]=Ковзання
Icon=preferences-system-windows-effect-slide
Comment=Slide windows when switching desktops
Comment[ga]=Sleamhnaigh fuinneoga agus an deasc reatha á hathrú
Comment[gl]=Desliza as fiestras ao trocar de escritorio
Comment[gu]=ડેસ્ટોપ્સ બદલતી વખતે વિન્ડોને સરકાવો
Comment[nds]=Bi't Wesseln vun den Schriefdisch Finstern glieden laten
Comment[pt]=Deslizar as janelas ao mudar de ecrã
Comment[pt_BR]=Deslizar as janelas ao mudar de ecrã
Comment[sl]=Med preklapljanjem med namizji naj okna drsijo
Comment[sv]=Låt fönster glida vid byte av skrivbord
Comment[uk]=Під час перемикання стільниць вікна ковзають

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_slide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
