[Desktop Entry]
Name=Slide
Name[el]=Κύλιση
Name[et]=Liuglemine
Name[ga]=Sleamhnaigh
Name[gl]=Deslizar
Name[gu]=સ્લાઇડ
Name[ja]=スライド
Name[km]=ស្លាយ
Name[nds]=Glieden
Name[pt]=Deslize
Name[pt_BR]=Deslize
Name[sl]=Drsenje
Name[sv]=Glidning
Name[tr]=Kaydır
Name[uk]=Ковзання
Name[zh_TW]=滑動
Icon=preferences-system-windows-effect-slide
Comment=Slide windows across the screen when switching virtual desktops
Comment[el]=Κύλιση παραθύρων κατά την εναλλαγή επιφανειών εργασίας
Comment[et]=Akende liuglemine töölaudade vahetamisel
Comment[ga]=Sleamhnaigh fuinneoga agus an deasc reatha á hathrú
Comment[gl]=Desliza as fiestras ao trocar de escritorio
Comment[gu]=ડેસ્ટોપ્સ બદલતી વખતે વિન્ડોને સરકાવો
Comment[ja]=デスクトップの切り替え時にウィンドウをスライドさせます
Comment[km]=បង្កើត​ជា​​​បង្អួច​បញ្ចាំ​ង​ស្លាយ​នៅ​ពេល​ប្ដូរ​ផ្ទៃតុ
Comment[nds]=Bi't Wesseln vun den Schriefdisch Finstern glieden laten
Comment[pt]=Deslizar as janelas ao mudar de ecrã
Comment[pt_BR]=Deslizar as janelas ao mudar de ecrã
Comment[sl]=Med preklapljanjem med namizji naj okna drsijo
Comment[sv]=Låt fönster glida vid byte av skrivbord
Comment[tr]=Masaüstü değiştirildiğinde pencereleri kaydır
Comment[uk]=Під час перемикання стільниць вікна ковзають
Comment[zh_TW]=切換桌面時滑動視窗

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_slide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
