[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_snow
X-KDE-PluginKeyword=snow

Name=Snow
Name[el]=Χιόνι
Name[eo]=Neĝo
Name[ga]=Sneachta
Name[hu]=Hóesés
Name[km]=ធ្លាក់​ព្រឹល
Name[ko]=눈
Name[ku]=Berf
Name[nds]=Snee
Name[oc]=Nèu
Name[sr]=Снег
Name[sr@latin]=Sneg
Name[sv]=Snö
Name[tr]=Kar
Name[zh_TW]=下雪
