[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_sphere
X-KDE-PluginKeyword=sphere

Name=Desktop Sphere
Name[ar]=دائرة سطح المكتب
Name[be@latin]=Rabočaja kula
Name[bg]=Сферичен работен плот
Name[ca]=Esfera d'escriptori
Name[csb]=Sfera pùltu
Name[da]=Desktop-sfære
Name[de]=Arbeitsflächen-Kugel
Name[el]=Σφαίρα επιφάνειας εργασίας
Name[es]=Escritorio esfera
Name[et]=Töölauasfäär
Name[eu]=Mahaigaina esfera gisa
Name[fr]=Bureau en sphère
Name[ga]=Sféar Deisce
Name[gl]=Escritorio en esfera
Name[gu]=ડેસ્કટોપ ગોળો
Name[he]=שולחן עבודה בספירה
Name[hi]=डेस्कटॉप गोला
Name[is]=Skjáborðshvolf
Name[it]=Sfera Desktop
Name[ja]=デスクトップ球形
Name[kk]=Үстел сферасы
Name[km]=ស៊្វែរ​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಗೋಲ
Name[ko]=데스크톱 구
Name[lt]=Darbastalio sfera
Name[lv]=Darbvirsmas sfēra
Name[ml]=പണിയറഗോളം
Name[nb]=Skrivebordskule
Name[nds]=Schriefdischkugel
Name[nl]=Bureaubladbol
Name[nn]=Skrivebordskule
Name[pa]=ਡੈਸਕਟਾਪ ਗੋਲਾ
Name[pt]=Esfera de Ecrãs
Name[pt_BR]=Esfera da área de trabalho
Name[ro]=Sferă de birou
Name[sl]=Krogla z namizji
Name[sr]=Сфера површи
Name[sr@latin]=Sfera površi
Name[sv]=Skrivbordsklot
Name[ta]=திரைமேசை உருண்டை
Name[te]=డెస్క్ టాప్ గొళం
Name[tg]=Сфераи мизи корӣ
Name[tr]=Masaüstü Küresi
Name[uk]=Стільнична сфера
Name[x-test]=xxDesktop Spherexx
Name[zh_CN]=桌面球体
Name[zh_TW]=桌面球體
