[Desktop Entry]
Name=Desktop Sphere
Name[be@latin]=Rabočaja kula
Name[el]=Σφαίρα επιφάνειας εργασίας
Name[et]=Töölauasfäär
Name[ga]=Sféar Deisce
Name[gl]=Escritorio en esfera
Name[gu]=ડેસ્કટોપ ગોળો
Name[kk]=Үстел сферасы
Name[km]=ស៊្វែរ​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಗೋಲ
Name[nb]=Skrivebordskule
Name[nds]=Schriefdischkugel
Name[nn]=Skrivebordskule
Name[pa]=ਡੈਸਕਟਾਪ ਗੋਲਾ
Name[pt]=Esfera de Ecrãs
Name[pt_BR]=Esfera de Ecrãs
Name[ro]=Sferă de birou
Name[sl]=Krogla z namizji
Name[sr]=Сфера површи
Name[sr@latin]=Sfera površi
Name[sv]=Skrivbordsklot
Name[te]=డెస్క్ టాప్ గొళం
Name[tr]=Masaüstü Küresi
Name[uk]=Стільнична сфера
Name[x-test]=xxDesktop Spherexx
Name[zh_TW]=桌面球體
Icon=preferences-system-windows-effect-sphere
Comment=Display each virtual desktop on the side of a sphere
Comment[be@latin]=Pakazvaje virtualnyja rabočyja stały na baku kuli.
Comment[el]=Εμφάνιση κάθε εικονικής επιφάνειας εργασίας στην επιφάνεια μιας σφαίρας
Comment[gl]=Mostra os escritorios virtuais na superficie dunha esfera
Comment[gu]=ગોળાની બાજુ પર દરેક વર્ચ્યુઅલ ડેસ્કટોપ બતાવો
Comment[kk]=Әрбір виртуалды үстелді сфераның бетінде көрсету
Comment[km]=ផ្គូផ្គង​ផ្ទៃតុ​និម្មិត​នៅ​លើ​ស៊្វែរ
Comment[kn]=ವಾಸ್ತವಪ್ರಾಯ ಗಣಕತೆರೆಗಳನ್ನು ಗೋಲವೊಂದರ ಬದಿಗಳ ಮೇಲೇ ತೋರುವಂತೆ ಮಾಡು
Comment[nb]=Vis hvert virtuelt skrivebord på siden av en kule
Comment[nds]=Elkeen Schriefdisch op de Siet vun en Kugel wiesen
Comment[pt]=Mostrar cada ecrã virtual como uma face de uma esfera
Comment[pt_BR]=Mostrar cada ecrã virtual como uma face de uma esfera
Comment[ro]=Afișează fiecare birou virtual pe suprafața unei sfere
Comment[sv]=Visa varje virtuellt skrivbord på sidan av ett klot
Comment[tr]=Her bir sanal masaüstünü bir kürenin yanı olarak göster
Comment[uk]=Показувати всі стільниці на поверхні сфери
Comment[x-test]=xxDisplay each virtual desktop on the side of a spherexx
Comment[zh_TW]=將每個虛擬桌面顯示在球體上

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=ubuntu@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_sphere
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
