[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_sphere
X-KDE-PluginKeyword=sphere

Name=Desktop Sphere
Name[et]=Töölauasfäär
Name[ga]=Sféar Deisce
Name[gl]=Escritorio en esfera
Name[gu]=ડેસ્કટોપ ગોળો
Name[km]=ស៊្វែរ​ផ្ទៃតុ
Name[nds]=Schriefdischkugel
Name[nn]=Skrivebordskule
Name[pt]=Esfera de Ecrãs
Name[pt_BR]=Esfera de Ecrãs
Name[sl]=Krogla z namizji
Name[sr]=Сфера површи
Name[sr@latin]=Sfera površi
Name[sv]=Skrivbordsklot
Name[te]=డెస్క్ టాప్ గొళం
Name[tr]=Masaüstü Küresi
Name[uk]=Стільнична сфера
Name[zh_TW]=桌面球體
