[Desktop Entry]
Name=Taskbar Thumbnails
Name[af]=Taakbalk duimnaels
Name[ca]=Miniatures a la barra de tasques
Name[cs]=Miniatury v pruhu úloh
Name[csb]=Miniaturczi listwë dzejaniów
Name[da]=Opgavelinjeminiaturer
Name[de]=Vorschaubild in der Fensterleiste
Name[el]=Εικόνες επισκόπησης της Γραμμής εργασιών
Name[eo]=Taskobretaj miniaturoj
Name[es]=Miniaturas de la barra de tareas
Name[et]=Tegumiriba pisipildid
Name[eu]=Ataza-barraren koadro txikiak
Name[fi]=Tehtäväpalkin esikatselukuvat
Name[fr]=Aperçus du gestionnaire des tâches
Name[fy]=Taakbalke miniatueren
Name[ga]=Mionsamhlacha sa Tascbharra
Name[gl]=Miniaturas da barra de tarefas
Name[gu]=ટાસ્કબાર થમ્બનીલ્સ
Name[hu]=Feladatsáv-ablaktartalom
Name[is]=Smámyndir á verkefnaslá
Name[it]=Miniature per la barra delle applicazioni
Name[ja]=タスクバーのサムネイル
Name[km]=រូបភាព​តូចៗ​របារ​ភារកិច្ច
Name[ko]=작업 표시줄 미리 보기 그림
Name[lv]=Uzdevumjoslas sīktēli
Name[nb]=Oppgavelinje-minibilder
Name[nds]=Programmbalken-Vöransichten
Name[nl]=Taakbalkminiaturen
Name[nn]=Oppgåvelinjeminiatyrbilete
Name[pa]=ਟਾਸਕਬਾਰ ਥੰਮਨੇਲ
Name[pl]=Miniaturki w pasku zadań
Name[pt]=Miniaturas da Barra de Tarefas
Name[pt_BR]=Miniaturas da Barra de Tarefas
Name[ro]=Miniaturile barei de activități
Name[se]=Bargoholgga minigovat
Name[sl]=Sličice za opravilno vrstico
Name[sr]=Сличице у траци задатака
Name[sr@latin]=Sličice u traci zadataka
Name[sv]=Miniatyrbilder i aktivitetsfält
Name[th]=แสดงภาพตัวอย่างอที่แถบหน้าต่างงาน
Name[tr]=Görev Çubuğu Küçük Resim Önizlemeleri
Name[uk]=Мініатюри панелі задач
Name[wa]=Prévoeyaedjes båre des bouyes
Name[x-test]=xxTaskbar Thumbnailsxx
Name[zh_CN]=任务栏缩略图
Name[zh_TW]=工作列縮圖
Icon=preferences-system-windows-effect-taskbarthumbnail
Comment=Shows window thumbnails when cursor is on their taskbar entry
Comment[af]=Wys vensters se duimnaels wanneer die wyser oor die taakbalk is
Comment[bg]=Показване на умалени копия, когато курсора е върху лентата с инструменти
Comment[ca]=Mostra una miniatura de la finestra quan el cursor està sobre la seva entrada de la barra de tasques
Comment[da]=Viser miniaturer af vinduer når markøren er i deres opgavelinjeindgang
Comment[de]=Zeigt Fenster-Vorschaubilder an, wenn sich der Mauszeiger über dem Fensterleisten-Eintrag befindet.
Comment[el]=Εμφάνιση εικόνας επισκόπησης παραθύρου όταν το ποντίκι περνάει πάνω από την καταχώρησή του στη γραμμή εργασιών
Comment[eo]=Kiam la muso ŝvebas super taskobreta ero, miniaturo de tiu fenestro aperas
Comment[es]=Muestra miniaturas de la ventana cuando el cursor está en la entrada de su barra de tareas
Comment[et]=Akende pisipiltide näitamine, kui kursor on nende tegumiriba kirje kohal
Comment[fi]=Näyttää ikkunan esikatselukuvan, kun kohdistin osoittaa ohjelmaa tehtävärivillä.
Comment[fr]=Affiche les aperçus des fenêtres lorsque le curseur est sur leur icône dans le gestionnaire des tâches
Comment[fy]=Finsterrminiateuren sjen litte as it rinnerke op syn taakbalke setten wurdt
Comment[ga]=Taispeáin mionsamhail d'fhuinneog nuair atá an cúrsóir os a cionn sa tascbharra
Comment[gl]=Mostra miniaturas das fiestras cando o cursor está sobra a súa entrada na barra de tarefas
Comment[gu]=જ્યારે ટાસ્કબાર પર કર્સર લઇ જાવ ત્યારે વિન્ડો થમ્બનીલ બતાવે છે
Comment[hu]=Megmutatja a feladatokhoz tartozó ablakok kicsinyített képét
Comment[is]=Sýnir smámyndir glugga þegar bendill er á færslu verkefnaslárinnar
Comment[it]=Mostra le miniature delle finestre se il cursore è sul relativo elemento della barra delle applicazioni
Comment[ja]=タスクバーエントリの上にマウスが来たときに、そのウィンドウのサムネイルを表示します
Comment[km]=បង្ហាញ​រូបភាព​តូចៗ​របស់​បង្អួច នៅ​ពេល​ទស្សន៍​នៅ​លើ​ធាតុ​របារ​ភារកិច្ច​របស់​ពួកវា
Comment[ko]=작업 표시줄의 창 항목 위에 커서가 있을 때 미리 보기 그림을 표시합니다
Comment[lv]=Parāda loga sīktēlu, kad kursors atrodas uz uzdevumjoslas ieraksta
Comment[nb]=Viser minibilder av vinduene når pekeren er over oppgavelinja
Comment[nds]=Wiest Vöransichten vun de Finstern, wenn Du mit de Muus op ehr Programmbalken-Indrääg wiest.
Comment[nl]=Vensterminiaturen tonen als cursor op bijhorende taakbalkknop wordt geplaatst
Comment[nn]=Vis miniatyrbilete av vindauge når peikaren er over ikona deira på oppgåvelinja
Comment[pa]=ਵਿੰਡੋ ਥੰਮਨੇਲ ਵੇਖੋ, ਜਦੋਂ ਕਿ ਕਰਸਰ ਉਸ ਦੀ ਟਾਸਕਬਾਰ ਐਂਟਰੀ ਉੱਤੇ ਹੋਵੇ।
Comment[pl]=Pokazuje miniaturki okien, kiedy kursor znajduje się na ich pozycji w pasku zadań
Comment[pt]=Mostra as miniaturas das janelas quando o cursor está no seu item da barra de tarefas
Comment[pt_BR]=Mostra miniaturas das janelas quando o cursor está nas suas entradas na barra de tarefas
Comment[ro]=Afișează miniatura ferestrei cînd cursorul este deasupra imaginii ei din bara de procese
Comment[se]=Čájeha govaža láses go seaván lea dan ikona bajábealde
Comment[sl]=Ko je kazalec nad gumbom v opravilni vrstici , se prikaže sličica okna
Comment[sr]=Сличице прозора како показивач преко ставки у траци задатака
Comment[sr@latin]=Sličice prozora kako pokazivač preko stavki u traci zadataka
Comment[sv]=Visar miniatyrbilder av fönster när markören är över deras post i aktivitetsfältet
Comment[th]=สาธิตการแสดงภาพย่อที่แถบหน้าต่างงานเมื่อเคลื่อนเคอร์เซอร์เมาส์มาอยู่เหนือรายการในแถบงาน
Comment[tr]=Bir pencerenin görev çubuğundaki girdisi üzerine gelindiğinde o pencerenin küçük resmini gösterir
Comment[uk]=Показує мініатюри вікон, коли курсор знаходиться над елементом панелі задач
Comment[x-test]=xxShows window thumbnails when cursor is on their taskbar entryxx
Comment[zh_CN]=当鼠标指针指向任务栏时显示窗口缩略图
Comment[zh_TW]=當游標停在工作列的按鈕上面時，顯示視窗的縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_taskbarthumbnail
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
