[Desktop Entry]
Encoding=UTF-8
Name=Test_Thumbnail
Name[be]=Праверка_мініяцюр
Name[csb]=Test_Miniaturczi
Name[de]=Test: Vorschaubilder
Name[el]=Δοκιμή εικόνας επισκόπησης
Name[he]=בדיקת דוגמיות
Name[kk]=Нобайды_сынау
Name[nb]=Test_minibilde
Name[nds]=Test: Vöransicht
Name[ne]=थम्बनेल परीक्षण गर्नुहोस्
Name[nn]=Test_miniatyrbilete
Name[sv]=Testa miniatyrbild
Name[vi]=Thử_hình nhỏ
Name[x-test]=xxTest_Thumbnailxx
Name[zh_CN]=测试_缩略图
Name[zh_TW]=測試_縮圖

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks
X-KDE-PluginInfo-Email=rivolaks@hot.ee
X-KDE-PluginInfo-Name=kwin4_effect_test_thumbnail
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tests
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_tests
