[Desktop Entry]
Name=Thumbnail Aside
Name[bg]=Манипулатор на мини изображения
Name[ca]=Miniatures de costat
Name[da]=Væk med miniature
Name[de]=Seitliche Vorschaubilder
Name[el]=Εικόνα επισκόπησης στο πλάι
Name[eo]=Miniaturojn flanke
Name[es]=Miniaturas laterales
Name[et]=Pisipildid kõrval
Name[eu]=Koadro txikiak alboan
Name[fi]=Esikatselukuva vieressä
Name[fr]=Vignette à part
Name[fy]=Miniatuer der neist
Name[gl]=Miniatura a un lado
Name[gu]=થમ્બનીલ બાજુમાં
Name[he]=דוגמית בצד
Name[hi]=लघुछवि बाजू में
Name[hu]=Ablakbetekintő oldalt
Name[is]=Smámynd til hliðar
Name[it]=Miniature di fianco
Name[ja]=サムネイルをわきに表示
Name[kk]=Нобайды шеттеу
Name[km]=រូបភាព​តូចនៅ​ខាង
Name[ko]=미리 보기 그림
Name[lv]=Sīktēli malā
Name[nb]=Minibilde tilside
Name[nds]=Vöransicht kantsiets
Name[ne]=थम्बनेल अलग गर्नुहोस्
Name[nl]=Miniatuur ernaast
Name[nn]=Miniatyrbilete ved sidan
Name[pa]=ਥੰਮਨੇਲ ਏ-ਸਾਇਡ
Name[pl]=Miniaturka z boku
Name[pt]=Miniaturas Lado-a-Lado
Name[pt_BR]=Miniatura de Lado
Name[ro]=Miniatură lateral
Name[se]=Minigovva bálddas
Name[sl]=Sličica ob strani
Name[sr]=Сличица по страни
Name[sr@latin]=Sličica po strani
Name[sv]=Miniatyrbild vid sidan om
Name[th]=ภาพตัวอย่างแบบย่อตามด้าน
Name[tr]=Yan Küçük Resimcik
Name[uk]=Мініатюри збоку
Name[vi]=Hình nhỏ ra bên
Name[wa]=Prévoeyaedje a costé
Name[x-test]=xxThumbnail Asidexx
Name[zh_CN]=旁边缩略图
Icon=preferences-system-windows-effect-thumbnailaside
Comment=Shows window's thumbnail at the edge of the screen
Comment[ca]=Mostra les miniatures de les finestres a la vora de la pantalla
Comment[da]=Viser miniaturer af vinduer ved kanten af skærmen
Comment[de]=Zeigt Vorschaubilder von Fenstern in einer Bildschirmecke an
Comment[el]=Εμφανίζει στην άκρη της οθόνης την εικόνα επισκόπησης του παραθύρου
Comment[eo]=Montras la fenestrajn miniaturojn ĉe la rando de la ekrano
Comment[es]=Muestra las miniaturas de la ventana en el borde de la pantalla
Comment[et]=Ekraani serval näidatakse akende pisipilte
Comment[fi]=Näyttää ikkunan esikatselukuvan ruudun reunalla
Comment[fr]=Affiche l'aperçu de la fenêtre au bord de l'écran
Comment[fy]=Lit fintersminiatuer sjen oan de râne fan it skerm
Comment[ga]=Taispeáin mionsamhail na fuinneoige ag ciumhais an scáileáin
Comment[gl]=Mostra miniaturas das fiestras no contorno da pantalla
Comment[gu]=સ્ક્રિનની કિનારીએ વિન્ડોની થમ્બનીલ બતાવો
Comment[hu]=A képernyő szélénél mutatja az ablakok képét
Comment[is]=Sýnir smámynd af glugga við brún skjásins
Comment[it]=Mostra le miniature delle finestre sul fianco dello schermo
Comment[ja]=ウィンドウのサムネイルをスクリーンの端に表示します
Comment[km]=បង្ហាញ​រូបភាព​តូចៗ​របស់​បង្អួច​នៅគែម​របស់អេក្រង់
Comment[ko]=화면의 모서리에 창의 미리 보기 그림을 표시합니다
Comment[lv]=Ekrāna malā rāda logu sīktēlus
Comment[nb]=Viser vinduets minibilde ved kanten av skjermen
Comment[nds]=Wiest Finster-Vöransichten an de Schirmkant
Comment[nl]=Toont vensterminiatuur aan de rand van het scherm
Comment[nn]=Vis miniatyrbilete av vindauge ved katen av skjermen
Comment[pa]=ਸਕਰੀਨ ਦੇ ਕੋਨੇ ਉੱਤੇ ਵਿੰਡੋ ਦਾ ਥੰਮਨੇਲ ਵੇਖੋ
Comment[pl]=Pokazuje miniaturkę okna z boku ekranu
Comment[pt]=Mostra a miniatura da janela do extremo do ecrã
Comment[pt_BR]=Mostra miniatura da janela na margem da tela
Comment[ro]=Afișează miniatura ferestrei la marginea ecranului
Comment[se]=Čájeha láse govaža šearbmarávddas
Comment[sl]=Ob robu zaslona prikazuje sličico okna
Comment[sr]=Приказује сличице прозора на ивици екрана
Comment[sr@latin]=Prikazuje sličice prozora na ivici ekrana
Comment[sv]=Visar miniatyrbilder för fönster vid skärmkanten
Comment[th]=แสดงภาพตัวอย่างหน้าต่างที่ขอบของจอภาพ
Comment[tr]=Pencerenin küçük resmini ekranın kenarında gösterir
Comment[uk]=Показує мініатюру вікна на краю екрана
Comment[x-test]=xxShows window's thumbnail at the edge of the screenxx
Comment[zh_CN]=在屏幕边缘显示窗口的缩略图
Comment[zh_TW]=在螢幕的邊緣顯示視窗縮圖

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_thumbnailaside
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
