[Desktop Entry]
Name=Tiling
Icon=preferences-system-windows-effect-tiling
Comment=Display windows side-by-side

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lucas Murray
X-KDE-PluginInfo-Email=lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_tiling
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
