[Desktop Entry]
Name=Track Mouse
Name[be]=Адследжваць мыш
Name[bg]=Мишка
Name[de]=Mausspur
Name[el]=Ανίχνευση ποντικιού
Name[es]=Seguir el ratón
Name[et]=Hiire jälgimine
Name[fa]=ردگیری موشی
Name[he]=עקבות עכבר
Name[ja]=トラックマウス
Name[kk]=Тышқандың ізі
Name[km]=ដាន​កណ្តុរ​
Name[ko]=마우스 추적
Name[nb]=Spor mus
Name[nds]=Muusspoor
Name[ne]=ट्रयाक माउस
Name[nl]=Muis volgen
Name[nn]=Følg mus
Name[pa]=ਮਾਊਸ ਟਰੈਕ
Name[pt]=Seguir o Rato
Name[pt_BR]=Seguir o Mouse
Name[sr]=Праћење миша
Name[sr@latin]=Praćenje miša
Name[sv]=Följ musen
Name[vi]=Vết chuột
Name[x-test]=xxTrack Mousexx
Name[zh_CN]=跟踪鼠标
Name[zh_TW]=追蹤滑鼠
Icon=preferences-system-windows-effect-mouse-track
Comment=Shows mouse cursor's position when activated
Comment[et]=Aktiveerimisel näidatakse hiirekursori asukohta
Comment[nds]=Wiest de Steed vun den Muuswieser, wenn anmaakt
Comment[sv]=Visar muspekarens position om aktiverad
Comment[zh_TW]=啟動時顯示滑鼠游標的位置

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_trackmouse
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
