[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_trackmouse
X-KDE-PluginKeyword=trackmouse

Name=Track Mouse
Name[be]=Адследжваць мыш
Name[bg]=Мишка
Name[ca]=Seguiment del ratolí
Name[de]=Mausspur
Name[el]=Ανίχνευση ποντικιού
Name[eo]=Spuri muson
Name[es]=Seguir el ratón
Name[et]=Hiire jälgimine
Name[eu]=Jarraitu sagua
Name[fa]=ردگیری موشی
Name[fi]=Jäljitä hiiri
Name[fy]=Track Mûs
Name[he]=עקבות עכבר
Name[hi]=माउस ट्रैक करें
Name[hu]=Egérkövetés
Name[ja]=マウス追跡
Name[kk]=Тышқандың ізі
Name[km]=ដាន​កណ្តុរ​
Name[ko]=마우스 추적
Name[lv]=Sekot pelei
Name[nb]=Spor mus
Name[nds]=Muusspoor
Name[ne]=ट्रयाक माउस
Name[nl]=Muis volgen
Name[nn]=Følg mus
Name[pa]=ਮਾਊਸ ਟਰੈਕ
Name[pl]=Śledź mysz
Name[pt]=Seguir o Rato
Name[pt_BR]=Seguir o Mouse
Name[se]=Čuovo sáhpána
Name[sr]=Праћење миша
Name[sr@latin]=Praćenje miša
Name[sv]=Följ musen
Name[vi]=Vết chuột
Name[x-test]=xxTrack Mousexx
Name[zh_CN]=跟踪鼠标
Name[zh_TW]=追蹤滑鼠
