[Desktop Entry]
Name=Track Mouse
Name[be]=Адследжваць мыш
Name[bg]=Мишка
Name[ca]=Seguiment del ratolí
Name[de]=Mausspur
Name[el]=Ανίχνευση ποντικιού
Name[eo]=Spuri muson
Name[es]=Seguir el ratón
Name[et]=Hiire jälgimine
Name[eu]=Jarraitu sagua
Name[fa]=ردگیری موشی
Name[fi]=Jäljitä hiiri
Name[fy]=Track Mûs
Name[ga]=Lorg an Luch
Name[gl]=Seguir o rato
Name[he]=עקבות עכבר
Name[hi]=माउस ट्रैक करें
Name[hu]=Egérkövetés
Name[ja]=マウス追跡
Name[kk]=Тышқандың ізі
Name[km]=ដាន​កណ្តុរ​
Name[ko]=마우스 추적
Name[lv]=Sekot pelei
Name[nb]=Spor mus
Name[nds]=Muusspoor
Name[ne]=ट्रयाक माउस
Name[nl]=Muis volgen
Name[nn]=Følg mus
Name[pa]=ਮਾਊਸ ਟਰੈਕ
Name[pl]=Śledź mysz
Name[pt]=Seguir o Rato
Name[pt_BR]=Seguir o Mouse
Name[se]=Čuovo sáhpána
Name[sl]=Položaj miške
Name[sr]=Праћење миша
Name[sr@latin]=Praćenje miša
Name[sv]=Följ musen
Name[vi]=Vết chuột
Name[wa]=Shut l' sori
Name[x-test]=xxTrack Mousexx
Name[zh_CN]=跟踪鼠标
Name[zh_TW]=追蹤滑鼠
Icon=preferences-system-windows-effect-mouse-track
Comment=Shows mouse cursor's position when activated
Comment[ca]=Mostra la posició del cursor del ratolí quan està activat
Comment[de]=Zeigt bei der Aktivierung die Position des Mauszeigers an
Comment[el]=Όταν ενεργοποιηθεί, εμφανίζει τη θέση του δρομέα
Comment[eo]=Montras la pozicion de la muso kiam aktivita
Comment[es]=Muestra la posición del ratón cuando se activa
Comment[et]=Aktiveerimisel näidatakse hiirekursori asukohta
Comment[fi]=Näyttää aktivoidun kohdistimen sijainnin
Comment[fy]=Lit de posysje fan it mûsrinnerke sjen as it aktief is
Comment[ga]=Taispeáin ionad chúrsóir na luiche nuair atá sé gníomhachtaithe
Comment[gl]=Mostra a posición do cursor cando está activada
Comment[hu]=Aktiválás esetén kijelzi az egérmutató pozícióját
Comment[ja]=マウスカーソルの位置を表示します
Comment[km]=បង្ហាញ​ទីតាំង​របស់ទស្សន៍ទ្រនិច​កណ្ដុរ​នៅពេលបាន​ធ្វើ​ឲ្យ​សកម្ម
Comment[ko]=활성화되었을 때 마우스 커서의 위치를 표시합니다
Comment[lv]=Kad aktivizēts, rāda peles kursora atrašanās vietu
Comment[nb]=Viser musepekerens posisjon når dette er slått på
Comment[nds]=Wiest de Steed vun den Muuswieser, wenn anmaakt
Comment[nl]=Toont de positie van de muisaanwijzer wanneer geactiveerd
Comment[nn]=Viser posisjonen til musepeikaren når dette er slått på
Comment[pa]=ਜਦੋਂ ਮਾਊਸ ਕਰਸਰ ਐਕਵੇਟ ਹੋਵੇ ਤਾਂ ਮਾਊਸ ਕਰਸਰ ਦੀ ਸਥਿਤੀ ਵੇਖੋ
Comment[pl]=Po uaktywnieniu pokazuje pozycję kursora myszy
Comment[pt]=Mostra a posição do cursor do rato quando activada
Comment[pt_BR]=Mostra a posição do cursor do mouse quando ativada
Comment[se]=Čájeha gos sieván lea go dat aktiverejuvvo
Comment[sl]=Prikazuje položaj miškinega kazalca
Comment[sr]=Показује положај показивача миша када се активира
Comment[sr@latin]=Pokazuje položaj pokazivača miša kada se aktivira
Comment[sv]=Visar muspekarens position om aktiverad
Comment[x-test]=xxShows mouse cursor's position when activatedxx
Comment[zh_CN]=激活时显示鼠标指针位置
Comment[zh_TW]=啟動時顯示滑鼠游標的位置

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_trackmouse
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Category[ca]=Accessibilitat
X-KDE-PluginInfo-Category[de]=Zugangshilfen
X-KDE-PluginInfo-Category[el]=Προσβασιμότητα
X-KDE-PluginInfo-Category[eo]=Alirebleco
X-KDE-PluginInfo-Category[et]=Hõlbustus
X-KDE-PluginInfo-Category[ga]=Inrochtaineacht
X-KDE-PluginInfo-Category[hu]=Kezelési segítség
X-KDE-PluginInfo-Category[ja]=アクセシビリティ
X-KDE-PluginInfo-Category[km]=មធ្យោបាយ​ងាយស្រួល
X-KDE-PluginInfo-Category[lv]=Pieejamība
X-KDE-PluginInfo-Category[nb]=Tilgjengelighet
X-KDE-PluginInfo-Category[nds]=Behinnertenhülp
X-KDE-PluginInfo-Category[nl]=Toegankelijkheid
X-KDE-PluginInfo-Category[pa]=ਸਹੂਲਤਾਂ
X-KDE-PluginInfo-Category[pl]=Dostępność
X-KDE-PluginInfo-Category[pt]=Acessibilidade
X-KDE-PluginInfo-Category[pt_BR]=Acessibilidade
X-KDE-PluginInfo-Category[se]=Álkkibut geavaheapmi
X-KDE-PluginInfo-Category[sl]=Dostopnost
X-KDE-PluginInfo-Category[sr]=Приступачност
X-KDE-PluginInfo-Category[sr@latin]=Pristupačnost
X-KDE-PluginInfo-Category[sv]=Handikappstöd
X-KDE-PluginInfo-Category[wa]=Accessibilité
X-KDE-PluginInfo-Category[x-test]=xxAccessibilityxx
X-KDE-PluginInfo-Category[zh_CN]=辅助功能
X-KDE-PluginInfo-Category[zh_TW]=無障礙輔助
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
