[Desktop Entry]
Encoding=UTF-8
Name=Video Record
Name[de]=Video-Aufnahme
Name[el]=Εγγραφή βίντεο
Name[fa]=ضبط ویدیو
Name[nds]=Video opnehmen
Name[nl]=Video-opname
Name[zh_TW]=影像錄影
Icon=kwin-effect-videorecord
Comment=Lets you record videos of your desktop
Comment[de]=Zeichnet Videos von der Arbeitsfläche auf
Comment[el]=Επιτρέπει την εγγραφή βίντεο της επιφάνειας εργασίας σας
Comment[nds]=Videos vun Dien Schriefdisch opnehmen
Comment[nl]=Laat u opnames maken van uw bureaublad
Comment[zh_TW]=讓您錄下您桌面的影像

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_videorecord
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_videorecord
