[Desktop Entry]
Encoding=UTF-8
Name=Video Record
Name[ar]=قارئ المرئيات
Name[be]=Відэазапіс
Name[bg]=Запис на звук
Name[csb]=Nagranié wideò
Name[de]=Video-Aufnahme
Name[el]=Εγγραφή βίντεο
Name[es]=Grabación de vídeo
Name[fa]=ضبط ویدیو
Name[he]=הקלטת סרט
Name[ja]=ビデオレコーダー
Name[km]=កត់ត្រា​វីដេអូ​
Name[nds]=Video opnehmen
Name[nl]=Video-opname
Name[pa]=ਵੀਡਿਓ ਰਿਕਾਰਡ
Name[pt]=Gravação de Vídeo
Name[pt_BR]=Gravação de Vídeo
Name[sv]=Videoinspelning
Name[zh_TW]=影像錄影
Icon=kwin-effect-videorecord
Comment=Lets you record videos of your desktop
Comment[be]=Дазваляе вам запісваць відэа з вашага экрана
Comment[bg]=Запис на видео върху работния плот
Comment[de]=Zeichnet Videos von der Arbeitsfläche auf
Comment[el]=Επιτρέπει την εγγραφή βίντεο της επιφάνειας εργασίας σας
Comment[es]=Le permite grabar vídeos de su escritorio
Comment[fa]=اجازه ضبط تصویری رومیزیتان را می‌دهد
Comment[he]=מאפשר לך להקליט סרטי וידאו של שולחן העבודה שלך
Comment[ja]=デスクトップを動画として記録できます
Comment[km]=ចូរ​អ្នក​កត់ត្រា​វីដេអូ​នៃ​ផ្ទៃ​តុ​របស់​អ្នក​
Comment[nds]=Videos vun Dien Schriefdisch opnehmen
Comment[nl]=Laat u opnames maken van uw bureaublad
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਲਈ ਆਪਣੀ ਵੀਡਿਓ ਰਿਕਾਰਡ ਕਰੋ
Comment[pt]=Permite-lhe gravar vídeos do seu ecrã
Comment[pt_BR]=Permite-lhe gravar vídeos do seu ecrã
Comment[sv]=Låter dig spela in videor av skrivbordet
Comment[zh_TW]=讓您錄下您桌面的影像

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_videorecord
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Misc
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_videorecord
