[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_videorecord
X-KDE-ParentComponents=kwin4_effect_videorecord
X-KDE-PluginKeyword=videorecord

Name=Video Record
Name[ar]=تسجيل المرئيات
Name[be]=Відэазапіс
Name[bg]=Запис на звук
Name[ca]=Gravador de vídeo
Name[csb]=Nagranié wideò
Name[da]=Videooptagelse
Name[de]=Video-Aufnahme
Name[el]=Εγγραφή βίντεο
Name[eo]=Videoregistrilo
Name[es]=Grabación de vídeo
Name[et]=Videosalvestus
Name[eu]=Bideo grabazioa
Name[fa]=ضبط ویدیو
Name[fi]=Videotallennin
Name[fr]=Enregistre une vidéo
Name[fy]=Fideo rekord
Name[ga]=Taifead Físeanna
Name[gl]=Gravadora de vídeo
Name[gu]=વિડીઓ રેકોર્ડ
Name[he]=הקלטת סרט
Name[hi]=वीडियो रेकॉर्ड
Name[hu]=Videófelvevő
Name[is]=Vídeó upptaka
Name[it]=Registra video
Name[ja]=ビデオレコーダー
Name[kk]=Бейне жазып алу
Name[km]=កំណត់​ត្រា​វីដេអូ
Name[ko]=동영상 녹화
Name[lv]=Video ieraksts
Name[nb]=Videoopptak
Name[nds]=Video opnehmen
Name[ne]=भिडियो रेकर्ड
Name[nl]=Video-opname
Name[nn]=Videoopptak
Name[pa]=ਵੀਡਿਓ ਰਿਕਾਰਡ
Name[pl]=Nagrywanie wideo
Name[pt]=Gravação de Vídeo
Name[pt_BR]=Gravar Vídeo
Name[ro]=Înregistrare video
Name[se]=Videobádden
Name[sl]=Snemanje
Name[sr]=Видеоснимање
Name[sr@latin]=Videosnimanje
Name[sv]=Videoinspelning
Name[th]=เครื่องมืออัดวิดีโอ
Name[tr]=Video Kaydet
Name[uk]=Запис відео
Name[vi]=Thu ảnh động
Name[wa]=Eredjistraedje videyo
Name[x-test]=xxVideo Recordxx
Name[zh_CN]=视频录制
Name[zh_TW]=影像錄影
