[Desktop Entry]
Name=Wobbly Windows
Name[bg]=Прозорци Wobbly
Name[ca]=Finestres sacsejades
Name[cs]=Chvějící se okna
Name[csb]=Òkna Wobbly
Name[da]=Blævrende vinduer
Name[de]=Wabernde Fenster
Name[el]=Ταλαντευόμενα παράθυρα
Name[eo]=Tremaj fenestroj
Name[es]=Ventanas temblorosas
Name[et]=Võbisevad aknad
Name[fi]=Heiluvat ikkunat
Name[fr]=Fenêtres en gélatine
Name[ga]=Fuinneoga Creathacha
Name[gl]=Fiestras a tremer
Name[gu]=વોબલી વિન્ડોઝ
Name[hu]=Tekergő ablakok
Name[it]=Finestre tremolanti
Name[ja]=揺れるウィンドウ
Name[kk]=Майысқақ терезелер
Name[km]=បង្អួច​រំញ័រ
Name[kn]=ಅಲ್ಲಾಡುವ ಕಿಟಕಿಗಳು
Name[ko]=흔들리는 창
Name[lv]=Ļodzīgie logi
Name[ml]=ചാഞ്ചാടുന്ന ജാലകങ്ങള്‍
Name[nb]=Vaklende vinduer
Name[nds]=Wabbelig Finstern
Name[nl]=Wiebelende vensters
Name[nn]=Vaklande vindauge
Name[pa]=ਕੰਬਦੀਆਂ ਵਿੰਡੋਜ਼
Name[pt]=Janelas Trémulas
Name[pt_BR]=Janelas Instáveis
Name[ro]=Ferestre tremurătoare
Name[ru]=Вихляющие окна
Name[sl]=Želatinsta okna
Name[sr]=Лелујави прозори
Name[sr@latin]=Lelujavi prozori
Name[sv]=Ostadiga fönster
Name[te]=వూబ్లీ విండోస్
Name[th]=หน้าต่างพริ้วไหว
Name[tr]=Sallanan Pencereler
Name[uk]=Желейні вікна
Name[wa]=Mols purneas
Name[x-test]=xxWobbly Windowsxx
Name[zh_CN]=摆动窗口
Name[zh_TW]=不穩定的 Windows
Comment=Deform windows while they are moving
Comment[be@latin]=Skryŭlaje vokny padčas pierasoŭvańnia.
Comment[el]=Παραμόρφωση παραθύρων κατά τη μετακίνησή τους
Comment[gl]=Deforma as fiestras cando se moven
Comment[gu]=જ્યારે વિન્ડો બંધ થાય છે ત્યારે તેમનો આકાર બદલે છે
Comment[kk]=Терезелер жылжығанда майысқақ болады
Comment[km]=បង្អួច​ទ្រង់ទ្រាយ​បង្អួច​ខណៈពេល​កំពុង​ផ្លាស់ទី​ពួកវា​
Comment[kn]=ಕಿಟಕಿಗಳನ್ನು  ಸರಿಸುವಾಗ ಅವುಗಳನ್ನು ವಿಕೃತಿಗೊಳಿಸು
Comment[nb]=Deformer vinduer mens de flyttes
Comment[nds]=Finstern bi't Verschuven weihen laten
Comment[pt]=Deformar as janelas enquanto mudam de posição
Comment[pt_BR]=Deformar as janelas enquanto mudam de posição
Comment[ro]=Deformează ferestrele în timpul deplasării
Comment[sv]=Förvräng fönster medan de flyttas
Comment[tr]=Pencereler taşınırken şekillerini boz
Comment[uk]=Деформує вікна під час їх пересування
Comment[x-test]=xxDeform windows while they are movingxx
Comment[zh_TW]=移動視窗時讓視窗「變形」
Icon=preferences-system-windows-effect-wobblywindows

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Cédric Borgese
X-KDE-PluginInfo-Email=cedric.borgese@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_wobblywindows
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=45
