[Desktop Entry]
Name=Wobbly Windows
Name[ga]=Fuinneoga Creathacha
Name[km]=បង្អួច​រំញ័រ
Name[sv]=Ostadiga fönster
Name[zh_CN]=摆动窗口
Name[zh_TW]=不穩定的 Windows
Icon=preferences-system-windows-effect-wobblywindows

Type=Service
ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Cédric Borgese
X-KDE-PluginInfo-Email=cedric.borgese@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_wobblywindows
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=45
