[Desktop Entry]
Name=Zoom
Name[ar]=تكبير
Name[be]=Маштабаванне
Name[bg]=Мащабиране
Name[cs]=Zvětšení
Name[de]=Vergrößerung
Name[el]=Εστίαση
Name[eo]=Zomi
Name[es]=Ampliación
Name[et]=Suurendus
Name[fa]=بزرگ‌نمایی
Name[fy]=Zoome
Name[ga]=Súmáil
Name[gl]=Ampliación
Name[he]=התקרבות
Name[hi]=ज़ूम
Name[hu]=Kinagyítás
Name[ja]=ズーム
Name[kk]=Ұлғайту/кішрейту
Name[km]=ពង្រីក
Name[ko]=확대/축소
Name[lv]=Palielināšana
Name[nb]=Forstørre/-minske
Name[nds]=Ansichtgrött
Name[ne]=जुम गर्नुहोस्
Name[nl]=Zoomen
Name[nn]=Forstørr
Name[pa]=ਜ਼ੂਮ
Name[pl]=Powiększenie
Name[pt]=Ampliação
Name[sl]=Povečaj
Name[sr]=Увеличање
Name[sr@latin]=Uveličanje
Name[vi]=Thu/Phóng
Name[x-test]=xxZoomxx
Name[zh_CN]=缩放
Name[zh_TW]=縮放
Icon=preferences-system-windows-effect-zoom
Comment=Magnifies the entire desktop
Comment[ca]=Amplia l'escriptori sencer
Comment[de]=Vergrößert die gesamte Arbeitsfläche
Comment[el]=Μεγεθύνει ολόκληρη την Επιφάνεια εργασίας
Comment[eo]=Zomas la tutan labortablon
Comment[es]=Aumenta el escritorio entero
Comment[et]=Terve töölaua suurendamine
Comment[fi]=Suurentaa koko työpöydän
Comment[fy]=Fergrutet de folsleine buroblêd
Comment[ga]=Formhéadaigh an deasc iomlán
Comment[gl]=Amplía todo o escritorio
Comment[hu]=Kinagyítja az egész asztalt
Comment[ja]=デスクトップ全体を拡大します
Comment[km]=ពង្រីក​ផ្ទៃតុ​ទាំង​មូល
Comment[lv]=Palielina visu darbvirsmu
Comment[nb]=Forstørrer hele skrivebordet
Comment[nds]=Wiest den helen Schriefdisch grötter
Comment[nl]=Vergroot het gehele bureaublad
Comment[nn]=Forstørrer heile skrivebordet
Comment[pa]=ਪੂਰਾ ਡੈਸਕਟਾਪ ਵੱਡਦਰਸ਼ੀ ਵੇਖੋ
Comment[pl]=Powiększa cały pulpit
Comment[pt]=Amplia o ecrã inteiro
Comment[pt_BR]=Amplia a área de trabalho inteira
Comment[se]=Stuorida olles čállinbeavddi
Comment[sl]=Poveča celotno namizje
Comment[sr]=Увеличава целу радну површ
Comment[sr@latin]=Uveličava celu radnu površ
Comment[sv]=Förstorar hela skrivbordet
Comment[x-test]=xxMagnifies the entire desktopxx
Comment[zh_CN]=放大整个屏幕
Comment[zh_TW]=放大整個桌面

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_zoom
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Category[ca]=Accessibilitat
X-KDE-PluginInfo-Category[de]=Zugangshilfen
X-KDE-PluginInfo-Category[el]=Προσβασιμότητα
X-KDE-PluginInfo-Category[eo]=Alirebleco
X-KDE-PluginInfo-Category[et]=Hõlbustus
X-KDE-PluginInfo-Category[ga]=Inrochtaineacht
X-KDE-PluginInfo-Category[hu]=Kezelési segítség
X-KDE-PluginInfo-Category[ja]=アクセシビリティ
X-KDE-PluginInfo-Category[km]=មធ្យោបាយ​ងាយស្រួល
X-KDE-PluginInfo-Category[lv]=Pieejamība
X-KDE-PluginInfo-Category[nds]=Behinnertenhülp
X-KDE-PluginInfo-Category[nl]=Toegankelijkheid
X-KDE-PluginInfo-Category[pl]=Dostępność
X-KDE-PluginInfo-Category[pt]=Acessibilidade
X-KDE-PluginInfo-Category[pt_BR]=Acessibilidade
X-KDE-PluginInfo-Category[sl]=Dostopnost
X-KDE-PluginInfo-Category[sr]=Приступачност
X-KDE-PluginInfo-Category[sr@latin]=Pristupačnost
X-KDE-PluginInfo-Category[sv]=Handikappstöd
X-KDE-PluginInfo-Category[x-test]=xxAccessibilityxx
X-KDE-PluginInfo-Category[zh_CN]=辅助功能
X-KDE-PluginInfo-Category[zh_TW]=無障礙輔助
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
