[Desktop Entry]
Name=Zoom
Name[af]=Zoem
Name[ar]=تكبير
Name[be]=Маштабаванне
Name[bg]=Мащабиране
Name[cs]=Zvětšení
Name[de]=Arbeitsflächen-Vergrößerung
Name[el]=Εστίαση
Name[eo]=Zomi
Name[es]=Ampliación
Name[et]=Suurendus
Name[fa]=بزرگ‌نمایی
Name[fy]=Zoome
Name[ga]=Súmáil
Name[gl]=Ampliación
Name[gu]=મોટું કરો
Name[he]=התקרבות
Name[hi]=ज़ूम
Name[hu]=Kinagyítás
Name[is]=Aðdráttur
Name[ja]=ズーム
Name[kk]=Ұлғайту/кішрейту
Name[km]=ពង្រីក
Name[ko]=확대/축소
Name[lv]=Palielināšana
Name[ml]=വലുതാക്കുക
Name[nb]=Forstørre/-minske
Name[nds]=Ansichtgrött
Name[ne]=जुम गर्नुहोस्
Name[nl]=Zoomen
Name[nn]=Forstørr
Name[pa]=ਜ਼ੂਮ
Name[pl]=Powiększenie
Name[pt]=Ampliação
Name[ru]=Масштаб
Name[se]=Stuorrudit
Name[sl]=Povečava
Name[sr]=Увеличање
Name[sr@latin]=Uveličanje
Name[th]=ย่อ/ขยาย
Name[tr]=Büyüt
Name[uk]=Масштабування
Name[uz]=Kattalashtirish
Name[uz@cyrillic]=Катталаштириш
Name[vi]=Thu/Phóng
Name[x-test]=xxZoomxx
Name[zh_CN]=缩放
Name[zh_TW]=縮放
Icon=preferences-system-windows-effect-zoom
Comment=Magnifies the entire desktop
Comment[af]=Vergroot die hele werkskerm
Comment[ca]=Amplia l'escriptori sencer
Comment[cs]=Přiblíží celou plochu
Comment[da]=Forstørrer hele desktoppen
Comment[de]=Vergrößert die gesamte Arbeitsfläche
Comment[el]=Μεγεθύνει ολόκληρη την Επιφάνεια εργασίας
Comment[eo]=Zomas la tutan labortablon
Comment[es]=Aumenta el escritorio entero
Comment[et]=Terve töölaua suurendamine
Comment[fi]=Suurentaa koko työpöydän
Comment[fr]=Agrandit tout le bureau
Comment[fy]=Fergrutet de folsleine buroblêd
Comment[ga]=Formhéadaigh an deasc iomlán
Comment[gl]=Amplía todo o escritorio
Comment[gu]=આખા ડેસ્કટોપને મોટું કરે છે
Comment[hu]=Kinagyítja az egész asztalt
Comment[is]=Stækkar allt skjáborðið
Comment[it]=Ingrandisce l'intero desktop
Comment[ja]=デスクトップ全体を拡大します
Comment[km]=ពង្រីក​ផ្ទៃតុ​ទាំង​មូល
Comment[ko]=전체 데스크톱을 확대합니다
Comment[lv]=Palielina visu darbvirsmu
Comment[nb]=Forstørrer hele skrivebordet
Comment[nds]=Wiest den helen Schriefdisch grötter
Comment[nl]=Vergroot het gehele bureaublad
Comment[nn]=Forstørrer heile skrivebordet
Comment[pa]=ਪੂਰਾ ਡੈਸਕਟਾਪ ਵੱਡਦਰਸ਼ੀ ਵੇਖੋ
Comment[pl]=Powiększa cały pulpit
Comment[pt]=Amplia o ecrã inteiro
Comment[pt_BR]=Amplia a área de trabalho inteira
Comment[ro]=Mărește întregul birou
Comment[ru]=Увеличивает весь рабочий стол
Comment[se]=Stuorida olles čállinbeavddi
Comment[sl]=Poveča celotno namizje
Comment[sr]=Увеличава целу површ
Comment[sr@latin]=Uveličava celu površ
Comment[sv]=Förstorar hela skrivbordet
Comment[th]=แว่นขยายสำหรับทั้งพื้นที่ทำงาน
Comment[tr]=Geçerli masaüstünü büyütür
Comment[uk]=Збільшує цілу стільницю
Comment[x-test]=xxMagnifies the entire desktopxx
Comment[zh_CN]=放大整个屏幕
Comment[zh_TW]=放大整個桌面

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_zoom
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Accessibility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
