[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_zoom
X-KDE-PluginKeyword=zoom

Name=Zoom
Name[af]=Zoem
Name[ar]=تكبير
Name[be]=Маштабаванне
Name[bg]=Мащабиране
Name[cs]=Zvětšení
Name[de]=Arbeitsflächen-Vergrößerung
Name[el]=Εστίαση
Name[eo]=Zomi
Name[es]=Ampliación
Name[et]=Suurendus
Name[fa]=بزرگ‌نمایی
Name[fy]=Zoome
Name[ga]=Súmáil
Name[gl]=Ampliación
Name[gu]=મોટું કરો
Name[he]=התקרבות
Name[hi]=ज़ूम
Name[hu]=Kinagyítás
Name[is]=Aðdráttur
Name[ja]=ズーム
Name[kk]=Ұлғайту/кішрейту
Name[km]=ពង្រីក
Name[ko]=확대/축소
Name[lv]=Palielināšana
Name[ml]=വലുതാക്കുക
Name[nb]=Forstørre/-minske
Name[nds]=Ansichtgrött
Name[ne]=जुम गर्नुहोस्
Name[nl]=Zoomen
Name[nn]=Forstørr
Name[pa]=ਜ਼ੂਮ
Name[pl]=Powiększenie
Name[pt]=Ampliação
Name[se]=Stuorrudit
Name[sl]=Povečava
Name[sr]=Увеличање
Name[sr@latin]=Uveličanje
Name[th]=ย่อ/ขยาย
Name[tr]=Büyüt
Name[uk]=Масштабування
Name[uz]=Kattalashtirish
Name[uz@cyrillic]=Катталаштириш
Name[vi]=Thu/Phóng
Name[x-test]=xxZoomxx
Name[zh_CN]=缩放
Name[zh_TW]=縮放
