[Desktop Entry]
Name=Screenshot
Name[en_GB]=Screenshot
Name[es]=Captura de pantalla
Name[eu]=Pantaila-argazkia
Name[ia]=Instantanee de schermo
Name[lt]=Nuotrauka
Name[nds]=Schirmfoto
Name[nn]=Skjermbilete
Name[pt]=Captura do Ecrã
Name[pt_BR]=Captura de tela
Name[sv]=Skärmbild
Name[uk]=Знімок вікна
Name[x-test]=xxScreenshotxx
Icon=preferences-system-windows-effect-screenshot
Comment=Saves screenshot of active window into the home directory
Comment[en_GB]=Saves screenshot of active window into the home directory
Comment[es]=Guarda una captura de la ventana activa en la carpeta personal
Comment[eu]=Leiho aktiboaren pantaila argazkia etxeko karpetan gordetzen du
Comment[ia]=Il salva instantanee de schermo del fenestra active in le directorio domo
Comment[lt]=Įrašo aktyvaus lango nuotrauką namų kataloge
Comment[nn]=Lagrar eit skjermbilete av det aktive vindauget i heimemappa
Comment[pt]=Captura uma imagem da janela activa para a pasta pessoal
Comment[pt_BR]=Captura uma imagem da janela ativa para a pasta do usuário
Comment[sv]=Sparar en skärmbild av det aktiva fönstret i hemkatalogen
Comment[uk]=Зберігає знімок активного вікна до домашнього каталогу
Comment[x-test]=xxSaves screenshot of active window into the home directoryxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_screenshot
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
