[Desktop Entry]
Name=Screenshot
Name[ar]=لقطة شاشة
Name[ast]=Captura de pantalla
Name[bg]=Снимка на екрана
Name[bs]=Snimak ekrana
Name[ca]=Captura de pantalla
Name[ca@valencia]=Captura de pantalla
Name[cs]=Snímek obrazovky
Name[da]=Skærmbillede
Name[de]=Bildschirmfoto
Name[el]=Στιγμιότυπο
Name[en_GB]=Screenshot
Name[es]=Captura de pantalla
Name[et]=Ekraanipilt
Name[eu]=Pantaila-argazkia
Name[fa]=عکس صفحه
Name[fi]=Kuvankaappaus
Name[fr]=Capture d'écran
Name[ga]=Seat den Scáileán
Name[he]=צילום מסך
Name[hi]=स्क्रीन चित्र
Name[hr]=Uslikan ekran
Name[hu]=Képernyőkép
Name[ia]=Instantanee de schermo
Name[is]=Skjámynd
Name[it]=Schermata
Name[ja]=スクリーンショット
Name[kk]=Экраннан түсіргені
Name[km]=រូបថត​​អេក្រង់​
Name[kn]=ತೆರೆಚಿತ್ರ
Name[ko]=스크린샷
Name[lt]=Nuotrauka
Name[lv]=Ekrānattēls
Name[nb]=Skjermbilde
Name[nds]=Schirmfoto
Name[nl]=Schermafdruk
Name[nn]=Skjermbilete
Name[pa]=ਸਕਰੀਨ-ਸ਼ਾਟ
Name[pl]=Zrzut ekranu
Name[pt]=Captura do Ecrã
Name[pt_BR]=Captura de tela
Name[ro]=Captură de ecran
Name[ru]=Снимок экрана
Name[sk]=Snímka obrazovky
Name[sl]=Zaslonski posnetek
Name[sr]=Снимак екрана
Name[sr@ijekavian]=Снимак екрана
Name[sr@ijekavianlatin]=Snimak ekrana
Name[sr@latin]=Snimak ekrana
Name[sv]=Skärmbild
Name[tg]=Сурати экран
Name[th]=จับภาพหน้าจอ
Name[tr]=Ekran Görüntüsü
Name[ug]=ئېكران كەسمىسى
Name[uk]=Знімок вікна
Name[wa]=Waitroûlêye
Name[x-test]=xxScreenshotxx
Name[zh_CN]=屏幕截图
Name[zh_TW]=螢幕快照
Icon=preferences-system-windows-effect-screenshot
Comment=Saves screenshot of active window into the home directory
Comment[ar]=يحفظ لقطة شاشة للنافذة الحالية إلى مجلد المنزل
Comment[ast]=Guarda una captura de la ventana activa na carpeta personal
Comment[bg]=Запазване снимка на активния прозорец в домашната папка
Comment[bs]=Upisuje snimak aktivnog prozora u domaću fasciklu
Comment[ca]=Desa una captura de pantalla de la finestra activa en el directori personal
Comment[ca@valencia]=Alça una captura de pantalla de la finestra activa en el directori personal
Comment[cs]=Ukládá snímky obrazovky aktivního okna do domovského adresáře
Comment[da]=Gemmer et skærmbillede af det aktive vindue i hjemmemappen
Comment[de]=Speichert ein Bildschirmfoto des aktiven Fensters im Persönlichen Ordner.
Comment[el]=Αποθηκεύει ένα στιγμιότυπο του τρέχοντος παραθύρου στον προσωπικό κατάλογο
Comment[en_GB]=Saves screenshot of active window into the home directory
Comment[es]=Guarda una captura de la ventana activa en la carpeta personal
Comment[et]=Aktiivse akna ekraanipildi salvestamine kodukataloogi
Comment[eu]=Leiho aktiboaren pantaila argazkia etxeko karpetan gordetzen du
Comment[fi]=Tallentaa kuvankaappauksen aktiivisesta ikkunasta kotihakemistoon
Comment[fr]=Enregistre une capture d'écran de la fenêtre active dans le dossier personnel
Comment[he]=משמש לשמירת צילום מסך של החלון הפעיל כתמונה בתיקיית הבית
Comment[hr]=Sprema uslikan ekran aktivnog prozora u osobnu mapu
Comment[hu]=Elmenti az aktív ablak képernyőképét a saját könyvtárba
Comment[ia]=Salveguarda instantanee de schermo del fenestra active in le directorio domo
Comment[is]=Vistar skjámynd af virkum glugga í heimamöppuna
Comment[it]=Salva una schermata della finestra attiva nella cartella Home
Comment[ja]=アクティブウィンドウのスクリーンショットをホームディレクトリに保存する
Comment[kk]=Назардағы экранды түсіріп, мекен каталогына сақтау
Comment[km]=រក្សាទុក​រូបថត​អេក្រង់​នៃ​បង្អួច​សកម្ម​នៅ​ក្នុង​ថត​​ផ្ទះ
Comment[ko]=홈 디렉터리에 활성 창의 스크린샷을 저장합니다
Comment[lt]=Išsaugo aktyvaus lango nuotrauką namų aplanke
Comment[lv]=Saglabā aktīvā loga ekrānattēlu mājas mapē
Comment[nb]=Lagrer skjermbilde av det aktive vinduet i hjemmemappa
Comment[nds]=Sekert en Schirmfoto vun dat aktive Finster na den Tohuusorner
Comment[nl]=Slaat schermafdruk van actief venster op in de persoonlijke map
Comment[nn]=Lagrar eit skjermbilete av det aktive vindauget i heimemappa
Comment[pa]=ਐਕਟਿਵ ਵਿੰਡੋ ਦਾ ਸਕਰੀਨਸ਼ਾਟ ਘਰ ਡਾਇਰੈਕਟਰੀ ਵਿੱਚ ਸੰਭਾਲੋ
Comment[pl]=Zapisuje zrzut aktywnego okna w katalogu domowym
Comment[pt]=Captura uma imagem da janela activa para a pasta pessoal
Comment[pt_BR]=Captura uma imagem da janela ativa para a pasta do usuário
Comment[ro]=Salvează captura ferestrei active în dosarul personal
Comment[ru]=Сохраняет снимок активного окна в домашний каталог
Comment[sk]=Uloží snímku obrazovky aktívneho okna do domovského adresára
Comment[sl]=V domačo mapo shrani zaslonski posnetek aktivnega okna
Comment[sr]=Уписује снимак активног прозора у домаћу фасциклу
Comment[sr@ijekavian]=Уписује снимак активног прозора у домаћу фасциклу
Comment[sr@ijekavianlatin]=Upisuje snimak aktivnog prozora u domaću fasciklu
Comment[sr@latin]=Upisuje snimak aktivnog prozora u domaću fasciklu
Comment[sv]=Sparar en skärmbild av det aktiva fönstret i hemkatalogen
Comment[th]=บันทึกการจับภาพหน้าจอของหน้าต่างที่ทำงานอยู่ไปเก็บไว้ในไดเรกทอรีพื้นที่ส่วนตัว
Comment[tr]=Etkin pencerenin ekran görüntüsünü ev dizinine kaydeder
Comment[ug]=ئاكتىپ كۆزنەكنىڭ ئېكران كەسمىسىنى ماكان مۇندەرىجىسىگە ساقلايدۇ
Comment[uk]=Зберігає знімок активного вікна до домашнього каталогу
Comment[x-test]=xxSaves screenshot of active window into the home directoryxx
Comment[zh_CN]=将活动窗口的截图保存到主目录
Comment[zh_TW]=將目前作用中視窗的快照儲存到家目錄中

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=kde@martin-graesslin.com
X-KDE-PluginInfo-Name=kwin4_effect_screenshot
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
