[Desktop Entry]
Encoding=UTF-8
Name=KStep
Name[af]=kstep
Name[eo]=Step
Name[mi]=KHïkoi
Name[nb]=KSteg
Name[sv]=Kstep
Name[th]=ตัวจัดการหน้าต่างสเต็ป - K
Name[ven]=Tshitepe tsha K
Name[xh]=Inqwanqwa le K
Name[xx]=xx
Name[zu]=Izinga le K
X-KDE-Library=kwin_kstep
