[Desktop Entry]
Icon=preferences-desktop
Type=Application
NoDisplay=true
Exec=systemsettings kwincompositing

Name=Compositor
Name[ar]=المركب
Name[ast]=Compositor
Name[az]=Effektlə təminatı
Name[bs]=Compositor
Name[ca]=Compositor
Name[ca@valencia]=Compositor
Name[cs]=Kompozitor
Name[da]=Compositor
Name[de]=Compositor
Name[el]=Συνθέτης
Name[en_GB]=Compositor
Name[es]=Compositor
Name[et]=Komposiitor
Name[eu]=Konposatzailea
Name[fi]=Koostin
Name[fr]=Compositeur
Name[gl]=Compositor
Name[hu]=Kompozitor
Name[ia]=Compositor
Name[id]=Kompositor
Name[it]=Compositore
Name[ja]=コンポジタ
Name[ko]=컴포지터
Name[lt]=Kompozitorius
Name[nb]=Sammensetter
Name[nds]=Tosamensetten
Name[nl]=Compositor
Name[nn]=Samansetjar
Name[pa]=ਕੰਪੋਜੀਟਰ
Name[pl]=Kompozytor
Name[pt]=Compositor
Name[pt_BR]=Compositor
Name[ro]=Compozitor
Name[ru]=Обеспечение эффектов
Name[sk]=Kompozítor
Name[sl]=Upravljalnik skladnje
Name[sr]=Слагач
Name[sr@ijekavian]=Слагач
Name[sr@ijekavianlatin]=Slagač
Name[sr@latin]=Slagač
Name[sv]=Sammansättning
Name[tr]=Bileşikleştirici
Name[uk]=Засіб композиції
Name[vi]=Trình kết hợp
Name[x-test]=xxCompositorxx
Name[zh_CN]=显示特效混合器
Name[zh_TW]=組合器
