[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kwineffects
Icon=kcmeffects
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/kwineffects/index.html

X-KDE-Library=kcm_kwineffects
X-KDE-FactoryName=kcm_kwineffects
X-KDE-ParentApp=kcontrol

Name=Window Effects
Name[csb]=Efektë òknów
Name[de]=Fenstereffekte
Name[el]=Εφέ παραθύρων
Name[es]=Efectos de las ventanas
Name[fa]=جلوه‌های پنجره
Name[ja]=ウィンドウの効果
Name[nds]=Finstereffekten
Name[nl]=Venstereffecten
Name[sv]=Fönstereffekt
Name[zh_TW]=視窗效果

Comment=Configure window effects
Comment[csb]=Kònfigùracëjô efektów òknów
Comment[de]=Fenstereffekte einrichten
Comment[el]=Ρύθμιση εφέ των παραθύρων
Comment[es]=Configurar los efectos de las ventanas
Comment[fa]=پیکربندی جلوه‌های پنجره
Comment[ja]=ウィンドウの効果を設定
Comment[nds]=Finstereffekten instellen
Comment[nl]=Venstereffecten instellen
Comment[sv]=Anpassa fönstereffekter
Comment[zh_TW]=設定視窗效果

Keywords=kwin,window,manager,effect
Keywords[csb]=kwin,òkno,menadżer,efekt
Keywords[de]=kwin,fenster,manager,effekt,verwaltung
Keywords[el]=παράθυρο,διαχειριστής,εφέ,kwin,παράθυρο,διαχειριστής,εφέ
Keywords[es]=kwin,ventana,gestor,efecto
Keywords[ja]=kwin,ウィンドウ、マネージャ,効果,エフェクト
Keywords[nds]=kwin,Finster,Pleger,Effekt
Keywords[nl]=kwin,window,venster,window manager,effect
Keywords[sv]=kwin,fönster,hantera,effekt
