[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kwineffects
Icon=preferences-system-windows-effects
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/kwineffects/index.html

X-KDE-Library=kcm_kwineffects
X-KDE-FactoryName=kcm_kwineffects
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=window-behaviour

Name=Window Effects
Name[ar]=تأثيرات النافذة
Name[be]=Эфекты вокнаў
Name[bg]=Декорация
Name[csb]=Efektë òknów
Name[de]=Fenstereffekte
Name[el]=Εφέ παραθύρων
Name[es]=Efectos de las ventanas
Name[fa]=جلوه‌های پنجره
Name[ga]=Maisíochtaí Fuinneoige
Name[he]=אפקטי חלונות
Name[ja]=ウィンドウの効果
Name[km]=បែបផែន​បង្អួច​
Name[nds]=Finstereffekten
Name[ne]=सञ्झ्याल प्रभाव
Name[nl]=Venstereffecten
Name[pa]=ਝਰੋਖਾ ਪਰਭਾਵ
Name[pt]=Efeitos das Janelas
Name[pt_BR]=Efeitos das Janelas
Name[sl]=Učinki oken
Name[sv]=Fönstereffekt
Name[uk]=Ефекти вікон
Name[vi]=Hiệu ứng Cửa sổ
Name[zh_TW]=視窗效果

Comment=Configure window effects
Comment[ar]=إعداد تأثيرات النافذة
Comment[be]=Настаўленні эфектаў вокнаў
Comment[bg]=Настройване активирането на прозорците
Comment[csb]=Kònfigùracëjô efektów òknów
Comment[de]=Fenstereffekte einrichten
Comment[el]=Ρύθμιση εφέ των παραθύρων
Comment[es]=Configurar los efectos de las ventanas
Comment[fa]=پیکربندی جلوه‌های پنجره
Comment[ga]=Cumraigh maisíochtaí fuinneoige
Comment[he]=שינוי הגדרות אפקטי חלונות
Comment[ja]=ウィンドウの効果を設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធបែប​ផែ​ន​បង្អួច​
Comment[nds]=Finstereffekten instellen
Comment[ne]=सञ्झ्याल प्रभाव कन्फिगर गर्नुहोस्
Comment[nl]=Venstereffecten instellen
Comment[pa]=ਝਰੋਖਾ ਪਰਭਾਵ ਸੰਰਚਨਾ
Comment[pt]=Configuração dos efeitos das janelas
Comment[pt_BR]=Configurar efeitos das janelas
Comment[sl]=Nastavi učinke oken
Comment[sv]=Anpassa fönstereffekter
Comment[vi]=Cấu hình các hiệu ứng cửa sổ
Comment[zh_TW]=設定視窗效果

Keywords=kwin,window,manager,effect
Keywords[bg]=kwin,window,manager,effect,прозорец,мениджър,ефект
Keywords[csb]=kwin,òkno,menadżer,efekt
Keywords[de]=kwin,fenster,manager,effekt,verwaltung
Keywords[el]=παράθυρο,διαχειριστής,εφέ,kwin,παράθυρο,διαχειριστής,εφέ
Keywords[es]=kwin,ventana,gestor,efecto
Keywords[fa]=kwin، پنجره، مدیر، جلوه
Keywords[ga]=kwin,fuinneog,bainisteoir,maisíocht
Keywords[he]=kwin,window,manager,effect,מנהל,חלונות,אפקט
Keywords[ja]=kwin,ウィンドウ、マネージャ,効果,エフェクト
Keywords[km]=kwin បង្អួច​ កម្មវិធី​គ្រប់គ្រង បែបផែន
Keywords[nds]=kwin,Finster,Pleger,Effekt
Keywords[ne]=केडीई विन, सञ्झ्याल, प्रबन्धक, प्रभाव
Keywords[nl]=kwin,window,venster,window manager,effect
Keywords[pa]=kwin,ਵਿੰਡੋ,ਮੈਨੇਜਰ,ਪਰਭਾਵ
Keywords[pt]=kwin,janela,gestor,efeito
Keywords[pt_BR]=kwin,janela,gestor,efeito
Keywords[sv]=kwin,fönster,hantera,effekt
Keywords[vi]=kwin,cửa sổ,quản lý,hiệu ứng

Categories=Qt;KDE;X-KDE-settings-looknfeel;

