[Desktop Entry]
Name=KDE 2
Name[af]=KDE 2
Name[ar]=الكيدي 2
Name[as]=KDE 2
Name[be]=KDE 2
Name[be@latin]=KDE 2
Name[bg]=KDE 2
Name[bn]=কে.ডি.ই. ২
Name[bn_IN]=KDE 2
Name[br]=KDE 2
Name[ca]=KDE 2
Name[ca@valencia]=KDE 2
Name[cs]=KDE 2
Name[csb]=KDE 2
Name[cy]=KDE 2
Name[da]=KDE 2
Name[de]=KDE 2
Name[el]=KDE 2
Name[en_GB]=KDE 2
Name[eo]=KDE 2
Name[es]=KDE 2
Name[et]=KDE 2
Name[eu]=KDE 2
Name[fa]=KDE ۲
Name[fi]=KDE 2
Name[fr]=KDE 2
Name[fy]=KDE 2
Name[ga]=KDE 2
Name[gl]=KDE 2
Name[gu]=KDE ૨
Name[he]=KDE 2
Name[hi]=केडीई 2
Name[hne]=केडीई 2
Name[hr]=KDE 2
Name[hsb]=KDE 2
Name[hu]=KDE 2
Name[id]=KDE 2
Name[is]=KDE 2
Name[it]=KDE 2
Name[ja]=KDE 2
Name[ka]=KDE 2
Name[kk]=KDE 2
Name[km]=KDE 2
Name[kn]=ಕೆಡಿಇ ೨
Name[ko]=KDE 2
Name[ku]=KDE 2
Name[lt]=KDE 2
Name[lv]=KDE 2
Name[mai]=केडीई 2
Name[mk]=KDE 2
Name[ml]=കെഡിഇ 2
Name[mr]=KDE 2
Name[ms]=KDE 2
Name[nb]=KDE 2
Name[nds]=KDE 2
Name[ne]=केडीई २
Name[nl]=KDE 2
Name[nn]=KDE 2
Name[oc]=KDE 2
Name[pa]=KDE 2
Name[pl]=KDE 2
Name[pt]=KDE 2
Name[pt_BR]=KDE 2
Name[ro]=KDE 2
Name[ru]=KDE 2
Name[se]=KDE 2
Name[si]=KDE 2
Name[sk]=KDE 2
Name[sl]=KDE 2
Name[sr]=КДЕ‑2
Name[sr@latin]=KDE2
Name[sv]=KDE 2
Name[ta]=KDE 2
Name[te]=కెడిఈ 2
Name[tg]=KDE 2
Name[th]=แบบ KDE 2
Name[tr]=KDE 2
Name[uk]=KDE 2
Name[uz]=KDE 2
Name[uz@cyrillic]=KDE 2
Name[vi]=KDE 2
Name[wa]=KDE 2
Name[xh]=KDE 2
Name[x-test]=xxKDE 2xx
Name[zh_CN]=KDE 2
Name[zh_TW]=KDE 2
X-KDE-Library=kwin3_kde2
