[Desktop Entry]
Encoding=UTF-8
Name=KDE 2
Name[ar]=كيدي 2
Name[fa]=KDE ۲
Name[ne]=केडीई २
Name[te]=కెడిఈ 2
Name[x-test]=xxKDE 2xx
X-KDE-Library=kwin3_kde2
