[Desktop Entry]
Name=Outline
Name[bs]=Kontura
Name[ca]=Contorn
Name[cs]=Obrys
Name[da]=Omrids
Name[et]=Kontuur
Name[fr]=Esquisse
Name[ia]=Profilo
Name[kk]=Айнала сызық
Name[km]=គ្រោង
Name[nb]=Omriss
Name[nds]=Ümreet
Name[nl]=Omlijning
Name[pt]=Contorno
Name[pt_BR]=Contorno
Name[ro]=Contur
Name[sl]=Obris
Name[sv]=Kontur
Name[tr]=Anahat
Name[ug]=ئىزنا
Name[uk]=Контур
Name[x-test]=xxOutlinexx
Name[zh_TW]=輪廓
Icon=preferences-system-windows-effect-outline
Comment=Helper effect to render an outline
Comment[bs]=Pomoćni efekt za crtanje konture
Comment[ca]=Efecte auxiliar per dibuixar un contorn
Comment[cs]=Pomocný efekt pro vykreslení obrysu
Comment[da]=Hjælpeeffekt til at rendere et omrids
Comment[et]=Abiefekt kontuuri renderdamiseks
Comment[fr]=Effet d'assistance permettant de dessiner dans un style esquissé
Comment[ia]=Effecto de adjuta pro render un profilo
Comment[km]=បែបផែន​កម្មវិធី​​ជំនួយ​ ដើម្បី​បង្ហាញ​គ្រោង
Comment[nb]=Hjelper-effekt for å tegne et omriss
Comment[nds]=Hölper för't Opstellen vun en Ümreet
Comment[nl]=Effect van hulp bij weergeven van omlijning
Comment[pt]=Efeito auxiliar para desenhar um contorno
Comment[pt_BR]=Efeito auxiliar para desenhar um contorno
Comment[ro]=Efect ajutător pentru desenarea unui contur
Comment[sl]=Pomožni učinek, ki izrisuje obris
Comment[sv]=Hjälpeffekt för att återge en kontur
Comment[tr]=Anahattı render etmek için yardımcı efekt
Comment[uk]=Допоміжний ефект показу контуру
Comment[x-test]=xxHelper effect to render an outlinexx
Comment[zh_TW]=繪製輪廓的效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_outline
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
