[Desktop Entry]
Name=Outline
Name[bs]=Kontura
Name[ca]=Contorn
Name[ca@valencia]=Contorn
Name[cs]=Obrys
Name[da]=Omrids
Name[de]=Umriss
Name[et]=Kontuur
Name[eu]=Zirriborroa
Name[fi]=Ääriviiva
Name[fr]=Esquisse
Name[hr]=Kontura
Name[hu]=Körvonal
Name[ia]=Profilo
Name[is]=Útlína
Name[kk]=Айнала сызық
Name[km]=គ្រោង
Name[ko]=외곽선
Name[lt]=Apibrėžti
Name[nb]=Omriss
Name[nds]=Ümreet
Name[nl]=Omlijning
Name[pa]=ਆਉਟਲਾਈਨ
Name[pl]=Zarys
Name[pt]=Contorno
Name[pt_BR]=Contorno
Name[ro]=Contur
Name[ru]=Контур окна
Name[sl]=Obris
Name[sr]=Контура
Name[sr@ijekavian]=Контура
Name[sr@ijekavianlatin]=Kontura
Name[sr@latin]=Kontura
Name[sv]=Kontur
Name[tr]=Anahat
Name[ug]=ئىزنا
Name[uk]=Контур
Name[wa]=Cotoû
Name[x-test]=xxOutlinexx
Name[zh_CN]=概要
Name[zh_TW]=輪廓
Icon=preferences-system-windows-effect-outline
Comment=Helper effect to render an outline
Comment[bs]=Pomoćni efekt za crtanje konture
Comment[ca]=Efecte auxiliar per dibuixar un contorn
Comment[ca@valencia]=Efecte auxiliar per dibuixar un contorn
Comment[cs]=Pomocný efekt pro vykreslení obrysu
Comment[da]=Hjælpeeffekt til at rendere et omrids
Comment[de]=Hilfseffekt, der einen Umriss zeichnet.
Comment[et]=Abiefekt kontuuri renderdamiseks
Comment[eu]=Zirriborro bat errendatzeko efektu laguntzailea
Comment[fi]=Piirtää ikkunoiden ääriviivat
Comment[fr]=Effet d'assistance permettant de dessiner dans un style esquissé
Comment[hr]=Pomoćni efekt za iscrtavanje konture
Comment[hu]=Segédeffektus körvonal rajzolásához
Comment[ia]=Effecto de adjuta pro render un profilo
Comment[is]=Myndgerir útlínu
Comment[kk]=Айнала сызық салу көмек эффекті
Comment[km]=បែបផែន​កម្មវិធី​​ជំនួយ​ ដើម្បី​បង្ហាញ​គ្រោង
Comment[ko]=창 외곽선 도우미 효과
Comment[nb]=Hjelper-effekt for å tegne et omriss
Comment[nds]=Hölper för't Opstellen vun en Ümreet
Comment[nl]=Effect van hulp bij weergeven van omlijning
Comment[pl]=Efekt pomocniczy do renderowania obramowania
Comment[pt]=Efeito auxiliar para desenhar um contorno
Comment[pt_BR]=Efeito auxiliar para desenhar um contorno
Comment[ro]=Efect ajutător pentru desenarea unui contur
Comment[ru]=Вспомогательный эффект для отрисовки контуров окон
Comment[sl]=Pomožni učinek, ki izrisuje obris
Comment[sr]=Помоћни ефекат за исцртавање контуре
Comment[sr@ijekavian]=Помоћни ефекат за исцртавање контуре
Comment[sr@ijekavianlatin]=Pomoćni efekat za iscrtavanje konture
Comment[sr@latin]=Pomoćni efekat za iscrtavanje konture
Comment[sv]=Hjälpeffekt för att återge en kontur
Comment[tr]=Anahattı render etmek için yardımcı efekt
Comment[ug]=ئىزناسىنى سىزىدىغان ياردەمچىنىڭ ئۈنۈمى
Comment[uk]=Допоміжний ефект показу контуру
Comment[wa]=Efet aidant pol rindou d' on cotoû
Comment[x-test]=xxHelper effect to render an outlinexx
Comment[zh_CN]=渲染概览的辅助效果
Comment[zh_TW]=繪製輪廓的效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_outline
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
