[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Application
Exec=kcmshell kwinmoving
DocPath=kcontrol/windowmanagement/index.html#action-moving

X-KDE-ModuleType=Library
X-KDE-Library=kwinoptions
X-KDE-FactoryName=kwinmoving

Name=Moving
Name[x-test]=xxMovingxx

Comment=Configure the way that windows are moved
Comment[x-test]=xxConfigure the way that windows are movedxx

Keywords=moving,smart,cascade,maximize,maximise,snap zone,snap,border
Keywords[x-test]=xxmoving,smart,cascade,maximize,maximise,snap zone,snap,borderxx
