[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Service
ServiceTypes=KCModule
Exec=kcmshell kwintranslucency
DocPath=kcontrol/windowmanagement/index.html#action-translucency

X-KDE-Library=kwinoptions
X-KDE-FactoryName=kwintranslucency

Name=Translucency
Name[af]=Deursigtigheid
Name[ar]=الشفافية
Name[bg]=Полупрозрачност
Name[br]=Treuzwel
Name[ca]=Translucidesa
Name[cs]=Průhlednost
Name[csb]=Przezérnota
Name[da]=Gennemsigtighed
Name[de]=Transparenz
Name[el]=Hμιδιαφάνεια
Name[eo]=Travidebleco
Name[es]=Translúcido
Name[et]=Läbipaistvus
Name[eu]=Gardentasuna
Name[fa]=نیمۀ شفافی
Name[fi]=Läpikuultavuus
Name[fr]=Transparence
Name[fy]=Trochsichtichheid
Name[ga]=Tréshoilseacht
Name[gl]=Translucidez
Name[he]=שקיפות
Name[hr]=Prozirnost
Name[hu]=Áttetszőség
Name[is]=Gegnsæi
Name[it]=Trasparenza
Name[ja]=透過性
Name[ka]=ნახევრადგამჭირვალეობა
Name[kk]=Мөлдірлігі
Name[km]=ភាព​ថ្លា
Name[lt]=Permatomumas
Name[mk]=Провидност
Name[nb]=Gjennomsiktighet
Name[nds]=Dörschienen
Name[ne]=स्वच्छता
Name[nl]=Transparantie
Name[nn]=Gjennomsynleg
Name[pa]=ਪਾਰਦਰਸ਼ੀ
Name[pl]=Przezroczystość
Name[pt]=Transparência
Name[pt_BR]=Translúcido
Name[ro]=Translucenţă
Name[ru]=Полупрозрачность
Name[se]=Čađačuovgi
Name[sl]=Prosojnost
Name[sr]=Прозирност
Name[sr@Latn]=Prozirnost
Name[sv]=Genomskinlighet
Name[ta]=ஒளிகசிவு
Name[tr]=Şeffaflık
Name[uk]=Прозорість
Name[uz]=Шаффофлик
Name[x-test]=xxTranslucencyxx
Name[zh_TW]=透明度

Comment=Configure window translucency and shadow management
Comment[af]=Stel die venster deursigtigheid en skaduwee op
Comment[ar]=إعداد تدبيرات شفافية و تظليل النافذة
Comment[bg]=Настройки на полупрозрачността и сенките на прозорците
Comment[ca]=Configura la translucidesa de finestres i gestiona l'ombra
Comment[cs]=Nastavení průhlednosti a stínování oken
Comment[csb]=Kònfigùracëjô przezérnotë ë ceniów òknów
Comment[da]=Indstil vinduets gennemsigtighed og skyggehåndtering
Comment[de]=Einrichtung der Fenstertransparenz und Schatten
Comment[el]=Ρύθμιση ημιδιαφάνειας παραθύρου και διαχείρισης σκίασης
Comment[eo]=Agordu administradon de fenestro-travidebleco kaj ombreco.
Comment[es]=Configurar la opacidad de la ventana y gestión de sombra
Comment[et]=Akende läbipaistvuse ja varjude seadistamine
Comment[eu]=Konfiguratu leiho gardentasunak eta itzalen kudeaketa
Comment[fa]=پیکربندی مدیریت نیمۀ شفافی و سایۀ پنجره
Comment[fi]=Muokkaa ikkunoinnin läpikuultavuus ja varjostus
Comment[fr]=Configuration de la transparence et de l'ombre des fenêtres
Comment[fy]=Finstertrochsichtichheid- en -skaadbehear ynstelle
Comment[ga]=Cumraigh tréshoilseacht na fuinneoige agus bainisteoireacht scátha
Comment[gl]=Configurar a xestión de sombras e translucidez das fiestras
Comment[he]=תצורה של שקיפות החלונות וניהול ההצללות
Comment[hr]=Konfiguriranje prozirnosti prozora i upravljanje sjenčanjem
Comment[hu]=Az ablakkezelés áttetszőségi és árnyékolási beállításai
Comment[is]=Stilla gegnsæi glugga og sýsla með skugga
Comment[it]=Configura la trasparenza e le ombre delle finestre
Comment[ja]=ウィンドウの透過性と影の設定
Comment[ka]=ფანჯრების გამჭირვალობის და ჩრდილების კონფიგურაცია
Comment[kk]=Терезенің мөлдірлігін және көлеңкесін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​គ្រប់គ្រង​ភាព​ថ្លា និង​ស្រមោល​របស់​បង្អួច
Comment[lt]=Konfigūruoti langų permatomumą ir šešėlius
Comment[mk]=Конфигурирајте ги провидноста на прозорците и менаџментот на сенки
Comment[nb]=Tilpass behandling av vindusgjennomsiktighet og -skygge
Comment[nds]=Finsterdörschienen un -Schadden instellen
Comment[ne]=सञ्झ्याल स्वच्छता र छायाँ व्यवस्थापन कन्फिगर गर्नुहोस्
Comment[nl]=Venstertransparantie- en -schaduwbeheer instellen
Comment[nn]=Oppsett av gjennomsiktige vindauge og vindaugsskugge
Comment[pa]=ਝਰੋਖਾ ਪਾਰਦਰਸਤਾ ਅਤੇ ਛਾਂ ਪਰਬੰਧਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja przezroczystości i cieni okien
Comment[pt]=Configuração da transparência e sombras de janelas
Comment[pt_BR]=Configura o gerenciamento de sombra e transparência da janela
Comment[ro]=Configurează translucenţa şi umbra ferestrelor
Comment[ru]=Настройка полупрозрачности и теней окна
Comment[se]=Heivet lášečađačuovgivuođa ja suoivvanasgieđaheami
Comment[sl]=Nastavitve prosojnosti oken in upravljanje s sencami
Comment[sr]=Подешавање прозирности прозора и управљање сенкама
Comment[sr@Latn]=Podešavanje prozirnosti prozora i upravljanje senkama
Comment[sv]=Anpassa fönstergenomskinlighet och skugghantering
Comment[ta]=சாளர ஒளிகசிவு மற்றும் நிழல் மேலாண்மையை வடிவமை
Comment[tr]=Pencere şeffaflığını ve gölge yönetimini yapılandır
Comment[uk]=Налаштування прозорості вікон та керування затіненням
Comment[uz]=Ойнанинг шаффофлигини ва соясини мослаш
Comment[x-test]=xxConfigure window translucency and shadow managementxx
Comment[zh_TW]=設定視窗透明度與陰影管理功能

Keywords=translucency,transparence,shadows
Keywords[ar]=الشفافية,شفاف,أظلال
Keywords[bg]=полупрозрачност, прозрачност, сянка, сенки, translucency, transparence, shadows
Keywords[ca]=translucidesa,transparència,ombres
Keywords[cs]=průhlednost,průsvitnost,stín
Keywords[csb]=przezérnota,półprzezérnota,przeswiécëna,ceniô,cenie
Keywords[da]=gennemsigtighed,transparens,skygge
Keywords[el]=ημιδιαφάνεια,διαφάνεια,σκιές
Keywords[eo]=Tavidebleco, ombroj
Keywords[es]=translucido,transparente,sombras,opacidad
Keywords[et]=läbipaistvus,läbipaistev,vari
Keywords[eu]=gardena,gardentasunak,itzalak
Keywords[fa]=نیمۀ شفافی، شفافیت، سایه‌ها
Keywords[fi]=läpikuultavuus, läpinäkyvyys, varjot
Keywords[fr]=translucidité,translucide,transparence,transparent,ombre
Keywords[fy]=translucency,trochsichtich,ransparantie,schaduwen,skaden
Keywords[ga]=tréshoilseacht,gléine,scáthanna
Keywords[gl]=translucéncia,transparéncia,sombras
Keywords[he]=translucency,transparence,shadows,הצללה,צל,צללים,שקוף,שקיפות
Keywords[hr]=translucency,transparence,shadows,prozirnost,sjene,providnost
Keywords[hu]=áttetszőség,áttetsző,árnyékok
Keywords[it]=trasparenza,ombre
Keywords[ja]=透過性,透明,影
Keywords[km]=ភាព​ថ្លា,ថ្លា,ស្រមោល
Keywords[lt]=translucency,transparence,shadows,permatomumas,šešėliai
Keywords[mk]=translucency,transparence,shadows,провидност,проѕирност,сенки
Keywords[nb]=gjennomsiktighet,skygge
Keywords[nds]=Transparenz,Schadden,Dörschienen
Keywords[ne]=स्वच्छता,पारदर्शीता,छायाँ
Keywords[nl]=translucency,transparantie,schaduwen
Keywords[nn]=gjennomsiktig,skugge
Keywords[pa]=translucency,transparence,ਛਾਂ
Keywords[pl]=przezroczystość,półprzezroczystość,prześwitywanie,cień,cienie
Keywords[pt]=transparência,sombras
Keywords[pt_BR]=translúcido,transparência,sombras
Keywords[ro]=translucenţă,transparenţă,umbre
Keywords[sl]=prosojnost,prozornost,sence
Keywords[sr]=translucency,transparence,shadows,провидност,сенке
Keywords[sr@Latn]=translucency,transparence,shadows,providnost,senke
Keywords[sv]=genomskinlighet,skuggor
Keywords[ta]=ஒளிகசிவு,ஊடகத்தன்மை,நிழல்கள்
Keywords[tr]=şeffaflık,şeffaf,gölge,opak,opasite
Keywords[uk]=translucency,transparence,shadows,прозорість,напівпрозорість,тіні
Keywords[uz]=шаффоф,соя
Keywords[x-test]=xxtranslucency,transparence,shadowsxx
Keywords[zh_TW]=translucency,transparence,shadows,透明,陰影
