[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Service
ServiceTypes=KCModule
Exec=kcmshell kwintranslucency
DocPath=kcontrol/windowmanagement/index.html#action-translucency

X-KDE-Library=kwinoptions
X-KDE-FactoryName=kwintranslucency

Name=Translucency
Name[el]=Hμιδιαφάνεια
Name[fr]=Transparence
Name[x-test]=xxTranslucencyxx

Comment=Configure window translucency and shadow management
Comment[el]=Ρύθμιση ημιδιαφάνειας παραθύρου και διαχείρισης σκίασης
Comment[fr]=Configuration de la transparence et de l'ombre des fenêtres
Comment[x-test]=xxConfigure window translucency and shadow managementxx

Keywords=translucency,transparence,shadows
Keywords[el]=ημιδιαφάνεια,διαφάνεια,σκιές
Keywords[fr]=translucidité,translucide,transparence,transparent,ombre
Keywords[x-test]=xxtranslucency,transparence,shadowsxx
