[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Application
Exec=kcmshell kwintranslucency
DocPath=kcontrol/windowmanagement/index.html#action-translucency

X-KDE-ModuleType=Library
X-KDE-Library=kwinoptions
X-KDE-FactoryName=kwintranslucency

Name=Translucency
Name[bg]=Полупрозрачност
Name[ca]=Translucidesa
Name[cs]=Průhlednost
Name[da]=Gennemsigtighed
Name[es]=Translúcido
Name[et]=Läbipaistvus
Name[fr]=Transparence
Name[ga]=Tréshoilseacht
Name[he]=שקיפות
Name[hu]=Áttetszőség
Name[is]=Gegnsæi
Name[nb]=Gjennomsiktighet
Name[nl]=Transparantie
Name[pt]=Trasparência
Name[pt_BR]=Translúcido
Name[ru]=Полупрозрачность
Name[sv]=Genomskinlighet
Name[uk]=Прозорість
Name[xx]=xxTranslucencyxx

Comment=Configure window translucency and shadow management
Comment[bg]=Настройки на полупрозрачността и сенките на прозорците
Comment[ca]=Configura la translucidesa de finestres i gestiona l'ombra
Comment[cs]=Nastavení průhlednosti a stínování oken
Comment[da]=Indstil vinduets gennemsigtighed og skyggehåndtering
Comment[es]=Configurar la opacidad de la ventana y gestión de sombra
Comment[et]=Akende läbipaistvuse ja varjude seadistamine
Comment[fr]=Configuration de la transparence et de l'ombre des fenêtres
Comment[hu]=Az ablakkezelés áttetszőségi és árnyékolási beállításai
Comment[is]=Stilla gegnsæi glugga og sýsla með skugga
Comment[nb]=Tilpass behandling av vindusgjennomsiktighet og -skygge
Comment[nl]=Venstertransparantie- en -schaduwbeheer instellen
Comment[pt]=Configuração da transparência e sombras de janelas
Comment[pt_BR]=Configura o gerenciamento de sombra e transparência da janela
Comment[ru]=Настройка полупрозрачности и теней окна
Comment[sv]=Anpassa fönstergenomskinlighet och skugghantering
Comment[uk]=Налаштування прозорості вікон та керування затіненням
Comment[xx]=xxConfigure window translucency and shadow managementxx

Keywords=translucency,transparence,shadows
Keywords[bg]=полупрозрачност, прозрачност, сянка, сенки, translucency, transparence, shadows
Keywords[ca]=translucidesa,transparència,ombres
Keywords[cs]=průhlednost,průsvitnost,stín
Keywords[da]=gennemsigtighed,transparens,skygge
Keywords[es]=translucido,transparente,sombras,opacidad
Keywords[et]=läbipaistvus,läbipaistev,vari
Keywords[fr]=translucidité,translucide,transparence,transparent,ombre
Keywords[hu]=áttetszőség,áttetsző,árnyékok
Keywords[nl]=translucency,transparantie,schaduwen
Keywords[pt]=transparência,sombras
Keywords[pt_BR]=translúcido,transparência,sombras
Keywords[sv]=genomskinlighet,skuggor
Keywords[uk]=translucency,transparence,shadows,прозорість,напівпрозорість,тіні
Keywords[xx]=xxtranslucency,transparence,shadowsxx
