[Desktop Entry]
Icon=preferences-system-windows-action
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kwinactions
X-DocPath=kcontrol/windowbehaviour/index.html#titlebar-actions
Icon=preferences-system-windows-actions

X-KDE-Library=kcm_kwinoptions
X-KDE-PluginKeyword=kwinactions

Name=Actions

Comment=Configure mouse actions on windows

X-KDE-Keywords=shade,maximise,maximize,minimize,minimise,lower,operations menu,titlebar,resize
