[Desktop Entry]
Encoding=UTF-8
Icon=kcmkwm
Type=Application
Exec=kcmshell kwinfocus
DocPath=kcontrol/windowmanagement/index.html#action-focus

X-KDE-ModuleType=Library
X-KDE-Library=kwinoptions
X-KDE-FactoryName=kwinfocus

Name=Focus
Name[af]=Fokus
Name[ar]=التركيز
Name[be]=Фокус
Name[bg]=Фокус
Name[bn]=ফোকাস
Name[br]=Fokus
Name[bs]=Fokus
Name[cs]=Zaměření
Name[cy]=Canolbwynt
Name[da]=Fokus
Name[de]=Aktivierung
Name[el]=Εστίαση
Name[eo]=Fokuso
Name[es]=Foco
Name[et]=Fookus
Name[eu]=Fokua
Name[fa]=تمرکز
Name[fi]=Kohdistus
Name[ga]=Fócas
Name[gl]=Foco
Name[he]=התמקדות
Name[hi]=फ़ोकस
Name[hu]=Fókuszálás
Name[is]=Virkni
Name[ja]=フォーカス
Name[lo]=ຫີນ
Name[lt]=Fokusas
Name[mk]=Фокусирање
Name[mn]=Идэвхижүүлэх
Name[nb]=Fokus
Name[nds]=Fokus
Name[nn]=Fokus
Name[nso]=Tebeledisiso
Name[pa]=ਕੇਂਦਰ
Name[pl]=Ognisko
Name[pt]=Foco
Name[pt_BR]=Foco
Name[ru]=Фокус
Name[se]=Fohkus
Name[sk]=Fokus
Name[sl]=Fokus
Name[sr]=Фокус
Name[sr@Latn]=Fokus
Name[sv]=Fokus
Name[ta]=முனைப்படுத்து
Name[tg]=Марказ
Name[th]=โฟกัส
Name[tr]=Odaklama
Name[uk]=Фокус
Name[uz]=Фокус
Name[ven]=U thetshelesa
Name[vi]=Chọn
Name[xx]=xxFocusxx
Name[zh_CN]=焦点
Name[zh_TW]=焦點
Name[zu]=Ukunaka

Comment=Configure the window focus policy
Comment[af]=Konfigureer die venster fokus beleid
Comment[ar]=قم بإعداد سياسة التركيز على النوافذ
Comment[bg]=Настройки на активирането на прозорците
Comment[bn]=উইণ্ডো ফোকাস পলিসি কনফিগার করুন
Comment[br]=Kefluniañ politikerez ar fokus ar prenestr
Comment[bs]=Podesite politiku fokusa prozora
Comment[ca]=Aquí podeu configurar la política del focus
Comment[cs]=Nastavení způsobu zaměřování oken
Comment[cy]=Ffurfweddu'r polisi canolbyntio ffenestri
Comment[da]=Indstil vinduers fokuspolitik
Comment[de]=Fensteraktivierung einrichten
Comment[el]=Ρυθμίστε τον τρόπο εστίασης των παραθύρων
Comment[eo]=Agordu la fenestran fokusdirektivon
Comment[es]=Configuración de la política de enfocado de ventanas
Comment[et]=Akendele fookuse andmise reeglid
Comment[eu]=Konfiguratu leihoen fokuaren jokamoldea
Comment[fa]=تنظیم سیاست تمرکزگیری پنجره
Comment[fi]=Ikkunoiden kohdistustapa
Comment[fr]=Configuration de la politique de focus des fenêtres
Comment[fy]=Hjir kinne jo it fokusbeliid fan finsters ynstelle
Comment[gl]=Configurar política de outorgación do foco ás fiestras
Comment[he]=קביעת מדיניות ההתמקדות של חלונות
Comment[hi]=विंडो फ़ोकस पॉलिसी कॉन्फ़िगर करें
Comment[hr]=Podešavanje pravila za fokusiranje prozora
Comment[hu]=Az ablakok fókuszálási jellemzőinek beállításai
Comment[is]=Stilla virkni stefnu
Comment[it]=Configura la politica del focus delle finestre
Comment[ja]=ウィンドウのフォーカスポリシーの設定
Comment[lo]=ປັກອີນສອດສ່ອງຊີພີຍູ
Comment[lt]=Konfigūruoti langų fokusavimo taisykles
Comment[mk]=Конфигурирајте ја политиката на фокусирање на прозорците
Comment[mn]=Цонх идэвхижүүлэлт тохируулах
Comment[mt]=Ikkonfigura kif jieħdu l-focus il-windows
Comment[nb]=Tilpass praksisen for vindusfokus
Comment[nds]=De Finstern se ehr Fokusseren instellen
Comment[nl]=Hier kunt u het vensterfocusbeleid instellen
Comment[nn]=Set opp praksisen for vindaugsfokus
Comment[nso]=Beakanya molao wa tebeledisiso ya window
Comment[pa]=ਝਰੋਖਾ ਕੇਂਦਰ ਨੀਤੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja przenoszenia ogniska
Comment[pt]=Configuração da política de foco (primeiro plano) das janelas
Comment[pt_BR]=Configura a política de foco de janela
Comment[ro]=Configurează politica de focus a ferestrelor
Comment[ru]=Настройка политики фокусирования окон
Comment[se]=Heivet lásefohkusa doaibmanvuogi
Comment[sk]=Nastavenie politiky aktivácie okien
Comment[sl]=Nastavitve ravnanja s fokusom okna
Comment[sr]=Подешавање начина фокусирања прозора
Comment[sr@Latn]=Podešavanje načina fokusiranja prozora
Comment[sv]=Anpassa policy för fönsterfokus
Comment[ta]=சாளர துவக்க முறையை வடிவமை
Comment[tg]=Танзими сиёсати маркази тиреза
Comment[th]=ปรับแต่งรูปแบบการได้รับโฟกัสของหน้าต่าง
Comment[tr]=Pencere odaklama yöntemini yapılandır
Comment[uk]=Налаштування поведінку фокусу вікна
Comment[uz]=Ойнани фокуслаш қоидасини мослаш
Comment[ven]=Dzudzanyani wa muano wa window
Comment[vi]=Cấu hình cách chọn cửa sổ
Comment[xh]=Qwalasela inkqubo yobekiso lwe window
Comment[xx]=xxConfigure the window focus policyxx
Comment[zh_CN]=配置窗口焦点策略
Comment[zh_TW]=設定視窗焦點政策
Comment[zu]=Hlanganisela umthetho wokunaka kwe-window

Keywords=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop
Keywords[af]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all werkskerm
Keywords[bg]=фокус, активиране, автоматично, щракане, focus, placement, auto raise, raise, click raise, keyboard, CDE, alt-tab, all desktop
Keywords[ca]=focus,emplaçament,elevar automàticament,elevar,elecar en clicar,teclat,CDE,alt-tab,tot l'escriptori
Keywords[cs]=zaměření,umísťování,automatické zdvižení,klávesnice,CDE,Alt-Tab,plochy
Keywords[cy]=canolbwynt,lleoliad,hunan-godi,codi,codi ar ?l clic,allweddell,CDE,alt-tab,penbwrdd cyfan
Keywords[da]=fokus,placering,autohæv,hæv,klikhæv,tastatur,CDE,alt-tab,alle desktoppe
Keywords[de]=Fokus,Aktivierung,Platzierung,Autom. Aktivierung,Nach oben/unten, Klick,Tastatur,CDE
Keywords[el]=εστίαση,τοποθέτηση,αυτόματη ανύψωση,ανύψωση,ανύψωση με πάτημα,πληκτρολόγιο,CDE,alt-tab,all desktop
Keywords[es]=foco,ubicación,auto psara al frente,pasar al frente,pulsar,teclado,CDE,alt-tab,todo el escritorio
Keywords[et]=fookus,asetus,klikk,klõps,klaviatuur,CDE,alt-tab
Keywords[eu]=fokua,kokapena,auto aurrera ekarri,aurrera ekarri,click raise,teklatua,CDE,alt-tab,mahaigain guztiak
Keywords[fi]=fokus,sijoitus,automaattinosto,napsautusnosto,näppäimistö,CDE
Keywords[fr]=focus,placement,auto élévation,élévation,clic clavier,CDE,alt-tab,tous les bureaux
Keywords[fy]=focus,fokus,finster,aandacht,oandacht,plaatsing,pleatsing,voorgrond,foargrûn,achtergrond,eftergrûn,klikken,toetsenbord,kaauboerd,CDE,alt-tab,alle bureaubladen,alle buroblêden
Keywords[gl]=foco,emprazamento,auto subir,subir,premer para subir,teclado,CDE,alt-tab,todo o escritorio
Keywords[he]=התמקדות,מיקום,הבאה אוטומטית לחזית,הבאה לחזית,לחיצה להבאה לחזית,מקלדת,CDE,alt-tab,כל שולחנות העבודה
Keywords[hi]=फ़ोकस, स्थिति,स्वतः ऊपर उठाएँ,ऊपर उठाएँ,क्लिक ऊपर उठाएँ,कुंजीपट,सीडीई,ऑल्ट-टेब,सभी डेस्कटॉप
Keywords[hu]=fókusz,elhelyezés,automatikus előrehozás,előrehozás,előrehozás kattintásra,billentyűzet,CDE,Alt+Tab,minden munkaasztal
Keywords[is]=fókus,staðsetning,fleyta upp sjálfkrafa, fleyta upp,smellur fleytir upp,lyklaborð,CDE,alt-tab,öll skjáborð
Keywords[it]=focus,piazzamento,alza automaticamente,alza,clic per alzare,tastiera, CDE,alt-tab,tutti i desktop
Keywords[ja]=フォーカス,配置,自動的に前面に,前面に,クリックして前面に,キーボード,CDE,alt-tab,全てのデスクトップ
Keywords[lt]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop, fokusas,perkėlimas į pirmą planą, pirmas planas, klaviatūra, CDE,visi darbastaliai
Keywords[mk]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,фокус,позиција,авто подигање,подигање,клик подигање,сите десктопи
Keywords[mn]=Хараа,Идэвхижүүлэл,Зайчлал,Авто.Идэвхижүүлэлт, Дээшээ/доошоо,Товшилт,Гар,КДE
Keywords[mt]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,tella',tastiera
Keywords[nb]=fokus,plassering,autohev,hev,klikk og hev,tastatur,CDE,bytt vindu,alle skrivebord
Keywords[nds]=Fokus,Platzeren,automaatsch fokusseren,aktiveren,klick fokusseren,Tastatuur,CDE,ALT-TAB,all Schriefdischen
Keywords[nl]=focus,aandacht,plaatsing,voorgrond,achtergrond,klikken,toetsenbord,CDE,alt-tab,alle bureaubladen
Keywords[nn]=fokus,plassering,autohev,hev,klikk og hev,tastatur,CDE,byt vindauge,alle skrivebord
Keywords[nso]=tebeledisiso,peo,kgodiso ya go itirisa,kgodiso,tobetsa kgodiso,keyboard,CDE,alt-tab,desktop kamoka
Keywords[pl]=ognisko,umiejscawianie,automatyczne podnoszenie,podnoszenie, podniesienie przy kliknięciu,klawiatura,CDE,alt-tab,wszystkie biurka,wszystkie pulpity
Keywords[pt]=foco,colocação,auto-elevar,elevar,elevar com 'click',teclado,CDE,alt-tab,todos os ecrãs
Keywords[pt_BR]=foco,posição,auto elevar,elevar,teclado,CDE,alt-tab,todas as áreas de trabalho
Keywords[ro]=focus,plasare,ridicare automată,clic,tastatură,CDE,alt-tab,toate ecranele
Keywords[se]=fohkus,auto lokten,lokten,coahkkal ja lokte,boallobeavdi,CDE,molssu lássii,buot čállinbeavddi
Keywords[sk]=fokus,umiestnenie,automatický presun,dopredu,dopredu na kliknutie,klávesnica,CDE,alt-tab,všetky plochy
Keywords[sl]=fokus,postavitev,dvigni,tipkovnica,CDE,alt-tab,vsa namizja
Keywords[sr]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,фокус,смештање,аутоматско подизање,подизање,тастатура,alt-tab, сви радна површина
Keywords[sr@Latn]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,fokus,smeštanje,automatsko podizanje,podizanje,tastatura,alt-tab, svi radna površina
Keywords[sv]=fokus,placering,autohöjning,höjning,höjning med klick,tangentbord,CDE,alt-tab,alla skrivbord
Keywords[ta]=ஒருமுகப்படுத்துதல்,இடம், தானாக மேலெழும்பு, மேலேழும்புதல், மேல் க்ளிக்செய்,விசைப்பலகை,CDE,alt-tab,எல்லா மேல்மேசை
Keywords[th]=โฟกัส,ตำแหน่ง,อยู่ด้านบนอัตโนมัติ,อยู่ด้านบน,คลิ้กเพื่ออยู่ด้านบน,แป้นพิมพ์,CDE,alt-tab,ทุกพื้นที่ทำงาน
Keywords[tr]=odaklama,yerleşim,masaüstü,yükselt,tıkla,klavye,CDE,yerleşim
Keywords[uk]=фокус,розташування,автопіднімання,підняти,клавіатура,CDE,alt-tab,вся стільниця
Keywords[uz]=авто-олдинга,олдинга,босиб олдинга,CDE,alt-tab,ҳамма иш столлари,фокуслаш,тугматаг,жойлашиш
Keywords[ven]=thetshelesa,u vhetshela,u vusa,vusa,putedzani u vusa,khiibodo,CDE,alt-tab,desktop dzothe
Keywords[vi]=chọn,di chuyển,tự nâng lên,nâng lên,nhấn nâng lên,bàn phím,CDE,alt-tab,tất cả cửa sổ
Keywords[xh]=ucaco,ubuyiselo,phakamisa ngokuzenzekelayo,phakamisa,nqakraza phakamisa, ibhodi yezitshixho,CDE,alt-tab,zonke ii desktop
Keywords[xx]=xxfocus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktopxx
Keywords[zh_TW]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,焦點,佈置,自動抬升,抬升,單擊抬升,鍵盤,全部桌面
Keywords[zu]=ukunaka,ukubeka,ukukhuphula okuzenzekelayo,ukukhuphula, ukukhuphula ngokucofa,ibhodi yokhiye,CDE,alt-tab,wonke ama-desktop
