[Desktop Entry]
Icon=preferences-system-windows-actions
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kwinadvanced
X-DocPath=kcontrol/windowbehaviour/index.html#action-advanced

X-KDE-Library=kcm_kwinoptions
X-KDE-PluginKeyword=kwinadvanced

Name=Advanced
Name[af]=Gevorderd
Name[ar]=متقدم
Name[ast]=Avanzáu
Name[be]=Асаблівы
Name[be@latin]=Asablivaje
Name[bg]=Допълнителни
Name[bn]=অগ্রসর
Name[bn_IN]=উন্নত বৈশিষ্ট্য
Name[br]=Barek
Name[bs]=Napredno
Name[ca]=Avançat
Name[ca@valencia]=Avançat
Name[cs]=Pokročilé
Name[csb]=Awansowóné
Name[cy]=Uwch
Name[da]=Avanceret
Name[de]=Erweitert
Name[el]=Για προχωρημένους
Name[en_GB]=Advanced
Name[eo]=Pliaj
Name[es]=Avanzado
Name[et]=Muu
Name[eu]=Aurreratua
Name[fa]=پیشرفته
Name[fi]=Lisäasetukset
Name[fr]=Avancé
Name[fy]=Avansearre
Name[ga]=Casta
Name[gl]=Avanzado
Name[gu]=ઉચ્ચ
Name[he]=הגדרות מתקדמות
Name[hi]=विस्तृत
Name[hne]=विस्तृत
Name[hr]=Napredno
Name[hu]=Speciális
Name[ia]=Avantiate
Name[id]=Lanjutan
Name[is]=Ítarlegt
Name[it]=Avanzate
Name[ja]=詳細
Name[ka]=დამატებით
Name[kk]=Қосымша
Name[km]=កម្រិត​ខ្ពស់
Name[kn]=ಪ್ರೌಢ
Name[ko]=고급
Name[ku]=Pêşketî
Name[lt]=Sudėtingesni
Name[lv]=Paplašināti
Name[mai]=उन्नत
Name[mk]=Напредни
Name[ml]=സങ്കീര്‍ണ്ണമായ
Name[mr]=प्रगत
Name[ms]=Lanjutan
Name[nb]=Avansert
Name[nds]=Verwiedert
Name[ne]=उन्नत
Name[nl]=Geavanceerd
Name[nn]=Avansert
Name[oc]=A_vançat
Name[pa]=ਤਕਨੀਕੀ
Name[pl]=Zaawansowane
Name[pt]=Avançado
Name[pt_BR]=Avançado
Name[ro]=Avansat
Name[ru]=Дополнительно
Name[se]=Viiddiduvvon
Name[si]=උසස්
Name[sk]=Pokročilé
Name[sl]=Napredno
Name[sr]=Напредно
Name[sr@ijekavian]=Напредно
Name[sr@ijekavianlatin]=Napredno
Name[sr@latin]=Napredno
Name[sv]=Avancerat
Name[ta]=உயர்நிலை 
Name[te]=ఆధునాతన
Name[tg]=Иловагӣ
Name[th]=ขั้นสูง
Name[tr]=Gelişmiş
Name[ug]=ئالىي
Name[uk]=Додатково
Name[uz]=Qoʻshimcha
Name[uz@cyrillic]=Қўшимча
Name[vi]=Nâng cao
Name[wa]=Sipepieus
Name[xh]=Ebhekisa phambili
Name[x-test]=xxAdvancedxx
Name[zh_CN]=高级
Name[zh_TW]=進階

Comment=Configure advanced window management features
Comment[af]=Konfigureer gevorderde vensterbestuurfunksies
Comment[ar]=اضبط ميزّات إدارة النوافذ المتقدمة
Comment[ast]=Configuración de les propiedaes avanzaes del xestor de ventanes
Comment[be]=Настаўленне адмысловых здольнасцяў кіравання вокнамі
Comment[be@latin]=Nałady asablivych mahčymaściaŭ u kiravańni voknami
Comment[bg]=Настройване допълнителните параметри на прозорците
Comment[bn]=উইণ্ডো ম্যানেজমেন্টের ক্ষুদ্রাতিক্ষুদ্র বৈশিষ্ট্য কনফিগার করুন
Comment[bn_IN]=উইন্ডো পরিচালনার উন্নত বৈশিষ্ট্য কনফিগার করুন
Comment[bs]=Podešavanje naprednih mogućnosti upravljanja prozorima
Comment[ca]=Aquí podeu configurar les característiques avançades de la gestió de finestres
Comment[ca@valencia]=Ací podeu configurar les característiques avançades de la gestió de finestres
Comment[cs]=Nastavení pokročilých vlastností správce oken
Comment[csb]=Kònfigùracëjô awansowónëch òptacëji sprôwianiô òknama
Comment[cy]=Ffurfweddu Nodweddion Uwch Trefnu Ffenestri
Comment[da]=Indstil avancerede vindueshåndteringsegenskaber
Comment[de]=Erweiterte Fensterverwaltung einrichten
Comment[el]=Ρύθμιση προχωρημένων χαρακτηριστικών της διαχείρισης παραθύρων
Comment[en_GB]=Configure advanced window management features
Comment[eo]=Agordu la pli bonajn fenestroadministrilecojn
Comment[es]=Configuración de las propiedades avanzadas del gestor de ventanas
Comment[et]=Aknahalduri seadistamine
Comment[eu]=Konfiguratu leiho kudeaketaren ezaugarri aurreratuak
Comment[fa]=پیکربندی ویژگیهای مدیریت پنجره پیشرفته
Comment[fi]=Muokkaa ikkunoinnin ominaisuuksien lisäasetuksia
Comment[fr]=Configuration des fonctionnalités de gestion avancée des fenêtres
Comment[fy]=Hjir kinne jo de avansearre finsterbehearmooglikheden ynstelle
Comment[ga]=Cumraigh ardghnéithe bhainisteoireacht na bhfuinneog
Comment[gl]=Configurar as características avanzadas da xestión de xanelas
Comment[gu]=ઉચ્ચ વિન્ડો વ્યવસ્થાપક લાક્ષણિકતાઓ રૂપરેખાંકિત કરો
Comment[he]=הגדרת מאפיינים מתקדמים לניהול חלונות
Comment[hi]=विस्तृत विंडो प्रबंधन विशेषता कॉन्फ़िगर करें
Comment[hne]=विस्तृत विंडो प्रबंधन विसेसता कान्फिगर करव
Comment[hr]=Konfiguriranje naprednih svojstava upravitelja prozora
Comment[hu]=Az ablakkezelés speciális beállításai
Comment[ia]=Configura characteristicas avantiate de gestion de fenestra
Comment[id]=Atur fitur manajemen jendela lanjutan
Comment[is]=Stilla ítarlegri hegðan setustjóra
Comment[it]=Configura le funzioni avanzate del gestore delle finestre
Comment[ja]=ウィンドウ管理機能の詳細設定
Comment[ka]=ფანჯრების მენეჯერის დამატებითი ფუნქციების კონფიგურაცია
Comment[kk]=Терезе басқаруының қосымша параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​លក្ខណៈ​ពិសេស​ការ​គ្រប់គ្រង​បង្អួច​កម្រិត​ខ្ពស់
Comment[kn]=ಪ್ರೌಢ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪನೆ ವೈಶಿಷ್ಟ್ಯಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=고급 창 관리자 기능 설정하기
Comment[lt]=Konfigūruoti sudėtingesnes langų tvarkymo savybes
Comment[lv]=Šeit jūs varat konfigurēt paplašīnātās logu pārvaldīšanas iespējas
Comment[mai]=विस्तृत विंडो प्रबंधन विशेषता बिन्यस्त करू
Comment[mk]=Конфигурирајте ги напредните можности за менаџмент на прозорците
Comment[ml]=സങ്കീര്‍ണ്ണമായ ജാലകപാലക സവിശേഷതകള്‍ സജ്ജീകരിക്കുക
Comment[mr]=चौकट व्यवस्थापन विशेषता संयोजीत करा
Comment[nb]=Tilpass avansert vindusbehandling
Comment[nds]=Verwiederte Finsterinstellen
Comment[ne]=उन्नत सञ्झ्याल व्यवस्थापन आकृति कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de geavanceerde vensterbeheermogelijkheden instellen
Comment[nn]=Set opp avanserte vindaugshandsamarfunksjonar
Comment[pa]=ਤਕਨੀਕੀ ਵਿੰਡੋ ਮੈਨਿਜਮੈਂਟ ਫੀਚਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zaawansowanych opcji zarządzania oknami
Comment[pt]=Configuração das funcionalidades de gestão de janelas avançadas
Comment[pt_BR]=Configurar os recursos avançados de gerenciamento de janelas
Comment[ro]=Configurează caracteristicile de administrare ale ferestrelor
Comment[ru]=Настройка дополнительных возможностей управления окнами
Comment[se]=Heivet viiddiduvvon lásegieđahanfunkšuvnnaid
Comment[si]=උසස් කවුළු පරිපාලන විශේෂාංග සකසන්න
Comment[sk]=Nastavenie pokročilých možností správy okien
Comment[sl]=Nastavitve dodatnih možnosti upravljanja oken
Comment[sr]=Подешавање напредних могућности управљања прозорима
Comment[sr@ijekavian]=Подешавање напредних могућности управљања прозорима
Comment[sr@ijekavianlatin]=Podešavanje naprednih mogućnosti upravljanja prozorima
Comment[sr@latin]=Podešavanje naprednih mogućnosti upravljanja prozorima
Comment[sv]=Anpassa avancerade fönsterhanteringsfunktioner
Comment[ta]=மேம்பட்ட சாளர மேலாளரின் தன்மைகளை வடிவமை
Comment[te]=అధునాతన విండో నిర్వహణ సౌలభ్యాలను ఆకృతీకరించుము
Comment[tg]=Настройка дополнительных функций менеджера окон
Comment[th]=ปรับแต่งคุณสมบัติเพิ่มเติมของการจัดการหน้าต่าง
Comment[tr]=Gelişmiş pencere yönetim özelliklerini yapılandır
Comment[ug]=ئالىي كۆزنەك باشقۇرۇش ئىقتىدارىنى سەپلە
Comment[uk]=Налаштування додаткових можливостей керування вікнами
Comment[uz]=Oyna boshqaruvning koʻshimcha imkoniyatlarini moslash
Comment[uz@cyrillic]=Ойна бошқарувнинг кўшимча имкониятларини мослаш
Comment[vi]=Cấu hình các tính năng quản lý cửa sổ nâng cao
Comment[wa]=Apontiaedje des spepieusès fonccionålités do manaedjaedje des fniesses
Comment[xh]=Qwalasela imisebenzi esemqoka ebhekisa phambili yophatho lwe window
Comment[x-test]=xxConfigure advanced window management featuresxx
Comment[zh_CN]=配置高级窗口管理特性
Comment[zh_TW]=設定進階視窗管理功能

X-KDE-Keywords=shading,border,hover,active borders
X-KDE-Keywords[af]=shading,border,hover,active grense
X-KDE-Keywords[be]=Згортванне,Мяжа,Актыўныя межы,Актыўныя краі,shading,border,hover,active borders
X-KDE-Keywords[bg]=Keywords=рамка, сянка, фокус, активиране, shading, border, hover, active borders
X-KDE-Keywords[ca]=plegat,vora,desplegat automàtic,vores actives
X-KDE-Keywords[cs]=zarolování,vyrolování,okraj,přejezd myší,aktivní okraje
X-KDE-Keywords[csb]=cenienié,grańce,przesëwanié nad,aktiwné grańce
X-KDE-Keywords[cy]=arliwio,ymyl,hofran,ymylon weithgar
X-KDE-Keywords[da]=skygning,kant,svæv,aktive kanter
X-KDE-Keywords[de]=Umrandung,Aktive Ränder,Schweben,Fensterheber
X-KDE-Keywords[el]=τύλιγμα,περίγραμμα,hover,ενεργά όρια
X-KDE-Keywords[eo]=bordo
X-KDE-Keywords[es]=recogiendo,borde,ratón sobre,bordes activos
X-KDE-Keywords[et]=varjamine,piire,hover,aktiivsed piirded
X-KDE-Keywords[eu]=biltzen,ertza,gainean,ertz aktiboak
X-KDE-Keywords[fa]=سایه‌زنی، لبه، پلکیدن، لبه‌های فعال
X-KDE-Keywords[fi]=varjostus,kehys,kellunta,aktiiviset kehykset
X-KDE-Keywords[fr]=bordures,cacher,couvrir,bordures actives
X-KDE-Keywords[fy]=oprollen,oprôlje,afrollen,ôfrôlje,hoover,actieve randen,aktive rânen,randen magnetisch,magnetische randen
X-KDE-Keywords[ga]=scáthú,imlíne,foluain,imlínte beo
X-KDE-Keywords[gl]=sombra,beira,beiras activas,flotar
X-KDE-Keywords[he]=גלילה,מסגרת,גבול,ריחוף,גבולות פעילים,shading,border,hover,active borders
X-KDE-Keywords[hr]=shading,border,hover,active borders,osjenčavanje,obrubi,lebdjeće,aktivni obrubi
X-KDE-Keywords[hu]=árnyékolás,szegély,lebegés,aktív szegélyek
X-KDE-Keywords[is]=rúlla upp,skyggja,rammi,svif,hover,virkir rammar
X-KDE-Keywords[it]=arrotola,bordi,passaggio del mouse,bordi attivi
X-KDE-Keywords[ja]=畳む,境界,復元,アクティブ境界
X-KDE-Keywords[km]=ស្រមោល ស៊ុម សំកាំង ស៊ុម​សកម្ម
X-KDE-Keywords[lt]=shading,border,hover,active borders, tik antraštės juosta, rėmelis, aktyvūs rėmeliai
X-KDE-Keywords[lv]=ēnošana,mala,hover,aktīvās malas
X-KDE-Keywords[mk]=shading,border,hover,active borders,засенчување,граница,лебди,активни граници
X-KDE-Keywords[nb]=rull opp,sveve over,ramme,aktive rammer,kant
X-KDE-Keywords[nds]=Inrullen,Utrullen,Rahmen,hover,aktiven Rahmen
X-KDE-Keywords[ne]=छायाँ, किनारा, होभर, सक्रिय किनारा
X-KDE-Keywords[nl]=oprollen,afrollen,rand,hoover,actieve randen,randen magnetisch,magnetische randen
X-KDE-Keywords[nn]=rull opp,ramme,vindaugsramme,vindauge,mus over,aktive kantar
X-KDE-Keywords[pl]=cieniowanie,granice,przesuwanie ponad,aktywne granice
X-KDE-Keywords[pt]=enrolamento,contorno,passar por cima,contornos activos
X-KDE-Keywords[pt_BR]=enrolamento,borda,pairar,bordas ativas
X-KDE-Keywords[ro]=strîngere,margine,margini active
X-KDE-Keywords[se]=shading,border,hover,active borders,aktiivalaš láse,láse,aktiivalaš ravddat
X-KDE-Keywords[sl]=senčenje,rob,meja,lebdenje,aktivni robovi
X-KDE-Keywords[sr]=shading,border,hover,active borders,намотавање,ивица,лебдење,активне ивице
X-KDE-Keywords[sr@latin]=shading,border,hover,active borders,namotavanje,ivica,lebdenje,aktivne ivice
X-KDE-Keywords[sv]=skuggning,kant,sväva,aktiva kanter
X-KDE-Keywords[ta]=நிழலிடுதல்,விளிம்பு,ஹோவர், செயலில் உள்ள விளிம்புகள்
X-KDE-Keywords[tr]=toplama,sınır,etkin kenarlıklar
X-KDE-Keywords[uk]=згортання,рамка,проходження,активні рамки
X-KDE-Keywords[uz]=соялаш,чегара,актив чегаралар,hover
X-KDE-Keywords[vi]=che phủ,bờ,lượn,bờ hoạt động
X-KDE-Keywords[x-test]=xxshading,border,hover,active bordersxx
X-KDE-Keywords[xh]=ulwenziwo lwesithuba,umda,ixhonyiwe,imida esebenzayo
X-KDE-Keywords[zh_CN]=shading,border,hover,active borders,卷起,边框,悬停,激活边框
X-KDE-Keywords[zh_TW]=shading,border,hover,active borders,收起,邊框,停留,作用中邊框
