[Desktop Entry]
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kwinfocus
X-DocPath=kcontrol/windowbehaviour/index.html#action-focus

X-KDE-Library=kcm_kwinoptions
X-KDE-PluginKeyword=kwinfocus

Name=Window Focus Behavior

Comment=Configure window activation policy

X-KDE-Keywords=focus,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,focus follows mouse,focus prevention,focus stealing,focus policy,window focus behavior,window screen behavior
