[Desktop Entry]
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kwinfocus
X-DocPath=kcontrol/windowbehaviour/index.html#action-focus

X-KDE-Library=kcm_kwinoptions
X-KDE-PluginKeyword=kwinfocus

Name=Focus
Name[uk]=Фокус
Name[x-test]=xxFocusxx

Comment=Configure the window focus policy
Comment[uk]=Налаштування поведінку фокусу вікна
Comment[x-test]=xxConfigure the window focus policyxx

X-KDE-Keywords=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,focus follows mouse,focus prevention,focus stealing,focus policy,window focus behavior,window screen behavior
X-KDE-Keywords[uk]=focus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,focus follows mouse,focus prevention,focus stealing,focus policy,window focus behavior,window screen behavior,фокус,фокусування,розташування,автопідняття,підняття,клацання,клавіатура,альт-таб,всі стільниці,фокус за мишею,запобігання,перехід фокуса,правила фокусування,поведінка вікон
X-KDE-Keywords[x-test]=xxfocus,placement,auto raise,raise,click raise,keyboard,CDE,alt-tab,all desktop,focus follows mouse,focus prevention,focus stealing,focus policy,window focus behavior,window screen behaviorxx
