[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system-windows-focus
Exec=kcmshell4 kwintabbox
X-DocPath=kcontrol/kwintabbox/index.html
X-KDE-Library=kcm_kwintabbox
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=window-behaviour
X-KDE-Weight=60

Name=Navigate Through Windows
Name[ca]=Navega per les finestres
Name[da]=Navigér imellem vinduer
Name[de]=Fenster durchsehen
Name[el]=Περιήγηση μέσω παραθύρων
Name[en_GB]=Navigate Through Windows
Name[eo]=Foliumi tra la fenestroj
Name[es]=Navegar por ventanas
Name[et]=Akende vahel liikumine
Name[fr]=Naviguer à travers les fenêtres
Name[gl]=Percorrer as fiestras
Name[hr]=Hod kroz prozore
Name[id]=Navigasi Melalui Jendela
Name[kk]=Терезелер арасында аусу
Name[lt]=Navigacija tarp langų
Name[lv]=Navigēt starp logiem
Name[nb]=Naviger gjennom vinduer
Name[nds]=Dör de Finstern lopen
Name[nl]=Door vensters wandelen
Name[pt]=Navegar pelas Janelas
Name[pt_BR]=Navegar pelas janelas
Name[ro]=Navigare printre ferestre
Name[sl]=Preklapljanje med okni
Name[sv]=Gå igenom fönster
Name[tr]=Pencereler Arasında Gez
Name[uk]=Навігація вікнами
Name[x-test]=xxNavigate Through Windowsxx
Name[zh_TW]=透過視窗導覽
Comment=Configure the behavior for navigating through windows.
Comment[ca]=Configura el comportament per navegar per les finestres.
Comment[da]=Indstil opførsel for navigering imellem vinduer.
Comment[de]=Verhalten zum Durchsehen von Fenstern festlegen.
Comment[el]=Ρυθμίστε τη συμπεριφορά για την περιήγηση μέσω παραθύρων.
Comment[en_GB]=Configure the behaviour for navigating through windows.
Comment[eo]=Agordi la konduton por travigado tra la fenestroj.
Comment[es]=Configurar el comportamiento de la navegación por las ventanas.
Comment[et]=Akende vahel liikumise seadistamine.
Comment[fr]=Configuration du comportement de navigation à travers les fenêtres.
Comment[gl]=Configura o comportamento do percorrido polas fiestras.
Comment[hr]=Podešavanje ponašanja hoda kroz prozore.
Comment[id]=Atur perilaku untuk bernavigasi melalui jendela.
Comment[kk]=Терезелер арасында ауысу тәртібін орнату.
Comment[lt]=Navigavimo tarp langų elgsenos konfigūravimas.
Comment[lv]=Konfigurē uzvedību navigējot starp logiem
Comment[nb]=Tilpass oppførselen for nevigering gjennom vinduer.
Comment[nds]=Dat Bedregen bi't Wesseln vun Finstern instellen
Comment[nl]=Het gedrag voor het door vensters wandelen configureren.
Comment[pt]=Configurar o comportamento de navegação pelas janelas.
Comment[pt_BR]=Configura o comportamento da navegação pelas janelas.
Comment[ro]=Configurează comportamentul navigării printre ferestre.
Comment[sl]=Nastavite obnašanje pri preklapljanju med okni.
Comment[sv]=Anpassa beteendet för att gå igenom fönster.
Comment[tr]=Pencereler arasında gezinme davranışını yapılandır.
Comment[uk]=Налаштування поведінки системи під час навігації вікнами.
Comment[x-test]=xxConfigure the behavior for navigating through windows.xx
Comment[zh_TW]=設定透過視窗導覽的行為
X-KDE-Keywords=window,windows,switcher,window switcher,switching,window switching,alttab,alt-tab,alt+tab,alt tab
