[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=window-duplicate
Exec=kcmshell4 kwintabbox
X-DocPath=kcontrol/kwintabbox/index.html
X-KDE-Library=kcm_kwintabbox
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=window-behaviour
X-KDE-Weight=60

Name=Task Switcher
Comment=Configure the behavior for navigating through windows
X-KDE-Keywords=window,windows,switcher,window switcher,switching,window switching,alttab,alt-tab,alt+tab,alt tab
