[Desktop Entry]
Name=Laptop
Name[af]=Draagbare rekenaar
Name[ar]=حاسوب محمول
Name[be]=Ноўтбук
Name[bg]=Лаптоп
Name[bn]=ল্যাপটপ
Name[bn_IN]=ল্যাপ-টপ
Name[br]=Hezoug
Name[ca]=Portàtil
Name[cs]=Notebook
Name[cy]=Gluniadur
Name[da]=Bærbar
Name[el]=Φορητό
Name[eo]=Tekokomputilo
Name[es]=Portátil
Name[eu]=Ordenagailu eramangarria
Name[fa]=رایانۀ کیفی
Name[fi]=Kannettava
Name[fr]=Ordinateur portable
Name[fy]=Skoatkompjûter
Name[ga]=Ríomhaire Glúine
Name[gl]=Portátil
Name[gu]=લેપટોપ
Name[hi]=लैपटॉप
Name[hu]=Noteszgép
Name[is]=Ferðavél
Name[it]=Portatile
Name[ja]=ラップトップ
Name[ka]=ლეპტოპი
Name[kk]=Ноутбук
Name[km]=កុំព្យូទ័រ​យួរដៃ
Name[kn]=ಉಡಿಗಣಕ
Name[ko]=랩탑
Name[lt]=Nešiojamas kompiuteris
Name[lv]=Laptops
Name[mk]=Лаптоп
Name[ml]=ലാപ്‌ടോപ്
Name[mr]=लैपटॉप
Name[ms]=Komputer riba
Name[nb]=Bærbar
Name[nds]=Klappreekner
Name[ne]=ल्यापटप
Name[nn]=Bærbar
Name[pa]=ਲੈਪਟਾਪ
Name[pt]=Portátil
Name[ru]=Ноутбук
Name[se]=Mátkedihtor
Name[sl]=Prenosnik
Name[sr]=Лаптоп
Name[sv]=Bärbar dator
Name[ta]=மடிக்கணினி
Name[te]=లాప్ టాప్
Name[tg]=Ноутбук (Лаптор)
Name[th]=แลปทอบ
Name[tr]=Dizüstü
Name[uk]=Мобільний комп'ютер (лептоп)
Name[uz@cyrillic]=Лаптоп
Name[vi]=Máy xách tay
Name[wa]=Poirtåve
Name[x-test]=xxLaptopxx
Name[xh]=Umphezulu osongiweyo
Name[zh_CN]=笔记本电脑
Name[zh_TW]=筆記型電腦
X-KDE-Library=kwin3_laptop
