[Desktop Entry]
Name=Laptop
Name[af]=DRAAGBARE REKENAAR
Name[az]=Dizüstü
Name[br]=Hezoug
Name[ca]=Portàtil
Name[da]=Bærbar
Name[el]=Φορητό
Name[eo]=Portkomputilo
Name[es]=Portátil
Name[eu]=Eramangarria
Name[fi]=Kannettava
Name[fr]=Ordinateur portable
Name[gl]=Portátil
Name[is]=Ferðavél
Name[it]=Portatile
Name[ja]=ラップトップ
Name[ko]=랩탑
Name[lv]=Laptops
Name[mk]=Лаптоп
Name[nl]=Schootcomputer
Name[no]=Bærbar
Name[no_NY]=Bærbar
Name[oc]=Portatil
Name[pt]=Portátil
Name[sl]=Prenosnik
Name[sv]=Bärbar dator
Name[tr]=Dizüstü
Name[uk]=Мобільний комп'ютер (лептоп)
Name[zh_CN.GB2312]=膝上计算机
Name[zh_TW.Big5]=膝上型電腦
X-KDE-Library=libkwinlaptop
