[Desktop Entry]
Name=Screen Edge
Name[bs]=Ivice ekrana
Name[ca]=Vora de la pantalla
Name[ca@valencia]=Vora de la pantalla
Name[cs]=Hrana obrazovky
Name[da]=Skærmkant
Name[de]=Bildschirmkante
Name[el]=Άκρο οθόνης
Name[es]=Borde de la pantalla
Name[fi]=Näytön reuna
Name[fr]=Bord de l'écran
Name[gl]=Beira da pantalla
Name[hu]=Képernyőszél
Name[ia]=Margines de schermo
Name[it]=Bordo dello schermo
Name[kk]=Экран жиегі
Name[ko]=화면 경계
Name[lt]=Ekrano kraštas
Name[mr]=स्क्रीन किनारा
Name[nb]=Skjermkant
Name[nl]=Schermrand
Name[pa]=ਸਕਰੀਨ ਕੋਨਾ
Name[pl]=Krawędź ekranu
Name[pt]=Extremo do Ecrã
Name[pt_BR]=Borda da tela
Name[ro]=Muchia ecranului
Name[ru]=Край экрана
Name[sk]=Hrana obrazovky
Name[sl]=Rob zaslona
Name[sr]=Ивица екрана
Name[sr@ijekavian]=Ивица екрана
Name[sr@ijekavianlatin]=Ivica ekrana
Name[sr@latin]=Ivica ekrana
Name[sv]=Skärmkant
Name[tr]=Ekran Kenarı
Name[uk]=Край екрана
Name[x-test]=xxScreen Edgexx
Name[zh_CN]=屏幕边缘
Name[zh_TW]=螢幕邊緣
Icon=preferences-system-windows-effect-screenedge
Comment=Highlights a screen edge when approaching
Comment[bs]=Označava ivicu ekrana pri približavanju
Comment[ca]=Ressalta la vora de la pantalla en aproximar-se
Comment[ca@valencia]=Ressalta la vora de la pantalla en aproximar-se
Comment[cs]=Zvýrazní hranu obrazovky při přiblížení k ní
Comment[da]=Fremhæver en skærmkant når den nærmer sig
Comment[de]=Bildschirmkante bei Annäherung hervorheben
Comment[el]=Εμφανίζει τονισμένο το άκρο της οθόνης όταν το πλησιάζετε
Comment[es]=Resalta el borde de la pantalla al aproximarse a él
Comment[fi]=Korostaa näytön reunaa sitä lähestyttäessä
Comment[fr]=Mettre en valeur le bord de l'écran à l'approche
Comment[gl]=Realza unha beira da pantalla cando se aproxima
Comment[hu]=Kiemeli a képernyő szélét megközelítéskor
Comment[ia]=Evidentia un margine de schermo quando on approxima se
Comment[it]=Evidenzia il bordo dello schermo quando ti avvicini
Comment[kk]=Экран жиегіне жақындағанда оны бояп белгілеу
Comment[ko]=화면 경계에 도달할 때 강조하기
Comment[lt]=Paryškina ekrano kraštą kai priartėjama
Comment[mr]=पोहोचताना स्क्रीन किनारे ठळक करतो
Comment[nb]=Fremhever en skjermkant når den kommer nær
Comment[nl]=Accentueert een schermrand bij nadering
Comment[pl]=Podświetla krawędź ekranu przy zbliżaniu się do niej
Comment[pt]=Realça um extremo do ecrã ao aproximar-se
Comment[pt_BR]=Destaca a borda da tela quando se aproxima
Comment[ro]=Evidențiază o muchie a ecranului la apropiere
Comment[ru]=Выделяет край экрана при приближении к нему
Comment[sk]=Zvýrazní okraj obrazovky pri priblížení
Comment[sl]=Poudari rob zaslona, ko se mu približate
Comment[sr]=Истиче ивицу екрана при приближавању
Comment[sr@ijekavian]=Истиче ивицу екрана при приближавању
Comment[sr@ijekavianlatin]=Ističe ivicu ekrana pri približavanju
Comment[sr@latin]=Ističe ivicu ekrana pri približavanju
Comment[sv]=Markerar en skärmkant när man närmar sig den
Comment[tr]=Yaklaşıldığında bir ekran kenarını vurgular
Comment[uk]=Підсвічує край екрана у разі наближення вказівника
Comment[x-test]=xxHighlights a screen edge when approachingxx
Comment[zh_CN]=接近屏幕边缘时高亮显示
Comment[zh_TW]=接近時突顯螢幕邊緣

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_screenedge
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
