[Desktop Entry]
Name=Screen Edge
Name[de]=Bildschirmkante
Name[es]=Borde de la pantalla
Name[fi]=Näytön reuna
Name[nl]=Schermrand
Name[pt]=Extremo do Ecrã
Name[pt_BR]=Borda da tela
Name[sk]=Hrana obrazovky
Name[sr]=Ивица екрана
Name[sr@ijekavian]=Ивица екрана
Name[sr@ijekavianlatin]=Ivica ekrana
Name[sr@latin]=Ivica ekrana
Name[uk]=Край екрана
Name[x-test]=xxScreen Edgexx
Icon=preferences-system-windows-effect-screenedge
Comment=Highlights a screen edge when approaching
Comment[de]=Bildschirmkante bei Annäherung hervorheben
Comment[es]=Resalta el borde de la pantalla al aproximarse a él
Comment[fi]=Korostaa näytön reunaa sitä lähestyttäessä
Comment[nl]=Accentueert een schermrand bij nadering
Comment[pt]=Realça um extremo do ecrã ao aproximar-se
Comment[pt_BR]=Destaca a borda da tela quando se aproxima
Comment[sk]=Zvýrazní okraj obrazovky pri priblížení
Comment[sr]=Истиче ивицу екрана при приближавању
Comment[sr@ijekavian]=Истиче ивицу екрана при приближавању
Comment[sr@ijekavianlatin]=Ističe ivicu ekrana pri približavanju
Comment[sr@latin]=Ističe ivicu ekrana pri približavanju
Comment[uk]=Підсвічує край екрана у разі наближення вказівника
Comment[x-test]=xxHighlights a screen edge when approachingxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_screenedge
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=90
