[Desktop Entry]
Exec=kcmshell5 kwintouchscreen
Icon=preferences-desktop
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwintouchscreen
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktopbehavior
X-KDE-Weight=50

Name=Touch Screen
Name[ca]=Pantalla tàctil
Name[ca@valencia]=Pantalla tàctil
Name[cs]=Dotyková obrazovka
Name[da]=Touchskærm
Name[de]=Touchscreen
Name[el]=Οθόνη αφής
Name[en_GB]=Touch Screen
Name[es]=Pantalla táctil
Name[eu]=Ukimen-pantaila
Name[fi]=Kosketusnäyttö
Name[fr]=Pavé tactile
Name[gl]=Pantalla táctil
Name[he]=מסך מגע
Name[hu]=Érintőképernyő
Name[it]=Schermo a sfioramento
Name[ko]=터치 스크린
Name[lt]=Jutiklinis ekranas
Name[nl]=Aanraakscherm
Name[nn]=Trykkskjerm
Name[pa]=ਟੱਚ ਸਕਰੀਨ
Name[pl]=Ekran dotykowy
Name[pt]=Ecrã Táctil
Name[pt_BR]=Touch Screen
Name[ru]=Сенсорный экран
Name[sk]=Dotyková obrazovka
Name[sl]=Zaslon na dotik
Name[sr]=Додирник
Name[sr@ijekavian]=Додирник
Name[sr@ijekavianlatin]=Dodirnik
Name[sr@latin]=Dodirnik
Name[sv]=Pekskärm
Name[tr]=Dokunmatik Ekran
Name[uk]=Сенсорна панель
Name[x-test]=xxTouch Screenxx
Name[zh_CN]=触摸屏
Name[zh_TW]=觸控螢幕
Comment=Touch screen swipe gestures
Comment[ca]=Gestos de lliscament en la pantalla tàctil
Comment[ca@valencia]=Gestos de lliscament en la pantalla tàctil
Comment[da]=Strygegestusser til touchskærm
Comment[en_GB]=Touch screen swipe gestures
Comment[es]=Gestos de deslizamiento en pantalla táctil
Comment[eu]=Ukipen-pantailan irrist-keinuak
Comment[fi]=Kosketusnäytön pyyhkäisyeleet
Comment[fr]=Mouvements sur le pavé tactile
Comment[gl]=Xestos de pantalla táctil
Comment[he]=מחוות החלקה של מסכי מגע
Comment[hu]=Érintőképernyő-gesztusok
Comment[it]=Gesti dello schermo a sfioramento
Comment[ko]=터치 스크린 밀기 제스처
Comment[nl]=Veeggebaren voor aanraakscherm
Comment[nn]=Fingerrørsler på trykkskjerm
Comment[pa]=ਟੱਚ ਸਕਰੀਨ ਸਕਰਾਉਣ ਜੈਸਚਰ
Comment[pl]=Gesty na ekranie dotykowym
Comment[pt]=Gestos para deslizar o ecrã táctil
Comment[pt_BR]=Gestos no touch screen
Comment[ru]=Действия при проведении по сенсорному экрану
Comment[sk]=Ťahacie gestá dotykovej obrazovky
Comment[sl]=Kretnje vlečenja za zaslon na dotik
Comment[sr]=Гестови замаха на додирнику
Comment[sr@ijekavian]=Гестови замаха на додирнику
Comment[sr@ijekavianlatin]=Gestovi zamaha na dodirniku
Comment[sr@latin]=Gestovi zamaha na dodirniku
Comment[sv]=Draggester för pekskärm
Comment[tr]=Dokunmatik ekran kaydırma hareketleri
Comment[uk]=Жести на сенсорній панелі
Comment[x-test]=xxTouch screen swipe gesturesxx
Comment[zh_CN]=触摸屏滑动手势
Comment[zh_TW]=觸控螢幕滑動手勢

X-KDE-Keywords=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen
X-KDE-Keywords[ca]=kwin,finestra,gestor,efecte,vora,borde,acció,canvi,escriptori,vores d'escriptori,vores de pantalla,costat de pantalla,comportament de la pantalla,pantalla tàctil
X-KDE-Keywords[ca@valencia]=kwin,finestra,gestor,efecte,vora,borde,acció,canvi,escriptori,vores d'escriptori,vores de pantalla,costat de pantalla,comportament de la pantalla,pantalla tàctil
X-KDE-Keywords[da]=kwin,vindue,håndtering,manager,effekt,hjørne,kant,handling,skift,skrivebord,kwin skærmkanter,skrivebordskanter,skærmkanter,maksimer vinduer,tile windows,fliser,felter,siden af skærmen,skærmens opførsel,touch,skift skrivebord,virtuelle skriveborde,skærmhjørner,hjørner
X-KDE-Keywords[de]=KWin,Fenster,Verwaltung,Effekt,Kante,Rand,Aktion,Wechseln,Desktop,Arbeitsfläche,Bildschirmkanten,Desktopkanten,Bildschirmseite,Bildschirmverhalten,Touchscreen
X-KDE-Keywords[en_GB]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behaviour,touch screen
X-KDE-Keywords[es]=kwin,ventana,gestor,efecto,esquina,borde,acción,cambiar,escritorio,bordes del escritorio,bordes de la pantalla,lado de la pantalla,comportamiento de la pantalla,pantalla táctil
X-KDE-Keywords[eu]=kwin,leiho,kudeatzaile,efektu,izkin,ertz,ekintza,aldatu,mahaigain,mahaigainaren ertzak,pantailen ertzak,pantailaren aldea,pantailaren portaera,ukipen-pantaila
X-KDE-Keywords[fi]=kwin,ikkuna,hallinta,tehoste,kulma,laita,reuna,toiminto,vaihda,työpöytä,työpöydän reunat,näytön reunat,näytön laita,näytön käyttäytyminen,kosketusnäyttö
X-KDE-Keywords[fr]=kwin, fenêtre, gestionnaire, effet, bord, bordure, action, bascule, bureau, bords du bureau, bords de l'écran, côté de l'écran, comportement de l'écran, pavé tactile
X-KDE-Keywords[gl]=kwin,window,xanela,manager,xestor,effect,efecto,edge,beira,bordo,contorno,esquina,border,action,acción,switch,cambiar,conmutar,trocar,desktop,escritorio,desktop edges,screen edges,pantalla,side of screen,screen behavior,comportamento,touch screen,táctil
X-KDE-Keywords[hu]=kwin,ablak,kezelő,effektus,szél,szegély,művelet,váltás,asztal,asztalszél,képernyőszél,képernyőoldal,képernyő működése,érintőképernyő
X-KDE-Keywords[it]=kwin,finestra,gestore,effetto,angolo,bordo,azione,scambiatore,desktop,bordi desktop,bordi schermo,lato dello schermo,comportamento schermo,schermo a sfioramento
X-KDE-Keywords[ko]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen,창,관리자,효과,경계,경계선,동작,액션,데스크톱,화면 경계,경계,터치,터치 스크린,터치스크린
X-KDE-Keywords[nl]=kwin,venster,beheerder,effect,kant,rand,actie,omschakelen,bureaublad,bureaubladkanten,schermkanten,zijkant van het scherm,schermgedrag,aanraakscherm
X-KDE-Keywords[nn]=kwin,vindauge,handsamar,effekt,kant,ramme,handling,byte,skrivebord,skrivebordkantar,skjermkantar,skjermside,skjermåtferd,trykkskjerm
X-KDE-Keywords[pl]=kwin,okno,menadżer,efekt,krawędź,obramowanie,działanie,przełącz,pulpit,krawędzie pulpitu,krawędzie ekranu,strona ekranu,zachowanie ekranu,ekran dotykowy
X-KDE-Keywords[pt]=kwin,janela,gestor,efeito,extremo,contorno,acção,mudar,ecrã,extremos do ecrã no kwin,extremos do ecrã,maximizar as janelas,janelas lado-a-lado,lado do ecrã,comportamento do ecrã,ecrã táctil
X-KDE-Keywords[pt_BR]=kwin,janela,gerenciador,efeito,canto,contorno,borda,ação,mudar,área de trabalho,cantos da área de trabalho, desktop,lado da tela,comportamento da tela,touch screen
X-KDE-Keywords[ru]=kwin,window,manager,effect,corner,edge,border,action,switch,desktop,kwin screen edges,desktop edges,screen edges,maximize windows,tile windows,side of screen,screen behavior,switch desktop,virtual desktop,screen corners,окно,окон,диспетчер,эффект,край,граница,действие,переключить,рабочий стол,края экрана kwin,края экрана,края рабочего стола,распахнуть окна,мозаика окон,край экрана,поведение экрана,переключить рабочий стол,виртуальный рабочий стол,углы рабочего стола,углы экрана,тачскрин,сенсорный экран,touch screen
X-KDE-Keywords[sk]=Kwin, okná, manažér, efekt, okraj, hranice, akcie, prepínač, desktop, okraje plochy,Okraje obrazovky, bočná strana obrazovky, správanie obrazovky, dotyková obrazovka
X-KDE-Keywords[sl]=kwin,okno,upravljalnik oken,upravljanje oken,učinki,rob,obroba,dejanje,preklopi,preklapljanje,robovi namizja,robovi zaslona,rob zaslona,obnašanje zaslona,zaslon na dotik
X-KDE-Keywords[sr]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen,К‑вин,прозор,менаџер,ефекат,ивица,радња,пребаци,површ,ивице екрана,ивице површи,странице прозора,понашање прозора,додирник
X-KDE-Keywords[sr@ijekavian]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen,К‑вин,прозор,менаџер,ефекат,ивица,радња,пребаци,површ,ивице екрана,ивице површи,странице прозора,понашање прозора,додирник
X-KDE-Keywords[sr@ijekavianlatin]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen,KWin,prozor,menadžer,efekat,ivica,radnja,prebaci,površ,ivice ekrana,ivice površi,stranice prozora,ponašanje prozora,dodirnik
X-KDE-Keywords[sr@latin]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen,KWin,prozor,menadžer,efekat,ivica,radnja,prebaci,površ,ivice ekrana,ivice površi,stranice prozora,ponašanje prozora,dodirnik
X-KDE-Keywords[sv]=kwin,fönster,hanterare,effekt,kant,gräns,åtgärd,byta,skrivbord,skrivbordskanter,skärmkanter,skärmsidan,skärmbeteende,pekskärm
X-KDE-Keywords[tr]=kwin,pencere,yönetici,efekt,kenar,sınır,eylem,geçiş,masaüstü,masaüstü kenarları,ekran kenarları,ekranın yan tarafı,ekran davranışı,dokunmatik ekran
X-KDE-Keywords[uk]=kwin,window,manager,effect,corner,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen,вікно,керування,край,кут,межа,сторона,бік,дія,перемикання,стільниця,плитка,край екрана,поведінка екрана,перемикання стільниць,віртуальна стільниця,сенсорна панель
X-KDE-Keywords[x-test]=xxkwinxx,xxwindowxx,xxmanagerxx,xxeffectxx,xxedgexx,xxborderxx,xxactionxx,xxswitchxx,xxdesktopxx,xxdesktop edgesxx,xxscreen edgesxx,xxside of screenxx,xxscreen behaviorxx,xxtouch screenxx
X-KDE-Keywords[zh_CN]=kwin,window,manager,effect,corner,edge,border,action,switch,desktop,kwin screen edges,desktop edges,screen edges,maximize windows,tile windows,side of screen,screen behavior,switch desktop,virtual desktop,screen corners,窗口,管理,特效,角,边缘,动作,切换,桌面,kwin 屏幕边缘,屏幕边缘,桌面边缘,最大化窗口,平铺窗口,屏幕行为,桌面切换,虚拟桌面,屏幕角落
X-KDE-Keywords[zh_TW]=kwin,window,manager,effect,edge,border,action,switch,desktop,desktop edges,screen edges,side of screen,screen behavior,touch screen
