[Desktop Entry]
Exec=kcmshell4 kwinscreenedges
Icon=preferences-screen-edges
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kwinscreenedges/index.html

X-KDE-Library=kcm_kwinscreenedges
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop
X-KDE-Weight=65

Name=Screen Edges
Name[et]=Ekraani servad
Name[ga]=Ciumhaiseanna Scáileáin
Name[ja]=スクリーンエッジ
Name[ko]=화면 경계
Name[nb]=Skjermkanter
Name[nds]=Schirmkanten
Name[nl]=Schermranden
Name[pt]=Extremos do Ecrã
Name[pt_BR]=Contornos da tela
Name[ro]=Muchiile ecranului
Name[sv]=Skärmkanter
Name[tr]=Ekran Kenarları
Name[uk]=Краї екрана
Name[x-test]=xxScreen Edgesxx
Name[zh_TW]=螢幕邊緣

Comment=Configure active screen edges
Comment[et]=Aktiivsete ekraani servade seadistamine
Comment[ga]=Cumraigh ciumhaiseanna gníomhacha
Comment[ja]=アクティブスクリーンエッジを設定します
Comment[ko]=활성 화면 경계 설정
Comment[nb]=Tilpass aktive skjermkanter
Comment[nds]=Dat Bedregen vun de Schirmkanten instellen
Comment[nl]=Actieve schermranden instellen
Comment[pt]=Configurar os extremos activos do ecrã
Comment[pt_BR]=Configurar os contornos de tela ativos
Comment[ro]=Configurează muchiile active ale ecranului
Comment[sv]=Anpassa aktiva skärmkanter
Comment[tr]=Etkin ekran kenarlıklarını yapılandır
Comment[uk]=Налаштування активних країв екрана
Comment[x-test]=xxConfigure active screen edgesxx
Comment[zh_TW]=設定作用的螢幕邊緣

X-KDE-Keywords=kwin,window,manager,effect,edge,border,action,switch,desktop
