[Desktop Entry]
Exec=kcmshell5 kwinscreenedges
Icon=preferences-desktop
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kwinscreenedges/index.html

X-KDE-Library=kcm_kwinscreenedges
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=65

Name=Screen Edges
Name[ar]=حواف الشاشة
Name[ast]=Berbesos de pantalla
Name[bg]=Краища на екрана
Name[bs]=Ivice ekrana
Name[ca]=Vores de la pantalla
Name[ca@valencia]=Vores de la pantalla
Name[cs]=Hrany obrazovky
Name[csb]=Nórtë ekranu
Name[da]=Skærmkanter
Name[de]=Bildschirmränder
Name[el]=Άκρα οθόνης
Name[en_GB]=Screen Edges
Name[eo]=Ekrananguloj
Name[es]=Bordes de pantalla
Name[et]=Ekraani servad
Name[eu]=Pantailaren ertzak
Name[fi]=Näytön reunat
Name[fr]=Bords de l'écran
Name[fy]=Skerm rânen
Name[ga]=Ciumhaiseanna Scáileáin
Name[gl]=Bordes da pantalla
Name[gu]=સ્ક્રિનનાં ખૂણાઓ
Name[he]=קצוות מסך
Name[hi]=स्क्रीन सीमाएँ
Name[hr]=Rubovi ekrana
Name[hu]=Képernyőszélek
Name[ia]=Margines de schermo
Name[id]=Tepi Layar
Name[is]=Skjájaðrar
Name[it]=Lati dello schermo
Name[ja]=スクリーンエッジ
Name[kk]=Экран жиектері
Name[km]=គែម​អេក្រង់​
Name[kn]=ತೆರೆ ಅಂಚುಗಳು
Name[ko]=화면 경계
Name[lt]=Ekrano kraštai
Name[lv]=Ekrāna malas
Name[mai]=स्क्रीन किनार
Name[mk]=Рабови на екранот
Name[ml]=സ്ക്രീന്‍ അതിരുകള്‍
Name[mr]=स्क्रीनच्या कडा
Name[nb]=Skjermkanter
Name[nds]=Schirmkanten
Name[nl]=Schermranden
Name[nn]=Skjerm­kantar
Name[pa]=ਸਕਰੀਨ ਕੋਨੇ
Name[pl]=Krawędzie ekranu
Name[pt]=Extremos do Ecrã
Name[pt_BR]=Contornos da tela
Name[ro]=Muchiile ecranului
Name[ru]=Края экрана
Name[si]=තිර මුළු
Name[sk]=Okraje obrazovky
Name[sl]=Robovi zaslona
Name[sr]=Ивице екрана
Name[sr@ijekavian]=Ивице екрана
Name[sr@ijekavianlatin]=Ivice ekrana
Name[sr@latin]=Ivice ekrana
Name[sv]=Skärmkanter
Name[tg]=Пардаи экран
Name[th]=ขอบจอ
Name[tr]=Ekran Kenarları
Name[ug]=ئېكران گىرۋەكلىرى
Name[uk]=Краї екрана
Name[wa]=Boirds del waitroûle
Name[x-test]=xxScreen Edgesxx
Name[zh_CN]=屏幕边缘
Name[zh_TW]=螢幕邊緣

Comment=Active Screen Corners and Edges

X-KDE-Keywords=kwin,window,manager,effect,corner,edge,border,action,switch,desktop,kwin screen edges,desktop edges,screen edges,maximize windows,tile windows,side of screen,screen behavior,switch desktop,virtual desktop,screen corners
