[Desktop Entry]
Comment=Animation for a window going to maximize/restore from maximize
Comment[az]=Tam açıldıqdan sonra ölçüsü genişlnəcək/bərpa olunacaq pəncərənin animasiyası
Comment[bs]=Animacija za prozor koji ide u maksimiziranje/vraćanje iz maksimiziranja
Comment[ca]=Animació per a una finestra que es maximitza/restaura des de maximització
Comment[ca@valencia]=Animació per una finestra que es maximitza/restaura des de maximització
Comment[cs]=Animace okna pro maximalizaci/obnovení z maximalizace
Comment[da]=Animation til et vindue der er ved at maksimere/gendanne fra maksimering
Comment[de]=Animation für ein Fenster beim Maximieren und Wiederherstellen
Comment[el]=Εφέ κίνησης για παράθυρο που πρόκειται να εκτελέσει μεγιστοποίηση / επαναφορά από μεγιστοποίηση
Comment[en_GB]=Animation for a window going to maximise/restore from maximise
Comment[es]=Animación para una ventana que se va a maximizar o restaurar de una maximización
Comment[et]=Maksimeeritava või maksimeeritust taastatava akna animatsioon
Comment[eu]=Leihoa maximizatzera/maximizatutik leheneratzera doanerako animazioa
Comment[fi]=Animointi ikkunalle, joka suurennetaan tai palautetaan suurennuksesta
Comment[fr]=Animation pour une fenêtre passant d'un état maximisé vers un état maximisé / restauré
Comment[gl]=Animación das xanelas que se maximizan ou restauran maximizadas
Comment[he]=שינוי גודל החלון בצורה חלקה
Comment[hu]=Ablakanimáció maximalizáláskor / maximális méretről való visszaállításkor
Comment[ia]=Animation per un fenestra va maximisar/restabilir ab maximizar
Comment[id]=Animasi untuk window yang menuju ke maksimalkan/kembalikan dari maksimalkan
Comment[it]=Animazione per una finestra massimizzata o ripristinata dalla massimizzazione
Comment[kk]=Терезені кең жаю/қалпына қайтаруды анимациясы
Comment[ko]=최대화된 창이 최소화되거나 복원될 때 사용할 애니메이션
Comment[lt]=Lango išskleidimo/atkūrimo iš išskleidimo animacija
Comment[mr]=चौकट मोठी/पुन्हस्थापित करताना ऍनीमेट करा
Comment[nb]=Animering for et vindu som maksimeres/tilbakestilles fra maksimering
Comment[nds]=Animeren för en Finster, dat maximeert/vun maximeert wedderherstellt warrt
Comment[nl]=Animatie voor een venster dat gaat naar maximaliseren/herstellen vanuit maximaliseren
Comment[nn]=Vindaugsanimasjon i samband med bruk av maksimering/gjenoppretting.
Comment[pl]=Okna są gładko skalowane przy maksymalizacji i przy powrocie z niej
Comment[pt]=Animação para uma janela que se vai maximizar/repor da maximização
Comment[pt_BR]=Animação para uma janela a ser maximizada/restaurada
Comment[ro]=Animație pentru o fereastră ce trece la maximizare/restabilire din maximizare
Comment[ru]=Анимация для окна, которое будет максимизировано/восстановит размер после максимизации
Comment[sk]=Animácia pre okno pri maximalizácii/obnovení z maximalizácie
Comment[sl]=Animacija za razpenjanje okna ali obnavljanje iz razpetega okna
Comment[sr]=Анимација при максимизовању и обнављању прозора
Comment[sr@ijekavian]=Анимација при максимизовању и обнављању прозора
Comment[sr@ijekavianlatin]=Animacija pri maksimizovanju i obnavljanju prozora
Comment[sr@latin]=Animacija pri maksimizovanju i obnavljanju prozora
Comment[sv]=Animering för ett fönster som ska maximeras eller återställas från maximering
Comment[tr]=Pencerenin büyütülürken veya küçültülürken gösterilecek animasyon
Comment[uk]=Анімація для вікон під час максимізації/відновлення з максимізації
Comment[vi]=Hiệu ứng cho một cửa sổ chuẩn bị phóng to hoặc khôi phục lại từ trạng thái phóng to
Comment[x-test]=xxAnimation for a window going to maximize/restore from maximizexx
Comment[zh_CN]=窗口最大化/从最大化恢复时显示动画
Comment[zh_TW]=視窗最大化/回復時的動畫
Icon=preferences-system-windows-effect-maximize
Name=Maximize
Name[ast]=Maximización
Name[az]=Genişləndirmək
Name[bs]=Maksimiziraj
Name[ca]=Maximitza
Name[ca@valencia]=Maximitza
Name[cs]=Maximalizovat
Name[da]=Maksimér
Name[de]=Maximieren
Name[el]=Μεγιστοποίηση
Name[en_GB]=Maximise
Name[es]=Maximizar
Name[et]=Maksimeerimine
Name[eu]=Maximizatu
Name[fi]=Suurentaminen
Name[fr]=Maximiser
Name[ga]=Uasmhéadaigh
Name[gl]=Maximizar
Name[he]=שינוי גודל חלק
Name[hu]=Maximalizálás
Name[ia]=Maximiza
Name[id]=Maksimalkan
Name[is]=Hámarka
Name[it]=Massimizzazione
Name[ja]=最大化
Name[kk]=Кең жаю
Name[ko]=최대화
Name[lt]=Išskleisti
Name[mr]=मोठी करा
Name[nb]=Maksimer
Name[nds]=Maximeren
Name[nl]=Maximaliseren
Name[nn]=Maksimer
Name[pa]=ਵੱਧੋ-ਵੱਧ
Name[pl]=Animacja maksymalizacji
Name[pt]=Maximização
Name[pt_BR]=Maximizar
Name[ro]=Maximizează
Name[ru]=Максимизировать
Name[sk]=Maximalizovať
Name[sl]=Razpni
Name[sr]=Максимизовање
Name[sr@ijekavian]=Максимизовање
Name[sr@ijekavianlatin]=Maksimizovanje
Name[sr@latin]=Maksimizovanje
Name[sv]=Maximera
Name[tr]=Ekranı Kapla
Name[ug]=چوڭايت
Name[uk]=Максимізація
Name[x-test]=xxMaximizexx
Name[zh_CN]=最大化
Name[zh_TW]=最大化
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwin4_effect_maximize
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/maximize.js
X-KWin-Video-Url=https://files.kde.org/plasma/kwin/effect-videos/maximize.ogv
