[Desktop Entry]
Name=Window Aperture
Name[gl]=Apertura das xanelas
Name[nl]=Vensteropening
Name[pt]=Aperto das Janelas
Name[sk]=Otvor okien
Name[sv]=Fönsteröppning
Name[uk]=Апертура вікна
Name[zh_CN]=窗口光圈
Icon=preferences-system-windows-effect-windowaperture
Comment=Move window into the corners while showing desktop
Comment[gl]=Mover a xanela ás esquinas mentres se mostra o escritorio.
Comment[nl]=Schuif venster in de hoeken tijdens het tonen van het bureaublad
Comment[pt]=Mover a janela para os cantos, enquanto mostra o ecrã
Comment[sk]=Posun okna do rohov počas zobrazenia plochy
Comment[sv]=Flytta fönster till hörnen medan skrivbordet visas
Comment[uk]=Пересувати вікна в куток на час перегляду стільниці
Comment[zh_CN]=显示桌面时将窗口移动到角落

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_windowaperture
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Ordering=50
