[Desktop Entry]
Name=Dialog Parent
Name[nl]=Dialoogeigenaar
Name[uk]=Батьківське вікно
Name[x-test]=xxDialog Parentxx
Icon=preferences-system-windows-effect-dialog-parent
Comment=Darkens the parent window of the currently active dialog
Comment[nl]=Maakt het venster dat bij de ouder van de actieve dialoog hoort donkerder
Comment[uk]=Затемнення батьківських вікон активних діалогових вікон
Comment[x-test]=xxDarkens the parent window of the currently active dialogxx

Type=Service
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks, Martin Gräßlin
X-KDE-PluginInfo-Email=rivolaks@hot.ee, mgraesslin@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_dialogparent
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Focus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_dialogparent
X-KDE-Ordering=70
