[Desktop Entry]
Name=Show FPS
Name[af]=Wys FPS
Name[ar]=أظهر عدد الإطارات بالثانية
Name[ast]=Amuesa FPS
Name[be@latin]=Vyjaŭleńnie „FPS”
Name[bg]=Показване на кад/сек
Name[bn_IN]=FPS প্রদর্শন করা হবে
Name[bs]=Kadrovi/sekundi
Name[ca]=Mostra els FPS
Name[ca@valencia]=Mostra els FPS
Name[cs]=Zobrazit FPS
Name[csb]=Wëskrzëni FPS
Name[da]=Vis FPS
Name[de]=Bilder pro Sekunde anzeigen
Name[el]=Εμφάνιση καρέ ανά δευτερόλεπτο
Name[en_GB]=Show FPS
Name[eo]=Montri FPS
Name[es]=Muestra FPS
Name[et]=FPS-i näitamine
Name[eu]=Erakutsi FPS
Name[fa]=نمایش FPS
Name[fi]=Näytä FPS
Name[fr]=Afficher FPS
Name[fy]=FPS sjen litte
Name[ga]=Taispeáin FSS
Name[gl]=Mostrar os FPS
Name[gu]=FPS બતાવો
Name[he]=הצג מספר מסגרות לשנייה
Name[hi]=एफ़पीएस दिखायें
Name[hne]=एफपीएस देखाव
Name[hr]=Prikaz FPS-a (broj okvira po sekundi)
Name[hu]=Képkockaszámláló
Name[ia]=Monstra FPS
Name[id]=Tampilkan FPS
Name[is]=Sýna FPS (rammar á sekúndu)
Name[it]=Mostra fotogrammi al secondo
Name[ja]=フレームレート (FPS) 表示
Name[kk]=FPS-ты көрсету
Name[km]=បង្ហាញ FPS
Name[kn]=FPS ತೋರಿಸು
Name[ko]=FPS 표시
Name[ku]=FPS'ê nîşan bide
Name[lt]=FPS rodymas
Name[lv]=Rādīt kadrus/sek
Name[mai]=एफपीएस देखाबू
Name[mk]=Прикажи рамки/сек
Name[ml]=എഫ്‌പിഎസ് കാണിക്കുക
Name[mr]=एफपीएस दर्शवितो
Name[nb]=Vis FPS
Name[nds]=Bps wiesen
Name[ne]=एफपीएस देखाउनुहोस्
Name[nl]=FPS tonen
Name[nn]=Vis talet på bilete per sekund
Name[pa]=FPS ਵੇਖੋ
Name[pl]=Pokaż FPS
Name[pt]=Mostrar as IPS
Name[pt_BR]=Mostrar FPS
Name[ro]=Afișează CPS
Name[ru]=График производительности
Name[se]=Čájet rámmaid sekunddas
Name[si]=FPS පෙන්වන්න
Name[sk]=Zobraziť FPS
Name[sl]=Sličice na sekundo
Name[sr]=Кадрови/секунди
Name[sr@ijekavian]=Кадрови/секунди
Name[sr@ijekavianlatin]=Kadrovi/sekundi
Name[sr@latin]=Kadrovi/sekundi
Name[sv]=Visa ramar/s
Name[ta]=Show FPS
Name[te]=FPS ను చూపుము
Name[tg]=Намоиши FPS
Name[th]=แสดงอัตราเฟรมต่อวินาที
Name[tr]=FPS Göster
Name[ug]=FPS نى كۆرسەت
Name[uk]=Показ частоти кадрів
Name[vi]=Hiện FPS
Name[wa]=Mostrer FPS
Name[x-test]=xxShow FPSxx
Name[zh_CN]=显示 FPS
Name[zh_TW]=顯示每秒幾張
Icon=preferences-system-windows-effect-fps-show
Comment=Display KWin's performance in the corner of the screen
Comment[ar]=يُظهر أداء كوين في زاوية الشاشة
Comment[ast]=Amuesa'l rendimientu de KWin na esquina de la pantalla
Comment[bg]=Производителността на KWin се показва в ъгъла на екрана
Comment[bs]=Prikazuje performanse K‑vina u uglu ekrana
Comment[ca]=Mostra el rendiment del KWin a la cantonada de la pantalla
Comment[ca@valencia]=Mostra el rendiment del KWin a la cantonada de la pantalla
Comment[cs]=Zobrazuje výkon KWin v rohu obrazovky
Comment[da]=Vis KWins ydelse i hjørnet af skærmen
Comment[de]=Zeigt die Leistung von KWin in Bildern pro Sekunde an.
Comment[el]=Εμφάνιση επιδόσεων του KWin στη γωνία της οθόνης
Comment[en_GB]=Display KWin's performance in the corner of the screen
Comment[es]=Muestra el rendimiento de KWin en la esquina de la pantalla
Comment[et]=KWin'i jõudluse näitamine ekraani servas
Comment[eu]=Erakutsi KWin eraginkortasuna pantailaren iskinean
Comment[fi]=Näytä KWinin suorityskyky näytön nurkassa
Comment[fr]=Affiche les performances de KWin dans le coin de l'écran
Comment[fy]=Lit de prestaasje fn KWin sjen yn de hoek fan it skerm
Comment[ga]=Taispeáin feidhmíocht KWin i gcúinne an scáileáin
Comment[gl]=Mostra o rendemento de KWin nun canto da pantalla
Comment[gu]=સ્ક્રિનનાં ખૂણાં પર KWinની કાર્યક્ષમતા દર્શાવો
Comment[he]=הצגת הביצועים של KWin בצד המסך
Comment[hi]=स्क्रीन के किनारे के-विन के कार्य को प्रदर्शित करता है
Comment[hne]=केविन के परफारमेंस ल स्क्रीन के किनारा मं देखाव
Comment[hr]=Prikazuje brzinu rada KWin-a u kutu zaslona
Comment[hu]=A KWin teljesítményének kijelzése a képernyő sarkában
Comment[ia]=Monstra le rendimento de KWin in le angulo del schermo
Comment[id]=Tampilkan performa KWin di pojok layar
Comment[is]=Sýna afköst KWin í horni skjásins
Comment[it]=Mostra le prestazioni di KWin nell'angolo dello schermo
Comment[ja]=スクリーンの隅に KWin のパフォーマンスを表示します
Comment[kk]=Экранның бұрышында KWin жылдамдығын көрсетеді
Comment[km]=បង្ហាញ​ការ​អនុវត្ត​របស់ KWin នៅ​​ក្នុងជ្រុង​របស់​អេក្រង់
Comment[kn]=ತೆರೆಯ ಮೂಲೆಯಲ್ಲಿ ಕೆವಿನ್ ನ ಕಾರ್ಯಕ್ಷಮತೆಯನ್ನು ತೋರೀಸು
Comment[ko]=KWin의 성능을 화면 구석에 표시합니다
Comment[lt]=Rodo KWin greitaveiką ekrano kampe
Comment[lv]=Ekrāna stūrī rāda KWin veiktspēju
Comment[mk]=Ги прикажува перформансите на KWin во аголот од екранот
Comment[ml]=സ്ക്രീനിന്റെ കോണിലായി കെവിന്റെ പ്രകടനം കാണിയ്ക്കുക
Comment[nb]=Vis KWins ytelse i hjørnet av skjermen
Comment[nds]=KWin sien Leisten in't Schirmhuuk wiesen
Comment[nl]=Toont de prestaties van KWin in de hoek van het scherm
Comment[nn]=Vis KWin-ytinga i eit hjørne av skjermen
Comment[pa]=ਸਕਰੀਨ ਦੇ ਕੋਨੇ ਵਿੱਚ KWin ਦੀ ਕਾਰਗੁਜ਼ਾਰੀ ਵੇਖੋ
Comment[pl]=Pokazanie wydajności KWin w rogu ekranu
Comment[pt]=Mostrar a performance do KWin no canto do ecrã
Comment[pt_BR]=Mostra o desempenho do KWin no canto da tela
Comment[ro]=Afișează performanțele KWin în colțul ecranului
Comment[ru]=Показывать производительность эффектов в углу экрана
Comment[si]=තිරයේ මුල්ලක KWin හී කාර්‍යක්‍ෂමතාව පෙන්වන්න
Comment[sk]=Zobrazí výkon KWin v rohu obrazovky
Comment[sl]=V kotu zaslona je prikazana zmogljivost KWina
Comment[sr]=Приказује перформансе К‑вина у углу екрана
Comment[sr@ijekavian]=Приказује перформансе К‑вина у углу екрана
Comment[sr@ijekavianlatin]=Prikazuje performanse KWina u uglu ekrana
Comment[sr@latin]=Prikazuje performanse KWina u uglu ekrana
Comment[sv]=Visa prestanda för Kwin i hörnet av skärmen
Comment[ta]=Display KWin's performance in the corner of the screen
Comment[te]=స్క్రీన్ మూలలో KWinయొక్క పనితనమును ప్రదర్శించుము
Comment[th]=แสดงประสิทธิภาพของ KWin ในมุมของหน้าจอ
Comment[tr]=KWin başarımını ekranın köşesinde göster
Comment[ug]=ئېكران بۇلۇڭىدا KWin نىڭ ئۈنۈم سانلىق مەلۇماتىنى كۆرسەت
Comment[uk]=Показ параметра швидкодії KWin (частоти кадрів) у куті екрана
Comment[x-test]=xxDisplay KWin's performance in the corner of the screenxx
Comment[zh_CN]=在屏幕角落上显示 KWin 的性能数据
Comment[zh_TW]=在螢幕角落顯示 KWin 的效能

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Luboš Luňák
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_showfps
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
