[Desktop Entry]
Name=Enforces Window Decorations on GTK+ window
Name[bs]=Forsira dekoracije prozora u GTK+ prozoru
Name[ca]=Força la decoració de les finestres a les finestres GTK+
Name[ca@valencia]=Força la decoració de les finestres a les finestres GTK+
Name[cs]=Vynutí dekoraci oken na okně GTK+
Name[da]=Gennemtvinger vinduesdekorationer på GTK+-vinduer
Name[de]=Erzwingt Fensterdekorationen für „GTK+“-Fenster
Name[el]=Εξαναγκασμός διακοσμήσεων παραθύρου σε παράθυρο GTK+
Name[en_GB]=Enforces Window Decorations on GTK+ window
Name[es]=Fuerza decoraciones en las ventanas de GTK+
Name[et]=Akna dekoratsioonide kehtestamine GTK+ aknas
Name[eu]=GTK+ leihoengan leiho-apaingarriak behartzen ditu
Name[fi]=Pakottaa GTK+-ikkunoiden ikkunakehykset
Name[fr]=Forcer les décorations de fenêtres avec les fenêtres GTK+
Name[gl]=Aplica a decoración ás xanelas de GTK+
Name[he]=אכוף עיצוב מסגרת חלון לחלונות GTK
Name[hu]=Ablakdekorációk kényszerítése GTK+ ablakokra
Name[ia]=Applica Decorationes de fenestra sur fenestra GTK+
Name[id]=Memaksa Dekorasi Jendela pada jendela GTK+
Name[it]=Forza le decorazioni delle finestre GTK+
Name[ja]=GTK+ ウインドウのウィンドウの飾りを強制する
Name[ko]=GTK+ 창 장식 강제 사용
Name[lt]=Forsuoja lango dekoracijas GTK+ lange
Name[nb]=Påtvinger vinduspynt på GTK+-vindu
Name[nds]=Verdwingt dat Opfladusen ok vun GTK+-Finstern
Name[nl]=Dwingt vensterdecoraties af op GTK+ venster
Name[nn]=Tvingar vindagspynt på GTK+-vindauge
Name[pl]=Wymusza wygląd okien na oknach GTK+
Name[pt]=Forçar as Decorações das Janelas nas janelas em GTK+
Name[pt_BR]=Forçar as decorações das janelas em janelas GTK+
Name[ru]=Применение выбранного оформления к окнам GTK+
Name[sk]=Vynúti dekorácie okien na GTK+ okne
Name[sl]=Vsili okraske oken na oknih GTK+
Name[sr]=Наметање декорација прозора на ГТК+ прозор
Name[sr@ijekavian]=Наметање декорација прозора на ГТК+ прозор
Name[sr@ijekavianlatin]=Nametanje dekoracija prozora na GTK+ prozor
Name[sr@latin]=Nametanje dekoracija prozora na GTK+ prozor
Name[sv]=Tvingar fönsterdekorationer på GTK+ fönster
Name[tr]=GTK+ penceresinde Pencere Süslemelerini Yürütür
Name[uk]=Примусове декорування вікон для програм на основі GTK+
Name[x-test]=xxEnforces Window Decorations on GTK+ windowxx
Name[zh_CN]=强制对 GTK+ 窗口使用窗口装饰
Name[zh_TW]=強制 GTK+ 視窗的視窗裝飾
Comment=Fixes functional deficits for client side decorated windows.
Comment[bs]=Popravlja funkcionalne nedostatke klijentskih dekoracija prozora
Comment[ca]=Corregeix els dèficits funcionals amb les finestres decorades a la banda del client.
Comment[ca@valencia]=Corregeix els dèficits funcionals amb les finestres decorades a la banda del client.
Comment[da]=Løser funktionelle mangler ved vinduer med dekorationer på klientsiden.
Comment[de]=Behebt funktionale Defizite von Fenstern, die durch Klient-Programme dekoriert werden.
Comment[el]=Διόρθωση λειτουργικών ελαττωμάτων στις διακοσμήσεις παραθύρων στην πλευρά του πελάτη.
Comment[en_GB]=Fixes functional deficits for client side decorated windows.
Comment[es]=Fija deficiencias funcionales en ventanas decoradas en el lado cliente.
Comment[et]=Kliendipoolsete dekoratsioonidega akende funktsionaalsete puudujääkide parandamine.
Comment[eu]=Gabezia funtzionala konpontzen die bezeroen aldean apaindutako leihoei
Comment[fi]=Korjaa asiakkaan kehystämien ikkunoiden toiminnallisia puutteita.
Comment[fr]=Corrige les défaillances des fenêtres avec décorations gérées par le client.
Comment[gl]=Soluciona problemas funcionais de xanelas decoradas no lado do cliente.
Comment[hu]=Javítja a funkcionális hibákat a kliens oldalon dekorált ablakoknál.
Comment[id]=Memperbaiki defisit fungsional untuk dekorasi jendela pada sisi klien.
Comment[it]=Corregge i problemi funzionali delle finestre con decorazione lato client.
Comment[ko]=클라이언트에서 장식되는 창의 기능 오류를 수정합니다.
Comment[nb]=Retter opp manglende funksjonalitet for vinduer som er dekorert fra klientsiden.
Comment[nds]=Richt dat, wenn vun den Client dekoreert Finstern wiss Könen nich hebbt
Comment[nl]=Repareert functionele onvolkomenheden voor gedecoreerde vensters aan de zijde van de client.
Comment[nn]=Reparerer vindaugspyntmanglar for vindauge som vert dekorerte av klient.
Comment[pl]=Naprawia niedobory funkcjonalne dla okien wystrojonych po stronie klienta.
Comment[pt]=Fixa as deficiências funcionais para as janelas decoradas pelo cliente.
Comment[pt_BR]=Fixa as deficiências funcionais para as janelas decoradas pelo cliente.
Comment[ru]=Исправляет функциональные недостатки окон с собственным оформлением
Comment[sk]=Opraví funkčné deficity pre okná dekorované na klientskej strane.
Comment[sl]=Odpravi pomanjkanja zmožnosti za okna, ki so okrašena s strani odjemalca.
Comment[sr]=Исправља функционалне недостатке прозора декорисаних при клијенту
Comment[sr@ijekavian]=Исправља функционалне недостатке прозора декорисаних при клијенту
Comment[sr@ijekavianlatin]=Ispravlja funkcionalne nedostatke prozora dekorisanih pri klijentu
Comment[sr@latin]=Ispravlja funkcionalne nedostatke prozora dekorisanih pri klijentu
Comment[sv]=Fixar funktionella svagheter för fönster dekorerade på klientsidan
Comment[tr]=İstemci tarafı donatılmış pencereler için, işlevsel  açıkları düzeltir.
Comment[uk]=Виправляє недостатність функціональних можливостей для декорованих вікон на боці клієнта.
Comment[x-test]=xxFixes functional deficits for client side decorated windows.xx
Comment[zh_CN]=修复客户端窗口装饰的功能缺失。
Comment[zh_TW]=修正客戶端裝飾視窗功能不足的問題。
Icon=preferences-system-windows-script-enforcedeco

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=enforcedeco
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
