[Desktop Entry]
Name=Enforces Window Decorations on GTK+ window
Name[ca]=Força la decoració de les finestres a les finestres GTK+
Name[es]=Fuerza decoraciones en las ventanas de GTK+
Name[id]=Memaksa Dekorasi Jendela pada jendela GTK+
Name[nl]=Dwingt vensterdecoraties af op GTK+ venster
Name[pl]=Wymusza wystrój okien na oknach GTK+
Name[pt]=Forçar as Decorações das Janelas nas janelas em GTK+
Name[pt_BR]=Forçar as decorações das janelas em janelas GTK+
Name[sk]=Vynúti dekorácie okien na GTK+ okne
Name[sl]=Vsili okraske oken na oknih GTK+
Name[sv]=Tvingar fönsterdekorationer på GTK+ fönster
Name[uk]=Примусове декорування вікон для програм на основі GTK+
Name[x-test]=xxEnforces Window Decorations on GTK+ windowxx
Comment=Fixes functional deficits for client side decorated windows.
Comment[ca]=Corregeix els dèficits funcionals amb les finestres decorades a la banda del client.
Comment[es]=Fija deficiencias funcionales en ventanas decoradas en el lado cliente.
Comment[id]=Memperbaiki defisit fungsional untuk dekorasi jendela pada sisi klien.
Comment[nl]=Repareert functionele onvolkomenheden voor gedecoreerde vensters aan de zijde van de client.
Comment[pl]=Naprawia niedobory funkcjonalne dla okien wystrojonych po stronie klienta.
Comment[pt]=Fixa as deficiências funcionais para as janelas decoradas pelo cliente.
Comment[pt_BR]=Fixa as deficiências funcionais para as janelas decoradas pelo cliente.
Comment[sk]=Opraví funkčné deficity pre okná dekorované na klientskej strane.
Comment[sl]=Odpravi pomanjkanja zmožnosti za okna, ki so okrašena s strani odjemalca.
Comment[sv]=Fixar funktionella svagheter för fönster dekorerade på klientsidan
Comment[uk]=Виправляє недостатність функціональних можливостей для декорованих вікон на боці клієнта.
Comment[x-test]=xxFixes functional deficits for client side decorated windows.xx
Icon=preferences-system-windows-script-enforcedeco

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=enforcedeco
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
