[Desktop Entry]
Name=Redmond
Name[af]=Redmond
Name[ar]=ريدموند
Name[be]=Redmond
Name[be@latin]=Redmond
Name[bg]=Редмънд
Name[bn]=রেডমন্ড
Name[bn_IN]=Redmond (রেডমন্ড)
Name[br]=Redmond
Name[ca]=Redmond
Name[ca@valencia]=Redmond
Name[cs]=Redmond
Name[csb]=Redmond
Name[cy]=Redmond
Name[da]=Redmond
Name[de]=Redmond
Name[el]=Redmond
Name[en_GB]=Redmond
Name[eo]=Redmondo
Name[es]=Redmond
Name[et]=Redmond
Name[eu]=Redmond
Name[fa]=ردموند
Name[fi]=Redmond
Name[fr]=Redmond
Name[fy]=Redmond
Name[ga]=Redmond
Name[gl]=Redmond
Name[gu]=રેડમન્ડ
Name[he]=Redmond
Name[hi]=रेडमण्ड
Name[hne]=रेडमन्ड
Name[hsb]=Redmond
Name[hu]=Redmond
Name[id]=Redmond
Name[is]=Redmond
Name[it]=Redmond
Name[ja]=Redmond
Name[ka]=რედმონდი
Name[kk]=Redmond
Name[km]=Redmond
Name[kn]=ರೆಡ್ಮಂಡ್
Name[ko]=레드몬드
Name[ku]=Redmond
Name[lt]=Redmond
Name[lv]=Redmond
Name[mai]=रेडमंड
Name[mk]=Редмонд
Name[ml]=റെഡ്മണ്ട്
Name[mr]=रेडमंड
Name[ms]=Redmond
Name[nb]=Redmond
Name[nds]=Redmond
Name[ne]=रेडमोन्ड
Name[nl]=Redmond
Name[nn]=Redmond
Name[oc]=Redmond
Name[pa]=ਰੀਡਮੋਂਡ
Name[pl]=Redmond
Name[pt]=Redmond
Name[pt_BR]=Redmond
Name[ro]=Redmond
Name[ru]=Редмонд
Name[se]=Redmond
Name[si]=Redmond
Name[sk]=Redmond
Name[sl]=Redmond
Name[sr]=Редмонд
Name[sr@ijekavian]=Редмонд
Name[sr@ijekavianlatin]=Redmond
Name[sr@latin]=Redmond
Name[sv]=Redmond
Name[ta]=ரெட்மான்ட்
Name[te]=రెడ్‌మాండ్
Name[tg]=Редмонд
Name[th]=เรดมอนด์
Name[tr]=Redmond
Name[uz]=Redmond
Name[uz@cyrillic]=Редмонд
Name[vi]=Redmond
Name[wa]=Redmond
Name[xh]=Redmond
Name[x-test]=xxRedmondxx
Name[zh_CN]=Redmond
Name[zh_TW]=Redmond
X-KDE-Library=kwin3_redmond
