[Desktop Entry]
Encoding=UTF-8
Name=Redmond
Name[af]=redmond
Name[eo]=Redmondo
Name[ko]=레드몬드
Name[lv]=Redmonda
Name[pt_BR]=Demônio
Name[xh]=iRedmond
Name[xx]=xx
Name[zu]=I Redmond
X-KDE-Library=kwin_redmond
