[Desktop Entry]
Name=Sidebar
Name[nl]=Zijbalk
Name[uk]=Бічна панель
Name[x-test]=xxSidebarxx
Comment=A window switcher with live thumbnails on the screen side
Comment[nl]=Een vensterwisselaar met levende miniaturen aan kant van het scherm
Comment[uk]=Засіб перемикання вікон з інтерактивними мініатюрами збоку на екрані
Comment[x-test]=xxA window switcher with live thumbnails on the screen sidexx

Icon=preferences-system-windows-switcher-thumbnails

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=sidebar
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
