[Desktop Entry]
Name=Sidebar
Name[ar]=شريط جانبي
Name[ast]=Barra llateral
Name[bg]=Страничен панел
Name[bn]=সাইডবার
Name[ca]=Barra lateral
Name[ca@valencia]=Barra lateral
Name[cs]=Postranní lišta
Name[csb]=Bòcznô listew
Name[da]=Sidepanel
Name[de]=Navigationsbereich
Name[el]=Πλευρική μπάρα
Name[en_GB]=Sidebar
Name[eo]=Flanka breto
Name[es]=Barra lateral
Name[et]=Külgriba
Name[eu]=Alboko-barra
Name[fi]=Sivupalkki
Name[fr]=Barre latérale
Name[fy]=Sydbalke
Name[ga]=Barra Taoibh
Name[gl]=Barra lateral
Name[gu]=બાજુપટ્ટી
Name[he]=סרגל צד
Name[hi]=बाजूपट्टी
Name[hu]=Oldalsáv
Name[ia]=Barra lateral
Name[id]=Batang Sisi
Name[it]=Barra laterale
Name[kk]=Бүйірдегі панелі
Name[kn]=ಬದಿಯ ಪಟ್ಟಿ
Name[ko]=사이드바
Name[mai]=स्लाइडबार
Name[mk]=Странична лента
Name[ml]=വശത്തു് കാണുവാന്‍
Name[nb]=Sidestolpe
Name[nds]=Sietpaneel
Name[nl]=Zijbalk
Name[nn]=Sidestolpe
Name[pa]=ਬਾਹੀ
Name[pl]=Pasek boczny
Name[pt]=Barra Lateral
Name[pt_BR]=Barra lateral
Name[ro]=Bara laterală
Name[si]=පැති තීරුව
Name[sk]=Bočný panel
Name[sl]=Stranski pas
Name[sr]=Бочна трака
Name[sr@ijekavian]=Бочна трака
Name[sr@ijekavianlatin]=Bočna traka
Name[sr@latin]=Bočna traka
Name[sv]=Sidorad
Name[tg]=Панел
Name[th]=แถบข้าง
Name[tr]=Yan Çubuk
Name[uk]=Бічна панель
Name[wa]=Bår di costé
Name[x-test]=xxSidebarxx
Name[zh_CN]=侧边栏
Name[zh_TW]=邊列
Comment=A window switcher with live thumbnails on the screen side
Comment[ca]=Un commutador de finestres amb miniatures animades en un lateral de la pantalla
Comment[ca@valencia]=Un commutador de finestres amb miniatures animades en un lateral de la pantalla
Comment[da]=En vinduesskifter som bruger aktive miniaturer på skærmsiden
Comment[de]=Ein Fensterwechsler-Layout, das Live-Vorschauen an der Seite des Bildschirms verwendet
Comment[el]=Εναλλαγή παραθύρων με ζωντανές εικόνες επισκόπησης στη πλευρά της οθόνης
Comment[es]=Un cambiador de ventanas con miniaturas en tiempo real en el borde de la pantalla
Comment[eu]=pantailaren bazterrean koadro-txiki bizidunak dituen leiho-aldatzaile bat
Comment[fi]=Näytön laidassa oleva tehtävänvalitsimen asettelu, joka käyttää pienoiskuvia
Comment[fr]=Un sélecteur de fenêtres utilisant des aperçus en temps réel sur le bord de l'écran
Comment[gl]=Unha disposición do alternador de xanelas que usa miniaturas ao vivo no lado da pantalla
Comment[hu]=Egy ablakváltó élő bélyegképekkel a képernyőoldalon
Comment[ia]=Un commutator de fenestra usante miniaturas vive sur le latere del schermo
Comment[kk]=Экран жағында "тірі" нобайларын көрсететілін терезе ауыстырғышы
Comment[ko]=화면 가장자리에서 창의 미리 보기 그림을 보여 주는 창 전환기
Comment[nb]=En vindusbytter som bruker sanntids minibilder på siden av skjermen
Comment[nds]=En Finsterwessel mit Finster-Vöransichten an de Schirmkant
Comment[nl]=Een vensterwisselaar met levende miniaturen aan kant van het scherm
Comment[pl]=Przełącznik okien z żywymi miniaturami na boku ekranu
Comment[pt]=Um selector de janelas que usa miniaturas geradas na hora de lado do ecrã
Comment[pt_BR]=Um seletor de janelas que usa miniaturas geradas na hora ao lado da tela
Comment[sk]=Prepínač okien so živými miniatúrami na strane obrazovky
Comment[sl]=Razpored preklapljanja med okni, ki uporablja žive sličice na robu zaslona
Comment[sr]=Мењање прозора преко живих сличица уз ивицу екрана
Comment[sr@ijekavian]=Мењање прозора преко живих сличица уз ивицу екрана
Comment[sr@ijekavianlatin]=Menjanje prozora preko živih sličica uz ivicu ekrana
Comment[sr@latin]=Menjanje prozora preko živih sličica uz ivicu ekrana
Comment[sv]=Fönsterbytare med direkta miniatyrbilder vid skärmens kant
Comment[tr]=Ekran kenarında canlı canlı küçük resimleri gösteren bir pencere değiştirici
Comment[uk]=Засіб перемикання вікон з інтерактивними мініатюрами збоку на екрані
Comment[x-test]=xxA window switcher with live thumbnails on the screen sidexx
Comment[zh_CN]=一个在屏幕边缘显示实时预览的窗口切换器
Comment[zh_TW]=螢幕邊緣視窗切換器，附即時縮圖

Icon=preferences-system-windows-switcher-thumbnails

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=sidebar
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
