[Desktop Entry]
Name=Sidebar
Name[ar]=شريط جانبي
Name[ast]=Barra llateral
Name[bg]=Страничен панел
Name[bn]=সাইডবার
Name[csb]=Bòcznô listew
Name[da]=Sidepanel
Name[de]=Navigationsbereich
Name[el]=Πλευρική μπάρα
Name[en_GB]=Sidebar
Name[eo]=Flanka breto
Name[et]=Külgriba
Name[eu]=Alboko-barra
Name[fr]=Barre latérale
Name[fy]=Sydbalke
Name[ga]=Barra Taoibh
Name[gu]=બાજુપટ્ટી
Name[he]=סרגל צד
Name[hi]=बाजूपट्टी
Name[hu]=Oldalsáv
Name[ia]=Barra lateral
Name[id]=Batang Sisi
Name[it]=Barra laterale
Name[kk]=Бүйірдегі панелі
Name[kn]=ಬದಿಯ ಪಟ್ಟಿ
Name[mai]=स्लाइडबार
Name[mk]=Странична лента
Name[ml]=വശത്തു് കാണുവാന്‍
Name[nds]=Sietpaneel
Name[nl]=Zijbalk
Name[pa]=ਬਾਹੀ
Name[pl]=Pasek boczny
Name[ro]=Bara laterală
Name[si]=පැති තීරුව
Name[sl]=Stranski pas
Name[sv]=Sidorad
Name[tg]=Панел
Name[th]=แถบข้าง
Name[tr]=Yan Çubuk
Name[wa]=Bår di costé
Name[zh_CN]=侧边栏
Name[zh_TW]=邊列
Comment=A window switcher with live thumbnails on the screen side

Icon=preferences-system-windows-switcher-thumbnails

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=sidebar
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
