# KDE Desktop Entry
[Desktop Entry]
Name=Oxygen
Name[csb]=Krziseń
Name[es]=Oxígeno
Name[gu]=ઓક્સિજન
Name[hi]=आक्सीजन
Name[kk]=Оттегі
Name[km]=អុកស៊ីហ្សែន
Name[ne]=अक्सिजन
Name[nn]=Oksygen
Name[pa]=ਆਕਸੀਜਨ
Name[se]=Oksygena
Name[sr]=Кисеоник
Name[sr@latin]=Kiseonik
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
X-KDE-Library=kwin3_oxygen
