# KDE Desktop Entry
[Desktop Entry]
Name=Oxygen
Name[af]=Oxygen
Name[ar]=أكسجين
Name[as]=Oxygen
Name[be]=Oxygen
Name[be@latin]=Oxygen
Name[bg]=Oxygen
Name[bn]=অক্সিজেন
Name[bn_IN]=Oxygen
Name[ca]=Oxygen
Name[ca@valencia]=Oxygen
Name[cs]=Oxygen
Name[csb]=Krziseń
Name[da]=Oxygen
Name[de]=Oxygen
Name[el]=Oxygen
Name[en_GB]=Oxygen
Name[eo]=Oxygen
Name[es]=Oxígeno
Name[et]=Oxygen
Name[eu]=Oxygen
Name[fi]=Oxygen
Name[fr]=Oxygen
Name[fy]=Oxygen
Name[ga]=Oxygen
Name[gl]=Oxygen
Name[gu]=ઓક્સિજન
Name[he]=Oxygen
Name[hi]=आक्सीजन
Name[hne]=आक्सीजन
Name[hr]=Oxygen
Name[hsb]=Oxygen
Name[hu]=Oxygen
Name[id]=Oksigen
Name[is]=Oxygen
Name[it]=Oxygen
Name[ja]=Oxygen
Name[kk]=Оттегі
Name[km]=អុកស៊ីហ្សែន
Name[kn]=ಆಕ್ಸಿಜನ್
Name[ko]=Oxygen
Name[ku]=Oxygen
Name[lt]=Oxygen
Name[lv]=Oxygen
Name[mai]=आक्सीजन
Name[mk]=Оксиген
Name[ml]=ഓക്സിജന്‍
Name[mr]=आक्सीजन
Name[nb]=Oxygen
Name[nds]=Oxygen
Name[ne]=अक्सिजन
Name[nl]=Oxygen
Name[nn]=Oksygen
Name[or]=ଅକ୍ସିଜେନ
Name[pa]=ਆਕਸੀਜਨ
Name[pl]=Oxygen
Name[pt]=Oxygen
Name[pt_BR]=Oxygen
Name[ro]=Oxygen
Name[ru]=Oxygen
Name[se]=Oksygena
Name[si]=Oxygen
Name[sk]=Oxygen
Name[sl]=Kisik
Name[sr]=Кисеоник
Name[sr@latin]=Kiseonik
Name[sv]=Oxygen
Name[ta]=ஆக்ஸிஜன்
Name[te]=Oxygen
Name[tg]=Oxygen
Name[th]=รูปแบบ Oxygen
Name[tr]=Oxygen
Name[uk]=Oxygen
Name[uz]=Oxygen
Name[uz@cyrillic]=Oxygen
Name[vi]=Oxygen
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
Name[zh_CN]=Oxygen
Name[zh_TW]=Oxygen
X-KDE-Library=kwin3_oxygen
