[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/desktop/index.html
Icon=preferences-desktop
Exec=kcmshell4 desktop

X-KDE-Library=kcm_kwindesktop
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=60

Name=Virtual Desktops

Comment=You can configure how many virtual desktops there are.
X-KDE-Keywords=desktop,desktops,number,virtual desktop
X-KDE-Keywords[be]=Працоўны стол,Працоўныя сталы,Колькасць,Віртуальны працоўны стол,Віртуальныя працоўныя сталы,desktop,desktops,number,virtual desktop
X-KDE-Keywords[bg]=Keywords=работен, плот, брой, виртуален, desktop, number, virtual desktop
X-KDE-Keywords[br]=burev,burevioù,niver,burev galloudel
X-KDE-Keywords[ca]=escriptori,escriptoris,número,escriptori virtual
X-KDE-Keywords[cs]=Pracovní plocha,Počet,Virtuální plocha,Plocha
X-KDE-Keywords[csb]=desktop,biurkò,biurka,pùlt,pùltë,wielëna,wirtualné biurkò,wirtualny pùlt
X-KDE-Keywords[cy]=penbwrdd, penbyrddau,rhif,penbwrdd rhith
X-KDE-Keywords[da]=desktop,desktoppe,antal,virtuelt desktop
X-KDE-Keywords[de]=Arbeitsfläche,Desktop,Anzahl,Virtuelle Arbeitsfläche
X-KDE-Keywords[el]=επιφάνεια εργασίας,επιφάνειες εργασίας,αριθμός,εικονική επιφάνεια εργασίας
X-KDE-Keywords[eo]=tabulo,tabuloj,nombro,virtuala tabulo
X-KDE-Keywords[es]=escritorio,escritorios,número,escritorio virtual
X-KDE-Keywords[et]=töölaud,töölauad,arv,virtuaalne töölaud
X-KDE-Keywords[eu]=mahaigaina, mahaigainak,zenbakia,mahaigain birtuala
X-KDE-Keywords[fa]=رومیزی، رومیزیها، تعداد، رومیزی مجازی
X-KDE-Keywords[fi]=työpöytä,työpöydät,lukumäärä,virtuaalityöpöytä
X-KDE-Keywords[fr]=bureau,bureaux,numéro,bureaux virtuels
X-KDE-Keywords[fy]=desktop,buroblêd,buroblêden,namme fan buroblêd,nûmmer,buroblêdtelling,firtuele buroblêden
X-KDE-Keywords[ga]=deasc,deasca,uimhir,deasc fhíorúil
X-KDE-Keywords[gl]=escritório,escritórios,número,escritório virtual
X-KDE-Keywords[he]=שולחן עבודה,שולחנות עבודה,מספר,שולחן עבודה וירטואלי, desktop,desktops,number,virtual desktop
X-KDE-Keywords[hr]=desktop,desktops,number,virtual desktop,radna površina,broj,virtualna radna površina
X-KDE-Keywords[hu]=munkaasztal,munkaasztalok,szám,virtuális munkaasztal
X-KDE-Keywords[is]=skjáborð,nafn,heiti,númer,fjöldi
X-KDE-Keywords[it]=desktop,nome desktop,numero di desktop,desktop virtuali
X-KDE-Keywords[ja]=デスクトップ,数,仮想デスクトップ
X-KDE-Keywords[ka]=სამუშაო მაგიდა,სამუშაო მაგიდები,რიცხვი,ვირტუალური სამუშაო მაგიდა
X-KDE-Keywords[km]=ផ្ទៃតុ ផ្ទៃតុ លេខ ផ្ទៃតុ​និម្មិត
X-KDE-Keywords[ko]=Desktops,Name,Number of Desktops,Desktopcount,데스크톱,이름,데스크톱 번호,데스크탑 개수
X-KDE-Keywords[lt]=desktop,desktops,darbastaliai,number,skaičius,menamas darbastalis
X-KDE-Keywords[lv]=Darbvirsma,Darbavirsmas,Skaits,virtuālā darbvirsma
X-KDE-Keywords[mk]=desktop,desktops,number,virtual desktop,работна површина,површина,работни површини,површини,број,виртуелна површина
X-KDE-Keywords[ms]=desktop,desktop,bilangan,desktop maya
X-KDE-Keywords[nb]=Skrivebord,antall,virtuelt skrivebord
X-KDE-Keywords[nds]=Schriefdisch,Schriefdischen,Tall,virtuelle Schriefdischen
X-KDE-Keywords[ne]=डेस्कटप, डेस्कटपहरू, सङ्ख्या, अवास्तविक डेस्कटप
X-KDE-Keywords[nl]=desktop,bureaublad,bureaubladen,naam van bureaublad,nummer,bureaubladtelling,virtuele bureaubladen
X-KDE-Keywords[nn]=skrivebord,nummer,virtuelt skrivebord
X-KDE-Keywords[pa]=desktop,desktops,number,virtual desktop,ਵੇਹੜੇ,ਗਿਣਤੀ
X-KDE-Keywords[pl]=desktop,biurko,biurka,pulpit,pulpity,numer,wirtualne biurko,wirtualny pulpit
X-KDE-Keywords[pt]=ecrã,ambiente de trabalho,número,ecrã virtual
X-KDE-Keywords[pt_BR]=área de trabalho,áreas de trabalho,número,área de trabalho virtual
X-KDE-Keywords[ro]=ecran,număr,ecran virtual,afişare,monitor
X-KDE-Keywords[se]=čállinbeavdi,čállinbeavddit,nummir,virtuella čállinbeavdi
X-KDE-Keywords[sl]=namizje,ime,številka,število namizij,navidezno
X-KDE-Keywords[sr]=desktop,desktops,number,virtual desktop,радна површ,број,виртуелна радна површ
X-KDE-Keywords[sr@latin]=desktop,desktops,number,virtual desktop,radna površ,broj,virtuelna radna površ
X-KDE-Keywords[sv]=skrivbord,antal skrivbord,antal,virtuellt skrivbord
X-KDE-Keywords[ta]=மேல்மேசை, மேல்மேசைகள்,எண்ணிக்கை,மெய்நிகர் மேல்மேசை
X-KDE-Keywords[th]=พื้นที่ทำงาน,พื้นที่ทำงานหลายพื้นที่,จำนวน,พื้นที่ทำงานเสมือน
X-KDE-Keywords[tr]=masaüstü,isim,masaüstü sayısı,sanal masaüstü
X-KDE-Keywords[uk]=стільниця,стільниці,номер,віртуальна стільниця
X-KDE-Keywords[uz]=иш столи,иш столлари,сон,виртуал иш столи
X-KDE-Keywords[vi]=màn hình nền,các màn hình nền,số,màn hình nền ảo
X-KDE-Keywords[wa]=sicribanne,scribanne,sicribannes,scribannes,forveyou scribanne
X-KDE-Keywords[x-test]=xxdesktop,desktops,number,virtual desktopxx
X-KDE-Keywords[zh_CN]=desktop,desktops,number,virtual desktop,桌面,数量,虚拟桌面
X-KDE-Keywords[zh_TW]=desktop,number,virtual desktop,桌面,編號,虛擬桌面
