[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/desktop/index.html
Icon=preferences-desktop
Exec=kcmshell5 desktop

X-KDE-Library=kcm_kwindesktop
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=60

Name=Virtual Desktops

Comment=You can configure how many virtual desktops there are.
X-KDE-Keywords=desktop,desktops,number,virtual desktop,multiple desktops,pager,pager widget,pager applet,pager settings
