[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_presentwindows_config
X-KDE-ParentComponents=kwin4_effect_presentwindows

Name=Present Windows
Name[uk]=Показ вікон
Name[x-test]=xxPresent Windowsxx
