[Desktop Entry]
Name=Present Windows
Icon=preferences-system-windows-effect-presentwindows
Comment=Zoom out until all opened windows can be displayed side-by-side

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Rivo Laks & Lucas Murray
X-KDE-PluginInfo-Email=rivolaks@hot.ee & lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_presentwindows
X-KDE-PluginInfo-Version=0.3.0
X-KDE-PluginInfo-Category=Window Management
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=70
