[Desktop Entry]
Name=Thumbnails
Name[cs]=Miniatury
Name[de]=Vorschaubilder
Name[ia]=Miniaturas
Name[nb]=Minibilder
Name[nl]=Miniaturen
Name[pl]=Miniatury
Name[pt]=Miniaturas
Name[pt_BR]=Miniaturas
Name[sv]=Miniatyrbilder
Name[uk]=Мініатюри
Name[x-test]=xxThumbnailsxx
Name[zh_TW]=縮圖
Comment=A window switcher layout using live thumbnails
Comment[ia]=Un disposition de commutator de fenestra usante miniaturas vive
Comment[nb]=En vindusbytterutforming som bruker sanntids minibilder
Comment[nl]=Een indeling van de vensterwisselaar met levende miniaturen
Comment[pl]=Układ przełączania okien używający "żywych" miniatur
Comment[pt]=Uma disposição de mudança de janelas que usa miniaturas geradas na hora
Comment[pt_BR]=Um leiaute do seletor de janelas que usa miniaturas geradas na hora
Comment[sv]=En layout för fönsterbyte som använder direkta miniatyrbilder
Comment[uk]=Компонування засобу перемикання вікон з мініатюрами поточного стану вікон
Comment[x-test]=xxA window switcher layout using live thumbnailsxx
Comment[zh_TW]=使用即時縮圖的視窗切換器佈局
Icon=preferences-system-windows-switcher-thumbnails

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=thumbnails
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
