[Desktop Entry]
Name=Thumbnails
Name[ca]=Miniatures
Name[cs]=Miniatury
Name[da]=Miniaturer
Name[de]=Vorschaubilder
Name[el]=Εικόνες επισκόπησης
Name[es]=Miniaturas
Name[et]=Pisipildid
Name[fi]=Pienoiskuvat
Name[hu]=Bélyegképek
Name[ia]=Miniaturas
Name[it]=Miniature
Name[kk]=Нобайлар
Name[km]=រូបភាព​តូចៗ
Name[nb]=Minibilder
Name[nl]=Miniaturen
Name[pa]=ਥੰਮਨੇਲ
Name[pl]=Miniatury
Name[pt]=Miniaturas
Name[pt_BR]=Miniaturas
Name[sl]=Sličice
Name[sr]=Сличице
Name[sr@ijekavian]=Сличице
Name[sr@ijekavianlatin]=Sličice
Name[sr@latin]=Sličice
Name[sv]=Miniatyrbilder
Name[tr]=Küçük Resimler
Name[uk]=Мініатюри
Name[x-test]=xxThumbnailsxx
Name[zh_CN]=缩略图
Name[zh_TW]=縮圖
Comment=A window switcher layout using live thumbnails
Comment[ca]=Una disposició del commutador de finestres que utilitza miniatures animades
Comment[da]=Et vinduesskifter-layout som bruger aktive miniaturer
Comment[de]=Ein Fensterwechsler-Layout, das Live-Vorschauen verwendet
Comment[es]=Un esquema de cambiador de ventanas que usa miniaturas en tiempo real
Comment[et]=Aknavahetaja paigutus reaalajas pisipiltidega
Comment[fi]=Tehtävänvalitsimen asettelu, joka käyttää pienoiskuvia
Comment[hu]=Egy ablakváltó elrendezés, amely élő bélyegképeket használ
Comment[ia]=Un disposition de commutator de fenestra usante miniaturas vive
Comment[it]=Una disposizione di cambiafinestre che usa miniature dinamiche
Comment[kk]="Тірі" нобайларын көрсететілін терезе ауыстырғышының қалыпы
Comment[km]=ប្លង់​កម្មវិធី​ប្ដូរ​បង្អួច ដោយ​ប្រើ​រូបភាព​តូចៗ​បន្ត​ផ្ទាល់
Comment[nb]=En vindusbytterutforming som bruker sanntids minibilder
Comment[nl]=Een indeling van de vensterwisselaar met levende miniaturen
Comment[pl]=Układ przełączania okien używający "żywych" miniatur
Comment[pt]=Uma disposição de mudança de janelas que usa miniaturas geradas na hora
Comment[pt_BR]=Um leiaute do seletor de janelas que usa miniaturas geradas na hora
Comment[sl]=Razpored preklapljanja med okni, ki uporablja žive sličice
Comment[sr]=Распоред мењача прозора са живим сличицама
Comment[sr@ijekavian]=Распоред мењача прозора са живим сличицама
Comment[sr@ijekavianlatin]=Raspored menjača prozora sa živim sličicama
Comment[sr@latin]=Raspored menjača prozora sa živim sličicama
Comment[sv]=En layout för fönsterbyte som använder direkta miniatyrbilder
Comment[tr]=Bir pencere değiştirme düzeni canlı küçük resimleri gösteriyor
Comment[uk]=Компонування засобу перемикання вікон з мініатюрами поточного стану вікон
Comment[vi]=Một kiểu chuyển đổi cửa sổ sử dụng các hình nhỏ của ứng dụng
Comment[x-test]=xxA window switcher layout using live thumbnailsxx
Comment[zh_TW]=使用即時縮圖的視窗切換器佈局
Icon=preferences-system-windows-switcher-thumbnails

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Martin Gräßlin
X-KDE-PluginInfo-Email=mgraesslin@kde.org
X-KDE-PluginInfo-Name=thumbnails
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/WindowSwitcher
Type=Service
