[Desktop Entry]
Name=KWin Script
Name[az]=Kwin skripti
Name[ca]=Script del KWin
Name[ca@valencia]=Script de KWin
Name[cs]=Skript KWinu
Name[da]=KWin-script
Name[de]=KWin-Skript
Name[el]=Σενάριο KWin
Name[en_GB]=KWin Script
Name[es]=Guion de KWin
Name[et]=KWini skript
Name[eu]=KWin scripta
Name[fi]=KWin-skripti
Name[fr]=Script KWin
Name[gl]=Script de KWin
Name[hu]=KWin szkript
Name[ia]=Script de KWin
Name[id]=Skrip KWin
Name[it]=Script di KWin
Name[ko]=KWin 스크립트
Name[lt]=KWin scenarijus
Name[nl]=KWin-script
Name[nn]=KWin-skript
Name[pa]=KWin ਸਕ੍ਰਿਪਟ
Name[pl]=Skrypt KWin
Name[pt]=Programa do KWin
Name[pt_BR]=Script do KWin
Name[ro]=Script KWin
Name[ru]=Сценарий KWin
Name[sk]=KWin skript
Name[sl]=Skript KWin
Name[sr]=К‑винова скрипта
Name[sr@ijekavian]=К‑винова скрипта
Name[sr@ijekavianlatin]=KWinova skripta
Name[sr@latin]=KWinova skripta
Name[sv]=Kwin-skript
Name[tr]=KWin Betiği
Name[uk]=Скрипт KWin
Name[x-test]=xxKWin Scriptxx
Name[zh_CN]=KWin 脚本
Name[zh_TW]=KWin 指令稿
Type=Service
X-KDE-ServiceTypes=KPackage/PackageStructure
X-KDE-Library=kwin_packagestructure_scripts

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=KWin/Script
X-KDE-PluginInfo-Version=1
