[Desktop Entry]
Name=Scale
Name[ca]=Escala
Name[ca@valencia]=Escala
Name[cs]=Měřítko
Name[de]=Skalieren
Name[el]=Κλιμάκωση
Name[en_GB]=Scale
Name[es]=Escalar
Name[eu]=Eskalatu
Name[fi]=Skaalaa
Name[fr]=Échelle
Name[gl]=Cambiar as dimensións
Name[hu]=Nagyítás
Name[id]=Scale
Name[it]=Scala
Name[ko]=크기 조정
Name[nl]=Schalen
Name[nn]=Skalering
Name[pl]=Skala
Name[pt]=Escala
Name[pt_BR]=Escala
Name[ru]=Масштабирование
Name[sk]=Škálovať
Name[sv]=Skala
Name[uk]=Масштабування
Name[x-test]=xxScalexx
Name[zh_CN]=缩放
Name[zh_TW]=縮放
Icon=preferences-system-windows-effect-scale
Comment=Make windows smoothly scale in and out when they are shown or hidden
Comment[ca]=Fa que les finestres entrin o surtin volant quan es mostren o s'oculten
Comment[ca@valencia]=Fa que les finestres entrin o isquen volant quan es mostren o s'oculten
Comment[de]=Ändert die Fenstergröße langsam beim Ein- oder Ausblenden
Comment[fi]=Ikkunat ilmestyvät näkyviin tai poistuvat näkyvistä hiljalleen
Comment[gl]=Facer que as xanelas crezan ou decrezan suavemente cando se mostran ou agochan
Comment[id]=Buat window menskala besar atau kecil secara mulus ketika ia ditampilkan atau disembunyikan
Comment[it]=Ridimensiona le finestre dolcemente quando sono mostrate o nascoste
Comment[nl]=Laat vensters vloeiend kleiner en groter schalen als ze worden getoond of verborgen
Comment[nn]=Skaler vindauge jamt inn og ut når dei vert viste eller gøymde
Comment[pt]=Fazer com que as janelas apareçam/desapareçam suavemente quando aparecem ou ficam escondidas
Comment[pt_BR]=Faz com que as janelas aumentem ou reduzam o seu tamanho de forma suave ao serem exibidas ou ocultadas
Comment[ru]=Плавное увеличение или уменьшение окон при их появлении и скрытии
Comment[sv]=Gör att fönster mjukt skalas in eller ut när de visas eller döljs
Comment[uk]=Плавне масштабування вікон при появі або приховуванні
Comment[x-test]=xxMake windows smoothly scale in and out when they are shown or hiddenxx
Comment[zh_CN]=窗口显示或隐藏时平滑缩放
Comment[zh_TW]=顯示或隱藏視窗時以平順的比例縮放方式呈現。

Type=Service
X-KDE-ServiceTypes=KWin/Effect,KCModule
X-KDE-PluginInfo-Author=Vlad Zagorodniy
X-KDE-PluginInfo-Email=vladzzag@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_scale
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Category=Window Open/Close Animation
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Ordering=60
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginKeyword=kwin4_effect_scale
X-KDE-Library=kcm_kwin4_genericscripted
X-KDE-ParentComponents=kwin4_effect_scale
X-KWin-Config-TranslationDomain=kwin_effects
X-KWin-Exclusive-Category=toplevel-open-close-animation
