[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/DesktopSwitcher

Comment=KWin Desktop Switcher Layout
Comment[ar]=تخطيط مبدل أسطح المكتب لكوين
Comment[az]=KWin İş masası dəyişdiricisi
Comment[be]=Макет пераключэння працоўных сталоў KWin
Comment[bg]=Превключване на работен плот на KWin
Comment[bs]=Izgled KWin prebacivača radnih površina
Comment[ca]=Disposició del commutador d'escriptoris del KWin
Comment[ca@valencia]=Disposició del commutador d'escriptoris de KWin
Comment[cs]=Rozvržení přepínače ploch KWin
Comment[da]=Layout til KWins skrivebordsskifter
Comment[de]=Arbeitsflächenwechsler-Layout
Comment[el]=Διάταξη εναλλαγής παραθύρων Kwin
Comment[en_GB]=KWin Desktop Switcher Layout
Comment[es]=Esquema del cambiador de escritorios de KWin
Comment[et]=KWini töölauavahetaja paigutus
Comment[eu]=KWin leiho-aldatzailearen diseinua
Comment[fi]=KWinin työpöydänvalitsimen asettelu
Comment[fr]=Une disposition du sélecteur de bureaux KWin
Comment[gl]=.Disposición do selector de escritorios de KWin.
Comment[he]=פריסת מחליף שולחנות עבודה של KWin
Comment[hu]=KWin asztalváltó elrendezés
Comment[ia]=Disposition de commutator de scriptorio de KWin
Comment[id]=Tata Letak Pengalih Desktop KWin
Comment[is]=Framsetning KWin skjáborðsskiptiaðgerðar
Comment[it]=Disposizione selettore desktop KWin
Comment[ja]=KWin デスクトップスイッチャーレイアウト
Comment[ka]=KWin -ის სამუშაო მაგიდის გადართვის განლაგება
Comment[kk]=KWin үстел ауыстырғышының қалыпы
Comment[ko]=KWin 바탕 화면 전환기 레이아웃
Comment[lt]=KWin darbalaukių perjungiklio išdėstymas
Comment[nb]=Utforming av KWin skrivebordsbytter
Comment[nds]=Utsehn vun de KWin-Schriefdischwesseln
Comment[nl]=KWin indeling van bureaubladwisselaar
Comment[nn]=Utforming for KWin-skrivebordsbytar
Comment[pa]=KWin ਡੈਸਕਟਾਪ ਸਵਿੱਚਰ ਲੇਆਉਟ
Comment[pl]=Układ przełączania pulpitów KWin
Comment[pt]=Disposição da Mudança de Ecrãs do KWin
Comment[pt_BR]=Layout do seletor de área de trabalho do KWin
Comment[ro]=Aranjament pentru comutator de birouri KWin
Comment[ru]=Переключатель рабочих столов для KWin
Comment[sk]=Rozloženie prepínača okien KWin
Comment[sl]=Razpored preklapljanja med namizji
Comment[sr]=Распоред К‑виновог мењача површи
Comment[sr@ijekavian]=Распоред К‑виновог мењача површи
Comment[sr@ijekavianlatin]=Raspored KWinovog menjača površi
Comment[sr@latin]=Raspored KWinovog menjača površi
Comment[sv]=Kwin-skrivbordsbyteslayout
Comment[ta]=கேவின்னின் பணிமேடை மாற்றிக்கான தளவமைப்பு
Comment[tr]=KWin Masaüstü Değiştirici Düzeni
Comment[uk]=Компонування засобу перемикання стільниць KWin
Comment[vi]=Bố cục trình chuyển bàn làm việc KWin
Comment[x-test]=xxKWin Desktop Switcher Layoutxx
Comment[zh_CN]=KWin 桌面切换器布局
Comment[zh_TW]=KWin 桌面切換器佈局

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-MainScript]
Type=QString

[PropertyDef::X-KWin-Exclude-Listing]
Type=bool
