[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_swiveltabs
X-KDE-PluginKeyword=swiveltabs

Name=Swivel Tabs
Name[ar]=ألسنة دوّارة
Name[ast]=Xirar llingüetes
Name[bs]=Jezičci sa okretanjem
Name[ca]=Pestanyes giratòries
Name[ca@valencia]=Pestanyes giratòries
Name[cs]=Otáčecí karty
Name[da]=Hvirvlende faneblade
Name[de]=Unterfenster drehen
Name[el]=Στρεφόμενες καρτέλες
Name[en_GB]=Swivel Tabs
Name[es]=Girar pestañas
Name[et]=Kaartide pöördumine
Name[eu]=Fitxa birakariak
Name[fi]=Pyöryvälilehdet
Name[fr]=Onglets pivotant
Name[fy]=Swivel ljeppers
Name[ga]=Cluaisíní Sclóine
Name[he]=לשוניות מסתובבות
Name[hi]=घूमते टैब
Name[hr]=Kartice koje se okreću oko osi
Name[hu]=Forgó lapok
Name[ia]=Schedas de cardine
Name[id]=Tab Putar
Name[is]=Snúa flipum
Name[it]=Fai girare le schede
Name[ja]=旋回タブ
Name[kk]=Қойындыларды бұрау
Name[km]=បង្វិល​ផ្ទាំង
Name[ko]=돌아가는 탭
Name[lt]=Sukti korteles
Name[lv]=Rotē cilnes
Name[ml]=കിളിവാതിലുകള്‍ ഒളഞ്ചട്ടെ
Name[nb]=Roter faner
Name[nds]=Paneels dreihen
Name[nl]=Draaiplateau-tabbladen
Name[nn]=Kvervla faner
Name[pa]=ਘੁੰਮਦੀਆਂ ਟੈਬਾਂ
Name[pl]=Obrót kart
Name[pt]=Barras Rotativas
Name[pt_BR]=Barras giratórias
Name[ro]=File rotitoare
Name[si]=බමර ටැබ
Name[sk]=Otáčanie kariet
Name[sl]=Obračajoči zavihki
Name[sr]=Језичци са окретањем
Name[sr@ijekavian]=Језичци са окретањем
Name[sr@ijekavianlatin]=Jezičci sa okretanjem
Name[sr@latin]=Jezičci sa okretanjem
Name[sv]=Låt flikar vända
Name[tg]=Замимаи Swivel
Name[th]=หมุนแท็บต่าง ๆ
Name[tr]=Sekmeleri Döndür
Name[ug]=بەتكۈچلەرنى ئايلاندۇر
Name[uk]=Вкладки на шарнірах
Name[x-test]=xxSwivel Tabsxx
Name[zh_CN]=转动分页
Name[zh_TW]=轉動分頁
