[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_swiveltabs
X-KDE-PluginKeyword=swiveltabs

Name=Swivel Tabs
Name[en_GB]=Swivel Tabs
Name[hr]=Kartice koje se okreću oko osi
Name[kk]=Қойындыларды бұрау
Name[nb]=Roter faner
Name[pt]=Barras Rotativas
Name[pt_BR]=Barras giratórias
Name[sv]=Låt flikar vända
Name[uk]=Вкладки на шарнірах
Name[x-test]=xxSwivel Tabsxx
Name[zh_TW]=轉動分頁
