[Desktop Entry]
Name=Quartz
Name[af]=QUARTZ
Name[az]=Kvars
Name[bg]=Кварц
Name[eo]=Kvarco
Name[es]=Cuarzo
Name[ko]=수정
Name[lv]=Kvarcs
Name[mt]=Kwartz
Name[pl]=Kwarc
Name[ru]=Кварц
Name[tr]=Kuartz
Name[uk]=Кварц
Name[zh_CN.GB2312]=水晶
X-KDE-Library=libkwinquartz
