[Desktop Entry]
Encoding=UTF-8
Name=Quartz
Name[az]=Kvars
Name[bg]=Кварц
Name[cy]=Cwarts
Name[eo]=Kvarco
Name[es]=Cuarzo
Name[eu]=Kristala
Name[fa]=کوارتز
Name[ko]=수정
Name[lo]=ແບບຄວອທ
Name[lv]=Kvarcs
Name[mt]=Kwartz
Name[pl]=Kwarc
Name[pt_BR]=Quartzo
Name[ro]=Cuarţ
Name[ru]=Кварц
Name[th]=แบบควอทซ์
Name[tr]=Kuartz
Name[uk]=Кварц
Name[ven]=Musuku
Name[xx]=xxQuartzxx
Name[zh_CN]=水晶
Name[zh_TW]=石英
X-KDE-Library=kwin3_quartz
