[Desktop Entry]
Name=System++
Name[br]=Reizhiad++
Name[ca]=Sistema++
Name[cs]=Systém++
Name[eo]=Sistemo++
Name[et]=Süsteem++
Name[fi]=Järjestelmä++
Name[fr]=Système++
Name[is]=Kerfi++
Name[it]=Sistema++
Name[ja]=システム++
Name[ko]=시스템++
Name[lt]=Sistema++
Name[lv]=Sistēma++
Name[mk]=Систем++
Name[nl]=Systeem++
Name[oc]=Sistemo++
Name[sl]=Sistem++
Name[tr]=Sistem++
Name[zh_TW.Big5]=系統++
X-KDE-Library=libkwinsystem
