[Desktop Entry]
Name=Glide
Name[ar]=الطيران
Name[ast]=Glide
Name[bg]=Приплъзване
Name[bs]=Uletanje
Name[ca]=Lliscament
Name[ca@valencia]=Lliscament
Name[cs]=Klouzání
Name[da]=Svæv
Name[de]=Gleiten
Name[el]=Ολίσθηση
Name[en_GB]=Glide
Name[es]=Glide
Name[et]=Liuglemine
Name[fi]=Glide-käyttöliittymä
Name[fr]=Glisser
Name[ga]=Sleamhnaigh
Name[he]=גלישה
Name[hi]=ग्लाइड
Name[hr]=Klizanje
Name[ia]=Glissa
Name[id]=Glide
Name[is]=Svífa
Name[it]=Plana
Name[ja]=グライド
Name[kk]=Сырғанау
Name[km]=សំកាំង
Name[kn]=ಜಾರು
Name[ko]=글라이드
Name[lt]=Sklendimas
Name[lv]=Slīdēt
Name[nb]=Skyv
Name[nds]=Glieden
Name[nl]=Schuiven
Name[nn]=Skliding
Name[pa]=ਗਲਾਈਡ
Name[pl]=Szybowanie
Name[pt]=Deslizar
Name[pt_BR]=Deslizar
Name[ro]=Alunecă
Name[ru]=Скольжение
Name[si]=ලිස්සන්න
Name[sk]=Kĺzať
Name[sl]=Drsenje
Name[sr]=Улетање
Name[sr@ijekavian]=Улетање
Name[sr@ijekavianlatin]=Uletanje
Name[sr@latin]=Uletanje
Name[sv]=Glid
Name[th]=ร่อนหน้าต่าง
Name[tr]=Kaydır
Name[ug]=سىيرىل
Name[uk]=Ковзання
Name[wa]=Ridaedje
Name[x-test]=xxGlidexx
Name[zh_CN]=滑行
Name[zh_TW]=滑動
Icon=preferences-system-windows-effect-sheet
Comment=Windows Glide Effect as they are open and closed
Comment[ar]=تأثير الطيران للنوافذ عند فتحها أو غلقها
Comment[ast]=Efeutos Glide cuando s'abren y zarren ventanes
Comment[bg]=Създава ефект на приплъзване при отваряне и затваряне на прозорците
Comment[bs]=Prozori ulijeću pri otvaranju i izlijeću pri zatvaranju
Comment[ca]=Provoca un efecte de lliscament quan s'obren i es tanquen
Comment[ca@valencia]=Provoca un efecte de lliscament quan s'obren i es tanquen
Comment[cs]=Efekt klouzání okna při jejich otevření a zavření
Comment[da]=Svæveeffekt til vinduer når de åbnes og lukkes
Comment[de]=Lässt Fenster beim Öffnen/Schließen gleiten.
Comment[el]=Εφέ ολίσθησης παραθύρων κατά το άνοιγμα και το κλείσιμο
Comment[en_GB]=Windows Glide Effect as they are open and closed
Comment[es]=Efectos Glide cuando se abren y cierran ventanas
Comment[et]=Akende liuglemise efekt nende avamisel ja sulgemisel
Comment[fi]=Windows Glide -tehokeino kuten niitä avataan ja suljetaan
Comment[fr]=Fait glisser les fenêtres lorsqu'elles sont ouvertes ou fermées
Comment[ga]=Maisíocht Sleamhnaithe agus fuinneoga á n-oscailt agus á ndúnadh
Comment[he]=אפקט גלישת חלונות בפתיחתם וסגירתם
Comment[hr]=Efekt kližućih prozora dok se otvaraju i zatvaraju
Comment[ia]=Effectos de glissar durante que illos es aperite e claudite
Comment[id]=Efek Glid Jendela ketika jendela dibuka dan ditutup
Comment[is]=Lætur glugga svífa þegar þeir eru opnaðir eða þeim er lokað
Comment[it]=Effetto di planata delle finestre quando vengono aperte e chiuse
Comment[ja]=ウィンドウを開いたり閉じるときにグライドさせます
Comment[kk]=Терезелерді сырғанатып ашу-жабу эффекті
Comment[km]=បែបផែន​សំកាំង​វីនដូ​ ព្រោះថា​ពួកវា​ត្រូ​វបាន​បើក និង​បិទ
Comment[kn]=ಕಿಟಕಿಗಳನ್ನು ಮುಚ್ಚಿದಾಗ ಹಾಗು ತೆರೆದಾಗ ಅವು ಜಾರುವಂತೆ ಮಾಡು
Comment[ko]=창이 열리고 닫힐 때 글라이드 효과를 사용합니다
Comment[lt]=Langų sklendimo efektas juos atidarant ir uždarant
Comment[lv]=Liek logiem slīdēt, kad tos atver vai aizver
Comment[nb]=Gjør at vinduer skyves når de åpnes og lukkes
Comment[nds]=Finstern bi't Op- oder Tomaken glieden laten
Comment[nl]=Laat vensters schuiven als ze worden geopend of gesloten
Comment[nn]=Windows-sklieffekt når dei vert opna og lukka
Comment[pa]=ਵਿੰਡੋਜ਼ ਗਲਾਇਡ ਪਰਭਾਵ, ਜਦੋਂ ਉਹ ਖੋਲ੍ਹੀਆਂ ਤੇ ਬੰਦ ਕੀਤੀਆਂ ਜਾਣ
Comment[pl]=Okna szybują, gdy są otwierane lub zamykane
Comment[pt]=Fazer as janelas deslizar ao serem abertas/fechadas
Comment[pt_BR]=Efeito que faz as janelas deslizarem ao serem abertas/fechadas
Comment[ro]=Efect de Alunecare a Ferestrelor la deschiderea și închiderea lor
Comment[ru]=Эффект скольжения при открытии и закрытии окон
Comment[si]=කවුළු අරින වසන විට කවුළු ලිස්සා යාමේ ප්‍රයෝගය
Comment[sk]=Efekt kĺzania okien pri otvorení alebo zatvorení
Comment[sl]=Ko se okna odprejo zaprejo, zdrsnejo
Comment[sr]=Прозори улећу при отварању и излећу при затварању
Comment[sr@ijekavian]=Прозори улећу при отварању и излећу при затварању
Comment[sr@ijekavianlatin]=Prozori uleću pri otvaranju i izleću pri zatvaranju
Comment[sr@latin]=Prozori uleću pri otvaranju i izleću pri zatvaranju
Comment[sv]=Glideffekt för fönster när de öppnas och stängs
Comment[th]=ลูกเล่นการร่อนหน้าต่างเมื่อหน้าต่างถูกเปิดและปิด
Comment[tr]=Açılırken ve kapatılırken pencere Kaydırma efekti
Comment[ug]=كۆزنەكنى ئېچىپ ياكى ياپقاندا سىيرىلىش ئۈنۈمىنى كۆرسىتىدۇ
Comment[uk]=Ефекти ковзання вікон під час відкриття та закриття
Comment[wa]=Efet d' ridaedje des fniesses cwand ele sont drovowes eyet cloyowes
Comment[x-test]=xxWindows Glide Effect as they are open and closedxx
Comment[zh_CN]=打开或关闭窗口时，使其呈现滑移效果
Comment[zh_TW]=視窗開啟或關閉時產生滑動的效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Alexandre Pereira
X-KDE-PluginInfo-Email=pereira.alex@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_glide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
