[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_glide
X-KDE-PluginKeyword=glide

Name=Glide
Name[ia]=Glissar
Name[id]=Glide
Name[is]=Svífa
Name[ja]=グライド
Name[kk]=Сырғанау
Name[km]=សំកាំង
Name[lt]=Sklendimas
Name[nb]=Skyv
Name[nds]=Glieden
Name[nl]=Schuiven
Name[pa]=ਗਲਾਈਡ
Name[pt]=Deslizar
Name[pt_BR]=Deslizar
Name[sv]=Glid
Name[uk]=Ковзання
Name[x-test]=xxGlidexx
Name[zh_CN]=滑行
Name[zh_TW]=滑動
