[Desktop Entry]
Name=Glide
Name[ia]=Glissar
Name[ja]=グライド
Name[km]=សំកាំង
Name[nl]=Schuiven
Name[pt]=Deslizar
Name[pt_BR]=Deslizar
Name[sv]=Glid
Name[uk]=Ковзання
Name[x-test]=xxGlidexx
Name[zh_TW]=滑動
Icon=preferences-system-windows-effect-sheet
Comment=Windows Glide Effect as they are open and closed
Comment[ia]=Effectos de Glissar durante que illos es aperite e claudite
Comment[ja]=ウィンドウを開いたり閉じるときにグライドさせます
Comment[km]=បែបផែន​សំកាំង​វីនដូ​ ព្រោះថា​ពួកវា​ត្រូ​វបាន​បើក និង​បិទ
Comment[nl]=Laat vensters schuiven als ze worden geopend of gesloten
Comment[pt]=Fazer as janelas deslizar ao serem abertas/fechadas
Comment[pt_BR]=Efeito que faz as janelas deslizarem ao serem abertas/fechadas
Comment[sv]=Glideffekt för fönster när de öppnas och stängs
Comment[uk]=Ефекти ковзання вікон під час відкриття та закриття
Comment[x-test]=xxWindows Glide Effect as they are open and closedxx
Comment[zh_TW]=視窗開啟或關閉時產生滑動的效果

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Alexandre Pereira
X-KDE-PluginInfo-Email=pereira.alex@gmail.com
X-KDE-PluginInfo-Name=kwin4_effect_glide
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=50
