[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_glide_config
X-KDE-ParentComponents=glide

Name=Glide
Name[nl]=Schuiven
Name[uk]=Плин
Name[x-test]=xxGlidexx
