[Desktop Entry]
Exec=kcmshell4 kwin-scripts
Icon=preferences-system-windows-actions
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin_scripts
X-KDE-PluginKeyword=kwin-scripts
X-KDE-ParentApp=kcontrol

X-KDE-Keywords=kwin script
X-KDE-Keywords[hu]=kwin szkript
X-KDE-Keywords[pt]=programa do kwin
X-KDE-Keywords[pt_BR]=Script do kwin
X-KDE-Keywords[uk]=скрипт,kwin
X-KDE-Keywords[x-test]=xxkwin scriptxx
X-KDE-System-Settings-Parent-Category=window-behaviour

Name=KWin Scripts
Name[hu]=KWin szkriptek
Name[pt]=Programas do KWin
Name[pt_BR]=Scripts do KWin
Name[uk]=Скрипти KWin
Name[x-test]=xxKWin Scriptsxx
Comment=Manage KWin scripts
Comment[hu]=KWin szkriptek kezelése
Comment[pt]=Gerir os programas do KWin
Comment[pt_BR]=Gerencia os scripts do KWin
Comment[uk]=Керування скриптами KWin
Comment[x-test]=xxManage KWin scriptsxx

Categories=KDE;X-KDE-settings-system;
