[Desktop Entry]
Name=Logout
Name[uk]=Вихід
Name[x-test]=xxLogoutxx
Icon=preferences-system-windows-effect-logout
Comment=Desaturate the desktop when displaying the logout dialog
Comment[uk]=Зменшення насиченості кольорів стільниці під час показу вікна виходу
Comment[x-test]=xxDesaturate the desktop when displaying the logout dialogxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Lubos Lunak, Lucas Murray
X-KDE-PluginInfo-Email=l.lunak@kde.org, lmurray@undefinedfire.com
X-KDE-PluginInfo-Name=kwin4_effect_logout
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
