[Desktop Entry]
Name=Dashboard
Name[ar]=لوحة الودجات
Name[be@latin]=Dashboard
Name[bg]=Табло
Name[bn]=ড্যাশবোর্ড
Name[bn_IN]=Dashboard
Name[ca]=Tauler
Name[ca@valencia]=Tauler
Name[cs]=Dashboard
Name[csb]=Panel
Name[da]=Instrumentbræt
Name[de]=Dashboard
Name[el]=Dashboard
Name[en_GB]=Dashboard
Name[eo]=Stirtablo
Name[es]=Tablero de mandos
Name[et]=Vidinavaade
Name[eu]=Dashboard
Name[fi]=Kojelauta
Name[fr]=Dashboard
Name[fy]=Dashboard
Name[ga]=Dashboard
Name[gl]=Dashboard
Name[gu]=ડેશબોર્ડ
Name[he]=Dashboard
Name[hi]=डैशबोर्ड
Name[hne]=डेशबोर्ड
Name[hr]=Nadzorna ploča
Name[hu]=Dashboard
Name[ia]=Dashboard
Name[id]=Dasbor
Name[is]=Dashboard
Name[it]=Dashboard
Name[ja]=ダッシュボード
Name[kk]=Аспаптар панелі
Name[km]=ផ្ទាំង​គ្រប់គ្រង
Name[kn]=ಯಂತ್ರೋಪಕರಣ ಪಟ್ಟಿ  (ಡಾಶ್ ಬೋರ್ಡ್)
Name[ko]=대시보드
Name[ku]=Panela Kontrolê
Name[lt]=Prietaisų skydelis
Name[lv]=Dashboard
Name[ml]=ഡാഷ്ബോര്‍ഡ്
Name[mr]=डॅशबोर्ड
Name[nb]=Dashboard
Name[nds]=Klockpaneel
Name[nl]=Dashboard
Name[nn]=Kontrollpult
Name[or]=ଡ୍ୟାସବୋର୍ଡ
Name[pa]=ਡੈਸ਼ਬੋਰਡ
Name[pl]=Tablica
Name[pt]=Dashboard
Name[pt_BR]=Painel
Name[ro]=Tablou de bord
Name[ru]=Приборная доска
Name[si]=පාලක පුරුව
Name[sk]=Dashboard
Name[sl]=Dashboard
Name[sr]=инструмент-табла
Name[sr@ijekavian]=инструмент-табла
Name[sr@ijekavianlatin]=instrument-tabla
Name[sr@latin]=instrument-tabla
Name[sv]=Instrumentpanel
Name[ta]= எக்ஸ்போர்டு
Name[te]=డాష్‌బోర్‍డ్
Name[tg]=Панели иловагиҳо
Name[th]=แดชบอร์ด
Name[tr]=Kontrol Paneli
Name[uk]=Панель приладів
Name[x-test]=xxDashboardxx
Name[zh_CN]=部件板
Name[zh_TW]=資訊看板
Icon=preferences-system-windows-effect-dashboard
Comment=Desaturate the desktop when displaying the Plasma dashboard
Comment[de]=Die Arbeitsfläche grau färben, wenn das Plasma-Dashboard angezeigt wird.
Comment[ia]=Il de-satura le scriptorio quando il monstra le dashboard de Plasma
Comment[nds]=De Sattheit vun de Schriefdischklören bi't Wiesen vun dat Plasma-Klockpaneel daalsetten
Comment[pt]=Reduzir a saturação do ecrã ao mostrar o painel do Plasma
Comment[pt_BR]=Reduz a saturação da área de trabalho ao mostrar o painel do Plasma
Comment[sr]=Посивљује површ при појави инструмент-табле Плазме
Comment[sr@ijekavian]=Посивљује површ при појави инструмент-табле Плазме
Comment[sr@ijekavianlatin]=Posivljuje površ pri pojavi instrument-table Plasme
Comment[sr@latin]=Posivljuje površ pri pojavi instrument-table Plasme
Comment[sv]=Försvaga skrivbordet när Plasmas instrumentpanel visas
Comment[uk]=Зменшення насиченості кольорів стільниці під час показу панелі приладів Плазми
Comment[x-test]=xxDesaturate the desktop when displaying the Plasma dashboardxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Andreas Demmer
X-KDE-PluginInfo-Email=ademmer@opensuse.org
X-KDE-PluginInfo-Name=kwin4_effect_dashboard
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=85
