[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_dashboard_config
X-KDE-ParentComponents=dashboard

Name=Dashboard
Name[nl]=Dashboard
Name[uk]=Панель приладів
Name[x-test]=xxDashboardxx
