[Desktop Entry]
Name=Dashboard
Name[uk]=Панель приладів
Name[x-test]=xxDashboardxx
Icon=preferences-system-windows-effect-dashboard
Comment=Desaturate the desktop when displaying the Plasma dashboard
Comment[uk]=Зменшення насиченості кольорів стільниці під час показу панелі приладів Плазми
Comment[x-test]=xxDesaturate the desktop when displaying the Plasma dashboardxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Andreas Demmer
X-KDE-PluginInfo-Email=ademmer@opensuse.org
X-KDE-PluginInfo-Name=kwin4_effect_dashboard
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KWin-Internal=true
