[Desktop Entry]
Name=Background contrast
Name[ca]=Contrast del fons
Name[ca@valencia]=Contrast del fons
Name[da]=Baggrundskontrast
Name[de]=Hintergrundkontrast
Name[el]=Αντίθεση φόντου
Name[es]=Contraste del fondo
Name[fi]=Taustan kontrasti
Name[hu]=Háttér kontraszt
Name[ia]=Contrasto de fundo
Name[ko]=배경 명암
Name[nb]=Bakgrunnskontrast
Name[nds]=Achtergrundkontrast
Name[nl]=Contrast in achtergrond
Name[pa]=ਬੈਕਗਰਾਊਂਡ ਕਨਟਰਾਸਟ
Name[pl]=Kontrast tła
Name[pt]=Contraste do fundo
Name[pt_BR]=Contraste do plano de fundo
Name[sk]=Kontrast pozadia
Name[sl]=Kontrast ozadja
Name[sr]=Контраст позадине
Name[sr@ijekavian]=Контраст позадине
Name[sr@ijekavianlatin]=Kontrast pozadine
Name[sr@latin]=Kontrast pozadine
Name[sv]=Bakgrundskontrast
Name[tr]=Arkaplan karşıtlığı
Name[uk]=Контрастність тла
Name[x-test]=xxBackground contrastxx
Name[zh_CN]=背景对比度
Name[zh_TW]=背景對比
Icon=preferences-system-windows-effect-contrast
Comment=Improve contrast and readability behind semi-transparent windows
Comment[ca]=Millora el contrast i la llegibilitat darrere de les finestres semitransparents
Comment[ca@valencia]=Millora el contrast i la llegibilitat darrere de les finestres semitransparents
Comment[cs]=Vylepšit kontrast a čitelnost za poloprůhlednými okny
Comment[da]=Forøg kontrast og læsbarhed bag halvgennemsigtige vinduer
Comment[de]=Erhöht den Kontrast und verbessert die Lesbarkeit hinter halbtransparenten Fenster.
Comment[el]=Βελτίωση της αντίθεσης και της αναγνωσιμότητας πίσω από ημιδιαφανή παράθυρα
Comment[es]=Mejora el contraste y la legibilidad de las ventanas semitransparentes
Comment[fi]=Parantaa puoliksi läpinäkyvien ikkunoiden taustan kontrastia ja luettavuutta
Comment[hu]=Megnöveli a kontrasztot és az olvashatóságot a félig áttetsző ablakok mögött
Comment[ia]=Meliora contrasto de fundo  e legibilitate detra fenestras semi-transparente
Comment[ko]=반투명 창 뒤편의 명암과 가독성을 개선함
Comment[nb]=Forbedre kontrast og leselighet bak delvis gjennomsiktige vinduer
Comment[nds]=Kontrast un Leesborkeit achter halfdörsichtig Finstern verbetern
Comment[nl]=Contrast en leesbaarheid verbeteren achter half-transparante vensters
Comment[pl]=Polepsz kontrast i czytelność za półprzezroczystymi oknami
Comment[pt]=Melhorar o contraste e a legibilidade atrás das janelas semi-transparentes
Comment[pt_BR]=Melhora o contraste e legibilidade por trás das janelas semitransparentes
Comment[sk]=Zlepšiť kontrast a čitateľnosť za polopriehľadnými oknami
Comment[sl]=Izboljša kontrast in berljivost za na pol prozornimi okni
Comment[sr]=Побољшава контраст и читљивост иза полупровидних прозора
Comment[sr@ijekavian]=Побољшава контраст и читљивост иза полупровидних прозора
Comment[sr@ijekavianlatin]=Poboljšava kontrast i čitljivost iza poluprovidnih prozora
Comment[sr@latin]=Poboljšava kontrast i čitljivost iza poluprovidnih prozora
Comment[sv]=Förbättra kontrast och läsbarhet bakom halvgenomskinliga fönster
Comment[tr]=Yarı şeffaf pencerelerin arkasındaki karşıtlık ve okunabilirliği iyileştir
Comment[uk]=Покращення контрастності та придатності до читання тексту під напівпрозорими вікнами
Comment[x-test]=xxImprove contrast and readability behind semi-transparent windowsxx
Comment[zh_CN]=提高半透明窗口背景的对比度和可读性
Comment[zh_TW]=加強半透明視窗背景的對比以增進可讀性

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_contrast
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KWin-Requires-OpenGL=true
X-KWin-Requires-Shaders=true
