[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_windowgeometry
X-KDE-PluginKeyword=windowgeometry

Name=WindowGeometry
Name[bg]=Геометрия на прозореца
Name[bs]=Geometrija prozora
Name[ca]=WindowGeometry
Name[ca@valencia]=WindowGeometry
Name[cs]=Geometrie okna
Name[da]=Vinduesgeometri
Name[de]=Fenstergeometrie
Name[el]=Γεωμετρία παραθύρου
Name[en_GB]=WindowGeometry
Name[es]=Geometría de la ventana
Name[et]=Akna geomeetria
Name[fi]=Ikkunan mitat
Name[fr]=Géométrie de la fenêtre
Name[he]=גדלי חלונות
Name[hi]=विंडोज्यामिति
Name[hr]=GeometrijaProzora
Name[hu]=Ablakgeometria
Name[ia]=WindowGeometry
Name[is]=GluggaLögun
Name[it]=Geometria delle finestre
Name[ja]=WindowGeometry
Name[kk]=Терезенің өлшемдері
Name[km]=WindowGeometry
Name[ko]=창 크기
Name[lt]=LangoGeometrija
Name[nb]=Vindusgeometri
Name[nds]=Finsterafmeten
Name[nl]=VensterGeometry
Name[pa]=ਵਿੰਡੋਜੁਮੈਟਰੀ
Name[pl]=Geometria okna
Name[pt]=Geometria da Janela
Name[pt_BR]=Geometria da Janela
Name[ro]=GeometrieFereastră
Name[ru]=Геометрия окна
Name[sk]=Geometria okna
Name[sl]=Geometrija okna
Name[sr]=Геометрија прозора
Name[sr@ijekavian]=Геометрија прозора
Name[sr@ijekavianlatin]=Geometrija prozora
Name[sr@latin]=Geometrija prozora
Name[sv]=Fönstergeometri
Name[th]=มิติขนาดของหน้าต่าง
Name[tr]=PencereGeometrisi
Name[ug]=WindowGeometry
Name[uk]=Розміри вікна
Name[wa]=Djeyometreye del finiesse
Name[x-test]=xxWindowGeometryxx
Name[zh_CN]=窗口形状
Name[zh_TW]=視窗位置
