[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_windowgeometry_config
X-KDE-ParentComponents=windowgeometry

Name=WindowGeometry
Name[uk]=Розміри вікна
Name[x-test]=xxWindowGeometryxx
