[Desktop Entry]
# Name of the effect
Name=WindowGeometry
Name[bg]=Геометрия на прозореца
Name[bs]=Geometrija prozora
Name[ca]=WindowGeometry
Name[ca@valencia]=WindowGeometry
Name[cs]=Geometrie okna
Name[da]=Vinduesgeometri
Name[de]=Fenstergeometrie
Name[el]=Γεωμετρία παραθύρου
Name[en_GB]=WindowGeometry
Name[es]=Geometría de la ventana
Name[et]=Akna geomeetria
Name[eu]=Leihoaren geometria
Name[fi]=Ikkunan mitat
Name[fr]=Géométrie de la fenêtre
Name[he]=גדלי חלונות
Name[hi]=विंडोज्यामिति
Name[hr]=GeometrijaProzora
Name[hu]=Ablakgeometria
Name[ia]=WindowGeometry
Name[is]=GluggaLögun
Name[it]=Geometria delle finestre
Name[ja]=WindowGeometry
Name[kk]=Терезенің өлшемдері
Name[km]=WindowGeometry
Name[ko]=창 크기
Name[lt]=LangoGeometrija
Name[nb]=Vindusgeometri
Name[nds]=Finsterafmeten
Name[nl]=VensterGeometry
Name[pa]=ਵਿੰਡੋਜੁਮੈਟਰੀ
Name[pl]=Geometria okna
Name[pt]=Geometria da Janela
Name[pt_BR]=Geometria da Janela
Name[ro]=GeometrieFereastră
Name[ru]=Геометрия окна
Name[sk]=Geometria okna
Name[sl]=Geometrija okna
Name[sr]=Геометрија прозора
Name[sr@ijekavian]=Геометрија прозора
Name[sr@ijekavianlatin]=Geometrija prozora
Name[sr@latin]=Geometrija prozora
Name[sv]=Fönstergeometri
Name[th]=มิติขนาดของหน้าต่าง
Name[tr]=PencereGeometrisi
Name[ug]=WindowGeometry
Name[uk]=Розміри вікна
Name[wa]=Djeyometreye del finiesse
Name[x-test]=xxWindowGeometryxx
Name[zh_CN]=窗口形状
Name[zh_TW]=視窗位置
Comment=Display window geometries on move/resize
Comment[bg]=Показване размерите на прозорците при местене и преоразмеряване
Comment[bs]=Prikaz geometrije prozora pri premještanju i preuveličavanju
Comment[ca]=Visualitza la geometria de les finestres en moure/redimensionar
Comment[ca@valencia]=Visualitza la geometria de les finestres en moure/redimensionar
Comment[cs]=Zobrazit geometrii okna při přesunu/změně velikosti
Comment[da]=Vis vinduesgeometrier ved flytning og ændring af størrelse
Comment[de]=Fenstergeometrie bei Verschieben/Größenänderung anzeigen
Comment[el]=Εμφανίζει την γεωμετρία του παραθύρου κατά την μετακίνηση/αλλαγή μεγέθους
Comment[en_GB]=Display window geometries on move/resize
Comment[es]=Muestra la geometría de la ventana al mover/redimensionar
Comment[et]=Akende geomeetria kuvamine liigutamisel või suuruse muutmisel
Comment[eu]=Bistaratu leiho geometriak mugitu edo neurri aldatzerakoan
Comment[fi]=Näytä ikkunan mitat, kun sitä liikutetaan tai sen kokoa muutetaan
Comment[fr]=Affiche la géométrie de la fenêtre pendant le déplacement ou le redimensionnement
Comment[he]=מציג גדלי החלון בהזזתו או בשינוי גודלו
Comment[hr]=Prikaži geometriju prozora pri micanju i mijenjanju veličine
Comment[hu]=Megjeleníti az ablakméretet mozgatás és átméretezés közben
Comment[ia]=Monstra geometrias de fenestra quando on move/redimensiona
Comment[is]=Birtir lögun glugga við færslu/stærðarbreytingu
Comment[it]=Mostra le geometrie delle finestre durante lo spostamento e il ridimensionamento
Comment[kk]=Терезені өзгерткенде өлшемін көрсету
Comment[km]=បង្ហាញ​ធរណីបង្អួច​នៅពេល​ផ្លាស់ទី/ផ្លាស់ប្ដូរ​ទំហំ
Comment[ko]=창을 이동하거나 크기를 조정할 때 창 크기 보이기
Comment[lt]=Rodyti lango turinį perkeliant ir keičiant dydį
Comment[nb]=Vis vindusmålene under flytting/størrelsesendring
Comment[nds]=Finsterafmeten bi't Verschuven oder Ännern vun de Finstergrött wiesen
Comment[nl]=Vensterafmetingen tonen bij verplaatsen/herschalen
Comment[pa]=ਹਿਲਾਉਣ/ਮੁੜ-ਆਕਾਰ ਕਰਨ ਉੱਤੇ ਵਿੰਡੋ ਜੁਮੈਟਰੀ ਵੇਖਾਓਹਿਲਾਉਣ/ਮੁੜ-ਆਕਾਰ ਕਰਨ ਉੱਤੇ ਵਿੰਡੋ ਜੁਮੈਂਟ
Comment[pl]=Wyświetlanie geometrii okna przy przesuwaniu/zmianie rozmiaru
Comment[pt]=Mostrar as dimensões da janela ao mover/dimensionar
Comment[pt_BR]=Mostra as dimensões da janela ao mover/redimensionar
Comment[ro]=Afișează geometria ferestrei la mutare / redimensionare
Comment[ru]=Показывает положение и размер окна при перемещении и изменении размера окна
Comment[sk]=Zobrazí geometriu okna pri jeho presune/zmene veľkosti
Comment[sl]=Ob premikanju ali spreminjanju velikosti okna prikaže geometrijo
Comment[sr]=Приказ геометрије прозора при премештању и преувеличавању
Comment[sr@ijekavian]=Приказ геометрије прозора при премијештању и преувеличавању
Comment[sr@ijekavianlatin]=Prikaz geometrije prozora pri premiještanju i preuveličavanju
Comment[sr@latin]=Prikaz geometrije prozora pri premeštanju i preuveličavanju
Comment[sv]=Visa fönstergeometri vid förflyttning och storleksändring
Comment[th]=แสดงมิติขนาดของหน้าต่างเมื่อมีการย้ายหรือปรับขนาดหน้าต่าง
Comment[tr]=Taşıma/yeniden boyutlandırmada pencere şekilllerini görüntüle
Comment[ug]=يۆتكەپ/چوڭلۇقىنى ئۆزگەرتكەندە كۆزنەك شەكىللىرىنى كۆرسەت
Comment[uk]=Показ розмірів вікон при пересуванні або зміні розмірів
Comment[wa]=Håyner les djeyometreyes des fniesse cwand on bodje/candje di grandeu
Comment[x-test]=xxDisplay window geometries on move/resizexx
Comment[zh_CN]=在移动/缩放时显示窗口大小
Comment[zh_TW]=移動/調整大小時顯示視窗位置
Icon=preferences-system-windows-effect-windowgeometry

# This is KWin effect
Type=Service
X-KDE-ServiceTypes=KWin/Effect
# Author and email of the author
X-KDE-PluginInfo-Author=Thomas Lübking
X-KDE-PluginInfo-Email=thomas.luebking@web.de
# Internal name of the effect
X-KDE-PluginInfo-Name=kwin4_effect_windowgeometry
# Category of the effect, for config dialog
X-KDE-PluginInfo-Category=Appearance
# Version and license
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
# If the effect depends on any other effect(s) to be active, then internal
#  names of those effects can be given here
X-KDE-PluginInfo-Depends=
# Whether this effect should be enabled by default
X-KDE-PluginInfo-EnabledByDefault=false
# The plugin (library) which contains the effect. One library may contain more effects.
X-KDE-Library=kwin4_effect_builtins
# The order in which this effect is loaded.  Lower numbers are loaded first.
X-KDE-Ordering=90
