[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KWin/Script

Comment=KWin Script
Comment[cs]=Skript KWinu
Comment[ia]=Script de kwin
Comment[nb]=KWin-skript
Comment[nl]=KWin-scripts
Comment[pt]=Programa do KWin
Comment[pt_BR]=Script do KWin
Comment[sv]=Kwin-skript
Comment[uk]=Скрипт KWin
Comment[x-test]=xxKWin Scriptxx
Comment[zh_TW]=KWin 文稿

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-MainScript]
Type=QString

[PropertyDef::X-KWin-Exclude-Listing]
Type=bool
