[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin_blur_config
X-KDE-ParentComponents=blur

Name=Blur
Name[uk]=Розмивання
Name[x-test]=xxBlurxx

