[Desktop Entry]
Name=Blur
Name[uk]=Розмивання
Name[x-test]=xxBlurxx
Icon=preferences-system-windows-effect-blur
Comment=Blurs the background behind semi-transparent windows
Comment[uk]=Розмивання тла напівпрозорих вікон
Comment[x-test]=xxBlurs the background behind semi-transparent windowsxx

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Fredrik Höglund
X-KDE-PluginInfo-Email=fredrik@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_blur
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KWin-Requires-OpenGL=true
X-KWin-Requires-Shaders=true
