[Desktop Entry]
Name=Blur
Name[af]=Blur
Name[ar]=غشاوة
Name[ast]=Desenfocar
Name[be]=Blur
Name[bg]=Замъгляване
Name[bn]=ব্লার
Name[bn_IN]=Blur (ব্লার)
Name[bs]=Zamućenje
Name[ca]=Difuminat
Name[ca@valencia]=Difuminat
Name[cs]=Rozostření
Name[csb]=Rozmazóné
Name[da]=Slør
Name[de]=Verwischen
Name[el]=Θόλωμα
Name[en_GB]=Blur
Name[eo]=Malklarigi
Name[es]=Desenfocar
Name[et]=Hägu
Name[eu]=Lausotu
Name[fa]=محو
Name[fi]=Sumennus
Name[fr]=Flou
Name[fy]=Ferfagje
Name[ga]=Blur
Name[gl]=Desenfocar
Name[gu]=ઝાંખું
Name[he]=טשטוש
Name[hi]=धुंधला करें
Name[hne]=धुंधला करव
Name[hr]=Mrlja
Name[hsb]=Młowojty
Name[hu]=Elmosódás
Name[ia]=Obscura (Blur)
Name[id]=Samar
Name[is]=Móða
Name[it]=Sfocatura
Name[ja]=ぼかし
Name[kk]=Бұлдыр
Name[km]=ព្រិល​
Name[kn]=ಮಾಸಲುಗೊಳಿಸು (ಬ್ಲರ್)
Name[ko]=흐리게
Name[ku]=Blur
Name[lt]=Suliejimas
Name[lv]=Aizmiglot
Name[mai]=धुंधला करू
Name[mk]=Заматување
Name[ml]=മങ്ങിയതാക്കുക
Name[mr]=पुसट
Name[nb]=Slør
Name[nds]=Verwischen
Name[ne]=धब्बा
Name[nl]=Vervagen
Name[nn]=Uklar
Name[pa]=ਧੁੰਦਲਾ
Name[pl]=Rozmycie
Name[pt]=BlueFish
Name[pt_BR]=Borrar
Name[ro]=Estompare
Name[ru]=Размытие
Name[se]=Seagas
Name[si]=අපැහැදිලි කිරීම
Name[sk]=Rozmazať
Name[sl]=Zameglitev
Name[sr]=Замућење
Name[sr@ijekavian]=Замућење
Name[sr@ijekavianlatin]=Zamućenje
Name[sr@latin]=Zamućenje
Name[sv]=Oskärpa
Name[ta]=மங்கலாக
Name[te]=బ్లర్
Name[tg]=Шуста
Name[th]=ทำให้ไม่ชัดเจน
Name[tr]=Bulanıklaştırma
Name[ug]=گۇڭگا
Name[uk]=Розмивання
Name[vi]=Nhoè
Name[wa]=Flou
Name[x-test]=xxBlurxx
Name[zh_CN]=模糊
Name[zh_TW]=模糊
Icon=preferences-system-windows-effect-blur
Comment=Blurs the background behind semi-transparent windows
Comment[ar]=يغشّي الخلفية التي خلف النوافذ شبه الشفافة.
Comment[ast]=Desenfoca'l fondu d'una ventana semi-tresparente
Comment[bg]=Замъгляване на фона на полупрозрачни прозорци
Comment[bs]=Zamućuje pozadinu iza poluprovidnih prozora
Comment[ca]=Difumina el fons de darrere de les finestres semitransparents
Comment[ca@valencia]=Difumina el fons de darrere de les finestres semitransparents
Comment[cs]=Rozostří pozadí poloprůhledných oken
Comment[csb]=Rozmazëje spòdla półprzezérnych òknów
Comment[da]=Slører baggrunden bag halvgennemsigtige vinduer
Comment[de]=Verwischt den Hintergrund halbtransparenter Fenster.
Comment[el]=Θόλωμα του φόντου πίσω από ημιδιαφανή παράθυρα
Comment[en_GB]=Blurs the background behind semi-transparent windows
Comment[eo]=Malklarigas la fonon de duon-travideblaj fenestroj
Comment[es]=Desenfoca el fondo de una ventana semi-transparente
Comment[et]=Poolläbipaistvate akende tausta hägustamine
Comment[eu]=Lausto atzekoaldea leiho erdigardenen atzean
Comment[fi]=Sumentaa puoliksi läpinäkyvien ikkunoiden taustan
Comment[fr]=Rend flou l'arrière-plan sous les fenêtres semi-transparentes
Comment[fy]=Ferfaget de eftergrûn fan healtrochsichtige finsters
Comment[ga]=Geamhaigh an cúlra taobh thiar d'fhuinneoga leath-thrédhearcacha
Comment[gl]=Desenfoca o fondo tras das xanelas semitransparentes
Comment[gu]=પાશ્વભાગને અર્ધ-પારદર્શક વિન્ડોઝમાં ઝાંખું કરે છે
Comment[he]=טשטוש הרקע שמאחורי חלונות שקופים למחצה
Comment[hi]=अर्ध-पारदर्शी विंडो के पीछे पृष्ठभूमि को धुंधला करता है
Comment[hne]=अल्पपारदर्सी विंडो के पिछोत अंगना ल धुंधला करथे 
Comment[hr]=Zamrlja pozadinu iza poluprozirnih prozora
Comment[hsb]=Stwori młowojty pozadk za połpřewidnymi woknami.
Comment[hu]=Elmosódottá teszi a félig áttetsző ablakok hátterét
Comment[ia]=Il obscura le fundo detra fenestras semi-transparente
Comment[id]=Samarkan latar belakang di belakang jendela semi-transparan
Comment[is]=Móðar bakgrunn aftan við hálfgegnsæa glugga
Comment[it]=Sfoca lo sfondo dietro le finestre semitrasparenti
Comment[ja]=半透明のウィンドウの背後をぼかします
Comment[kk]=Шала мөлдір терезелердің аясын бұлдырлатады
Comment[km]=ធ្វើ​ឲ្យ​ផ្ទៃ​ខាងក្រោយ​ព្រិលៗ​ខាង​ក្រោយ​បង្អួច​ថ្លា​ពាក់កណ្ដាល
Comment[kn]=ಅರೆ-ಪಾರದರ್ಶಕ ಕಿಟಕಿಗಳ ಹಿನ್ನೆಲೆಯನ್ನು ಮಾಸಲುಗೊಳಿಸುತ್ತದೆ
Comment[ko]=반투명 창의 뒷배경을 흐리게 합니다
Comment[lt]=Sulieja pusiau permatomų langų foną
Comment[lv]=Aizmiglo fonu aiz puscaurspīdīgiem logiem
Comment[mk]=Ја заматува подлогата зад полупроѕирни прозорци
Comment[ml]=പാതിസുതാര്യ ജാലകങ്ങളുടെ പിന്നാമ്പുറം മങ്ങിയതാക്കുന്നു. 
Comment[mr]=अर्ध-पारदर्शी चौकटची पार्श्वभूमी फुसट करतो
Comment[nb]=Slører bakgrunnen til delvis gjennomsiktige vinduer
Comment[nds]=Verwischt den Achtergrund achter halfdörsichtig Finstern
Comment[nl]=Vervaagt de achtergrond van halftransparante vensters
Comment[nn]=Gjer bakgrunnen til halvgjennomsiktige vindauge uklar
Comment[pa]=ਬਲੌਰੀ (ਅਰਧ-ਪਾਰਦਰਸ਼ੀ) (ਬਲਰ) ਵਿੰਡੋਜ਼ ਲਈ ਧੁੰਦਲੀ ਬੈਕਗਰਾਊਂਡ
Comment[pl]=Rozmywa tło za półprzezroczystymi oknami
Comment[pt]=Borra o fundo por trás das janelas semi-transparentes
Comment[pt_BR]=Borra o plano de fundo por trás das janelas semi-transparentes
Comment[ro]=Estompează fundalul în spatele ferestrelor semitransparente
Comment[ru]=Показывать размытый фон под полупрозрачным окном
Comment[si]=අර්ධ පාරදෘශ්‍ය කවුළු පසුපසින් පසුබිම අපැහැදිලි කරන්න
Comment[sk]=Rozmaže pozadie za polopriehľadnými oknami
Comment[sl]=Zamegli ozadje za na pol prozornmi okni
Comment[sr]=Замућује позадину иза полупровидних прозора
Comment[sr@ijekavian]=Замућује позадину иза полупровидних прозора
Comment[sr@ijekavianlatin]=Zamućuje pozadinu iza poluprovidnih prozora
Comment[sr@latin]=Zamućuje pozadinu iza poluprovidnih prozora
Comment[sv]=Gör bakgrunden bakom halvgenomskinliga fönster suddig
Comment[ta]=Blurs the background behind semi-transparent windows
Comment[th]=ทำให้พื้นหลังของหน้าต่างแบบกึ่งโปร่งใสดูไม่ชัดเจน
Comment[tr]=Yarı şeffaf pencerelerin arka planını bulanıklaştırır
Comment[ug]=گۇڭگا يېرىم سۈزۈك كۆزنەك تەگلىكى
Comment[uk]=Розмивання тла напівпрозорих вікон
Comment[vi]=Làm nhoè nền phía sau các cửa sổ trong suốt
Comment[wa]=Rind flou l' fond pa drî les finiesses dmeyes transparintes
Comment[x-test]=xxBlurs the background behind semi-transparent windowsxx
Comment[zh_CN]=模糊半透明窗口的背景
Comment[zh_TW]=將半透明視窗後的背景弄模糊

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Fredrik Höglund
X-KDE-PluginInfo-Email=fredrik@kde.org
X-KDE-PluginInfo-Name=kwin4_effect_blur
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=kwin4_effect_builtins
X-KDE-Ordering=75
X-KWin-Requires-OpenGL=true
X-KWin-Requires-Shaders=true
