[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_builtins
X-KDE-ParentComponents=kwin4_effect_login
X-KDE-PluginKeyword=login

Name=Login
Name[af]=Aanteken
Name[ar]=ولوج
Name[ast]=Accesu
Name[be]=Уваход
Name[be@latin]=Uvachod
Name[bg]=Вход
Name[bn]=লগ-ইন
Name[bn_IN]=লগ-ইন করুন
Name[bs]=Prijava
Name[ca]=Entrada
Name[ca@valencia]=Entrada
Name[cs]=Přihlášení
Name[csb]=Logòwanié
Name[da]=Login
Name[de]=Anmelden
Name[el]=Σύνδεση
Name[en_GB]=Login
Name[eo]=Ensaluto
Name[es]=Acceso
Name[et]=Sisselogimine
Name[eu]=Saio hasiera
Name[fi]=Sisäänkirjautuminen
Name[fr]=Connexion 
Name[fy]=Ynlogge
Name[ga]=Logáil Isteach
Name[gl]=Acceso
Name[gu]=પ્રવેશ
Name[he]=כניסה
Name[hi]=लॉगइन
Name[hne]=लागइन
Name[hr]=Prijava
Name[hsb]=Přizjewjenje
Name[hu]=Bejelentkezés
Name[ia]=Accesso de identification
Name[id]=Log Masuk
Name[is]=Innskráning
Name[it]=Accesso
Name[ja]=ログイン
Name[kk]=Кіру
Name[km]=ចូល
Name[kn]=ಪ್ರವೇಶಿಸು (ಲಾಗಿನ್)
Name[ko]=로그인
Name[ku]=Têketin
Name[lt]=Prisijungti
Name[lv]=Pieteikties
Name[mai]=लागिन
Name[mk]=Најавување
Name[ml]=അകത്തുകയറുക
Name[mr]=दाखलन
Name[nb]=Logg inn
Name[nds]=Anmellen
Name[ne]=लगइन गर्नुहोस्
Name[nl]=Aanmelden
Name[nn]=Innlogging
Name[oc]=Connexion
Name[or]=ଲଗଇନ
Name[pa]=ਲਾਗਇਨ
Name[pl]=Logowanie
Name[pt]=Arranque
Name[pt_BR]=Início de sessão
Name[ro]=Autentificare
Name[ru]=Вход в систему
Name[se]=Sisačáliheapmi
Name[si]=පිවිසුම
Name[sk]=Prihlásenie
Name[sl]=Prijava
Name[sr]=Пријава
Name[sr@ijekavian]=Пријава
Name[sr@ijekavianlatin]=Prijava
Name[sr@latin]=Prijava
Name[sv]=Inloggning
Name[ta]=நுழைக
Name[te]=లాగిన్
Name[tg]=Воридот
Name[th]=ลงบันทึกเข้าระบบ
Name[tr]=Giriş
Name[ug]=كىرىش
Name[uk]=Вхід
Name[uz]=Kirish
Name[uz@cyrillic]=Кириш
Name[wa]=Elodjaedje
Name[x-test]=xxLoginxx
Name[zh_CN]=登录
Name[zh_TW]=登入
